.droparea-board {
     position: relative;
     margin-left: 1%;
}
 .droparea-board-column {
     position: absolute;
     left: 0;
     right: 0;
     width: 90%;
     margin: 0 1.5%;
     /*background: #f0f0f0;*/
	 background: #e4e2e2;
     border-radius: 3px;
     z-index: 1;
	 border: 2px dashed #80808054;
}
 .droparea-board-column.muuri-item-releasing {
     z-index: 2;
}
 .droparea-board-column.muuri-item-dragging {
     z-index: 3;
     cursor: move;
}
 .droparea-board-column-header {
     position: relative;
     height: 50px;
     line-height: 50px;
     overflow: hidden;
     padding: 0 20px;
     text-align: center;
     background: #333;
     color: #fff;
     border-radius: 3px 3px 0 0;
}
 @media (max-width: 600px) {
     .droparea-board-column-header {
         text-indent: -1000px;
    }
}
 .droparea-board-column.todo .droparea-board-column-header {
     background: #32c1e3e8;
}
 .droparea-board-column.available-vendors .droparea-board-column-header {
     background: #f9944a;
}
 .droparea-board-column.done .droparea-board-column-header {
     background: #2ac06d;
}
/* This is the secret sauce, always use a wrapper for setting the "overflow: scroll/auto" */
 .droparea-board-column-content-wrapper {
     position: relative;
     /*max-height: 300px;*/
	 max-height: 500px;
     overflow-y: auto;
}
/* Never ever set "overflow: auto/scroll" to the muuri element, stuff will break */
 .droparea-board-column-content {
     position: relative;
     border: 10px solid transparent;
     min-height: 525px;
}
 .droparea-board-item {
     position: absolute;
     width: 100%;
     margin: 5px 0;
}
 .droparea-board-item.muuri-item-releasing {
     z-index: 9998;
}
 .droparea-board-item.muuri-item-dragging {
     z-index: 9999;
     cursor: move;
}
 .droparea-board-item.muuri-item-hidden {
     z-index: 0;
}
 .droparea-board-item-content {
     position: relative;
     padding: 20px;
     background: #fff;
     border-radius: 4px;
     font-size: 17px;
     cursor: pointer;
     -webkit-box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
     box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
}
 @media (max-width: 600px) {
     .droparea-board-item-content {
         text-align: center;
    }
     .droparea-board-item-content span {
         display: none;
    }
}

.available-vendors
{
	margin-top: 18px;
}