<script type="text/javascript">
    var load_chat_flag = 0;
    var msg_count = 0;
    $(document).ready(function () {
        $(".slide-toggle").click(function () {
            $(".box").animate({
                width: "toggle"
            });
        });
    });


</script>

<script>
    var prevcamp_id = 0;
    $(document).ready(function () {

        $(document).on("click", ".show_camp", function () {
            $(".first").hide();
            $(".notebook").show();
            prevcamp_id = '.show_camp' + prevcamp_id;
            $(prevcamp_id).removeClass("activetr");
            var camp_id = $(this).attr('camp_id');
            var camp_alloc_id = $(this).attr('camp_alloc_id');
            $("#chat_camp_alloc_id").val(camp_alloc_id);
            $('.get_asset').attr('camp_asset_id', camp_id);
            $('.get_scripts').attr('camp_script_id', camp_id)
            prevcamp_id = camp_id;
            var addclass = '.show_camp' + camp_id;
            $(addclass).addClass("activetr");
            token = getCookie('csrftoken');
            $.ajax({
                type: 'post',
                url: '/vendor-portal/ajax/get_exvendor_camp_data/',
                data: { 'id': camp_id, 'camp_alloc_id': camp_alloc_id, csrfmiddlewaretoken: token },
                success: function (data) {
                    // console.log(data)
                    $('#script_form').find($('[name="campaign"]')).val(data['camp_id']);
                    if(data['script_name'].trim().length != 0){
                        $('#script_form').after(`<span>${data['script_name']}</span>`);
                        $('#script_form').remove();
                    }
                    $('.camp_name').text(data['name']);
                    $('.campaign_name').text(data['name'])
                    if (data['cpl'] == -1) {
                        $('.camp_cpl').text(0);
                    } else {
                        $('.camp_cpl').text(data['cpl']);
                    }
                    if (data['volume'] == -1) {
                        $('.camp_volumn').text(0);
                    } else {
                        $('.camp_volumn').text(data['volume']);
                    }
                    (data['camp_io'] == null) ? $('.camp_io').text(0) : $('.camp_io').text(data['camp_io'])
                    $('.start_date').val('Start ' + data['start_date']);
                    $('.datepicker2').val('End ' + data['end_date']);
                    if (data['rfq'] == 1) {
                        $('.exp').show();
                        $('.expiry_date_val').text('Expiry ' + data['rfq_timer']);
                    }
                    else {
                        $('.exp').hide();
                    }
                    $('.camp_desc').val(data['desc']);
                    $('.specs_data').val(data.camp_id);
                    $('#camp_id').val(data.camp_id)
                    $('#chat_camp_id').val(data.camp_id);
                    $('#sender_id').val(data.sender_id)
                    $('#client_id').val(data.client_id)
                    $('#chat_attach_sender_id').val(data.client_id);
                    $('#file_filter').attr('data-campid', data.camp_id)

                    load_chat(data.camp_id)
                    append_vendors(data.camp_id)
                    get_media('all');
                    // show agreement data..Akshay G.
                    var agreement_div = $('#Aggrements_models').find('.modal-body');
                    var agreement_paths = data['agreement_paths'];
                    $(agreement_div).children().remove();
                    let agreements_count = 0;
                    if (data['client_agreements_data'] != []){
                        var i = 1;
                        var c = 'agr_'+i;
                        $(data['client_agreements_data']).each(function(){
                            var agreement_name;
                            var path;
                            $.each($(this)[0], function(name, path){
                                agreement_name = name;
                                agreement_path = path;
                            })
                            i += 1;
                            c = 'agr_'+i;
                            // vendor has uploaded agreement..Akshay G.
                            if (agreement_path == ''){
                                $(agreement_div).append(`
                                    <div class="ager" style="background:#77cbeab8;">
                                    <a href = "${agreement_paths[agreement_name]}" target = '_blank'><i title='view agreement' class="fas fa-eye view-more-icon"></i></a>
                                        <span class='lead dp'>${agreement_name}</span>
                                    </div>   
                                `)
                            }
                            // vendor hasn't uploaded agreement..Akshay G.
                            else{
                                agreements_count += 1;
                                $(agreement_div).append(`
                                    <div class="ager" style="background:#12775db8;" id='${agreement_name}' data-camp_alloc_id='${camp_alloc_id}' data-client_id='${data['client_id']}'>
                                        <span id="firstText" class='lead dp agreement_name'>${agreement_name}</span>
                                       
                                        <i class="far fa-save pull-right save_agreement sa_ve"  title="Save" aria-hidden="true"></i>
                                        <label for='${c}' class="pull-right Up_load">
                                            <a><i class="fa fa-cloud-upload" aria-hidden="true" style="color:#f1e7e7!important;" title="Upload"></i></a>
                                        </label>
                                        <input type="file" id='${c}' class="agreement_file pull hidden" accept='.pdf'>
                                        <a href="${agreement_path}" download class="pull-right Down_load" title="Download">
                                            <span class="fa fa-cloud-download" style="font-size: 20px;color: #f1e7e7;"></span>
                                        </a>
                                    </div>     
                                `)
                            }
                        })
                    }
                    if (agreements_count != 0){
                        $(agreement_div).prepend(`<span>Note : Uploaded Agreements must be saved.</span>`)
                    }
                },
                failure: function (error) {
                    alert("fail");
                }
            });
        });

        $(document).on('click', ".specs_data", function () {
            var camp_id = $(this).val();
            token = getCookie('csrftoken');
            $.ajax({
                type: 'post',
                url: '/client/ajax/get_camp_specs/',
                data: { 'id': camp_id, csrfmiddlewaretoken: token },
                success: function (data) {
                    console.log(data);

                    // append to modal
                    $("#modal_large").find(".modal-content").html(data);
                },
                failure: function (error) {
                    alert("fail");
                }
            });


        });
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    });

    // JS is used for chat window footers.
    $('.back_to_2').click(function () {
        $(".chat").hide();
        $(".small-footer").show();
    })
     $(document).ready(function () {
        $("#hide").click(function () {
            $(".chat").hide();
        });
        $(".chat_show").click(function () {
            $(".chat").show();
            $(".small-footer").hide();
            $('.chat_box').animate({ scrollTop: $('.chat_box').prop("scrollHeight") }, 500);
            $('#message').focus()
        });
       
    });
    //following code is use for fetch the assets data kishor


    $(".get_asset").click(function () {
        var camp_id = $(this).attr('camp_asset_id');
        $("#campid").val(camp_id);
        token = getCookie('csrftoken');
        $.ajax({
            type: 'post',
            url: '/client/ajax/get_asset_specs/',
            data: { 'id': camp_id, csrfmiddlewaretoken: token },
            success: function (data) {
                // $('.campaign_name').text(data.name)
                if (data.assets_name != 'None') {
                    $('#assets_name').val(data.assets_name)
                }
                if (data.sponsers != 'None') {
                    $('#sponsers').val(data.sponsers)
                }
                if (data.asset_distributor != 'None') {
                    $('#asset_distributor').val(data.asset_distributor)
                }
                if (data.add_assetslink != 'None') {
                    $('#add_assetslink').val(data.add_assetslink)
                }

                $('#assets_holder').empty();

                arr = data.assets.trim().split(',');
                link_dict = data.assets_type
                if (arr != 'None') {
                    for (i = 0; i < arr.length; i++) {
                        if (link_dict != 'None') {
                            if (arr[i] in link_dict) {
                                display_files_link(arr[i], link_dict)
                            }
                        } else {
                            $('#assets_holder').html(`No assests found`)
                        }
                    }
                    $('#asset_modal').find('.modal-dialog').css('width', '89%')
                    $('#asset_modal').find('.modal-dialog').css('margin-left', 'auto')
                }
                else {
                    $('#assets_holder').append(`No assests found`)
                    $('#asset_modal').find('.modal-dialog').css('width', '65%')
                    $('#asset_modal').find('.modal-dialog').css('margin-left', '20%')
                }

            },
            failure: function (error) {
                alert("fail");
            }
        });
    });

    // function display_files_link(asset, asset_dict) {
    //     if (asset_dict[asset].link != undefined && asset_dict[asset].url != undefined) {
    //         $('#assets_holder').append(`
    //             <div class="row">
    //                 <div class="col-sm-2">
    //                     <label class="txt_asset label1" name="txt_asset">${asset}</label>
    //                 </div>
    //                 <div class="col-sm-4 file-field">
    //                         <a href="${asset_dict[asset].url}" class="btn btn-primary file_btn" download>
    //                         ${asset_dict[asset].filename}
    //                     </a>
    //                 </div>
    //                 <div class="col-sm-1">
    //                     <label class="label1">Link :</label>
    //                 </div>
    //                 <div class="col-sm-4">
    //                     <a href="${asset_dict[asset].link}" class="btn btn-primary file_btn" target="_blank">${asset_dict[asset].link}</a>
    //                 </div>
    //             </div>
    //         `)
    //     }
    //     else if (asset_dict[asset].link) {
    //         $('#assets_holder').append(`
    //             <div class="row">
    //                 <div class="col-sm-2">
    //                     <label class="txt_asset label1" name="txt_asset">${asset}</label>
    //                 </div>
    //                 <div class="col-sm-4 file-field">
    //                     <div class="btn btn-primary btn-sm file_btn float-left">
    //                         <span>No File Uploaded</span>
    //                     </div>
    //                 </div>
    //                 <div class="col-sm-1">
    //                     <label class="label1">Link :</label>
    //                 </div>
    //                 <div class="col-sm-4">
    //                     <a href="${asset_dict[asset].link}" class="btn btn-primary file_btn" target="_blank">${asset_dict[asset].link}</a>
    //                 </div>
    //             </div>
    //         `)
    //     }
    //     else if (asset_dict[asset].url) {
    //         $('#assets_holder').append(`
    //             <div class="row">
    //                 <div class="col-sm-2">
    //                     <label class="txt_asset label1" name="txt_asset">${asset}</label>
    //                 </div>
    //                 <div class="col-sm-4 file-field">
    //                     <a href="${asset_dict[asset].url}" class="btn btn-primary file_btn" download>
    //                         ${asset_dict[asset].filename}
    //                     </a>
    //                 </div>
    //                 <div class="col-sm-1">
    //                     <label class="label1">Link :</label>
    //                 </div>
    //                 <div class="col-sm-4">
    //                         <div class="btn btn-primary btn-sm file_btn float-left">
    //                         <span>No Link Uploaded</span>
    //                     </div>
    //                 </div>
    //             </div>
    //         `)
    //     }
    // }
    // //

    function display_files_link(asset, asset_dict) {
        if (asset_dict[asset].link != undefined && asset_dict[asset].files != undefined) {
            $('#assets_holder').append(`
                <div class="row">
                    <div class="col-sm-2">
                        <label class="txt_asset label1" name="txt_asset">${asset}</label>
                    </div>
                    <div class="col-sm-4 ">
                        <div class="file-field file_div${asset}">
                            ${print_files(asset_dict[asset].files, `file_div${asset}`, asset)}
                        </a>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <label class="label1">Link</label>
                    </div>
                    <div class="col-sm-4 ">
                        <div class="link_div${asset}">
                        ${print_links(asset_dict[asset].link, `link_div${asset}`, asset)}
                        </div>
                    </div>
                </div>
            `)
        }
        else if (asset_dict[asset].link) {
            $('#assets_holder').append(`
                <div class="row">
                    <div class="col-sm-2">
                        <label class="txt_asset label1" name="txt_asset">${asset}</label>
                    </div>
                    <div class="col-sm-4 ">
                        <div class="file-field file_div${asset}">
                            <div class="btn btn-primary btn-sm file_btn float-left">
                             <span>No File Uploaded</span>
                         </div>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <label class="label1">Link</label>
                    </div>
                    <div class="col-sm-4">
                        <div class="link_div${asset}">
                            ${print_links(asset_dict[asset].link, `link_div${asset}`, asset)}
                        </div>
                    </div>
                </div>
            `)
        }
        else if (asset_dict[asset].files) {
            $('#assets_holder').append(`
                <div class="row">
                    <div class="col-sm-2">
                        <label class="txt_asset label1" name="txt_asset">${asset}</label>
                    </div>
                    <div class="col-sm-4 file-field">
                        <div class="file-field file_div${asset}">
                            ${print_files(asset_dict[asset].files, `file_div${asset}`, asset)}
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <label class="label1">Link</label>
                    </div>
                    <div class="col-sm-4">
                        <div class="btn btn-primary btn-sm file_btn float-left">
                         <span>No Link Uploaded</span>
                     </div>
                    </div>
                </div>
            `)
        }
    }

    function print_links(links, container, asset) {
        if (links.length == 1) {
            return `<a href="${links[0]}" class="btn btn-primary file_btn" target="_blank">${links[0]}</a>`
        } else {
            $div_ = $(`<div />`)
            links.forEach(function (link) {
                $div_.append(`<a href="${link}" class="btn btn-primary file_btn" target="_blank">${link}</a>`)
            })
            return $div_.html()
        }

    }

    function print_files(files, container, asset) {
        if (files.length == 1) {
            return `<a href="${files[0].url}" title="${files[0].filename}" class="btn btn-primary file_btn" download>
                    ${files[0].filename}</a>`
        } else {
            $div_ = $(`<div />`)
            files.forEach(function (file) {
                $div_.append(`<a href="${file.url}" title="${file.filename}" class="btn btn-primary file_btn" download>
                    ${file.filename}</a>`)
            })
            return $div_.html()
        }
    }
</script>


<script>
    function myFunction() {
        $(".first").hide();
        $(".notebook").show();
        $("body").css("overflow", "hidden");
    }
    function myFunctionClose() {
        $(".first").show();
        $(".notebook").hide();
    }
    function myFunction1() {
        $(".chat").hide();
        $(".chat1").show();
    }
    function myFunction2() {
        $(".chat1").hide();
        $(".chat").show();
    }
    $('.back_to_2').click(function () {
        $(".chat").hide();
    })
    // $('#message').focus(function(){
    //     $('#chat_box').removeClass('hidden')
    // })

    // appending vendor list
    function append_vendors(camp_id) {

        token = getCookie('csrftoken');
        $.ajax({
            url: "/client/get-vendor-list/",
            type: "POST",
            data: { 'camp_id': camp_id, 'csrfmiddlewaretoken': token },
            success: function (data) {
                console.log(data)
                $('.assigend_vendors').empty()
                $('.vendor_count').empty()
                var userid = "{{request.session.userid}}"
                if (data.length) {
                    $list = $('<ul />');
                    if (data.length == 1) {
                        $('.vendor_count').append(data[0].vendor_name)
                        // $('.vendor_count').hide()
                    }
                    else {
                        $('.vendor_count').show()
                        data.forEach(function (vendor) {
                            if (vendor.id == userid) {
                                $('.assigend_vendors').append(vendor.vendor_name)
                                $('.vendor_count').append(vendor.vendor_name)
                            }
                        })

                        $('.vendor_count').append(` + ${data.length - 1} More`)
                    }
                } else {
                    // $('#vendor_list').empty()
                    $('.vendor_count').empty()
                    $('.vendor_count').append('No Vendors connections')
                    $('.assigend_vendors').append('No Vendors')
                }

            }

        });
    }
    function send_received_msg_count(chat_obj_id, sender_id) {
        token = getCookie('csrftoken');
        $.ajax({
            url: "/client/save_chat_status/",
            type: "POST",
            data: { 'chat_obj_id': chat_obj_id, 'sender_id': sender_id, 'csrfmiddlewaretoken': token },
            success: function (data) {

            }
        })
    }
    // convert UTC date-time into local date-time according to user location...Akshay G..Date- 21th Nov, 2019
    function convertTimeDefault(data) {
        var datestring = data['date'] + " " + data['time'] + " UTC";
        var date = new Date(datestring);
        localtime = date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
        return localtime
    }
    //
    function load_chat(new_camp_id) {
        var camp_id = new_camp_id
        var sender_id = $('#sender_id').val();

        token = getCookie('csrftoken');
        $.ajax({
            url: "/vendor/get-campaign-chat/",
            type: "POST",
            data: { 'camp_id': camp_id, 'csrfmiddlewaretoken': token },
            success: function (data) {
                var chat_data = "";
                msg_count = data.length;
                if (msg_count == undefined || msg_count == 0) {
                    $('.chat_box').html(`<label class="empty">No Chat Records Found..!!</label>`)
                    msg_count = 0
                }

                for (var i = 0; i < data.length; i++) {
                    let time = convertTimeDefault(data[i]);
                    if (sender_id != data[i].sender_id) {
                        if (data[i].message != '0') {
                            chat_data += `<li class="media"><div class="media-left chat-left">
                                            <a href=" ${data[i].profilepic} ">
                                            <img src=" ${data[i].profilepic} " class="img-circle img-md" title="${data[i].sender_name}" alt=""></a></div>
                                            <div class="media-body"><div class="media-content bg-slate">${data[i].message}</div>
                                            <span class="media-annotation display-block mt-10">${time}</span></div></li>`;
                        } else {
                            chat_data += `<li class="media"><div class="media-left chat-left"><a href=" ${data[i].profilepic} ">
                                            <img src=" ${data[i].profilepic} " class="img-circle img-md"  title="${data[i].sender_name}" alt=""></a></div>
                                            <div class="media-body"><div class="media-content download_box bg-slate"><a href="${data[i].media}" download><img src="/static/assets/images/download.png" width="150" height="125" alt="">
                                            <br><div class="img_txt">${data[i].title}</div> </a></div>
                                            <span class="media-annotation display-block mt-10">${time}</span></div></li>`;
                        }
                        send_received_msg_count(data[i].chat_obj_id, data[i].sender_id);
                    }
                    else {
                        if (data[i].message != '0') {
                            chat_data += `<li class="media reversed">
                                            <div class="media-body">
                                            <div class="media-content">${data[i].message}</div>
                                            <span class="media-annotation display-block mt-10">${time} </span></div>
                                            <div class="media-right"><a href=" ${data[i].profilepic} ">
                                            <img src=" ${data[i].profilepic} " class="img-circle img-md" title="${data[i].sender_name}" alt=""></a>
                                            </div></li>`;
                        } else {
                            chat_data += `<li class="media reversed"><div class="media-body"><div class="media-content download_box bg-slate right">
                                            <a href="${data[i].media}" download><img src="/static/assets/images/download.png" width="150" height="125" alt="">
                                            <br><div class="img_txt">${data[i].title}</div></a><br></div><span class="media-annotation display-block mt-10">${time}</span></div>
                                            <div class="media-right"><a href=" ${data[i].profilepic} ">
                                            <img src=" ${data[i].profilepic} " class="img-circle img-md" title="${data[i].sender_name}" alt=""></a></div></li>`;
                        }
                    }
                    $('.chat_box').animate({ scrollTop: $('.chat-list-page').prop("scrollHeight") }, 0);
                    $('.chat_box').html(chat_data);
                    $('#chat_camp_id').val(camp_id);

                }
                // alert('in load chat'+msg_count)
            }
        });
    }
    //send attachment js
    $('#chat_attach_form').submit(function (e) {
        e.preventDefault()
        token = getCookie('csrftoken');
        var formData = new FormData($('#chat_attach_form')[0])
        var file_title = $('#file_title').val();
        if ((jQuery.trim(file_title)).length == 0) {
            swal("Oops!", "Please enter file title!", "error")
        }
        else if ((jQuery.trim(file_title)).length <= 30) {
            $('#load').empty();
            $('#load').append("<i class='fa fa-spinner fa-spin '></i> Processing");
            $("#load").attr("disabled", true);
            $.ajax({
                url: "/vendor/ajax/send_attchment/",
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.status == 1) {
                        swal("Attachment sent!", "", "success")
                    } else {
                        swal("Oops!", data.msg, "error")
                    }
                    $('#chat_file_name').text('Browse');
                    $('#chat_attach_form')[0].reset();
                    $('#chat_attach_modal .close').click();
                    $('#load').empty();
                    $('#load').append("SEND");
                    $("#load").attr("disabled", false);
                    $('#remove_chat_file').hide();
                }
            })
        } else {
            swal("Oops!", "Please enter file title less than 30 characters!", "error")
        }
    });
</script>
<!--this script use to Date Pick-->
<script>
    $('#campaign_notebook_table').DataTable({
        "ordering": false,
        "scrollX": false,
        "searching": true,
        "columnDefs": [
            { "width": "1%", "targets": 0 },
            { "width": "19%", "targets": 1 },
            { "width": "55%", "targets": 2 },
            { "width": "25%", "targets": 3 },
        ]
    });
    $('#vendor_pending_campaign_table').DataTable({
        "ordering": false,
        "scrollX": false,
        "searching": true,
        "columnDefs": [
            { "width": "1%", "targets": 0 },
            { "width": "19%", "targets": 1 },
            { "width": "55%", "targets": 2 },
            { "width": "25%", "targets": 3 },

        ]
    });
    $('#side_tabel_campaign_notebook').DataTable({
        "ordering": false,
        "scrollX": false,
        "searching": true,
    });
</script>
<!-- script modal -->
<script>
    // add css for datatable search filter & 'show entries'..Akshay G.
    $(function () {
        $('.dataTables_length').css('float', 'right');
        $('.dataTables_filter').css('float', 'left');
    })
    // To open current page of datatable after clicking on campaign ..Akshay G.
    $(document).on('click', '#vendor_pending_campaign_table', function () {
        var page = $(this).DataTable().page.info().page;
        $('#side_tabel_campaign_notebook').siblings().find('.paginate_button').each(function () {
            if ($(this).html() == page + 1) {
                $(this).trigger('click');
            }
        })
    })

    // show uploaded script file name on upload button..Akshay G.
    $('.file-script-field input:file').on('change', function(){
        if ($(this).val() != ''){
            if ($(this).val().split('\\').pop().slice('-4') != '.pdf'){
                $(this)[0].value = "";
                $(this).siblings('div#script_ids').text("Browse")
                $('#remove_script_file').hide();
                swal("Unsupported file format!", "Please upload only .pdf file", "warning");
            }else if ($(this)[0].files[0].size > 5242880) {
                $(this)[0].value = "";
                $(this).siblings('div#script_ids').text("Browse")
                $('#remove_script_file').hide();
                swal("Oops!", "File is too big ! Max Size 5MB.", "error")
            } else {
                $('#remove_script_file').show();
                $('.file-script-field div#script_ids').text($(this).val().replace(/C:\\fakepath\\/i, ''))
            };
        } else {
            $('#remove_script_file').hide();
            $('.file-script-field div#script_ids').text("Browse")
        }
    })
    //attch file model box
    $('.file-field input:file').on('change', function (e) {
        // console.log(this)
        // $('.file-field div#chat_file_name').text($(this).val().replace(/C:\\fakepath\\/i, ''))
        if ($(this)[0].files[0].size > 5242880) {
            // alert("File is too big ! Max Size 5MB.");
            swal("Oops!", "File is too big ! Max Size 5MB.", "error")
            $(this)[0].value = "";
            // console.log($(this)[0].value,$(this)[0].files)
            $(this).siblings('span').text("Browse")
            $('#remove_chat_file').hide();
        } else {
            $('.file-field div#chat_file_name').text($(this).val().replace(/C:\\fakepath\\/i, ''))
            $('#remove_chat_file').show();
        };
    })

    $('#script_form').submit(function (e) {
        e.preventDefault()
        if ($(this).find('input[type = "file"]').val() == ''){
            swal("File not selected !", "Please select a script file to upload.", "warning");
            return;
        }
        token = getCookie('csrftoken');
        var formData = new FormData($('#script_form')[0]);
        formData.append('csrfmiddlewaretoken', token);
        $('#submit_script').empty();
        $('#submit_script').attr('disabled',true)
        $('#submit_script').append("<i class='fa fa-spinner fa-spin '></i> Processing");
        $.ajax({
            url: "/client/vendor-script-submit/",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                if (data['status'] == 1) {
                    $('#submit_script').empty();
                    $('#submit_script').attr('disabled',false)
                    $('#submit_script').append("Submit");
                    $('#script_ids').text('Browse');
                    $('#script_form')[0].reset();
                    $('#remove_script_file').hide();
                    $('#scripts_modal').find('.close').click()
                    swal("Script Uploaded!", "", "success");
                }
                else if(data['status'] == 3){
                    swal("unsupported file format!", "Please upload only .pdf file", "warning");
                }
                else {
                    swal({
                        title: "Internal server error!",
                        text: "Please report this issue to techconnectr technical team.",
                        icon: "error",
                    }).
                    then(function(){
                        $('#scripts_modal').find('.close').click()
                    })
                }
            }
        })
    })

    $('#file_filter').change(function () {
        get_media($(this).val())
    })

    function get_media(value) {
        camp_id = parseInt($('#file_filter').attr('data-campid'))
        console.log(camp_id)
        token = getCookie('csrftoken');
        $.ajax({
            type: 'post',
            url: '/client/get_media/',
            data: { csrfmiddlewaretoken: token, 'camp_id': camp_id, 'value': value },
            success: function (data) {
                chat_data = data.chat_data
                console.log(value, chat_data.length)
                $('#media_data_div').empty()

                if (chat_data != []) {
                    chat_data.forEach(function (file) {
                        if (value == 'all') {
                            for (var key in file) {
                                if (file[key] != "") {
                                    if (key != 'link' && key != 'doc') {
                                        if ($('#media_data_div').is(':empty')) {
                                            $('#media_data_div').html(`
                                                <img class="col-md-6 filter-img" src="${file[key]}" height='155px'></img>
                                            `)
                                        } else {
                                            $('#media_data_div').append(`
                                                <img class="col-md-6 filter-img" src="${file[key]}" height='155px'></img>
                                            `)
                                        }
                                    } else if (key == 'doc') {
                                        if (!file[key].includes('.csv') && !file[key].includes('.docx') && !file[key].includes('.xlsx') && !file[key].includes('.xls') && !file[key].includes('.doc')) {
                                            if ($('#media_data_div').is(':empty')) {
                                                $('#media_data_div').html(`
                                                    <iframe class="col-md-6 filter-img" src="${file[key]}" height='155px'></iframe>
                                                `)
                                            } else {
                                                $('#media_data_div').append(`
                                                    <iframe class="col-md-6 filter-img" src="${file[key]}" height='155px'></iframe>
                                                `)
                                            }
                                        } else {
                                            if (file[key].split('.').pop(-1) == 'docx' || file[key].split('.').pop(-1) == 'doc'){
                                                fileicon = `<i title="${file[key].split('/').pop(-1)}" class="fa fa-file-word-o boot_icon"></i>`
                                            } else if (file[key].split('.').pop(-1) == 'xlsx' || file[key].split('.').pop(-1) == 'xls'){
                                                fileicon = `<i title="${file[key].split('/').pop(-1)}" class="fa fa-file-excel-o boot_icon"></i>`
                                            } else{
                                                fileicon = `<i title="${file[key].split('/').pop(-1)}" class="fas fa-file-csv boot_icon"></i>`
                                            }
                                            if ($('#media_data_div').is(':empty')) {
                                                $('#media_data_div').html(`
                                                    <a class="col-md-6 filter-img" href="${file[key]}" download height='155px'><div class="filter-file-format">${fileicon}</div></a>
                                                `)
                                            } else {
                                                $('#media_data_div').append(`
                                                    <a class="col-md-6 filter-img" href="${file[key]}" download height='155px'><div class="filter-file-format">${fileicon}</div></a>
                                                `)
                                            }
                                        }
                                    } else if (key == 'link') {
                                        if ($('#media_data_div').is(':empty')) {
                                            $('#media_data_div').html(`
                                                <div class="col-md-12 filter-text" >${file[key]}</div>
                                            `)
                                        } else {
                                            $('#media_data_div').append(`
                                                <div class="col-md-12 filter-text" >${file[key]}</div>
                                            `)
                                        }
                                    }
                                }
                            }
                        }
                        else {
                            for (var key in file) {
                                if (file[key] != "") {
                                    if (key != 'link' && key != 'doc') {
                                        if ($('#media_data_div').is(':empty')) {
                                            $('#media_data_div').html(`
                                                <img class="col-md-6 filter-img" src="${file[key]}" height='155px'></img>
                                            `)
                                        } else {
                                            $('#media_data_div').append(`
                                                <img class="col-md-6 filter-img" src="${file[key]}" height='155px'></img>
                                            `)
                                        }
                                    } else if (key == 'doc') {
                                        if (!file[key].includes('.csv') && !file[key].includes('.docx') && !file[key].includes('.xlsx') && !file[key].includes('.xls') && !file[key].includes('.doc')) {
                                            if ($('#media_data_div').is(':empty')) {
                                                $('#media_data_div').html(`
                                                    <iframe class="col-md-6 filter-img" src="${file[key]}" height='155px'></iframe>
                                                `)
                                            } else {
                                                $('#media_data_div').append(`
                                                    <iframe class="col-md-6 filter-img" src="${file[key]}" height='155px'></iframe>
                                                `)
                                            }
                                        } else {
                                            if (file[key].split('.').pop(-1) == 'docx' || file[key].split('.').pop(-1) == 'doc'){
                                                fileicon = `<i title="${file[key].split('/').pop(-1)}" class="fa fa-file-word-o boot_icon"></i>`
                                            } else if (file[key].split('.').pop(-1) == 'xlsx' || file[key].split('.').pop(-1) == 'xls'){
                                                fileicon = `<i title="${file[key].split('/').pop(-1)}" class="fa fa-file-excel-o boot_icon"></i>`
                                            } else{
                                                fileicon = `<i title="${file[key].split('/').pop(-1)}" class="fas fa-file-csv boot_icon"></i>`
                                            }
                                            if ($('#media_data_div').is(':empty')) {
                                                $('#media_data_div').html(`
                                                    <a class="col-md-6 filter-img" href="${file[key]}" download height='155px'><div class="filter-file-format">${fileicon}</div></a>
                                                `)
                                            } else {
                                                $('#media_data_div').append(`
                                                    <a class="col-md-6 filter-img" href="${file[key]}" download height='155px'><div class="filter-file-format">${fileicon}</div></a>
                                                `)
                                            }
                                        }
                                    } else {
                                        if ($('#media_data_div').is(':empty')) {
                                            $('#media_data_div').html(`
                                                <div class="col-md-12 filter-text" >${file[key]}</div>
                                            `)
                                        } else {
                                            $('#media_data_div').append(`
                                                <div class="col-md-12 filter-text" >${file[key]}</div>
                                            `)
                                        }
                                    }
                                }
                            }
                        }
                    })
                }
                if ($('#media_data_div').is(':empty')) {
                    $('#media_data_div').html(`<label>No Media</label>`)
                }
            }
        })
    }

    function asset() {

    }
    // show uploaded script file name on upload button..Akshay G.
    // $(document).on('change', '[name="script_file"]', function(){
    //     if ($(this).val().split('\\').pop().slice('-4') != '.pdf'){
    //         $('#remove_script_file').hide();   
    //         $(this).val(''); 
    //         $(this).parent().find('span').text('Browse');
    //         swal("Unsupported file format!", "Please upload only .pdf file", "warning");
    //         return;
    //     }
    //     $(this).prev().html($(this).val().split('\\').pop());
    //     $("#remove_script_file").show();
    // })
    // save vendor uploaded agreement file..Akshay G.
    $(document).on('click', '.save_agreement', function(){
        var agreement_file = $(this).parent().find('[type = "file"]');
        if (agreement_file.val().trim().length == 0){
            swal("Agreement file not selected!", "Please upload agreement file to save.", "warning");
            return;
        }
        var agreement_name = $(this).closest('div').attr('id');
        var file_name = agreement_file.val().split('\\').pop();
        var form = new FormData();
        var token = getCookie('csrftoken');
        form.append('file', agreement_file[0].files[0]);
        form.append('agreement_name', agreement_name);
        form.append('csrfmiddlewaretoken', token);
        form.append('camp_alloc_id', $(this).closest('div').attr('data-camp_alloc_id'));
        form.append('client_id', $(this).closest('div').attr('data-client_id'));
        $(this).after('<i class="fa fa-spinner agr_upload_spinner fa-spin pull-right"></i>');
        $(this).remove();
        $.ajax({
            type: 'post',
            url: '/vendor/save_agreements/',
            data: form,
            processData: false,
            contentType: false,
            success: function(data){
                $('.agr_upload_spinner').after('<i class="far fa-save pull-right save_agreement sa_ve"  title="Save" aria-hidden="true"></i>');
                $('.agr_upload_spinner').remove();
                swal("Agreement Uploaded!", `Successfully uploaded '${file_name}' file for '${agreement_name}' agreement.`, "success");
            },
            error: function(){
                $('.agr_upload_spinner').after('<i class="far fa-save pull-right save_agreement sa_ve"  title="Save" aria-hidden="true"></i>');
                $('.agr_upload_spinner').remove();
                swal({
                    title: "Internal server error!",
                    text: "Please report this issue to techconnectr technical team.",
                    icon: "error",
                });
            }
        })
    })
    // remove selected script file..Akshay G.
    $(document).on('click', '#remove_script_file', function(){
        $(this).closest('div').find('input[type = "file"]').val('');
        $(this).closest('div').find('input[type = "file"]').parent().find('#script_ids').text('Browse');
        $(this).hide();
    })
    // remove selected chat attachment file..Akshay G.
    $(document).on('click', '#remove_chat_file', function(){
        $(this).closest('#chat_attach_form').find('.file-field input:file').val('');
        $(this).closest('#chat_attach_form').find('#chat_file_name').text('Browse');
        $(this).hide();
    })
</script>