{% extends "header/cheader.html" %}

{% block content %}
<!-- Main sidebar -->
{% include "side/clientside.html" %}
<style type="text/css">
  .dataTables_length {
    margin-right: 25px;
  }

  .fa-upload {
    color: #fff !important;
    font-size: 13px !important
  }

  .table>tbody>tr>td {
    padding: 1px 20px !important;
  }

  .panel-height {
    min-height: 90vh !important;
  }

  .li-bottom {
    border-bottom: 1px solid #ddd;
  }
</style>
<!-- Main content -->
<div class="content-wrapper">
  <!-- Content area -->
  <div style="margin-top: 47px;padding: 10px;">
    <div class="row">
      <div class="col-md-12 ">
        <!-- Top Clients List -->
        <div class="panel panel-height panel-flat">
          <div class="panel-heading">
            <div class="col-md-12">
              <div class="col-md-6">
                <h1 class="panel-title">Lead Rejected List
                  <!-- <button type="button" id="databtn" class="btn btn-filter-tb btn-labeled pull-right" style="display:none" >
                              <b><span id ="filter_icon" class="glyphicon glyphicon-filter"></span></b>
                               Filter
                          </button> -->
                </h1>
              </div>
              <div class="col-md-6">
                <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal"><i
                    class="fa fa-plus" style="    font-size: 13px!important;"></i>&nbspAdd Reason</button>
              </div>
            </div>
            <!-- <h1 class="panel-title">Lead Rejected List
                        <button type="button" id="databtn" class="btn btn-filter-tb btn-labeled pull-right" style="display:none" >
                            <b><span id ="filter_icon" class="glyphicon glyphicon-filter"></span></b>
                             Filter
                        </button>
                        </h1> -->
          </div>
          <div class="table-responsive-sm">
            <table id="leadtable" class="table datatable-column-search-inputs DataTables">
              <thead>
                <tr>
                  <th>Sr.no</th>
                  <th>Reason</th>
                  <th>Status</th>
                  <th class="text-center">Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for reason in reasons %}
                {% if reason.status == 0 %}
                <tr style="height:50px">
                  <td style="width:5%">{{ forloop.counter }}</td>
                  <td style="width:35%">{{ reason.reason }}</td>
                  <td style="width:5%">
                    {% if reason.is_active == 1 %}
                    <button class="label label-success">Active</button></a>
                    {%endif%}
                  </td>

                  <td class="text-center" style="width:25%">

                    <p>Created by admin</p>

                  </td>
                </tr>

                {%else%}
                {% if reason.user_id == request.session.userid %}
                <tr style="height:50px">
                  <td style="width:5%">{{ forloop.counter }}</td>
                  <td style="width:35%">{{ reason.reason }}</td>
                  <td style="width:5%">
                    {% if reason.is_active == 1 %}
                    {% if reason.status == 1 and reason.user.id == request.session.userid %}
                    <a href="/superadmin/reason_deactive/{{reason.id}}"><button
                        class="label label-success">Active</button></a>
                    {% else %}
                    <a href="#"><button class="label label-success">Active</button></a>
                    {% endif %}
                    {% else %}
                    {% if reason.status == 1 and reason.user.id == request.session.userid %}
                    <a href="/superadmin/reason_active/{{reason.id}}"><button
                        class="label label-danger">Deactive</button></a>
                    {% else %}
                    <a href="#"><button class="label label-danger">Deactive</button></a>
                    {%endif%}
                    {%endif%}
                  </td>
                  <td class="text-center" style="width:25%">
                    {% if reason.status == 1 and reason.user.id == request.session.userid %}
                    <ul class="icons-list">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="icon-menu9"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                          <li class="li-bottom"><a href="#" class="update_reason" id="{{reason.id}}">Update Reason</a></li>
                          <li><a href="#" class="delete_reason" id="{{reason.id}}">Delete Reason</a></li>
                        </ul>
                      </li>
                    </ul>
                    {% else %}
                    <p>Created by admin</p>
                    {% endif %}
                  </td>
                </tr>
                {% endif %}
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <!-- Footer -->
        <div class="footer text-muted" style="display: none;">
          &copy; 2018. <a href="#">Trigensoft</a> by <a href="Trigensoft.com" target="_blank">Eugene Kopyov</a>
        </div>
        <!-- /footer -->
      </div>
    </div>
    <!-- /content area -->
  </div>
  <!-- /main content -->
</div>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" style="padding: 15px;">
      <div class="border">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Lead Rejected Reason</h4>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="sel1">Enter Reason:</label>
                  <input type="text" id="lead_reason" class="form-control" name="reason1" placeholder="Enter Reason" />
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn submit-btn" id="leads_rejected_reason"><i
              class="fa fa-check"></i>&nbspSubmit</button>
          <button type="button" class="btn btn-default btn-color" data-dismiss="modal"><i
              class="fa fa-times"></i>&nbspClose</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Update Reason-->
<div class="modal fade" id="myModal1" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" style="padding: 15px;">
      <div class="border">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Update Lead Rejected Reason</h4>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="sel1">Enter Reason:</label>
                  <input type="text" id="lead_reason_update" class="form-control" name="reason"
                    placeholder="Enter Reason" />
                  <input type="hidden" id="lead_reason_id" class="form-control" name="id" />
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn submit-btn" id="leads_rejected_reason_update"><i class="fa fa-upload"></i>
            <span class="bold">Update</span></button>
          <button type="button" class="btn btn-default btn-color" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp
            Close</button>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- /page container -->
{% include "lead/lead_rejected_listjs.html" %}
<script>
  $(function () {
    $("#reason_list").addClass("active");
    $("#reason_list").find("ul").first().css({ 'display': 'block' })
    $("#RejectedReasonList").addClass("active");
  });
</script>
{% endblock %}