/** 
 * chart div container 
 * fixed size
**/
@media screen and (min-height:600px) and (max-height: 1000px)
{
    .fixed-height
	{
        min-height:500px;
    }
}
@media screen and (min-height:500px) and (max-height: 600px)
{
    .fixed-height
	{
        min-height:400px;
    }
}
@media screen and (min-height:400px) and (max-height: 500px)
{
    .fixed-height
	{
        min-height:300px;
    }
}

@media screen and (min-height:300px) and (max-height: 400px)
{
    .fixed-height
	{
        min-height:200px;
    }
}


/*****************************************************************
 **       chart container                               **********
/*****************************************************************/
.chart-img-icon img
{
	margin: 2px;
	height: 40px;
	width:40px;
    border: 1px solid #00bcd42e;
}
.chart-img-icon img:hover, .chart-img-icon img:focus
{
	box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.12), -1px 1px 2px rgba(0, 0, 0, 0.24);
	cursor: pointer;
}

.chartdiv {
  width: 100%;
  height: 350px;
  font-size: 11px;
}

.chartdiv,.chartdiv2
{
    margin-top: 60px;
}

.type-selector {
  padding: 10px;
  background: #ddd;
}


.amcharts-export-menu-top-right {
  top: 10px;
  right: 0;
}

.type-selector label {
  margin: 0px 10px;
  cursor: pointer;
}

/*=================================================
* chart visualization-options
*==================================================*/

.visualization-options
{
	margin-top:27px;
}