.pointer
{
    cursor: pointer;
}
.errorlist
{
    color:red;
}

.beefup__body .checker{
   margin-right: 6px !important;
}

.beefup__body .table > tbody > tr > td
{
    border:none !important;
    padding: 0;
}

.beefup__body .table > tbody > tr > td .radio
{
   padding: 7px 15px;
}

.beefup__body .radio, .checkbox {
    margin-top: 1px !important;
    margin-bottom: 1px !important;
}

.beefup__body .radio label{
    padding-top: 6px;
}


.table_scroller
{
    max-height:412px;
    overflow: auto;
}

.tipso_style {
    border-color: #e2e1e1 !important;
}

.td_padding
{
    padding: 12px 20px !important;
}