/*======================================
=        NO GUTTER in bootstrap div  =
======================================*/
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
.no-gutter-col
{
    padding-right:0;
	padding-left:0;
}

.padding-10
{
  padding:10px;
}

.padding-0
{
	padding:0;
}

.thumb-padding
{
	padding: 0.3em;
}

.circular-container
{
	border-radius: 50%;
	/* padding: 1.2em;
	background: #9592921a; */
}
.image-outer {
    position: relative;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
}
.image, .about-one .image-column .image-outer .image img {
    position: relative;
    display: block;
    width: 100%;
    z-index: 1;
}
.image-outer .bg-image {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-hide{
        border-radius: 0px!important;
}
.capt {
    padding: 2px;
    padding-top: 0px;
}
.right-side-border
{
	border-right: 1px solid #8080803b;
}

.top-margin
{
	margin-top: 15px;
}

.thumbnail
{
	margin-bottom: 0px;
}
.thumb img:not(.media-preview)
{
	max-width: 100px;
}

.shadow-hover-effect:hover
{
	box-shadow: 0 0 5px #000;
}

/*.thumbnail .caption
{
   padding-top: 17px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 17px;
}
*/

/**************************************/
/***      chart     ******************/
/*************************************/
#campaignstatus,#secondchart
{
  width: 100%;
  height: 250px;
  margin-left:0px;
}
.export-main
{
margin-top: -65px;
}

.greet
{
	font-size:19px;
	line-height: 1;
	margin-left: 10px;

}
#welcome{
    padding-top: 10px;
    margin: 0 0 5px 0;
    text-align: center;
    font-weight: bold!important;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    text-align: center;
    color: #000000b5;
}

.panel-body + .panel-body, .panel-body + .table, .panel-body + .table-responsive, .panel-body.has-top-border {
    border-top: 0px;
}




@media only screen and (min-width: 720px) {
    .sidebar {
    display: table-cell;
    vertical-align: top;
    width: 205px;
    height: 100vh !important;
}

#welcome p {
    font-weight: normal!important;
    width: 700px;
    font-size: 14px!important;

}

}
.content:first-child {
   padding-top: 54px;
   padding-left: 14px;

}





#welcome p {
    text-align: center;

    font-size: 16px;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    line-height: 1.6em;
}
#heading {
    text-align: center;
    width: 900px;

    font-size: 23px;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top:0px;
    line-height: 1.6em;
    color: #434342;
}
#quickview {

    width: 900px;
    padding-bottom: 10px!important;
    font-size: 17px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top:0px;
    line-height: 1.6em;
    color: #434342;
}
#padding220 {
    padding: 2px;
    padding-left: 20px;
    margin-top: -15px;
}
#headng
{
	 text-align: center;
    width: 700px;
    font-size: 18px;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    line-height: 1.6em;
}
#bt
{
    background-color: #31c1e3;
	/* width:10%; */
	text-align: center;
  font-size: 12px;
}

.panel-heading {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px!important;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.sidebar-default .navigation li > a:hover, .sidebar-default .navigation li > a:focus, .sidebar-default .navigation li > a:visited {
    /* background-color: rgba(50, 193, 227, 0.58); */
}
.panel-body {
    padding: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}
#payment
{
	 width: 100%;
    font-size: 17px;
    font-weight: 300;
}
#del
{
	font-size: 14px;
}
#sreport
{
    font-size:18px;
    font-weight: 400;
}
#lbl
{
    font-size:16px;
}

@media (min-width: 769px)
{
	.sidebar-fixed.sidebar-default .sidebar-content {
		overflow-y: hidden;
		width: 206px;
		overflow-x: hidden;
	}
}
.activity-tracker-title
{
	font-size: 1.5em;
}
.contactus
{
	margin-top: 14px;
    margin-left: 32px;
}
.contactus strong
{
	font-size: 1.3em;
}
.raise_ticket
{
	font-size: 1.6em!important;
}
.raise_ticket_box
{
	margin-top: 13px;
}


/*** ******************************/
/*** modified card look ***********/
/**********************************/
.content-group-lg {
    margin-bottom: 12px !important;
}
.panel-group .panel {
    border: 1px solid #9999997d;
    box-shadow: none;
}
.panel-group-control .panel-title > a {
    color: #1f93ef;
}


/**********************************/
/****** createcampaign.html *******/
.radio-inline, .checkbox-inline {
    padding-left: 20px;
	margin-left: 9px;
}

#button_abm_upload, #button_acc_supression
{
	display:none; /*default none*/
	margin-left: 17px;
}

.createcampaign
{
 margin-left: 21px!important;
}
.createcampaign label
{
	color: #1f93ef;
    font-size: 1.1em;
}

.firstbox
{
    background-color: #31c1e3;
}

ul, ol {
    padding-left: 0px;
}

.lang li,
.del_time li,
.emp_size li,
.net_pub li,
.reg_proc li,
.del_meth li,
.data_attr li{
    width: 32%;
    display: inline-block;
    padding-left: 0px;
}

.lead_gen_method_input li,
.comp_prgm li{
    display: inline-block;
    padding-left: 15px;
}

.lead_gen_text,
.comp_prgm_text{
    /* right: -250px; */
    display: table-cell!important;
}
.fa-tasks{
  font-size: 16px!important;
  color: #4945ca!important;
}
.fa-user-plus{
  color: #ea0c0c!important;
  font-size: 16px!important;
}
.fa-users{
  font-size: 16px!important;
  color: #1E88E5!important;
}
.fa-clone{
  font-size: 16px!important;
  color: #f910d9!important;
}
.top-sp{
  margin-left: 24%!important;
  margin-top: -2.9%!important;
}
#campstat {
    font-size: 20px;
    background-color: #fff!important;
}
#campstat1 {
    font-size: 12px!important;
}
.lbl {
    font-size: 12px!important;
}
.bttn{
  font-size: 10px!important;
}
.glyphicon {
    font-size: 16px!important;
    vertical-align: middle;
    top: -1px;
    /* height: 11px; */
}
.btnn{
      height: 33px!important;
}
.top-tp{
    margin-left: 11%!important;
    margin-top: -45px!important;
}
.upload_top{
    margin-left: 86%;
    margin-top: -4%;
}
.title_had{
    margin-top: 83px;
    font-size: 20px;
    margin-left: 30px;
}
/* .label-info1 {
    background: #fff!important;
    color: #4ba0f8;
} */
/* .label-info {
    border-color: #fff!important;
    background-color: #fff!important;
    color: #3533339c!important;
}
.label-danger {
    border-color: #fff!important;
}
.label-danger {
    background-color: #fff!important;
    color:  #3533339c!important;
} */
.desc_camp_status {
    background-color: #00bcd4!important;
    color: white;
    font-size: 20px;
    padding: 5px;
}
#databtn{
  margin-top: -5.5%!important;
}
#client_pending_campaign_datatable_length{
  display: none!important;
}
.sorting_disabled{
  font-size: 14px!important;
}
.show_camp{
  font-size: 12px!important;
}
.fa-edit{
  font-size: 18px!important;
}
.fa-trash{
  font-size: 18px!important;
}
.list-color{
  font-size: 16px!important;
  color: #1a27e6!important;
}
.fa-clipboard-list{
  font-size: 16px!important;
  color: #1a27e6!important;
}
.fa-clipboard-list{
  font-size: 18px!important;
  color: #e6691a!important;
}
.fa-life-ring{
  font-size: 18px!important;
  color: #e61a46!important;
}
.fa-check-square-o{
  font-size: 18px!important;
  color: #2515e2!important;
}
.hidden-ul{
  font-size: 12px!important;
}
.hidden-ul>li>a:hover{
  font-size: 12px!important;
}
.sp{
  margin-top: -20px;
}
.info{
      margin-top: -31px;
}
.loader1 {
    position: relative;
    float:left;
    user-select: none;
    box-sizing: border-box;
    width: 150px;
    height: 150px;
}
.loader1-bg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    border: 5px solid #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
}
.spinner-holder-one {
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
    width: 50%;
    height: 50%;
    background: transparent;
    box-sizing: border-box;
}
.spinner-holder-two {
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: transparent;
    box-sizing: border-box;
}
.loader1-spinner {
    width: 200%;
    height: 200%;
    border-radius: 50%;
    border: 5px solid rgb(135, 206, 235);
    box-sizing: border-box;
}
.text1{
  font-size: 25px;
  color: rgb(135, 206, 222);
  margin-left: 6px;
}
.lead_progress{
  font-size: 14px;
  color:rgb(135, 206, 235);
    margin-left: 6px;
}
  .animate-0-25-a {
    transform: rotate(90deg);
    transform-origin: 100% 100%;
}
.animate-0-25-b {
    transform: rotate(-90deg);
    transform-origin: 100% 100%;
}
.animate-25-50-a {
    transform: rotate(180deg);
    transform-origin: 100% 100%;
}
.animate-25-50-b {
    transform: rotate(-90deg);
    transform-origin: 100% 100%;
}
.animate-50-75-a {
    transform: rotate(270deg);
    transform-origin: 100% 100%;
}
.animate-50-75-b {
    transform: rotate(-90deg);
    transform-origin:100% 100%;
}
.animate-75-100-a {
    transform: rotate(0deg);
    transform-origin: 100% 100%;
}
.animate-75-100-b {
    transform: rotate(-90deg);
    transform-origin: 100% 100%;
}
/* .text {
    text-align: center;
    font-size: 20px;
    color: rgb(135, 206, 235);
    font-weight: bold;
} */

.page {
    margin-left: 260%;
    margin-top: -40%;
}
.page > h1 {
  font-weight: 300 !important;
  color: #fff;
  font-size: 44px;

}
.page1 {
    margin-left: 360%;
    margin-top: -40%;
}
.page1 > h1 {
  font-weight: 300 !important;
  color: #fff;
  font-size: 44px;

}
.page2 {
    margin-left: 290%;
    margin-top: -45%;
}
.page2 > h1 {
  font-weight: 300 !important;
  color: #fff;
  font-size: 44px;

}
.page3 {
    margin-left: 390%;
    margin-top: -40%;
}
.page3 > h1 {
  font-weight: 300 !important;
  color: #fff;
  font-size: 44px;

}
.circles-container {
  min-height: 400px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.box-left{
    padding-top: 15px;
  }
.box-btn{
      margin-left: 80%;
    margin-top: -60px;
}
.box-btn1{
  margin-left: 159%;
    margin-top: -60px;
}
.btn-btn1>button{
  padding: 5px;
}
.act{
  margin-left: -70px!important;
}
.exp{
  /* margin-left: 15px!important; */
}
input>placeholder{
  text-align: left!important;
  font-size: 12px!important;

}
@media screen and (max-width: 400px){
  .circles-container {
    min-height: 820px;
    width: 100%;
    flex-direction: column;
  }
}
#campaign>ul>li>a{
  font-size: 12px!important;
  }
	@media only screen and (min-width: 1920px) {
		.loader1 {
    position: relative;
    float: left;
    user-select: none;
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    /* margin-left: -230px; */
    /* margin-top: 25px; */
}
}
.page3{
  margin-left: 270%;
  margin-top: -40%;
}
.life{
  margin-top: 59px;
}
}
.topheadd {
    padding: 32px -10px 32px 0 !important;
    display: block;
    position: relative;
    padding-bottom: -10px!important;

}
h4.panel-title, .h4.panel-title {
    font-size: 14px!important;
}
.faqHeader {
    font-size: 20px!important;
    margin: 20px!important;
}
body
{
    font-size: 14px;
}
table {
    font-size: 14px!important;
}
/* .bckset{
    background: #cec3c36e;
    padding: 15px 15px 50px 15px;
    border-radius: 5px;
} */
.CQ{
    margin-top: 0px;
    margin-left: 10px;
    font-size: 11.8px;
}
.fa-plus-circle{
  color:#2196F2;
}
.checkbtn{
    padding: 7px!important;
  }
  .btndata{
        margin-left: 10px!important;
    margin-top: 6px!important;
  }
  .act{
        padding: 7px;
  }
  .pro-top{
    margin-left: 100%!important;
    margin-top: -65px!important;
}
.loader1 {
    position: relative;
    float: left;
    user-select: none;
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    /* margin-left: -230px; */
}
.glyphicon-list-alt {
  color: #5064b3ad;
  font-size: 14px!important;
}
/* .padd>span{
    background: #1deab1c7;
    padding: 2px 8px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 6px;
} */
.not-box{
  background-color: #fff;
  padding: 15.3px!important;
  text-align: center;
  border: 1px solid #dcd5d5;
}

tbody>tr>td{
  font-size: 12px!important;
}
.MH{
  background: #fff!important;
}
.label-info1 {
    background: #eae4e4!important;
    color: #919394;
    border-color: #3f70ba6e;
}
.no_data{
    font-size: 40px;
    color: #bfbaba;
    text-align: center;
    margin-top: 15%;
}
.bg-teal {
    background-color: #2192f2 !important;
    border-color: #009688;
    color: #fff;
}
.label-success {
    border-color: #0abb87;
}
.AcceptanceRate {
    padding: 3px 7px 3px 8px !important;
    font-size: 14px !important;
    color: #635e5e;
    border: 1px solid #635e5e;
}
.AcceptanceRate1 {
    padding: 3px 7px 3px 8px !important;
    font-size: 14px !important;
    margin-top: 2px;
    color: #635e5e;
    border: 1px solid #635e5e;
}
.dataTables_info {
    float: left;
    padding: 9px 0;
    margin-bottom: 20px;
    color: #b9abab!important;
    display: none;
}
.dataTables_paginate .paginate_button.current, .dataTables_paginate .paginate_button.current:hover, .dataTables_paginate .paginate_button.current:focus {
    color: #d0caca!important;
    background-color: #ffffff!important;
}
.checker:visit{
  background: #2196f3;
}
/*.checked{
  background: #7ca0d6;
}*/
.chat-list .reversed .media-content:not([class*=bg-]) {

    border-color: #fff!important;
    padding: 13px!important;
    border-radius: 10px 10px 0 10px;
}

.media-content>a>img{
    border-radius: 10px 10px 0 10px;
    padding: 5px;
}
@media only screen and (min-width: 1920px) {
  /* .bckset{
    background: #cec3c36e;
    padding: 15px 15px 50px 15px;
    border-radius: 5px;
  } */
  .upload_top{
    margin-top: -5%!important;
  }
  .upload_top{
    margin-top: 5%;
  }
  .box-left{
    padding-top: 15px;
  }
  .md10{
        margin-left: 10px!important;
        width: 65%!important;
  }
}
@media only screen and (min-width: 1440px)and (max-width: 1599px){

  .life{
        margin-top: 59px;
  }
  .page3{
  margin-left: 300%;
  margin-top: -40%;
}

}
@media only screen and (max-height: 620px){
    .scroll-bar{
      overflow-y: auto;
      height: 300px!important;
    }
}
@media only screen and (min-width: 1094px)and (max-width: 1366px){
  .md10{
        margin-left: 10px!important;
    width: 65%!important;
  }
  .loader1-bg{
     margin-top: 0%!important; 
  }
  .scroll-bar{
    overflow-y: auto;
    
  }
  .life{
        margin-top: 70px;
  }

}
.lead-mod{
  padding: 25px;
  margin-top: -25px;
}
.border{
  border: 1px solid #ddd;
  padding: 15px;
}
.modal-ti{
      font-size: 24px;
    font-weight: bold;
}
.btcolor{
  background-color: #2192f2!important;
  margin-left: 50px;
}
.btn-color {
    background-color: #ffffff!important;
    color: #6f6a6a!important;
    border: 1px solid #b3b1b1!important;
}
.more_details{
  padding: 15px!important;
}

/* -----------------------------------------------------
  CSS Progress Bars
-------------------------------------------------------- */
.odd>th,td{
  border-bottom: 1px solid #d4c8c8!important;
}
#myTable>tbody>tr>th{
  border-bottom: 1px solid #d4c8c8!important;

}

/*.text-center>.icons-list {
    float: left;
}*/
/*.sorting_asc,.sorting{
  background: #dddddd91;
  text-align: center;
}*/
.cssProgress {
  width: 100%;
 /* margin-bottom: 20px;*/
}
.cssProgress .progress1,
.cssProgress .progress2,
.cssProgress .progress3 {
  position: relative;
  overflow: hidden;
  width: 90%;
  font-family: "Roboto", sans-serif;
}
.cssProgress .cssProgress-bar {
  display: block;
  float: left;
  width: 0%;
  height: 100%;
  background: #3798d9;
  box-shadow: inset 0px -1px 2px rgba(0, 0, 0, 0.1);
  transition: width 0.8s ease-in-out;
}
.cssProgress .cssProgress-label {
  position: absolute;
  overflow: hidden;
  left: 0px;
  right: 0px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  top: -2px;
  text-align: center;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.3);
}
.cssProgress .cssProgress-info {
  background-color: #9575cd;
}
.cssProgress .cssProgress-danger {
  background-color: #ef5350;
}
.cssProgress .cssProgress-success {
  background-color: #37d97feb;
}
.cssProgress .cssProgress-warning {
  background-color: #ffb74d;
}
.cssProgress .cssProgress-right {
  float: right !important;
}
.cssProgress .cssProgress-label-left {
  margin-left: 10px;
  text-align: left !important;
}
.cssProgress .cssProgress-label-right {
  margin-right: 10px;
  text-align: right !important;
}
.cssProgress .cssProgress-label2 {
  display: block;
  margin: 2px 0;
  padding: 0 8px;
  font-size: 0.8em;
}
.cssProgress .cssProgress-label2.cssProgress-label2-right {
  text-align: right;
}
.cssProgress .cssProgress-label2.cssProgress-label2-center {
  text-align: center;
}
.cssProgress .cssProgress-stripes,
.cssProgress .cssProgress-active,
.cssProgress .cssProgress-active-right {
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.125) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.125) 50%, rgba(255, 255, 255, 0.125) 75%, transparent 75%, transparent);
  background-size: 35px 35px;
}
.cssProgress .cssProgress-active {
  -webkit-animation: cssProgressActive 2s linear infinite;
  animation: cssProgressActive 2s linear infinite;
}
.cssProgress .cssProgress-active-right {
  -webkit-animation: cssProgressActiveRight 2s linear infinite;
  animation: cssProgressActiveRight 2s linear infinite;
}
@-webkit-keyframes cssProgressActive {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 35px 35px;
  }
}
@keyframes cssProgressActive {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 35px 35px;
  }
}
@-webkit-keyframes cssProgressActiveRight {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -35px -35px;
  }
}
@keyframes cssProgressActiveRight {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -35px -35px;
  }
}

/* -----------------------------------------------------
  Progress Bar 2
-------------------------------------------------------- */
.progress2 {
  background-color: #EEE;
  border-radius: 6px;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.progress2 .cssProgress-bar {
  height: 18px;
  border-radius: 0px;
}
.progress2 .cssProgress-label {
  line-height: 18px;
}
table.dataTable tbody td {
    padding: 8px!important;
    padding-left: 18px!important;
}
.dataTables_length {
    float: right;
    display: inline-block;
    margin: 0px 20px 20px 20px!important;
}
