/*======================================
=        NO GUTTER in bootstrap div  =
======================================*/
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
.no-gutter-col
{
    padding-right:0;
	padding-left:0;
}

.padding-10
{
  padding:10px;
}

.padding-0
{
	padding:0;
}

.thumb-padding
{
	padding: 0.3em;
}

.circular-container
{
	border-radius: 50%;
	padding: 1.2em;
	background: #9592921a;
}

.right-side-border
{
	border-right: 1px solid #8080803b;
}

.top-margin
{
	margin-top: 15px;
}

.thumbnail
{
	margin-bottom: 0px;
}
.thumb img:not(.media-preview)
{
	max-width: 100px;
}

.shadow-hover-effect:hover
{
	box-shadow: 0 0 5px #000;
}

.thumbnail .caption 
{
   padding-top: 17px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 17px;
}


/**************************************/
/***      chart     ******************/
/*************************************/
#campaignstatus,#secondchart
{
  width: 100%;
  height: 250px;
  margin-left:0px;
}	
.export-main
{
margin-top: -65px;
}

.greet
{
	font-size:19px;
	line-height: 1;
	margin-left: 10px;
		
}
#welcome{
    padding-top: 10px;
    margin: 0 0 5px 0;
    text-align: center;
   	
    font-size: 34px;
    line-height: 30px;
    font-weight: 300;
    text-align: center;
    color: #434342;
}

.panel-body + .panel-body, .panel-body + .table, .panel-body + .table-responsive, .panel-body.has-top-border {
    border-top: 0px;
}




@media only screen and (min-width: 720px) {
    .sidebar {
    display: table-cell;
    vertical-align: top;
    width: 205px;
    height: 100vh !important;
}

#welcome p {
    
    width: 700px;
    
}

}
.content:first-child {
   padding-top: 54px;
   padding-left: 14px;

}





#welcome p {
    text-align: center;
   
    font-size: 16px;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    line-height: 1.6em;
}
#heading {
    text-align: center;
    width: 900px;

    font-size: 28px;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top:0px;
    line-height: 1.6em;
    color: #434342;
}
#quickview {
    
    width: 900px;

    font-size: 30px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top:0px;
    line-height: 1.6em;
    color: #434342;
}
#headng
{
	 text-align: center;
    width: 700px;
    font-size: 20px;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    line-height: 1.6em;
}
#bt
{
    background-color: #31c1e3;
	width:20%;
	text-align: center;
}

.panel-heading {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.sidebar-default .navigation li > a:hover, .sidebar-default .navigation li > a:focus, .sidebar-default .navigation li > a:visited {
    /* background-color: rgba(50, 193, 227, 0.58); */
}
.panel-body {
    padding: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}
#payment
{
	 width: 100%;
    font-size: 20px;
    font-weight: 300;	
}
#del
{
	font-size: 14px;
}
#sreport
{
    font-size:18px;
    font-weight: 400;
}
#lbl
{
    font-size:16px;
}

@media (min-width: 769px)
{
	.sidebar-fixed.sidebar-default .sidebar-content {
		overflow-y: hidden;
		width: 206px;
		overflow-x: hidden;
	}
}
.activity-tracker-title
{
	font-size: 1.5em;
}
.contactus
{
	margin-top: 14px;
    margin-left: 32px;
}
.contactus strong
{
	font-size: 1.3em;
}
.raise_ticket
{
	font-size: 1.6em!important;
}
.raise_ticket_box
{
	margin-top: 13px;
}


/*** ******************************/
/*** modified card look ***********/
/**********************************/
.content-group-lg {
    margin-bottom: 12px !important;
}
.panel-group .panel {
    border: 1px solid #9999997d;
    box-shadow: none;
}
.panel-group-control .panel-title > a {
    color: #1f93ef;
}


/**********************************/
/****** createcampaign.html *******/
.radio-inline, .checkbox-inline {
    padding-left: 20px;
	margin-left: 9px;
}

#button_abm_upload, #button_acc_supression
{
	display:none; /*default none*/
	margin-left: 17px;
}

.createcampaign
{
 margin-left: 21px!important;	
}
.createcampaign label
{
	color: #1f93ef;
    font-size: 1.1em;
}

.firstbox
{
    background-color: #31c1e3;
}

ul, ol {
    padding-left: 0px;
}

.lang li,
.del_time li,
.emp_size li,
.net_pub li,
.reg_proc li,
.del_meth li,
.data_attr li{
    width: 32%;
    display: inline-block;
    padding-left: 0px;
}

.lead_gen_method_input li,
.comp_prgm li{
    display: inline-block;
    padding-left: 15px;
}

.lead_gen_text,
.comp_prgm_text{
    /* right: -250px; */
    display: table-cell!important;
}

body
{
    font-size: 14px;
}