<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TechConnectr-BugList</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
        type="text/css">
    <link href="{% static 'assets/css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/core.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/components.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/colors.css' %}" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script type="text/javascript" src="{% static 'assets/js/plugins/loaders/pace.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/core/libraries/bootstrap.min.js' %}"></script>
    <!-- <script type="text/javascript" src="assets/js/plugins/loaders/blockui.min.js"></script> -->
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery_ui/interactions.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery_ui/touch.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'assets/js/core/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/pages/components_navs.js' %}"></script>

    <script type="text/javascript" src="{% static 'assets/js/plugins/ui/ripple.min.js' %}"></script>
    <!-- /theme JS files -->

</head>

<body>
    <div class="page-container">
        <div class="page-content">
            <div class="content-wrapper" style="padding:10px">


                <div class="panel-group accordion-sortable content-group-lg" id="accordion-controls">
                    {% for row in data %}
                    {% if row|length >= 1%}
                    <div class="panel panel-white">
                        <div class="panel-heading">
                            <h6 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-controls"
                                    href="#accordion-controls-group_{{forloop.counter}}">{{cnt}} -- {{forloop.counter}}
                                    - {{row.0}}</a>
                            </h6>
                            <!-- 
                            <div class="heading-elements">
                                <ul class="icons-list">
                                    <li><a data-action="reload"></a></li>
                                    <li><a data-action="move"></a></li>
                                    <li><a data-action="close"></a></li>
                                </ul>
                            </div> -->
                        </div>
                        <div id="accordion-controls-group_{{forloop.counter}}" class="panel-collapse collapse ">
                            <div class="panel-body">

                                {% for row1 in row %}
                                {{row1}} </br>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {%endfor%}

                </div>
                <!-- /accordion with controls -->
            </div>
        </div>
    </div>
</body>

</html>