{% extends "header/header.html" %}

{% block script %}
    {% include "reports/campaignreportshead.html" %}
{% endblock %}

{% block content %}
<!-- Main sidebar -->
  {% include "side/side.html" %}
  {% load custom_filters %}

  {% load static %}

        <!-- Main content -->
            <div class="content-wrapper">

                <!-- Page header -->

                <div class="page-header">
                    <div class="page-header-content" style="display:none">
                        <div class="page-title">
                            <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Dashboard</span> - Campaign List</h4>
                        </div>

                        <div class="heading-elements">
                            <div class="heading-btn-group">
                                <a href="#" class="btn btn-link btn-float text-size-small has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
                                <a href="#" class="btn btn-link btn-float text-size-small has-text"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
                                <a href="#" class="btn btn-link btn-float text-size-small has-text"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
                            </div>
                        </div>
                    </div>

                    <div class="breadcrumb-line">
                        <ul class="breadcrumb">
                            <li><a href="/superadmin/dashboard/"><i class="icon-home2 position-left"></i> Home</a></li>
                            <li class="active">Campaign Reports</li>
                        </ul>

                        <ul class="breadcrumb-elements">
                       </ul>
                    </div>
                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">
                    
                            <div class="panel panel-flat">
                                <div class=" panel-heading">
                                    <h5 class="panel-title">
                                        Campaigns
                                        <div class="heading-elements">
                                            <ul class="icons-list">
                                                <li>
                                                    <select class="form-control select" name="client" id='mySelector2'>
                                                        <option selected disabled hidden>Client Filter</option>
                                                        <option value="">Show All</option>
                                                        {% for c in clients %}
                                                            <option value="{{c.id}}">{{c.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </li>
                                                <li>
                                                    <select class="form-control select" name="FILTER" id='mySelector'>
                                                        <option selected disabled hidden>Status Filter</option>
                                                        <option value="">Show All</option>
                                                        <!-- <option value="0">Draft</option> -->
                                                        <option value="3">Pending</option>
                                                        <option value="5">Assigned</option>
                                                        <option value="1">Live</option>
                                                        <option value="2">Pause</option>
                                                        <option value="4">Complete</option>
                                                    
                                                    </select>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- <div class="heading-elevaluements">
                                        </div> -->
                                    </h5>
                                </div>
                                
                            </div>
                       
                    <div class="panel panel-flat" style>
                        <div class="panel-heading">
                            <!-- <h5 class="panel-title">Page length options</h5> -->
                            <!-- <div class="">
                                <ul class="icons-list">
                                    <li>
                                        <a data-action="collapse"></a>
                                    </li>
                                    <li>
                                        <a data-action="reload"></a>
                                    </li>
                                    <li>
                                        <a data-action="close"></a>
                                    </li>
                                </ul>
                            </div> -->
                        </div>

                        <div class="panel-body">
                                <table class="table" id='myTable'>
                                    <thead>
                                        <tr>
                                            <th hidden>type</th>
                                            <th hidden>client</th>
                                            <!-- <th scope="col">#id</th> -->
                                            <th scope="col">Campaign Name</th>
                                            <th scope="col">Total Leads</th>
                                            <th scope="col">Assigned Leads</th>
                                            <th scope="col">Start Date</th>
                                            <th scope="col">End Date</th>
                                            <th scope="col">Campaign Progress</th>
                                            <!-- <th scope="col">Actions</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in result %}
                                        
                                        <tr>
                                            <td hidden>{{i.status}}</td>
                                            <td hidden>{{i.client_id}}</td>
                                            <!-- <th scope="row">{{i.id}}</th> -->
                                            <td>{% if i.status == 0 %}
                                                <a href="#">{{i.name}}</a>
                                                {% elif i.status == 1 %}
                                                <a href="#">{{i.name}}</a>
                                                {% elif i.status == 2 %}
                                                <a href="#">{{i.name}}</a>
                                                {% elif i.status == 3 %}
                                                <a href="#">{{i.name}}</a>
                                                {% elif i.status == 4 %}
                                                <a href="#">{{i.name}}</a>
                                                {% elif i.status == 5 %}
                                                <a href="#">{{i.name}}</a>
                                                {% endif %}</td>
                                
                                            <td>{{i.leads}}</td>
                                            <td>{{i.assigned}}</td>
                                            <td>{{i.start_date|date_beautify}}</td>
                                            <td>{{i.end_date|date_beautify}}</td>
                                            <td>
                                                <!-- {{i.progress}} -->
                                                <div class="example-2">
                                                    <div class="cssProgress">
                                                        <div class="progress2">
                                                            <div class="cssProgress-bar cssProgress-success" data-percent="{{i.progress}}"
                                                                style="width: 25%; background-color:{{i.color}};">
                                                                <span class="cssProgress-label"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td>No data found.</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            
                        </div>

                        <!-- <table class="table datatable-show-all">
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Job Title</th>
                                    <th>DOB</th>
                                    <th>Status</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Marth</td>
                                    <td><a href="#">Enright</a></td>
                                    <td>Traffic Court Referee</td>
                                    <td>22 Jun 1972</td>
                                    <td><span class="label label-success">Active</span></td>
                                    <td class="text-center">
                                        <ul class="icons-list">
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>

                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a href="#"><i class="icon-file-pdf"></i> Export to .pdf</a></li>
                                                    <li><a href="#"><i class="icon-file-excel"></i> Export to .csv</a></li>
                                                    <li><a href="#"><i class="icon-file-word"></i> Export to .doc</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Jackelyn</td>
                                    <td>Weible</td>
                                    <td><a href="#">Airline Transport Pilot</a></td>
                                    <td>3 Oct 1981</td>
                                    <td><span class="label label-default">Inactive</span></td>
                                    <td class="text-center">
                                        <ul class="icons-list">
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>

                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a href="#"><i class="icon-file-pdf"></i> Export to .pdf</a></li>
                                                    <li><a href="#"><i class="icon-file-excel"></i> Export to .csv</a></li>
                                                    <li><a href="#"><i class="icon-file-word"></i> Export to .doc</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Aura</td>
                                    <td>Hard</td>
                                    <td>Business Services Sales Representative</td>
                                    <td>19 Apr 1969</td>
                                    <td><span class="label label-danger">Suspended</span></td>
                                    <td class="text-center">
                                        <ul class="icons-list">
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>

                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a href="#"><i class="icon-file-pdf"></i> Export to .pdf</a></li>
                                                    <li><a href="#"><i class="icon-file-excel"></i> Export to .csv</a></li>
                                                    <li><a href="#"><i class="icon-file-word"></i> Export to .doc</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Nathalie</td>
                                    <td><a href="#">Pretty</a></td>
                                    <td>Drywall Stripper</td>
                                    <td>13 Dec 1977</td>
                                    <td><span class="label label-info">Pending</span></td>
                                    <td class="text-center">
                                        <ul class="icons-list">
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>

                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a href="#"><i class="icon-file-pdf"></i> Export to .pdf</a></li>
                                                    <li><a href="#"><i class="icon-file-excel"></i> Export to .csv</a></li>
                                                    <li><a href="#"><i class="icon-file-word"></i> Export to .doc</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Sharan</td>
                                    <td>Leland</td>
                                    <td>Aviation Tactical Readiness Officer</td>
                                    <td>30 Dec 1991</td>
                                    <td><span class="label label-default">Inactive</span></td>
                                    <td class="text-center">
                                        <ul class="icons-list">
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>

                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a href="#"><i class="icon-file-pdf"></i> Export to .pdf</a></li>
                                                    <li><a href="#"><i class="icon-file-excel"></i> Export to .csv</a></li>
                                                    <li><a href="#"><i class="icon-file-word"></i> Export to .doc</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Maxine</td>
                                    <td><a href="#">Woldt</a></td>
                                    <td><a href="#">Business Services Sales Representative</a></td>
                                    <td>17 Oct 1987</td>
                                    <td><span class="label label-info">Pending</span></td>
                                    <td class="text-center">
                                        <ul class="icons-list">
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>

                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a href="#"><i class="icon-file-pdf"></i> Export to .pdf</a></li>
                                                    <li><a href="#"><i class="icon-file-excel"></i> Export to .csv</a></li>
                                                    <li><a href="#"><i class="icon-file-word"></i> Export to .doc</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Sylvia</td>
                                    <td><a href="#">Mcgaughy</a></td>
                                    <td>Hemodialysis Technician</td>
                                    <td>11 Nov 1983</td>
                                    <td><span class="label label-danger">Suspended</span></td>
                                    <td class="text-center">
                                        <ul class="icons-list">
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>

                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a href="#"><i class="icon-file-pdf"></i> Export to .pdf</a></li>
                                                    <li><a href="#"><i class="icon-file-excel"></i> Export to .csv</a></li>
                                                    <li><a href="#"><i class="icon-file-word"></i> Export to .doc</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Lizzee</td>
                                    <td><a href="#">Goodlow</a></td>
                                    <td>Technical Services Librarian</td>
                                    <td>1 Nov 1961</td>
                                    <td><span class="label label-danger">Suspended</span></td>
                                    <td class="text-center">
                                        <ul class="icons-list">
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>

                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a href="#"><i class="icon-file-pdf"></i> Export to .pdf</a></li>
                                                    <li><a href="#"><i class="icon-file-excel"></i> Export to .csv</a></li>
                                                    <li><a href="#"><i class="icon-file-word"></i> Export to .doc</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Kennedy</td>
                                    <td>Haley</td>
                                    <td>Senior Marketing Designer</td>
                                    <td>18 Dec 1960</td>
                                    <td><span class="label label-success">Active</span></td>
                                    <td class="text-center">
                                        <ul class="icons-list">
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>

                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a href="#"><i class="icon-file-pdf"></i> Export to .pdf</a></li>
                                                    <li><a href="#"><i class="icon-file-excel"></i> Export to .csv</a></li>
                                                    <li><a href="#"><i class="icon-file-word"></i> Export to .doc</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Chantal</td>
                                    <td><a href="#">Nailor</a></td>
                                    <td>Technical Services Librarian</td>
                                    <td>10 Jan 1980</td>
                                    <td><span class="label label-default">Inactive</span></td>
                                    <td class="text-center">
                                        <ul class="icons-list">
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>

                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a href="#"><i class="icon-file-pdf"></i> Export to .pdf</a></li>
                                                    <li><a href="#"><i class="icon-file-excel"></i> Export to .csv</a></li>
                                                    <li><a href="#"><i class="icon-file-word"></i> Export to .doc</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Delma</td>
                                    <td>Bonds</td>
                                    <td>Lead Brand Manager</td>
                                    <td>21 Dec 1968</td>
                                    <td><span class="label label-info">Pending</span></td>
                                    <td class="text-center">
                                        <ul class="icons-list">
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>

                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a href="#"><i class="icon-file-pdf"></i> Export to .pdf</a></li>
                                                    <li><a href="#"><i class="icon-file-excel"></i> Export to .csv</a></li>
                                                    <li><a href="#"><i class="icon-file-word"></i> Export to .doc</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Roland</td>
                                    <td>Salmos</td>
                                    <td><a href="#">Senior Program Developer</a></td>
                                    <td>5 Jun 1986</td>
                                    <td><span class="label label-default">Inactive</span></td>
                                    <td class="text-center">
                                        <ul class="icons-list">
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>

                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a href="#"><i class="icon-file-pdf"></i> Export to .pdf</a></li>
                                                    <li><a href="#"><i class="icon-file-excel"></i> Export to .csv</a></li>
                                                    <li><a href="#"><i class="icon-file-word"></i> Export to .doc</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Coy</td>
                                    <td>Wollard</td>
                                    <td>Customer Service Operator</td>
                                    <td>12 Oct 1982</td>
                                    <td><span class="label label-success">Active</span></td>
                                    <td class="text-center">
                                        <ul class="icons-list">
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>

                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a href="#"><i class="icon-file-pdf"></i> Export to .pdf</a></li>
                                                    <li><a href="#"><i class="icon-file-excel"></i> Export to .csv</a></li>
                                                    <li><a href="#"><i class="icon-file-word"></i> Export to .doc</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Maxwell</td>
                                    <td>Maben</td>
                                    <td>Regional Representative</td>
                                    <td>25 Feb 1988</td>
                                    <td><span class="label label-danger">Suspended</span></td>
                                    <td class="text-center">
                                        <ul class="icons-list">
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>

                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a href="#"><i class="icon-file-pdf"></i> Export to .pdf</a></li>
                                                    <li><a href="#"><i class="icon-file-excel"></i> Export to .csv</a></li>
                                                    <li><a href="#"><i class="icon-file-word"></i> Export to .doc</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Cicely</td>
                                    <td>Sigler</td>
                                    <td><a href="#">Senior Research Officer</a></td>
                                    <td>15 Mar 1960</td>
                                    <td><span class="label label-info">Pending</span></td>
                                    <td class="text-center">
                                        <ul class="icons-list">
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>

                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a href="#"><i class="icon-file-pdf"></i> Export to .pdf</a></li>
                                                    <li><a href="#"><i class="icon-file-excel"></i> Export to .csv</a></li>
                                                    <li><a href="#"><i class="icon-file-word"></i> Export to .doc</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table> -->
                    </div>
                    <!-- /page length options -->

                    <!-- Footer -->
                    
                    <!-- /footer -->

                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>

    <!-- /page container -->

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="closeModel()" class="close">&times;</button>
                    <h4 class="modal-title">On Boarding</h4>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">Client</a></li>
                        <li><a data-toggle="tab" href="#menu1">Vendor</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">

                            <div class="panel panel-flat">
                                <table id="data" class="table datatable-dom-position">
                                    <thead>
                                        <tr>
                                            <th>Company Name</th>
                                            <th>Stage</th>
                                            <th>Status</th>
                                            <th>Next Step</th>
                                            <th>Last Update</th>
                                            <th>History</th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Marth</td>
                                            <td>1</td>
                                            <td>2</td>
                                            <td>3</td>
                                            <td>16-June-2018</td>
                                            <td>
                                                <button type="button" class="btn btn-info btn-float btn-rounded legitRipple" data-toggle="modal" data-target="#modal_iconified"><i class="glyphicon glyphicon-search"></i></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Jackelyn</td>
                                            <td>--</td>
                                            <td>--</td>
                                            <td>--</td>
                                            <td>16-June-2018</td>
                                            <td>
                                                <button type="button" class="btn btn-info btn-float btn-rounded legitRipple" data-toggle="modal" data-target="#modal_iconified"><i class="glyphicon glyphicon-search"></i></button>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>Jackelyn</td>
                                            <td>--</td>
                                            <td>--</td>
                                            <td>--</td>
                                            <td>16-June-2018</td>
                                            <td>
                                                <button type="button" class="btn btn-info btn-float btn-rounded legitRipple" data-toggle="modal" data-target="#modal_iconified"><i class="glyphicon glyphicon-search"></i></button>
                                            </td>

                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <div class="panel panel-flat">
                                <table class="table datatable-show-all">
                                    <thead>
                                        <tr>
                                            <th>Company Name</th>
                                            <th>Stage</th>
                                            <th>Status</th>
                                            <th>Next Step</th>
                                            <th>Last Update</th>
                                            <th>History</th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Marth</td>
                                            <td>--</td>
                                            <td>--</td>
                                            <td>--</td>
                                            <td>16-June-2018</td>
                                            <td>
                                                <button type="button" class="btn btn-info btn-float btn-rounded legitRipple" data-toggle="modal" data-target="#modal_iconified"><i class="glyphicon glyphicon-search"></i></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Jackelyn</td>
                                            <td>--</td>
                                            <td>--</td>
                                            <td>--</td>
                                            <td>16-June-2018</td>
                                            <td>
                                                <button type="button" class="btn btn-info btn-float btn-rounded legitRipple" data-toggle="modal" data-target="#modal_iconified"><i class="glyphicon glyphicon-search"></i></button>
                                            </td>

                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer" style="display: none;">
                        <button type="button" style="background-color:#00BCD4;" class="btn btn-default" onclick="closeModel()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modal_iconified" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title">History</h5>
                    <hr>
                </div>

                <div class="modal-body">

                    <div class="row">
                        <table class="table datatable-show-all">
                            <thead>
                                <tr>
                                    <th>Sr No.</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Activity</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>16-May-2018</td>
                                    <td>5:24 PM</td>
                                    <td>Project Started</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>17-May-2018</td>
                                    <td>5:24 PM</td>
                                    <td>Project Completed</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="modal-footer">
                    <button class="btn btn-link" data-dismiss="modal"><i class="icon-cross"></i> Close</button>

                </div>
            </div>
        </div>
	</div>
	
	<!-- modal_multiple_vendors -->
    <div id="modal_multiple_vendors" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="btn btn-link pull-right" data-dismiss="modal"><i class="icon-cross"></i> Close</button>
                    <h5 class="modal-title">Vendors</h5>
                    <hr>
                </div>

                <div class="modal-body">

                    <div class="row">
                    </div>

                </div>

                <div class="modal-footer">
                </div>
            </div>
        </div>
	</div>
	<!-- /modal_multiple_vendors -->
    {% include "reports/campaignreportsjs.html" %}
    <script>
        $(function () {
            $("#superadmin_reports").addClass("active");
            $("#superadmin_reports").find("ul").first().css({'display':'block'})
            // $("#campaigns").addClass("active");
            $("#superadmin_reports").show().focus().click();
			$("#superadmin_reports").find('ul li:eq(2)').addClass('active');
        });
    </script>
    <script>
            $(document).ready( function () {
                $('.example-2').progress_fnc();
            oTable = $('#myTable').DataTable({
                    "bFilter": true,
                    "pageLength": 10,
                     "order": [],
                     "aoColumnDefs": [{ "bSortable": false, "aTargets": [ 0, 1, 2, 3, 4, 5, 6 ] },],
                        // { "bSearchable": false, "aTargets": [ 0, 1, 2, 3 ] }
        
                });
        
                 $('#mySelector').change(function() {
                var selection = $(this).val();
                    console.log(selection);
                    oTable.columns(0).search(selection).page.len(10).draw();
              });
              $('#mySelector2').change(function() {
                var selection = $(this).val();
                    console.log(selection);
                    oTable.columns(1).search(selection).page.len(10).draw();
              });
            });
        </script>
        <script type="text/javascript">
        
        $(document).ready(function() {
               $('.progressStart').on('click', function() {
                var perent = $(this).closest("div").attr("id");
                $('#' + perent).progress_fnc({ type: 'start' });
              });
        
              $('.progressReset').on('click', function() {
                var perent = $(this).closest("div").attr("id");
                $('#' + perent).progress_fnc({ type: 'reset' });
              });
        
        });
        
        
        (function($) {
        
          $.fn.progress_fnc = function(options) {
            var settings = $.extend({
              type: 'start'
            }, options);
        
            var div = $(this);
                var progress = div.find('.cssProgress');
        
            progress.each(function() {
              var self = $(this);
              var progress_bar = self.find('.cssProgress-bar');
              var progress_label = self.find('.cssProgress-label, .cssProgress-label2');
              var progress_value = progress_bar.data('percent');
              var percentage = parseInt(progress_value, 10) + '%';
        
              progress_bar.css({'width': '0%', 'transition': 'none', '-webkit-transition': 'none', '-moz-transition': 'none'});
        
              if(settings.type == 'start') {
        
                progress_bar.animate({
                  width: percentage
                }, {
                  duration: 2000,
                  step: function(x) {
                    progress_label.text(Math.round(x) + '%');
                  }
                });
        
              } else if(settings.type == 'reset') {
                progress_bar.css('width', '0%');
                progress_label.text('0%');
              }
        
            });
          }
        
        }(jQuery));
            </script>
            <style type="text/css">
                .icons-list {
                    float: left;
                    text-align: center;
                    margin-left: 35px;
                    
                }
                
/* -----------------------------------------------------
  CSS Progress Bars
-------------------------------------------------------- */
.odd>th,td{
  border-bottom: 1px solid #d4c8c8!important;
}
#myTable>tbody>tr>th{
  border-bottom: 1px solid #d4c8c8!important;

}

/*.text-center>.icons-list {
    float: left;
}*/
/*.sorting_asc,.sorting{
  background: #dddddd91;
  text-align: center;
}*/
.cssProgress {
  width: 100%;
 /* margin-bottom: 20px;*/
}
.cssProgress .progress1,
.cssProgress .progress2,
.cssProgress .progress3 {
  position: relative;
  overflow: hidden;
  width: 90%;
  font-family: "Roboto", sans-serif;
}
.cssProgress .cssProgress-bar {
  display: block;
  float: left;
  width: 0%;
  height: 100%;
  background: #3798d9;
  box-shadow: inset 0px -1px 2px rgba(0, 0, 0, 0.1);
  transition: width 0.8s ease-in-out;
}
.cssProgress .cssProgress-label {
  position: absolute;
  overflow: hidden;
  left: 0px;
  right: 0px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  top: -2px;
  text-align: center;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.3);
}
.cssProgress .cssProgress-info {
  background-color: #9575cd;
}
.cssProgress .cssProgress-danger {
  background-color: #ef5350;
}
.cssProgress .cssProgress-success {
  background-color: #37d97feb;
}
.cssProgress .cssProgress-warning {
  background-color: #ffb74d;
}
.cssProgress .cssProgress-right {
  float: right !important;
}
.cssProgress .cssProgress-label-left {
  margin-left: 10px;
  text-align: left !important;
}
.cssProgress .cssProgress-label-right {
  margin-right: 10px;
  text-align: right !important;
}
.cssProgress .cssProgress-label2 {
  display: block;
  margin: 2px 0;
  padding: 0 8px;
  font-size: 0.8em;
}
.cssProgress .cssProgress-label2.cssProgress-label2-right {
  text-align: right;
}
.cssProgress .cssProgress-label2.cssProgress-label2-center {
  text-align: center;
}
.cssProgress .cssProgress-stripes,
.cssProgress .cssProgress-active,
.cssProgress .cssProgress-active-right {
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.125) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.125) 50%, rgba(255, 255, 255, 0.125) 75%, transparent 75%, transparent);
  background-size: 35px 35px;
}
.cssProgress .cssProgress-active {
  -webkit-animation: cssProgressActive 2s linear infinite;
  animation: cssProgressActive 2s linear infinite;
}
.cssProgress .cssProgress-active-right {
  -webkit-animation: cssProgressActiveRight 2s linear infinite;
  animation: cssProgressActiveRight 2s linear infinite;
}
@-webkit-keyframes cssProgressActive {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 35px 35px;
  }
}
@keyframes cssProgressActive {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 35px 35px;
  }
}
@-webkit-keyframes cssProgressActiveRight {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -35px -35px;
  }
}
@keyframes cssProgressActiveRight {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -35px -35px;
  }
}

/* -----------------------------------------------------
  Progress Bar 2
-------------------------------------------------------- */
.progress2 {
  background-color: #EEE;
  border-radius: 6px;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.progress2 .cssProgress-bar {
  height: 18px;
  border-radius: 0px;
}
.progress2 .cssProgress-label {
  line-height: 18px;
}
            </style>
    {% endblock %}