<script>
    $(document).ready(function() {
        $("#datatfootfilter").hide();
        $("#databtn").click(function() {
            $("#datatfootfilter").toggle();
        });
    });

    var chart = AmCharts.makeChart("chartdiv1", {
        "type": "pie",
        "theme": "light",
        "hideCredits": "true",
        labelsEnabled: false,
        autoMargins: false,
        marginTop: -30,
        marginBottom: 20,
        marginLeft: 30,
        marginRight: 20,
        "legend": {
            "horizontalGap": 10,
            "verticalGap": 3,
            "maxColumns": 5,
            "position": "bottom",
        },
        "titles": [{
            "align": "center",
            "text": "",
            "size": 16,
        }],

        "dataProvider": [{
            "country": "France",
            "visits": 414,
            "color": '#f4511e'
        }, {
            "country": "India",
            "visits": 384,
            "color": '#5e35b1'
        }, {
            "country": "Spain",
            "visits": 211,
            "color": '#757575'
        }, ],
        "valueField": "visits",
        "titleField": "country",
        "colorField": "color",
        "startEffect": "elastic",
        "startDuration": 2,
        "labelRadius": 15,
        "innerRadius": "30%",
        "depth3D": 10,
        "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
        "angle": 15,
        "export": {
            "enabled": true
        }
    });
    var chart = AmCharts.makeChart("chartdiv", {
        "type": "pie",
        "theme": "light",
        "hideCredits": "true",
        labelsEnabled: false,
        autoMargins: false,
        marginTop: -30,
        marginBottom: 20,
        marginLeft: 30,
        marginRight: 20,
        "legend": {
            "horizontalGap": 10,
            "verticalGap": 3,
            "maxColumns": 5,
            "position": "bottom",
        },
        "titles": [{
            "align": "left",
            "text": "",
            "size": 16,
        }],

        "dataProvider": [{
            "country": "France",
            "visits": 414,
            "color": '#d81b60'
        }, {
            "country": "India",
            "visits": 384,
            "color": '#aeea00'
        }, {
            "country": "Spain",
            "visits": 211,
            "color": '#3f51b5'
        }],
        "valueField": "visits",
        "titleField": "country",
        "colorField": "color",
        "startEffect": "elastic",
        "startDuration": 2,
        "labelRadius": 15,
        "innerRadius": "30%",
        "depth3D": 10,
        "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
        "angle": 15,
        "export": {
            "enabled": true
        }
    });
    var iScrollPos = 0;
    $(window).scroll(function() {
        var iCurScrollPos = $(this).scrollTop();
        var h = window.innerHeight;
        var scrolltop = $(window).scrollTop();
        var scrollBottom = $(window).scrollTop() + $(window).height();
        var current = $("body").scrollTop();
        if (scrolltop > 1) {
            //Scrolling Down
            $("div.sticky").fadeOut('slow');
        } else {
            //Scrolling Up
            $("div.sticky").fadeIn('slow');
        }
        iScrollPos = iCurScrollPos;
    });

    function openModal() {
        $("#on_boarding").hide();
        $('#myModal').modal();
    }

    function closeModel() {
        $("#on_boarding").show();
        $('#modal').modal('hide');
        $('#myModal').modal('hide');
    }
    $('#login').popover({
        placement: 'bottom',
        title: 'Popover Form',
        html: true,
        content: $('#myForm').html()
    }).on('click', function() {

        $("#searchzonearea1").change(function() {
            var searchzone1 = $("#searchzonearea1 option:selected").val();
            $.ajax({
                type: 'post',
                url: 'ajaxfiles/selectzone.php',
                data: 'searchzone1=' + searchzone1,
                success: function(data) {
                    $("#searchzonearea2").show();
                    $("#searchyear").show();
                    $("#searchzonearea2").html(data);
                },
                failure: function(error) {

                    $("#searchzonearea2").html(response).fadeIn();
                }
            });
        });
    });
</script>