{% extends "header/cheader.html"%}
{% load static %}
{% block scripts%}
{% include 'reports/lead_delivery/lead_delivery_Reportcss.html'%}
{% include 'reports/lead_delivery/lead_delivery_ReportHead.html'%}
{% endblock %}
{% block content %}

<div class="content" style="padding: 0px">
	<!-- Main content -->

	<!-- Content area -->
	<div class="panel" style="margin-top: 4%;">
		<div class="col-md-3">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				    <div class="panel panel-default">
				      <div class="panel-heading" role="tab" id="headingOne">
				        <h4 class="panel-title">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" >
				           <i class="fa fa-laptop"></i>Campaign Delivery Leads Report
				        </a>
				      </h4>
				      </div>
				      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
				        <div class="panel-body div_one">
							<div class="col-md-12 form-group">
								<label class="democheck"></label>	
								<label> Campaign Name </label>
								<select class="select-menu-color lead_filter" id="campaign_name_filter">

									<option value="0" selected disabled>Select Campaign</option>
									{% for camp in campaign_list%}
									{% if camp.status == 1 %}
									<option value="{{camp.id}}">{{camp.name}}</option>
									{% endif%}
									{%endfor%}
								</select>
							</div>
							<div class="col-md-12 form-group" style="padding: 0px;">
								<div class="col-md-5">
									<label> Start Date </label>
									<input type="text" class="lead_filter" id="datepicker_from" value="">
								</div>
								<div class="col-md-5">
									<label> End Date </label>
									<input type="text" class="lead_filter" id="datepicker_to" value="">
								</div>
								<div class="col-md-2">
									
									<button class="btn cross_btn reset_date">X</button></div>
							</div>
							<div class="col-md-12 form-group">
								<label> Vendor Name </label>
								<!-- <select class="select-menu-color multiselect lead_filter" id="campaign_vendor_filter">

									</select> -->
								<div class="multi-select-full">
									<select id="campaign_vendor_filter" class="select-menu-color lead_filter"
										multiple="multiple" required="true">
										<!-- <option>Select  Method</option> -->

									</select>
								</div>
							</div>
							<div class="col-md-12 form-group">
								<label> Status</label>
								<div class="multi-select-full">
									<select id="campaign_status_filter" class="select-menu-color lead_filter"
										multiple="multiple" required="true">
										<option value="0">Approval Pending</option>
										<option value="1">Approved</option>
										<option value="3">Rectify</option>
										<option value="4">Rectified</option>
										<option value="2">Rejected</option>
									</select>
								</div>
							</div>
							<!-- <div class="col-md-12">
									<label> Start Date </label>
									<input type="text" class="form-control lead_filter daterange-basic" id="date_filter" value="">
								</div> -->


							<!-- <div class="col-md-2">
										<label> TC-Status</label>
										<select class="select-menu-color lead_filter" id="campaign_tc_status_filter">
											<option value="AZ">Pending</option>
											<option value="CO">Assing</option>
											<option value="ID">Live</option>
											<option value="WY">Completed</option>
										</select>
									</div> -->
							<!-- <div class="col-md-12">
									<label> Geo</label>
									<select class="select-menu-color lead_filter" id="campaign_geo_filter">

									</select>
								</div> -->
							<!-- <div class="col-md-12">
									<button type="button" class="btn btn-primary apply_filter">
										Filter</button>
								</div> -->
						</div>
				      </div>
				    </div>
				  </div>
				<div class="panel-group" id="accordion">
					<div class="panel panel-default custom_filter_div hidden">
				      <div class="panel-heading" role="tab" id="headingTwo">
				        <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				          <i class="fa fa-filter" aria-hidden="true"></i>Custom Filter
				        </a>
				      </h4>
				      </div>
				      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				        <div class="panel-body custom_filter">
							<div class="col-md-12 form-group">
								<label>Industry</label>
								<div class="multi-select-full">
									<select id="industry" class="select-menu-color lead_filter lead_custom_filter"
										multiple="multiple" required="true">
									</select>
								</div>
							</div>
							<div class="col-md-12 form-group">
								<label>Job Title</label>
								<div class="multi-select-full">
									<select id="job_title" class="select-menu-color lead_filter lead_custom_filter"
										multiple="multiple" required="true">
									</select>
								</div>
							</div>
							<div class="col-md-12 form-group">
								<label>Country</label>
								<div class="multi-select-full">
									<select id="country" class="select-menu-color lead_filter lead_custom_filter"
										multiple="multiple" required="true">
									</select>
								</div>
							</div>
							<div class="col-md-12 form-group">
								<label>Company Size</label>
								<div class="multi-select-full">
									<select id="company_size" class="select-menu-color lead_filter lead_custom_filter"
										multiple="multiple" required="true">												
									</select>
								</div>
							</div>
							<div class="col-md-12 form-group">
								<label>Revenue Size</label>
								<div class="multi-select-full">
									<select id="revenue_size" class="select-menu-color  lead_filter lead_custom_filter"
										multiple="multiple" required="true">
									</select>
								</div>
							</div>
						</div>
				      </div>
				    </div>
				</div>
			
		</div>
		<div class="col-md-9 table_div" style="height:90vh!important;overflow: hidden;overflow-y: scroll;">

			<!-- <div class="panel card">
					<div class="panel-body">
						<div class="col-md-12 ">
							<ul class="bootstrap-tagsinput" id="filter_ul">
								<li class="tag label label-info" id="campaign_name_filter_span"></li>
								<li class="tag label label-info" id="campaign_start_date_filter_span"></li>
								<li class="tag label label-info" id="campaign_status_filter_span"></li>
								<li class="tag label label-info" id="campaign_vendor_filter_span"></li>
								<li class="tag label label-info" id="campaign_tc_status_filter_span"></li>
								<li class="tag label label-info" id="campaign_geo_filter_span"></li>
							</ul>
						</div>
					</div>
				</div> -->

			<div class="panel panel-flat col-md-12 box-table " style="height:89vh!important;overflow: hidden;overflow-y: scroll;">
				<div class="div_loader hidden"></div>
				<div class="no_data">Please Select Campaign</div>
				{% for camp in campaign_list%}
					{% if camp.status == 1 %}
					<div class="table_div_{{camp.id}}">
						<div class="table-responsive-sm lead_table camp_lead_{{camp.id}} hidden">
							<table class="table datatable leadReport_table" id="leadReport_table_{{camp.id}}">
								<thead>
									
								</thead>
								<tbody>
		
								</tbody>
							</table>
							<div class="cover-bar"></div>
						</div>
					</div>
					{% endif%}
				{%endfor%}
				
			</div>

		</div>
		<!-- Charts Start-->
		<div class="col-md-9 chart_div hidden" >
			<!-- Pie chart-->
			<div class="panel panel-flat col-md-6 lead_pie">
				<div class="panel-heading">
					<center>
						<h5 class="panel-title">Campaign Delivery Leads Reports </h5>
					</center>
				</div>
				<div id="chartdiv"></div>
			</div>
			<!--End Pie Chart-->

			<!--Start Line Chart-->
			<div class="panel panel-flat col-md-6 lead_bar">
				<div class="panel-heading">
					<center>
						<h5 class="panel-title">Campaign Delivery Leads Reports </h5>
					</center>
				</div>
				<div id="chartdiv2"></div>
			</div>
			<!--End Line Chart-->

			<!--Start Stack Bar Chart-->
			<div class="panel panel-flat col-md-12 lead_stack_bar">
				<div class="panel-heading">
					<center>
						<h5 class="panel-title">Campaign Delivery Leads Reports </h5>
					</center>
				</div>
				<div id="chartdiv1"></div>
			</div>
			<!--End Stack Bar Chart-->
		</div>
	</div>
</div>

{% include 'reports/lead_delivery/lead_delivery_report_filterjs.html'%}
{% include 'reports/lead_delivery/lead_delivery_Reportjs.html'%}

{% endblock %}