<script>

    var campaign_id = vendor_id = tc_status = start_date = end_date = geo = 0
    var table
    var theIndex
    var custom
    // lead filter report js    
    $(document).ready(function () {
        $("#datepicker_from").flatpickr(
            {
                altInput: true,
                altFormat: "F j, Y",
                dateFormat: "Y-m-d",

            });
        $("#datepicker_to").flatpickr(
            {
                altInput: true,
                altFormat: "F j, Y",
                dateFormat: "Y-m-d",

            });

        $('.switch').click(e => {
            $('.table_div').toggleClass('hidden')
            $('.chart_div').toggleClass('hidden')
        })
        $('.lead_filter').on('change', function () {
            filter_id = $(this).attr('id'); //get id of filters
            selected_id = $(this).val();   // get values from filters
            assing_ids(filter_id, selected_id); // assing values in global variables
            selected_text = $(this).find("option:selected").text(); //get selected text of filters
            span_filter_id = '#' + filter_id + '_span';
            close_filter_id = filter_id + '_close';
            if (selected_text != '' && selected_text != "Select Campaign") {
                selected_text = `${selected_text} <span class="close_filter" filter_id="${filter_id}" id="${span_filter_id}"><i class="fa fa-times" aria-hidden="true"></i></span>`;
                $(span_filter_id).show();
                $(span_filter_id).html(selected_text);
            } else {
                if (selected_text == "Select Campaign") {
                    $('#leadReport_table').DataTable().clear()
                    $('#leadReport_table thead tr').empty();
                    $('#leadReport_table').DataTable().destroy()
                    $('#campaign_vendor_filter').empty()
                }
            }
            load_data_table()
        });

        //close Filter function
        $('#filter_ul').on('click', '.close_filter', function (event) {
            close_filter_id = $(this).attr('id');
            if (filter_id == 'campaign_name_filter')
                $(close_filter_id).hide();
            else if (filter_id == 'campaign_status_filter')
                $(close_filter_id).hide();
            else if (filter_id == 'campaign_vendor_filter')
                $(close_filter_id).hide();
            else if (filter_id == 'campaign_tc_status_filter')
                $(close_filter_id).hide();
            else if (filter_id == 'campaign_geo_filter')
                $(close_filter_id).hide();
        });

        //set data in global variables.
        function assing_ids(filter_id, id) {
            if (filter_id == 'campaign_name_filter') {
                campaign_id = id
                load_vendor_list(campaign_id);
                load_campaign_geo(campaign_id);
            }
            else if (filter_id == 'datepicker_from')
                start_date = id
            else if (filter_id == 'datepicker_to')
                end_date = id
            else if (filter_id == 'campaign_status_filter')
                status = id
            else if (filter_id == 'campaign_vendor_filter')
                vendor_id = id
            else if (filter_id == 'campaign_tc_status_filter')
                tc_status = id
            else if (filter_id == 'campaign_geo_filter')
                geo = id
        }

        //load vendor list according to campaign 
        function load_vendor_list(campaign_id) {
            if (campaign_id > 0) {
                token = getCookie('csrftoken');
                $.ajax({
                    type: 'post',
                    url: '/client/ajax/get_vendor_list_campaign/',
                    data: { 'camp_id': campaign_id, csrfmiddlewaretoken: token },
                    success: function (data) {
                        // $('#campaign_vendor_filter').html(data);
                        // console.log(data)
                        // vendor = JSON.parse(data.vendors)
                        $('#campaign_vendor_filter').empty()
                        data.vendors.forEach(element => {
                            $option = $('<option />')
                            $($option).val(`${element.id}`)
                            $option.append(`<label><input type="checkbox" value="${element.id}" >${element.name}</label>`)
                            $('#campaign_vendor_filter').append($option)
                        })
                    },
                    failure: function (error) {
                        alert("fail");
                    }
                });
            }
        }
        //load geo list according to campaign 
        function load_campaign_geo(campaign_id) {
            if (campaign_id > 0) {
                token = getCookie('csrftoken');
                $.ajax({
                    type: 'post',
                    // url: '/client/ajax/get_geo_list_campaign/',
                    data: { 'camp_id': campaign_id, csrfmiddlewaretoken: token },
                    success: function (data) {
                        $('#campaign_geo_filter').html(data);
                    },
                    failure: function (error) {
                        alert("fail");
                    }
                });
            }
        }
        //create CREF token
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $('#datepicker_from, #datepicker_to').change(function () {
            // $('#leadReport_table').DataTable().draw();
            start_date = $('#datepicker_from').val()
            end_date = $('#datepicker_to').val()
            console.log(start_date + end_date)
            if (start_date != '' && end_date != '') {
                $('#campaign_start_date_filter_span').show();
                selected_text = `${$('#datepicker_from').next('input').val()} - ${$('#datepicker_to').next('input').val()}<span class="close_filter" filter_id="date_filter" id="#campaign_start_date_filter_span"><i class="fa fa-times" aria-hidden="true"></i></span>`;
                $('#campaign_start_date_filter_span').html(selected_text);
            }
        });

        custom = []
        $(document).on('change','.lead_custom_filter',function(){
            var name = $(this).attr('id')
            $('.lead_custom_filter').each(function(element) {
                if (name == $(this).attr('id')){
                    if (custom.length > 0){
                        inserted_ele = custom.map(function (el) { return Object.keys(el)[0];})
                        if (inserted_ele.includes(name)){
                            index = inserted_ele.indexOf(name)
                           if ($(this).val() != null){
                               custom[index][name] = $(this).val()
                           } else {
                                // custom.pop(index)
                                if (index > -1) {
                                    custom.splice(index, 1);
                                }
                           }
                        } else{ 
                            if ($(this).val() != null){
                            custom.push({[name]:$(this).val()})    
                            }
                        }
                    } else{
                        if ($(this).val() != null){
                            custom.push({[name]:$(this).val()})
                        }
                    }
                    console.log(custom)
                }
            })
            load_data_table()
        })

        function load_data_table() {
            if (campaign_id > 0) {
                token = getCookie('csrftoken');
                $(".no_data").addClass('hidden')
                $(".div_loader").removeClass('hidden')
                $.ajax({
                    type: 'post',
                    url: '/client/ajax/lead_report_table_data/',
                    data: { 'camp_id': campaign_id, 'vendor_id': vendor_id, 'status': status, 'start_date': start_date, 'end_date': end_date, 'custom':JSON.stringify(custom),'csrfmiddlewaretoken': token },
                    success: function (data) {
                        console.log(data.all_headers)
                        columnArray = data.all_headers
                        hide_headers = ['batch', 'reason', 'lead_desc', 'time', 'campany_count']
                        columnArray = data.all_headers.filter(function (el) {
                            return !hide_headers.includes(el);
                        });
                        $('.lead_table').addClass('hidden')
                        if (columnArray.length > 0){

                            $(`.camp_lead_${campaign_id}`).removeClass('hidden')
                            // $('#leadReport_table thead').empty();
                            // $tr = $('<tr />')
                            sort_col_arr = []
                            for (var j = 0; j < columnArray.length; j++) {
                                var parsedJson = $.parseJSON(JSON.stringify(columnArray[j]))
                                var mTitles = parsedJson["name"];
                                if (parsedJson == 'id') {
                                    sort_col_arr.unshift(parsedJson)
                                    // $tr.prepend("<th>" + parsedJson + "</th>");
                                } else if (parsedJson != 'status' && parsedJson != 'TC_lead_status' && parsedJson != 'id' && parsedJson != 'batch') {
                                    sort_col_arr.push(parsedJson)
                                    // $tr.append("<th>" + parsedJson + "</th>");
                                } else if (parsedJson == 'status' || parsedJson == 'TC_lead_status') {
                                    sort_col_arr[ sort_col_arr.length ] = parsedJson
                                    // $tr.append("<th>" + parsedJson + "</th>");
                                }
                            };
                            // $('#leadReport_table thead').append($tr)
                            insert_leads(campaign_id,data,sort_col_arr)
                        } else{
                            $('.leadReport_table thead').empty();
                            $('.lead_table').addClass('hidden')
                            $(".no_data").text('No Leads Found')
                            $(".no_data").removeClass('hidden')
                        }
                        $(".div_loader").fadeOut("slow");
                        $(".div_loader").css('display','block')
                        $(".div_loader").addClass('hidden')
                        if (data.custom_filter.length != 0) {
                            custom_filter(data)
                        }
                        if (data.submitted_leads.length != 0) {
                            $('.switch_div').removeClass('hidden')
                            set_pie_chart(data.PieChartData)
                            set_stack_chart(data.StackChartData)
                            set_line_chart(data.LineChartData)
                        }
                        theIndex = $('.leadReport_table tr').first().children().filter(function () {
                            return ($(this).text() == 'date');
                        }).index();

                    },
                    failure: function (error) {
                        alert("fail");
                    }
                });
            }
        }
    });
    function insert_leads(campaign_id,data, headers) {
        leads = $.parseJSON(JSON.stringify(data.submitted_leads))
        // headers = []
        // var columns = $('#leadReport_table').dataTable().dataTableSettings[0].aoColumns;
        // $.each(columns, function (i, v) { headers.push(v.sTitle); });
        // console.log($('#leadReport_table').dataTable().dataTableSettings[0].aoColumns)
        innerArray = []
        outerArray = []
        aoColumns_data = []
        if (leads != []) {

            leads.forEach(element => {
                innerArray = []
                headers.forEach(header => {
                    if (header == 'status') {
                        if (element[header] == 0) {
                            innerArray.push(`<span class="label label-info"> Approval Pending</span>`)
                        }
                        else if (element[header] == 1) {
                            innerArray.push(`<span class="label label-success"> Approved</span>`)
                        }
                        else if (element[header] == 2) {
                            innerArray.push(`<span class="label label-danger"> Rejected</span>`)
                        }
                        else if (element[header] == 3) {
                            innerArray.push(`<span class="label label-info" style="background-color:#c14a25;border-color:#c14a25;">
                        Rectify</span>`)
                        }
                        else if (element[header] == 4) {
                            innerArray.push(`<span class="label label-info"> Rectified</span>`)
                        }
                    } else if (header == 'TC_lead_status') {
                        if (element[header] == 'valid lead') {
                            innerArray.push(`<span class="label remove label-success" 
                            data-placement="bottom" title="Approve Lead From TC">
                            Approved</span>`)
                        } else {
                            innerArray.push(`<span class="label remove label-danger" 
                            data-placement="bottom" title="${element[header]}">
                            Rejected</span>`)
                        }
                    } else {
                        if (element[header] == "" || element[header] == null) {
                            innerArray.push('--')
                        } else {
                            innerArray.push(element[header])
                        }
                    }
                    
                })
                outerArray.push(innerArray)
            });
            headers.forEach(header => {
                // aoColumns_data.push({'title':`${header}`})
                var my_item = {};
                // my_item.data = header;
                my_item.title = header;
                aoColumns_data.push(my_item);
            })
            $('.democheck').empty().prepend(headers.length)
            console.log(aoColumns_data)
            // console.table(outerArray)
            $(`#leadReport_table_${campaign_id}`).DataTable({
                "destroy": true,
                "bProcessing": true,
                "aoColumns":aoColumns_data,
                "data": outerArray,
                "bInfo": true,
                "bPaginate": true,
                "scrollX": true,
                "scrollY": true,
                dom: 'Blfrtip',
                buttons: [
                    'csv'
                ]
            })

        } else {
            $('.leadReport_table').dataTable({
                "destroy": true,
                "bProcessing": true,
                "data": outerArray,
            })
        }


    }

    // pasting custom filter in page
    function custom_filter(data) {
        columnArray = data.all_headers
        filter_data = $.parseJSON(JSON.stringify(data.custom_filter))
        $('.custom_filter_div').removeClass('hidden')
        filter_data.forEach(element => {
            // filter = $(`<select class="form-control lead_filter lead_custom_filter" id="${Object.keys(element)[0]}" >
            //     <option value=""> --- </option>
            //     </select>`)
            filter = $(`#${Object.keys(element)[0]}`)
            filter.empty()
            filter_data = element[Object.keys(element)[0]]
            // console.log(custom)

            selecte_ele = custom.map(function (el) { return Object.keys(el)[0];})
            if (selecte_ele.includes(Object.keys(element)[0])){
                index = selecte_ele.indexOf(Object.keys(element)[0])
                selecte_values = custom[index][Object.keys(element)[0]]
                if (filter_data.length > 0) {
                    filter_data.forEach(filter_option => {
                        if (selecte_values != null){
                            if (selecte_values.includes(filter_option)){
                                filter.append(`<option value="${filter_option}" selected>${filter_option}</option>`)
                            } else{
                                filter.append(`<option value="${filter_option}">${filter_option}</option>`)
                            }
                        } else {
                            filter.append(`<option value="${filter_option}">${filter_option}</option>`)
                        }
                    })
                } else {
                    filter.hide()
                }
            } else{
                if (filter_data.length > 0) {
                    filter_data.forEach(filter_option => {
                        filter.append(`<option value="${filter_option}">${filter_option}</option>`)
                    })
                } else {
                    filter.hide()
                }
            }
            $('.lead_custom_filter').each(function() {
                if ($(this).children().length == 0){
                    $(this).parent('div .form-group').hide()
                }
                // if (columnArray.includes($(this).attr('id').charAt(0).toUpperCase() + $(this).attr('id').slice(1))){
                //     $(this).parent('div .form-group').hide()
                // }
            })
            // select_div = $(`<div class="col-md-12 form-group">
            //         <label> ${Object.keys(element)[0]} </label>
            //         </div>`)
            // select_div.append(filter)
            // if ($('.custom_filter').is(':empty')) {
            //     $('.custom_filter').html(select_div)
            // } else {
            //     $('.custom_filter').append(select_div)
            // }
        })

    }

    $(document).on('click', '.reset_date', function () {
        $('#datepicker_from').val('');
        $('#datepicker_from').next('input').val('');
        $('#datepicker_to').val('');
        $('#datepicker_to').next('input').val('');
        $('#campaign_start_date_filter_span').hide()
        start_date = end_date = 0
        $(`#datepicker_to`).trigger('change')
    })  
</script>