<script>


	// Themes begin
	am4core.useTheme(am4themes_animated);
	// Themes end

	// Add data

	// chart.data = [{
	//   "Campaign": "HipSolution",
	//   "Approved Leads": 10,
	//   "Reject Leads": 20,
	//   "Submited Leads": 30,
	//   "Assing Leads": 66,
	//   // "meast": 0.2,
	//   // "africa": 0.1
	// }, {
	//   "Campaign": "TcMachBizz",
	//   "Approved Leads": 25,
	//   "Reject Leads": 5,
	//   "Submited Leads": 30,
	//   "Assing Leads": 50,
	// },{
	//   "Campaign": "Vlms Global Solution",
	//   "Approved Leads": 48,
	//   "Reject Leads": 7,
	//   "Submited Leads": 55,
	//   "Assing Leads": 70,
	// }];

	function set_stack_chart(data) {
		// Create chart instance
		var chart = am4core.create("chartdiv1", am4charts.XYChart);

		stackdata = $.parseJSON(JSON.stringify(data))
		// console.log(`set_stack_chart:${stackdata}`)
		chart.data = stackdata
		chart.dataSources = stackdata

		// Create axes
		var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
		categoryAxis.dataFields.category = "Name";
		categoryAxis.renderer.grid.template.location = 0;

		var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
		valueAxis.renderer.inside = true;
		valueAxis.renderer.labels.template.disabled = true;
		valueAxis.min = 0;

		// Create series
		function createSeries(field, name) {

			// Set up series
			var series = chart.series.push(new am4charts.ColumnSeries());
			series.name = name;
			series.dataFields.valueY = field;
			series.dataFields.categoryX = "Name";
			series.sequencedInterpolation = true;

			// Make it stacked
			series.stacked = true;

			// Configure columns
			// series.columns.template.width = am4core.percent(60);
			series.columns.template.tooltipText = "[bold]{name}[/]\n[font-size:14px]{categoryX}: {valueY}";

			// Add label
			var labelBullet = series.bullets.push(new am4charts.LabelBullet());
			labelBullet.label.text = "{name}";
			labelBullet.locationY = 0.5;

			return series;
		}

		createSeries("Approved Leads", "Approved Leads");
		createSeries("Reject Leads", "Reject Leads");
		createSeries("Submited Leads", "Submited Leads");
		// createSeries("Assing Leads", "Assing Leads");

		// Legend
		chart.legend = new am4charts.Legend();
	}

</script>


<script>
	// Themes begin
	// Themes end
	am4core.useTheme(am4themes_animated);
	piechart_data = []
	function set_pie_chart(data) {
		// Create chart instance
		var chart = am4core.create("chartdiv", am4charts.PieChart);


		// Add data
		piechart_data = $.parseJSON(JSON.stringify(data))
		// console.log(`set_pie_chart:${piechart_data}`)
		chart.data = piechart_data
		chart.dataSources = piechart_data

		// Add and configure Series
		var pieSeries = chart.series.push(new am4charts.PieSeries());
		pieSeries.dataFields.value = "leads";
		pieSeries.dataFields.category = "name";
		pieSeries.slices.template.stroke = am4core.color("#fff");
		pieSeries.slices.template.strokeWidth = 2;
		pieSeries.slices.template.strokeOpacity = 1;

		// This creates initial animation
		pieSeries.hiddenState.properties.opacity = 1;
		pieSeries.hiddenState.properties.endAngle = -90;
		pieSeries.hiddenState.properties.startAngle = -90;
	}




</script>

<!-- Chart code -->
<script>
	// Themes begin
	am4core.useTheme(am4themes_animated);
	// Themes end
	function set_line_chart(data) {

		linechartdata = $.parseJSON(JSON.stringify(data))
		// console.log(`set_line_chart:${linechartdata}`)
		// Create chart instance
		var chart = am4core.create("chartdiv2", am4charts.XYChart);
		chart.data = linechartdata
		chart.dataSources = linechartdata
		// Create axes
		var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
		var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

		// // Create series
		var series = chart.series.push(new am4charts.LineSeries());
		series.dataFields.valueY = "count";
		series.dataFields.dateX = "date";
		series.tooltipText = "{vname}:{count} "
		series.strokeWidth = 2;
		series.minBulletDistance = 15;

		// Drop-shaped tooltips
		series.tooltip.background.cornerRadius = 20;
		series.tooltip.background.strokeOpacity = 0;
		series.tooltip.pointerOrientation = "vertical";
		series.tooltip.label.minWidth = 40;
		series.tooltip.label.minHeight = 40;
		series.tooltip.label.textAlign = "middle";
		series.tooltip.label.textValign = "middle";

		// Make bullets grow on hover
		var bullet = series.bullets.push(new am4charts.CircleBullet());
		bullet.circle.strokeWidth = 2;
		bullet.circle.radius = 4;
		bullet.circle.fill = am4core.color("#fff");

		var bullethover = bullet.states.create("hover");
		bullethover.properties.scale = 1.3;

		// Make a panning cursor
		chart.cursor = new am4charts.XYCursor();
		chart.cursor.behavior = "panXY";
		chart.cursor.xAxis = dateAxis;
		chart.cursor.snapToSeries = series;

		chart.events.on("ready", function () {
			dateAxis.zoom({ start: 0, end: 1 });
		});
}



</script>



<script>
	$(document).ready(function () {
		$(".top-pie").click(function () {
			$(".table").hide();
			$(".box-table").show();

			$(".datatable-footer").hide();
			$(".datatable-header").hide();
			$(".DTFC_ScrollWrapper").hide();
		});
	});
</script>
<!-- <script>
var slider = document.getElementById("myRange");
var output = document.getElementById("range");
output.innerHTML = slider.value;

slider.oninput = function() {
  output.innerHTML = this.value;
}
</script> -->


<!-- <script>
var slider = document.getElementById("second");
var output = document.getElementById("range1");
output.innerHTML = slider.value;

slider.oninput = function() {
  output.innerHTML = this.value;
}
</script> -->