body {
    font-size: 14px;
}
    

.navbar .navbar-inverse {
    background-color: #ffffff;
    border-color: #27324652;
}

.content {
    padding: 0 18px 20px 20px;
}

.panel-body {
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar {
    background-color: #ffffff;    
    webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.navbar-inverse .navbar-nav > li > a {
    color: rgba(45, 43, 43, 0.7);
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: rgba(45, 43, 43, 0.9);
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
     color: rgba(45, 43, 43, 0.9);
}

.navbar-brand > img {
    margin-top: -7px;
    height: 181%;
    width: 93%;
}
.navbar-inverse {
    background-color: #ffffff;
    border-color: #27324652;

     webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.divider {
    height: 2px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.nv >li:hover
{
    
    color:white;
}
.sidebar-default .navigation > li.active > a, 
.sidebar-default .navigation > li.active > a:hover,
 .sidebar-default .navigation > li.active > a:focus {
    background-color: #e3dada;
    color: #333333;
}

/*icon size*/
.siz
{
    color:red;
    font-size:18px;
}
.sizu
{
    color:#4f4fd1;
    font-size:18px;
}
.sizc
{
    color:#aaa80e;
    font-size:18px;   
}
.sizl
{
    color:#4f4fd1;
    font-size:18px;   
}
.sizs
{
    color:#03030f;
    font-size:18px;   
}
.sizf
{
    color:#151513;
    font-size:20px;   
}
.sizp
{
    color:#0ead37;
    font-size:18px;
}
.sizug
{
    color:#0c1401b3;
    font-size:18px;
}

.sizr
{
    height: 25px;
    width:22px;
}

/*Panel Users Icon*/
.sizur
{
    font-size: 40px;
}
/*Font Weight */
.fontweight
{
    font-weight: 700;
}
.callagents
{
    height: 52px;
    width:47px;
}
/*Panel Users Icon*/
/*Row*/

/*Row*/
/*Table*/
.tableheder
{
    font-weight: 700;
    padding-left: 10px;
}
.logo1
{
    border-color: black;
}
#chartdiv {
  width: 100%;
  height: 500px;
  margin: 0 auto;
}
.bt1:hover
{
    background:grey;
    color:white;
}
.btn-primary {
    color: #333333;
    background-color: rgba(153, 153, 153, 0.35);
    border-color: rgba(255, 255, 255, 0.15);
}
#pie
{
    height:500px;
    width:100%;
}
.drp
{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 5px;
}
