{% extends 'header/header.html' %}

{% load static %}
{% block content %}
<body style="background:#fff;">
	<div class="jumbotron text-center" style="padding-top:80px;background-color: #ffffff;">
	  <h1 class="display-3"><span>Thank You!<span></h1><br>
	  <p class="lead"><strong>Your Onboarding Application Is Being Reviewed</strong> </p>
		<p class="lead">You will get a confirmation email soon.</p>
	  <br>
	  <!-- <p>
	    Having trouble? <a href="">Contact us</a>
	  </p> -->

	</div>
	<div class="text-center">
		<p class="lead">
	    <a class="btn btn-primary btn-sm" href="logout/" role="button">Go to login</a>
	  </p>
	
	</div>
<style type="text/css">
	.display-3 span{
		border-bottom: 2px solid #2296f3 ; 
		color: #2296f3;
	}
	.lead{
		font-weight: inherit!important;
	}
</style>
</body>
{% endblock %}
