
/*****************************/
/** draggable ****************/
.draggable_container {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
}
.grid {
  position: relative;
  width: 100%;
  background: transparent;
  /* border: 5px solid transparent; */
  padding: 7px;
}
.item {
  /* position: absolute;
  z-index: 1; */
  /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-dragging {
  z-index: 3;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
  /* text-align: center; */
  background: white;
  font-size: 1.15em;
  color: #404646;
  /* cursor: pointer; */
  padding: 8px;
  border-radius: 4px;
}
.grid-2 .item-content {
  /*background: green;*/
  background: #fff;
}

.item.muuri-item-dragging .item-content,
.item.muuri-item-releasing .item-content {
  /*background: blue;*/
  background: #ffffffd9;
}

.grid-2 .item{
  position: absolute;
  width: 100%;
  border-bottom: 3px solid grey;
}

.grid-1 .item {
  position: absolute;
  border-bottom: 1px solid grey;
  /* dynamc calculate will show blurred type while dragging*/
  /*width: calc(100% - 10px);*/
  /* so give fixed width */
  /*width: 300px;*/
  width: 100%; /* works after removing animation delay effect from murri js */
}


/*** page *******************/
.grid-1 .item-content:hover
{
  background: #ddd;
}
.bg-transparent
{
  background:transparent;
}

.grid-2
{
  background: #f3f3f347;
  /* min-height: 300px; */
  height: auto;
}

.item .form-group
{
  margin-bottom:5px!important;
}
.icon-container
{
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 100;
}

.icon-container .remove-item:hover 
{
  background: #f44336e0;
}

.icon-container .edit-item:hover 
{
  background: #00bcd4;
}

.icon-container .copy-item:hover 
{
  background: #4caf50;
}

.icon-container .icons-list li
{
  margin-left: 0px;
}
.icon-container .icons-list li i
{
  padding: 5px;
}
.grid-2 .item:hover  .icon-container{
  display: block !important;
}

.close-icon:hover
{
  background: red;
}
.padding1
{
  padding: 1px;
}
.add-option, .set-option-action
{
  background: transparent;
  color: #2196f3;
}
.mg-top5
{
 margin-top:5px;
}
.modal-footer {
  padding-bottom: 0px;
}

.add-option:hover, .add-option:focus, 
.set-option-action:hover, .set-option-action:focus
{
  color: #2196f3;
}
.modal-body select {
  padding-bottom: 0px !important;
  padding-top: 0px!important;
}
.modal-header
{
  padding-top: 0px;
}
.get-output
{
  padding-left: 17px;
  padding-top: 30px;
}