<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <title>urls.py</title>
  <link rel="stylesheet" href="../pycco.css">
</head>
<body>
<div id='container'>
  <div id="background"></div>
  <div class='section'>
    <div class='docs'><h1>urls.py</h1></div>
  </div>
  <div class='clearall'>
  <div class='section' id='section-0'>
    <div class='docs'>
      <div class='octowrap'>
        <a class='octothorpe' href='#section-0'>#</a>
      </div>
      <p>from current folder import all views</p>
    </div>
    <div class='code'>
      <div class="highlight"><pre><span class="kn">from</span> <span class="nn">django.urls</span> <span class="kn">import</span> <span class="n">path</span></pre></div>
    </div>
  </div>
  <div class='clearall'></div>
  <div class='section' id='section-1'>
    <div class='docs'>
      <div class='octowrap'>
        <a class='octothorpe' href='#section-1'>#</a>
      </div>
      
    </div>
    <div class='code'>
      <div class="highlight"><pre><span class="kn">from</span> <span class="nn">.</span> <span class="kn">import</span> <span class="n">views</span></pre></div>
    </div>
  </div>
  <div class='clearall'></div>
  <div class='section' id='section-2'>
    <div class='docs'>
      <div class='octowrap'>
        <a class='octothorpe' href='#section-2'>#</a>
      </div>
      <h1></h1>
<p>namespacing URL names
so we can use href=&rdquo;{% url &lsquo;dashboard:basic&rsquo;%}&rdquo;</p>
<h1></h1>
    </div>
    <div class='code'>
      <div class="highlight"><pre><span class="n">app_name</span> <span class="o">=</span> <span class="s">&#39;form&#39;</span>

<span class="n">urlpatterns</span> <span class="o">=</span> <span class="p">[</span>
    <span class="n">path</span><span class="p">(</span><span class="s">&#39;builder&#39;</span><span class="p">,</span> <span class="n">views</span><span class="o">.</span><span class="n">index</span><span class="p">,</span> <span class="n">name</span><span class="o">=</span><span class="s">&#39;form_builder&#39;</span><span class="p">),</span>
    <span class="n">path</span><span class="p">(</span><span class="s">&#39;store_question/&#39;</span><span class="p">,</span> <span class="n">views</span><span class="o">.</span><span class="n">store_question</span><span class="p">,</span> <span class="n">name</span><span class="o">=</span><span class="s">&#39;store_question&#39;</span><span class="p">),</span>
    <span class="n">path</span><span class="p">(</span><span class="s">&#39;view_custome_question_pdf/&lt;int:camp_id&gt;&#39;</span><span class="p">,</span> <span class="n">views</span><span class="o">.</span><span class="n">make_custome_question_pdf</span><span class="p">,</span> <span class="n">name</span><span class="o">=</span><span class="s">&#39;make_custome_question_pdf&#39;</span><span class="p">),</span>
    <span class="n">path</span><span class="p">(</span><span class="s">&#39;builder_example&#39;</span><span class="p">,</span> <span class="n">views</span><span class="o">.</span><span class="n">example</span><span class="p">,</span> <span class="n">name</span><span class="o">=</span><span class="s">&#39;form_builder_example&#39;</span><span class="p">),</span>
<span class="p">]</span>

</pre></div>
    </div>
  </div>
  <div class='clearall'></div>
</div>
</body>
