{% extends "header/cheader.html" %}
<!-- Main sidebar -->
{% block content %} {% include "side/clientside.html" %} {% include "campaign_life_cycle/campaign_lifecycle_head.html" %}
<!-- /main sidebar -->
<!-- Main content -->
{% load range %} {% load humanize %} {% load static %} {% load custom_filters %}

<div class="content-wrapper">
    <div class="content">
        <!-- Detached content -->
        <div class="container-detached col-md-9">
            <div class="content-detached">

                <!-- Invoice grid options -->
                <div class="navbar navbar-default navbar-xs navbar-component" id="nav_" style="position:fixed;
                      margin-top: -6px!important;z-index: 999;box-shadow: 0px -20px 9px rgb(255, 247, 247), 0 1px 2px rgba(0, 0, 0, 0.24);">
                    <ul class="nav navbar-nav no-border visible-xs-block">
                        <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-filter"><i
                  class="icon-menu7"></i></a></li>
                    </ul>

                    <div class="navbar-collapse collapse" id="navbar-filter">
                        <p class="navbar-text">Filter:</p>
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle daterange-basic" data-toggle="dropdown"><i
                                  class="icon-sort-time-asc position-left"></i> By <span id="date_filter">date</span> <span
                                  class="caret"></span></a>
                            </li>
                            <!-- vendor filter -->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle vendor_button" data-toggle="dropdown"><i
                                  class="icon-sort-amount-desc position-left"></i> By <span id="user_filter">users</span> <span
                                  class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <!-- All vendor ids for vendor filter class='ids'-->
                                    <input type="hidden" class="ids" value="{{vendor_ids}}">
                                    <!-- client id for filter  -->
                                    <input type="hidden" class="client_id" value="{{user_id}}">
                                    <!-- All campaign dates for date filter -->
                                    <input type="hidden" class="dates_" value="{{campaign_dates}}">
                                    <li onclick="all_filter(-1,'All')" id="all_vendor">
                                        <a>
                                            <label>All</label>
                                        </a>
                                    </li>
                                    <!-- <li  id="filter_-2"><a><label >{{user_name}}</label></a></li> -->
                                    {% for vendor_name, id in vendors_dict.items %}

                                    <li onclick="vendor_filter('{{id}}','{{vendor_name}}')">
                                        <a>
                                            <label>{{vendor_name}}</label>
                                        </a>
                                    </li>

                                    {% endfor %}
                                </ul>
                            </li>
                            <!-- Actions filter -->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle all_action_button" data-toggle="dropdown"><i
                                    class="glyphicon glyphicon-sort-by-alphabet position-left"></i> By <span
                                    id="action_filter">actions</span> <span class="caret"></span></a>
                                <ul class="dropdown-menu filte_ul">
                                    <!-- selected vendor id -->
                                    <input type="hidden" id="vendor_id" value="">
                                    <li onclick="all_filter(-3,'All')" id="all_action">
                                        <a>
                                            <label>All</label>
                                        </a>
                                    </li>
                                    <li onclick="all_filter(0,'Leads Upload')" id="filter_0">
                                        <a>
                                            <label>Leads Upload</label>
                                        </a>
                                    </li>
                                    <li onclick="all_filter(1,'Approved')" id="filter_1">
                                        <a>
                                            <label>Approved</label>
                                        </a>
                                    </li>
                                    <li onclick="all_filter(2,'Rejected')" id="filter_2">
                                        <a>
                                            <label>Rejected</label>
                                        </a>
                                    </li>
                                    <li onclick="all_filter(3,'Rectify')" id="filter_3">
                                        <a>
                                            <label>Rectified</label>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /invoice grid options -->

                <!-- Invoice grid -->

                <div class="row">
                    <div class="col-md-12" style="margin-top:49px;">
                        <div class="panel invoice-grid">
                            <div class="panel-body">
                                <!-- Timeline -->
                                <div class="timeline timeline-center" style="padding-top:5px">
                                    <div class="timeline-container">

                                        <!-- Sales stats -->
                                        <div class="timeline-row post-full">
                                            <div class="timeline-icon">
                                                <a href="#"><img src="{% static 'assets/images/placeholder.jpg' %}" alt=""></a>
                                            </div>
                                        </div>
                                        <!-- /sales stats -->

                                        <!-- Blog post -->
                                        <div class="timeline-row">
                                            <div class="timeline-icon">

                                                <img src="{% static 'assets/images/placeholder.jpg' %}" alt="">
                                            </div>

                                            <div class="timeline-time">
                                                <p style="color:#1E88E5;">{{intro.campaign.user.user_name}} created new campaign</p>
                                                <span class="text-muted">{{intro.created_date}}</span>
                                            </div>
                                            <div class="timeline-content">

                                                <div class="panel border-left-lg border-left-danger" style="box-shadow:13px 13px 9px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);">
                                                    <!-- Accordion with controls -->
                                                    <div class="panel-heading">
                                                        <h6 class="panel-title">
                                                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion-controls"
                                                            href="#accordion-controls-group0"><strong>Campaign Name :
                                                            </strong>{{intro.campaign.name}} <i class="fa fa-plus pull-right"
                                                              aria-hidden="true"></i></a>
                                                        </h6>
                                                    </div>
                                                    <div id="accordion-controls-group0" class="panel-collapse collapse">
                                                        <div class="panel-body" style="border-top:1px solid #ddd;">
                                                            <div class="panel-body">
                                                                <strong>Type:</strong>{% if intro.campaign.rfq == 1 %} RFQ {% else %} Normal {% endif %}<strong style="padding:5px;">CPL:</strong>${{intro.campaign.cpl}} <strong style="padding:5px;">Target
                                                                Quantity:</strong>{{intro.campaign.target_quantity}}
                                                            </div>
                                                            <!-- <div class="progress">
                                                              <div class="progress-bar progress-bar-striped active" role="progressbar"
                                                              aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{i.client_percentage}}%">
                                                                {{i.client_percentage}}%
                                                              </div>
                                                            </div> -->

                                                        </div>
                                                    </div>

                                                    <!-- /accordion with controls -->
                                                    <div class="panel-footer panel-footer-condensed">
                                                        <div class="heading-elements">
                                                            <span class="heading-text">Start Date: <span
                                                              class="text-semibold">{{intro.start_date}}</span></span>
                                                            <span class="heading-text pull-right">Status : <span
                                                              class="label bg-success text-semibold">Pending</span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- /blog post -->

                                        {% if info %} {% for i in info %} {% if i.type == 'vendor' %}
                                        <!-- div has class for vendor, action and date filter -->
                                        <div class="timeline-date text-muted {{i.vendor_id}}_{{i.date | slice:'0:10'}}_assigned  {{i.vendor_id}} {{i.vendor_id}}_assigned assigned_ {{i.vendor_id}}_{{i.date | slice:'0:10'}} {{i.date | slice:'0:10'}}" style="background-color:white;">{{ i.date|modifying }}</div>

                                        <!-- Task -->
                                        <!-- div has class for vendor (id), action and date filter -->
                                        <div class="timeline-row post-even {{i.vendor_id}}_{{i.date | slice:'0:10'}}_assigned {{i.vendor_id}} {{i.vendor_id}}_assigned assigned_ {{i.vendor_id}}_{{i.date | slice:'0:10'}} {{i.date | slice:'0:10'}}">
                                            <div class="timeline-icon">
                                                <img src="{% static 'assets/images/placeholder.jpg' %}" alt="">
                                            </div>

                                            <div class="timeline-time {{i.vendor_id}}_assigned">
                                                <p style="color:#1E88E5;">Leads are assigned to {{i.Name}}</p>
                                                <span class="text-muted">{{i.date|modifying}}</span>
                                            </div>

                                            <div class="timeline-content">
                                                <div class="panel border-left-lg border-left-primary" style="box-shadow:13px 13px 9px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);">
                                                    <div class="panel-heading">
                                                        <h6 class="panel-title">
                                                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion-controls"
                                                            href="#accordion-controls-group{{forloop.counter}}"><strong>Assigned:
                                                            </strong>{{i.Name}}<i class="fa fa-plus pull-right" aria-hidden="true"></i></a>
                                                        </h6>
                                                    </div>
                                                    <div id="accordion-controls-group{{forloop.counter}}" class="panel-collapse collapse">
                                                        <div class="panel-body" style="border-top:1px solid #ddd;">
                                                            <ul style="padding-left:20px">
                                                                <li class="mb-15"><span class="col-md-6 assigned_name">Assigned leads: </span><a href="#"><span
                                                                  class="btn btn-primary">{{i.assigned_leads}}</span></a></li>
                                                                <!-- <li class="mb-15"><span class="col-md-6">CPL: </span><a href="#"><span class="btn btn-primary">{{i.cpl}}</span></a></li> -->
                                                            </ul>
                                                            <!-- <div class="progress">
                                                              <div class="progress-bar progress-bar-striped active" role="progressbar"
                                                              aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{i.client_percentage}}%">
                                                                {{i.client_percentage}}%
                                                              </div>
                                                            </div> -->
                                                        </div>
                                                    </div>
                                                    <div class="panel-footer panel-footer-condensed">
                                                        <div class="heading-elements">
                                                            <span class="heading-text">Date: <span
                                                                class="text-semibold">{{i.date|modifying}}</span></span>
                                                            <span class="heading-text pull-right">Status : <span
                                                                class="label bg-success text-semibold">Live</span></span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- /task -->
                                        {% elif i.type == 'action' %}
                                        <!-- div has class for vendor (id), action and date filter -->
                                        <div class="timeline-date text-muted {{i.date | slice:'0:10'}}_{{i.status}} {{i.vendor_id}}_{{i.date | slice:'0:10'}}_{{i.status}} {{i.vendor_id}} {{i.vendor_id}}_{{i.status}} {{i.status}} {{i.vendor_id}}_{{i.date | slice:'0:10'}} {{i.date | slice:'0:10'}}" style="background-color:white;">{{ i.date|modifying}}</div>

                                        <!-- Task -->
                                        <!-- div has class for vendor (id), action and date filter -->
                                        <div class="timeline-row post-even {{i.date | slice:'0:10'}}_{{i.status}} {{i.vendor_id}}_{{i.date | slice:'0:10'}}_{{i.status}} {{i.vendor_id}} {{i.vendor_id}}_{{i.status}} {{i.status}} {{i.vendor_id}}_{{i.date | slice:'0:10'}} {{i.date | slice:'0:10'}}">
                                            <div class="timeline-icon">
                                                <img src="{% static 'assets/images/placeholder.jpg' %}" alt="">
                                            </div>

                                            <div class="timeline-time {{i.vendor_id}}_{{i.status}}">
                                                <p style="color:#1E88E5;">{{intro.campaign.user.user_name}} {{i.status}} leads of {{i.vendor}}
                                                </p>
                                                <span class="text-muted">{{i.date|modifying}}</span>
                                            </div>

                                            <div class="timeline-content">
                                                <div class="panel border-left-lg border-left-primary" style="box-shadow:13px 13px 9px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);">
                                                    <div class="panel-heading">
                                                        <h6 class="panel-title">
                                                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion-controls"
                                                            href="#accordion-controls-group{{forloop.counter}}"><strong>Leads {{i.status}}:</strong>
                                                            {{i.vendor}} <i class="fa fa-plus pull-right" aria-hidden="true"></i></a>
                                                        </h6>
                                                    </div>
                                                    <div id="accordion-controls-group{{forloop.counter}}" class="panel-collapse collapse">
                                                        <div class="panel-body" style="border-top:1px solid #ddd;">
                                                            <ul style="padding-left:20px">
                                                                <li class="mb-15"><span class="col-md-6">Count of {{i.status}}:</span><a href="#"><span
                                                                  class="btn btn-primary"> {{i.lead_id | length}}</span></a></li>
                                                                {% if i.reason != None %}
                                                                <li class="mb-15"><span class="col-md-6">Reason of
                                                                  {{i.status}}</span><a href="#"><span class="btn btn-primary">{{i.reason}}</span></a>
                                                                </li>{% endif %}
                                                            </ul>
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{i.client_percentage}}%">
                                                                    {{i.client_percentage}}%
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel-footer panel-footer-condensed">
                                                        <div class="heading-elements">
                                                            <span class="heading-text">Date: <span
                                                              class="text-semibold">{{i.date|modifying}}</span></span>
                                                            <span class="heading-text pull-right">Status : <span
                                                              class="label bg-success text-semibold">Live</span></span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        {% elif i.type == 'complete'%}
                                        <!-- div has class for vendor filter and date filter  -->
                                        <div class="timeline-date text-muted {{i.date | slice:'0:10'}}_completed {{i.vendor_id}}_{{i.date | slice:'0:10'}}_completed {{i.vendor_id}} {{i.vendor_id}}_completed completed {{i.vendor_id}}_{{i.date | slice:'0:10'}} {{i.date | slice:'0:10'}}" style="background-color:white;">{{ i.date|modifying}}</div>

                                        <!-- Task -->
                                        <!-- div has class for vendor filter and action filter -->
                                        <div class="timeline-row post-odd {{i.date | slice:'0:10'}}_completed {{i.vendor_id}}_{{i.date | slice:'0:10'}}_completed {{i.vendor_id}} {{i.vendor_id}}_completed completed {{i.vendor_id}}_{{i.date | slice:'0:10'}} {{i.date | slice:'0:10'}}">
                                            <div class="timeline-icon">
                                                <img src="{% static 'assets/images/placeholder.jpg' %}" alt="">
                                            </div>

                                            <div class="timeline-time">
                                                <p style="color:#1E88E5;">Campaign is completed for {{i.vendor_name}}</p>
                                                <span class="text-muted">{{i.date|modifying}}</span>
                                            </div>

                                            <div class="timeline-content">
                                                <div class="panel panel border-left-lg border-left-danger" style="box-shadow:13px 13px 9px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);">
                                                    <div class="panel-heading">
                                                        <h6 class="panel-title">
                                                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion-controls"
                                                            href="#accordion-controls-group{{forloop.counter}}"><strong>Campaign
                                                              completion:</strong>
                                                            {{i.vendor_name}}<i class="fa fa-plus pull-right" aria-hidden="true"></i></a>
                                                        </h6>
                                                    </div>
                                                    <div id="accordion-controls-group{{forloop.counter}}" class="panel-collapse collapse">
                                                        <div class="panel-body" style="border-top:1px solid #ddd;">
                                                            <ul style="padding-left:20px">
                                                                <li class="mb-15"><span class="col-md-6">Campaign is completed for </span><a href="#"><span class="btn btn-primary">{{i.vendor_name}}</span></a></li>
                                                                <!-- <li class="mb-15"><span class="col-md-6">CPL: </span><a href="#"><span class="btn btn-primary">{{i.cpl}}</span></a></li> -->
                                                            </ul>
                                                            <!-- <div class="progress">
                                                                <div class="progress-bar progress-bar-striped active" role="progressbar"
                                                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{i.client_percentage}}%">
                                                                  {{i.client_percentage}}%
                                                                </div>
                                                              </div> -->
                                                        </div>
                                                    </div>
                                                    <div class="panel-footer panel-footer-condensed">
                                                        <div class="heading-elements">
                                                            <span class="heading-text">Date: <span
                                                              class="text-semibold">{{i.date|modifying}}</span></span>
                                                            <span class="heading-text pull-right">Status : <span
                                                              class="label bg-success text-semibold">Live</span></span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        {% elif i.type == 'upload'%}
                                        <!-- div has class for vendor (id), action and date filter -->
                                        <div class="timeline-date text-muted {{i.date | slice:'0:10'}}_lead_upload {{i.vendor_id}}_{{i.date | slice:'0:10'}}_lead_upload {{i.vendor_id}} {{i.vendor_id}}_lead_upload lead_upload {{i.vendor_id}}_{{i.date | slice:'0:10'}} {{i.date | slice:'0:10'}}" style="background-color:white;">{{ i.date|modifying }}</div>

                                        <!-- Task -->
                                        <!-- div has class for vendor (id), action and date filter -->
                                        <div class="timeline-row post-odd {{i.date | slice:'0:10'}}_lead_upload {{i.vendor_id}}_{{i.date | slice:'0:10'}}_lead_upload {{i.vendor_id}} {{i.vendor_id}}_lead_upload lead_upload {{i.vendor_id}}_{{i.date | slice:'0:10'}} {{i.date | slice:'0:10'}}">
                                            <div class="timeline-icon">
                                                <img src="{% static 'assets/images/placeholder.jpg' %}" alt="">
                                            </div>

                                            <div class="timeline-time">
                                                <p style="color:#1E88E5;">{{i.vendor}} uploaded leads</p>
                                                <span class="text-muted">{{i.date|modifying}}</span>
                                            </div>

                                            <div class="timeline-content">
                                                <div class="panel panel border-left-lg border-left-danger" style="box-shadow:13px 13px 9px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);">
                                                    <div class="panel-heading">
                                                        <h6 class="panel-title">
                                                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion-controls"
                                                          href="#accordion-controls-group{{forloop.counter}}"><strong>Leads upload:
                                                          </strong>{{i.vendor}} <i class="fa fa-plus pull-right" aria-hidden="true"></i></a>
                                                        </h6>
                                                    </div>
                                                    <div id="accordion-controls-group{{forloop.counter}}" class="panel-collapse collapse">
                                                        <div class="panel-body" style="border-top:1px solid #ddd;">
                                                            <ul style="padding-left:20px">
                                                                <li class="mb-15"><span class="col-md-6">Uploaded leads count: </span><a href="#"><span
                                                                  class="btn btn-primary">{{i.all_uploaded_leads}}</span></a></li>
                                                                <li class="mb-15"><span class="col-md-6">Valid leads count: </span><a href="#"><span
                                                                  class="btn btn-primary">{{i.valid_leads}}</span></a></li>
                                                            </ul>
                                                            <!-- <div class="progress">
                                                                <div class="progress-bar" role="progressbar" aria-valuenow="80"
                                                                aria-valuemin="0" aria-valuemax="100" style="width:{{i.client_percentage}}%;">
                                                                {{i.client_percentage}}%
                                                                </div>
                                                              </div> -->
                                                                                <!-- <div class="progress">
                                                                <div class="progress-bar progress-bar-striped active" role="progressbar"
                                                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{i.client_percentage}}%">
                                                                  {{i.client_percentage}}%
                                                                </div>
                                                              </div> -->
                                                        </div>
                                                    </div>
                                                    <div class="panel-footer panel-footer-condensed">
                                                        <div class="heading-elements">
                                                            <span class="heading-text">Date: <span
                                                              class="text-semibold">{{i.date|modifying}}</span></span>
                                                            <span class="heading-text pull-right">Status : <span
                                                              class="label bg-success text-semibold">Live</span></span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        {% endif %} {% endfor %} {% endif %}

                                    </div>
                                </div>
                                <!-- /timeline -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- /detached content -->

        <!-- Detached sidebar -->
        <div class="sidebar-detached " style="right:0; position:fixed">
            <div class="sidebar sidebar1 sidebar-default">
                <div class="sidebar-content ">

                    <!-- Actions -->
                    <div class="sidebar-category" style="background:#fff;border-radius: 7px 7px 0px 0px;">
                        <div class="category-title">
                            <span>Lead Progress</span>
                            <ul class="icons-list">
                                <li>
                                    <a href="#" data-action="collapse"></a>
                                </li>
                            </ul>
                        </div>

                        <div class="category-content">
                            <div class="row row-condensed">
                                <div class="circlebar" data-circle-startTime=0 data-circle-maxValue="{{per}}" data-circle-dialWidth=10 data-circle-size="100px" data-circle-type="progress">
                                    <div class="loader1-bg">
                                        <div class="text text1">0%</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /actions -->

                    <!-- Navigation -->
                    <div class="sidebar-category" style="margin-top:10px; background:#fff;border-radius: 7px 7px 0px 0px;">
                        <div class="category-title">
                            <span>Life Cycle Info</span>
                            <ul class="icons-list">
                                <li>
                                    <a href="#" data-action="collapse"></a>
                                </li>
                            </ul>
                        </div>

                        <div class="category-content no-padding scroll-bar">
                            <div class=" {{color}} text-semibold msg">{{message}}</div>
                            <div class="lead_info" style="border-left-color:#3e85da;"><strong>lapsed:</strong><span>{{days}} out of
                  {{total}} days</span> </div>
                            <div class="lead_info" style="border-left-color:#d63eda;"><strong>Total
                  Leads:</strong><span>{{Total_leads}}</span> </div>
                            <div class="lead_info" style="border-left-color:#49da3e;"><strong>Submitted
                  Leads:</strong><span>{{Submitted_Leads}}</span> </div>
                            <div class="lead_info" style="border-left-color:#da933e;"><strong>Approved
                  Leads:</strong><span>{{approved_leads}}</span> </div>
                            <br>
                        </div>
                        <!-- /navigation -->

                    </div>
                </div>
            </div>
            <!-- /detached sidebar -->
        </div>
    </div>
</div>
    <style type="text/css">
    .ranges {
            position: fixed !important;
            top: 11% !important;
        }
        .assigned_name{
            margin-top: 10px;
        } 
        @media only screen and (min-width: 1920px) {
            .loader1 {
                margin-top: -2px;
            }
            .ranges {
                position: fixed !important;
                top: 9% !important;
            }
        }
        
        @media only screen and (max-width: 1599px)and (min-width: 1440px) {
            .loader1 {
                margin-top: -2px;
            }
            .ranges {
                position: fixed !important;
                top: 10% !important;
            }
        }
        
        .panel .timeline-time {
            background-color: transparent;
        }
        
        .content {
            padding: 60px 0px 0px 0px !important
        }
        
        .sidebar {
            height: 90vh !important;
        }
        
        .col-md-9 {
            width: 79%;
        }
        
        .container-detached {
            float: left;
        }
        
        .sidebar-detached {
            float: right;
        }
        
        .lead_info {
            padding: 5px;
            background: #c7c3c366;
            margin-bottom: 15px;
            margin: 0 13px 15px 14px;
            font-size: 12px;
            border-left: 3px solid;
            border-radius: 0 5px 5px 0;
        }
        /* Hiding calender */
        
        .calendars {
            display: none;
        }
        
        .sidebar1 {
            background: #eeeded;
            -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24) !important;
            box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24) !important;
        }
        
        .msg {
            word-break: break-word !important;
            padding: 10px;
            font-size: 11px;
            margin: 14px;
            border-radius: 6px;
        }
        
        .lead_info>span {
            float: right;
        }
        
        .category-title>span {
            font-size: 14px;
        }
        
        .loader1 {
            margin-left: 22% !important;
        }
    }
    @media only screen and (min-width: 1400px) and (max-width: 1600px) {
        .sidebar-category {
            margin-top: 0px;
        }
        
        .navbar-component {
            width: 68.5% !important;
        }
        
        .invoice-grid {
            width: 104% !important;
        }
        
        .ranges {
            position: fixed !important;
            top: 14% !important;
        }
    }
    @media only screen and (max-width: 1399px) {
        .navbar-component {
            width: 67.6% !important;
        }
        
        .invoice-grid {
            width: 102.6% !important;
        }
        
        .ranges {
            position: fixed !important;
            top: 15% !important;
        }
    }
    @media only screen and (min-width: 1400px) and (max-width: 1599px) {
        .navbar-component {
            width: 69.6% !important;
        }
        
        .invoice-grid {
            width: 104.6% !important;
        }
        
        .ranges {
            position: fixed !important;
            top: 10% !important;
        }
    }
    @media only screen and (min-width: 1600px) and (max-width: 1899px) {
        .navbar-component {
            width: 76% !important;
        }
        
        .invoice-grid {
            width: 110% !important;
        }
        
        .ranges {
            position: fixed !important;
            top: 10% !important;
        }
    }
    @media only screen and (min-width: 1920px) {
        .sidebar-category {
            margin-top: 0px;
        }
        
        .navbar-component {
            width: 77% !important;
        }
        
        .invoice-grid {
            width: 110.5% !important;
        }
        
        .ranges {
            position: fixed !important;
            top: 10% !important;
        }
    }
    .timeline-container:after {
        z-index: 0 !important;
    }
    .timeline-row {
        z-index: 1 !important;
    }
    </style>

    {% include "dashboard/clientdashbordjs.html" %} {% include "campaign_life_cycle/js/life_cycle_filter_js.html" %} {% endblock %}