{% load staticfiles %}


<script type="text/javascript" src="{% static 'assets/js/plugins/ui/moment/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/ui/fullcalendar/fullcalendar.min.js' %}"></script>
<link href="//www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<!-- <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script> -->
<script type="text/javascript" src="{% static 'assets/js/pages/circle.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/pickers/daterangepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/pickers/anytime.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/pickers/pickadate/picker.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/pickers/pickadate/picker.date.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/pickers/pickadate/picker.time.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/pickers/pickadate/legacy.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'assets/js/core/app.js' %}"></script> -->
<script type="text/javascript" src="{% static 'assets/js/pages/picker_date.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'assets/js/plugins/visualization/echarts/echarts.js' %}"></script> -->
<!-- <script type="text/javascript" src="{% static 'assets/js/pages/timelines.js' %}"></script> -->
<!-- <script type="text/javascript" src="{% static 'assets/css/progressbar.css' %}"></script> -->
  