<style>
    {% load static%}
    /* for campaign notifs sender's company logo...Akshay G. */
    .company_logo{
        width: 25px;
        border-radius: 50%;
    }
    
    @media only screen and (max-width: 1366px) and (min-height: 600px){
        .chat_detail{
            margin-top: -2px!important;
        }
        #asdmessage{
            width: 108%!important;
        }
    }

   .dropdown-content a {
        color: #1E88E5!important;
    padding: 0px 16px!important;
    margin-right: 5px;
    text-decoration: none;
    display: block;
    }
    .bg-success-400 {
        background-color: #66BB6A!important;
        border-color: #66BB6A!important;
        color: #fff;
    }
       
        .chbox {
        width: 57% !important;
        margin-left: 10px;
    }

    .hida {
        border-bottom: 2px solid #009688;
        padding: 9px 337px 9px 10px;
    }
    .dd{
        width: 100%;
    }
    .mutliSelect{
         background-color: #e4dcdc4a!important;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current{
            border: 1px solid #e4dddd!important;
            background: linear-gradient(to bottom, #fff 0%, #FFF 100%)!important;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
            border: 1px solid #e4dddd!important;
            background: linear-gradient(to bottom, #fff 0%, #FFF 100%)!important;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        color: #3a3a3a !important;
        border: 1px solid #fff !important;
        background-color: #ffffff !important;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
        background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
        background: -moz-linear-gradient(top, #585858 0%, #111 100%);
        background: -ms-linear-gradient(top, #585858 0%, #111 100%);
        background: -o-linear-gradient(top, #585858 0%, #111 100%);
        background: linear-gradient(to bottom, #ffffff 0%, #fff 100%)!important;
        }
    ul {
      list-style-type: none;
    }
    li>input{
            margin-left: 0;
        left: 15px;
    }
    .multisel{
        padding: 10px;
        margin-left: -25px;
    }
    .multisel>input[type="checkbox"] {
        margin: 4px 15px 0;
        margin-top: 1px ;
        line-height: normal;
    }
    .multisel:hover{
        background: #afbdd0;
    }
    @media only screen and (min-width: 1920px){
            .chat_detail {
            margin-top: 28px!important;
            }
        }
    @media only screen and (max-width: 1599px) and (min-width: 1400px){
        .chat{
        margin-top: 0px!important;
      }
       #asdmessage{
            width: 108%!important;
        }
      .chat_detail{
        margin-top: 25px!important;
      }
      .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
            padding: 8px 20px;
            line-height: 1.5384616;
            vertical-align: top;
            border-top: 1px solid #ddd;
        }
        .table tr, .table th, .table td, .htContextMenu td, .sidebar-user-material-menu > a, .navbar-nav > .active > a:after, .ranges ul li {
            -webkit-transition: background-color ease-in-out 0.15s;
            -o-transition: background-color ease-in-out 0.15s;
            transition: background-color ease-in-out 0.15s;
        }
     @media only screen and (max-width: 1600px) and (min-width: 1899px){
        .camp_name {
                color: #6d6d70;
                white-space: nowrap;
                width: 66%;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-left: 221899%;
                margin-top: -33.5px;
            }
    }

    .ellipsis {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .name {
            display: block;
            width: 100px;
            /* margin: 10px 40px; */
            /* padding: 5px 10px; */
            font-weight: normal;
            text-transform: uppercase;
            text-align: center;
        }
</style>
<script type="text/javascript">
    function isEllipsisActive(element) {
          return element.offsetWidth < element.scrollWidth;
        }

        Array.from(document.querySelectorAll('.ellipsis'))
          .forEach(element => {
            if (isEllipsisActive(element)) {
              element.title = element.innerText;
            }
          });
</script>
<script>
    $(document).ready(function(){
      $("#hide").click(function(){
        $(".chat").hide();
      });
      $(".chat_show").click(function(){
        $(".chat").show();
        $('.chat_box').animate({scrollTop: $('.chat_box').prop("scrollHeight")}, 500);
        $('#message').focus()
      });
    });
</script>
<script>
    $(function () {
        $("#campaign").addClass("active");
        $("#campaign").find("ul").first().css({ 'display': 'block' })
        $("#CompleteCampaign").addClass("active");
    });
</script>
<script type="text/javascript">  
    function asset() {
     var width=$('#assets_holder').children().length;
     if (width==0) {
         
        // document.asset_modal.css("width:330px;float:left;");
        $('#asset_modal').css('width','65%')
        $('#asset_modal').css('margin-left','20%')
     }
    }
</script>

<!--This script use for Disable tab (start)-->
<script type="text/javascript">
    $("#message").on('keydown', function(e) { 
          var keyCode = e.keyCode || e.which; 
          if (keyCode == 9) {
             e.preventDefault();
             }
        }); 
</script>
<!--This script use for Disable tab (End)-->