{% load static%}
<script type="text/javascript">
    function isEllipsisActive(element) {
          return element.offsetWidth < element.scrollWidth;
        }

        Array.from(document.querySelectorAll('.ellipsis'))
          .forEach(element => {
            if (isEllipsisActive(element)) {
              element.title = element.innerText;
            }
          });
</script>
<script>
    $(document).ready(function () {
        $("#hide").click(function () {
            $(".chat").hide();
        });
        $(".chat_show").click(function () {
            $(".chat").show();
            $('.chat_box').animate({ scrollTop: $('.chat_box').prop("scrollHeight") }, 500);
            $('#message').focus()
        });
    });
</script>
<script>
    $(document).ready(function(){
      $("#hide").click(function(){
        $(".chat").hide();
      });
      $(".chat_show").click(function(){
        $(".chat").show();
        $('.chat_box').animate({scrollTop: $('.chat_box').prop("scrollHeight")}, 500);
        $('#message').focus()
      });
    });
</script>
<script>
    $(function () {
        $("#campaign").addClass("active");
        $("#campaign").find("ul").first().css({ 'display': 'block' })
        $("#PauseCampaign").addClass("active");
    });
</script>
<script type="text/javascript">  
    function asset() {
     var width=$('#assets_holder').children().length;
     if (width==0) {
         
        // document.asset_modal.css("width:330px;float:left;");
        $('#asset_modal').css('width','65%')
        $('#asset_modal').css('margin-left','20%')
     }
    }
</script>

<!--This script use for Disable tab (start)-->
<script type="text/javascript">
    $("#message").on('keydown', function(e) { 
      var keyCode = e.keyCode || e.which; 
      if (keyCode == 9) {
         e.preventDefault();
         
     }
    }); 
</script>

<!--This script use for Disable tab (End)-->