{% load static%}

<!--Pending Campaign JS (DO NOT remove)-->
<!-- <script type="text/javascript">
    document.getElementById('b4').onclick = function () {
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this imaginary file!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: '#DD6B55',
            confirmButtonText: 'Yes, delete it!',
            closeOnConfirm: false,
            //closeOnCancel: false
        },
            function () {
                swal("Deleted!", "Your imaginary file has been deleted!", "success");
            });
    };
</script> -->
<script>

    $(document).ready(function () {



    });


</script>
<script>
    $(function () {
        $("#campaign").addClass("active");
        $("#campaign").find("ul").first().css({ 'display': 'block' })
        $("#PendingCampaign").addClass("active");
    });
</script>
<script>
    function getFocus() {
        document.getElementById("myText").focus();
    }
</script>

<script type="text/javascript">
    $(".dropdown dt a").on('click', function () {
        $(".dropdown dd ul").slideToggle('fast');
    });

    $(".dropdown dd ul li a").on('click', function () {
        $(".dropdown dd ul").hide();
    });

    function getSelectedValue(id) {
        return $("#" + id).find("dt a span.value").html();
    }

    $(document).bind('click', function (e) {
        var $clicked = $(e.target);
        if (!$clicked.parents().hasClass("dropdown")) $(".dropdown dd ul").hide();
    });

    $('.mutliSelect input[type="checkbox"]').on('click', function () {

        var title = $(this).closest('.mutliSelect').find('input[type="checkbox"]').val(),
            title = $(this).val() + ",";

        if ($(this).is(':checked')) {
            var html = '<span title="' + title + '">' + title + '</span>';
            $('.multiSel').append(html);
            $(".hida").hide();
        } else {
            $('span[title="' + title + '"]').remove();
            var ret = $(".hida");
            $('.dropdown dt a').append(ret);

        }
    });

    function isEllipsisActive(element) {
        return element.offsetWidth < element.scrollWidth;
    }

    Array.from(document.querySelectorAll('.ellipsis'))
        .forEach(element => {
            if (isEllipsisActive(element)) {
                element.title = element.innerText;
            }
        });
</script>
<script type="text/javascript">
    $("#message").on('keydown', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode == 9) {
            e.preventDefault();

        }
    });
    var date_range = '{{filter_camp_date}}';
    var start_date;
    var end_date;
    if (date_range != '') {
        start_date = date_range.split(',')[0];
        end_date = date_range.split(',')[1];
        $('#search_date').val(date_range);
    }
    else {
        start_date = '';
        end_date = '';
    }
    $("#rangeDate").flatpickr({
        mode: 'range',
        dateFormat: "Y-m-d",
        defaultDate: [start_date, end_date],
        onValueUpdate: function (selectedDates, dateStr, instance) {
            if (selectedDates[0] && selectedDates[1]) {
                var startDate = dateStr.split('to')[0];
                var endDate = dateStr.split('to')[1];
                if (endDate != undefined) {
                    $('#search_date').val(startDate + ',' + endDate);
                }
                else {
                    $('#search_date').val(startDate + ',' + startDate);
                }
            }
        }
    })
    $(document).on('click', '#clear_date', function () {
        $('#search_date').val('');
        const fp = document.querySelector("#rangeDate")._flatpickr;
        fp.clear();
    })

    $(function () {
        $('.select_outreach_method').multiselect({
            includeSelectAllOption: true,
            enableCaseInsensitiveFiltering: true,
            enableFiltering: true,
            templates: {
                filter: '<li class="multiselect-item multiselect-filter"><i class="icon-search4"></i> <input class="form-control" type="text"></li>'
            },
            nonSelectedText: 'Select outreach method',
            onChange: function () {
                $.uniform.update();
            }
        });
        $('.select_country').multiselect({
            includeSelectAllOption: true,
            enableCaseInsensitiveFiltering: true,
            enableFiltering: true,
            templates: {
                filter: '<li class="multiselect-item multiselect-filter"><i class="icon-search4"></i> <input class="form-control" type="text"></li>'
            },
            nonSelectedText: 'Select country',
            onChange: function () {
                $.uniform.update();
            }
        });
    });
</script>
<!--/Pending Campaign JS (DO NOT remove)-->