{% load static%}   
<script>
    function isEllipsisActive(element) {
        return element.offsetWidth < element.scrollWidth;
    }

    Array.from(document.querySelectorAll('.ellipsis'))
        .forEach(element => {
            if (isEllipsisActive(element)) {
                element.title = element.innerText;
            }
        });
    $(document).ready(function () {
        $("#hide").click(function () {
            $(".chat").hide();
        });
        $(".chat_show").click(function () {
            $(".chat").show();
            $('.chat_box').animate({ scrollTop: $('.chat_box').prop("scrollHeight") }, 500);
            $('#message').focus()
        });
    });

    function asset() {
        var width = $('#assets_holder').children().length;
        if (width == 0) {

            // document.asset_modal.css("width:330px;float:left;");
            $('#asset_modal').css('width', '65%')
            $('#asset_modal').css('margin-left', '20%')
        }
    }
        $(function () {
        $("#campaign").addClass("active");
        $("#campaign").find("ul").first().css({ 'display': 'block' })
        $("#AssignedCampaign").addClass("active");
    });

        /*This script use for Disable tab (start)*/

    $("#message").on('keydown', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode == 9) {
            e.preventDefault();

        }
    });

    /*filter campaign js..Akshay G. */

   var date_range = '{{filter_camp_date}}';
   var start_date;
   var end_date;
   if (date_range != '') {
      start_date = date_range.split(',')[0];
      end_date = date_range.split(',')[1];
      $('#search_date').val(date_range);
   }
   else {
      start_date = '';
      end_date = '';
   }
   $("#rangeDate").flatpickr({
      mode: 'range',
      dateFormat: "Y-m-d",
      defaultDate: [start_date, end_date],
      onValueUpdate: function (selectedDates, dateStr, instance) {
         if (selectedDates[0] && selectedDates[1]) {
               var startDate = dateStr.split('to')[0];
               var endDate = dateStr.split('to')[1];
               if (endDate != undefined) {
                  $('#search_date').val(startDate + ',' + endDate);
               }
               else {
                  $('#search_date').val(startDate + ',' + startDate);
               }
         }
      }
   })
   $(document).on('click', '#clear_date', function () {
      $('#search_date').val('');
      const fp = document.querySelector("#rangeDate")._flatpickr;
      fp.clear();
   })

   $(function () {
      $('.select_outreach_method').multiselect({
         includeSelectAllOption: true,
         enableCaseInsensitiveFiltering: true,
         enableFiltering: true,
         templates: {
               filter: '<li class="multiselect-item multiselect-filter"><i class="icon-search4"></i> <input class="form-control" type="text"></li>'
         },
         nonSelectedText: 'Select outreach method',
         onChange: function () {
               $.uniform.update();
         }
      });
      $('.select_country').multiselect({
         includeSelectAllOption: true,
         enableCaseInsensitiveFiltering: true,
         enableFiltering: true,
         templates: {
               filter: '<li class="multiselect-item multiselect-filter"><i class="icon-search4"></i> <input class="form-control" type="text"></li>'
         },
         nonSelectedText: 'Select country',
         onChange: function () {
               $.uniform.update();
         }
      });
   })
</script>