<script>
  //export_approve_leads from store_lead_upload_error_into_database

  var table_id = ""; //global variable to store dynamic table id. when client click on allcheck.
  var flagTable = 0; //this flag use for which view currently client use.
  $('#export_aprrove_leads').click(function () {
    camp_id = $(this).attr('camp_id');
    vendor_id = $(this).attr('vendor_id');
    status = $(this).attr('status');
    camp_name = $(this).attr('camp_name');
    token = getCookie('csrftoken');
    $.ajax({
      type: 'post',
      url: '/client/ajax/export_data/',
      data: { 'camp_name': camp_name, 'vendor_id': vendor_id, 'status': status, 'camp_id': camp_id, csrfmiddlewaretoken: token },
      success: function (data) {
        if (data.success == 1) {
          alert("hii");
        }
      },
      failure: function (error) {
        alert("fail");
      }
    });
  });

  //abhi 30-08-2019
  //after click of custome header
  $(document).on('click', '#customHeaderbtn', function () {
    camp_id = $(this).attr('camp_id');
    token = getCookie('csrftoken');
    header = $("#customheadertext").val();
    camp_alloc_id = $(this).attr('camp_alloc_id');
    $.ajax({
      type: 'post',
      url: '/client/ajax/addCustomHeader/',
      data: { 'header': header, 'camp_id': camp_id, 'camp_alloc_id': camp_alloc_id, csrfmiddlewaretoken: token },
      success: function (data) {
        if (data.success == 1) {
          swal({ title: "", text: data.msg, type: "success" }).then(function () { location.reload(); });
        }
        else if (data.success == 2) {
          swal({ title: "", text: data.msg, type: "warning" }).then(function () { location.reload(); });
        }
        else if (data.success == 3) {
          swal({ title: "", text: data.msg, type: "warning" }).then(function () { location.reload(); });
        }
      },
      failure: function (error) {
        alert("fail");
      }
    });
  });

  $('#submit123').click(function () {
    var someObj = {};
    someObj.lead_header = [];
    $("#selected li").each(function () {
      var $this = $(this);
      someObj.lead_header.push($this.text());
    });
    lead_header = someObj.lead_header;
    token = getCookie('csrftoken');
    if (lead_header.length !== 0) {
      camp_id = $('#camp_id_lead').val();
      $.ajax({
        type: 'post',
        url: '/vendor/ajax/create_custom_header/',
        data: { 'id': lead_header, 'camp_id': camp_id, csrfmiddlewaretoken: token },
        success: function (data) {
          console.log(data);
          if (data.success == 1) {
            swal({ title: "", text: data.msg, type: "success" }).then(function () { location.reload(); });
          }
        },
        failure: function (error) {
          alert("fail");
        }
      });

    } else {
      alert('Please Select Lead Header !...');
    }
  });
</script>

<script>

  //customize datatable design code
  $(document).ready(function () {

    $('.tableView').click(function () {

      $('#accordion').toggle('hidden');
      $('.leadTable').toggle('hidden');
      table = $('#leadTable_id');
      table.DataTable({
        "aoColumnDefs": [{
          'bSortable': false,
          'aTargets': [1]
        }],
        stateSave: true,
        buttons: [
          {
            extend: 'colvis',
            text: '<i class="icon-three-bars"></i> <span class="caret"></span>',
            className: 'btn bg-blue btn-icon',
            collectionLayout: 'fixed two-column'
          }
        ],
        scrollY: "500px",
        scrollX: true,
        destroy: true,
        scrollCollapse: true,
        paging: true,
        fixedColumns: {
          leftColumns: 1,
          rightColumns: 2
        }
      })
      if ($('.tableView').find('span.table').length == 1) {

        $('.tableView').html(`<span class="batch" title="Batch"><i class="fas fa-layer-group"></i><span>`);
        flagTable = 1;
        console.log(flagTable);
      }
      else {

        $('.tableView').html(`<span class="table" title="Table"><i class="far fa-list-alt"></i></span>`);
        flagTable = 0;
        console.log(flagTable);
      }
    })
    $(document).on('click', '.batch_div', function () {
      batch_id = $(this).data('batch-id')
      table = $(`#batch_${batch_id}`)
      // console.log(table)

      table.DataTable({
        "aoColumnDefs": [{
          'bSortable': true,
          'aTargets': [1]
        }],
        stateSave: true,
        buttons: [
          {
            extend: 'colvis',
            text: '<i class="icon-three-bars"></i> <span class="caret"></span>',
            className: 'btn bg-blue btn-icon',
            collectionLayout: 'fixed two-column'
          }
        ],
        scrollY: "500px",
        scrollX: true,
        destroy: true,
        scrollCollapse: true,
        paging: true,
        fixedColumns: {
          leftColumns: 1,
          rightColumns: 2
        }
      })
      $(`.datatfootfilter_${batch_id}`).hide();

      $(`#batch_${batch_id} tfoot th`).not(':last-child').each(function () {
        var title = $('.datatable-column-search-inputs thead th').eq($(this).index()).text();
        $(this).html('<input type="text" class="form-control input-sm" placeholder="Search ' + title + '" />');
      });
    })
    // $(`#example tfoot th`).not(':last-child').each(function () {
    //     var title = $('.datatable-column-search-inputs thead th').eq($(this).index()).text();
    //     $(this).html('<input type="text" class="form-control input-sm" placeholder="Search ' + title + '" />');
    //   });
    // 	var table = $('#example').DataTable( {
    // 		"aoColumnDefs": [{
    //       'bSortable': false,
    //       'aTargets': [1]
    //   	}],
    // 		stateSave: true,
    // 		buttons: [
    // 				{
    // 						extend: 'colvis',
    // 						text: '<i class="icon-three-bars"></i> <span class="caret"></span>',
    // 						className: 'btn bg-blue btn-icon',
    // 						collectionLayout: 'fixed two-column'
    // 				}
    // 		],

    // 		 scrollY:        "500px",
    // 		 scrollX:        true,
    // 		 scrollCollapse: true,
    // 		 paging:         true,
    // 	   fixedColumns:{
    // 										 leftColumns: 1,
    // 										 rightColumns: 1
    // 								 }

    //  } );
    // var allPages = table.cells().nodes();
    // DataTable
    $(document).on('click', '.allcheck', function () {
      if (flagTable == 0) {
        var allPages = $(`#${$(this).data('table-id')}`).DataTable().cells().nodes()
        table_id = '#' + $(this).data('table-id'); //abhi change to get table id 29-4-19
      } else {
        var allPages = $('#leadTable_id').DataTable().cells().nodes();
      }


      if ($(this).prop("checked")) {
        $(".checkbox", allPages).prop("checked", true);
      } else {
        $(".checkbox", allPages).prop("checked", false);
      }
    });


    // amey - changes on 30/05/2019
    // unchecking select all checkbox on unchecking any of normal checkbox
    $(document).on('click', '.checkbox', function () {
      // for batch view on leadlist
      if (flagTable == 0) {
        var allPages = $(`#${$(this).data('table')}`).DataTable().cells().nodes();
        if ($(".checkbox", allPages).length == $(".checkbox:checked", allPages).length) {
          $(`#${$(this).data('parent')}`).prop("checked", true);
        } else {
          $(`#${$(this).data('parent')}`).prop("checked", false);
        }
        table_id = '#' + $(this).data('table');
      }
      // for table view
      else {
        var allPages = $('#leadTable_id').DataTable().cells().nodes();
        if ($(".checkbox", allPages).length == $(".checkbox:checked", allPages).length) {
          $(document).find('#allcheck').prop("checked", true);
        } else {
          $(document).find('#allcheck').prop("checked", false);
        }
      }

    });


    var theIndex = $('#example tr').first().children().filter(function () {
      return ($(this).text() == 'date');
    }).index();

    // $.fn.dataTable.ext.search.push(
    //   function (settings, data, dataIndex) {

    //     var min = Date.parse($('#startDate').val());
    //     var max = Date.parse($('#endDate').val());
    //     var date = Date.parse(data[theIndex]); // use data for the age column

    //     if ((isNaN(min) && isNaN(max)) ||
    //       (isNaN(min) && date <= max) ||
    //       (min <= date && isNaN(max)) ||
    //       (min <= date && date <= max)) {
    //       return true;
    //     }
    //     return false;
    //   }
    // );

    //custom date filter
    $('#startDate, #endDate').change(function () {
      table.draw();
    });
  });





  $(document).ready(function () {


    $("#filter_btn").click(function () {
      $(".datefilter").show();
      $("#startFilter").hide();
    });
    $("#cancel_datefilter").click(function () {
      $(".datefilter").hide();
      $("#startFilter").show();
    });
    // $(".datatfootfilter").hide();

    /**
     * On click of filter icon in datatable
     * remove filter icon
     * -- and---
     * add remove icon
     * -- and--
     * toggle them
     **/
    flag_filter_icon = true;

    $(document).on('click', '.databtn', function () {
      /* toggle filters shown in datatable columns*/
      $(`.datatfootfilter_${$(this).data('batch')}`).toggle();

      /**
       * if filter icon on button replace with remove icon
       *----
       * else remove icon of button replace with filter icon
       */
      var table = $(`#batch_${$(this).data('batch')}`).DataTable()

      table.columns().every(function () {
        var that = this;
        $('input', this.footer()).on('keyup change', function () {
          that.search(this.value).draw();
        });
      });

      if (flag_filter_icon == true) {
        //alert('removing icon');
        $('#filter_icon').removeClass('glyphicon-filter');
        $('#filter_icon').addClass('glyphicon-remove');
        flag_filter_icon = false;
      }
      else {
        $('#filter_icon').removeClass('glyphicon-remove');
        $('#filter_icon').addClass('glyphicon-filter');

        flag_filter_icon = true;
      }
    });


    $(document).on('click', '#approve', function () {
      $(".loader").fadeIn("slow");
      var $acceptedThis = $(this);
      var usertype = parseInt('{{ request.session.usertype }}');
    $(this).prop('disabled', true);
    $(this).html('<i class="fa fa-spinner fa-spin"></i> Processing');
    var someObj = {};
    // var tableObj;
    var rows = [];
    someObj.fruitsGranted = [];
    someObj.fruitsDenied = [];
    if (flagTable == 0) {
      var allPages = $(table_id).DataTable().cells().nodes();
      var tableObj = $(table_id).DataTable();
    } else {
      var allPages = $('#leadTable_id').DataTable().cells().nodes();
      var tableObj = $('#leadTable_id').DataTable();
    }
    $(allPages).find(".checkbox").each(function () {
      var $this = $(this);
      if ($this.is(":checked")) {
        someObj.fruitsGranted.push($this.attr("id"));
        rows.push(tableObj.row(parseInt($this.attr("data_loop"))).node());
      } else {
        someObj.fruitsDenied.push($this.attr("id"));
      }
    });
    approve = someObj.fruitsGranted;
    token = getCookie('csrftoken');
    if (approve.length !== 0) {
      status = $(this).attr('status');
      camp_id = $(this).attr('camp_id');
      $.ajax({
        type: 'post',
        url: '/client/ajax/lead_approve/',
        data: { 'id': approve, 'status': status, 'camp_id': camp_id, csrfmiddlewaretoken: token },
        success: function (data) {
          if (data.success == 1) {
            if (usertype === 1) {
              $acceptedThis.prop('disabled', false);
              $acceptedThis.html('<i class="icon-check"></i> Approve</a>');
              $.each(rows, function (index, value) {
                tableObj.cell(value, 1).data('');
                tableObj.cell(value, -1).data(`<span class="label label-success"> Approved</span>`);
                tableObj.fixedColumns().update();
              });
              $(".loader").fadeOut("fast");
              swal({ title: "", text: data.msg, type: "success" });
            } else {
              swal({ title: "", text: data.msg, type: "success" }).then(function () { location.reload(); });
            }

          }
        },
        failure: function (error) {
          $acceptedThis.prop('disabled', false);
          $acceptedThis.html('<i class="icon-check"></i> Approve</a>');
          $(".loader").fadeOut("fast");

          alert("fail");
        }
      });
    }
    else {
      $acceptedThis.prop('disabled', false);
      $acceptedThis.html('<i class="icon-check"></i> Approve</a>');
      $(".loader").fadeOut("fast");

      swal({
        title: "Lead not selected !", text: "Select a lead to approve.", type:
          "warning", icon: "warning"
      })
    }
  });

  // hide add new reason input box and show selected reason...Akshay Date - 11th Nov, 2019
  function toggle_new_old_lead_reason(){
    $("#new_rejected_reason").hide();
			$("#new_rectify_reason").hide();
			$('.cancel').hide()
			$(".check").hide();
			$(".add").show();
			$("#leads_rejected_reason").show();
			$("#leads_rectify_reason").show();
  }

  $(document).on('click', '#Rejected', function () {
    var $rejectedThis = $(this);
    var someObj = {};
    var usertype = parseInt('{{ request.session.usertype }}');
  someObj.fruitsGranted = [];
  someObj.fruitsDenied = [];
  var rows = [];  //array for storing row number

  if (flagTable == 0) {
    var allPages = $(table_id).DataTable().cells().nodes();
    var tableObj = $(table_id).DataTable();
  } else {
    var allPages = $('#leadTable_id').DataTable().cells().nodes();
    var tableObj = $('#leadTable_id').DataTable();
  }

  $(allPages).find(".checkbox").each(function () {
    var $this = $(this);
    if ($this.is(":checked")) {
      someObj.fruitsGranted.push($this.attr("id"));
      rows.push(tableObj.row(parseInt($this.attr("data_loop"))).node());//storingchecked rows
    } else {
      someObj.fruitsDenied.push($this.attr("id"));
    }
  });
  console.log(rows);
  console.log(someObj.fruitsGranted);
  $(".loader").fadeIn("slow");
  $(this).prop('disabled', true);
  $(this).html('<i class="fa fa-spinner fa-spin"></i> Processing');
  Rejected = someObj.fruitsGranted;
  token = getCookie('csrftoken');
  var Reason = $("#leads_rejected_reason").val();
  var lead_desc = $("#lead_desc").val();
  reason_cnt = $("#leads_rejected_reason").val() == null ? 0 :$("#leads_rejected_reason").val().split().length
  if (Rejected.length !== 0) {
    toggle_new_old_lead_reason();
    // make border red, if reason not selected...Akshay G..Date - 11th Nov, 2019
    if (Reason == '0' || Reason == '' || Reason == null){
        $rejectedThis.prop('disabled', false);
        $rejectedThis.html('submit');
        $(".loader").fadeOut("fast");
        $('#leads_rejected_reason').css('border-color', 'red');
        return;
    }
    $('#leads_rejected_reason').css('border-color', '#ddd');
    // make border red, if description not entered...Akshay G..Date - 11th Nov, 2019
    if (lead_desc.length == 0){
        $rejectedThis.prop('disabled', false);
        $rejectedThis.html('submit');
        $(".loader").fadeOut("fast");
        $('#lead_desc').css('border-color', 'red');
        return;
    }
    $('#lead_desc').css('border-color', '#ddd');
    // if (lead_desc.length !== 0) {
      status = $(this).attr('status');
      camp_id = $(this).attr('camp_id');
      $.ajax({
        type: 'post',
        url: '/client/ajax/lead_rejected/',
        data: { 'Reason': Reason, 'lead_desc': lead_desc, 'id': Rejected, 'lead_status': 2, 'status': status, 'camp_id': camp_id, csrfmiddlewaretoken: token },
        success: function (data) {

          $rejectedThis.prop('disabled', false);
          $rejectedThis.html('submit');
          if (data.success == 1) {
            if (usertype === 1) {
              $(allPages).find(".checkbox").each(function () {
                var $this = $(this);
                if ($this.is(":checked")) {
                  $this.prop('checked', false)
                  $this.remove()
                }
              });
              $.each(rows, function (index, value) {
                tableObj.cell(value, -1).data(`<span class="label label-danger"> Rejected</span>`); //changing status
                tableObj.fixedColumns().update();
              });
              $('#myModal').modal('toggle');
              $("#leads_rejected_reason").val('')
              $("#lead_desc").val('')
              $(".loader").fadeOut("fast");

              swal({ title: "", text: data.msg, icon: "success" });
              // .then(function () { location.reload(); });
            }
            else {
              swal({ title: "", text: data.msg, icon: "success" }).then(function () { location.reload(); });
            }
          }
        },
        failure: function (error) {
          $rejectedThis.prop('disabled', false);
          $rejectedThis.html('submit');
          $(".loader").fadeOut("fast");

          alert("fail");
        }
      });
    // } else {

    //   $rejectedThis.prop('disabled', false);
    //   $rejectedThis.html('submit');
    //   $(".loader").fadeOut("fast");

    //   swal({ title: "Reject Lead", text: "Select Reason and Enter Description", type: "warning", icon: "warning" });
    // }

  }
  else {

    $rejectedThis.prop('disabled', false);
    $rejectedThis.html('submit');
    // $('#Rejected').attr('disabled', false);
    // $('#Rejected').html('Submit');
    $(".loader").fadeOut("fast");

    swal({ title: "Lead not selected !", text: "Select a lead to reject.", type: "warning", icon: "warning" });
  }
  });

  //when client select rectify lead then change status or Description
  $(document).on('click', '#Rectify', function () {
    var $rejectedThis = $(this);
    var usertype = parseInt('{{ request.session.usertype }}');
  var someObj = {};
  someObj.fruitsGranted = [];
  someObj.fruitsDenied = [];
  var rows = []; //for storing row number
  if (flagTable == 0) {
    var allPages = $(table_id).DataTable().cells().nodes();
    var tableObj = $(table_id).DataTable();
  } else {
    var allPages = $('#leadTable_id').DataTable().cells().nodes();
    var tableObj = $('#leadTable_id').DataTable();
  }

  $(allPages).find(".checkbox").each(function () {
    var $this = $(this);
    if ($this.is(":checked")) {
      someObj.fruitsGranted.push($this.attr("id"));
      rows.push(tableObj.row(parseInt($this.attr("data_loop"))).node());  //storing row number
    } else {
      someObj.fruitsDenied.push($this.attr("id"));
    }
  });
  $(".loader").fadeIn("slow");
  $(this).prop('disabled', true);
  $(this).html('<i class="fa fa-spinner fa-spin"></i> Processing');
  console.log(rows);
  console.log(someObj.fruitsGranted);
  Rejected = someObj.fruitsGranted;
  token = getCookie('csrftoken');
  var Reason = $("#leads_rectify_reason").val();
  var lead_desc = $("#lead_rectify_desc").val();
  reason_cnt = $("#leads_rectify_reason").val() == null ? 0 :$("#leads_rectify_reason").val().split().length

  console.log(Reason)
  if (Rejected.length !== 0) {
    toggle_new_old_lead_reason();
    // make border red, if reason not selected...Akshay G..Date - 11th Nov, 2019
    if (Reason == '0' || Reason == '' || Reason == null){
        $rejectedThis.prop('disabled', false);
        $rejectedThis.html('submit');
        $(".loader").fadeOut("fast");
        $('#leads_rectify_reason').css('border-color', 'red');
        return;
    }
    $('#leads_rectify_reason').css('border-color', '#ddd');
    // make border red, if description not entered...Akshay G..Date - 11th Nov, 2019
    if (lead_desc.length == 0){
        $rejectedThis.prop('disabled', false);
        $rejectedThis.html('submit');
        $(".loader").fadeOut("fast");
        $('#lead_rectify_desc').css('border-color', 'red');
        return;
    }
    $('#lead_rectify_desc').css('border-color', '#ddd');
    // if (Reason.length !== 0 && lead_desc.length !== 0) {
      status = $(this).attr('status');
      camp_id = $(this).attr('camp_id');
      $.ajax({
        type: 'post',
        url: '/client/ajax/lead_rectify/',
        data: { 'Reason': Reason, 'lead_desc': lead_desc, 'id': Rejected, 'lead_status': 3, 'status': status, 'camp_id': camp_id, csrfmiddlewaretoken: token },
        success: function (data) {
          if (data.success == 1) {
            if (usertype === 1) {
              $rejectedThis.prop('disabled', false);
              $rejectedThis.html('submit');

              $(allPages).find(".checkbox").each(function () {
                var $this = $(this);
                if ($this.is(":checked")) {
                  $this.prop('checked', false)
                }
              });
              $.each(rows, function (index, value) {//iterating rows array to find row number
                console.log(value);
                tableObj.cell(value, -1).data(`<span class="label label-warning" style="background-color:#c14a25;"> Rectify</span>`); //changing status
                tableObj.fixedColumns().update();
              });

              $('#myModalForRectify').modal('toggle');
              $("#lead_rectify_desc").val('')
              $("#leads_rectify_reason").val('')
              $(".loader").fadeOut("fast");

              swal({ title: "", text: data.msg, icon: "success" });
              // .then(function () { location.reload(); });
            }
            else {
              swal({ title: "", text: data.msg, icon: "success" }).then(function () { location.reload(); });
            }
          }
        },
        failure: function (error) {
          $rejectedThis.prop('disabled', false);
          $rejectedThis.html('submit');
          $(".loader").fadeOut("fast");

          alert("fail");
        }
      });
    // } else {
    //   $rejectedThis.prop('disabled', false);
    //   $rejectedThis.html('submit');
    //   $(".loader").fadeOut("fast");

    //   swal({ title: "Rectify Lead", text: "Select Reason and Enter Description", type: "warning", icon: "warning" })
    // }
  }
  else {
    $rejectedThis.prop('disabled', false);
    $rejectedThis.html('submit');
    $(".loader").fadeOut("fast");

    swal({ title: "Lead not selected !", text: "Select a lead to rectify.", type: "warning", icon: "warning" })
  }
  });
  });
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
      
  })
  // to display all rejected reasons for batch view....Akshay G...Date- 5th Nov, 2019
      $(document).on('click','.view_reason',function(){
          $(`.reason_div2`).addClass('hidden')
          reasons = $(this).data('title').split(',')
          batch = $(this).data('batch_id')
          $('.reason_div2').empty()
          $list = $('<ul />')
          reasons.forEach(res => {
            if (res!=""){
              $list.append(`<li> ${res.trim()}`)
            }
          });
          $(`.reason_${batch}`).append($list)
          $(`.reason_${batch}`).css('top',$(this).offset().top - $(this).closest('.panel-body').offset().top).css('left',$(this).offset().left-172)
          $(`.reason_${batch}`).removeClass('hidden')
      })
      $(document).click(function(event){
          if ($(event.target).closest('.view_reason').length == 0) {
            $(`.reason_div2`).addClass('hidden')
          }
      })
      // to display all rejected reasons for list view....Akshay G...Date- 5th Nov, 2019
      $(document).on('click','.view_reason3',function(){
          $(`.reason_div3`).addClass('hidden')
          reasons = $(this).data('title').split(',')
          $('.reason_div3').empty()
          $list = $('<ul />')
          reasons.forEach(res => {
            if (res!=""){
              $list.append(`<li> ${res.trim()}`)
            }
          });
          $('.reason_div3').append($list)
          $('.reason_div3').css('top',$(this).offset().top-167).css('left',$(this).offset().left-150)
          $(`.reason_div3`).removeClass('hidden')
      })
      $(document).click(function(event){
          if ($(event.target).closest('.view_reason3').length == 0) {
            $(`.reason_div3`).addClass('hidden')
          }
      })
</script>