<script>
    $(".custom_head").click(function () {
        $(".custom_head_sel").show();
        $(".custom_head").hide();

    });
    $(document).on('click', '.cancel_mapping', function () {
        window.location.reload();
    })
</script>
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
<script>
    var unmapped_tc_headers = JSON.parse(`{{j_unmapped_tc_headers|safe}}`);
    var user_header_val = JSON.parse(`{{user_header_val|safe}}`);
    var camp_list = JSON.parse(`{{camp_list|safe}}`);
    var tc_header_val = {
        'cpl': '^[0-9]*$',
        'target_quantity': '^[0-9]*$', 'custom_question': '^[0-9]*$',
        'suppression_status': '^[0-9]*$', 'abm_status': '^[0-9]*$',
        'revenue_size': /\d/, 'company_size': /^\d+$/,
        'name': '', 'rfq_timer': '', 'company_limit': '^[0-9]*$'
    };
    var error_msg = {
        'cpl': 'CPL must be an integer number and equal or less than 9,999,999.',
        'target_quantity': 'Target quantity must be an integer number and equal or less than 999,999,999.', 'custom_question': 'Custom question must be in the range of 1-10.',
        'suppression_status': 'Suppression status must be in the form of 0, 1, yes, no.', 'abm_status': 'ABM status must be in the form of 0, 1, yes, no.',
        'revenue_size': 'Revenue size must contain at least one integer number.', 'company_size': 'Company size can only contain -, _, + and digits.',
        'name': 'Campaign name must be of maximum 400 characters.',
        'rfq_timer': 'Invalid RFQ timer entered.', 'company_limit': 'Company limit must be an integer number.'
    };
    $(document).on('click', '.close_label', function () {
        $(this).parent().hide();
        var dropdown = $(this).parent().next();
        dropdown.show();
        dropdown.val(dropdown.find('option:first').val());
        unmapped_tc_headers[$(this).attr('data-tc_header')] = $(this).parent().attr('data-tc_table_name');
        var tc_header = $(this).attr('data-tc_header');
        $('.user_mapping').each(function () {
            var options = `<option value="${tc_header}">${tc_header}</option>`;
            $(this).append(options);
        });
        new PNotify({
            title: 'Header mapping',//'success',
            text: "Removed mapping for \'" + $(this).parent().attr('data-user_header') + "\'",
            addclass: 'alert alert-danger alert-styled-left alert-arrow-left',
            type: 'warning', //'success',
            delay: 6500  // 3.5 seconds
        });
    });

    function isArray(obj) {
        return !!obj && obj.constructor === Array;
    }
    var revenue_size_std_units = ['million', 'm', 'mill', 'billion', 'bill', 'b'];
    // validate if revenue size has standard units..Akshay G..Date - 8th Nov, 2019
    function validate_revenue_size(value){
        var re = /[a-zA-Z]+/g;
        var m;
        // search for all matching patterns in given string
        do {
            // search for first matching pattern [a-zA-Z] in revenue size value
            m = re.exec(value);
            // if searched value found i.e. some text
            if (m) {
                // check if text is in standard array values
                if (jQuery.inArray(m[0].toLowerCase(), revenue_size_std_units) == -1){
                    return false;
                }
            }
        } while (m);
        return true;
    }
    // validate rfq timer... Date- 12-10-2019
    function rfq_validation(val) {
        if (RegExp(/\d/).test(val) == false) {
            error_msg['rfq_timer'] = 'RFQ timer must contain at least one digit.'
            return false;
        }
        if (RegExp(/([\d]+[.])/g).test(val)) {
            error_msg['rfq_timer'] = 'RFQ timer must be an integer number.'
            return false;
        }
        if (/\d+/.exec(val)[0].length != val.replace(/[^0-9]/g, '').length) {
            error_msg['rfq_timer'] = 'Invalid RFQ timer entered.'
            return false;
        }
        if (/^[0-9a-zA-Z]*$/.test(val) == false) {
            error_msg['rfq_timer'] = 'Invalid RFQ timer entered.'
            return false;
        }
        return true;
    }
    // count no. of occurrences of substring in string..Akshay G...date - 18th Nov, 2019
    function occurrences(string, subString, allowOverlapping) {

        string += "";
        subString += "";
        if (subString.length <= 0) return (string.length + 1);

        var n = 0,
            pos = 0,
            step = allowOverlapping ? 1 : subString.length;

        while (true) {
            pos = string.indexOf(subString, pos);
            if (pos >= 0) {
                ++n;
                pos += step;
            } else break;
        }
        return n;
    }
    $(function () {
        var status_list = ['0', '1', 'yes', 'y', 'n', 'no', ''];
        $(document).on('change', '.user_mapping', function (event) {
            var user_header = $(this).attr('data-user_header');
            var tc_header = $(this).val();
            if (tc_header in tc_header_val) {
                var pattern = new RegExp(tc_header_val[tc_header]);
                var status = true;
                camp_list.forEach(function (dict) {
                    val = dict[user_header];
                    if (isArray(val)) {
                        if (tc_header == 'name') {
                            if (val.join('-').length > 400) {
                                status = false;
                            }
                        }
                        if (tc_header != 'revenue_size' && tc_header != 'company_size') {
                            if (val[0] == null){
                                val = [''];
                            }
                            else{
                                val = [val[0].toString()];
                            }
                            if (val.length > 1) {
                                val = [val[0]];
                            }
                            if (tc_header == 'suppression_status' || tc_header == 'abm_status') {
                                if (jQuery.inArray(val[0].toString().toLowerCase(), status_list) != -1) {
                                    val = ['1'];
                                }
                            }
                            if (tc_header == 'custom_question') {
                                val = [val[0].replace('$', '')];
                                if (val[0].trim() != '' && /^[0-9]*$/.test(val[0])) {
                                    if (parseInt(val[0]) > 10 || parseInt(val[0]) < 0) {
                                        status = false;
                                    }
                                }
                                if (RegExp(/([\d]+[.])/g).test(val[0])) {
                                    error_msg[tc_header] = 'Custom question must be an integer number.'
                                    status = false;
                                }
                            }
                            if (tc_header == 'cpl') {
                                if (parseFloat(val[0].replace('$', '').trim()) > 9999999) {
                                    status = false;
                                }
                                val = [val[0].replace('.', '').replace('$', '').trim()];
                            }
                            if (tc_header == 'target_quantity') {
                                val = [val[0].replace('$', '')];
                                if (parseInt(val[0]) > 999999999) {
                                    status = false;
                                }
                                if (RegExp(/([\d]+[.])/g).test(val[0])) {
                                    error_msg['target_quantity'] = 'Target quantity must be an integer number.'
                                    status = false;
                                }
                            }
                            // validate company lead limit...Date - 7th Nov, 2019
                            if (tc_header == 'company_limit'){
                                val = [val[0].replace('$', '')];
                                if (RegExp(/([\d]+[.])/g).test(val[0])) {
                                    error_msg['company_limit'] = 'Company limit must be an integer number.'
                                    status = false;
                                }
                            }
                            if (tc_header == 'rfq_timer') {
                                if (val[0].trim() != '') {
                                    val[0] = val[0].replace(' ', '');
                                    if (rfq_validation(val[0]) == false) {
                                        status = false;
                                    }
                                }
                            }
                        }
                        if (tc_header != 'name') {
                            val.forEach(function (element) {
                                if (element == null){
                                    element = '';
                                }
                                else{
                                    element = element.toString();
                                }
                                if (tc_header == 'revenue_size' || tc_header == 'company_size') {
                                    ['+', '-', '_'].forEach(function(item){
                                        // check for count of 'item' in 'element'..Akshay G..date - 18th Nov, 2019
                                        if (occurrences(element, item, false) > 1){
                                            status = false;
                                            error_msg[tc_header] = `Invalid ${tc_header.split('_').join(' ')} entered.`;
                                        }
                                    })
                                    if (jQuery.inArray(element.trim(), ['+', '-', '_', '$']) != -1){
                                        status = false;
                                        error_msg[tc_header] = `Invalid ${tc_header.split('_').join(' ')} entered.`;
                                    }
                                    var ele = element.replace('-', '').replace('_', '').replace(' ', '').replace(',', '').replace('+', '');
                                    if (tc_header == 'revenue_size') {
                                        if (element.trim().length != 0){
                                            if (RegExp(/^[0-9]/).test(element.replace('$', '').trim()) == false) {
                                                status = false;
                                                if (element.indexOf('$') != -1){
                                                    error_msg['revenue_size'] = '$ must be followed by digits in campaign revenue size.'    
                                                }
                                                else{
                                                    error_msg['revenue_size'] = 'Revenue size must start from either digit or $.'
                                                }
                                            }
                                        }
                                        if (validate_revenue_size(element) == false && element.trim().length != 0){
                                            status = false;
                                            error_msg['revenue_size'] = 'Revenue size can only contain m, mill, million, b, bill or billion as currency text.'
                                        }
                                    }
                                } else {
                                    var ele = element;
                                }
                                if (pattern.test(ele) == false && element.trim().length != 0) {
                                    status = false;
                                }
                                if (tc_header == 'rfq_timer') {
                                    if (/^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$/.test(ele)) {
                                        status = true;
                                    }
                                }
                            })
                        }
                    }
                    else {
                        if (val == null){
                            val = '';
                        }
                        else{
                            val = val.toString();
                        }
                        if (tc_header == 'name') {
                            if (val.length > 400) {
                                status = false;
                            }
                        }
                        if (tc_header == 'suppression_status' || tc_header == 'abm_status') {
                            if (jQuery.inArray(val.toString().toLowerCase(), status_list) != -1) {
                                val = '1';
                            }
                        }
                        if (tc_header == 'custom_question') {
                            val = val.replace('$', '');
                            if (val.trim() != '' && /^[0-9]*$/.test(val)) {
                                if (parseInt(val) > 10 || parseInt(val) < 0) {
                                    status = false;
                                }
                            }
                            if (RegExp(/([\d]+[.])/g).test(val)) {
                                error_msg[tc_header] = 'Custom question must be an integer number.'
                                status = false;
                            }
                        }
                        if (tc_header == 'cpl') {
                            if (parseFloat(val.replace('$', '').trim()) > 9999999) {
                                status = false;
                            }
                            val = val.replace('.', '').replace('$', '').trim();
                        }
                        if (tc_header == 'target_quantity') {
                            val = val.replace('$', '');
                            if (parseInt(val) > 999999999) {
                                status = false;
                            }
                            if (RegExp(/([\d]+[.])/g).test(val)) {
                                error_msg['target_quantity'] = 'Target quantity must be an integer number.'
                                status = false;
                            }
                        }
                        // validate company lead limit...Date - 7th Nov, 2019
                        if (tc_header == 'company_limit'){
                            val = val.replace('$', '');
                            if (RegExp(/([\d]+[.])/g).test(val)) {
                                error_msg['company_limit'] = 'Company limit must be an integer number.'
                                status = false;
                            }
                        }
                        if (tc_header == 'rfq_timer') {
                            if (val.trim() != '') {
                                val = val.replace(' ', '');
                                if (rfq_validation(val) == false) {
                                    status = false;
                                }
                            }
                        }
                        if (tc_header == 'revenue_size' || tc_header == 'company_size') {
                            // check for count of 'item' in 'val'..Akshay G..date - 18th Nov, 2019
                            ['+', '-', '_'].forEach(function(item){
                                if (occurrences(val, item, false) > 1){
                                    status = false;
                                    error_msg[tc_header] = `Invalid ${tc_header.split('_').join(' ')} entered.`;
                                }
                            })
                            if (jQuery.inArray(val.trim(), ['+', '-', '_', '$']) != -1){
                                status = false;
                                error_msg[tc_header] = `Invalid ${tc_header.split('_').join(' ')} entered.`;
                            }
                            var ele = val.replace('-', '').replace('_', '').replace(' ', '').replace(',', '').replace('+', '');
                            if (tc_header == 'revenue_size') {
                                if (val.trim().length != 0){
                                    if (RegExp(/^[0-9]/).test(val.replace('$', '').trim()) == false) {
                                        status = false;
                                        if (val.indexOf('$') != -1){
                                            error_msg['revenue_size'] = '$ must be followed by digits in campaign revenue size.'    
                                        }
                                        else{
                                            error_msg['revenue_size'] = 'Revenue size must start from either digit or $.'
                                        }
                                    }
                                }
                                if (validate_revenue_size(val) == false && val.trim().length != 0){
                                    status = false;
                                    error_msg['revenue_size'] = 'Revenue size can only contain m, mill, million, b, bill or billion as currency text.'
                                }
                            }
                            if (pattern.test(ele) == false && val.trim().length != 0) {
                                status = false;
                            }
                        }
                        if (tc_header != 'name') {
                            if (pattern.test(val) == false && val.trim().length != 0) {
                                status = false;
                            }
                            if (tc_header == 'rfq_timer') {
                                if (/^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$/.test(val)) {
                                    status = true;
                                }
                            }
                        }
                    }
                })
                if (status == false) {
                    $(this).find('option:first').prop("selected", true);
                    new PNotify({
                        title: "Can't map \'" + user_header + "\' with \'" + tc_header + "\'.",//'success',
                        text: `${error_msg[tc_header]}`,
                        addclass: 'alert alert-danger alert-styled-left alert-arrow-left',
                        type: 'warning', //'success',
                        delay: 6500  // 3.5 seconds
                    });
                    return false;
                }
            }
            $(this).hide();
            var mapp_header = $(this).prev();
            mapp_header.empty();
            mapp_header.append(`${tc_header}
                                    <button type="button" class="close close_label" data-tc_header='${tc_header}'>×</button>
                                `);
            mapp_header.attr('data-tc_table_name', unmapped_tc_headers[tc_header]);
            mapp_header.show();
            delete unmapped_tc_headers[tc_header];
            $('.user_mapping').each(function () {
                $(this).empty();
                var options = '<option value="0"></option>';
                $.each(unmapped_tc_headers, function (tc_header, v) {
                    options += `<option value='${tc_header}'>${tc_header}</option>`;
                })
                $(this).append(options);
            })
            new PNotify({
                title: 'Header mapping',//'success',
                text: "Successfully mapped \'" + user_header + "\' with \'" + tc_header + "\'",
                addclass: 'alert alert-success alert-styled-left alert-arrow-left',
                type: 'success', //'success',
                delay: 6500  // 3.5 seconds
            });
        })
    })
</script>
<script>
    $(function () {
        var camp_type = JSON.parse('{{camp_type|safe}}');
        $(document).on('click', '#save_headers', function () {
            if ('name' in unmapped_tc_headers) {
                pnotify_alert('\'name\'');
            }
            else if ('cpl' in unmapped_tc_headers) {
                pnotify_alert('\'cpl\'');
            }
            else if ('target_quantity' in unmapped_tc_headers) {
                pnotify_alert('\'target_quantity\'');
            }
            else if ('method' in unmapped_tc_headers) {
                pnotify_alert('\'method\'');
            }
            else {
                var data = {};
                $('.mapped_header').each(function () {
                    var tc_table_name = '';
                    var tc_header = '';
                    if ($(this).is(':visible')) {
                        tc_table_name = $(this).attr('data-tc_table_name');
                        tc_header = $(this).find('.close_label').attr('data-tc_header');
                    }
                    var user_header = $(this).attr('data-user_header');
                    var d1 = { 'tc_header': tc_header, 'tc_table_name': tc_table_name };
                    var header_data = {};
                    header_data[user_header] = d1;
                    $.extend(data, header_data);
                });
                var token = getCookie('csrftoken');
                swal({
                    title: 'Mapping done ?',
                    text: 'save mapped headers and start creating campaigns.',
                    buttons: true,
                    dangerMode: true,
                    icon: 'warning',
                }).then(function (willDelete) {
                    if (willDelete) {
                        $('.loader').fadeIn("slow");
                        $.ajax({
                            type: 'post',
                            url: '/campaign_mapping/save_mapped_headers/',
                            data: { 'data': JSON.stringify(data), 'user_id': $('.mapped_header').attr('data-user_id'), 'csrfmiddlewaretoken': token },
                            success: function (data) {
                                $('.loader').fadeOut("fast");
                                if (data['status'] == 'failure') {
                                    var error = JSON.parse(data['error']);
                                    $('#error_messages').empty();
                                    $.each(error, function (header, error_msg) {
                                        var value = error[header + '_val'];
                                        if (header.indexOf('_val') == -1) {
                                            $('#error_messages').append(
                                                `<div class="alert alert-danger">
                                                    <a href="#" class="close clss close_warning" aria-label="close"></a>
                                                    <span>${error_msg}</span>
                                                    <div>${value}</div>
                                                </div>`
                                            )
                                        }
                                    })
                                    $('#validation_warning').show();
                                    $('#start_again').attr('href', data['redirect_url']);
                                    $('#errorModal').modal('show');
                                    return;
                                }
                                $('#validation_warning').hide();
                                $('#error_messages').empty();
                                var camp_type = 'Normal';
                                var c = 'Campaigns';
                                if (data['rfq_status'] == true) {
                                    camp_type = 'RFQ';
                                }
                                if (data['total_campaigns_created'] == 1) {
                                    c = 'Campaign';
                                }
                                if (data['redirect_url'] != undefined) {
                                    swal({
                                        title: "Campaign Mapping",
                                        text: "Successfully created " + data['total_campaigns_created'] + ` ${camp_type} ${c}`,
                                        icon: "success",
                                    }).then(function () {
                                        window.location.href = data['redirect_url'];
                                    })
                                }
                            },
                            error: function () {
                                $('.loader').fadeOut("fast");
                                swal({
                                    title: "Internal server error !",
                                    text: "Please report this issue to techconnectr technical team.",
                                    icon: "error",
                                })
                            }
                        })
                    }
                })
            }
        })
        $(document).on('click', '#preview_header', function () {
            window.location.href = '/campaign_mapping/preview_headers/';
        })
    });
    function pnotify_alert(header) {
        new PNotify({
            title: 'Header mapping',//'success',
            text: "It's mandatory to map tc header " + header + " with some other header.",
            addclass: 'alert alert-danger alert-styled-left alert-arrow-left',
            type: 'warning', //'success',
            delay: 6500  // 3.5 seconds
        });
    }
</script>
<script type="text/javascript">
    // function myCallbackFunction(updatedCell, updatedRow, oldValue) {
    // 	var updated_row_index = updatedCell[0][0]['row'];
    // }
    $(function () {
        var table;
        $("#preview_headers").click(function () {
            var token = getCookie('csrftoken');
            $.ajax({
                type: 'post',
                url: '/campaign_mapping/preview_headers/',
                data: { 'csrfmiddlewaretoken': token },
                success: function (data) {
                    $('#mapping_table thead').children().remove();
                    $('#mapping_table tbody').children().remove();
                    var theader = ``;
                    data['mapped_user_headers'].forEach(element => {
                        theader += `<th>${element}</th>`;
                    });
                    $('#mapping_table thead').append(`<tr>${theader}</tr>`);
                    var tbody = ``;
                    var tr;
                    data['mapped_camp_data'].forEach(element => {
                        tr = ``;
                        $.each(element, function (tc_header, value) {
                            tr += `<td id='${tc_header}'>${value}</td>`;
                        });
                        tbody += '<tr class="row_data">' + tr + '</tr>';
                    });
                    $('#mapping_table tbody').append(`${tbody}`);
                    table = $('#mapping_table').DataTable({
                        //  "scrollY": 100,
                        "scrollX": true,
                        "bFilter": true,
                        "searching": true,
                        // "searching": true,
                        'bPaginate': false,
                        scrollY: "60vh",
                        scrollX: true,
                        scrollCollapse: true,
                        paging: false,
                        // fixedColumns:   {
                        //     leftColumns: 1
                        // }

                    })
                    // table.MakeCellsEditable({
                    //     "onUpdate": myCallbackFunction,
                    // });
                },
                failure: function () {

                }
            })
            $('.mapping').toggle('slide', { direction: 'left' }, 700);
            $('#slidediv').toggle('slide', { direction: 'right' }, 700);
        });
        $("#back").click(function () {
            $('.mapping').toggle('slide', { direction: 'left' }, 700);
            $('#slidediv').toggle('slide', { direction: 'right' }, 700);
            $('#mapping_table thead').children().remove();
            $('#mapping_table tbody').children().remove();
            // table.MakeCellsEditable("destroy");
            table.destroy();
            table.rows().remove().draw();
        });
    });
</script>
<style type="text/css">
    .dataTables_wrapper.no-footer .dataTables_scrollBody {
        border-bottom: 0px solid #c1b4b4 !important;
    }

    #mapping_table {}
</style>
<style type="text/css">
    .fa-upload {
        color: #fff !important;
        font-size: 13px !important
    }

    .panel-height {
        min-height: 93vh;
    }

    *::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
</style>
<!--Mapping Css-->
<style type="text/css">
    @media (min-width: 769px) {

        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
            border: 1px solid #fff;
        }

        .dropzone .dz-default.dz-message:before {
            font-size: 30px;
            top: 5px;
            width: 80px;
            height: 80px;
            margin-left: -40px;
        }

        .dropzone .dz-default.dz-message span {
            font-size: 13px;
            margin-top: 25px;
        }

        .label_head {
            border: 1px solid #ddd;
            padding: 4px 4%;
            margin-right: 2%;
            border-radius: 50px;
            font-weight: bold;
        }

        .alert_1 {
            display: none;
            overflow: hidden;
            position: fixed;
            top: -32px;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1050;
            -webkit-overflow-scrolling: touch;
            outline: 0;
        }

        .head_txt {
            font-size: 25px;
            text-align: center;
        }

        .Ss_bottom {
            border: 1px solid #d6c6c5;
            border-top: 0px;
            padding: 2% !important;
        }

        .active_text {
            background: #ccc;
        }

        .active {
            padding: 0px !important;
        }

        .dropzone {
            min-height: 70px;
        }

        .dropzone .dz-preview .dz-details,
        .dropzone-previews .dz-preview .dz-details {
            width: 140px;
            position: relative;
            background-color: #fafafa;
            padding: 0px;
            margin-bottom: 25px;
        }

        .dropzone .dz-preview,
        .dropzone-previews .dz-preview {
            background-color: #fff;
            position: relative;
            display: inline-block;
            margin: 0 10px;
            vertical-align: top;
            border: 1px solid #ddd;
            padding: 8px;
            border-radius: 2px;
        }

        .right {
            margin-left: 50%;
        }

        .file_map {
            border: 1px solid #d6c5c5;
        }

        .head {
            background: #2ab6f6;
            padding: 1%;
            color: #ffffff;
            font-size: 15px;
            font-weight: bold;
        }

        .mapp {
            padding: 0 3%;
        }

        .reset_text {
            color: #f70000;
            font-weight: bold;
            margin-right: 1%;
        }

        .auto_text {
            color: #2f2a2a;
            font-weight: bold;
            margin-right: 1%;
        }

        .label_name {
            border: 1px solid #7d7070;
            padding: 0 20px;
            margin: 0 1%;
            border-radius: 50px;
        }

        .file_field {
            border: 1px solid #b7b7b7;
            padding: 2%;
            border-radius: 2px;
            background: #f1f1f1;
        }

        .cust {
            padding: 3% !important;
        }

        .label_text {
            padding: 1%;
        }

        .custom_head_sel {
            padding: 1%;

        }

        .label_body {
            background: #f7f3f794;
            height: 35vh;
            border-radius: 10px;
            padding: 5%;
            margin-left: 7%;
        }

        .button_div {
            margin-top: 50%;
            margin-left: 5%;
        }

        .mapp_label {
            background: #d2d9da;
            padding: 3px 10px;
            border-radius: 10px;
        }

        .stepy-navigator {
            margin-top: 5%;
            bottom: 5%;
            position: absolute;
            right: 5%;
        }

        .btn_note>button {
            width: 1%;
        }

        .label {
            width: 100%;
            background: #d8cdcd;
            color: #736969;
        }

        .label_txt {
            color: #736969;
        }

        th {
            background: #ddd;
        }

        /*.file_field:hover{
            border: 1px solid #798c79;
            border-radius: 25px;

        }*/
        fieldset {
            padding: 3% 4% !important;
        }

        .dropzone .dz-default.dz-message {
            position: absolute;
            height: 68px;
            width: 100%;
            margin-top: -34px;
            top: 50%;
            left: 0;
            padding: 20px;
            text-align: center;
            border-radius: 4px;
            opacity: 1;
            filter: alpha(opacity=100);
            -webkit-transition: opacity 0.3s ease-in-out;
            -o-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out;
        }

        .upload {
            display: none;
            margin-left: 62%;
        }

        .custom_head_sel {
            display: none;
            background: #caf7d2;
            border: 0;
            width: 96%;
            padding: 3px;
            font-size: 14px;
            margin-left: 1%;
        }

        .custom_head_sel:focus {
            border: 0px !important;
        }

        .Us_def {
            float: right;
            right: 16%;
            margin-right: 1%;
        }

        .clear {
            float: right;
            right: 0%;
            margin-right: 1%;
        }

        .ellipsis {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .name {
            display: block;
            /*width: 100px;*/
            /* margin: 10px 40px; */
            /* padding: 5px 10px; */
            font-weight: normal;
            /*text-transform: uppercase;*/
            text-align: center;
        }

        .sel {
            width: 100%;
            background: #fff;
            border: 0px;
            padding: 1.5%;
            border-bottom: 2px solid #2ab6f6a6;
            margin: 1% 0;
        }

        .label_header {
            width: 100%;
            background: #acfb9f91 !important;
            border: 0px;
            padding: 1%;
            border: 2px solid #83ffb4a6;
            margin: 1% 0;
            padding-left: 3%;
        }

        .plus {
            padding-left: 10%;
        }

        .stepy-step {
            height: 82vh;
        }

        #back {
            color: #fff;
            background-color: #F44336;
            border-color: #F44336;
        }
    }

    @media (min-width: 1920px) {
        .custom_head_sel {
            display: none;
            border: 1px solid #b7b7b7;
            padding: 3%;
            border-radius: 2px;
            background: #f1f1f1;
            width: 99%;
        }

        .panel-height {
            overflow: hidden;
            min-height: 93vh;
        }

        .stepy-step {
            height: 82vh;
        }
    }

    @media (max-width: 1399px) {
        .set_top {
            margin-top: 3% !important;
        }
    }

    @media (max-height:580px) {
        .set_top {
            margin-top: 3% !important;
        }
    }

    @media only screen and (max-width: 1280px) and (min-height: 800px) {
        .button_div .btn {
            padding: 8px 14px!important;
            font-size: 0.9vw!important;
        }
        .label_body {
            margin-left: 5% !important;
            height: 50vh !important;
            padding: 3% !important;
        }
        .button_div {
            margin-top: 75% !important;
        }
        .set_top {
            margin-top: 0 !important;
        }
    }

    @media only screen and (max-width: 1366px) and (min-height: 500px) {
        .label_body {
            margin-left: 0 !important;
            height: 50vh !important;
            padding: 3% !important;
        }

        .set_top {
            margin-top: 0 !important;
        }

        .button_div {
            margin-top: 70% !important;
        }
    }
    @media only screen and (min-width: 1440px) and (max-width: 1680px) {
        .button_div .btn {
            padding: 8px 14px!important;
            font-size: 0.9vw!important;
        }
        .label_body {
            margin-left: 5% !important;
            height: 50vh !important;
            padding: 3% !important;
        }
        .button_div {
            margin-top: 75% !important;
        }
    }

    @media only screen and (min-width: 1920px) and (min-height: 1080px) { 
        .label_body {
            background: #f7f3f794;
            height: 38vh!important;
            border-radius: 10px;
            padding: 5%!important;
            margin-left: 12%!important;
        }
        .button_div {
            margin-top: 62%!important;
            margin-left: 10%!important;
        }
    }
</style>
<!--/Mapping Css-->