<script>
    $(function () {
        $("#RFQ").addClass("active");
        $("#RFQ").find("ul").first().css({ 'display': 'block' })
        $("#CampaignList").addClass("active");
    });

    $(".dropdown dt a").on('click', function () {
        $(".dropdown dd ul").slideToggle('fast');
    });

    $(".dropdown dd ul li a").on('click', function () {
        $(".dropdown dd ul").hide();
    });

    function getSelectedValue(id) {
        return $("#" + id).find("dt a span.value").html();
    }

    $(document).bind('click', function (e) {
        var $clicked = $(e.target);
        if (!$clicked.parents().hasClass("dropdown")) $(".dropdown dd ul").hide();
    });

    $('.mutliSelect input[type="checkbox"]').on('click', function () {

        var title = $(this).closest('.mutliSelect').find('input[type="checkbox"]').val(),
            title = $(this).val() + ",";

        if ($(this).is(':checked')) {
            var html = '<span title="' + title + '">' + title + '</span>';
            $('.multiSel').append(html);
            $(".hida").hide();
        } else {
            $('span[title="' + title + '"]').remove();
            var ret = $(".hida");
            $('.dropdown dt a').append(ret);

        }
    });

    function isEllipsisActive(element) {
        return element.offsetWidth < element.scrollWidth;
    }

    Array.from(document.querySelectorAll('.ellipsis'))
        .forEach(element => {
            if (isEllipsisActive(element)) {
                element.title = element.innerText;
            }
        });
</script>

<!-- Add scripts modal end -->

<!--This script use for Disable tab (start)-->
<script type="text/javascript">
    $("#message").on('keydown', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode == 9) {
            e.preventDefault();

        }
    });

</script>
