<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        {% autoescape off %}
            You're receiving this email because you requested a password reset for your user account at Techconnectr.<br>
            Please go to the following page and choose a new password:<br>
            <a href="{{ domain }}/password_reset/confirm/{{uid}}/{{token}}">{{ domain }}/password_reset/confirm/{{uid}}/{{token}}</a><br>
            Thanks for using our site!
            The Techconnectr team
        {% endautoescape %}
    </body>
</html>
