
.view-more-icon
{
	font-size: 18px;
    color: #716a6a;
}
.primary-contact
{
    margin-bottom: 16px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.38);
    padding-bottom: 8px;
}

.secondary-contact
{
	margin-top: 18px;
    margin-bottom: 16px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.38);
    padding-bottom: 8px;
}
