{% load static %}
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script type="text/javascript" src="{% static 'js/chat/reconnectwebsocket.js' %}"></script>

<script>


    //Abhi-23-08-2019
    //Globals variable
    var roomName = {{ room_name_json }};
    var sender_id = {{ user_id }};
    var username = {{ username }};
    var msgsrc = {{ profilepic }};


    var chatSocket = new ReconnectingWebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    // chatSocket.onopen = function (e) {
    //     fetch_messages();
    // };

    chatSocket.onmessage = function (e) {
        var data = JSON.parse(e.data);
        console.log(data);
        if (data['cammands'] === 'message') {
            for (var i = 0; i < data['message'].length; i++) {
                createMsg(data['message'][i]);
            }
        } else {
            createMsg(data);
        }
    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    //Abhi-23-08-2019
    //display msg on html
    function createMsg(data) {

        var message = data['message'];
        var sender_name = data['sender_name']
        var msgListTag = document.createElement('li')
        var imgTag = document.createElement('img');
        var pTag = document.createElement('p');
        pTag.textContent = message;
        imgTag.src = data['profilepic']

        if (sender_name === username) {
            msgListTag.className = 'sent';
        }
        else {
            msgListTag.className = 'replies';
        }
        msgListTag.appendChild(imgTag);
        msgListTag.appendChild(pTag);
        document.querySelector('.messages ul').appendChild(msgListTag);

    }
    //Abhi-23-08-2019
    //fetch all mesgs according to users
    function fetch_messages() {
        chatSocket.send(JSON.stringify({
            'cammands': 'fetch_messages',
            'user1': sender_id,
            'user2': receiver_id
        }));
    }

    //Abhi-23-08-2019
    //set receiver id and other things
    $(document).on('click', '.contact', function () {
        receiver_id = $(this).attr('receiver_id');
        receiver_name = $(this).attr('receiver_name');
        $('#receiver_active_name').text(receiver_name);
        $('.messages ul').empty();
        fetch_messages();

    });

    // document.querySelector('#chat-message-input').focus();
    // document.querySelector('#chat-message-input').onkeyup = function (e) {
    //     if (e.keyCode === 13) {  // enter, return
    //         document.querySelector('#chat-message-submit').click();
    //     }
    // };

    //Abhi-23-08-2019
    //send new msg to database
    document.querySelector('#chat-message-submit').onclick = function (e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'cammands': 'new_messages',
            'user1': sender_id,
            'user2': receiver_id
        }));
        messageInputDom.value = '';
    };
</script>

<!-- <script>$(".messages").animate({ scrollTop: $(document).height() }, "fast");

        $("#profile-img").click(function () {
            $("#status-options").toggleClass("active");
        });

        $(".expand-button").click(function () {
            $("#profile").toggleClass("expanded");
            $("#contacts").toggleClass("expanded");
        });

        $("#status-options ul li").click(function () {
            $("#profile-img").removeClass();
            $("#status-online").removeClass("active");
            $("#status-away").removeClass("active");
            $("#status-busy").removeClass("active");
            $("#status-offline").removeClass("active");
            $(this).addClass("active");

            if ($("#status-online").hasClass("active")) {
                $("#profile-img").addClass("online");
            } else if ($("#status-away").hasClass("active")) {
                $("#profile-img").addClass("away");
            } else if ($("#status-busy").hasClass("active")) {
                $("#profile-img").addClass("busy");
            } else if ($("#status-offline").hasClass("active")) {
                $("#profile-img").addClass("offline");
            } else {
                $("#profile-img").removeClass();
            };

            $("#status-options").removeClass("active");
        });

        // function newMessage() {
        //     message = $(".message-input input").val();
        //     if ($.trim(message) == '') {
        //         return false;
        //     }
        //     $('<li class="sent"><img src="http://emilcarlsson.se/assets/mikeross.png" alt="" /><p>' + message + '</p></li>').appendTo($('.messages ul'));
        //     $('.message-input input').val(null);
        //     $('.contact.active .preview').html('<span>You: </span>' + message);
        //     $(".messages").animate({ scrollTop: $(document).height() }, "fast");
        // };

        // $('.submit').click(function () {
        //     newMessage();
        //     alert('hello');
        // });

        // $(window).on('keydown', function (e) {
        //     if (e.which == 13) {
        //         newMessage();
        //         return false;
        //     }
        // });
    </script> -->