<script>

    var  vendor_id = tc_status = start_date = end_date = geo = 0
    var table
    var theIndex
    var custom
    var campaign_id = []
    var camp_status = []
    var camp_vendor = []
    // lead filter report js    
    $(document).ready(function () {
        $("#datepicker_from").flatpickr(
            {
                altInput: true,
                altFormat: "F j, Y",
                dateFormat: "Y-m-d",

            });
        $("#datepicker_to").flatpickr(
            {
                altInput: true,
                altFormat: "F j, Y",
                dateFormat: "Y-m-d",

            });
            
        chart_ = JSON.parse($('#chart_data').val())
        loadchartdata(chart_)
    });
        $('.switch').click(e => {
            $('.table_div').toggleClass('hidden')
            $('.chart_div').toggleClass('hidden')
        })
        $('.lead_filter').on('change', function () {
            if ($('#campaign_name_filter').val() != null){
                campaign_id = $('#campaign_name_filter').val()
            } else {
                campaign_id = []
            }
            if ($('#campaign_status_filter').val() != null){
                camp_status = $('#campaign_status_filter').val()
            } else {
                camp_status = [] 
            }
            if ($('#campaign_vendor_filter').val() != null){
                camp_vendor = $('#campaign_vendor_filter').val()
            } else {
                camp_vendor = [] 
            }
            if ($('#datepicker_from').val() != null && $('#datepicker_to').val() != null) {
                start_date = $('#datepicker_from').val()
                end_date = $('#datepicker_to').val()
            }
            load_data_table()
        
        });

        //create CREF token
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
                return cookieValue;
            }
        }
        // $('#datepicker_from, #datepicker_to').change(function () {
        //     // $('#leadReport_table').DataTable().draw();
        //     if ($('#datepicker_from').val() != null && $('#datepicker_to').val() != null) {
        //         start_date = $('#datepicker_from').val()
        //         end_date = $('#datepicker_to').val()
        //     }
        //     console.log(start_date + end_date)
        //     // if (start_date != '' && end_date != '') {
        //     //     $('#campaign_start_date_filter_span').show();
        //     //     selected_text = `${$('#datepicker_from').next('input').val()} - ${$('#datepicker_to').next('input').val()}<span class="close_filter" filter_id="date_filter" id="#campaign_start_date_filter_span"><i class="fa fa-times" aria-hidden="true"></i></span>`;
        //     //     $('#campaign_start_date_filter_span').html(selected_text);
        //     // }
        // });

        
        function load_data_table() {
            token = getCookie('csrftoken');
            $(".no_data").addClass('hidden')
            $(".div_loader").removeClass('hidden')
            // console.log(campaign_id)
            $.ajax({
                type: 'post',
                url: '/client-report/ajax/lead_report_data/',
                data: { 
                    'camp_id': campaign_id,
                    'status':camp_status,
                    'vendor':camp_vendor,
                    'start_date': start_date, 
                    'end_date': end_date,
                    'csrfmiddlewaretoken': token 
                },
                dataType: 'json',
                success: function (data) {
                    console.log(data)
                    $('#total_leads').text(data.total_leads)
                    $('#approve_leads').text(data.approved_leads)
                    $('#reject_leads').text(data.rejected_leads)
                    $(".div_loader").fadeOut('hidden')
                    $('#campaign_vendor_filter').empty()
                    data.vendors.forEach(element => {
                        if (camp_vendor.includes(element.id)){
                            $('#campaign_vendor_filter').append(`<option value="${element.id}" selected>${element.name}</option>`)
                        } else{
                            $('#campaign_vendor_filter').append(`<option value="${element.id}">${element.name}</option>`)
                        }
                        // $('#campaign_vendor_filter').append($option)
                    })
                    chart_ = JSON.parse(data.chart_data)
                    loadchartdata(chart_)
                },
                failure: function (error) {
                    alert("fail");
                }
            });
        }
    
    

    $(document).on('click', '.reset_date', function () {
        $('#datepicker_from').val('');
        $('#datepicker_from').next('input').val('');
        $('#datepicker_to').val('');
        $('#datepicker_to').next('input').val('');
        $('#campaign_start_date_filter_span').hide()
        start_date = end_date = 0
        $(`#datepicker_to`).trigger('change')
    })  
</script>
<script type="text/javascript">

    // data = [{
    //       "country": "USA",
    //       "visits": 3025
    //    }, {
    //       "country": "China",
    //       "visits": 1882
    //    }, {
    //       "country": "Japan",
    //       "visits": 1809
    //    }, {
    //       "country": "Germany",
    //       "visits": 1322
    //    }, {
    //       "country": "UK",
    //       "visits": 1122
    //    }, {
    //       "country": "France",
    //       "visits": 1114
    //    }, {
    //       "country": "India",
    //       "visits": 984
    //    }, {
    //       "country": "Spain",
    //       "visits": 711
    //    }, {
    //       "country": "Netherlands",
    //       "visits": 665
    //    }, {
    //       "country": "Russia",
    //       "visits": 580
    //    }, {
    //       "country": "South Korea",
    //       "visits": 443
    //    }, {
    //       "country": "Canada",
    //       "visits": 441
    //    }];
       // Themes begin
       am4core.useTheme(am4themes_animated);
       // Themes end
 
    function loadchartdata(chart_){
       // Create chart instance
       var chart = am4core.create("chartdiv", am4charts.XYChart);
       chart.scrollbarX = new am4core.Scrollbar();
 
       // Add data
       // console.log({{chart_data|safe}})
       data = chart_
       console.log(data)
       chart.data = data
       // Create axes
       var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
       categoryAxis.dataFields.category = "campaign";
       categoryAxis.renderer.grid.template.location = 0;
       categoryAxis.renderer.minGridDistance = 30;
       categoryAxis.renderer.labels.template.verticalCenter = "middle";
       categoryAxis.renderer.labels.template.truncate = true;
       categoryAxis.renderer.labels.template.maxWidth = 150;
       categoryAxis.renderer.labels.template.tooltipText = '{category}'
       categoryAxis.renderer.minHeight = 110;
 
       var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
       valueAxis.renderer.minWidth = 50;
 
       // Create series
       var series = chart.series.push(new am4charts.ColumnSeries());
       series.sequencedInterpolation = true;
       series.dataFields.valueY = "approve";
       series.dataFields.categoryX = "campaign";
       series.tooltipText = "[{categoryX}: bold]{valueY}[/]";
       series.columns.template.strokeWidth = 0;
 
       series.tooltip.pointerOrientation = "vertical";
 
       series.columns.template.column.cornerRadiusTopLeft = 10;
       series.columns.template.column.cornerRadiusTopRight = 10;
       series.columns.template.column.fillOpacity = 0.8;
 
       // on hover, make corner radiuses bigger
       var hoverState = series.columns.template.column.states.create("hover");
       hoverState.properties.cornerRadiusTopLeft = 0;
       hoverState.properties.cornerRadiusTopRight = 0;
       hoverState.properties.fillOpacity = 1;
 
       series.columns.template.adapter.add("fill", function (fill, target) {
          return chart.colors.getIndex(target.dataItem.index);
       });
 
       // Cursor
       chart.cursor = new am4charts.XYCursor();
    }
 </script>