{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/logo/favicon.png' %}" />
  <title>{% block title %}Techconnectr{% endblock %}</title>

  <!-- load global stylesheets-->
  {% include "common/global_css.html" %}
  <link rel="stylesheet" href="{% static 'assets/css/tagator_style.css' %}" />
  <!-- load global js-->
  {% include "common/global_js.html" %}

  <!--====================-->
  <!-- page level scripts -->
  {% block page_level_scripts %}
  {% endblock %}

  {% if messages %}
  <script>
    $(document).ready(function () {
      {% for message in messages %}
      new PNotify({
        title: '{{ message.tags|upper }}',//'success',
        text: '{{ message }}.',
        //addclass: 'alert alert-success alert-styled-left alert-arrow-left',
        addclass: 'alert alert-{{ message.tags }} alert-styled-left alert-arrow-left',
        type: '{{ message.tags }}', //'success',
        delay: 6500  // 3.5 seconds
      });
      {% endfor %}
    });
  </script>
  {% endif %}
  <script type="text/javascript">
    (function (w, d, n, u, o, t, m) {
      w['SrecObject'] = o; w[o] = w[o] || function () {
        (w[o].q = w[o].q || []).push(arguments)
      }, w[o].l = 1 * new Date(); t = d.createElement(n),
        m = d.getElementsByTagName(n)[0]; t.async = 1; t.src = u; m.parentNode.insertBefore(t, m)
    })(window, document, 'script', 'https://console.uxlens.com/collect/initialize.js', 'srec');
    srec('init', '36c64090-891d-11e9-bd1a-2dce6e9b6dd4');
  </script>

  <!--
   - load after setting sidebar li element active
   - so we dont need to open ul(submenu) from jquery
   -->
  <script type="text/javascript" src="{% static 'assets/js/core/app.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/ui/ripple.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/tagator.js' %}"></script>
</head>

<body>

  <!-- load main navbar-->
  {% include "common/navbar.html" %}

  <!-- Page container -->
  <div class="page-container">

    <!-- Page content -->
    <div class="page-content">

      <!-- load main sidebar // common/sidebar.html -->
      <!-- load global level of sidebar == defined in root folder-> templates-> side -->
      {% include "side/clientside.html" %}

      <!-- page level code inserted inside the block -->
      {% block content %}
      {% endblock %}
      <!-- page level code insertion end -->

    </div>
    <!-- /page content -->

  </div>
  <!-- /page container -->

</body>

</html>