  
  {% load static %}
  {% load custom_filters %}
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Core JS files -->
  <!-- <script type="text/javascript" src="{% static 'assets/js/plugins/loaders/pace.min.js' %}"></script> -->
  <!-- <script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery.min.js' %}"></script> -->
  <!-- <script type="text/javascript" src="{% static 'assets/js/plugins/loaders/blockui.min.js' %}"></script> -->
  <!-- /core JS files -->
<style>
.dropdown-menu.user_dropdown{
    margin-right: 0px!important;
    text-align: center!important;
    min-width: 160px;
  }
  .company_logo{
    width: 25px;
    border-radius: 50%;
  }
  #all_notifs{
      background-color: #31B0D5;
      color: white;
      padding-left: 20%;
      padding-top: 2%;
      padding-bottom: 3%;
      padding-right: 20%;
      border-radius: 15px;
    }
    .default_logo{
      padding: 0 18%;
      margin-left: -15%;
      background: #ff9800;
      border-radius: 37px;
      height: 4vh;
      margin-top: 20%;
    }
    
    .profile_name {
        font-size: 13px;
        font-weight: bold;
        color: #fff;
    }
</style>
<!-- Main navbar -->
<div class="navbar navbar-inverse navbar-fixed-top bg-indigo">
 <div class="navbar-header">
   <a class="navbar-brand" href="/client/dashboard/">
     <img src="{% static 'assets/images/logo/tc-logo1.gif' %}" alt="">
   </a>
   <ul class="nav navbar-nav visible-xs-block">
     <li>
       <a data-toggle="collapse" data-target="#navbar-mobile">
         <i class="icon-tree5">
         </i>
       </a>
     </li>
     <li>
       <a class="sidebar-mobile-main-toggle">
         <i class="icon-paragraph-justify3">
         </i>
       </a>
     </li>
   </ul>
 </div>
 <div class="navbar-collapse collapse" id="navbar-mobile">
   <div class="navbar-right">
     <!-- <span class="navbar-text ">Welcome, &nbsp;&nbsp;{{request.session.username}}
     </span> -->
     <ul class="nav navbar-nav">
       <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
           <i class="icon-bell2">
           </i>
           <span class="">{{notifycount}}
           </span>
           <span class="visible-xs-inline-block position-right">Activity
           </span>
           <span class="status-mark border-orange-400">
           </span>
         </a>
         <div class="dropdown-menu dropdown-content">
           <div class="dropdown-content-heading">
             Activity
             <!-- <ul class="icons-list">
               <li>
                 <a id='readall'>
                   <i class="icon-menu7">
                   </i>
                 </a>
               </li>
             </ul> -->
           </div>
           <ul class="media-list dropdown-content-body width-350">
            {% for row in notify %}
            {% if row.campaign_id.status == 3 %}
            <li class="media">

                <div class="media-left">
                  <!-- notif sender's company logo...Akshay G. -->
                      {% if row.id in logo_dict %}
                      <img class="company_logo" src="{{row.id|return_logo:logo_dict}}" alt="">
                      {% else %}
                      <img class="company_logo" src="{{logo_dict.default}}" alt="">
                      {% endif %}
                  <!-- <span href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></span> -->
                </div>
                <div class="media-body">
                  <span class='read' id="{{row.id}}"><i class="fa fa-times pull-right" value='1' aria-hidden="true"></i></span>
                  <a href="/client/pending-campaign/" class="read_notify" id="{{row.id}}"><span class="headfont">{{ row.title }}</span>
                  {{ row.description }}</a>
                  <div class="media-annotation">{{row.created}}</div>
                </div>

            </li>
            {% elif row.campaign_id.status == 1 %}
            <li class="media">

                <div class="media-left">
                  <!-- notif sender's company logo...Akshay G. -->
                      {% if row.id in logo_dict %}
                      <img class="company_logo" src="{{row.id|return_logo:logo_dict}}" alt="">
                      {% else %}
                      <img class="company_logo" src="{{logo_dict.default}}" alt="">
                      {% endif %}
                  <!-- <span href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></span> -->
                </div>
                <div class="media-body">
                  <span class='read' id="{{row.id}}"><i class="fa fa-times pull-right" value='1' aria-hidden="true"></i></span>
                  <a href="/client/live-campaign/" class="read_notify" id="{{row.id}}"><span class="headfont">{{ row.title }}</span><br>
                  {{ row.description }}</a>
                  <div class="media-annotation">{{row.created}}</div>
                </div>

            </li>
            {% elif row.campaign_id.status == 4 %}
            <li class="media">

                <div class="media-left">
                  <!-- notif sender's company logo...Akshay G. -->
                      {% if row.id in logo_dict %}
                      <img class="company_logo" src="{{row.id|return_logo:logo_dict}}" alt="">
                      {% else %}
                      <img class="company_logo" src="{{logo_dict.default}}" alt="">
                      {% endif %}
                  <!-- <span href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></span> -->
                </div>
                <div class="media-body">
                  <span class='read' id="{{row.id}}"><i class="fa fa-times pull-right" value='1' aria-hidden="true"></i></span>
                <a href="/client/completed-campaign/" class="read_notify" id="{{row.id}}">  <span class="headfont">{{ row.title }}</span><br>
                  {{ row.description }}  </a>
                  <div class="media-annotation">{{row.created}}</div>
                </div>
            </li>
            {% elif row.campaign_id.status == 5 %}
            <li class="media">

                <div class="media-left">
                  <!-- notif sender's company logo...Akshay G. -->
                      {% if row.id in logo_dict %}
                      <img class="company_logo" src="{{row.id|return_logo:logo_dict}}" alt="">
                      {% else %}
                      <img class="company_logo" src="{{logo_dict.default}}" alt="">
                      {% endif %}
                  <!-- <span href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></span> -->
                </div>
                <div class="media-body">
                  <span class='read' id="{{row.id}}"><i class="fa fa-times pull-right" value='1' aria-hidden="true"></i></span>
                <a href="/client/assigned-campaign/" class="read_notify" id="{{row.id}}">  <span class="headfont">{{ row.title }}</span>
                  <br>
                  {{ row.description }}  </a>
                  <div class="media-annotation">{{row.created}}</div>
                </div>

            </li>
            {% elif row.campaign_id.status == 0 %}
            <li class="media">

                <div class="media-left">
                  <!-- notif sender's company logo...Akshay G. -->
                      {% if row.id in logo_dict %}
                      <img class="company_logo" src="{{row.id|return_logo:logo_dict}}" alt="">
                      {% else %}
                      <img class="company_logo" src="{{logo_dict.default}}" alt="">
                      {% endif %}
                  <!-- <span href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></span> -->
                </div>
                <div class="media-body">
                  <span class='read' id="{{row.id}}"><i class="fa fa-times pull-right" value='1' aria-hidden="true"></i></span>
                  <a href="/client/draft-campaign/" class="read_notify" id="{{row.id}}"><span class="headfont">{{ row.title }}</span>
                  {{ row.description }}</a>
                  <div class="media-annotation">{{row.created}}</div>
                </div>

            </li>
            {% endif %}
            {% if row.camp_alloc %}
            {% if row.camp_alloc.status == 1 %}
            <li class="media">

                <div class="media-left">
                  <!-- notif sender's company logo...Akshay G. -->
                      {% if row.id in logo_dict %}
                      <img class="company_logo" src="{{row.id|return_logo:logo_dict}}" alt="">
                      {% else %}
                      <img class="company_logo" src="{{logo_dict.default}}" alt="">
                      {% endif %}
                  <!-- <span href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></span> -->
                </div>
                <div class="media-body">
                  <span class='read' id="{{row.id}}"><i class="fa fa-times pull-right" value='1' aria-hidden="true"></i></span>
                  <a href="/client/leadlist/{{row.camp_alloc.id}}/{{row.camp_alloc.status}}" class="read_notify" id="{{row.id}}"><span class="headfont">{{ row.title }}</span>
                  <br>
                  {{ row.description }}
                </a>
                  <div class="media-annotation">{{row.created}}</div>
                </div>

            </li>
            {% endif %}
            {% endif %}
            {% if row.camp_alloc is None and row.campaign_id is None %}
            <li class="media">
              <a style="color: black" >
              <div class="media-left">
                <!-- notif sender's company logo...Akshay G. -->
                      {% if row.id in logo_dict %}
                      <img class="company_logo" src="{{row.id|return_logo:logo_dict}}" alt="">
                      {% else %}
                      <img class="company_logo" src="{{logo_dict.default}}" alt="">
                      {% endif %}
                <!-- <span href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></span> -->
              </div>
              <div class="media-body">
                <span class='read' id="{{row.id}}"><i class="fa fa-times pull-right" value='1' aria-hidden="true"></i></span>
                <span class="headfont read_notify" id="{{row.id}}">{{ row.title }}</span>
                <br>
                <span class="read_notify" id="{{row.id}}">{{ row.description }}</span>

                <div class="media-annotation">{{row.created}}</div>
              </div>
              </a>
            </li>
            {% endif %}
            {% endfor %}
            </ul>
            {% if notify %}
              <div class="media" style="text-align: center;margin-bottom: 5%;">
                <a href="/client/all_notifications" id="all_notifs">View all notifications</a>
              </div>
            {% endif %}

         </div>
       </li>
     </ul>
     <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-comments"></i>
          <span class="noticount1">{{count_chat}}</span>
          <span class="visible-xs-inline-block position-right">Chat Notification</span>
          <span class="status-mark border-orange-400"></span>

        </a>

        <div class="dropdown-menu dropdown-content">
          <div class="dropdown-content-heading">
            Chat-Notification
            <!-- <ul class="icons-list">
              <li><a id='readall'><i class="icon-menu7"></i></a></li>
            </ul> -->
          </div>

          <ul class="media-list dropdown-content-body width-350">
            {% for row in chat_notify %}
              {% for sender,dict in row.items %}
                {% if dict|chat_notif:'count' > 0 %}
                    <li class="media">
                      <div class="media-left">
                        <img class="company_logo" src="{{dict|chat_notif:'logo'}}" alt="">
                        <span class="badge bg-danger-400 media-badge">{{dict|chat_notif:'count'}}</span>
                        <!-- <a href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></a> -->
                      </div>
                      <div class="media-body">
                        <a class='chat_read' id="{{dict|chat_notif:'chat_obj_id'}}" data-sender_id="{{dict|chat_notif:'sender_id'}}"><i class="fa fa-circle-o pull-right" title="Mark as read"></i></a>
                        <a href="/client/chat-app/{{dict|chat_notif:'campaign_id'}}/"> <span class="headfont sender_user" title="{{sender}}">{{ sender|truncatechars:19 }}
                        </span></a>
                        <br>
                        Campaign name : {{dict|chat_notif:'campaign_name'|truncatechars:19}}
                        <div class="media-annotation">{{dict|chat_notif:'date'}}</div>
                      </div>
                    </li>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
      </li>
    </ul>






     <span class="navbar-text greet">|
     </span>
     <!-- <span class="navbar-text ">
       <a href="/logout/">Log Off
       </a>
     </span> -->
     <ul class="nav navbar-nav">
      <li class="nav-item dropdown dropdown-user">
        <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
          <img src="{{request.session.profilepic}}" class="rounded-circle mr-2" alt="" >
          <span >{% if request.session.company %}{{request.session.company}} {% else %}{{request.session.username}}{% endif %}</span>
        </a>
        <ul class="dropdown-menu user_dropdown ">
          {% if 'Bording' not in request.path %}
          <li><a href="/client/account/" class=""><i class="icon-user-plus"></i> My Account</a></li>
          <div class="divider"></div>
          {% endif %}
          <li ><a href="/logout/" ><i class="icon-switch2"></i> Logout</a></li>
        </ul>
      </li>
      </ul>
   </div>
 </div>
 </div>
 <!-- /main navbar -->

<script>
  $(".chat_read").click(function (e) {
    e.preventDefault();
    var chat_obj_id = $(this).attr('id');
    var sender_id = $(this).attr('data-sender_id');
    $(this).parentsUntil("ul").hide();
    var csrftoken = getCookie('csrftoken');
    $.ajax({
      type: "POST",
      url: "/client/save_chat_status/", //Relative or absolute path to response.php file
      data: { 'chat_obj_id': chat_obj_id,'sender_id':sender_id, 'csrfmiddlewaretoken': csrftoken },
      success: function (data) {
        $(".noticount1").text($(".noticount1").text()-1);

      },
      error: function (data) {
        
      },
    });
  });
  // notifs is being read..Akshay
  $(".read_notify").click(function () {
    var id = $(this).attr('id');
    // $(this).parentsUntil("ul").hide();
    var csrftoken = getCookie('csrftoken');
    $.ajax({
      type: "POST",
      url: "/superadmin/ReadNotification/", //Relative or absolute path to response.php file
      data: { 'id': id, 'csrfmiddlewaretoken': csrftoken ,'flag':1},
      success: function (data) {
        var notificount = data.notifycount;
        $(".noticount").text(notificount);

      },
      error: function (data) {

        var notificount = data.notifycount;
        $(".noticount").text(notificount);
      },
    });
  });
  // notifs is being removed
  $(".read").click(function () {
    var id = $(this).attr('id');
    $(this).parentsUntil("ul").hide();
    var csrftoken = getCookie('csrftoken');
    $.ajax({
      type: "POST",
      url: "/superadmin/ReadNotification/", //Relative or absolute path to response.php file
      data: { 'id': id, 'csrfmiddlewaretoken': csrftoken ,'flag':2},
      success: function (data) {
        var notificount = data.notifycount;
        $(".noticount").text(notificount);

      },
      error: function (data) {

        var notificount = data.notifycount;
        $(".noticount").text(notificount);
      },
    });
  });
</script>