{% extends "header/cheader.html" %}
{% load static %}
{% block scripts %}
{% include "campaign/accounthead.html" %}
{% endblock %}

{% block scripts1 %}
{% endblock %}

{% block content %}

<!-- Main sidebar -->
{% include "side/clientside.html" %}
<!-- /main sidebar -->

 <!-- Global stylesheets -->
 {% load static %}
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="{% static 'assets/css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'assets/css/core.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'assets/css/components.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'assets/css/colors.css' %}" rel="stylesheet" type="text/css">
  <!-- /global stylesheets -->

  <!-- Theme JS files -->
  <script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/notifications/pnotify.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>

  <script type="text/javascript" src="{% static 'assets/js/plugins/tables/datatables/datatables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/select2.min.js' %}"></script>

  <!-- <script type="text/javascript" src="{% static 'assets/js/core/app.js' %}"></script> -->
  <script type="text/javascript" src="{% static 'assets/js/pages/form_multiselect.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/pages/datatables_basic.js' %}"></script>

  <script type="text/javascript" src="{% static 'assets/js/plugins/ui/ripple.min.js' %}"></script>
<!-- Main content -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

      <!-- Main content -->
      <div class="content-wrapper">

        <!-- Content area -->
        <div class="content">

          <!-- Form horizontal -->
          <div class="panel panel-flat">
            <div class="panel-heading">
              <h5 class="panel-title">Filter</h5>
              <!-- <div class="heading-elements">
                <ul class="icons-list">
                          <li><a data-action="collapse"></a></li>
                          <li><a data-action="reload"></a></li>
                          <li><a data-action="close"></a></li>
                        </ul>
                      </div> -->
            </div>

            <div class="panel-body">
              <!-- Default multiselect -->
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Default select</label>
                    <div class="multi-select-full">
                      <select class="multiselect" multiple="multiple">
                        <option value="cheese">Cheese</option>
                        <option value="tomatoes">Tomatoes</option>
                        <option value="mozarella">Mozzarella</option>
                        <option value="mushrooms">Mushrooms</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Default select</label>
                    <div class="multi-select-full">
                      <select class="multiselect" multiple="multiple">
                        <option value="cheese">Cheese</option>
                        <option value="tomatoes">Tomatoes</option>
                        <option value="mozarella">Mozzarella</option>
                        <option value="mushrooms">Mushrooms</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Default select</label>
                    <div class="multi-select-full">
                      <select class="multiselect" multiple="multiple">
                        <option value="cheese">Cheese</option>
                        <option value="tomatoes">Tomatoes</option>
                        <option value="mozarella">Mozzarella</option>
                        <option value="mushrooms">Mushrooms</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Default select</label>
                    <div class="multi-select-full">
                      <select class="multiselect" multiple="multiple">
                        <option value="cheese">Cheese</option>
                        <option value="tomatoes">Tomatoes</option>
                        <option value="mozarella">Mozzarella</option>
                        <option value="mushrooms">Mushrooms</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Default select</label>
                    <div class="multi-select-full">
                      <select class="multiselect" multiple="multiple">
                        <option value="cheese">Cheese</option>
                        <option value="tomatoes">Tomatoes</option>
                        <option value="mozarella">Mozzarella</option>
                        <option value="mushrooms">Mushrooms</option>
                      </select>
                    </div>
                  </div>
                </div>  
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Default select</label>
                    <div class="multi-select-full">
                      <select class="multiselect" multiple="multiple">
                        <option value="cheese">Cheese</option>
                        <option value="tomatoes">Tomatoes</option>
                        <option value="mozarella">Mozzarella</option>
                        <option value="mushrooms">Mushrooms</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Default select</label>
                    <div class="multi-select-full">
                      <select class="multiselect" multiple="multiple">
                        <option value="cheese">Cheese</option>
                        <option value="tomatoes">Tomatoes</option>
                        <option value="mozarella">Mozzarella</option>
                        <option value="mushrooms">Mushrooms</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Default select</label>
                    <div class="multi-select-full">
                      <select class="multiselect" multiple="multiple">
                        <option value="cheese">Cheese</option>
                        <option value="tomatoes">Tomatoes</option>
                        <option value="mozarella">Mozzarella</option>
                        <option value="mushrooms">Mushrooms</option>
                      </select>
                    </div>
                  </div>
                </div>
              <!-- /default multiselect -->
              <table class="table datatable-basic">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Job Title</th>
                  <th>DOB</th>
                  <th>Status</th>
                  <th class="text-center">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Marth</td>
                  <td><a href="#">Enright</a></td>
                  <td>Traffic Court Referee</td>
                  <td>22 Jun 1972</td>
                  <td><span class="label label-success">Active</span></td>
                  <td class="text-center">
                    <ul class="icons-list">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="icon-menu9"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                          <li><a href="#"><i class="icon-file-pdf"></i> Export to .pdf</a></li>
                          <li><a href="#"><i class="icon-file-excel"></i> Export to .csv</a></li>
                          <li><a href="#"><i class="icon-file-word"></i> Export to .doc</a></li>
                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>Jackelyn</td>
                  <td>Weible</td>
                  <td><a href="#">Airline Transport Pilot</a></td>
                  <td>3 Oct 1981</td>
                  <td><span class="label label-default">Inactive</span></td>
                  <td class="text-center">
                    <ul class="icons-list">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="icon-menu9"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                          <li><a href="#"><i class="icon-file-pdf"></i> Export to .pdf</a></li>
                          <li><a href="#"><i class="icon-file-excel"></i> Export to .csv</a></li>
                          <li><a href="#"><i class="icon-file-word"></i> Export to .doc</a></li>
                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>Aura</td>
                  <td>Hard</td>
                  <td>Business Services Sales Representative</td>
                  <td>19 Apr 1969</td>
                  <td><span class="label label-danger">Suspended</span></td>
                  <td class="text-center">
                    <ul class="icons-list">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="icon-menu9"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                          <li><a href="#"><i class="icon-file-pdf"></i> Export to .pdf</a></li>
                          <li><a href="#"><i class="icon-file-excel"></i> Export to .csv</a></li>
                          <li><a href="#"><i class="icon-file-word"></i> Export to .doc</a></li>
                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>Nathalie</td>
                  <td><a href="#">Pretty</a></td>
                  <td>Drywall Stripper</td>
                  <td>13 Dec 1977</td>
                  <td><span class="label label-info">Pending</span></td>
                  <td class="text-center">
                    <ul class="icons-list">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="icon-menu9"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                          <li><a href="#"><i class="icon-file-pdf"></i> Export to .pdf</a></li>
                          <li><a href="#"><i class="icon-file-excel"></i> Export to .csv</a></li>
                          <li><a href="#"><i class="icon-file-word"></i> Export to .doc</a></li>
                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>Sharan</td>
                  <td>Leland</td>
                  <td>Aviation Tactical Readiness Officer</td>
                  <td>30 Dec 1991</td>
                  <td><span class="label label-default">Inactive</span></td>
                  <td class="text-center">
                    <ul class="icons-list">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="icon-menu9"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                          <li><a href="#"><i class="icon-file-pdf"></i> Export to .pdf</a></li>
                          <li><a href="#"><i class="icon-file-excel"></i> Export to .csv</a></li>
                          <li><a href="#"><i class="icon-file-word"></i> Export to .doc</a></li>
                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>Maxine</td>
                  <td><a href="#">Woldt</a></td>
                  <td><a href="#">Business Services Sales Representative</a></td>
                  <td>17 Oct 1987</td>
                  <td><span class="label label-info">Pending</span></td>
                  <td class="text-center">
                    <ul class="icons-list">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="icon-menu9"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                          <li><a href="#"><i class="icon-file-pdf"></i> Export to .pdf</a></li>
                          <li><a href="#"><i class="icon-file-excel"></i> Export to .csv</a></li>
                          <li><a href="#"><i class="icon-file-word"></i> Export to .doc</a></li>
                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>Sylvia</td>
                  <td><a href="#">Mcgaughy</a></td>
                  <td>Hemodialysis Technician</td>
                  <td>11 Nov 1983</td>
                  <td><span class="label label-danger">Suspended</span></td>
                  <td class="text-center">
                    <ul class="icons-list">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="icon-menu9"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                          <li><a href="#"><i class="icon-file-pdf"></i> Export to .pdf</a></li>
                          <li><a href="#"><i class="icon-file-excel"></i> Export to .csv</a></li>
                          <li><a href="#"><i class="icon-file-word"></i> Export to .doc</a></li>
                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>Lizzee</td>
                  <td><a href="#">Goodlow</a></td>
                  <td>Technical Services Librarian</td>
                  <td>1 Nov 1961</td>
                  <td><span class="label label-danger">Suspended</span></td>
                  <td class="text-center">
                    <ul class="icons-list">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="icon-menu9"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                          <li><a href="#"><i class="icon-file-pdf"></i> Export to .pdf</a></li>
                          <li><a href="#"><i class="icon-file-excel"></i> Export to .csv</a></li>
                          <li><a href="#"><i class="icon-file-word"></i> Export to .doc</a></li>
                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr> 
                <tr>
                  <td>Lizzee</td>
                  <td><a href="#">Goodlow</a></td>
                  <td>Technical Services Librarian</td>
                  <td>1 Nov 1961</td>
                  <td><span class="label label-danger">Suspended</span></td>
                  <td class="text-center">
                    <ul class="icons-list">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="icon-menu9"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                          <li><a href="#"><i class="icon-file-pdf"></i> Export to .pdf</a></li>
                          <li><a href="#"><i class="icon-file-excel"></i> Export to .csv</a></li>
                          <li><a href="#"><i class="icon-file-word"></i> Export to .doc</a></li>
                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr>                
                <tr>
                  <td>Lizzee</td>
                  <td><a href="#">Goodlow</a></td>
                  <td>Technical Services Librarian</td>
                  <td>1 Nov 1961</td>
                  <td><span class="label label-danger">Suspended</span></td>
                  <td class="text-center">
                    <ul class="icons-list">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="icon-menu9"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                          <li><a href="#"><i class="icon-file-pdf"></i> Export to .pdf</a></li>
                          <li><a href="#"><i class="icon-file-excel"></i> Export to .csv</a></li>
                          <li><a href="#"><i class="icon-file-word"></i> Export to .doc</a></li>
                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr>  
              </tbody>
            </table>
            </div>
          </div>
          <!-- /form horizontal -->

          
          <!-- Footer -->
         <!--  <div class="footer text-muted">
            &copy; 2015. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
          </div> -->
          <!-- /footer -->

        </div>
        <!-- /content area -->

      </div>
      <!-- /main content -->

    </div>
    <!-- /page content -->
  </div>
<!-- /main content -->
</div>
</div>
<!-- /page content -->

</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" onclick="closeModel()" class="close">&times;</button>
                <h4 class="modal-title">On Boarding</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">Client</a></li>
                    <li><a data-toggle="tab" href="#menu1">Vendor</a></li>
                </ul>

                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">

                        <div class="panel panel-flat">
                            <table id="data" class="table datatable-show-all">
                                <thead>
                                    <tr>
                                        <th>Company Name</th>
                                        <th>Stage</th>
                                        <th>Status</th>
                                        <th>Next Step</th>
                                        <th>Last Update</th>
                                        <th>History</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Marth</td>
                                        <td>1</td>
                                        <td><span class="label label-info">Warm</span></td>
                                        <td>3</td>
                                        <td>16-June-2018</td>
                                        <td><button type="button" class="btn btn-info btn-float btn-rounded legitRipple"
                                                data-toggle="modal" data-target="#modal_iconified"><i class="glyphicon glyphicon-search"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>Jackelyn</td>
                                        <td>--</td>
                                        <td>--</td>
                                        <td>--</td>
                                        <td>16-June-2018</td>
                                        <td><button type="button" class="btn btn-info btn-float btn-rounded legitRipple"
                                                data-toggle="modal" data-target="#modal_iconified"><i class="glyphicon glyphicon-search"></i></button></td>

                                    </tr>
                                    <tr>
                                        <td>Jackelyn</td>
                                        <td>--</td>
                                        <td>--</td>
                                        <td>--</td>
                                        <td>16-June-2018</td>
                                        <td><button type="button" class="btn btn-info btn-float btn-rounded legitRipple"
                                                data-toggle="modal" data-target="#modal_iconified"><i class="glyphicon glyphicon-search"></i></button></td>

                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <div class="panel panel-flat">
                            <table class="table datatable-show-all">
                                <thead>
                                    <tr>
                                        <th>Company Name</th>
                                        <th>Stage</th>
                                        <th>Status</th>
                                        <th>Next Step</th>
                                        <th>Last Update</th>
                                        <th>History</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Marth</td>
                                        <td>--</td>
                                        <td>--</td>
                                        <td>--</td>
                                        <td>16-June-2018</td>
                                        <td><button type="button" class="btn btn-info btn-float btn-rounded legitRipple"
                                                data-toggle="modal" data-target="#modal_iconified"><i class="glyphicon glyphicon-search"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>Jackelyn</td>
                                        <td>--</td>
                                        <td>--</td>
                                        <td>--</td>
                                        <td>16-June-2018</td>
                                        <td><button type="button" class="btn btn-info btn-float btn-rounded legitRipple"
                                                data-toggle="modal" data-target="#modal_iconified"><i class="glyphicon glyphicon-search"></i></button></td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
                <div class="modal-footer" style="display: none;">
                    <button type="button" style="background-color:#00BCD4;" class="btn btn-default" onclick="closeModel()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page container -->
<div id="modal_iconified" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">History</h5>
                <hr>
            </div>

            <div class="modal-body">

                <div class="row">
                    <table class="table datatable-show-all">
                        <thead>
                            <tr>
                                <th>Sr No.</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Activity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>16-May-2018</td>
                                <td>5:24 PM</td>
                                <td>Project Started</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>17-May-2018</td>
                                <td>5:24 PM</td>
                                <td>Project Completed</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="modal-footer">
                <button class="btn btn-link" data-dismiss="modal"><i class="icon-cross"></i> Close</button>

            </div>
        </div>
    </div>
</div>
{% include "campaign/js/accountjs.html"%}
<script>
    $(function () {
        $("#Settings").addClass("active");
        $("#Settings").find("ul").first().css({ 'display': 'block' })
        $("#Account").addClass("active");
    });
    // Check if user has entered spaces as password...Akshay G.
    $(".pwd_field").on({
        keydown: function(e) {
            if (e.which === 32)
            return false;
        },
        change: function() {
            this.value = this.value.replace(/\s/g, "");
        },
        paste: function(e){
            var pasteData = e.originalEvent.clipboardData.getData('text');
            if(pasteData.trim().length == 0){
                return false;
            }
        }
    });
</script>
<style type="text/css">
    .dropdown-menu {
    	margin-right: 0px;
    	min-width: 160px;
    }
</style>
{% endblock %}
