{% extends "header/header.html" %}

{% block content %}
<!-- Main sidebar -->
  {% include "side/side.html" %}

<!-- Main content -->
			<div class="content-wrapper">

				<!-- Page header -->

				<div class="page-header">
					<div class="page-header-content" style="display:none">
						<div class="page-title">
							<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Dashboard</span> - Vendor List</h4>
						</div>

						<div class="heading-elements">
							<div class="heading-btn-group">
								<a href="#" class="btn btn-link btn-float text-size-small has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
								<a href="#" class="btn btn-link btn-float text-size-small has-text"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
								<a href="#" class="btn btn-link btn-float text-size-small has-text"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
							</div>
						</div>
					</div>

					<div class="breadcrumb-line">
						<ul class="breadcrumb">
							<li><a href="/superadmin/dashboard/"><i class="icon-home2 position-left"></i> Home</a></li>
							<li class="active">Lead Rectify List</li>
						</ul>

						<ul class="breadcrumb-elements">

						</ul>
					</div>
				</div>
				<!-- /page header -->


				<!-- Content area -->
				<div class="content">

					<!-- Top Clients List -->
					<div class="panel panel-flat">
						<div class="panel-heading">
								<h5 class="panel-title">Lead Rectify List
                                <button  style="display:none"type="button" id="databtn" class="btn btn-filter-tb btn-labeled pull-right" >
									<b><span id ="filter_icon" class="glyphicon glyphicon-filter"></span></b>
									 Filter
								</button>
                <button   data-toggle="modal" data-target="#myModal" class="btn btn-filter-tb  pull-right" >Add Reason</button>
							</h5>
						</div>

                        	 		 <div class="table-responsive-sm">

                            <table id="leadtable" class="table datatable-column-search-inputs DataTables">
                                <thead>
                                    <tr>
                                        <th>Sr.no</th>
                                        <th>Reason</th>
                                        <th>Status</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                	{% for reason in lead_reason_list %}
                                <tr>
                  <td style="width:5%">{{ forloop.counter }}</td>
									<td style="width:35%">{{ reason.reason }}</td>
									<td style="width:5%">
                    {% if reason.is_active == 1 %}
                      <a href="/superadmin/rectify_reason_deactive/{{reason.id}}"><button class="label label-success">Active</button></a>
                    {% else %}
                    <a href="/superadmin/rectify_reason_active/{{reason.id}}"><button class="label label-danger">Deactive</button></a>
                    {%endif%}
                  </td>

                  <td class="text-center" style="width:25%">
										<ul class="icons-list">
											<li class="dropdown">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown">
													<i class="icon-menu9"></i>
												</a>
												<ul class="dropdown-menu dropdown-menu-right">
													<li><a href="#" class="update_rectify_reason" id="{{reason.id}}">Update Reason</a></li>
                          <li><a href="#" class="delete_rectify_lead_reason" id="{{reason.id}}">Delete Reason</a></li>
												</ul>
											</li>
										</ul>
									</td>
								</tr>
								{% endfor %}


                                </tbody>

                            </table>
                        </div>
					</div>
					<!-- /highlighting rows and columns -->



				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>

	<!-- /page container -->
  <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Lead Rectify Reason</h4>
          </div>
          <div class="modal-body">
          <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                  <label for="sel1">Enter Reason:</label>
                  <input type="text" id="lead_reason"  class="form-control" name="reason1" placeholder="Enter Reason" />
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success"  id="leads_rectify_reason">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
    <!--Update Reason-->
    <div class="modal fade" id="myModal1" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Update Lead Rectify Reason</h4>
            </div>
            <div class="modal-body">
            <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                    <label for="sel1">Enter Reason:</label>
                    <input type="text" id="lead_reason_update"   class="form-control" name="reason" placeholder="Enter Reason" />
                    <input type="hidden" id="lead_reason_id"   class="form-control" name="id"  />
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success "  id="update_rectify_lead_reason">Submit</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>
      <!-- <style type="text/css">
        .btn {
              position: relative;
              font-weight: 500;
              text-transform: uppercase;
              border-width: 0;
              padding: 1px 17px;
              font-size: 10px;
          }
      </style> -->
      <script>
          // add active class to superadmin's side bar- 'lead rectify reason' on page refresh..Akshay G.
          $(function(){
              $('#superadmin_campaign').next().next().addClass('active');
              $(document).on('click','.navigation-main li',function(){
                  if ($('#superadmin_campaign').next().next() != $(this)){
                    $('#superadmin_campaign').next().next().removeClass('active');
                  }
			        })
          })
      </script>
					{% include "lead/lead_rejected_listjs.html" %}
					{% endblock %}
