input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #fff;
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #489bea inset;
  transition: background-color 5000s ease-in-out 0s;
  color: #fff;
}
body{
   overflow: hidden;
}
.login-container .page-container .login-form
{
    width: 380px;
}
.ui-pnotify{
  top:20%!important;
  margin-left: 5%!important;
}

.ui-pnotify-container {
    padding: 45px 20px!important;
    height: 100%;
    position: relative;
    left: 0;
    margin: 0;
    border-radius: 3px;
}
.page-top{
  margin-top: 4%;
}
.first{
  background-color: #fff;
}
.second{
  background-color:rgba(73,155,234,1);
     /* rgba(73,155,234,1); rgb(232, 240, 254) */
}
.heading
{
    padding-top: 34px;
    padding-bottom: 46px;
    border-radius: 3px 3px 0 0;
    /* box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2); */
}
.heading1
{
    padding-top: 0px;
    padding-bottom: 14.7px;
    border-radius: 3px 3px 0 0;
    /* box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2); */
}
.heading11
{
    padding-top: 26%;
    padding-bottom: 14.7px;
    border-radius: 3px 3px 0 0;
    /* box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2); */
}
.heading1 img
{
    width: 67%;
}
.heading img
{
    width: 67%;
}

.login-form .panel-body
{
    padding: 30px;
}

.login-form .form-group {
    margin-bottom: 26px;
}

.login-form .form-group  .form-control-feedback .fa-user
{
    font-size: 17px;
    margin-top: 10px;
    color: #33333382;
}

.btn-wrapper
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-wrapper button
{

    background: transparent;
    box-shadow: none;
    border: 0px;
}


.btn-wrapper button .fa-thumbs-o-up
{
    transition: all .2s ease-in-out;
}

.btn-wrapper button:hover .fa-thumbs-o-up
{
    display: inline-block;
}

.i-hide
{
    display : none;
}


form
{
    margin-top: 5%;
}

.checker, .checker span, .checker input
{
    width: 15px;
    height: 15px;
    margin-top: 1px;
    margin-left: 2px;
}
.fc-height{
  height: 55px!important;
  background-color: #fff!important;
  border: 1px solid #fff!important;
}
.input_text{
  font-size: 12px;
  z-index: -1;
}
.form-control-feedback {

    width: 90px!important;
    color: #fff;
    z-index: 3;
    margin-top: -18px;
    background:rgba(73,155,234,1);
    margin-left: 13px;

}
.form-group>input{
  background-color: rgba(73,155,234,1)!important;
  color: #FFF;
}
.form-group>input placeholder{
  color: #FFF;
}
.color-text{
   color: #fff!important;
}
.log-text {
    font-size: 25px;
    color: #fff;
    margin-left: 10%;
}
.login_btn{
    background-color: #489bea!important;
}

.login_btn:hover {
    padding: .05em 2em .3em .7em;
    border: 2px solid #fff!important;
    padding: .1em 1em;
    padding-right: 1.6em;
    background-color: #489bea!important;
}
.bg-con{
      background: #9fc3e269;
}
.bg-img{

  width: 942px;
  background-repeat: no-repeat;
}
.form-control-feedback1 {
    width: 135px!important;
    color: rgba(73,155,234,1);
    z-index: 3;
    margin-top: -48px;
    background: #fff;
    margin-left: 13px;
}
.full>input {
    background-color:#fff !important;
    color: rgba(73,155,234,1);
    border: 1px solid rgba(73,155,234,1);
}
.full>input:focus{
    background-color:#fff !important;
    color: rgba(73,155,234,1);
    border: 1px solid rgba(73,155,234,1);
}
.form-group>select {
    background-color:rgba(73,155,234,1) !important;
    color: #fff;
    border: 1px solid #fff;
}
.form-group>select:focus {
    background-color:rgba(73,155,234,1) !important;
    color: #fff;
    border: 1px solid #fff;
}
.full {
    margin-bottom: 55px!important;
}
.input_text1 {
    font-size: 12px;
    z-index: -1;
    margin-left: 20px;
}
.log-text1 {
    font-size: 50px;
    color: #fff;
    margin-left: 10%;
}
.alert {
    padding: 0px;
    margin-left: 30px;
    margin-bottom: 20px;
    /* border: 1px solid transparent; */
   /* border-radius: 3px;*/
    font-size: 13px;
    color: #D84315;

}
.alert-danger {
     background-color: #499aea!important;
     border-color: #FF5722;
     border: 0px !important;

}
.alert {
    margin-top: -34px !important;
    position: fixed !important;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    /* -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
     box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24)!important;
}
.alert-danger, .alert-danger .close {
    color: #fff !important;
    margin-left: -6px!important;
}
.tpt{
      padding-top: 12px!important;
    }
.tptt{
      padding-top: 37px!important;
    }
.pwd{
    height: 50px;
    margin-top: 25px;
}
.sel>option{
  font-weight: bold;
  font-size: 16px;
}
#cpwd{
margin-bottom: 95px;
}
.success{
  margin-top: -60px!important;
  background: #499bea;
  border: 0px;
  color: #fff;
}
.sec-pwd{
  border-color: #fff;
}
.success {
    margin-top: -48px!important;
    background: #499bea;
    border: 0px;
    color: #fff;
    margin-left: -6px;
    font-size: 12px;
}
@media only screen and (max-width: 1093px) {
  .log-text {
      font-size: 15px!important;
      color: #fff!important;
      margin-left: 10%!important;
      font-weight: 400!important;
    }
    .login-form .panel-body {
    padding: 2px!important;
    width: 63%!important;
    }
    .page-top{
      margin-top: 0%!important;
    }
    .tpt{
      padding-top: 31px!important;
    }


}
@media (min-width: 1025px){
.col-md-3 {
    width: 26%;
}
}
@media only screen and (min-width: 1094px) and (max-width: 1366px)  {

    .has-feedback-left .form-control {
        padding-right: 12px;
        padding-left: 36px;
        width: 95%!important;
    }
    .color-text {
    color: #fff!important;
    padding: 7%!important;
}

  .log-text {
      font-size: 20px;
      color: #fff;
      margin-left: 10%;
      font-weight: 400;
    }
    .login-form .panel-body {
    padding: 2px;
    width: 81%;
    }
    .page-top{
      margin-top: -3%!important;
    }
    .log-text1 {
        font-size: 35px;
        color: #fff;
        margin-left: 10%;
    }
    .mac1{
      margin-top: 45px!important;
    }
    .heading11
    {
        padding-top: 0%!important;
        padding-bottom: 14.7px;
        border-radius: 3px 3px 0 0;
        /* box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2); */
    }
    .sel{
      margin-top: -44px!important;
    }
    .fh{
      margin-top: -14px!important;
    }
    .fr{
      margin-top:-7%;
    }
    .fg{
      margin-top: -35px;
    }
    .al-error{
      margin-left: -3px!important;
      width: 23%;
    }
    .pro{
      margin-top: 60px!important;
    }
    .tptt {
    padding-top: 32px!important;
    }
    #pwd{
    height: 50px!important;
    margin-top: 40px!important;
    }
    #cpwd{
    height: 50px!important;
    margin-bottom: 67px;
    }
    .pgtp{
      margin-top: -1%!important;
    }

}
@media only screen and (min-width: 1367px)and (max-width: 1440px) {
  .log-text {
      font-size: 20px;
      color: #fff;
      margin-left: 10%;
      font-weight: 400;
    }
    .sel{
      margin-top: -66px!important;
    }
    .second>form{
      margin-top: -11%!important;
    }
    .mac{
      margin-top: 50px!important;
    }
    .mac1{
      margin-top: 45px!important;
    }
    .imgg{
      width: 99.6%!important;
    }

   .log-two>.heading {
    padding-top: 25%;
    padding-bottom: 20%;
    border-radius: 3px 3px 0 0;
    /* box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2); */
    }
    .tpt{
      padding-top: 56px!important;
    }
    .login-options{
      margin-bottom: 43px!important;
    }
}
@media only screen and (min-width: 1920px) {

  .mac1{
    margin-top: 20px!important;
  }
  .sec-pwd{
    margin-top: 40px;
  }
  .sel{
    margin-top: -70px;
  }
  .fg{
    margin-bottom: 11px!important;
  }
  .tech-top{
    padding-top: 120px!important;
  }
}
