
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #fff;
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #489bea inset;
  transition: background-color 5000s ease-in-out 0s;
  color: #fff;
}
.login100-form-title12 {
  font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 28px;
    color: #fff;
    line-height: 0;
    text-align: center;
    width: 100%;
    display: block;
}
.login100-form-title123 {
  font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 28px;
    color: #fff;
    line-height: 0;
    text-align: center;
    width: 100%;
    display: block;
    margin-left: -70px;
}
.heading
{
    padding-top: 34px;
    padding-bottom: 46px;
    border-radius: 3px 3px 0 0;
    /* box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2); */
}
.text-center{
  text-align: center;
}
.w-full {width: 100%;}
.p-b-34 {padding-bottom: 34px;}
.heading1
{
     padding-top: 0px;
    padding-bottom: 14.7px;
    border-radius: 3px 3px 0 0;
    /* box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2); */
}
.log-text{
  font-size: 30px;
  color: #fff;
  margin-left: 10%
  font-weight: bold;
  
}


* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family:"Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
}



/*//////////////////////////////////////////////////////////*/

.login-form{
  width: 100%;
  margin-top: 1%;
}
.login-form .panel-body
{
    padding: 0px;
    margin-top: 20%;
}

.login-form .form-group {
    margin-bottom: 70px;
}

.login-form .form-group  .form-control-feedback .fa-user
{
    font-size: 17px;
    margin-top: 10px;
    color: #33333382;
}

.btn-wrapper
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-wrapper button
{

    background: transparent;
    box-shadow: none;
    border: 0px;
}


.btn-wrapper button .fa-thumbs-o-up
{
    transition: all .2s ease-in-out;
}

.btn-wrapper button:hover .fa-thumbs-o-up
{
    display: inline-block;
}

.i-hide
{
    display : none;
}


form
{
    margin-top: -5%;
}

.checker, .checker span, .checker input
{
    width: 15px;
    height: 15px;
    margin-top: 1px;
    margin-left: 2px;
}
.fc-height{
  width: 100%;
  height: 55px!important;
  background-color: #fff!important;
  border: 1px solid #fff!important;
}
.input_text{
  font-size: 12px;
  z-index: -1;
  margin: 20px;
}
.form-control-feedback {

    width: 90px!important;
    color: #fff!important;
    z-index: 3;
    margin-top: -65px;
    background:rgba(73,155,234,1);
    margin-left: 13px;
    margin-right: 320px;
}
.one{
  margin-top: 50px;
  margin-bottom: 10px;
  padding-top: 30px;
}

.form-group>input{
  background-color: rgba(73,155,234,1)!important;
  color: #FFF!important;
}
.form-group>input placeholder{
  color: #FFF;
}
.color-text{
   color: #fff!important;
}
.log-text {
    font-size: 25px;
    color: #fff;
    margin-left: 5%;
}
.login_btn{
    background-color: #489bea!important;
}

.login_btn:hover {
    padding: .05em 2em .3em .7em;
    border: 2px solid #fff!important;
    padding: .1em 1em;
    padding-right: 1.6em;
    background-color: #489bea!important;
}
.bg-con{
      background: #9fc3e269;
}
.bg-img{

  width: 942px;
  background-repeat: no-repeat;
}
.form-control-feedback1 {
    width: 135px!important;
    color: rgba(73,155,234,1);
    z-index: 3;
    margin-top: -48px;
    background: #fff;
    margin-left: 13px;
}


.full>input {
    background-color:#fff !important;
    color: rgba(73,155,234,1);
    border: 1px solid rgba(73,155,234,1);
}
.full>input:focus{
    background-color:#fff !important;
    color: rgba(73,155,234,1);
    border: 1px solid rgba(73,155,234,1);
}
.form-group>select {
    background-color:rgba(73,155,234,1) !important;
    color: #fff;
    border: 1px solid #fff;
}
.form-group>select:focus {
    background-color:rgba(73,155,234,1) !important;
    color: #fff;
    border: 1px solid #fff;
}
.full {
    margin-bottom: 55px!important;
}
.input_text1 {
    font-size: 12px;
    z-index: -1;
    margin-left: 20px;
}
.log-text1 {
    font-size: 50px;
    color: #fff;
    margin-left: 10%;
}
.alert {
    padding: 0px;
    margin-left: 30px;
    margin-bottom: 20px;
    /* border: 1px solid transparent; */
   /* border-radius: 3px;*/
    font-size: 13px;
    color: #D84315;

}
.alert-danger {
     background-color: #499aea!important;
     border-color: #FF5722;
     border: 0px !important;

}
.alert {
    margin-top: -34px !important;
    position: absolute !important;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    /* -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
     box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24)!important;
     margin-top: 0%!important;
}
.alert-danger, .alert-danger .close {
    color: #fff !important;
    margin-left: -6px!important;
}
.tpt{
      padding-top: 12px!important;
    }
.tptt{
      padding-top: 37px!important;
    }
.pwd{
    height: 50px;
    margin-top: 25px;
}
.sel>option{
  font-weight: bold;
  font-size: 16px;
}
#cpwd{
margin-bottom: 95px;
}
.success{
/*  margin-top: -60px!important;*/
  background: #499bea;
  border: 0px;
  color: #fff;
  display: none;
}
.sec-pwd{
  border-color: #fff;
}
.success {
    margin-top: -48px!important;
    background: #499bea;
    border: 0px;
    color: #fff;
    margin-left: -6px;
    font-size: 12px;
}
@media only screen and (max-width: 1093px) {
  .log-text {
      font-size: 15px!important;
      color: #fff!important;
      margin-left: 10%!important;
      font-weight: 400!important;
    }
    .login-form .panel-body {
    padding: 2px!important;
    /*width: 63%!important;*/
    }
    .page-top{
      margin-top: 0%!important;
    }
    .tpt{
      padding-top: 31px!important;
    }


}
@media (min-width: 1025px){
.col-md-3 {
    width: 26%;
}
}
@media only screen and (min-width: 1094px) and (max-width: 1366px)  {

    .has-feedback-left .form-control {
        padding-right: 12px;
        padding-left: 36px;
        width: 95%!important;
    }
    .color-text {
    color: #fff!important;
    padding: 7%!important;
}

  .log-text {
      font-size: 20px;
      color: #fff;
      margin-left: 10%;
      font-weight: 400;
    }

    .login-form .panel-body {
    padding: 2px;
    width: 100%;

    }
    .page-top{
      margin-top: -3%!important;
    }
    .log-text1 {
        font-size: 35px;
        color: #fff;
        margin-left: 10%;
    }
    .mac1{
      margin-top: 45px!important;
    }
    .heading11
    {
        padding-top: 0%!important;
        padding-bottom: 14.7px;
        border-radius: 3px 3px 0 0;
        /* box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2); */
    }
    .sel{
      margin-top: -44px!important;
    }
    .fh{
      margin-top: -14px!important;
    }
    .fr{
      margin-top:-7%;
    }
    .fg{
      margin-top: -35px;
    }
    .al-error{
      margin-left: -3px!important;
      width: 23%;
    }
    .pro{
      margin-top: 60px!important;
    }
    .tptt {
    padding-top: 32px!important;
    }
    #pwd{
    height: 50px!important;
    margin-top: 40px!important;
    }
    #cpwd{
    height: 50px!important;
    margin-bottom: 67px;
    }
    .pgtp{
      margin-top: -1%!important;
    }

}







/*/////////////////////////////////////////////////////////*/


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.btn_layout.lbutton.login_btn {
    color: #fff; 
    /*! border-color: tomato; */
    background: #489bea;
    cursor: pointer!important;
}
.login_btn {
    border-radius: 50px;
    position: relative;
    padding: .1em 1em;
    border: 2px solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7em!important;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s 
}
.login_btn:hover {
    padding: .05em 2em .3em .7em;
    border: 2px solid transparent;
    padding: .1em 1em;
    padding-right: 1.6em;
}
.login_btn:hover {
    background-color: rgba(255,255,255,.2) 
}

.login_btn:after,.login_btn:before {
    position: absolute;
    margin-left: -1em;
    opacity: 0;
    text-shadow: none;
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    font-variant: none;
    line-height: 1em;
    text-transform: none;
    content: "\35";
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s 
}
.login_btn:before {
    display: none 
}
.login_btn:hover:after {
    margin-left: 3px;
    opacity: 1 
}
.lbutton {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover 
}
.lbutton.login_btn {
    display: inline-block;
    color: inherit;
}
.login_btn:after {
    text-shadow: 0 0;
    font-family: ETmodules!important;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    text-transform: none;
    speak: none 
}
.login_btn:after {
    display: none; font-family: "Font Awesome 5 Solid"; content: "\f152";
}


  
.lbutton {
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear 
}
.lbutton {
    -webkit-animation-duration: .2s;
    -moz-animation-duration: .2s;
    -o-animation-duration: .2s;
    animation-duration: .2s 
}

.lbutton.login_btn 
{
    display: inline-block;
    border-radius: 50px;
    color: inherit;
}



/*/////////////////////////////////////*/

.limiter {
  width: 100%;
  margin: 0 auto;

}

.container-login100 {
  width: 100%;
  height: 100px;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #cddce8;
  font-family:"Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
}

.wrap-login100 {
  width: 990px;
  background: #489bea;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse;

}

/*==================================================================
[ login more ]*/
.login100-more {
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  background: #fff;
}

.login100-more::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
}



/*==================================================================
[ Form ]*/

.login100-form {
  
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding: 90px 65px 0px 65px;
  font-weight: bold;
}

.login100-form-title {
  font-family:"Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 19px;
  color: #489bea;
  line-height: 1;
  text-align: center;
  width: 100%;
  display: block;
}




/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 992px) {
  .login100-form {
    width: 60%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .login100-more {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .login100-form {
    width: 100%;
  }

  .login100-more {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .login100-form {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 150px;
  }

  .rs1-wrap-input100,
  .rs2-wrap-input100 {
    width: 100%;
  }

  .rs2-wrap-input100 {
    border-left: 1px solid #e6e6e6;
  }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 12px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 18px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}



