.sticky {
    position: fixed;
    top: 60.5%;
    right: 0;
    height:0px;
    z-index: 9999;
}
div.sticky
{
	margin-right: -20px;
  margin-top: -60px!important;
}
div.sticky span{
}

.rotate{
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	}
	.modal {
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
     
}

.modal-dialog1 {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

.modal-content1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid #3c7dcf;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid black;
  opacity: 1;
  filter: alpha(opacity=1); /* For IE8 and earlier */
  background-color:#fff;
}

.modal-backdrop.in {
	opacity: 0;
}
        
.modal-header1 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  padding: 10px;
  background-color: #31c1e3;
  border: 0;
}

        
.modal-header .close {
    position: absolute;
    right: 20px;
    top: -8%;
    margin-top: 0;
    font-size: 40px;
    color: black;
}
     
     
.modal-title1 {
  font-weight: 300;
  font-size: 2em;
  color: #fff;
  line-height: 30px;
}

.modal-body1 {
  position: absolute;
  top: 50px;
  bottom: 60px;
  width: 100%;
  font-weight: 300;
  overflow: auto;
    
}

.modal-footer1 {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  padding: 10px;
  background: #fff;
}
