
div#fieldChooser {
    width: 100%;
    height: 100%;
}

.fc-field {
    width: auto;
    height: 48px;
    margin: 5px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(222, 222, 222, 1.0);
}

.fc-field:hover {
    outline: #cacaca solid 1px;
}

.fc-selected {
    background-color: #ffe284;
}

.fc-selected:hover {
    background-color: #ffd448;
}

.fc-field-list {
    width: 250px;
    height: 300px;
    margin: 0px;
    padding: 3px;
    overflow: scroll;
}

.fc-source-fields {
    float: left;
}

.fc-destination-fields {
    float: right;
}

#destinationFields{
    background-color: grey;
}
.head{
    margin-top: 15px;
    background-color: #4286f4;
    border-radius: 5px;
    padding: 8px;
    color: #ffffff;
}
.headnew{
    background-color: #fff;
    margin-left:  15px;
    margin-right:  15px;
    margin-top: -12px;
    height: auto;
    padding: 15px;
    border-radius: 0px 0px 5px 5px ;
}
.head1{
    font-size: 15px;
    color: #848f99;
}

.box{
    float:right;
    overflow: hidden;
    margin-right: 10px;
    margin-left: 10px;
}

.input{
    margin-top: -25px;
    height:40px;
    color:#848f99;
    font-size: 15px;
}
#chartdiv {
  width: 100%;
  height: 250px;
  margin-left:0px;
}   
.export-main{
margin-top: -65px;
}
#chartdiv1 {
  width: 100%;
  height: 250px;
  margin-left:0px;
}                   
    .addbtn{
        padding-left: 10px;
    }
        tfoot {
        display: table-row-group;
    }
    .dataTables_filter {
display: none; 
}

#margin5
{
    margin:5px;
}
#paddingleft20
{
    padding-left: 20px;
}
.backgd{
    background-color: #fff;
    margin: 15px;
    height: 50px;
    padding: 15px;
    border-radius: 5px 5px 0px 0px;
}
.backgd1{
    background-color: #fff;
    margin-left:  15px;
    margin-right:  15px;
    margin-top: -12px;
    height: auto;
    padding: 15px;
    border-radius: 0px 0px 5px 5px ;
    padding-bottom: 10px;
}
.backgd111{
    background-color: #fff;
    margin-left:  15px;
    margin-right:  15px;
    margin-top: -12px;
    height: auto;
    padding: 15px;
    border-radius: 0px 0px 5px 5px ;
}
.back11 {
    margin-top: 15px;
    background-color: #4286f4;
    border-radius: 5px;
    padding: 8px;
    color: #ffffff;
    
}
.back12 {
 
   border: 1px solid #a8b3c4;
    border-radius: 5px;
    padding: 7px;
    
}
.input{
   background: transparent;
    border-radius: 0;
    display: block;
    outline: 0;
    overflow: hidden;
    position: absolute;
    resize: none;
    width: 78%;
    border-top-color: #FFF;
    border-right-color: #FFF;
    border-left-color: #FFF;
    border-bottom-color: #fff;
    margin-left:  10px;
    font-weight: bold;
    margin-top: -25px;
    height:  40px;
    color:#848f99;
    font-size: 15px;
  
}
.input1{
    background: transparent;
    height: 28px;
    display: block;
    outline: 0;
    overflow: hidden;
    position: absolute;
    resize: none;
    margin-top: -33px;
    width: 75%;
    border-top-color: #FFF;
    border-right-color: #FFF;
    border-left-color: #FFF;
    border-bottom-color: #fff;
    margin-left:50px;
  
}
.circle{
    margin-left:20px;
    font-size: 20px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: relative;
    display: inline-block;
    background-color: #ffffff;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    margin-right: 5px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
