<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Techconnectr - B2B Lead Generation Marketplace </title>

	<!-- Global stylesheets -->

	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	{% load static %}
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/logo/favicon.png' %}"/>

	<link href="{% static 'assets/css/icons/icomoon/styles.css'  %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/icons/fontawesome/styles.min.css' %}" rel="stylesheet" type="text/css">

	<link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/core.css'  %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/components.css'  %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/colors.css'  %}" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- login page stylesheet-->
	<link href="{% static 'assets/css/login.css' %}" rel="stylesheet" type="text/css">
	<!-- btn hover-->
	<link href="{% static 'assets/css/btn-hover.css' %}" rel="stylesheet" type="text/css">

	<!-- Core JS files -->
	<script type="text/javascript" src="{% static 'assets/js/plugins/loaders/pace.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/core/libraries/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/loaders/blockui.min.js' %}"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/uniform.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'assets/js/core/app.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/pages/login.js' %}"></script>

	<script type="text/javascript" src="{% static 'assets/js/plugins/ui/ripple.min.js' %}"></script>


	<!-- notifications -->
	<script type="text/javascript" src="{% static 'assets/js/plugins/notifications/pnotify.min.js' %}?ver=1.1"></script>
	<!-- /notifications -->
	{% if messages %}
		<script>
		$(document).ready(function() {
		{% for message in messages %}
			new PNotify({
				title: '{{ message.tags|upper }}',//'success',
				text: '{{ message }}.',
				//addclass: 'alert alert-success alert-styled-left alert-arrow-left',
				addclass: 'alert alert-{{ message.tags }} alert-styled-left alert-arrow-left',
				type: '{{ message.tags }}', //'success',
				delay: 6500  // 3.5 seconds
			});
		{% endfor %}
		});
		</script>
	{% endif %}


	<!-- /theme JS files -->
<style>
.error_message
{
	color: red;
	font-weight: bold;
	font-size: 14px;
}
.success_message
{
	color: green;
	font-weight: bold;
	font-size: 14px;
}
</style>

</head>

<body class="login-container bg-con">

	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Content area -->
				<div class="content">
					<!-- Advanced login -->
					<div class="row">
						<div class="col-md-3">
							
						</div>
						<div class="col-md-3 log-one" >
							<div class="heading" >
								<div class="text-center">
									<img src="{% static 'assets/images/logo/tc-logo1.gif' %}" alt="tech-connectr logo"/>
								</div>
							</div>
							<div class="heading1">
								<div class="text-center">
									<img class="imm"src="{% static 'assets/images/logo/lead-generation.gif' %}" style="width: 61.8%;"alt="tech-connectr logo"/>
								</div>
							</div>
							<div class="heading">
								<div class="text-center">
									<strong style="color:#489bea;font-size: 17px;">B2B Lead Generation Marketplace<strong>
									<p>of and for best-of-breed B2B marketers, agencies, publishers, and b2b lead generation solution providers</p>
								</div>
							</div>
						</div>
						<div class="col-md-3 log-two">
							
							<!-- Advanced login -->
							<form method="post" action="/reset_password/">
												{% csrf_token %}
													<div class="login-form">
														<div class="heading tpt ">
															<div class="">
																<strong class="log-text">Forgot Password</strong>
															</div>
														</div>


														<div class=" panel-body mac1">
															{% if error %}
															<div class="alert alert-danger" role="alert">
															  <strong>Error: </strong>{{error}}
															</div>
															{% endif %}
															{% if request.session.success %}
															<div class="alert alert-success success" role="alert">
															  <strong>Success: </strong>{{ request.session.success }}
															</div>
															{% endif %}
							                                <p>
							                                    Enter Registered Email ID.
							                                </p>
															<div class="form-group has-feedback has-feedback-left">
																<input type="email" class="form-control" name="username" style="height:55px!important"required>
																<div class="form-control-feedback">
																		<span class="input_text">Email </span>
																</div>

															</div><br>
															<div class="form-group ">
																<center><button class="login_btn lbutton btn_layout" type="submit">Send Request</button></center>

															</div><br><br><br><br>
														</div>

													</div>
												</form>
												<!-- /advanced login -->
							<!-- /advanced login -->
						</div>
						<div class="col-md-3">
							
						</div>
						<div class="mobile">
							<div>
							<div class="heading" >
								<div class="text-center">
									<img src="{% static 'assets/images/logo/tc-logo1.gif' %}" alt="tech-connectr logo"/>
								</div>
							</div>
							<!-- Advanced login -->
						
								<form method="post" action="/reset_password/">
												{% csrf_token %}
													<div class="login-form">
														<div class="heading tpt ">
															<div class="">
																<strong class="log-text">Forgot Password</strong>
															</div>
														</div>


														<div class=" panel-body mac1">
															{% if error %}
															<div class="alert alert-danger" role="alert">
															  <strong>Error: </strong>{{error}}
															</div>
															{% endif %}
															{% if request.session.success %}
															<div class="alert alert-success success" role="alert">
															  <strong>Success: </strong>{{ request.session.success }}
															</div>
															{% endif %}
							                                <p>
							                                    Enter Registered Email ID.
							                                </p>
							                                <span class="input_text">Email </span>
							                                <input type="email" class="form-control" name="username" style="height:55px!important;    width: 150%;" required>
															
															<div class="form-group ">
																<center><button class="login_btn lbutton btn_layout" type="submit">Send Request</button></center>

															</div><br><br><br><br>
														</div>

													</div>
												</form>
							<!-- /advanced login -->

						</div>
						</div>
					</div>

					<!-- Footer -->
					<div class="footer text-muted text-center">

					</div>
					<!-- /footer -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->


	<style type="text/css">
				@media only screen and (min-width: 1083px) and (max-width: 1280px)  {
					.login-form .panel-body {
					    padding: 2px;
					    width: 81%;
					    /*margin-left: 5%;*/
					    }
					.log-one{
						height: 60vh;
						background: #fff;
						margin-top: 8%;
					}
					.log-two{
							height: 60vh;
						background: #499bea;
						margin-top: 8%;
					}
					.has-feedback-left .form-control {
				        padding-right: 12px;
				        padding-left: 36px;
				        width: 95%!important;
				    }
				    .log-form{
				    	margin-top: 12%;

				    }
				    .alert-danger, .alert-danger .close {
					    color: #fff !important;
					    margin-left: -6px!important;
					}
					.alert {
					    margin-top: -70px !important;
					    position: fixed !important;
					    /* padding-left: 20px; */
					    /* padding-right: 20px; */
					    /* -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
					    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24)!important;
					}

				}
				@media only screen and (min-width: 1281px) and (max-width: 1299px)  {
					.login-form .panel-body {
					    padding: 2px;
					    width: 81%;
					    /*margin-left: 5%;*/
					    }
					.log-one{
						height: 75vh;
						background: #fff;
					
					}
					.log-two{
							height: 75vh;
						background: #499bea;
						
					}
					.has-feedback-left .form-control {
				        padding-right: 12px;
				        padding-left: 36px;
				        width: 95%!important;
				        margin-left: 5%;
				    }
				    .form-control-feedback{
				    	margin-left: 30px!important;
				    }
				    .log-form{
				    	margin-top: 12%;

				    }
				    .alert-danger, .alert-danger .close {
					    color: #fff !important;
					    margin-left: -6px!important;
					}
					.alert {
					    margin-top: -70px !important;
					    position: fixed !important;
					    /* padding-left: 20px; */
					    /* padding-right: 20px; */
					    /* -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
					    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24)!important;
					}

				}
				@media only screen and (min-width: 1300px) and (max-width: 1366px)  {
					.login-form .panel-body {
					    padding: 2px;
					    width: 81%;
					    margin-left: 5%;
					    }
					.log-one{
						height: 85vh;
						background: #fff;
					}
					.log-two{
							height: 85vh;
						background: #499bea;
					}
					.has-feedback-left .form-control {
				        padding-right: 12px;
				        padding-left: 36px;
				        width: 95%!important;
				    }
				    .log-form{
				    	margin-top: 12%;

				    }
				    
				    .alert-danger, .alert-danger .close {
					    color: #fff !important;
					    margin-left: -6px!important;
					}
					.alert {
					    margin-top: -70px !important;
					    position: fixed !important;
					    /* padding-left: 20px; */
					    /* padding-right: 20px; */
					    /* -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
					    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24)!important;
					}

				}
				@media only screen and (min-width: 1900px)   {
					.alert-danger, .alert-danger .close {
					    color: #fff !important;
					    margin-left: -6px!important;
					}
					.alert {
					    margin-top: -55px !important;
					    position: fixed !important;
					    /* padding-left: 20px; */
					    /* padding-right: 20px; */
					    /* -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
					    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24)!important;
					}
					 .login-form{
				    	margin-top: 15%!important;
				    }
					.has-feedback-left .form-control {
				        padding-right: 12px;
				        padding-left: 36px;
				        width: 122%!important;
				    }
					.login-form .panel-body {
					    padding: 2px;
					    width: 81%;
					    margin-left: 5%;
					    }
						.log-one{
						height:65vh;
						background: #fff;
						margin-top: 6%;
					}
					.log-two{
						height: 65vh;
						background: #499bea;
						margin-top: 6%;
					}
					.log-text{
						font-size: 30px;
					}
				}
				@media only screen and (min-width: 1024px){
					.mobile,.foot{
						display: none;
					}
				}
				@media only screen and (max-width: 767px){
					.log-one{
						display: none;
					}
					.log-two{
						display: none;
					}
					.bg-con{
						background: #fff;
					}
					.content{
						background-image: linear-gradient(#8acff5ad,#27a0e7cf,#3f77bf);
					    margin-top: 28%;
					    box-shadow: 0px -20px 20px 10px #8acff5ad;
   					}
   					.heading{
   						margin-top: -49%;
   					}
   					.login-form .form-group {
   						width:75%;
   						margin:8%;
   					}
   					form {
					    margin-top: 45%;
					}
					.input_text {
						    font-size: 15px;
						    z-index: -1;
						    color: #fff;
						    font-weight: bold;
						}
					.alert-danger {
						    background-color:#a8daf6!important;
						    border-color: #FF5722;
						    border: 0px !important;
						    font-size: 13px;
						    font-weight: bold;
						    word-break: break-word;
						    color: #f00!important;
						}
					.foot{
						    background-color: #fff;
    						margin-top: -4%;
					}
					.log-text{
						  color: #077ae8!important;
  						  font-size: 30px!important;
					}
				}
				@media only screen and (max-width: 1024px) and (min-width: 768px) {
					.log-one{
						display: none;
					}
					.log-two{
						display: none;
					}
					.bg-con{
						background: #fff;
					}
					.content{
						background-image: linear-gradient(#8acff5ad,#27a0e7cf,#3f77bf);
					    margin-top: 28%;
					    box-shadow: 0px -20px 20px 10px #8acff5ad;
   					}
   					.heading{
   						margin-top: -36%;
   					}
   					.login-form .form-group {
   						width:75%;
   						margin:8%;
   					}
   					form {
					    margin-top: 7%;
					}
					.input_text {
						    font-size: 25px;
						    z-index: -1;
						    color: #fff;
						    font-weight: bold;
						}
					.has-feedback {
						margin-top:  7%;
					}
					.alert-danger {
						    background-color:#a8daf6!important;
						    border-color: #FF5722;
						    border: 0px !important;
						    font-size: 23px;
						    font-weight: bold;
						    word-break: break-word;
						    color: #f00!important;
						}
					.foot{
						    background-color: #fff;
    						margin-top: -4%;
					}
					.log-text{
						    color: #499bea!important;
    						font-size: 33px!important;
					}
					.col-sm-6>a{
						font-size: 28px;
					}
					.has-feedback-left .form-control {
						    padding-right: 12px;
						    padding-left: 36px;
						    font-size: 25px;
						}
				}
				@media only screen and (min-width: 1440px) and (max-width: 1599px)  {
					.login-form .panel-body {
					    padding: 2px;
					    width: 81%;
					    margin-left: 5%;
					    }
					.log-one{
						height:77vh;
						background: #fff;
						margin-top: 2%;
					}
					.log-two{
						height: 77vh;
						background: #499bea;
						margin-top: 2%;
					}
					.log-text{
						font-size: 25px;
					}
					.has-feedback-left .form-control {
				        padding-right: 12px;
				        padding-left: 36px;
				        width: 100%!important;
				    }
				    .log-form{
				    	margin-top: 12%;

				    }
				    .alert-danger, .alert-danger .close {
					    color: #fff !important;
					    margin-left: -6px!important;
					}
					.alert {
					    margin-top: -70px !important;
					    position: fixed !important;
					    /* padding-left: 20px; */
					    /* padding-right: 20px; */
					    /* -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
					    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24)!important;
					}
				}
				@media only screen and (min-width: 1600px) and (max-width: 1899px)  {
					.login-form .panel-body {
					    padding: 2px;
					    width: 81%;
					    margin-left: 5%;
					    }
					.log-one{
						height:65vh;
						background: #fff;
						margin-top: 2%;
					}
					.log-two{
						height: 65vh;
						background: #499bea;
						margin-top: 2%;
					}
					.log-text{
						font-size: 25px;
					}
					.has-feedback-left .form-control {
				        padding-right: 12px;
				        padding-left: 36px;
				        width: 100%!important;
				    }
				    .log-form{
				    	margin-top: 12%;

				    }
				    .alert-danger, .alert-danger .close {
					    color: #fff !important;
					    margin-left: -6px!important;
					}
					.alert {
					    margin-top: -70px !important;
					    position: fixed !important;
					    /* padding-left: 20px; */
					    /* padding-right: 20px; */
					    /* -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
					    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24)!important;
					}
				}
		</style>
</body>
</html>
