<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Techconnectr - B2B Lead Generation Marketplace </title>

	<!-- Global stylesheets -->

	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
		type="text/css">
	{% load static %}
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/logo/favicon.png' %}" />
	<link href="{% static 'assets/css/icons/icomoon/styles.css'  %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/icons/fontawesome/styles.min.css' %}" rel="stylesheet" type="text/css">

	<link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/core.css'  %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/components.css'  %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/colors.css'  %}" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- login page stylesheet-->
	<link href="{% static 'assets/css/login.css' %}" rel="stylesheet" type="text/css">
	<!-- btn hover-->
	<link href="{% static 'assets/css/btn-hover.css' %}" rel="stylesheet" type="text/css">

	<!-- Core JS files -->
	<script type="text/javascript" src="{% static 'assets/js/plugins/loaders/pace.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/core/libraries/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/loaders/blockui.min.js' %}"></script>
	<!-- /core JS files -->
	<!-- Theme JS files -->
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/uniform.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'assets/js/core/app.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/pages/login.js' %}"></script>

	<script type="text/javascript" src="{% static 'assets/js/plugins/ui/ripple.min.js' %}"></script>


	<!-- notifications -->
	<script type="text/javascript" src="{% static 'assets/js/plugins/notifications/pnotify.min.js' %}?ver=1.1"></script>
	<!-- /notifications -->
	{% if messages %}
	<script>
		$(document).ready(function () {
			{% for message in messages %}
			new PNotify({
				title: '{{ message.tags|upper }}',//'success',
				text: '{{ message }}.',
				//addclass: 'alert alert-success alert-styled-left alert-arrow-left',
				addclass: 'alert alert-{{ message.tags }} alert-styled-left alert-arrow-left',
				type: '{{ message.tags }}', //'success',
				delay: 6500  // 3.5 seconds
			});
			{% endfor %}
		});
	</script>
	{% endif %}


	<!-- /theme JS files -->
	<style>
		.error_message {
			color: red;
			font-weight: bold;
			font-size: 14px;
		}

		.success_message {
			color: green;
			font-weight: bold;
			font-size: 14px;
		}

		@media only screen and (min-width: 1367px)and (max-width: 1440px) {
			.log-two>.heading {
				padding-top: 1 0% !important;
				padding-bottom: 20%;
				border-radius: 3px 3px 0 0;
				/* box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2); */
			}
		}
	</style>
</head>
{% include "login_register/login_css.html" %}
{% endblock %}
<body class="login-container">
	<!-- Page container -->
	<div class="page-container bg-con">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">


				<!-- Content area -->
				<div class="content">
					<div class="row">
						<div class="col-md-3">

						</div>
						<div class="col-md-3 log-one">
							<div class="heading">
								<div class="text-center">
									<img src="{% static 'assets/images/logo/tc-logo1.gif' %}"
										alt="tech-connectr logo" />
								</div>
							</div>
							<div class="heading1">
								<div class="text-center">
									<img class="imm" src="{% static 'assets/images/logo/lead-generation.gif' %}"
										alt="tech-connectr logo" />
								</div>
							</div>
							<div class="heading">
								<div class="text-center">
									<strong style="color:#489bea;font-size: 1vw;">B2B Lead Generation Marketplace
										<p>of and for best-of-breed B2B marketers, agencies, publishers, and b2b lead
											generation solution providers</p>
										<strong>
								</div>
							</div>
						</div>
						<div class="col-md-3 log-two">
							<div class="heading">
								<div class="">
									<strong class="log-text">Get more things done with </strong>
									<strong class="log-text">Log in platform</strong>
								</div>
							</div>
							<!-- Advanced login -->
							<form method="post" action="/login_check/">
								{% csrf_token %}
								<div class=" login-form">

									<div class=" panel-body log-form">
										{% if error %}
										<div class="alert alert-danger" role="alert">
											{{error}}
										</div>
										{% endif %}
										{% if request.session.success %}
										<div class="alert alert-success success" role="alert">
											{{ request.session.success }}
										</div>
										{% endif %}
										<!-- <p class="success_message">
														{{ request.session.success }}
											</p> -->
										<div class="form-group has-feedback has-feedback-left">

											<input type="email" class="form-control fc-height " name="username"
												required>

											<div class="form-control-feedback">
												<!-- <i class="fa fa-user fa-3"  aria-hidden="true"></i> -->
												<span class="input_text">Email </span>
											</div>

										</div>

										<div class="form-group has-feedback has-feedback-left">
											<!-- <div class="input_text">Password</div> -->
											<input type="password" class="form-control fc-height" name="password"
												required>
											<div class="form-control-feedback">
												<!-- <i class="icon-lock2 text-muted"></i> -->
												<span class="input_text">Password</span>

											</div>
										</div>

										<div class="form-group login-options" style="font-size: 13px;">
											<div class="row">
												<div class="col-sm-6">
													<!-- <label class="checkbox-inline">
														<input type="checkbox" class="styled">
														Remember
													</label> -->
													<a href="/forgot_password/" class="color-text ">Forgot Password?</a>
												</div>

												<div class="col-sm-6 text-right">
													<a href="/register/" class="color-text">Create New Account</a>
												</div>
											</div>
										</div>

										<div class="form-group ">
											<!--<button type="submit" class="btn bg-pink-400 btn-block">
												Login
												<i class="fa fa-thumbs-o-up  i-hide position-right"></i>
											</button>-->

											<center><button class="login_btn lbutton btn_layout"
													type="submit">Login</button></center>
										</div><br><br>
									</div>

								</div>
							</form>
							<!-- /advanced login -->
						</div>
						<div class="col-md-3">

						</div>
						<div class="mobile">
							<div>
								<div class="heading">
									<div class="text-center">
										<img src="{% static 'assets/images/logo/tc-logo1.gif' %}"
											alt="tech-connectr logo" />
									</div>
								</div>
								<!-- Advanced login -->

								<form method="post" action="/login_check/">
									{% csrf_token %}
									<div class=" panel-body log-form">
										{% if error %}
										<div class="alert alert-danger" role="alert">
											{{error}}
										</div>
										{% endif %}
										{% if request.session.success %}
										<div class="alert alert-success success" role="alert">
											{{ request.session.success }}
										</div>
										{% endif %}
										<!-- <p class="success_message">
														{{ request.session.success }}
											</p> -->
										<div class="form-group has-feedback has-feedback-left">
											<span class="input_text">Email </span>
											<input type="email" class="form-control fc-height " name="username"
												required>
										</div>

										<div class="form-group has-feedback has-feedback-left">
											<span class="input_text">Password</span>
											<input  data-toggle="tooltip" title="Hooray!" type="password" class="form-control fc-height" name="password"
												required>
										</div>

										<div class="form-group login-options" style="font-size: 13px;">
											<div class="row">
												<div class="col-sm-6">
													<!-- <label class="checkbox-inline">
														<input type="checkbox" class="styled">
														Remember
													</label> -->
													<a href="/forgot_password/" class="color-text ">Forgot Password?</a>
												</div>

												<div class="col-sm-6 text-right">
													<a href="/register/" class="color-text">Create New Account</a>
												</div>
											</div>
										</div>

										<div class="form-group ">
											<!--<button type="submit" class="btn bg-pink-400 btn-block">
												Login
												<i class="fa fa-thumbs-o-up  i-hide position-right"></i>
											</button>-->

											<center><button class="login_btn lbutton btn_layout"
													type="submit">Login</button></center>
										</div><br><br>
									</div>
								</form>
								<!-- /advanced login -->

							</div>
						</div>

					</div>


					<!-- Footer -->
					<div class="footer text-muted text-center">

					</div>
					<!-- /footer -->
				</div>

				<!-- /content area -->
				<div style="background-color: #f00;">
					<div class="heading foot">
						<div class="">
							<strong class="log-text">Get more things done with Log in platform</strong>
						</div>
					</div>
				</div>
			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->
	</div>
	<!-- /page container -->	
</body>

</html>