<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/static/assets/images/logo/favicon.png"/>
    <title>Techconnectr - B2B Lead Generation Marketplace</title>

     {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/main-login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/btn-hover.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.css' %}">
</head>
<body>
    <div class="main">
        <div class="row" style="padding: 2% 5% 0 5%!important;">
            <div class="col-md-6" style="margin-left: 1%;">
                <!-- Logo here -->
                <img src="{% static 'assets/images/logo/tc-logo1.gif' %}" width="300px">
            </div>
            <div class="col-md-6 txt_right">
                <p><b>Don't have account?</b>&nbsp;<a href="/register/"><button class="login_btn lbutton btn_layout"> Sign Up </button></a></p>
            </div>
        </div>
    </div>
    <div class="main_sub">
        <div class="row">
            <div class="col-md-12 main_div">
                <div class="col-md-6 gif-1">
                    <!-- Gif here -->
                    <img src="{% static 'assets/images/logo/lead-generation.gif' %}" height="400px" class="img-1">
                </div>
                <div class="col-md-4 xyz">
                    <!-- Form here -->
                    <div class="">
                        <strong class="log-text log-1">Sign in</strong><br>
                        <small class="txt_sml">Continue to Techconnectr</small>
                    </div>
                    <form method="post" class="login100-form validate-form">
                        {% csrf_token %}
                        <div class=" login-form">
                            <div class=" panel-body log-form">
                                    {% if messages %}
                                     {% for message in messages %}
                                    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}success{% endif %}">
                                     {{ message }}
                                    </div>
                                    {% endfor %}
                                      {% endif %}
                                    {% if form.errors %}
                                    <div class="alert alert-danger">
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                               {{field.label_tag}} {{error}}<br>
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                     <div class="form-group has-feedback has-feedback-left">
                                        <input type="email" id="id_email" class="form-control fc-height " name="email" placeholder="Enter Email Address" required>                                                    
                                        <div class="form-control-feedback ">
                                            <i for="id_email" class="fas fa-envelope one"></i>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback has-feedback-left">
                                            <!-- <div class="icons">
                                                <b for="id_password" class="fas fa-eye eye" onclick="myFunction()"></b>
                                            </div> -->
                   
                                            <input type="password" id="id_password" class="form-control fc-height" name="password" placeholder="Enter Password" required>
 
                                             <div class="form-control-feedback">
                                                <i for="id_password" class="fas fa-lock one" ></i>
                                            </div>
                                            <div class="form-control-feedback">
                                               
                                            </div>
                                    </div>
                                    <div class="form-group login-options" style="font-size: 13px;">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <a href="/password_reset/" class="for_psw">Forgot Password?</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <center>
                                            <button class="login_btn lbutton btn_layout" type="submit">Login</button>
                                        </center>
                                    </div><br><br>
                            </div> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        function myFunction() {
          var x = document.getElementById("id_password");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
        }
    </script>
</body>
</html>
