<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/static/assets/images/logo/favicon.png"/>
    <title>Techconnectr - B2B Lead Generation Marketplace</title> {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
        integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/main-login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/btn-hover.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        function myFunction() {
          var x = document.getElementById("id_password");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
        }
        function myFunction1() {
          var x = document.getElementById("id_password2");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
        }
    </script>
</head>
{% include "login_register/register_css.html" %}

<body>
    <div class="main">
        <div class="row" style="padding: 2% 5% 0 5%!important;width: 100%">
            <div class="col-md-6" style="margin-left: 1%;">
                <!-- Logo here -->
                <img src="{% static 'assets/images/logo/tc-logo1.gif' %}" width="300px">
            </div>
            <div class="col-md-6 txt_right">
                <p><b>Already on Techconnectr?</b>&nbsp;<a href="/"><button class="login_btn lbutton btn_layout"> Login
                        </button></a></p>
            </div>
        </div>
    </div>
    <div class="main_sub">
        <div class="row">
            <div class="col-md-12 main_div">
                <div class="col-md-6 gif-1">
                    <!-- Gif here -->
                     <div class="sub">
                        <strong class="log-text log-2"> </strong>

                    </div>
                    <img src="{% static 'assets/images/logo/lead-generation.gif' %}" height="400px" class="img-1">
                </div>
                <div class="col-md-4 col4">
                    <!-- Form here -->
                    <div class="sub">
                        <strong class="log-text log-1">Welcome to Techconnectr </strong><br>
                        <small class="txt_sml">Get Started</small>
                    </div>
                    <form method="post" class="login100-form validate-form"> {% csrf_token %} 
                        <div class=" login-form">
                            <div class=" panel-body log-form">
                            {% if messages %} {% for message in messages %} 
                            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}success{% endif %}">
                                {{ message }} 
                            </div> 
                            {% endfor %} 
                            {% endif %} 
                            {% if form.errors %} 
                            <div class="alert alert-danger"> 
                                {% for field in form %} 
                                {% for error in field.errors %}
                                {{field.label_tag}} 
                                {{error}}<br> 
                            {% endfor %} {% endfor %} 
                        </div> {% endif %} 
                        <div class="form-group has-feedback has-feedback-left">
                            <input type="email" id="id_email" class="form-control fc-height " name="email" placeholder="Enter Email Address" required>
                            <div class="form-control-feedback ">
                                <i for="id_email" class="fas fa-envelope one"></i>
                            </div>
                        </div>
                        <div class="form-group has-feedback has-feedback-left">
                            <div class="icons">
                                <!-- <b for="id_password" class="fas fa-eye eye" onclick="myFunction()"></b> -->
                            </div>
                            <input type="password" id="id_password" class="form-control fc-height"
                                name="password1" placeholder="Enter Password" required>
                                <div class="alert alert-warning totip">
                                    <span>Your password needs to :</span><br>
                                    <span>&nbsp&nbsp<i class="fa fa-check-square-o" aria-hidden="true"></i>&nbsp Include both Lower & Uppercase letters.</span><br>
                                    <span>&nbsp&nbsp<i class="fa fa-check-square-o" aria-hidden="true"></i>&nbsp Include at least One Number & One Symbol.</span><br>
                                    <span>&nbsp&nbsp<i class="fa fa-check-square-o" aria-hidden="true"></i>&nbsp It should contain at least 8 characters.</span>
                              </div>
                            <div class="form-control-feedback">
                                <i for="id_password" class="fas fa-lock one"></i>
                            </div>
                        </div>
                                <div class="form-group has-feedback has-feedback-left">
                                    <div class="icons">
                                        <b for="id_password2" class="fas fa-eye eye" onclick="myFunction1()"></b>
                                    </div>
                                    <input type="password" id="id_password2" class="form-control fc-height"
                                        name="password2" placeholder="Confirm Password" required>
                                    <div class="form-control-feedback">
                                        <i for="id_password2" class="fas fa-lock one"></i>
                                    </div>
                                </div>
                                <div class="form-group has-feedback has-feedback-left">
                                    <select type="password" id="id_user_type" class="form-control fc-height"
                                        name="user_type" placeholder="Select User Type" required>
                                        <option value="" selected="">Select User Type</option>
                                        <option value="1">client</option>
                                        <option value="2">vendor</option>
                                    </select>
                                    <div class="form-control-feedback">
                                        <i for="id_user_type" class="fas fa-user one"></i>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <center><button class="login_btn lbutton btn_layout" type="submit"> Sign Up
                                        </button></center>
                                </div><br><br>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
$(document).ready(function(){
    // $("#id_password").mouseout(function(){
    //      $(".totip").hide();
    //     });
    // $("#id_password").mouseover(function(){
    //      $(".totip").show();
    //     });
    $("#id_password").click(function(){
        $(".totip").show();
        });
    $("#id_password").focus(function(){
        $(".totip").show();
        });
    $("#id_password2").focus(function(){
        $(".totip").hide();
        });
});
</script>
</html>
