<!DOCTYPE html>
<html>
<head>
    <title>Sign In</title>

     {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/main-login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/btn-hover.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.css' %}">
</head>
<body>
    <div class="main">
        <div class="row" style="padding: 2% 5% 0 5%!important;">
            <div class="col-md-6" style="margin-left: 1%;">
                <!-- Logo here -->
                <img src="{% static 'assets/images/logo/tc-logo1.gif' %}" width="300px">
            </div>
            <div class="col-md-6 txt_right">
                <!-- <p><b>Don't have account?</b>&nbsp;<a href="/register/"><button class="login_btn lbutton btn_layout"> Sign Up </button></a></p> -->
            </div>
        </div>
    </div>

    <div class="main_sub">
        <div class="row">
            <div class="col-md-12 main_div">
                <div class="col-md-6">
                    <!-- Gif here -->
                    <img src="{% static 'assets/images/logo/lead-generation.gif' %}" height="400px" style="float: right;margin-right: 15%;">
                </div>

                <div class="col-md-4 ">
                    <!-- Form here -->
                        <div class="">
                            <strong class="log-text log-text-set-pwd">Set New Password </strong><br>
                            <small class="txt_sml txt-sml-set-pwd">Enter details below</small>
                        </div>

                            <form method="post" class="login100-form validate-form">
                                {% csrf_token %}
                                <div class=" login-form">
                                    <div class=" panel-body log-form">
                                            {% if messages %}
                                            {% for message in messages %}
                                            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}success{% endif %}">
                                                {{ message }}
                                            </div>
                                            {% endfor %}
                                            {% endif %}
                                            {% if form.errors %}
                                            <div class="alert alert-danger">
                                                {% for field in form %}
                                                    {% for error in field.errors %}
                                                        {{field.label_tag}} {{error}}<br>
                                                    {% endfor %}
                                                {% endfor %}
                                            </div>
                                            {% endif %}
                                            <div class="form-group has-feedback has-feedback-left">
                                            <input type="password" id="id_new_password1" class="form-control fc-height " name="new_password1" placeholder="New password" required>
                                            <div class="form-control-feedback ">

                                                <i for="id_new_password1" class="fas fa-lock one"></i>
                                            </div>
                                            </div>

                                            <div class="form-group has-feedback has-feedback-left">
                                            <input type="password" id="id_new_password2" class="form-control fc-height " name="new_password2" placeholder="Confirm New Password" required>
                                            <div class="form-control-feedback ">

                                                <i for="id_new_password2" class="fas fa-lock one"></i>
                                            </div>
                                            </div>

                                            <input type="hidden" name="user" value="{{user}}">
                                            <div class="form-group ">

                                                <center><button class="login_btn lbutton btn_layout" type="submit">Set Password</button></center>
                                            </div><br><br>
                                        </div>
                                </div>
                            </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Set New Password</title>
    </head>
    <body>
        <form method="post">
            {% csrf_token %}

            <input type="hidden" name="user" value="{{user}}">
            <button type="submit" name="button">Set Password</button>
        </form>
    </body>
</html>


<form method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="yBqOsVzdJxEztBoMfzYSVwOUmHQ43ml6gJIwZzDvRcMts5zqhVMEsP3PqBw4UA8m">
            <p><label for="id_new_password1">New password:</label> <input type="password" name="new_password1" required="" id="id_new_password1"></p>
<p><label for="id_new_password2">New password confirmation:</label> <input type="password" name="new_password2" required="" id="id_new_password2"></p>
            <input type="hidden" name="user" value="6">
            <button type="submit" name="button">Set Password</button>
        </form> -->
