<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" type="image/x-icon" href="/static/assets/images/logo/favicon.png"/> 
    <title>Techconnectr - B2B Lead Generation Marketplace</title> {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
        integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/main-login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/btn-hover.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.css' %}">
</head>

<body>
    <div class="main">
        <div class="row" style="padding: 2% 5% 0 5%!important;">
            <div class="col-md-6" style="margin-left: 1%;">
                <!-- Logo here -->
                <img src="{% static 'assets/images/logo/tc-logo1.gif' %}" width="300px">
            </div>
            <div class="col-md-6 txt_right">
                <p><a href="/"><button class="login_btn lbutton btn_layout"> Login </button></a></p>    
            </div>
        </div>
    </div>
    <div class="main_sub">
        <div class="row">
            <div class="col-md-12 main_div">
                <div class="col-md-6 gif-1">
                    <!-- Gif here -->
                    <img src="{% static 'assets/images/logo/lead-generation.gif' %}" height="400px"
                        class="img-1">
                </div>
                <div class="col-md-4 xyz">
                    <div class="">
                        <strong class="log-text">Forgot Password? </strong><br>
                        <small class="txt_sml">Enter the email address associated with your account.</small><br>
                        
                    </div>
                    <!-- Form here -->
                    <form method="post" class="login100-form validate-form"> {% csrf_token %} <div class=" login-form">
                            <div class=" panel-body log-form"> {% if messages %} {% for message in messages %} <div
                                    class="alert alert-{% if message.tags == 'error' %}danger{% else %}success{% endif %}">
                                    {{ message }} </div> {% endfor %} {% endif %} {% if form.errors %} <div
                                    class="alert alert-danger"> {% for field in form %} {% for error in field.errors %}
                                    {{field.label_tag}} {{error}}<br> {% endfor %} {% endfor %} </div> {% endif %} <div
                                    class="form-group has-feedback has-feedback-left">
                                    <input type="email" id="id_email" class="form-control fc-height " name="email"
                                        placeholder="Enter Email Address" required>
                                    <div class="form-control-feedback ">
                                        <i for="id_email" class="fas fa-envelope one"></i>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <center><button class="login_btn lbutton btn_layout" type="submit">Send
                                            </button></center>
                                </div><br><br>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <style type="text/css">
        .txt_sml {
            margin-left: 11%;
            color: #fff;
            font-size: 15px;
        }
        .log-text {
            font-size: 33px!important;
            color: #fff;
            margin-left: 20%!important;
        }
        .xyz {
            margin-top: 4%;
        }
        @media only screen and (max-width: 1024px) {
            .xyz {
                margin-top: 4%;
                margin-left: 33%;
            }
            .one {
                margin-left: -46%;
            }
        }
        @media only screen and (min-width: 1025px) {
            .one {
                margin-left: 0% !important;
                margin-right: 25% !important;
            }
            .form-group>input{
                padding: 0% 0% 0% 15%!important;
            }
        }   
        @media only screen and (max-height: 786px) {
            .main_div {
                margin-top: -5% !important;
            }
        }
        @media only screen and (max-width: 786px) {
            .log-text {
                font-size: 28px!important;
                margin-left: 8%!important;
            }
            .txt_sml {
                margin-left: 8%!important;                
                font-size: 11px;
            }
        }
        @media only screen and (max-width: 1024px) and (max-height: 786px){ 
            body{
              overflow: auto!important;
              overflow-x: hidden!important;
              }
            .log-text {
              font-size: 30px !important;
            }
            .txt_sml {
                margin-left: 14% !important;
            }
            .xyz {
                margin-top: 25%!important;
                margin-left: 33%;
            }
            .main_div {
                margin-top: 8%!important;
                padding: 0 13% 0 13%!important;              
            }
            .gif-1{
                display: none!important;
            }
            .main_sub{
                padding: -1% 0 0 0!important;
                width: 100%!important;
                margin-top: 0!important;
            }
            .form-group>input {
                padding: 2% 0 0 11%!important;
                width: 95%!important;
            }
        }
        @media only screen and (max-width: 1199px){
        .txt_sml {
            margin-left: 9%!important;
            color: #fff!important;
            font-size: 15px!important;
            }
        }
        @media only screen and (max-width: 1299px) and (min-width: 1199px){
        .txt_sml {
            margin-left: 10%!important;
            color: #fff!important;
            font-size: 18px;
            }
        }
    </style>
</body>

</html>