<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
        <button type="submit" name="button">Change Password</button>
        </form>
    </body>
</html>
