<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Techconnectr - B2B Lead Generation Marketplace </title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
		type="text/css">
	{% load static %}
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/logo/favicon.png' %}"/>
	<link href="{% static 'assets/css/icons/icomoon/styles.css'  %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/icons/fontawesome/styles.min.css' %}" rel="stylesheet" type="text/css">

	<link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/core.css'  %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/components.css'  %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/colors.css'  %}" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- login page stylesheet-->
	<link href="{% static 'assets/css/login.css' %}" rel="stylesheet" type="text/css">
	<!-- btn hover-->
	<link href="{% static 'assets/css/btn-hover.css' %}" rel="stylesheet" type="text/css">

	<!-- Core JS files -->
	<script type="text/javascript" src="{% static 'assets/js/plugins/loaders/pace.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/core/libraries/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/loaders/blockui.min.js' %}"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/uniform.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'assets/js/core/app.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/pages/login.js' %}"></script>

	<script type="text/javascript" src="{% static 'assets/js/plugins/ui/ripple.min.js' %}"></script>
	<!-- /theme JS files -->

	<style>
		.error_message {
			color: red;
			font-weight: bold;
			font-size: 14px;
		}

		.form-control {
			height: 55px !important;
		}
	</style>
</head>

<body class="login-container">

	<!-- Main navbar
	<div class="navbar navbar-inverse bg-indigo">
		<div class="navbar-header">
			<a class="navbar-brand" href="index.html"><img src="assets/images/logo/tc-logo1.gif" alt=""></a>

			<ul class="nav navbar-nav pull-right visible-xs-block">
				<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->


	<!-- Page container -->
	<div class="page-container tech-top bg-con">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Content area -->
				<div class="content ">

					<!-- Advanced login -->
					<div class="row">
						<div class="col-md-3">

						</div>
						<div class="col-md-3 log-one" >
							<div class="heading" >
								<div class="text-center">
									<img src="{% static 'assets/images/logo/tc-logo1.gif' %}" alt="tech-connectr logo"/>
								</div>
							</div>
							<div class="heading1">
								<div class="text-center">
									<img class="imm"src="{% static 'assets/images/logo/lead-generation.gif' %}" style="width: 61.8%;"alt="tech-connectr logo"/>
								</div>
							</div>
							<div class="heading">
								<div class="text-center">
									<strong style="color:#489bea;font-size: 17px;">B2B Lead Generation Marketplace<strong>
									<p>of and for best-of-breed B2B marketers, agencies, publishers, and b2b lead generation solution providers</p>
								</div>
							</div>
						</div>
						<div class="col-md-3 log-two">
						<div class="heading tpt " style="padding-top: 0px">
										<div class="">
											<strong class="log-text">Registration</strong>
										</div>
									</div>
							<!-- Advanced login -->
							<form action="/user_register/" method="post">
								{% csrf_token %}
								<div class="login-form">

									<div class=" panel-body ">
										{% if error %}
										<div class="alert alert-danger al-error " style="margin-left: 3px;">
											{{error}}
										</div>
										{% endif %}
										 <!-- <p class="error_message">{{ error }}</p> -->
										<div class="form-group has-feedback has-feedback-left pro"
											>
											<input type="email" class="form-control fh" name="email" placeholder=""
												required>
											<div class="form-control-feedback">
												<!-- <i class="fa fa-user fa-3"  aria-hidden="true"></i> -->
												<span class="input_text">Email </span>
											</div>
										</div>

										<div class="form-group has-feedback has-feedback-left sec-pwd">
											<input type="password" class="form-control password" id="pwd"
												onkeyup="strenghtPwd(this.value)" name="password" placeholder=""
												required>
											<div class="form-control-feedback">
												<!-- <i class="icon-lock2 text-muted"></i> -->
												<span class="input_text">Password </span>
											</div>
										</div>
										<div class="form-group has-feedback has-feedback-left">
											<input type="password" class="form-control password" id="cpwd"
												name="confirmpassword" placeholder="" required>
											<div class="form-control-feedback" style="width:120px!important;">
												<span class="input_text">Confirm Password </span>
											</div>
										</div>
										<div class="form-group has-feedback has-feedback-left">
											<select class="form-control sel" name="usertype" required>
												<option></option>
												{% for row in data.all %}
												<option value="{{row.id}}">{{row.type}}</option>
												{% endfor %}
											</select>
											<div class="form-control-feedback" style="width:120px!important;">
												<span class="input_text">Select User Type </span>
											</div>
										</div>



										<div class="form-group login-options">
											<div class="row">
												<div class="col-sm-6">
													<!--
													<label class="checkbox-inline">
														<input type="checkbox" class="styled">
														Remember
													</label>-->
												</div>

												<div class="col-sm-6 text-right">
													<!--<a href="login_password_recover.html">Forgot password?</a>-->
												</div>
											</div>
										</div>
										<div class="form-group login-options">
											<div class="row">
												<div class="col-sm-4">
													<!-- <label class="checkbox-inline">
														<input type="checkbox" class="styled">
														Remember
													</label> -->
												</div>

												<div class="col-sm-8 text-right " style="font-size: 13px;margin-top: -40px;">
													<!-- <a href="/forgot_password/">Forgot password?</a></br> -->
													<a style="color:#fff!important;" href="/login/">Already Registered?
														Sign in.</a>
												</div><br>
											</div>
										</div>
										<div class="form-group fg">
											<!--<button type="submit" class="btn bg-pink-400 btn-block">
												Login
												<i class="fa fa-thumbs-o-up  i-hide position-right"></i>
											</button>-->
											<center> <button class="login_btn lbutton btn_layout"
													type="submit">Register</button></center>

										</div>
									</div>

								</div>
							</form>
							<!-- /advanced login -->
						</div>
						<div class="col-md-3">

						</div>
						<div class="mobile">
							<div>
							<div class="heading" >
								<div class="text-center">
									<img src="{% static 'assets/images/logo/tc-logo1.gif' %}" alt="tech-connectr logo"/>
								</div>
							</div>
							<!-- Advanced login -->
						
								<form  action="/user_register/" method="post">
								{% csrf_token %}
									<div class=" panel-body log-form">
										{% if error %}
										<div class="alert alert-danger" role="alert">
										  {{error}}
										</div>
										{% endif %}
										{% if request.session.success %}
										<div class="alert alert-success success" role="alert">
										  {{ request.session.success }}
										</div>
										{% endif %}
											<!-- <p class="success_message">
														{{ request.session.success }}
											</p> -->
										<div class="form-group has-feedback has-feedback-left">
											<span class="input_text">Email </span>
											<input type="email" class="form-control fh" name="email" placeholder=""
												required>
										</div>

										<div class="form-group has-feedback has-feedback-left">
											<span class="input_text">Password</span>
											<input type="password" class="form-control password" id="pwd"
												onkeyup="strenghtPwd(this.value)" name="password" placeholder=""
												required>
										</div>
										<div class="form-group has-feedback has-feedback-left">
											<span class="input_text">Confirm Password</span>
											<input type="password" class="form-control password" id="pwd"
												onkeyup="strenghtPwd(this.value)" name="password" placeholder=""
												required>
										</div>
										<div class="form-group has-feedback has-feedback-left">
											<span class="input_text">Select User Type </span>
											<select class="form-control sel" name="usertype" required>
												<option></option>
												{% for row in data.all %}
												<option value="{{row.id}}">{{row.type}}</option>
												{% endfor %}
											</select>
											
										</div>
										<div class="form-group login-options">
											<div class="row">
												<div class="col-sm-4">
													<!-- <label class="checkbox-inline">
														<input type="checkbox" class="styled">
														Remember
													</label> -->
												</div>

												<div class="col-sm-8 text-right " style="font-size: 28px;
    						margin-top: 0px;">
													<!-- <a href="/forgot_password/">Forgot password?</a></br> -->
													<a style="color:#fff!important;" href="/login/">Already Registered?
														Sign in.</a>
												</div><br>
											</div>
										</div>
										<div class="form-group fg">
											<!--<button type="submit" class="btn bg-pink-400 btn-block">
												Login
												<i class="fa fa-thumbs-o-up  i-hide position-right"></i>
											</button>-->
											<center> <button class="login_btn lbutton btn_layout"
													type="submit">Register</button></center>

										</div>
									</div>
							</form>
							<!-- /advanced login -->

						</div>
						</div>
					</div>

					<!-- /advanced login -->


					<!-- Footer -->
					<div class="footer text-muted text-center">

					</div>
					<!-- /footer -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->


</body>
<script type="text/javascript">
	function strenghtPwd(pass) {
		var strength = 1;
		var arr = [/.{5,}/, /[a-z]+/, /[0-9]+/, /[A-Z]+/];
		jQuery.map(arr, function (regexp) {
			if (pass.match(regexp))
				strength++;
		});
		if (strength == 3) {
			$(".password").css("border", "1px solid #fff;");
		}
		else if (strength == 4) {
			$(".password").css("border", "1px solid #fff");
		}
		else if (strength == 5) {
			$(".password").css("border", "1px solid #fff");
		}
	}

	$('input').focus(function () {
		$('al-error').empty()
	})
</script>
<style type="text/css">
				@media only screen and (min-width: 1083px) and (max-width: 1280px)  {
					.login-form .panel-body {
					    padding: 2px;
					    width: 81%;
					    /*margin-left: 5%;*/
					    }
					.log-one{
						height: 73vh;
						background: #fff;
						margin-top: 5%;
					}
					.log-two{
							height: 73vh;
						background: #499bea;
						margin-top: 5%;
					}
					.has-feedback-left .form-control {
				        padding-right: 12px;
				        padding-left: 36px;
				        width: 95%!important;
				    }
				    .imm{
				    	width: 100%!important;
				    }
				    .log-form{
				    	margin-top: 12%;

				    }
				    .alert-danger, .alert-danger .close {
					    color: #fff !important;
					    margin-left: -6px!important;
					}
					.alert {
					    margin-top: -70px !important;
					    position: fixed !important;
					    /* padding-left: 20px; */
					    /* padding-right: 20px; */
					    /* -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
					    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24)!important;
					}

				}
				@media only screen and (min-width: 1281px) and (max-width: 1299px)  {
					.login-form .panel-body {
					    padding: 2px;
					    width: 81%;
					    /*margin-left: 5%;*/
					    }
					.log-one{
						height: 89vh;
						background: #fff;
						margin-top: -2%;
					}
					.log-two{
							height: 89vh;
						background: #499bea;
						margin-top: -2%;

					}
					.has-feedback-left .form-control {
				        padding-right: 12px;
				        padding-left: 36px;
				        width: 95%!important;
				        margin-left: 5%;
				    }
				    .form-control-feedback{
				    	margin-left: 30px!important;
				    }
				    .imm{
				    	width: 57%!important;
				    }
				    .log-form{
				    	margin-top: 12%;

				    }
				    .alert-danger, .alert-danger .close {
					    color: #fff !important;
					    margin-left: -6px!important;
					}
					.alert {
					    margin-top: -45px !important;
					    position: fixed !important;
					    /* padding-left: 20px; */
					    /* padding-right: 20px; */
					    /* -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
					    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24)!important;
					}

				}
				@media only screen and (min-width: 1024px){
					.mobile,.foot{
						display: none;
					}
				}
				@media only screen and (max-width: 767px){
					.log-one{
						display: none;
					}
					.log-two{
						display: none;
					}
					.bg-con{
						background: #fff;
					}
					.content{
						background-image: linear-gradient(#8acff5ad,#27a0e7cf,#3f77bf);
					    margin-top: 28%;
					    box-shadow: 0px -20px 20px 10px #8acff5ad;
   					}
   					.heading{
   						margin-top: -49%;
   					}
   					.login-form .form-group {
   						width:75%;
   						margin:8%;
   					}
   					form {
					    margin-top: 7%;
					}
			
					.input_text {
						    font-size: 15px;
						    z-index: -1;
						    color: #fff;
						    font-weight: bold;
						}
					.alert-danger {
						    background-color:#a8daf6!important;
						    border-color: #FF5722;
						    border: 0px !important;
						    font-size: 13px;
						    font-weight: bold;
						    word-break: break-word;
						    color: #f00!important;
						}
					.foot{
						    background-color: #fff;
    						margin-top: -4%;
					}
					.log-text{
						    color: #499bea!important;
    						font-size: 16px!important;
					}
				}
				@media only screen and (max-width: 1024px) and (min-width: 768px) {
					.log-one{
						display: none;
					}
					.log-two{
						display: none;
					}
					.bg-con{
						background: #fff;
					}
					.content{
						background-image: linear-gradient(#8acff5ad,#27a0e7cf,#3f77bf);
					    margin-top: 28%;
					    box-shadow: 0px -20px 20px 10px #8acff5ad;
   					}
   					.heading{
   						margin-top: -36%;
   					}
   					.login-form .form-group {
   						width:75%;
   						margin:8%;
   					}
   					form {
					    margin-top: 7%;
					}
					.input_text {
						    font-size: 25px;
						    z-index: -1;
						    color: #fff;
						    font-weight: bold;
						}
					.has-feedback {
						margin-top:  7%;
					}
					.alert-danger {
						    background-color:#a8daf6!important;
						    border-color: #FF5722;
						    border: 0px !important;
						    font-size: 23px;
						    font-weight: bold;
						    word-break: break-word;
						    color: #f00!important;
						}
					.foot{
						    background-color: #fff;
    						margin-top: -4%;
					}
					.btn_layout.lbutton.login_btn {
						    color: #fff;
						    background: #009cff;
						    font-size: 27px;
						}
					.log-text{
						    color: #499bea!important;
    						font-size: 33px!important;
					}
					.col-sm-6>a{
						font-size: 28px;
					}
					.has-feedback-left .form-control {
						    padding-right: 12px;
						    padding-left: 36px;
						    font-size: 25px;
						}
				}
				@media only screen and (min-width: 1300px) and (max-width: 1366px)  {
					.login-form .panel-body {
					    padding: 2px;
					    width: 81%;
					    margin-left: 5%;
					    }
					.log-one{
						height: 95vh;
						background: #fff;
						margin-top: -3%;
					}
					.log-two{
						height: 95vh;
						background: #499bea;
						margin-top: -3%;
					}
					.has-feedback-left .form-control {
				        padding-right: 12px;
				        padding-left: 36px;
				        width: 95%!important;
				    }
				    .log-form{
				    	margin-top: 12%;

				    }
				    .imm{
				    	width: 75%!important;
				    }

					.col-md-3 {
					    width: 27%;
					}
				    .alert-danger, .alert-danger .close {
					    color: #fff !important;
					    margin-left: -6px!important;
					}
					.alert {
					    margin-top: -50px !important;
					    position: fixed !important;
					    /* padding-left: 20px; */
					    /* padding-right: 20px; */
					    /* -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
					    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24)!important;
					}

				}
				@media only screen and (min-width: 1900px)   {


					.has-feedback-left .form-control {
				        padding-right: 12px;
				        padding-left: 36px;
				        width: 122%!important;
				    }
				    .alert-danger, .alert-danger .close {
					    color: #fff !important;
					    margin-left: -6px!important;
					}
					.alert {
					    margin-top: -55px !important;
					    position: fixed !important;
					    width: 22%;
					    /* padding-left: 20px; */
					    /* padding-right: 20px; */
					    /* -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
					    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24)!important;
					}
					.login-form .panel-body {
					    padding: 2px;
					    width: 81%;
					    margin-left: 5%;
					    }
						.log-one{
						height:65vh;
						background: #fff;

					}
					.log-two{
						height: 65vh;
						background: #499bea;
						;
					}
					.log-text{
						font-size: 30px;
					}
				}
				@media only screen and (min-width: 1600px) and (max-width: 1899px)  {
					.login-form .panel-body {
					    padding: 2px;
					    width: 81%;
					    margin-left: 5%;
					    }
					.log-one{
						height:85vh;
						background: #fff;
						margin-top: -2%;
					}
					.log-two{
						height: 85vh;
						background: #499bea;
						margin-top: -2%;
					}
					.log-text{
						font-size: 25px;
					}
					.has-feedback-left .form-control {
				        padding-right: 12px;
				        padding-left: 36px;
				        width: 100%!important;
				    }
				    .log-form{
				    	margin-top: 12%;
				    }
				    .imm{
				    	width: 90%!important;
				    }
				    .tpt{
				    	margin-top: 4%;
				    }
				    .login-form{
				    	margin-top: 15%!important;
				    }
				    .alert-danger, .alert-danger .close {
					    color: #fff !important;
					    margin-left: -6px!important;
					}
					.alert {
					    margin-top: -85px !important;
					    position: fixed !important;
					    width: 22%;
					    /* padding-left: 20px; */
					    /* padding-right: 20px; */
					    /* -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
					    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24)!important;
					}
				}
				@media only screen and (min-width: 1440px) and (max-width: 1599px)  {
					.login-form .panel-body {
					    padding: 2px;
					    width: 81%;
					    margin-left: 5%;
					    margin-top: -5%;
					    }
					.log-one{
						height:95vh;
						background: #fff;
						margin-top: -3%;
					}
					.log-two{
						height: 95vh;
						background: #499bea;
						margin-top: -3%;
					}
					.log-text{
						font-size: 25px;
					}
					.has-feedback-left .form-control {
				        padding-right: 12px;
				        padding-left: 36px;
				        width: 100%!important;
				    }
				    .log-form{
				    	margin-top: 12%;
				    }
				    .imm{
				    	width: 90%!important;
				    }
				    .tpt{
				    	margin-top: -4%;
				    }
				    .login-form{
				    	margin-top: 15%!important;
				    }
				    .alert-danger, .alert-danger .close {
					    color: #fff !important;
					    margin-left: -6px!important;
					}
					.alert {
					    margin-top: -85px !important;
					    position: fixed !important;
					    width: 22%;
					    /* padding-left: 20px; */
					    /* padding-right: 20px; */
					    /* -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
					    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24)!important;
					}
				}
				</style>

</html>
