<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">`
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Techconnectr - B2B Lead Generation Marketplace </title>

	<!-- Global stylesheets -->

	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	{% load static %}
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/logo/favicon.png' %}"/>
	<link href="{% static 'assets/css/icons/icomoon/styles.css'  %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/icons/fontawesome/styles.min.css' %}" rel="stylesheet" type="text/css">

	<link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/core.css'  %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/components.css'  %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/colors.css'  %}" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- login page stylesheet-->
	<link href="{% static 'assets/css/login.css' %}" rel="stylesheet" type="text/css">
	<!-- btn hover-->
	<link href="{% static 'assets/css/btn-hover.css' %}" rel="stylesheet" type="text/css">

	<!-- Core JS files -->
	<script type="text/javascript" src="{% static 'assets/js/plugins/loaders/pace.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/core/libraries/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/loaders/blockui.min.js' %}"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/uniform.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'assets/js/core/app.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/pages/login.js' %}"></script>

	<script type="text/javascript" src="{% static 'assets/js/plugins/ui/ripple.min.js' %}"></script>


	<!-- notifications -->
	<script type="text/javascript" src="{% static 'assets/js/plugins/notifications/pnotify.min.js' %}?ver=1.1"></script>
	<!-- /notifications -->
	{% if messages %}
		<script>
		$(document).ready(function() {
		{% for message in messages %}
			new PNotify({
				title: '{{ message.tags|upper }}',//'success',
				text: '{{ message }}.',
				//addclass: 'alert alert-success alert-styled-left alert-arrow-left',
				addclass: 'alert alert-{{ message.tags }} alert-styled-left alert-arrow-left',
				type: '{{ message.tags }}', //'success',
				delay: 6500  // 3.5 seconds
			});
		{% endfor %}
		});
		</script>
	{% endif %}


	<!-- /theme JS files -->
<style>
.error_message
{
	color: red;
	font-weight: bold;
	font-size: 14px;
}
.success_message
{
	color: green;
	font-weight: bold;
	font-size: 14px;
}
</style>

</head>

<body class="login-container">

	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Content area -->
				<div class="content">
					<!-- Advanced login -->
					<div class="row">
						<div class="col-md-3">
							
						</div>
						<div class="col-md-3 log-one" >
							<div class="heading" >
								<div class="text-center">
									<img src="{% static 'assets/images/logo/tc-logo1.gif' %}" alt="tech-connectr logo"/>
								</div>
							</div>
							<div class="heading1">
								<div class="text-center">
									<img class="imm"src="{% static 'assets/images/logo/lead-generation.gif' %}" style="width: 61.8%;"alt="tech-connectr logo"/>
								</div>
							</div>
							<div class="heading">
								<div class="text-center">
									<strong style="color:#489bea;font-size: 17px;">B2B Lead Generation Marketplace<strong>
									<p>of and for best-of-breed B2B marketers, agencies, publishers, and b2b lead generation solution providers</p>
								</div>
							</div>
						</div>
						<div class="col-md-3 log-two">
							
							<!-- Advanced login -->
					<form method="post" action="/submit_reset_password/">
					{% csrf_token %}
						<div class="login-form">
							
							<div class="panel-body">
								{% if error %}
								<div class="alert alert-danger" style="width: 20%;" role="alert">
								  <strong>Error: </strong>{{error}}
								</div>
								{% endif %}
								{% if request.session.success %}
								<div class="alert alert-success" role="alert">
								  <strong>Success: </strong>{{ request.session.success }}
								</div>
								{% endif %}
                                <p>
                                    Enter New Password {{user.user_name}}.
                                </p>
								<div class="form-group has-feedback has-feedback-left">
									<input type="hidden" id="userid" name="userid" value="{{user.id}}" >
									<input type="hidden" id="username" name="username" value="{{user.email}}" >
                                        <input type="password" class="form-control password" id="pwd"  onkeyup="strenghtPwd(this.value)" name="password" placeholder="" required>
                                        <div class="form-control-feedback">
                                            <span class="input_text">Password </span>
                                        </div>
                                </div>
                                <div class="form-group has-feedback has-feedback-left">
                                        <input type="password" class="form-control" id="cpwd" name="confirmpassword" placeholder="" required>
                                        <div class="form-control-feedback" style="width:120px!important;">
                                            <span class="input_text">Confirm Password </span>
                                        </div>
                                </div>
								<div class="form-group">
									    <center>
									    	<button class="login_btn lbutton btn_layout" type="submit">Change Password</button>
									    </center>
								</div>
							</div>

						</div>
					</form>
					<!-- /advanced login -->
						</div>
						<div class="col-md-3">
							
						</div>
					</div>

					<!-- Footer -->
					<div class="footer text-muted text-center">

					</div>
					<!-- /footer -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->


	<style type="text/css">	

				.login-form .form-group {
				    margin-bottom: 26px;
				}
				@media only screen and (min-width: 1200px) and (max-width: 1280px)  {
					.login-form .panel-body {
					    padding: 2px;
					    width: 81%;
					    /*margin-left: 5%;*/
					    }
					.log-one{
						height: 60vh;
						background: #fff;
						margin-top: 8%;
					}
					.log-two{
							height: 60vh;
						background: #499bea;
						margin-top: 8%;
					}
					.has-feedback-left .form-control {
				        padding-right: 12px;
				        padding-left: 36px;
				        width: 95%!important;
				    }
				    .log-form{
				    	margin-top: 12%;

				    }
				    .alert-danger, .alert-danger .close {
					    color: #fff !important;
					    margin-left: -6px!important;
					}
					.alert {
					    margin-top: -70px !important;
					    position: fixed !important;
					    /* padding-left: 20px; */
					    /* padding-right: 20px; */
					    /* -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
					    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24)!important;
					}

				}
				@media only screen and (min-width: 1281px) and (max-width: 1299px)  {
					.login-form .panel-body {
					    padding: 2px;
					    width: 81%;
					    /*margin-left: 5%;*/
					    }
					.log-one{
						height: 75vh;
						background: #fff;
					
					}
					.log-two{
							height: 75vh;
						background: #499bea;
						
					}
					.has-feedback-left .form-control {
				        padding-right: 12px;
				        padding-left: 36px;
				        width: 95%!important;
				        margin-left: 5%;
				    }
				    .form-control-feedback{
				    	margin-left: 30px!important;
				    }
				    .form-control-feedback {
					    width: 90px!important;
					    color: #fff;
					    z-index: 3;
					    margin-top: -26px!important;
					    background:rgba(73,155,234,1);
					    margin-left: 13px;

					}
				    .log-form{
				    	margin-top: 12%;

				    }
				    .alert-danger, .alert-danger .close {
					    color: #fff !important;
					    margin-left: -6px!important;
					}
					.alert {
					    margin-top: -70px !important;
					    position: fixed !important;
					    /* padding-left: 20px; */
					    /* padding-right: 20px; */
					    /* -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
					    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24)!important;
					}

				}
				@media only screen and (min-width: 1300px) and (max-width: 1366px)  {
					.login-form .panel-body {
					    padding: 2px;
					    width: 81%;
					    margin-left: 5%;
					    }
					.log-one{
						height: 85vh;
						background: #fff;
					}
					.log-two{
							height: 85vh;
						background: #499bea;
					}
					.has-feedback-left .form-control {
				        padding-right: 12px;
				        padding-left: 36px;
				        width: 95%!important;
				    }
				    .log-form{
				    	margin-top: 12%;

				    }
				    
				    .alert-danger, .alert-danger .close {
					    color: #fff !important;
					    margin-left: -6px!important;
					}
					.alert {
					    margin-top: -70px !important;
					    position: fixed !important;
					    /* padding-left: 20px; */
					    /* padding-right: 20px; */
					    /* -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
					    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24)!important;
					}

				}
				@media only screen and (min-width: 1900px)   {
					.alert-danger, .alert-danger .close {
					    color: #fff !important;
					    margin-left: -6px!important;
					}
					.alert {
					    margin-top: -55px !important;
					    position: fixed !important;
					    /* padding-left: 20px; */
					    /* padding-right: 20px; */
					    /* -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
					    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24)!important;
					}
					 .login-form{
				    	margin-top: 15%!important;
				    }
					.has-feedback-left .form-control {
				        padding-right: 12px;
				        padding-left: 36px;
				        width: 122%!important;
				    }
					.login-form .panel-body {
					    padding: 2px;
					    width: 81%;
					    margin-left: 5%;
					    }
						.log-one{
						height:65vh;
						background: #fff;
						margin-top: 6%;
					}
					.log-two{
						height: 65vh;
						background: #499bea;
						margin-top: 6%;
					}
					.log-text{
						font-size: 30px;
					}
				}
				@media only screen and (min-width: 1440px) and (max-width: 1599px)  {
					.login-form .panel-body {
					    padding: 2px;
					    width: 81%;
					    margin-left: 5%;
					    }
					.log-one{
						height:77vh;
						background: #fff;
						margin-top: 2%;
					}
					.log-two{
						height: 77vh;
						background: #499bea;
						margin-top: 2%;
					}
					.log-text{
						font-size: 25px;
					}
					.has-feedback-left .form-control {
				        padding-right: 12px;
				        padding-left: 36px;
				        width: 100%!important;
				    }
				    .log-form{
				    	margin-top: 12%;

				    }
				    .alert-danger, .alert-danger .close {
					    color: #fff !important;
					    margin-left: -6px!important;
					}
					.alert {
					    margin-top: -70px !important;
					    position: fixed !important;
					    /* padding-left: 20px; */
					    /* padding-right: 20px; */
					    /* -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
					    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24)!important;
					}
				}
				@media only screen and (min-width: 1600px) and (max-width: 1899px)  {
					.login-form .panel-body {
					    padding: 2px;
					    width: 81%;
					    margin-left: 5%;
					    }
					.log-one{
						height:65vh;
						background: #fff;
						margin-top: 2%;
					}
					.log-two{
						height: 65vh;
						background: #499bea;
						margin-top: 2%;
					}
					.log-text{
						font-size: 25px;
					}
					.has-feedback-left .form-control {
				        padding-right: 12px;
				        padding-left: 36px;
				        width: 100%!important;
				    }
				    .log-form{
				    	margin-top: 12%;

				    }
				    .alert-danger, .alert-danger .close {
					    color: #fff !important;
					    margin-left: -6px!important;
					}
					.alert {
					    margin-top: -70px !important;
					    position: fixed !important;
					    /* padding-left: 20px; */
					    /* padding-right: 20px; */
					    /* -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
					    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24)!important;
					}
					.form-control-feedback {
					    width: 90px!important;
					    color: #fff;
					    z-index: 3;
					    margin-top: -26px;
					    background: rgba(73,155,234,1);
					    margin-left: 13px;
					}
					.login-form{
						margin-top: 25%;
					}
				}
				@media only screen and (min-width: 1920px) {
					.form-control-feedback {
					    width: 90px!important;
					    color: #fff;
					    z-index: 3;
					    margin-top: -26px;
					    background: rgba(73,155,234,1);
					    margin-left: 13px;
					}
					.has-feedback-left .form-control {
					    padding-right: 12px;
					    padding-left: 36px;
					    width: 100%!important;
					}
					.login-form{
						margin-top: 25%;
					}
				}
		</style>
</body>
</html>
