{% extends "header/vendorportalheader.html" %}

{% block scripts %}
{% include "campaign/manage_vendor_campaign.html" %}
{% endblock %}

{% block scripts1 %}
{% include "campaign/css/ext_vendor_campaign_notebook.css" %}
{% endblock %}
{% block content %}
<!-- Main sidebar -->
{% include "side/clientvendorside.html" %}
{% load range %}
{% load static %}
<!-- Main content -->
<style media="screen">
    .div_loader {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 20000;
    background: url('{% static "/icons/div_loader.gif" %}') 50% 50% no-repeat rgb(249, 249, 249);
    opacity: 1;
    }
    .disablebutton {
    cursor: not-allowed;
    pointer-events: none;
    background: #c0c0c0;
    }
    .vendor_table_wrap .datatable-header {
    display: none !important;
    }
    /* width */
    ::-webkit-scrollbar {
    width: 0px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
    background: #f1f1f1;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #888;
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #555;
    }
</style>
<!-- Main content -->
<div class="content-wrapper">
    <div class="content">
        <div class="row">
            <!--Chart Section start-->
            <div class="col-md-12 chat" style="display: none;">
                <div class="col-md-5 cols_5" style="margin-left: -10px;">
                    <div class="panel campaign_panel1 panel-flat ">
                        <div class="panel-body scroll">
                            <section>
                                <div class="campaign_details">
                                    <div class="panel panel-default">
                                        <div style="display: none;">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"> Campaign Details</a>
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <ul class="nav nav-pills nav-tabs">
                                                <li class="active">
                                                    <a data-toggle="tab" href="#menu4">Campaign Details</a>
                                                </li>
                                                <li>
                                                    <a data-toggle="tab" href="#menu2" onclick="get_media('all')">Send File{{camp.id}}</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <!-- send file content -->
                                                <div id="menu2" class="tab-pane fade">
                                                    <select name="files" id="file_filter" data-campid=""
                                                        class="form-control">
                                                        <option value="all">All</option>
                                                        <option value="image">Images</option>
                                                        <option value="doc">Documents</option>
                                                        <option value="link">Links</option>
                                                    </select>
                                                    <div class="col-md-12 filter-img-height" id="media_data_div">
                                                    </div>
                                                </div>
                                                <!-- campaign content -->
                                                <div id="menu4" class="tab-pane fade in active">
                                                    <div id="collapse1" class="panel-collapse collapse in">
                                                        <div class="panel-body side_tab">
                                                            <div class="panel1 row">
                                                                <p style="text-transform: capitalize;"><strong>Campaign Name :
                                                                    </strong>
                                                                    <div style="color: #6d6d70" class="camp_name"></div>
                                                                </p>
                                                            </div>
                                                            <div class="panel1 row">
                                                                <span>
                                                                    <strong>IO Number:</strong>
                                                                    <span style="color: #6d6d70" class="camp_io">
                                                                    </span>
                                                                </span>
                                                                <span style="padding-left:15px;">
                                                                    <strong>CPL:</strong>
                                                                    <span style="color: #6d6d70" class="camp_cpl"></span>
                                                                </span>
                                                                <span style="padding-left:15px;">
                                                                    <strong>Volume: </strong>
                                                                    <span style="color: #6d6d70" class="camp_volumn"></span>
                                                                </span>
                                                                <span class="agree">
                                                                    <i class="fas fa-check"></i><span>Agree</span>
                                                                </span>
                                                            </div><br>
                                                            <div class="panel1 row">
                                                                <p class="btn-top" style="position:absolute">
                                                                    <a class="btn btn-info btn-collapsible" id="vendor_list_tooltip" data-toggle="tooltip" data-placement="top">
                                                                        <i class="fas fa-user"></i>
                                                                        <span>Assigned to
                                                                            <span id="assigend_vendors"
                                                                                class="assigend_vendors">{{user}}</span>
                                                                        </span>
                                                                        <span class="vendor_count tooltiptext"></span>
                                                                    </a>
                                                                    <a class="btn btn-success btn-collapsible">
                                                                        <i class="icon-calendar"></i>
                                                                        <input type="text" class="input_date start_date" value="" title="Start Date" readonly>
                                                                    </a>
                                                                    <a class="btn btn-success btn-collapsible">
                                                                        <i class="icon-calendar"></i>
                                                                        <input type="text" class="input_date datepicker2" value="" title="End Date" readonly>
                                                                    </a>
                                                                    <a class="btn btn-warning btn-collapsible btn-exp exp">
                                                                        <i class="far fa-clock"></i>
                                                                        <span class=" expiry_date_val"
                                                                            id="expiry_date"></span>
                                                                    </a>
                                                                    <a class="btn btn-warning specs_data" id="specs_data" camp_id="" data-toggle="modal" title="View More" data-target="#modal_large">
                                                                        <i class="fas fa-eye"></i>
                                                                    </a>
                                                                </p><br>
                                                                <div class="panel1 row"></div>
                                                                <div class="panel1 row" style="margin-top: 50px;">
                                                                    <textarea rows="4" cols="4" id="camp_desc" class="camp_desc form-control" placeholder="Description" disabled></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 chbox">
                    <div class="panel campaign_panel1 panel-flat">
                        <div class="campaign_details border-chat" style="">
                            <section>
                                <div class="campaign_details">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h5 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"
                                                    style="padding: 1px;"></a>
                                                <div class="icons pull-right">
                                                    <i class="fa fa-reply-all mr-2 back_to_2" style="margin-right: 5px;"></i>
                                                    <div class="dropdown">
                                                        <span class="dropdown-toggle" type="text" data-toggle="dropdown">
                                                            <i class="fas fa-ellipsis-h"></i>
                                                        </span>
                                                        <ul class="dropdown-menu assets_list">
                                                            <li class="li-bottom">
                                                                <a data-toggle="modal" class="get_scripts" data-target="#scripts_modal">Scripts</a>
                                                            </li>
                                                            <li>
                                                                <a data-toggle="modal" class="get_asset" onclick="asset()" data-target="#asset_modal">Assets</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <span class="fas fa-close" onClick="window.location.reload()"></span>
                                                </div>
                                            </h5>
                                        </div>
                                        <div class="">
                                            <div id="collapse1" class="panel-collapse collapse in">
                                                <div class="side_tab">
                                                    
                                                        <ul id="chat_box" class="media-list chat_box chat-list content-group">
                                                        </ul>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer big-footer">
                                            <div class="chat_bar chba">
                                                <div class="row">
                                                    <form method="post" id="send_msg">
                                                        {% csrf_token %}
                                                        <div class="col-md-10 text-right">
                                                            <ul class="dropdown-menu1" id="vendor_list">
                                                                <li>
                                                                    <a href="#">
                                                                        <input type="checkbox" id="allcheck" class="default" value="0" />All
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">
                                                                        <input type="checkbox" name="vendor_names" class="default" value="3" />Superadmin
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                            <input type="text" name="message" autocomplete="off" id="message" class="form-control chat_show" required placeholder="Enter your message..." />
                                                            <input type="hidden" name="camp_id" id="camp_id" value="{{camp.id}}" />
                                                            <input type="hidden" name="client_id" id="client_id" value="{{client_id}}" />
                                                            <input type="hidden" name="sender_id" id="sender_id" value="{{sender_id}}" />
                                                            <input type="hidden" name="camp_alloc_id" id="chat_camp_alloc_id" />
                                                        </div>
                                                        <div class="col-md-2 text-right">
                                                            <span data-toggle="modal" data-target="#chat_attach_modal" style="margin-left:-54px;">
                                                                <i class="glyphicon glyphicon-paperclip"></i>
                                                            </span>
                                                            <button type="submit" class="btn btn-primary">
                                                                <b><i class="fa fa-paper-plane"></i></b>
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <!--/Chart Section End-->
            <!-- Top Clients List -->
            <div class="col-md-12" style="overflow: auto;">
                <div class="panel campaign_panel panel-flat first">
                    <div class="panel-heading">
                        <h4 class="panel-title">Assigned Campaign</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="row">
                                    <div class="table-responsive-sm">
                                        <table id="campaign_notebook_table" class="table text-nowrap campaign_table">
                                            <thead>
                                                <!--Heading for Pending campaign-->
                                                <tr class="active ">
                                                    <th></th>
                                                    <th colspan="1">Assigned Campaign</th>
                                                    <th>Description</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for camp in camps %}
                                                {% if camp.status == 5 %}
                                                <!--List of Pending campaign-->
                                                <tr class="shadow ">
                                                    <td style="width: 1%;"></td>
                                                    <td class="show_camp" id="{{camp.id}}" camp_id="{{camp.id}}"
                                                        camp_alloc_id="{{camp.camp_alloc_id}}">
                                                        <div class="media-left">
                                                            <div class="">
                                                                <a href="#" id="{{camp.id}}" class="text-default text-semibold show_camp"> {{camp.name|truncatechars:20 }}</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="show_camp" id="{{camp.id}}" camp_id="{{camp.id}}"
                                                        camp_alloc_id="{{camp.camp_alloc_id}}">
                                                        <div>{{camp.description|truncatechars:100}}</div>
                                                    </td>
                                                    <td></td>
                                                </tr>
                                                {%endif%}
                                                {%endfor%}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Top Clients List -->
            <div class="col-md-12 notebook" style="display: none;">
                <div class="col-md-7 chbox-1">
                    <div class="panel campaign_panel panel-flat">
                        <div class="panel-body scroll">
                            <div id="centertext" style="padding-bottom: 10px;">
                                <h4 class="panel-title">Assigned Campaign</h4>
                            </div>
                            <div class="table-responsive">
                                <table id="side_tabel_campaign_notebook" class="table text-nowrap campaign_table">
                                    <thead>
                                        <tr class="active ">
                                            <th colspan="1">Assigned Campaign</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for camp in camps %}
                                        {% if camp.status == 5 %}
                                        <tr class="shadow show_camp" id="{{camp.id}}" camp_id="{{camp.id}}"
                                            camp_alloc_id="{{camp.camp_alloc_id}}">
                                            <td>
                                                <div class="media-left">
                                                    <div class="">
                                                        <a href="#" class="text-default text-semibold ">
                                                            {{camp.name}}
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 cols_5-1">
                    <div class="panel campaign_panel1 panel-flat">
                        <div class="panel-body scroll">
                            <section>
                                <div class="campaign_details">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h5 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                                    Campaign Details</a>
                                                <span class="icons" style="float:right;">
                                                    <i class="glyphicon glyphicon-paperclip" id="aggrements" camp_id=""
                                                            title="aggrements" data-toggle="modal"
                                                            data-target="#Aggrements_models"></i>
                                                    <div class="dropdown">
                                                        <span class="dropdown-toggle" type="text"
                                                            data-toggle="dropdown">
                                                            <i class="fas fa-ellipsis-h"></i>
                                                        </span>
                                                        <ul class="dropdown-menu assets_list">
                                                            <li class="li-bottom">
                                                                <a data-toggle="modal" class="get_scripts" data-target="#scripts_modal">Scripts
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a data-toggle="modal" class="get_asset" onclick="asset()" data-target="#asset_modal">Assets
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <span class="fas fa-close" onClick="window.location.reload()"></span>
                                                </span>
                                            </h5>
                                        </div>
                                        <div class="panel-body">
                                            <div id="collapse1" class="panel-collapse collapse in">
                                                <div class=" side_tab">
                                                    <div class="panel1 row">
                                                        <p style="text-transform: capitalize;">
                                                            <strong>Campaign Name :</strong>
                                                            <div style="color: #6d6d70" class="camp_name"></div>
                                                        </p>
                                                    </div>
                                                    <div class="panel1 row">
                                                        <span>
                                                            <strong>IO Number:</strong>
                                                            <span style="color: #6d6d70" class="camp_io"></span>
                                                        </span>
                                                        <span style="padding-left:15px;">
                                                            <strong>CPL:</strong> 
                                                            <span style="color: #6d6d70" class="camp_cpl"></span>
                                                        </span>
                                                        <span style="padding-left:15px;">
                                                            <strong>Volume: </strong>
                                                            <span style="color: #6d6d70" class="camp_volumn"></span>
                                                        </span>
                                                        <span class="agree">
                                                            <i class="fas fa-check"></i>
                                                            <span>Agree</span>
                                                        </span>
                                                    </div><br>
                                                    <div class="panel1 row">
                                                        <p class="btn-top" style="position:absolute">
                                                            <a class="btn btn-info btn-collapsible" id="vendor_list_tooltip" data-toggle="tooltip" data-placement="top">
                                                                <i class="fas fa-user"></i>
                                                                <span>Assigned to 
                                                                    <span id="assigend_vendors" class="assigend_vendors">{{user}}</span>
                                                                </span>
                                                                <span class="vendor_count tooltiptext"></span>
                                                            </a>
                                                            <a class="btn btn-success btn-collapsible">
                                                                <i class="icon-calendar"></i>
                                                                <input type="text" class="input_date start_date" id="start_date" value="" title="Start Date" readonly>
                                                            </a>
                                                            <a class="btn btn-success btn-collapsible">
                                                                <i class="icon-calendar"></i>
                                                                <input type="text" class="input_date datepicker2" id="datepicker2" value="" title="End Date" readonly>
                                                            </a>
                                                            <a class="btn btn-warning specs_data" id="specs_data" camp_id="" data-toggle="modal" title="View More" data-target="#modal_large">
                                                                <i class="fas fa-eye"></i>
                                                            </a>
                                                        </p><br>
                                                        <div class="panel1 row"></div>
                                                        <div class="panel1 row" style="margin-top: 50px;">
                                                            <textarea rows="4" cols="4" id="camp_desc" class=" camp_desc form-control" placeholder="Description" disabled></textarea>
                                                        </div>
                                                        <div class="panel1 row">
                                                            
                                                                <ul id="chat_box" class="media-list chat_box chat-list-page content-group" style="padding: 15px 0;">
                                                                </ul>
                                                          
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer small-footer">
                                                <div class="chat_bar chatbar">
                                                    <div class="row">
                                                        <form method="post" id="send_msg">
                                                            {% csrf_token %}
                                                            <div class="col-md-10 text-right">
                                                                <ul class="dropdown-menu1" id="vendor_list">
                                                                    <li>
                                                                        <a href="#"><label><input type="checkbox" id="allcheck" class="default" value="0" />All</label></a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#"><label><input type="checkbox" name="vendor_names" class="default" value="3" />Superadmin</label></a>
                                                                    </li>
                                                                </ul>
                                                                <input type="text" name="message"  id="asdmessage" autocomplete="off" class="form-control chat_show " placeholder="Enter your message..." />
                                                            </div>
                                                            <div class="col-md-2 text-right">
                                                                <span data-toggle="modal" data-target="#chat_attach_modal" style="margin-left:-54px;"><i class="glyphicon glyphicon-paperclip chat_show"></i></span>
                                                                <button type="submit" class="btn btn-primary chat_show" disabled> <b><i class="fa fa-paper-plane"></i></b></button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                        </div> 
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Main content -->

<!-- Large Modal -->
<div id="modal_large" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

        </div>
    </div>
</div>
<!-- end large modal -->

<!--aseets model Start-->
<div class="modal fade" id="asset_modal" role="dialog">
    <div class="modal-dialog aseets_modal" style="width: 93%!important;margin-left: 2%;">
        <div class="modal-content">
            <div class="border">
                <div class="modal-header">
                    <div class="col-md-12 bgset">
                        <h1 class="modal-title"><span class="asset_aligns">Assets for</span> <span class="campaign_name title_brk"></span></h1>
                    </div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="col-md-8">
                        <form id="asset_form" method="post" enctype="multipart/form-data">
                            <div style="padding:2%!important">
                                {% csrf_token %}
                                <input type="hidden" name="campaign" id="campid">
                                <label class="label1">Assets Name :</label><input type="text" name="assets_name" id="assets_name" required=""><br>
                                <label class="label1">Type of assets:</label>
                                <div id="assets_holder" name="assets_holder">
                                </div>
                                <label class="label1">Sponsers:</label><input type="text" name="sponsers" id="sponsers"><br>
                                <label class="label1" style="width: 150px;">Asset distributor :</label><input type="text" name="asset_distributor" id="asset_distributor"><br>
                                <label class="label1">Add assets link :</label><input type="text" name="add_assetslink" id="add_assetslink">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3">
                        <img src="{% static '/icons/asset.gif' %}" width="250">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--aseets model end-->

<!-- aggrements -->
<div class="modal fade" id="Aggrements_models" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="border">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title exampleModalLongTitle h1" id="exampleModalLongTitle">Agreements</h5>
                </div>
                <div class="modal-body">
                    <div class="ager">
                        <span class='lead nd'>NDA Agreement </span>
                        <span id='nda_icon' class="label bg-danger pull-right text-semibold">Due</span>
                    </div>
                    <div class="ager" style="background:#5a8ec3ad;">
                        <span class="lead ms">MSA Agreement </span>
                        <span id='msa_icon' class="label bg-danger pull-right text-semibold">Due</span>
                    </div>
                    <div class="ager" style="background:#f1a1a1b8;">
                        <span class='lead gdp'>GDPR Agreement </span>
                        <span id='gdpr_icon' class="label bg-danger pull-right text-semibold">Due</span>
                    </div>
                    <div class="ager" style="background:#77cbeab8;">
                        <span class='lead dp'>DPA Agreement </span>
                        <span id='dpa_icon' class="label bg-danger pull-right text-semibold">Due</span>
                    </div>
                    <div class="ager" style="background: #eebe58e0;">
                        <span class='lead io'>IO Agreement </span>
                        <span id='io_icon' class="label bg-danger pull-right text-semibold">Due</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Add scripts modal start -->
<div class="modal fade" id="scripts_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="border">
                <div class="modal-header">
                    <div class="col-md-12 bgset">
                        <h4 class="modal-title" id="exampleModalLongTitle">Scripts for <span class="campaign_name"></span></h4>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <center>
                            <a class="hidden" id="script_link" download><button
                                    class="btn btn-primary script-color btn-sm float-left">View Script</button></a>
                        </center>
                        <form id="script_form" method="post" enctype="multipart/form-data"> {% csrf_token %} <input
                                type="hidden" name="campaign" id="camp_script_id">
                            <div class="file-script-field">
                                <center>
                                    
                                    <div class="btn btn-primary script-color btn-sm float-left">
                                        <div class="name ellipsis" id="script_ids">Browse</div>
                                        <input type="file" name="script_file" id="" accept=".pdf">
                                    </div>
                                    <button type="button" title="remove file" id="remove_script_file" class="btn btn-default" style="display: none">
                                        <i class="icon-cross3"></i> 
                                        <span class="hidden-xs">Remove</span>
                                    </button>
                                </center>
                            </div>
                            <button type="submit" class="btn btn-primary submit-btn legitRipple pull-right"
                                id="submit_script"> Submit <span class="legitRipple-ripple"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Add scripts modal end -->

<!--attachment to chat -->
<div class="modal fade" id="chat_attach_modal" role="dialog">
    <div class="modal-dialog" style="width:45%;">
        <div class="modal-content">
            <div class="border">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="modal-title">Send Attachment</h1>
                </div>
                <form method="post" id="chat_attach_form" enctype="multipart/form-data">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Enter Title</label>
                                    <input type="text" id="file_title" name="title" class="form-control" placeholder="Enter Title" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="file-field">
                                    <label>Select File</label><br/>
                                    <div class="btn btn-primary btn-sm float-left">
                                        <div id="chat_file_name" class="name ellipsis">Browse</div>
                                        <input type="file" name="filename" required />
                                        <input type="hidden" name="camp_id" id="chat_camp_id" value="{{camp.id}}" />
                                        <input type="hidden" name="client_id" id="chat_attach_sender_id" value="{{sender_id}}" />
                                    </div>
                                    <!-- <button type="button" title="remove file" class="btn btn-default" id="remove_chat_file" style="display:none">
                                        <i class="icon-cross3"></i> 
                                        <span class="hidden-xs">Remove</span>
                                    </button> -->
                                    <div class="pull-right div-aligns">
                                        <i class="far fa-times-circle btn-colors" style="display: none" title="remove file" id="remove_chat_file"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" id='load' style="margin-top: 10px;" class="btn btn-primary legitRipple pull-right">Send<span class="legitRipple-ripple"></span></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script>
    $(function () {
        $("#campaign").addClass("active");
        $("#campaign").find("ul").first().css({ 'display': 'block' })
        $("#Assigned").addClass("active");
    });
    $(document).ready(function () {
        $("#hide").click(function () {
            $(".chat").hide();
        });
        $(".chat_show").click(function () {
            $(".chat").show();
            $('.chat_box').animate({ scrollTop: $('.chat_box').prop("scrollHeight") }, 500);
            $('#message').focus()
        });

    });

</script>

<script type="text/javascript">
    function asset() {
        var width = $('#assets_holder').children().length;
        if (width == 0) {

            // document.asset_modal.css("width:330px;float:left;");
            $('#asset_modal').css('width', '65%')
            $('#asset_modal').css('margin-left', '20%')
        }
    }
</script>
<!--This script use for Disable tab (start)-->
<script type="text/javascript">
    $("#message").on('keydown', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode == 9) {
            e.preventDefault();

        }
    }); 
</script>
<!--This script use for Disable tab (End)-->
<style type="text/css">
    @media only screen and (max-width: 1368px) {

        table.dataTable tbody th,
        table.dataTable tbody td {
            padding: 12px !important;
        }
    }
</style>
<!-- /page container -->
{% include "vendor_portal/js/ex_vendor_manage.js" %}
{% include "vendor_portal/js/ex_vendor_camp_notebook.html" %}
{% include "campaign_chat/js/vendor_chatjs.html"%}
<!-- timer function for timeout -->
{% include "campaign/js/rfqtimer.html" %}
{% endblock %}