{% extends "header/vendorportalheader.html" %}
{% block scripts %}
{% include "campaign/manage_vendor_campaign.html" %}
{% endblock %}
{% block scripts1 %}
{% include "campaign/css/ext_vendor_rfq_camp.css" %}
{% include "campaign/css/ext_vendor_campaign_notebook.css" %}
{% endblock %}
{% block content %}
<!-- Main sidebar -->
{% include "side/clientvendorside.html" %}
{% load range %}
{% load static %}

<!-- CSS to disable bidding buttons of vendor after timeout -->
<style media="screen">
    .div_loader {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 20000;
    background: url('{% static "/icons/div_loader.gif" %}') 50% 50% no-repeat rgb(249, 249, 249);
    opacity: 1;
    }
    .disablebutton {
    cursor: not-allowed;
    pointer-events: none;
    background: #c0c0c0;
    }
    /* width */
    ::-webkit-scrollbar {
    width: 5px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
    background: #fff;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #fff;
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #555;
    }
    
</style>
<!-- Main content -->
<div class="content-wrapper">
    <div class="content">
        <div class="row">
            <!--Main Campaign Name Page-->
            <div class="col-md-12 main_scroll" style="overflow: auto;padding-right: 0px;padding-left: 5px;">
                <div class="panel campaign_panel panel-flat first">
                    <div class="panel-heading">
                            <h3>RFQ Campaigns</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="row">
                                    <div class="table-responsive-sm">
                                        <table id="vendor_pending_campaign_table"
                                            class="table text-nowrap campaign_table">
                                            <thead>
                                                <!--Heading for Pending campaign-->
                                                <tr class="active ">
                                                    <th></th>
                                                    <th colspan="1">RFQ Campaign</th>
                                                    <th>Description</th>
                                                    <th class=""></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for camp in camps %}
                                                <!--List of Pending campaign-->
                                                <tr class="shadow ">
                                                    <td style="width:1%;">
                                                        <i class="supericon fas fa-plus-circle more plus_1"
                                                            data-id="{{camp.id}}" data-camp_id="{{camp.campaign.id}}" data-rftime="{{camp.campaign.rfq_timer}}"></i>
                                                        <div class="hidden more_details" data-camp_id="{{camp.campaign.id}}">
                                                            <div class="div_loader"></div>
                                                            <label id="campaign_alloc_{{camp.id}}"
                                                                data-id="{{camp.id}}" hidden>
                                                                {{camp.id}}</label>
                                                            <div class="close-1">
                                                                <button type="button" class="close close_div" data-dismiss="modal">×</button>
                                                            </div>
                                                            <div class="campaign_info">
                                                                <div class="col-md-4 form-group fm">
                                                                    <div class="filed_select_div"></div>
                                                                    <div class="camp_detail_container"></div>
                                                                </div>
                                                                <div class="col-md-8 vendor_table_wrap cols_min_height">
                                                                    <!-- RFQ Timer  -->
                                                                    <div class="">
                                                                        <span>Time Remaining -</span><span
                                                                            id="campaign_timer_{{camp.id}}"></span>
                                                                    </div>
                                                                    <table id="vendor_table_{{camp.id}}"
                                                                        class="table vendor_table datatable-show-all">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>ID</th>
                                                                                <th>Campaign Name</th>
                                                                                <th>CPL</th>
                                                                                <th>Volume</th>
                                                                                <th>Action</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="" id="{{camp.id}}" camp_id="{{camp.campaign.id}}">
                                                        <div class="media-left">
                                                            <div class="">
                                                                <a href="#" id="{{camp.campaign.id}}"
                                                                    class="text-default text-semibold ">
                                                                    {{camp.campaign.name|truncatechars:20 }}</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="" id="{{camp.id}}" camp_id="{{camp.id}}">
                                                        <div>{{camp.campaign.description|truncatechars:100}}</div>
                                                    </td>
                                                    <td class="campagin_icons ">
                                                        <ul class="icons-list">
                                                            
                                                        </ul>
                                                    </td>
                                                </tr>
                                                {%endfor%}
                                                <!-- end assigned more -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/Main Campaign Name Page-->
    </div>
</div>
<!-- end Main content -->

<!-- Large Modal -->
<div id="modal_large" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

        </div>
    </div>
</div>
<!-- end large modal -->

<!--attachment to chat -->
<div class="modal fade" id="chat_attach_modal" role="dialog">
    <div class="modal-dialog " style="width:45%;">
        <div class="modal-content">
            <div class="border">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Send Attachment </h3>
                </div>
                <form method="post" id="chat_attach_form" enctype="multipart/form-data">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Enter Title</label>
                                    <input type="text" id="file_title" name="title" class="form-control"
                                        placeholder="Enter Title" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="file-field">
                                    <label>Select File</label><br />
                                    <div class="btn btn-primary btn-sm float-left">
                                        <div id="chat_file_name">Browse</div>
                                        <input type="file" name="filename" required />
                                        <input type="hidden" name="camp_id" id="chat_camp_id" value="{{camp.id}}" />
                                        <input type="hidden" name="client_id" id="chat_attach_sender_id"
                                            value="{{sender_id}}" />
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" id='load' style="margin-top: 10px;"
                                    class="btn btn-primary legitRipple pull-right">Send<span
                                        class="legitRipple-ripple"></span></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!--aseets model Start-->
<!-- aggrements -->
<div class="modal fade" id="Aggrements_models" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="border">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title exampleModalLongTitle h1" id="exampleModalLongTitle">Agreements</h5>
                </div>
                <div class="modal-body">
                    <div class="ager">
                        <span class='lead nd'>NDA Agreement </span>
                        <span id='nda_icon' class="label bg-danger pull-right text-semibold">Due</span>
                    </div>
                    <div class="ager" style="background:#5a8ec3ad;">
                        <span class="lead ms">MSA Agreement </span>
                        <span id='msa_icon' class="label bg-danger pull-right text-semibold">Due</span>
                    </div>
                    <div class="ager" style="background:#f1a1a1b8;">
                        <span class='lead gdp'>GDPR Agreement </span>
                        <span id='gdpr_icon' class="label bg-danger pull-right text-semibold">Due</span>
                    </div>
                    <div class="ager" style="background:#77cbeab8;">
                        <span class='lead dp'>DPA Agreement </span>
                        <span id='dpa_icon' class="label bg-danger pull-right text-semibold">Due</span>
                    </div>
                    <div class="ager" style="background: #eebe58e0;">
                        <span class='lead io'>IO Agreement </span>
                        <span id='io_icon' class="label bg-danger pull-right text-semibold">Due</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--aseets model Start-->

<div class="modal fade" id="asset_modal" role="dialog">
    <div class="modal-dialog aseets_modal " style="width: 93%!important;margin-left: 2%;">
        <div class="modal-content">
            <div class="border">
                <div class="modal-header">
                    <div class="col-md-12 bgset">
                        <h3 class="modal-title">Assets for <span class="campaign_name"></span></h3>
                    </div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="col-md-8">
                        <form id="asset_form" method="post" enctype="multipart/form-data">
                            <div style="padding:2%!important">
                                {% csrf_token %}
                                <input type="hidden" name="campaign" id="campid">
                                <label class="label1">Assets Name :</label><input type="text" name="assets_name"
                                    id="assets_name" required=""><br>
                                <label class="label1">Type of assets:</label>
                                <div id="assets_holder" name="assets_holder">
                                </div>
                                <label class="label1">Sponsers:</label><input type="text" name="sponsers"
                                    id="sponsers"><br>
                                <label class="label1" style="width: 150px;">Asset distributor :</label><input
                                    type="text" name="asset_distributor" id="asset_distributor"><br>
                                <label class="label1">Add assets link :</label><input type="text" name="add_assetslink"
                                    id="add_assetslink">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3">
                        <img src="{% static '/icons/asset.gif' %}" width="382">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--aseets model end-->


<!-- Add scripts modal start -->
<div class="modal fade" id="scripts_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="border">
                <div class="modal-header">
                    <div class="col-md-12 bgset">
                        <h3 class="modal-title" id="exampleModalLongTitle">Scripts for <span
                                class="campaign_name"></span></h3>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <center>
                            <h5>Client Script</h5>
                            <a class="" id="script_link" download><button
                                    class="btn btn-primary script-color btn-sm float-left">View Script</button></a>
                        </center>
                    </div>
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Add scripts modal end -->


<script>
    $(function () {
        $("#campaign").addClass("active");
        $("#campaign").find("ul").first().css({ 'display': 'block' })
        $("#Pending").addClass("active");
    });
    $(document).ready(function () {
        $("#hide").click(function () {
            $(".chat").hide();
        });
        $(".chat_show").click(function () {
            $(".chat").show();
            $('.chat_box').animate({ scrollTop: $('.chat_box').prop("scrollHeight") }, 500);
            $('#message').focus()
        });

    });

</script>

<script type="text/javascript">
    function asset() {
        var width = $('#assets_holder').children().length;
        if (width == 0) {

            // document.asset_modal.css("width:330px;float:left;");
            $('#asset_modal').css('width', '65%')
            $('#asset_modal').css('margin-left', '20%')
        }
    }
</script>
<!--This script use for Disable tab (start)-->
<script type="text/javascript">
    $("#message").on('keydown', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode == 9) {
            e.preventDefault();

        }
    }); 
</script>
<!--This script use for Disable tab (End)-->
<!-- JS to hide more details on click of documnet -->
<script type="text/javascript">
    $(document).click(function (event) {
        if ($(event.target).closest('.plus_1').length == 0 && $(event.target).parents('.more_details').length == 0 && $(event.target).closest('table').parents('.more_details').length == 0){
            $(`.more_details`).addClass('hidden')
        }
    })
</script>
<!-- /page container -->
{% include "campaign/vendor_managecampaignjs.html" %}
{% include "campaign/vendor_campaign_notebook_js.html" %}
{% include "campaign_chat/js/vendor_chatjs.html"%}
<!-- timer function for timeout -->
{% include "campaign/js/rfqtimer.html" %}
{% endblock %}