.list-group {
    list-style: none;
    margin-bottom: 0;
    border: 1px solid #186f90;
    padding: 8px 0;
    border-radius: 3px;
}
.list-group li
{
  margin: 5px;
    border: 1px solid #076f0a;
}
.checker span.checked {
    border-color: #00bcd4 !important;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}
.checker span {
    color: #00bcd4 !important;
    border: 2px solid #607D8B;
    display: inline-block;
    text-align: center;
    position: relative;
    border-radius: 2px;
}
 .checker {
    background: #70c0ff00!important;
}
.li-bottom {
        border-bottom:1px solid #ddd; 
        margin-bottom: 5%!important;
    }
    .item_style {
        font-size: 15px;
        cursor: default;
    }
    .action_drop {
        left: 0;
        margin-top: 1%!important;
        padding: 3%!important;
        /* text-align: justify; */
        background: #ffffff;
        width: 200px;
    }
    .file_icon {
        font-size: 18px;
        padding-right: 4%;
    }
    .table_btn {
        margin-right: 73%;
    }
    @media only screen and (min-width: 1280px) and (max-width: 1366px) {
        .table_btn {
            margin-right: 58%!important;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .table_btn {
            margin-right: 38%!important;
        }
    }
    @media only screen and (min-width: 1440px) and (max-width: 1600px) {
        .table_btn {
            margin-right: 64%!important;
        }
    }
    @media only screen and (min-width: 1920px) and (max-width: 2500px) {
        .table_btn {
            margin-right: 73%!important;
        }
    }
@media only screen and (max-width: 1366px) and (min-height: 500px){
  .favorite-heart{  
        margin-left: 5%!important;
    }
}

 @media only screen and (max-width: 1366px) and (min-height: 600px){
    .chat_detail{
        margin-top: 50px!important;
    }
}
