{% extends "header/cheader.html" %}

{% block scripts %}
{% include "vendor1/vendor_list_head.html" %}
{% endblock %}

{% block scripts1 %}
{% include "campaign/manage_campaign.css" %}
{% endblock %}
{% block content %}
<!-- Main sidebar -->
{% include "side/clientside.html" %}
{% load static %}

<!-- Main content -->
<div class="content-wrapper">
    <!-- Content area -->
    <div style="margin-top: 47px;padding:10px;">
        <div class="row">
            <div class="col-md-12 ">
                <!-- Top Clients List -->
                <div class="panel panel-height panel-flat">
                    <div class="panel-heading">
                        <h1 class="panel-title">Vendor List
                            <button type="button" id="databtn" class="btn btn-filter-tb btn-labeled pull-right"
                                style="display:none">
                                <b><span id="filter_icon" class="glyphicon glyphicon-filter"></span></b>
                                Filter
                            </button>
                            <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#lead_header"
                                camp_id="{{camp}}">
                                <i class="fa fa-plus"></i>&nbsp Add Vendor</button>
                        </h1><br>
                    </div>
                    <div class="table-responsive-sm">
                        <table class="table datatable-column-search-inputs DataTables">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Type</th>
                                    <th>Favourite</th>
                                </tr>
                            </thead>
                            <tfoot id="datatfootfilter" style="display:none">
                                <tr>

                                    <td rowspan="1" colspan="1">
                                        <input type="text" class="form-control input-sm" placeholder="Search Company">
                                    </td>
                                    <td rowspan="1" colspan="1">
                                        <input type="text" class="form-control input-sm" placeholder="Search Category">
                                    </td>
                                    <td rowspan="1" colspan="1"></td>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for vendor in tc_vendorlist %}
                                <tr>
                                    <td><a
                                            href="/client/vendor-profile/{{vendor.user.id}}">{{ vendor.user.user_name}}</a>
                                    </td>
                                    <td>{{ vendor.user.email}}</td>
                                    <td>
                                        {% if vendor.user.usertype_id == 2 %}
                                        <span class=""> TC Vendor</span>
                                        {% else %}
                                        <span class=""> External Vendor</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if vendor.user.id in favorite_vendorlist %}
                                        <i class="fa fa-heart add_favorite favorite-heart" data-id="{{vendor.user.id}}"
                                            title="Remove From Favourite"></i>
                                        {% else %}
                                        <i class="fa fa-heart-o add_favorite favorite-heart"
                                            data-id="{{vendor.user.id}}" title="Mark As Favourite"></i>

                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                                {% for vendor in extr_vendorlist %}
                                <tr>
                                    <td><a href="#">{{ vendor.user_name}}</a></td>
                                    <td>{{ vendor.email}}</td>
                                    <td>

                                        {% if vendor.usertype_id == 9 %}
                                        <span class=""> Internal Vendor</span>
                                        {% else %}
                                        <span class=""> External Vendor</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if vendor.id in favorite_vendorlist %}
                                        <i class="fa fa-heart add_favorite favorite-heart" data-id="{{vendor.id}}"
                                            title="Remove From Favourite"></i>
                                        {% else %}
                                        <i class="fa fa-heart-o add_favorite favorite-heart" data-id="{{vendor.id}}"
                                            title="Mark As Favourite"></i>

                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Footer -->
                <div class="footer text-muted" style="display: none;">

                    &copy; 2018. <a href="#">Trigensoft</a> by <a href="Trigensoft.com" target="_blank">Eugene
                        Kopyov</a>
                </div>
                <!-- /footer -->
            </div>
        </div>
    </div>
    <!-- /content area -->
</div>
<!-- /main content -->

<div class="modal fade" id="lead_header" role="dialog">
    <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <div class="modal-content" style="padding: 10px;">
            <div class="border">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Vendor</h4>
                </div>
                <div class="modal-body">
                    <form name="frm" id="addvendor" method="post">
                        {% csrf_token %}
                        <section>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label col-lg-3">
                                            <h5>Username</h5>
                                        </label>
                                        <div class="col-lg-9">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="text" name="user_name" class="form-control "
                                                        placeholder="Username" id="id_user_name" required>
                                                    <span class="help-block user_error" style="color: red"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label col-lg-3">
                                            <h5>Email</h5>
                                        </label>
                                        <div class="col-lg-9">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="email" name="email" class="form-control"
                                                        placeholder="Email" autofocus="" required="" id="id_email">
                                                    <span class="help-block email_error" style="color: red"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label col-lg-3">
                                            <h5>Password</h5>
                                        </label>
                                        <div class="col-lg-9">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="password" class="form-control" name="password1"
                                                        placeholder="Password" id="id_password1" required>
                                                    <span class="help-block password1_error" style="color: red"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label col-lg-3">
                                            <h5>Confirm Password</h5>
                                        </label>
                                        <div class="col-lg-9">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="password" class="form-control" name="password2"
                                                        placeholder="Confirm Password" id="id_password2" required>
                                                    <span class="help-block password2_error" style="color: red"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label col-lg-3">
                                            <h5>Vendor Type</h5>
                                        </label>
                                        <div class="col-lg-9">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <!-- usertype_id = 8 for internal vendor...Akshay G. -->
                                                    <select name="vendor_type" id="vendor_type"
                                                        class="form-control type-select">
                                                        <option value="9">Internal Vendor</option>
                                                        <option value="5">External Vendor</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="modal-footer">
                            <img src="{% static 'assets/images/lg.circle-slack-loading-icon.gif'%}"
                                style="height:50px;display:none" id="loader">
                            <button type="submit" class="btn  btn-sm submit-btn sub">
                                <i class="fa fa-check"></i>&nbspsubmit
                            </button>
                            <button type="button" class="btn btn-default btn-color" data-dismiss="modal"><i
                                    class="fa fa-times"></i>&nbspClose</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page container -->
{% include "vendor1/vendorjs.html" %}
<script>
    $(function () {
        $("#explore-vendors").addClass("active");
        $("#explore-vendors").find("ul").first().css({ 'display': 'block' })
        $("#VendorList").addClass("active");
    });
</script>
{% endblock %}
