{% extends "header/cheader.html" %}

{% block scripts %}

{% include "vendor1/vendor_profilehead.html" %}
{% endblock %}


{% block content %}
<!-- Main sidebar -->
{% include "side/clientside.html" %}
{% load static %}

<div class="content-wrapper" style="overflow-x: hidden;">
	<div class="content">
		<div class="col-md-9 panel" style="height: 93vh;">
			<div class="col-md-3" style="padding-top: 1%;">
				<div class="panel ">
					<div class="panel-body bg-indigo-400 border-radius-top text-center"
						style="background-image: url(http://demo.interface.club/limitless/assets/images/bg.png); background-size: contain;">
						<div class="content-group-sm">
						</div>
						<a href="#" class="display-inline-block content-group-sm">
							{% if profile_data.logo|length > 2 %}
							<img src="{{profile_data.logo}}" class="img-circle img-responsive" alt=""
								style="width: 150px; height: 150px;">
							{% else %}
							<!--Default icon logo-->
							<label class="V_default_logo">
								<div class="V_profile_name">{{profile_data.logo|upper}}</div>
							</label>
							<!--/Default icon logo-->
							{% endif %}		
							
						</a>
						<!-- <ul class="list-inline list-inline-condensed no-margin-bottom">
	                      <li><i class=""><strong>100%</strong></i></li><br>
	                      <li><span></span></li>
	                    </ul> -->
					</div>
				</div>
			</div>
			<div class="col-md-9" style="padding-top: 1%;">
				<div class="panel" style="padding: 3%;">
					<h1 class="panel-title panl-title"> Vendor : {{vendor.user.user_name}}<span
							class="year_details">(Year Incorporated : {{profile_data.year_incorporate}})</span></h1>
					<div class="col-md-6">
						<div class=" panel">
							<div class="title_head">Acceptance Rate</div>
							<center>
								<div class="label label-info AcceptanceRate">
									{{profile_data.Acceptance_rate|floatformat:2}}%</div>
							</center>
						</div>
					</div>
					<!-- <div class="col-md-3">
						<div class=" panel">
							<div class="title_head">Techconnectr Rating</div>
							<center>
								<div class="label label-info AcceptanceRate">93%</div>
							</center>
						</div>
					</div> -->
					<div class="col-md-6">
						<div class=" panel">
							<div class="title_head">Campaign Delivered</div>
							<center>
								<div class="label label-info AcceptanceRate">{{profile_data.campaign_deliver}}</div>
							</center>
						</div>
					</div>
					<!-- <div class="col-md-3">
						<div class=" panel">
							<div class="title_head">Avg. Monthly Conversion</div>
							<center>
								<div class="label label-info AcceptanceRate">{{profile_data.average_month_cov}}</div>
							</center>
						</div>
					</div> -->
					<!-- <div class="col-md-3">    
                    <div class=" panel">
                      <div class="title_head">Suggest To Superadmin</div>
                      <a data-toggle="modal" data-target="#assign_vendor">
                          <center><div class="label label-info AcceptanceRate" ><i class="fa fa-bullhorn" aria-hidden="true"></i></div></center>
                      </a>
                    </div>
                  </div> -->
				</div>
			</div>
			<!--PANEL BODY-->
			<div class="col-md-12">
				<div class="panel-body">
					<ul class="nav nav-pills ">
						<li class="active"><a data-toggle="tab" href="#home">Overview</a></li>
						<!-- <li><a data-toggle="tab" href="#menu1">Statistics</a></li> -->
						<!-- <li><a data-toggle="tab" href="#menu2">Trade References</a></li> -->
					</ul>
					<div class="tab-content">
						<div id="home" class="tab-pane fade in active">
							<div class="row">
								<div class="col-lg-12 col-sm-12">
									<div class="row">
										<div class="col-lg-9">
											<div class="panel panel-primary">
												<div class="panel-body panel-heights">
													{{profile_data.overview}}
													<!-- <ul class="list-inline list-inline-condensed heading-text" style="padding-top: 3%;"> -->
													<!-- <li><a href="#" class="text-default"><i class="icon-eye4 position-left"></i> 438</a></li> -->
													<!-- <li><a href="#" class="text-default"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 201</a></li>
					                                            <li><a href="#" class="text-default"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 65</a></li>
					                                            <li><a href="#" class="text-default"><i class="fa fa-comment-o position-left"></i> 71</a></li>
					                                      </ul> -->
													<!-- {{profile_data}} -->
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="menu1" class="tab-pane fade panel-heights">
							<div class="row">
								<div class="col-lg-12 col-sm-12">
									<div class="col-lg-4 col-md-4">
										<div class="panel panel-body">
											<div class="media">
												<div class="media-body">
													<h6 class="text-semibold no-margin">Launch Time : 2 Days</h6>
													<h6 class="text-semibold no-margin">Avg.time of first Conversion
													</h6>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-4">
										<div class="panel panel-body">
											<div class="media">
												<div class="media-body">
													<h6 class="text-semibold no-margin">Active : 11</h6>
													<h6 class="text-semibold no-margin">Campaign in the last 15 Days
													</h6>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-4">
										<div class="panel panel-body">
											<div class="media">
												<div class="media-body">
													<h6 class="text-semibold no-margin">Conversion : 24,526</h6>
													<h6 class="text-semibold no-margin">Average Conversion</h6>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row" id="campaign_stastics">
								<div class="col-md-12">
									<div class="col-lg-4 col-md-4">
										<h4 style="margin-bottom:-2px">History</h4>
										<p>Months Of Techconnectr</p>
									</div>
									<div class="col-lg-4 col-md-4">
										<div style="margin-top:21px">
											<div class="progress">
												<div class="progress-bar bg-teal" style="width: 85%">
													<span>85%</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-4">
										<h5 style="margin-top: 16px;">9/24 Months</h5>
									</div>
								</div>
								<div class="col-md-12">
									<div class="col-lg-4 col-md-4">
										<h4 style="margin-bottom:-2px">Engagement</h4>
										<p>Months Activity</p>
									</div>
									<div class="col-lg-4 col-md-4">
										<div style="margin-top:21px">
											<div class="progress">
												<div class="progress-bar bg-teal" style="width: 89%">
													<span>89%</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-4">
										<h5 style="margin-top: 16px;">8/9 Months</h5>
									</div>
								</div>
								<div class="col-md-12">
									<div class="col-lg-4 col-md-4">
										<h4 style="margin-bottom:-2px">Delivery</h4>
										<p>Live Campaign Activity</p>
									</div>
									<div class="col-lg-4 col-md-4">
										<div style="margin-top:21px">
											<div class="progress">
												<div class="progress-bar bg-teal" style="width: 50%">
													<span>50%</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-4">
										<h5 style="margin-top: 16px;">10/20 Campaign</h5>
									</div>
								</div>
								<div class="col-md-12">
									<div class="col-lg-4 col-md-4">
										<h4 style="margin-bottom:-2px">Return</h4>
										<p></p>
									</div>
									<div class="col-lg-4 col-md-4">
										<div style="margin-top:21px">
											<div class="progress">
												<div class="progress-bar bg-teal" style="width: 10%">
													<span>10%</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-4">
										<button type="button" class="btn btn-primary btn-sm legitRipple"
											id="show_campaign_section">Show Breakdown</button>
									</div>
								</div>
							</div>
							<div class='row' id="campaign_section" style="display:none">

								<div class='col-sm-8 col-md-8 breakdwn_aligns'>
									<div class='row'>
										<div class='col-md-9 col-sm-12'>
											<button type="button" class="btn btn-primary btn-sm legitRipple"
												id="return_campaign_stastics" style="margin-bottom:5px;">Show
												Breakdown</button>
											<div class="panel-group panel-group-control content-group-lg"
												id="accordion-control">
												<div class="panel">
													<div class="panel-heading">
														<h6 class="panel-title">
															<a data-toggle="collapse" id="accordion"
																data-parent="#accordion-control"
																href="#accordion-control-group1">Commerce</a>
														</h6>
													</div>
													<div id="accordion-control-group1" class="panel-collapse collapse ">
														<div class="panel-body">
															<div class="table-responsive">
																<table class="table table-bordered">
																	<thead>
																		<tr>
																			<th>CID</th>
																			<th>Returned</th>
																			<th>Conversion</th>
																			<th>%</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr>
																			<td>#101</td>
																			<td>15</td>
																			<td>100</td>
																			<td>85</td>
																		</tr>
																		<tr>
																			<td>#103</td>
																			<td>16</td>
																			<td>160</td>
																			<td>92</td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class='col-md-9 col-sm-12'>
											<div class="panel-group panel-group-control content-group-lg"
												id="accordion-control1">
												<div class="panel">
													<div class="panel-heading">
														<h6 class="panel-title">
															<a data-toggle="collapse" data-parent="#accordion-control1"
																href="#accordion-control-group2">Coupons/Discount</a>
														</h6>
													</div>
													<div id="accordion-control-group2" class="panel-collapse collapse ">
														<div class="panel-body">

															<div class="table-responsive">
																<table class="table table-bordered">
																	<thead>
																		<tr>
																			<th>CID</th>
																			<th>Returned</th>
																			<th>Conversion</th>
																			<th>%</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr>
																			<td>#101</td>
																			<td>15</td>
																			<td>100</td>
																			<td>85</td>
																		</tr>
																		<tr>
																			<td>#103</td>
																			<td>16</td>
																			<td>160</td>
																			<td>92</td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row" style="display:none">
								<div class="col-lg-8 col-sm-12">
									<div class="row">
										<div class="col-lg-12">
											<table class="table datatable-column-search-inputs DataTables">
												<thead>
													<tr>
														<th>CID</th>
														<th>Name</th>
														<th>Descriptions</th>
														<th>conversion</th>
													</tr>
												</thead>
												<tfoot id="datatfootfilter">
													<tr>
														<td rowspan="1" colspan="1">
															#1452
														</td>
														<td rowspan="1" colspan="1">
															Beauty
														</td>
														<td rowspan="1" colspan="1">
															The him father parish looked has sooner
														</td>
														<td rowspan="1" colspan="1">
															10/100
														</td>
													</tr>
												</tfoot>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="menu2" class="tab-pane fade" style="display: none;">
							<div class="row">
								<div class="col-lg-12 col-sm-12">
									<div class="row">
										<div class="col-lg-9">
											<div class="panel panel-primary panel-heights">
												<div class="panel-body" style="padding-left: 50px;">
													<div class="input-group col-lg-4">
														<select class='form-control'>
															<option value="0">Select client</option>
															<option name="" value=""></option>
														</select>
													</div>
													<br />
													<h6 class="text-semibold no-margin">How long work with the client ?
													</h6>
													<ul>
														<li> 2 years</li>
													</ul>
													<h6 class="text-semibold no-margin">How much Volume,on Avarge,do you
														purchase from them a month ?</h6>
													<ul>
														<li> 2 years</li>
													</ul>
													<h6 class="text-semibold no-margin">How much Volume,on Avarge,do you
														purchase from them a month ?</h6>
													<ul>
														<li> Great</li>
													</ul>
													<h6 class="text-semibold no-margin">have there been any
														issue/dispute with leads or returns ?</h6>
													<ul>
														<li> None</li>
													</ul>
													<h6 class="text-semibold no-margin">Is there any aditional
														information ?</h6>
													<ul>
														<li>They are pleasure to work with</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="menu4" style="display:none;" class="tab-pane fade">
						</div>
						<div id="menu5" style="display: none;" class="tab-pane fade">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel">
				<div class="panel-heading" style="background: #2195f3;">
					<h6 class="panel-title text-semibold" style="color: #FFF;">Vendor Details</h6>
				</div>
			</div>

			<div class="panel">
				<div class="panel panel-flat panel-collapsed">
					<div class="panel-heading">
						<h6 class="panel-title text-semibold">Vendor Type<a class="heading-elements-toggle"><i
									class="icon-more"></i></a></h6>
						<div class="heading-elements">
							<ul class="icons-list">
								<li><a data-action="collapse" class="rotate-180"></a></li>
							</ul>
						</div>
					</div>

					<div class="panel-body" style="display: none;">
						<ul class="ul_list">
							{% for type in profile_data.vendor_type %}
							<li>{{type}}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>

			<div class="panel">
				<div class="panel panel-flat panel-collapsed">
					<div class="panel-heading">
						<h6 class="panel-title text-semibold">Industry Type<a class="heading-elements-toggle"><i
									class="icon-more"></i></a></h6>
						<div class="heading-elements">
							<ul class="icons-list">
								<li><a data-action="collapse" class="rotate-180"></a></li>
							</ul>
						</div>
					</div>

					<div class="panel-body" style="display: none;">
						<ul class="ul_list">
							{% for type in profile_data.industry_type %}
							<li>{{type}}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>

			<div class="panel">
				<div class="panel panel-flat panel-collapsed">
					<div class="panel-heading">
						<h6 class="panel-title text-semibold">Specialization<a class="heading-elements-toggle"><i
									class="icon-more"></i></a></h6>
						<div class="heading-elements">
							<ul class="icons-list">
								<li><a data-action="collapse" class="rotate-180"></a></li>
							</ul>
						</div>
					</div>

					<div class="panel-body" style="display: none;">
						<ul class="ul_list">
							{% for type in profile_data.speciality %}
							<li>{{type}}</li>
							{% endfor %}
						</ul>
						</ul>
					</div>
				</div>
			</div>

			<div class="panel">
				<div class="panel panel-flat panel-collapsed">
					<div class="panel-heading">
						<h6 class="panel-title text-semibold">Lead Gen Method <small>(Monthly Capacity)</small><a class="heading-elements-toggle"><i
									class="icon-more"></i></a></h6>
						<div class="heading-elements">
							<ul class="icons-list">
								<li><a data-action="collapse" class="rotate-180"></a></li>
							</ul>
						</div>
					</div>

					<div class="panel-body" style="display: none;">
						<ul class="ul_list">
							{% for key, type in profile_data.lead_gen_mehtod.items %}
							<li>{{key}} <label class="pull-right first"> {{type}}</label></li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>

			<div class="panel">
				<div class="panel panel-flat panel-collapsed">
					<div class="panel-heading">
						<h6 class="panel-title text-semibold">Complex Program <small>(Monthly Capacity)</small><a class="heading-elements-toggle"><i
									class="icon-more"></i></a></h6>
						<div class="heading-elements">
							<ul class="icons-list">
								<li><a data-action="collapse" class="rotate-180"></a></li>
							</ul>
						</div>
					</div>

					<div class="panel-body" style="display: none;">
						<ul class="ul_list">
							{% for key, type in profile_data.complex_program.items %}
							<li>{{key}} <label class="pull-right first"> {{type}}</label></li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>

			<div class="panel">
				<div class="panel panel-flat panel-collapsed">
					<div class="panel-heading">
						<h6 class="panel-title text-semibold">Locations<a class="heading-elements-toggle"><i
									class="icon-more"></i></a></h6>
						<div class="heading-elements">
							<ul class="icons-list">
								<li><a data-action="collapse" class="rotate-180"></a></li>
							</ul>
						</div>
					</div>

					<div class="panel-body" style="display: none;">
						<ul class="ul_list">
							<li>
								<div><strong>HQ loc:</strong></div>
								<div> {{profile_data.HQ_loc|join:', '}}</div>
							</li>
							<li>
								<div><strong>Call Centre loc:</strong></div>
								<div> {{profile_data.call_centre_loc|join:', '}}</div>
							</li>
							<li>
								<div><strong>Data Processing loc :</strong></div>
								<div>{{profile_data.data_processing_loc|join:', '}}</div>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="panel">
				<div class="panel panel-flat panel-collapsed">
					<div class="panel-heading">
						<h6 class="panel-title text-semibold">Language Supported <small>(Team Size)</small><a class="heading-elements-toggle"><i
									class="icon-more"></i></a></h6>
						<div class="heading-elements">
							<ul class="icons-list">
								<li><a data-action="collapse" class="rotate-180"></a></li>
							</ul>
						</div>
					</div>

					<div class="panel-body" style="display: none;">
						<ul class="ul_list">
							{% for key,type in profile_data.language_supported.items %}
							<li>{{key}} <label class="pull-right first"> {{type}}</label></li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<div class="panel">
				<div class="panel panel-flat panel-collapsed">
					<div class="panel-heading">
						<h6 class="panel-title text-semibold">Latest Connection<a class="heading-elements-toggle"><i
									class="icon-more"></i></a></h6>
						<div class="heading-elements">
							<ul class="icons-list">
								<li><a data-action="collapse" class="rotate-180"></a></li>
							</ul>
						</div>
					</div>

					<div class="panel-body" style="display: none;">
						<ul class="ul_list">
							{% for type in profile_data.latest_connection %}
							<li>{{type.user_name}}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="assign_vendor">
	<div class="modal-dialog">
		<div class="modal-content" style="padding: 5%;">
			<div class="border">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title"><strong>Suggest Vendor</strong></h4>
					<button type="button" class="close" data-dismiss="modal">×</button>

					<!-- Modal body -->
					<div class="modal-body">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="usr">Select Campaign</label>
									<select class="form-control" id="campaign_id">
										<option value="0" selected>select campaign</option>
										{% for row in campaign %}
										<option value="{{row.id}}">{{row.name}}</option>
										{% endfor%}
									</select>
									<input type="hidden" id='vendor_id' value="{{vendor_id}}" />
								</div>
							</div>
						</div>
					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="submit" class="btn submit-btn  legitRipple" id="vendor_suggest"><i
								class="fa fa-check"></i>&nbsp;Submit<span class="legitRipple-ripple"></span><span
								class="legitRipple-ripple"
								style="left: 31.991%; top: 81.5789%; transform: translate3d(-50%, -50%, 0px); transition-duration: 0.2s, 0.5s; width: 214.799%;"></span></button>
						<!-- <button type="button"  class="btn btn-primary">Submit</button> -->
						<button type="button" class="btn btn-link btn-color" data-dismiss="modal"><i
								class="fa fa-times"></i>&nbsp;Close</button>
						<!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<style type="text/css">
	.ul_list {
		list-style-type: none;
		font-size: 15px;
	}

	#assign_vendor {
		background: #333030ab;
	}

	.text-semibold {
		font-weight: 500;
		color: #585151;
	}

	.modal-header .close {
		position: absolute;
		right: 20px;
		top: 0%;
		margin-top: 0;
		font-size: 23px;
		color: black;
	}

	.img-circle {
		border-radius: 10%;
		border: 1px solid #2195f387;
	}

	.AcceptanceRate {
		padding: 3px 7px 3px 8px !important;
		font-size: 22px !important;
		background: #ddd0;
		border: 0;
		color: #2390c7;
	}

	.bg-indigo-400 {
		background-color: #eeeded00;
	}

	.list-inline {
		color: #2194f3;
	}

	.panl-title {
		font-size: 25px;
		font-weight: bold;
		color: #635151;
		padding-bottom: 3%;
	}

	.title_head {
		font-size: 15px;
		padding: 4%;
		font-weight: bold;
		color: #585050;
		text-align: center;
	}

	.first {
		padding: 0 2%;
		background: #26a69a99;
		border-radius: 10%;
		color: #fff;
	}

	.two {
		padding: 0 2%;
		background: #8d38e2;
		border-radius: 52%;
		color: #fff;
	}

	.three {
		padding: 0 2%;
		background: #159038b0;
		border-radius: 52%;
		color: #fff;
	}

	.four {
		padding: 0 2%;
		background: #f98162;
		border-radius: 52%;
		color: #fff;
	}

	.ul_list li {
		padding: 2%;
		border-bottom: 1px solid #ddd;
	}

	.fa-bullhorn {
		color: #2390c7;
	}

	.tab-pane {
		border-top: 1px solid #ddd;
		padding-top: 20px;
	}

	.label-primar {
		background: #eae2e2bd;
		border-color: #9e9a9a;
		margin-bottom: 5px;
	}
	}

	.primary {
		background: #2196F3 !important;
		color: #fff !important;
		font-weight: bold !important;
	}

	.year_details {
		font-weight: inherit;
		font-size: 12px;
	}
	.breakdwn_aligns {
		overflow: auto;
		max-height: 48vh;
	}
	@media only screen and (max-width: 1366px) and (min-height: 500px){
		.panel-heights {
			max-height: 42vh;
			min-height: 20vh;
			overflow: auto;
		}
	}
	.V_default_logo {
	    padding: 25px 43px;
	    margin-left: -15%;
	    background: #ff9800;
	    border-radius: 73px;
	}
	.V_profile_name {
	    font-size: 40px;
	    font-weight: bold;
	    color: #fff;
	}
</style>

{% include "vendor1/vendor_profilejs.html" %}
{% endblock %}