 {% load static %}

    <script type="text/javascript" src="{% static 'assets/js/plugins/uploaders/fileinput/plugins/purify.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/uploaders/fileinput/plugins/sortable.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/uploaders/fileinput/fileinput.min.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'assets/js/core/app.js' %}"></script> -->
    <script type="text/javascript" src="{% static 'assets/js/pages/uploader_bootstrap.js' %}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="{% static 'assets/js/pages/client/editdemo.js' %}"></script>
    <link href="{% static 'assets/css/client/dashboard.css' %}" rel="stylesheet" type="text/css">
    <style>
    .media-heading
    {
      margin-top: 5px;
    }
    .active{
      font-weight: bold;
    }
    .AcceptanceRate{
      padding: 3px 7px 3px 8px !important;
      font-size: 14px !important;
    }
    .AcceptanceRate1{
      padding: 3px 7px 3px 8px !important;
      font-size: 14px !important;
      margin-top: 2px;
    }
    .sidebar-default .navigation li > a {
        color: #333333;
        font-weight: normal!important;
    }
    .sidebar-default .navigation li > a:hover {
        color: #333333;
        font-weight: bold!important;
    }
    .active {
            font-weight: normal!important;
        }
    .file-caption-name
    {
      display: none
    }
    .fileinput-upload-button
    {
      display: none
    }
    #chartdiv {
      width: 100%;
      height: 250px;
      margin-left:0px;
    }
    .export-main{
    margin-top: -65px;
    }
    #chartdiv1 {
      width: 100%;
      height: 250px;
      margin-left:0px;
    }
        .addbtn{
            padding-left: 10px;
        }
            tfoot {
            display: table-row-group;
        }

        .nav-pills > li.active > a,
            .nav-pills > li.active > a:hover,
            .nav-pills > li.active > a:focus {
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
            }

            .nav-pills > li.active > a,
            .nav-pills > li.active > a:hover,
            .nav-pills > li.active > a:focus {
                color: #fff;
                background-color: #2196F3;
            }
    .nav > li > a {
                position: relative;
                display: block;
                padding: 9px 20px;
            }

    .panel-height {

    min-height:100vh;
    }
    #font14
    {
        font-size: 14px;
    }
    #paddingtop5
    {
        padding-top: 5px;
    }
    #paddingtop20
    {
    padding-top: 20px;
    }
    #centertext
    {
        text-align: center;
    }
    #margin5
    {
        margin:5px;
    }
    </style>
