{% load static %}
<link href="{% static 'assets/css/page/campaign.css' %}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{% static 'assets/js/pages/uploader_bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/uploaders/fileinput/plugins/purify.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/uploaders/fileinput/plugins/sortable.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/uploaders/fileinput/fileinput.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/3.2.6/js/dataTables.fixedColumns.min.js"></script>
<script src="{% static 'js/SimpleTableCellEditor.js'%}"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>