{% extends "header/cheader.html" %} {% block scripts1 %} {% include "campaign/css/campdesc.css" %} {% endblock %}
{% block content %}
<!-- Main sidebar --> {% include "side/clientside.html" %} {% load static %} {% load range %}
<!-- /main sidebar -->
<style type="text/css">
	/* width */
	::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: #ddd;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #ddd;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}

	.box {
		-moz-box-shadow: 3px 3px 5px 6px #ccc;
		-webkit-box-shadow: 3px 3px 5px 6px #ccc;
		box-shadow: 0px 1px 5px 5px #e6e6e69c;
		padding: 10px;
	}

	.panel {
		height: 93vh !important;
	}

	@media only screen and (max-width: 1368px) {
		.panel {
			height: 90vh !important;
			width: 101%;
		}

		.content {
			padding: 0 20px 0px 15px;
		}

		#campstat {
			margin-left: -2px;
		}
	}

	.camps {
		width: 41%;
		white-space: nowrap;
		/* width: 56%; */
		overflow: hidden;
		text-overflow: ellipsis;
		margin-top: 0px;
		background: #3090eac9;
	}

	.one {
		width: 8%;
		white-space: nowrap;
		/* width: 56%; */
		overflow: hidden;
		text-overflow: ellipsis;
		margin-top: 0px;
		background: #3090eac9;
	}

	.two {
		width: 15%;
		white-space: nowrap;
		/* width: 56%; */
		overflow: hidden;
		text-overflow: ellipsis;
		margin-top: 0px;
	}

	#campstat {
		font-size: 16px !important;
		background-color: #f3f1f1;
		font-weight: bold;
	}

	.desc_camp_status {
		background-color: #3f70ba;
		color: white;
		font-size: 14px;
		padding: 5px 20px 5px 20px;
		border-radius: 40px;
	}
</style>
<div class="content-wrapper">
	<!-- Content area -->
	<div style="margin-top: 47px;padding: 10px;width: 99.1%;">
		<!-- client registration model -->
		<div class="campaign_panel">
			<div class=" panel panel-white ">
				<div class="row ">
					<div class="row top">
						<div class="col-md-2">
							<div class="box">
								<label id="campstat">Campaign Status</label> {% if camp.status == 1 %} <label
									class="desc_camp_status ">Live </label> {% endif %} {% if camp.status == 2 %} <label
									class="desc_camp_status ">Draft</label> {% endif %} {% if camp.status == 3 %} <label
									class="desc_camp_status">Pending</label> {% endif %} {% if camp.status == 4 %}
								<label class="desc_camp_status">Complete</label> {% endif %} {% if camp.status == 5 %}
								<label class="desc_camp_status">Assigned</label> {% endif %} </div>
						</div>
						<div class="col-md-9   ">
							<div class="form-group ">
								<div class="label label-info1 lbl two">Campaign Name:</div>
								<div class="label label-info lbl camps" id="campstat1" title="{{camp.name}}">
									{{camp.name}}</div><br>
								<div class="label label-info1 lbl one">CID :</div>
								<div class="label label-info lbl one" id="campstat1">#{{camp.id}}</div>
								<!-- <label > </label><br> -->
								<!-- <label id="campstat1">Campaign Name: {{camp.name}}</label><br> -->
								<div class="label label-info1 lbl two">Default Payout :</div>
								<div class="label label-info lbl one">$ {{camp.cpl|floatformat:2}}</div> &nbsp;&nbsp;
								<div class="label label-info1 lbl two">Target Quantity :</div>
								<div class="label label-info lbl one">{{camp.target_quantity}}</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="table-responsive-sm">
						<table class="table" id="client_vendor_campaign_datatable">
							<thead>
								<tr>
									<th>Vendor</th>
									<th>Assigned Leads</th>
									<th>CPL</th>
									<th>Submit Leads</th>
									<th>Status</th>
									<th>Returned</th>
									{% if camp.status != 4 %}
									<th>Action</th>
									{% endif %}
								</tr>
							</thead>
							<tfoot class="datatfootfilter" style="display:none">
								<tr>
									<td rowspan="1" colspan="1">
										<input type="text" class="form-control input-sm" placeholder="Search Company">
									</td>
									<td rowspan="1" colspan="1">
										<input type="text" class="form-control input-sm" placeholder="Search Company">
									</td>
									<td rowspan="1" colspan="1">
										<input type="text" class="form-control input-sm" placeholder="Search Person">
									</td>
									<td rowspan="1" colspan="1">
										<input type="text" class="form-control input-sm" placeholder="Search Category">
									</td>
									<td rowspan="1" colspan="1">
										<input type="text" class="form-control input-sm" placeholder="Status">
									</td>
								</tr>
							</tfoot>
							<tbody>
								{% for vendorallc in vendoralloc %}
								{% if vendorallc.status == 1 or vendorallc.status == 2 %}
								<tr>
									<td>
										{% if delivery_status %}
										<a href="/client/leadlist/{{vendorallc.id}}/{{vendorallc.status}}">
											({{ vendorallc.client_vendor.usertype.type }})
											{{ vendorallc.client_vendor.user_name }}</a>
										{%else%}
										({{ vendorallc.client_vendor.usertype.type }})
										{{ vendorallc.client_vendor.user_name }}
										{%endif%}
									</td>

									<td>
										{% if vendorallc.volume == -1 %}
										0
										{% else %}
										{{vendorallc.volume}}
										{% endif %}
									</td>
									<td>$ {{vendorallc.client_cpl|floatformat:2}}</td>
									<td>{{vendorallc.submited_lead}}</td>
									{% if vendorallc.status == 1 %}
									<td><span class="label label-success">Live</span></td>
									{% else %}
									<td><span class="label label-primary"
											title="{{vendorallc.reasons|get_reason}}">Pause</span></td>
									{%endif%}
									<td>{{vendorallc.return_lead}}</td>
									{% if camp.status != 4 %}
									<td>
										<ul class="icons-list">
											<li class="dropdown">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown">
													<i class="icon-menu9"></i>
												</a>
												<ul class="dropdown-menu dropdown-menu-right">
													{% if camp.raimainingleads > 0 %}
													<li class="li-bottom"><a href="#" campaign_id='{{camp.id}}'
															camp_alloc_id='{{vendorallc.id}}'
															status='{{vendorallc.status}}'
															cpl="{{vendorallc.client_cpl}}"
															vendor_id='{{vendorallc.client_vendor_id}}'
															class="assign_more">
															Assign More Leads</a>
													</li>
													{% endif %}
													{% if vendorallc.approve_leads  %}
													<li class="li-bottom">
														<a href="/vendor/completed_lead/{{ vendorallc.id }}/">Mark As
															Complete</a>
													</li>
													{%endif%}
													<li class="li-bottom"> <a href="#" campaign_id='{{camp.id}}'
															camp_alloc_id='{{vendorallc.id}}'
															cpl="{{vendorallc.client_cpl}}"
															status='{{vendorallc.status}}'
															vendor_id='{{vendorallc.client_vendor_id}}'
															class="pull_out">
															Pull Out Leads</a>
													</li>
													<li class="li-bottom"><a href="#" more="0" id="{{vendorallc.id}}"
															class="cancel_assigned">
															Cancel Assigned Leads</a>
													</li>
													{% if vendorallc.status == 1 %}
													<li class="li-bottom">
														<a class="pause_campaign" data-camp_alloc_id="{{vendorallc.id}}">
														<label >Pause</label></a>
													</li>
													{% endif %}
													{% if vendorallc.status == 2 %}
													<li>
														<a href="/vendor/resume-campaign/{{ vendorallc.id }}">Resume</a>
													</li>
													{% endif %}
												</ul>
											</li>
										</ul>
									</td>
									{% endif %}
								</tr>
								{% elif vendorallc.status == 3 and vendorallc.cpl > 0 and vendorallc.volume > 0 %}
								<tr>
									<td>
										{% if vendorallc.client_vendor.usertype.id == 2 %}
										<a href="/client/vendor-profile/{{vendorallc.client_vendor.id}}">
											({{ vendorallc.client_vendor.usertype.type }})
											{{ vendorallc.client_vendor.user_name }} </a>
										{%else%}
										({{ vendorallc.client_vendor.usertype.type }})
										{{ vendorallc.client_vendor.user_name }}
										{%endif%}
									</td>
									<td>
										{% if vendorallc.volume == -1 %}
										0
										{% else %}
										{{vendorallc.volume}}
										{% endif %}
									</td>
									<td>$ {{vendorallc.client_cpl|floatformat:2}}</td>
									<td>{{vendorallc.submited_lead}}</td>
									{% if vendorallc.status == 1 %}
									<td><span class="label label-success">Live</span></td>
									{% else %}
									<td><span class="label label-primary">Pending</span></td>
									{%endif%}
									<td>{{vendorallc.return_lead}} </td>
									{% if camp.status != 4 %}
									<td>
										<ul class="icons-list">
											<li class="dropdown">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown">
													<i class="icon-menu9"></i>
												</a>
												<ul class="dropdown-menu dropdown-menu-right">
													{% if camp.raimainingleads > 0 %}
													<li class="li-bottom"><a href="#" campaign_id='{{camp.id}}'
															camp_alloc_id='{{vendorallc.id}}'
															status='{{vendorallc.status}}'
															cpl="{{vendorallc.client_cpl}}"
															vendor_id='{{vendorallc.client_vendor_id}}'
															class="assign_more">Assign
															More Leads</a></li>
													{% endif %}

													<li class="li-bottom"> <a href="#" campaign_id='{{camp.id}}'
															camp_alloc_id='{{vendorallc.id}}'
															cpl="{{vendorallc.client_cpl}}"
															status='{{vendorallc.status}}'
															vendor_id='{{vendorallc.client_vendor_id}}'
															class="pull_out">
															Pull Out Leads</a>
													</li>
													<li class="li-bottom"><a href="#" more="0" id="{{vendorallc.id}}"
															class="cancel_assigned">Cancel Assigned Leads</a></li>
													{% if vendorallc.counter_status == 1 %}
													<li><a href="#" campaign_id='{{camp.id}}'
															camp_alloc_id='{{vendorallc.id}}'
															vendor_id='{{vendorallc.client_vendor_id}}'
															class="counter_for_cpl">
															Counter
														</a>
													</li>
													{%endif%}
													<!-- <li><a href="/client/leadlist/{{vendorallc.id}}/{{vendorallc.status}}"></i>Lead List</a></li> -->
												</ul>
											</li>
										</ul>
									</td>
									{% endif %}
								</tr>
								{% elif vendorallc.status == 3 and vendorallc.cpl > 0 and vendorallc.volume > 0 %}
								<tr>
									{% if vendorallc.client_vendor.usertype.id == 2 %}
									<a href="/client/vendor-profile/{{vendorallc.client_vendor.id}}">
										({{ vendorallc.client_vendor.usertype.type }})
										{{ vendorallc.client_vendor.user_name }} </a>
									{%else%}
									({{ vendorallc.client_vendor.usertype.type }})
									{{ vendorallc.client_vendor.user_name }}
									{%endif%}

									<td> {% if vendorallc.volume == -1 %} 0 {% else %} {{vendorallc.volume}} {% endif %}
									</td>
									<td>$ {{vendorallc.client_cpl|floatformat:2}}</td>
									<td>{{vendorallc.submited_lead}}</td>
									{% if vendorallc.status == 1 %}
									<td><span class="label label-success">Live</span></td>
									{% else %}
									<td><span class="label label-primary">Pending</span></td>
									{%endif%}
									<td>{{vendorallc.return_lead}}</td>
									{% if camp.status != 4 %}
									<td>
										<ul class="icons-list">
											<li class="dropdown">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown">
													<i class="icon-menu9"></i>
												</a>
												<ul class="dropdown-menu dropdown-menu-right">
													{% if camp.raimainingleads > 0 %}
													<li class="li-bottom"><a href="#" campaign_id='{{camp.id}}'
															camp_alloc_id='{{vendorallc.id}}'
															status='{{vendorallc.status}}'
															cpl="{{vendorallc.client_cpl}}"
															vendor_id='{{vendorallc.client_vendor_id}}'
															class="assign_more">
															Assign More Leads
														</a>
													</li>
													{% endif %}
													<li class="li-bottom"> <a href="#" campaign_id='{{camp.id}}'
															camp_alloc_id='{{vendorallc.id}}'
															cpl="{{vendorallc.client_cpl}}"
															status='{{vendorallc.status}}'
															vendor_id='{{vendorallc.client_vendor_id}}'
															class="pull_out">
															Pull Out Leads</a>
													</li>
													{% if vendorallc.counter_status == 1 %}
													<li class="li-bottom"><a href="#" campaign_id='{{camp.id}}'
															camp_alloc_id='{{vendorallc.id}}' class="counter_for_cpl"
															vendor_id='{{vendorallc.client_vendor_id}}'>
															Counter
														</a>
													</li>
													{%endif%}
													<li><a href="#" more="0" id="{{vendorallc.id}}"
															class="cancel_assigned">
															Cancel Assigned Leads</a>
													</li>
												</ul>
											</li>
										</ul>
									</td>
									{% endif %}
								</tr>
								{% elif vendorallc.status == 4 %}
								<tr>
									<td><a href="/client/leadlist/{{vendorallc.id}}/{{vendorallc.status}}">({{ vendorallc.client_vendor.usertype.type }})
											{{vendorallc.client_vendor.user_name }}</a></td>
									<td> {% if vendorallc.volume == -1 %} 0 {% else %} {{vendorallc.volume}} {% endif %}
									</td>
									<td>$ {{vendorallc.client_cpl|floatformat:2}}</td>
									<td>{{vendorallc.submited_lead}}</td>
									<td><span class="label label-info ">Complete</span></td>
									<td>{{vendorallc.return_lead}}</td>
									{% if camp.status != 4 %}
									<td>
										<ul class="icons-list">
											<li class="dropdown">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown">
													<i class="icon-menu9"></i>
												</a>
												<ul class="dropdown-menu dropdown-menu-right">
													{% if camp.raimainingleads > 0 %}
													<li><a href="#" campaign_id='{{camp.id}}'
															camp_alloc_id='{{vendorallc.id}}'
															status='{{vendorallc.status}}'
															cpl="{{vendorallc.client_cpl}}"
															vendor_id='{{vendorallc.client_vendor_id}}'
															class="assign_more">Assign
															More Leads</a>
													</li>
													{% endif %}
													<!-- <li><a
															href="/client/leadlist/{{vendorallc.id}}/{{vendorallc.status}}">Lead
															List</a>
													</li> -->
												</ul>
											</li>
										</ul>
									</td>
									{% endif %}
								</tr>
								{% elif vendorallc.status == 5 %}
								<tr>
									<td>({{ vendorallc.client_vendor.usertype.type }})
										{{vendorallc.client_vendor.user_name }}
									</td>
									<td> {% if vendorallc.volume == -1 %} 0 {% else %} {{vendorallc.volume}} {% endif %}
									</td>
									<td>$ {{vendorallc.client_cpl|floatformat:2}}</td>

									<td>{{vendorallc.submited_lead}}</td>
									<td><span class="label label-info ">Assigned</span></td>
									<td>{{vendorallc.return_lead}}</td>
									{% if camp.status != 4 %}
									<td>
										<ul class="icons-list">
											<li class="dropdown">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown">
													<i class="icon-menu9"></i>
												</a>
												<ul class="dropdown-menu dropdown-menu-right">
													{% if camp.raimainingleads > 0 %}
													<li class="li-bottom"><a href="#" campaign_id='{{camp.id}}'
															camp_alloc_id='{{vendorallc.id}}'
															status='{{vendorallc.status}}'
															cpl="{{vendorallc.client_cpl}}"
															vendor_id='{{vendorallc.client_vendor_id}}'
															class="assign_more">
															Assign More Leads</a>
													</li>
													{% endif %}
													<li class="li-bottom"> <a href="#" campaign_id='{{camp.id}}'
															camp_alloc_id='{{vendorallc.id}}'
															cpl="{{vendorallc.client_cpl}}"
															status='{{vendorallc.status}}'
															vendor_id='{{vendorallc.client_vendor_id}}'
															class="pull_out">
															Pull Out Leads
														</a>
													</li>
													<!-- <li><a
															href="/client/leadlist/{{vendorallc.id}}/{{vendorallc.status}}">
															Lead List</a>
													</li> -->
													<li><a href="#" more="0" id="{{vendorallc.id}}"
															class="cancel_assigned">
															Cancel Assigned Leads</a>
													</li>
												</ul>
											</li>
										</ul>
									</td>
									{% endif %}
								</tr>
								{% endif %}
								{% endfor %}
								{% for more in more_alloc %}
								<tr>
									<td><a href="/client/vendor-profile/{{vendorallc.client_vendor.id}}">({{ more.client_vendor.usertype.type }})
											{{more.client_vendor.user_name }}</a></td>
									<td> {% if more.volume == -1 %} 0 {% else %} {{more.volume}} {% endif %} </td>
									<td></td>
									<td></td>
									<td><span class="label label-info ">Pending</span></td>
									<td></td>
									{% if camp.status != 4 %}
									<td>
										<ul class="icons-list">
											<li class="dropdown">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown">
													<i class="icon-menu9"></i>
												</a>
												<ul class="dropdown-menu dropdown-menu-right">
													<li><a href="#" more="1" id="{{more.id}}"
															class="cancel_assigned">Cancel Assigned Leads</a>
													</li>
													<!-- <li>
														<a href="#" campaign_id='{{camp.id}}'
															camp_alloc_id='{{vendorallc.id}}'
															status='{{vendorallc.status}}'
															cpl="{{vendorallc.client_cpl}}"
															vendor_id='{{vendorallc.client_vendor_id}}'
															class="pull_out">Pull Out
															Leads</a>
													</li> -->
												</ul>
											</li>
										</ul>
									</td>
									{% endif %}
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Assigned vendors modal -->
<div id="modal_mini" class="modal fade">
	<div class="modal-dialog modal-xs">
		<div class="modal-content" style="padding: 5%;width: 120%;">
			<div class="border">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h5 class="modal-title"><span class="mini_modal_name">Assign More</span> Leads</h5>
				</div>
				<form method="post" action="#">
					<div class="modal-body">
						<h6 class="text-semibold">Enter Number of Leads</h6>
						<div class="col-sm-12">
							<input type="text" min="1" id="cpl_val" placeholder="CPL" data-type="cpl"
								class="form-control"><br>
							<input type="number" min="1" max="{{camp.raimainingleads}}" id="lead" placeholder="Leads"
								class="form-control"
								onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"><br>
							<input type="hidden" id="campaign_id" class="form-control">
							<input type="hidden" id="camp_alloc_id" class="form-control">
							<input type="hidden" id="vendor_id" class="form-control">
							<input type="hidden" id="status" class="form-control">
							<!-- <input type="hidden" id="cpl" class="form-control"> -->
							<input type="hidden" id='remaining' name="" value="{{camp.raimainingleads}}">
						</div>
					</div>
					<br />
					<div class="modal-footer">
						<button type="button" id="save_leads_action" class="btn btn-primary"><i class="far fa-save"></i>
							Save</button>
						<button type="button" class="btn btn-link btn-color" data-dismiss="modal"><i
								class="fa fa-times"></i>&nbsp;Close</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- //Assigned vendors modal -->
<div id="cpl_counter" class="modal fade">
	<div class="modal-dialog ">
		<div class="modal-content">
			<div class="border">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h5 class="modal-title">Counter CPL</h5>
				</div>
				<form method="post" action="#">
					<div class="modal-body">
						<div class="col-sm-6">
							<h6 class="text-semibold">CPL</h6>
							<input type="text" id="vendor_cpl" placeholder="cpl" data-type="cpl" value=""
								class="form-control" disabled>
						</div>
						<div class="col-sm-6">
							<h6 class="text-semibold">Volume</h6>
							<input type="number" id="vendor_volume" placeholder="volume" value="" class="form-control"
								disabled>
						</div>
						<div class="col-sm-12">
							<h6 class="text-semibold">Comment</h6>
							<textarea id="vendor_comment" placeholder="volume" value="" class="form-control counter_text" disabled>
	              </textarea>
						</div>
						<input type="hidden" id="campaign_alloc_id" class="form-control">
						<input type="hidden" id="counter_vendor_id" class="form-control">
					</div>
					<br />
					<div class="modal-footer">
						<button type="button" class="btn btn-success counter_action" id="1">Accept</button>
						<button type="button" class="btn btn-danger counter_action" id="2">Reject</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div> {% include "campaign/js/accountjs.html" %} {% endblock %}