{% extends "common/base.html" %}

{% load static %}


{% block title %} Clone Campaign {% endblock %}
{% load widget_tweaks %}
<!--
    page code must be start in block content
    inside block content
-->
{% block content %}
<style>
    .flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month {
        background-color: #4289d6!important;
        outline: none;
        padding: 0;
    }
</style>
<!-- Main content -->
<div class="content-wrapper">

    <!-- Content area -->
    <div class="content">

        <!-- main row -->
        <div class="row">
            <!-- Top Clients List -->
            <div class="panel panel-height panel-flat">
                <div class="panel-heading ml-20">
                    <center>
                        <h1 class="panel-title">Clone-Campaign</h1>
                    </center>

                    <form class="form-horizontal" action='/client/edit-cloned-campaign/{{ campaign.id }}' method="post">
                        {% csrf_token %}
                        <fieldset class="content-group">
                            <legend class="text-bold">Campaign Fields</legend>

                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label col-lg-3">Campaign Name <span style="color:red">*</span></label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <input type="text" name="name" maxlength="500" id="id_name" onfocus="changeInfo('camp_name')" class="form-control" placeholder="Campaign Name" value='{{ campaignform.name.value }}'>
                                                <span class="help-block">{{ campaignform.name.errors }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3">Campaign IO Number</label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <input type="text" name="io_number" maxlength="50" onfocus="changeInfo('camp_io')" class="form-control" placeholder="Campaign IO Number" id="id_io_number"  value='{{ campaignform.io_number.value }}'>
                                                <span class="help-block">{{ campaignform.io_number.errors }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3">Campaign Description<span style="color:red">*</span></label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <textarea name="description" cols="40" rows="10" id="id_description" onfocus="changeInfo('camp_desc')" maxlength="500" class="form-control" placeholder="Campaign Description" >{{ campaignform.description.value }}</textarea>
                                                <span class="help-block">{{ campaignform.description.errors }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-lg-3">Campaign Type <span style="color:red">*</span></label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <select name="{{ campaignform.type.name }}"
                                                    id="id_{{ campaignform.type.name }}" class="form-control"
                                                    onfocus="changeInfo('camp_type')" >
                                                    {% for val, text in campaignform.type.field.choices %}
                                                    {% if campaign.type == val %}
                                                    <option value="{{ val }}" selected>{{ text }}</option>
                                                    {% else %}
                                                    <option value="{{ val }}" >{{ text }}</option>
                                                    {%endif%}
                                                    {% endfor %}
                                                </select>
                                                <span class="help-block">{{ campaignform.type.errors }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3">Outreach Method<span style="color:red">*</span></label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group form-group-material">
                                                    <div class="multi-select-full" onclick="changeInfo('camp_method')">
                                                        <select id="id_{{ campaignform.method.name }}"
                                                            name="{{ campaignform.method.name }}"
                                                            class="multiselect-campaign-method" multiple="multiple">
                                                            {% for val, text in campaignform.method.field.choices %}
                                                            {% if text in outreach_method %}
                                                            <option value="{{ val }}" selected>{{ text }}</option>
                                                            {% else %}
                                                            <option value="{{ val }}" >{{ text }}</option>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                        <span class="help-block">{{ campaignform.method.errors }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3">Campaign CPL <span style="color:red">*</span></label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="input">
                                                    <!-- cpl currency field displayed on page -->
                                                    <input type="text" name="cpl_name" id="currency-field1"
                                                        data-type="cpl" value="$ {{ campaignform.cpl.value|floatformat:2 }}"
                                                        onfocus="changeInfo('camp_cpl')" placeholder="Campaign CPL"
                                                        class="form-control">
                                                    <!-- cpl field used to store, fetch and update database
                                                    onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                                                -->
                                                    <input type="hidden" name="cpl" min="1" placeholder="Campaign CPL" onfocus="changeInfo('camp_cpl')" class="form-control" id="id_cpl" value="{{ campaignform.cpl.value }}">
                                                </div>
                                                <span class="help-block">{{ campaignform.cpl.errors }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-lg-3">Target Quantity <span
                                            style="color:red">*</span></label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="input">
                                                    <!-- target quantity field displayed on page -->
                                                    <input type="text" name="target_q_name" id="currency-field2"
                                                        data-type="target_quantity"
                                                        onfocus="changeInfo('camp_targetQuantity')" value="{{ campaignform.target_quantity.value }}"
                                                        placeholder="Target Quantity" class="form-control">
                                                    <!-- target quantity field used to store, fetch and update database
                                                onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"-->
                                                    <input type="hidden" name="target_quantity" id="id_target_quantity" class="form-control" onfocus="changeInfo('camp_targetQuantity')" min="1" value="{{ campaignform.target_quantity.value }}" placeholder="Target Quantity"
                                                    >
                                                </div>
                                                <span class="help-block">{{ campaignform.target_quantity.errors }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3">Campaign Start Date <span style="color:red">*</span></label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="input" onclick="changeInfo('camp_date')">
                                                    <input class="form-control start_date_selector" type="text"
                                                        name="{{ campaignform.start_date.name }}"
                                                        id="id_{{ campaignform.start_date.name }}"
                                                        placeholder="Campaign Start Date" value="{{ campaignform.start_date.value|safe }}"/>
                                                    <span class="help-block">{{ campaignform.start_date.errors }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3">Campaign End Date <span
                                            style="color:red">*</span></label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="input" onclick="changeInfo('camp_date')">
                                                    <input class="form-control end_date_selector" type="text"
                                                        name="{{ campaignform.end_date.name }}"
                                                        id="id_{{ campaignform.end_date.name }}"
                                                        placeholder="Campaign End Date" value="{{ campaignform.end_date.value|safe }}"/>
                                                    <span class="help-block">{{ campaignform.end_date.errors }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3">Select Vendor <span style="color:red">*</span></label>
                                    <div class="col-lg-9" id="container_vendor_type">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="{{ campaignform.tc_vendor.name }}"
                                                            id="id_{{ campaignform.tc_vendor.name }}"
                                                            class="styled" onfocus="changeInfo('camp_vendor')" {% if campaignform.tc_vendor.value %}checked{% endif %}> TC-Vendor
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"
                                                            name="{{ campaignform.internal_vendor.name }}"
                                                            id="id_{{ campaignform.internal_vendor.name }}"
                                                            class="styled" {% if campaignform.internal_vendor.value %}checked{% endif %}
                                                            onfocus="changeInfo('camp_vendor')">
                                                        Internal Vendor
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"
                                                            name="{{ campaignform.external_vendor.name }}"
                                                            id="id_{{ campaignform.external_vendor.name }}"
                                                            class="styled" {% if campaignform.external_vendor.value %}checked{% endif %}
                                                            onfocus="changeInfo('camp_vendor')">
                                                        External Vendor
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="help-block">{{ campaignform.external_vendor.errors }}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2"></label>
                                    <div class="col-lg-10">
                                        <div class="row mt-20 mb-20">
                                            <div class="col-md-3">
                                                <button type="submit"
                                                    class="btn submit-btn  legitRipple pull-right"><i class="fa fa-check"></i>&nbspSubmit<span
                                                        class="legitRipple-ripple"></span></button>
                                            </div>
                                            <div class="col-md-2">
                                                <!-- <button type="button" id="btn_reset"
                                                    class="btn btn-danger legitRipple btn-color pull-right"><i class="fa fa-refresh"></i>&nbspReset<span
                                                        class="legitRipple-ripple"></span></button> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4" style="position: fixed;right: 2%;">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h6 class="panel-title" id="field_info">Info</h6>
                                    </div>
                                    <div class="panel-body">
                                        <ul id="field_desc" style="font-size: 14px;font-weight: 500;">

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <!-- /highlighting rows and columns -->

        </div>
        <!-- main row -->

    </div>
    <!-- /content area -->

</div>
<!-- /main content -->

{% endblock %}


<!-- ============================ -->
<!--        page level scripts    -->
<!-- =========================== -->
{% block page_level_scripts %}
<script>
    $(function () {
        /*change li active*/
        /*add active class to li*/
        $("#campaign").addClass("active");
        $("#campaign-create").addClass("active");
    });

    // global variable
    var DEBUG = true; // false or true
</script>

<style>
    .multiselect-container .checkbox .checker {
        top: 18px !important;
    }

    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

<!-- panel-tab color-->
<link href="{% static 'client/css/createcampaign.css' %}?ver=1.1" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{% static 'assets/js/core/libraries/jasny_bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/bootstrap_select.min.js' %}"></script>

<script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery_ui/core.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/selectboxit.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/inputs/autosize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/inputs/formatter.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/tags/tagsinput.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/tags/tokenfield.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/inputs/touchspin.min.js' %}"></script>

<script type="text/javascript" src="{% static 'assets/js/plugins/ui/moment/moment.min.js' %}"></script>

<script type="text/javascript" src="{% static 'assets/js/plugins/forms/inputs/typeahead/typeahead.bundle.min.js' %}?ver=1.1"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/inputs/typeahead/handlebars.min.js' %}?ver=1.1"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/inputs/passy.js' %}?ver=1.1"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/inputs/maxlength.min.js' %}?ver=1.1"></script>

<script type="text/javascript" src="{% static 'client/js/create_campaign/form_floating_labels.js' %}?ver=1.1"></script>
<script type="text/javascript" src="{% static 'assets/js/pages/form_controls_extended_client.js' %}?ver=1.2"></script>

<script type="text/javascript" src="{% static 'client/js/form_checkboxes_radios.js' %}?ver=1.1"></script>

<!-- <script type="text/javascript" src="{% static 'assets/js/plugins/forms/validation/validate.min.js' %}?ver=1.1"></script> -->
<!-- <script type="text/javascript" src="{% static 'client/js/form_validation.js' %}?ver=1.1"></script> -->


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<link rel="stylesheet" type="text/css" href="{% static 'client/plugins/flatpicker/material_blue.css' %}?ver=1.1">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(document).on('keyup','#id_name', function(){
            if ($(this).val().trim().length == 0){
                $(this).val('');
            }
        })
        $(document).on('keyup','#id_io_number', function(){
            if ($(this).val().trim().length == 0){
                $(this).val('');
            }
        })
        $(document).on('keyup','#id_description', function(){
            if ($(this).val().trim().length == 0){
                $(this).val('');
            }
        })
        var min_end = $("input[name='start_date']").val();
        min_end = new Date(min_end);
        var daysPrior = 2;
        min_end.setDate(min_end.getDate() + daysPrior);
        min_end = min_end.toISOString();


        var hour = new Date().getHours();
        console.log("Hours : ", hour);

        var min_start_dt = new Date();

        // datepicker disable date based on time
        if (hour >= 13) {
            min_start_dt.setDate(min_start_dt.getDate() + 3);
        }
        else {
            min_start_dt.setDate(min_start_dt.getDate() + 2);
        }
        console.log("new Date() : ", new Date());
        console.log("min_start_dt : ", min_start_dt);

        // declare variables to hold start and end date
        var selected_start_date_str = null;
        var selected_end_date_str = null;

        $(".start_date_selector").flatpickr(
            {
                // altInput: true,
                altFormat: "F j, Y",
                dateFormat: "Y-m-d",
                minDate: min_start_dt,

                "disable": [
                    function (date) {
                        // return true to disable
                        // weekday[0] =  "Sunday"; or weekday[6] = "Saturday";
                        return (date.getDay() === 0 || date.getDay() === 6);

                    }
                ],

                // events
                // onValueUpdate gets triggered when the input value is updated with a new date string
                onValueUpdate: function (selectedDates, dateStr, instance) {
                    DEBUG && console.log("Selected start date: ", selectedDates)
                    DEBUG && console.log("Selected start date in string format: ", dateStr)

                    // store start date in string format(yyyy-mm-dd)
                    // selected_start_date_str = dateStr;
                    selected_start_date_str = $("input[name='start_date']").val(); // to set default value from db
                    min_end = dateStr;
                    // compare dates if end date is also selected
                    if (selected_end_date_str) {
                        var selected_start_date = new Date(selected_start_date_str);
                        var selected_end_date = new Date(selected_end_date_str);

                        // if selected date less than end date process fruther
                        if (selected_start_date < selected_end_date) {
                        }
                        else {
                            // clear selected date
                            instance.clear();

                            DEBUG && console.log("Please select start date lesser than end date");


                            $.confirm({
                                title: 'Encountered an error!',
                                content: "Start date should be less than end date",
                                type: 'red',
                                typeAnimated: true,
                            });
                        }
                    }
                    else {
                        DEBUG && console.log("Selected end date is undefined so skipping start and end date comparision")
                    }
                },
            });


        $(".end_date_selector").flatpickr(
            {
                // altInput: true,
                altFormat: "F j, Y",
                dateFormat: "Y-m-d",
                minDate: min_end,

                "disable": [
                    function (date) {
                        // return true to disable
                        // weekday[0] =  "Sunday"; or weekday[6] = "Saturday";
                        return (date.getDay() === 0 || date.getDay() === 6);

                    }
                ],

                // events
                // onValueUpdate gets triggered when the input value is updated with a new date string
                onValueUpdate: function (selectedDates, dateStr, instance) {
                    DEBUG && console.log("Selected end date: ", selectedDates)
                    // console.log("end date instance: ", instance)

                    // store end date in string format(yyyy-mm-dd)
                    // selected_end_date_str = dateStr;

                    selected_end_date_str = $("input[name='end_date']").val(); // to set from db

                    // compare dates if start date is also selected
                    if (selected_start_date_str) {
                        var selected_start_date = new Date(selected_start_date_str);
                        var selected_end_date = new Date(selected_end_date_str);

                        // if selected end date greater than start date process fruther
                        if (selected_end_date > selected_start_date) {
                        }
                        else {
                            // clear selected date
                            instance.clear();

                            DEBUG && console.log("Please select end date greater than start date");


                            $.confirm({
                                title: 'Encountered an error!',
                                content: "End date should be greater than start date",
                                type: 'red',
                                typeAnimated: true,
                            });
                        }
                    }
                    else {
                        DEBUG && console.log("Campaign start date is undefined so skipping start and end date comparision")
                    }
                },
            });
        $('.start_date_selector').each(function (i) {
            if (i == 1) {
                $(this).addClass('flatpickerStart');
            }
        })
        // adding custom class to one of the two end_date elements which need to be ignored while validating for required fields
        $('.end_date_selector').each(function (i) {
            if (i == 1) {
                $(this).addClass('flatpickerEnd');
            }
        })
        // validate field on 'change' event
        $(document).on('change', '#id_start_date', function () {
            $(this).valid();
        })
        $(document).on('change', "#id_end_date", function () {
            $(this).valid();
        })
        // on page load for clone campaign, enable/ disable TC, intr, extr vendor checkboxes
        // according to target Q & tc target Q values..Akshay G.
        // code to handle data of CPL field ...Akshay

        // jquery code for cpl and target quantity
        function formatNumber(n) {
            // format number 1000000 to 1,234,567
            return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        }

        // jquery code for cpl and target quantity
        function formatCurrency(input, blur) {
            // appends $ to value, validates decimal side
            // and puts cursor back in right position.

            // get input value
            var input_val = input.val();

            // don't validate empty input
            if (input_val === "") { return; }

            // original length
            var original_len = input_val.length;
            // max length validation for cpl & target quantity to 4 and 9 digits respt.
            // if (input.attr('data-type') == 'cpl') {
            //     input_val = input_val.slice(0, 7);
            //     original_len = input_val.length;
            // }
            // else {
                input_val = input_val.slice(0, 11);
                original_len = input_val.length;
            // }
            // initial caret position
            var caret_pos = input.prop("selectionStart");

            // check for decimal
            if (input.attr('data-type') == 'cpl') {
                if (input_val.indexOf(".") >= 0) {

                    // get position of first decimal
                    // this prevents multiple decimals from
                    // being entered
                    var decimal_pos = input_val.indexOf(".");

                    // split number by decimal point
                    var left_side = input_val.substring(0, decimal_pos);
                    var right_side = input_val.substring(decimal_pos);

                    // add commas to left side of number
                    left_side = formatNumber(left_side);

                    // validate right side
                    right_side = formatNumber(right_side);

                    // On blur make sure 2 numbers after decimal
                    if (blur === "blur") {
                        right_side += "00";
                    }

                    // Limit decimal to only 2 digits
                    right_side = right_side.substring(0, 2);

                    // join number by .

                    input_val = "$ " + left_side + "." + right_side;


                } else {
                    // no decimal entered
                    // add commas to number
                    // remove all non-digits
                    input_val = formatNumber(input_val);
                    input_val = "$ " + input_val;
                    // final formatting
                    if (blur === "blur") {
                        input_val += ".00";
                    }
                }
            }
            else {
                input_val = formatNumber(input_val)
            }
            // send updated string to input
            input.val(input_val);

            // put caret back in the right position
            var updated_len = input_val.length;
            caret_pos = updated_len - original_len + caret_pos;
            input[0].setSelectionRange(caret_pos, caret_pos);
        }

        $(document).on('keyup', "input[data-type='cpl']", function(){
            formatCurrency($(this));
            // remove special characters except . from string
            var cpl = $(this).val().replace(/[^\d.-]/g, '');
            // check if, there is only $ or 0 in the field
            if (isNaN(parseFloat(cpl)) || parseFloat(cpl) == 0) {
                $(this).val(''); // Make field empty
            }
            else {
                // update hidden field with cpl value
                $('#id_cpl').val(parseFloat(cpl));
            }
        });

        $(document).on('blur', "input[data-type='cpl']", function(){
            formatCurrency($(this), "blur");
            // remove special characters except . from string
            var cpl = $(this).val().replace(/[^\d.-]/g, '');
            // check if, there is only $ or 0 in the field
            if (isNaN(parseFloat(cpl)) || parseFloat(cpl) == 0) {
                $(this).val(''); // Make field empty
                $(this).valid(); // force validate field
            }
            else {
                $('#id_cpl').val(parseFloat(cpl));
            }
        });

        $(document).on('paste', "input[data-type='cpl']", function(){
            $(this).blur();
        });
        // code to handle data of Target quantity field ..Akshay
        $(document).on('keyup', "input[data-type='target_quantity']", function(){
            formatCurrency($(this));
            // remove special characters except . from string
            var target_quantity = $(this).val().replace(/[^\d.-]/g, '');
            // check if, there is only $ or 0 in the field
            if (isNaN(parseInt(target_quantity)) || parseFloat(target_quantity) == 0) {
                $(this).val(''); // Make field empty
                }
            else {
                $('#id_target_quantity').val(parseInt(target_quantity));
                // update hidden field with target quantity value
                var target_quantity = $('#id_target_quantity').val();
            }
        });

        $(document).on('blur', "input[data-type='target_quantity']", function(){
            formatCurrency($(this), "blur");
            // remove special characters except . from string
            var target_quantity = $(this).val().replace(/[^\d.-]/g, '');
            // check if, there is only $ or 0 in the field
            if (isNaN(parseFloat(target_quantity)) || parseFloat(target_quantity) == 0) {
                $(this).val(''); // Make field empty
                $(this).valid(); // force validate field
            }
            else {
                var target_quantity = $('#id_target_quantity').val();
            }
        });

        $(document).on('paste', "input[data-type='target_quantity']", function(){
            $(this).blur();
        });
        // remove leading spaces from outreach methods for on hover feature.. Akshay G.
        $('.strip_outreach').each(function(){
            $(this).html($(this).html().trim());
        })
    })
    $(document).on("click", "#btn_reset", function () {
        // reset bootstrap multiselect element
        $.confirm({
            title: 'Are you sure ?',
            content: "Once you confirm, your data will be removed completely!",
            type: 'red',
            typeAnimated: true,
            buttons: {
                confirm: function () {
                    location.reload();
                },
                cancel: function () {
                },
            }
        });
    });

</script>

<script>
    function changeInfo(str) {

        if (str == 'camp_name')
            campaignNameNote()
        else if (str == 'camp_desc')
            campaignDescNote()
        else if (str == 'camp_type')
            campaignTypeNote()
        else if (str == 'camp_method')
            campaignMothodNote()
        else if (str == 'camp_cpl')
            campaignCplNote()
        else if (str == 'camp_date')
            campaignDateNote()
        else if (str == 'camp_rfq')
            campaignRfqNote()
        else if (str == 'camp_vendor')
            campaignVendorNote()
        else if (str == 'camp_io')
            campaignIONote()
        else if (str == 'camp_targetQuantity')
            campaigntargetQuantity()
        else if (str == 'camp_TC_targetQuantity')
            campaignTCtargetQuantity()
    }
    function campaignNameNote() {
        var str = ""
        $('#field_info').text('Info : Campaign Name');
        str = "<li>Enter Campaign Name </li><li>Only 400 characters allowed for campaign name</li>";
        $('#field_desc').empty().append(str);
    }
    function campaignDescNote() {
        $('#field_info').text('Info : Campaign Description');
        var str = "<li>Enter Campaign Description </li><li>Only 500 characters allowed for campaign description</li>";
        $('#field_desc').empty().append(str);
    }
    function campaignTypeNote() {
        $('#field_info').text('Info : Campaign Type');
        var str = "<li>Select Campaign Type </li><li>You can select only one type of campaign</li>";
        $('#field_desc').empty().append(str);
    }
    function campaignMothodNote() {
        $('#field_info').text('Info : Campaign Outreach Method');
        var str = "<li>Choose Campaign Method </li><li>You can select multiple outreach methods for campaign</li>";
        $('#field_desc').empty().append(str);
    }
    function campaignCplNote() {
        $('#field_info').text('Info : Campaign CPL');
        var str = "<li>Enter Campaign CPL </li><li>CPL means Cost per Lead </li><li>You can enter only number not character </li><li>CPL in Dollar</li> ";
        $('#field_desc').empty().append(str);
    }
    function campaignDateNote() {
        $('#field_info').text('Info : Campaign Date');
        var str = "<li>Select Date of Campaign  </li><li>First click on Start Date </li><li>Second click on End Date</li>";
        $('#field_desc').empty().append(str);
    }
    function campaignRfqNote() {
        $('#field_info').text('Info : Campaign RFQ');
        var str = "<li>RFQ means Request For Quote `</li><li>If you are confuse to decide CPL of campaign then you can check rfq so that techconnectr will suggest you.</li>";
        $('#field_desc').empty().append(str);
    }
    function campaignVendorNote() {
        $('#field_info').text('Info : Choose  your Vendor');
        var str = "<li>TC-Vendor : Business with techconnectr vendors  </li><li>Internal Vendor : Your team </li><li>External Vendor : Business with your vendors </li>";
        $('#field_desc').empty().append(str);
    }
    function campaignIONote() {
        $('#field_info').text('Info : Campaign IO Number');
        var str = "<li>Enter Campaign IO Number </li>";
        $('#field_desc').empty().append(str);
    }
    function campaigntargetQuantity() {
        $('#field_info').text('Info : Campaign Target Quantity');
        var str = "<li>Enter campaign target quantity </li>";
        $('#field_desc').empty().append(str);
    }
    function campaignTCtargetQuantity() {
        $('#field_info').text('Info : Campaign TC Target Quantity');
        var str = "<li>Enter campaign TC target quantity </li>";
        $('#field_desc').empty().append(str);
    }

    // jquery code for cpl and target quantity

    $(document).on('keyup', "input[data-type='cpl']", function(){
        formatCurrency($(this));
        // remove special characters except . from string
        var cpl = $(this).val().replace(/[^\d.-]/g, '');
        // check if, there is only $ or 0 in the field
        if (isNaN(parseFloat(cpl)) || parseFloat(cpl) == 0) {
            $(this).val(''); // Make field empty
        }
        else {
            // update hidden field with cpl value
            $('#id_cpl').val(parseFloat(cpl));
        }
    });

    $(document).on('blur', "input[data-type='cpl']", function(){
        formatCurrency($(this), "blur");
        // remove special characters except . from string
        var cpl = $(this).val().replace(/[^\d.-]/g, '');
        // check if, there is only $ or 0 in the field
        if (isNaN(parseFloat(cpl)) || parseFloat(cpl) == 0) {
            $(this).val(''); // Make field empty
            $(this).valid(); // force validate field
        }
        else {
            $('#id_cpl').val(parseFloat(cpl));
        }
    });

    $(document).on('paste', "input[data-type='cpl']", function(){
        $(this).blur();
    });
    // code to handle data of Target quantity field ..Akshay
    $(document).on('keyup', "input[data-type='target_quantity']", function(){
        formatCurrency($(this));
        // remove special characters except . from string
        var target_quantity = $(this).val().replace(/[^\d.-]/g, '');
        // check if, there is only $ or 0 in the field
        if (isNaN(parseInt(target_quantity)) || parseFloat(target_quantity) == 0) {
            $(this).val(''); // Make field empty
            }
        else {
            $('#id_target_quantity').val(parseInt(target_quantity));
            // update hidden field with target quantity value
            var target_quantity = $('#id_target_quantity').val();
        }
    });


    $(document).on('blur', "input[data-type='target_quantity']", function(){
        formatCurrency($(this), "blur");
        // remove special characters except . from string
        var target_quantity = $(this).val().replace(/[^\d.-]/g, '');
        // check if, there is only $ or 0 in the field
        if (isNaN(parseFloat(target_quantity)) || parseFloat(target_quantity) == 0) {
            $(this).val(''); // Make field empty
            $(this).valid(); // force validate field
        }
        else {
            var target_quantity = $('#id_target_quantity').val();
        }
    });

    $(document).on('paste', "input[data-type='target_quantity']", function(){
        $(this).blur();
    });

    function formatNumber(n) {
        // format number 1000000 to 1,234,567
        return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
    }

    // jquery code for cpl and target quantity
    function formatCurrency(input, blur) {
        // appends $ to value, validates decimal side
        // and puts cursor back in right position.

        // get input value
        var input_val = input.val();

        // don't validate empty input
        if (input_val === "") { return; }

        // original length
        var original_len = input_val.length;
        // max length validation for cpl & target quantity to 4 and 9 digits respt.
        // if (input.attr('data-type') == 'cpl') {
        //     input_val = input_val.slice(0, 7);
        //     original_len = input_val.length;
        // }
        // else {
            input_val = input_val.slice(0, 11);
            original_len = input_val.length;
        // }
        // initial caret position
        var caret_pos = input.prop("selectionStart");

        // check for decimal
        if (input.attr('data-type') == 'cpl') {
            if (input_val.indexOf(".") >= 0) {

                // get position of first decimal
                // this prevents multiple decimals from
                // being entered
                var decimal_pos = input_val.indexOf(".");

                // split number by decimal point
                var left_side = input_val.substring(0, decimal_pos);
                var right_side = input_val.substring(decimal_pos);

                // add commas to left side of number
                left_side = formatNumber(left_side);

                // validate right side
                right_side = formatNumber(right_side);

                // On blur make sure 2 numbers after decimal
                if (blur === "blur") {
                    right_side += "00";
                }

                // Limit decimal to only 2 digits
                right_side = right_side.substring(0, 2);

                // join number by .
                input_val = "$ " + left_side + "." + right_side;
            } else {
                // no decimal entered
                // add commas to number
                // remove all non-digits
                input_val = formatNumber(input_val);
                input_val = "$ " + input_val;
                // final formatting
                if (blur === "blur") {
                    input_val += ".00";
                }
            }
        }
        else {
            input_val = formatNumber(input_val)
        }
        // send updated string to input
        input.val(input_val);

        // put caret back in the right position
        var updated_len = input_val.length;
        caret_pos = updated_len - original_len + caret_pos;
        input[0].setSelectionRange(caret_pos, caret_pos);
    }
</script>
<style type="text/css">
    .content:first-child {
        padding-top: 57px;
        padding-left: 25px;
    }
</style>
{% endblock %}
<!--       page level scripts    -->
<!-- /=========================== -->
