{% extends "header/cheader.html" %}
{% load static %}
{% block scripts %}
{% include "campaign/campaign_notebook_head.html" %}
{% endblock %}

{% block scripts1 %}

{% include "campaign/css/campaign_notebook.css" %}

{% endblock %}

{% include "campaign_chat/css/chat_screen.css" %}
{% block content %}

{% load custom_filters %}
<style>
	/* for campaign notifs sender's company logo...Akshay G. */
    .company_logo{
        width: 25px;
		border-radius: 50%;
    }
</style>
<!-- Main sidebar -->
{% include "side/clientside.html" %}
{% load range %}
<!-- Content area -->
<div class="content-wrapper">
	<div class="content" style="margin-top: 17px;">
		<!-- tech connector data-->
		<div class="row">
			<div class="col-md-12 ">
				<div class="panel campaign_panel panel-flat first ">
					<div class="panel-body">
						<div id="centertext" style="padding-bottom: 10px;">
							<a href="/client/campaign_type/">
								<button type="button" class="btn btn-primary btn-raised bt12">Create Campaign</button>
							</a>
						</div>
						<div class="table-responsive">
							<div class="panel-group" id="accordion">
								<div class="panel panel-default">
									<div class="panel-heading" data-toggle="collapse" data-parent="#accordion"
										href="#collapse1">
										<h5 class="panel-title">
											Pending Campaign {% if pending_count %}({{pending_count}}) {% endif %}
											<!-- {% regroup camps by status as live_list %} -->
										</h5>
									</div>
									<div id="collapse1" class="panel-collapse collapse in">
										<div class="panel-body side_tab chat_panel">
											{% for camp in camps %}
											{% if camp.status == 3 %}
											<div class="col-md-12 shadow show_camp" camp_id="{{camp.id}}">
												<div class="col-md-6 media-left">
													<a href="#"
														class="text-default text-semibold show_camp">{{ camp.name }}</a>
												</div>
												<div class="col-md-6"><span class="label bg-blue">Pending</span></div>
											</div>
											{%endif%}
											{%endfor%}
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" data-toggle="collapse" data-parent="#accordion"
										href="#collapse2">
										<h5 class="panel-title">
											Assigned Campaign {% if assigned_count %}({{assigned_count}}) {% endif %}
										</h5>
									</div>
									<div id="collapse2" class="panel-collapse collapse">
										<div class="panel-body side_tab chat_panel">
											{% for camp in camps %}
											{% if camp.status == 5 %}
											<div class="col-md-12 shadow show_camp" camp_id="{{camp.id}}">
												<div class="col-md-6 media-left">
													<a href="#"
														class="text-default text-semibold show_camp">{{ camp.name }}</a>
												</div>
												<div class="col-md-6"><span class="label bg-blue">Assigned</span></div>
											</div>
											{%endif%}
											{%endfor%}
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" data-toggle="collapse" data-parent="#accordion"
										href="#collapse3">
										<h5 class="panel-title">
											Live Campaign {% if live_count %}({{live_count}}) {% endif %}
										</h5>
									</div>
									<div id="collapse3" class="panel-collapse collapse">
										<div class="panel-body side_tab chat_panel">
											{% for camp in camps %}
											{% if camp.status == 1 %}
											<div class="col-md-12 shadow show_camp" camp_id="{{camp.id}}">
												<div class="col-md-6 media-left">
													<a href="#"
														class="text-default text-semibold show_camp">{{ camp.name }}</a>
												</div>
												<div class="col-md-6"><span class="label bg-blue">Live</span></div>
											</div>
											{%endif%}
											{%endfor%}
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" data-toggle="collapse" data-parent="#accordion"
										href="#collapse4">
										<h5 class="panel-title">
											Completed Campaign {% if complete_count %}({{complete_count}}) {% endif %}
										</h5>
									</div>
									<div id="collapse4" class="panel-collapse collapse">
										<div class="panel-body side_tab chat_panel">
											{% for camp in camps %}
											{% if camp.status == 4 %}
											<div class="col-md-12 shadow show_camp" camp_id="{{camp.id}}">
												<div class="col-md-6 media-left">
													<a href="#"
														class="text-default text-semibold show_camp">{{ camp.name }}</a>
												</div>
												<div class="col-md-6"><span class="label bg-blue">Completed</span></div>
											</div>
											{%endif%}
											{%endfor%}
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /FULL NOTEBOOK END-->
		<div class="row">
			<div class="col-md-12 notebook" style="display: none;">
				<div class="col-md-7">
					<div class="panel campaign_panel1 panel-flat">
						<div class="panel-body scroll">
							<div id="centertext" style="padding-bottom: 10px;">
								<a href="/client/create-campaign/">
									<button type="button" class="btn btn-primary btn-raised bt12">Create
										Campaign</button>
								</a>
							</div>
							<div class="table-responsive">
								<table class="table text-nowrap">
									<tbody>
										<!--Heading for Pending campaign-->
										<tr class="active border-double">
											<td colspan="1">Pending Campaign</td>
											<td class="text-right">
												<span class="progress-meter" id="today-progress"
													data-progress="30"></span>
											</td>
										</tr>
										<!--List of Pending campaign-->
										{% for camp in camps %}
										{% if camp.status == 3 %}
										<tr class="shadow show_camp" id="show_camp{{camp.id}}" camp_id="{{camp.id}}">
											<td>
												<div class="media-left">
													<div class=""><a href="#" id="{{camp.id}}"
															class="text-default text-semibold show_camp">{{ camp.name }}</a>
													</div>
													<div class="text-muted text-size-small" style="display:none">
														<span class="status-mark border-blue position-left"></span>
														02:00 - 03:00
													</div>
												</div>
											</td>
											<td><span class="label bg-blue">Pending</span></td>
										</tr>
										{%endif%}
										{%endfor%}
										<tr class="active border-double">
											<td colspan="1">Assigned Campaign</td>
											<td class="text-right">
												<span class="progress-meter" id="today-progress"
													data-progress="30"></span>
											</td>
										</tr>
										<!--List of Live campaign-->
										{% for camp in camps %}
										{% if camp.status == 5 %}
										<tr class="shadow show_camp" id="show_camp{{camp.id}}" camp_id="{{camp.id}}">
											<td>
												<div class="media-left">
													<div class=""><a href="#" id="{{camp.id}}"
															class="text-default text-semibold show_camp">{{ camp.name }}</a>
													</div>
													<div class="text-muted text-size-small" style="display:none">
														<span class="status-mark border-blue position-left"></span>
														02:00 - 03:00
													</div>
												</div>
											</td>
											<td><span class="label bg-blue">Assigned</span></td>
										</tr>
										{%endif%}
										{%endfor%}
										<!--Heading for Live campaign-->
										<tr class="active border-double">
											<td colspan="1">Live Campaign</td>
											<td class="text-right">
												<span class="progress-meter" id="today-progress"
													data-progress="30"></span>
											</td>
										</tr>
										<!--List of Live campaign-->
										{% for camp in camps %}
										{% if camp.status == 1 %}
										<tr class="shadow show_camp" id="show_camp{{camp.id}}" camp_id="{{camp.id}}">
											<td>
												<div class="media-left">
													<div class=""><a href="#" id="{{camp.id}}"
															class="text-default text-semibold show_camp">{{ camp.name }}</a>
													</div>
													<div class="text-muted text-size-small" style="display:none">
														<span class="status-mark border-blue position-left"></span>
														02:00 - 03:00
													</div>
												</div>
											</td>
											<td><span class="label bg-blue">Live</span></td>

										</tr>
										{%endif%}
										{%endfor%}
										<tr class="active border-double">
											<td colspan="1">Completed Campaign</td>
											<td class="text-right">
												<span class="progress-meter" id="today-progress"
													data-progress="30"></span>
											</td>
										</tr>
										<!--List of Live campaign-->
										{% for camp in camps %}
										{% if camp.status == 4 %}
										<tr class="shadow show_camp" id="show_camp{{camp.id}}" camp_id="{{camp.id}}">
											<td>
												<div class="media-left">
													<div class=""><a href="#" id="{{camp.id}}"
															class="text-default text-semibold show_camp">{{ camp.name }}</a>
													</div>
													<div class="text-muted text-size-small" style="display:none">
														<span class="status-mark border-blue position-left"></span>
														02:00 - 03:00
													</div>
												</div>
											</td>
											<td><span class="label bg-blue">Completed</span></td>
										</tr>
										{%endif%}

										{%endfor%}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-5">
					<div class="panel campaign_panel1 panel-flat ">
						<div class="panel-body scroll">
							<section onclick="myFunction2()">
								<div class="campaign_details">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h5 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
													Campaign Details</a>
												<span class="icons" style="float:right;">
													<i class="glyphicon glyphicon-paperclip" id="aggrements" camp_id=""
														title="aggrements" data-toggle="modal"
														data-target="#Aggrements_models"></i>
													<!-- <i class="fas fa-link" title="Contracts"></i> -->
													<div class="dropdown">
														<span class="dropdown-toggle" type="text"
															data-toggle="dropdown"><i
																class="fas fa-ellipsis-h"></i></span>
														<ul class="dropdown-menu assets_list">
															<li><a data-toggle="modal" id="get_scripts"
																	data-target="#scripts_modal">Scripts</a></li>
															<li><a data-toggle="modal" id="get_asset"
																	data-target="#asset_modal">Assests</a></li>
															<li><a href="#">Lead Stutas</a></li>
														</ul>
													</div>
													<span> <i class="far fa-thumbs-up"></i></span>
													<span class="fas fa-close" onclick="myFunctionClose()"></span>
												</span>
											</h5>
										</div>
										<div id="collapse1" class="panel-collapse collapse in">
											<div class="panel-body side_tab">
												<div class="panel1 row">
													<p style="text-transform: capitalize;">Campaign Name : <span
															style="color: #6d6d70" id="camp_name"></span></p>
												</div>
												<div class="panel1 row">
													<span><strong>CPL:</strong> <span style="color: #6d6d70"
															id="camp_cpl"></span>
														<span style="padding-left:15px;"><strong>Volume: </strong><span
																style="color: #6d6d70" id="camp_volume"></span>
															<span class="agree"><i
																	class="fas fa-check"></i><span>Agree</span></span>
												</div><br>

												<div class="panel1 row">
													<p class="btn-top" style="position:absolute">
														<a class="btn btn-info btn-collapsible" id="vendor_list_tooltip"
															data-toggle="tooltip" data-placement="top">
															<i class="fas fa-user"></i><span>Assigned to <span
																	id="assigend_vendors">{{user}}</span></span> <span
																class="Assigned_list tooltiptext"></span>
														</a>
														<a class="btn btn-success btn-collapsible"><i
																class="icon-calendar"></i><input type="text"
																class="input_date" id="start_date" value=""
																title="Start Date" readonly></a>
														<a class="btn btn-success btn-collapsible" s><i
																class="icon-calendar"></i><input type="text"
																class="input_date" id="datepicker2" value=""
																title="End Date" readonly></a>
														<!-- <a class="btn btn-warning btn-collapsible"><i class="far fa-clock" ></i><span id="expiry_date"></span></a> -->

														<!-- <a class="btn btn-warning btn-collapsible"></a> -->
														<a class="btn btn-warning " id="specs_data" camp_id=""
															title="View More" data-toggle="modal"
															data-target="#modal_large"><i class="fas fa-eye"></i></a>
													</p><br>
													<!-- <div class='circle col-md-4 vendor' id="vendor_list_tooltip" data-toggle="tooltip" data-placement="top">
																												<img style="height:35px;width:30px;margin-top: 7px;" src="http://www.clker.com/cliparts/3/V/U/m/W/U/admin-button-icon-md.png">
																												<label>Assigned to</label>
																												<div id="assigend_vendors">{{user}}</div>
																												<div class="Assigned_list tooltiptext"></div>
																										</div> -->
													<!-- <div class='circle col-md-4 date_pill'>
																												<div class="date-icon"><i class="icon-calendar"></i></div>
																												<span class="date">
																														<input type="text" id="start_date" placeholder="Due Date" disabled>
																												</span>
																										</div> -->
													<!-- <div class='circle col-md-4 date_pill'>
																												<div class="date-icon"><i class="icon-calendar"></i></div>
																												<span class="date">
																														<input type="text" id="datepicker2" placeholder="Due Date">
																												</span>
																										</div> -->
												</div>
												<div class="panel1 row" style="margin-top: 50px;">
													<textarea rows="4" cols="4" id="camp_desc" class="form-control"
														placeholder="Description"></textarea>
												</div>
												<!-- <div class="panel1 row">
																										<p style="text-transform: capitalize;">Instructions : </p>
																										<p id="camp_intructions" class="form-control" style="color: #6d6d70">campaign instructions</p>
																								</div> -->

												<div class="panel1 row">
													<ul id="chat_box" class="media-list chat-list content-group">

													</ul>
												</div>
											</div>

										</div>
									</div>
									<!-- <div class="panel panel-default">
																								<div class="panel-heading">
																										<h5 class="panel-title">
																												<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
																														Instructions</a>
																										</h5>
																								</div>
																								<div id="collapse2" class="panel-collapse collapse in">
																										<div class="panel-body side_tab chat_panel">
																												sdfasfsadfsafsfssgdaffadg
																										</div>
																								</div>
																						</div> -->

								</div>
							</section>
						</div>
						<div class="chat_bar">
							<div class="row">
								<form method="post" id="send_msg">
									{% csrf_token %}
									<div class="col-md-9 text-right">
										<ul class="dropdown-menu1" id="vendor_list">
											<li><a href="#"><input type="checkbox" id="allcheck" class="default"
														value="0" />All</a></li>
											<!-- {% for vendor in vendor_list %}
																						<li><a href="#"><input type="checkbox" name="vendor_names" class="vendor_names" value="{{vendor.id}}" />
																										{{vendor.vendor_name}}</a></li>
																						{%endfor%} -->
											<li><a href="#"><input type="checkbox" name="vendor_names" class="default"
														value="3" />Superadmin</a></li>
										</ul>
										<input type="text" name="message" id="message" class="form-control"
											onkeyup=" return key_check(this.value)" required
											placeholder="Enter your message..." />
										<input type="hidden" name="camp_id" id="camp_id" value="{{camp.id}}" />
										<input type="hidden" name="client_id" id="client_id" value="{{client_id}}" />
										<input type="hidden" name="sender_id" id="sender_id" value="{{sender_id}}" />

									</div>
									<div class="col-md-2 text-right">
										<span data-toggle="modal" data-target="#chat_attach_modal"
											style="margin-left:-54px;"><i
												class="glyphicon glyphicon-paperclip"></i></span>
										<button type="submit" class="btn btn-primary"><b><i
													class="icon-circle-right2"></i></b> Send</button>
									</div>
								</form>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- aggrements -->
<div class="modal fade" id="Aggrements_models" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="col-md-12 " style="margin-top:20px;">
                <div class="modal-header MH">
                    <h5 class="modal-title h1" id="exampleModalLongTitle">Agreements</h5>

                </div>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button> -->
            </div>
            <div class="modal-body">
                <div class="col-md-6 padd1" style="border-top: 1px solid #afaaaa;padding: 2px;">
                    <p class='lead nd'><span>NDA Agreement </span></p>
                </div>
                <div class="col-md-6 padd" style="border-top: 1px solid #afaaaa;padding: 1px;">
									<span id='msa_icon' class="label bg-danger text-semibold">Due</span>

                </div>
                <div class="col-md-6 padd1">
                    <p class='lead ms'><span>MSA Agreement </span></p>
                </div>
                <div class="col-md-6 padd">
                    <span id='msa_icon' class="label bg-danger text-semibold">Due</span>
                </div>
                <div class="col-md-6 padd1">
                    <p class='lead gdp'><span>GDPR Agreement </span></p>
                </div>
                <div class="col-md-6 padd">
                    <span id='gdpr_icon' class="label bg-danger text-semibold">Due</span>
                </div>
                <div class="col-md-6 padd1">
                    <p class='lead dp'><span>DPA Agreement </span></p>
                </div>
                <div class="col-md-6 padd">
                    <span id='dpa_icon' class="label bg-danger text-semibold">Due</span>
                </div>
                <div class="col-md-6 padd1">
                    <p class='lead io'><span>IO Agreement </span></p>
                </div>
                <div class="col-md-6 padd">
                    <span id='io_icon' class="label bg-danger text-semibold">Due</span>
                </div>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<!--aseets model Start-->
<div class="modal fade" id="asset_modal" role="dialog">
	<div class="modal-dialog " style="width:45%;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h1 class="modal-title">Add Assets</h1>
			</div>
			<form id="asset_form" method="post" enctype="multipart/form-data">
				<div class="modal-body">

					{% csrf_token %}
					<input type="hidden" name="campaign" id="campid">
					<label class="label1">Assets Name :</label><input type="text" name="assets_name" id="assets_name"
						required=""><br>
					<label class="label1">Type of assets:</label>
					<div id="assets_holder" name="assets_holder">
					</div>
					<label class="label1">Sponsers:</label><input type="text" name="sponsers" id="sponsers"><br>
					<label class="label1" style="width: 150px;">Asset distributor :</label><input type="text"
						name="asset_distributor" id="asset_distributor"><br>
					<label class="label1">Add assets link :</label><input type="text" name="add_assetslink"
						id="add_assetslink">
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary legitRipple pull-right">Submit<span
							class="legitRipple-ripple"></span></button>
				</div>
			</form>
		</div>
	</div>
</div>
<!--aseets model end-->

<!-- Large modal -->
<div id="modal_large" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<!-- append html at runtime through ajax-->
		</div>
	</div>
</div>
<!-- /large modal -->

<!-- Add scripts modal start -->
<div class="modal fade" id="scripts_modal" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Scripts</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<a class="hidden" id="script_link" download><button class="btn btn-primary">View Script</button></a>
				<form id="script_form" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<input type="hidden" name="campaign" id="camp_script_id">
					<div class="file-field">
						<div class="btn btn-primary btn-sm float-left">
							<span>Choose file</span>
							<input type="file" name="client_script" id="id_client_script">
						</div>
						<!-- <div class="file-path-wrapper">
							<input class="file-path validate" type="text" placeholder="Upload your file">
						</div> -->
					</div>
					<button type="submit" class="btn btn-primary legitRipple pull-right" id="submit_script">Submit<span
							class="legitRipple-ripple"></span></button>
				</form>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>
<!-- Add scripts modal end -->
<!-- /content area -->

<!--this script use to Change the size of Div-->
{% include "campaign/js/campaign_notebook.html" %}
{% include "campaign_chat/js/chatjs.html"%}

<script>
	$(function () {
		$("#campaign").addClass("active");
		$("#campaign").find("ul").first().css({ 'display': 'block' })
		$("#AllCampaign").addClass("active");
	});
</script>

{% endblock %}
