{% load static %}
<script type="text/javascript" src="{% static 'assets/js/plugins/tables/datatables/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/pages/datatables_api.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/pages/uploader_bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/uploaders/fileinput/plugins/purify.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/uploaders/fileinput/plugins/sortable.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/uploaders/fileinput/fileinput.min.js' %}"></script>

<style>
.media-heading
{
  margin-top: 5px;
}
.spanleft{
  margin-left: 15px;
}
/*.active{
  font-weight: bold;
}*/
.AcceptanceRate{
  padding: 3px 7px 3px 8px !important;
  font-size: 12px !important;
}
.AcceptanceRate1{
  padding: 3px 7px 3px 8px !important;
  font-size: 12px !important;
  margin-top: 2px;
}
.showPricing {
    padding: 6px 7px 3px 8px !important;
    font-size: 12px !important;
    margin-top: 2px;

</style>
