{% extends "header/cheader.html" %}
{% load static %}
{% block scripts %}
{% include "campaign/campaign_notebook_head.html" %}
{% endblock %}
{% block scripts1 %}
{% include "campaign/css/campaign_notebook.css" %}
{% endblock %}
{% block content %}
{% load custom_filters %}

<!-- Main sidebar -->
{% include "side/clientside.html" %}
<!-- /main sidebar -->
<div class="content-wrapper">
   <div class="content">
      <div class="row">
         <!--Main Campaign Name Page-->
         <div class="col-md-12" style="overflow: auto;">
               <div class="panel campaign_panel panel-flat first ">
                  <div>
                     <div id="centertext" style="padding-bottom: 10px;">
                        <!-- <a href="/client/campaign_type/">
                        <button type="button" class="btn btn-primary btn-raised bt12">Create Campaign</button>
                        </a> -->
                        <div class="right_btn-draft">
                                   <div class="dropdown">
                                       <button type="button" class="btn btn-primary btn-raised dropdown-toggle"  data-toggle="dropdown">Action</button>
                                       <ul class="dropdown-menu action_drop" role="menu">
                                         <li role="presentation" class="li-bottom">
                                           <!-- <b role="menuitem" data-target="#myModal" data-toggle="modal"></b> -->
                                           <div role="menuitem" data-target="#view_abm_modal" id="open_abm_modal" data-toggle="modal">
                                               <span style="font-size: 15px;cursor: default;"><i class="fa fa-sticky-note file_icon"></i>
                                               ABM File
                                           </div>
                                         </li>
                                         <li role="presentation" class="li-bottom" >
                                           <div role="menuitem" data-target="#view_supr_modal" data-toggle="modal" id="open_suppression_modal">
                                               <span style="font-size: 15px;cursor: default;"><i class="fa fa-sticky-note file_icon"></i>
                                               Suppression File
                                           </div>
                                         </li>
                                     </ul>
                                   </div>
                                   <!-- campaign filters ..Akshay G. -->
                                   <div class="dropdown">
                                     <button type="button" title="campaign filters" class="btn btn-primary btn-raised dropdown-toggle filter_dropdown" id="menu2" >
                                       <i class="fa fa-filter" style="font-size:18px"></i></button>
                                       <ul class="dropdown-menu drop_open filter_drop" role="menu" aria-labelledby="menu2">
                                           <form method="post" enctype="multipart/form-data">
                                             {% csrf_token %}
                                             <li>
                                                <input type="text" name="search_campaign"
                                                    value="{% if filter_camp != None %}{{filter_camp}}{% endif %}"
                                                    placeholder="Search Campaign" class="inp">
                                            </li>
                                            <li>
                                                <input style="margin-top:5%" type="text" id="rangeDate"
                                                    placeholder="select campaign date" data-input class="inp"><i
                                                    class="fa fa-times" aria-hidden="true" id="clear_date"
                                                    title="Clear"></i>
                                            </li>
                                            <li></li>
                                            <!-- store temporary date to be filtered...Akshay G. -->
                                            <input type="text" style="display:none" name="search_date" id="search_date">
                                            <li>
                                                <div class="multi-select-full" style="padding: 3% 1% 0 3%;">
                                                    <select class="select_outreach_method" multiple="multiple"
                                                        name="outreach_methods"> 
                                                      {% for method in outreach_methods %}
                                                         <option value="{{method.type}}"
                                                            {% if method.type in selected_outreach_method %} selected{% endif %}>
                                                            {{method.type}}
                                                         </option> 
                                                      {% endfor %} 
                                                   </select>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="multi-select-full" style="padding: 3% 1% 5% 3%;">
                                                   <select class="select_country" multiple="multiple"
                                                        name="country_list">
                                                      {% for country in countries %} 
                                                         <option value="{{country.name}}"
                                                            {% if country.name in selected_country %}selected{% endif %}>
                                                            {{country.name}}
                                                         </option> 
                                                      {% endfor %}
                                                   </select>
                                                </div>
                                            </li>
                                            <li class="li-styles">
                                                <select name="campaign_type" class="sel">
                                                   {% for type in campaign_types %} 
                                                      <option value="{{type}}"
                                                        {% if type in filter_camp_type %}selected{% endif %}>
                                                        {{type}}
                                                      </option> 
                                                   {% endfor %} 
                                                </select>
                                            </li>
                                            <li class="li-styles">
                                                <select name="custom_question_status" class="sel">
                                                    <option value="">Select custom question status</option>
                                                    <option value="yes"
                                                        {% if custom_question_status == 1 %}selected{% endif %}>Yes
                                                    </option>
                                                    <option value="no"
                                                        {% if custom_question_status == 0 %}selected{% endif %}>No
                                                    </option>
                                                </select>
                                            </li>
                                            <li class="li-styles">
                                                <select name="abm_status" class="sel">
                                                    <option value="">Select ABM status</option>
                                                    <option value="yes" {% if abm_status == 1 %}selected{% endif %}>Yes
                                                    </option>
                                                    <option value="no" {% if abm_status == 0 %}selected{% endif %}>No
                                                    </option>
                                                </select>
                                            </li>
                                            <li class="li-styles">
                                                <select name="suppression_status" class="sel">
                                                    <option value="">Select suppression status</option>
                                                    <option value="yes"
                                                        {% if suppression_status == 1 %}selected{% endif %}>Yes</option>
                                                    <option value="no"
                                                        {% if suppression_status == 0 %}selected{% endif %}>No</option>
                                                </select>
                                            </li>
                                            <li class="li-styles">
                                                <div style="">
                                                    <button class="btn btn-primary submit-btn apply_camp_filter" title="apply"
                                                        type='submit'><i class="fa fa-check"></i> Submit</button>
                                                    <button type="button" id="clear_camp_filter" title="clear"
                                                        class="btn btn-danger legitRipple btn-color"><i
                                                            class="fa fa-close"></i>&nbsp;Clear</button>
                                                    <button type="button"
                                                        class="btn btn-primary pull-right close_camp_filter"
                                                        title="close">Close</button>
                                                </div>
                                            </li>
                                        </form>
                                       </ul>
                                   </div>
                                   <a href="/client/create-campaign/">
                                      <button type="button" class="btn btn-primary btn-raised" title="Manual Campaign"><i class='fa fa-file-o'
                                        style='font-size:17px;color:#fff!important;'></i></button>
                                    </a> 
                                   <button type="button" class="btn btn-primary btn-raised" title="Bulk Campaign" data-target="#view_bulk_modal" data-toggle="modal"><i class='fa fa-files-o' style='font-size:17px;color:#fff!important;'></i></button>
                        </div>
                     </div>
                     <!-- Campaign filters Akshay G. -->
                     <!-- reset campaign filters -->
                     <form method="post" class="submit_empty_form">
                        {% csrf_token %}
                        <button class="btn btn-primary hidden" id="submit_empty_form" type="submit">clear</button>
                     </form>
                     <!-- end filters -->
                     <div class="table-responsive tb">
                        <table id="campaign_notebook_table" class="table text-nowrap campaign_table">
                           <thead>
                              <!--Heading for draft campaign-->
                              <tr class="active ">
                                 <th class="sp"><input type="checkbox" class="styled" id='all_camp_list' name="" value=""></th>
                                 <th colspan="1">Draft Campaign</th>
                                 <th>Description</th>
                                 <th class=""></th>
                              </tr>
                           </thead>
                           <tbody>
                              {% for camp in camps %}
                              {% if camp.status == 0 %}
                              <!--List of draft campaign-->
                              <tr class="shadow ">
                                 <td class="td-align">
                                    <input type="checkbox" class="styled upload_file_ chek" data-camp_id="{{camp.id}}" data-camp_name="{{camp.name}}" value="">
                                    <i class="supericon fas fa-info-circle check_camp_status check_status i-color info_1"></i>
                                       <div class=" hidden status_list ">
                                          <ul class="ul-padding">
                                             {% with camp_data=camp_status|chat_notif:camp.id %}
                                             <li class="li-padding">
                                                {% if camp_data.type %}
                                                <span class="spa"><i class="far fa-check-circle sign"></i>Campaign Type</span>
                                                {% else %}
                                                <span class="spa"><i class="far fa-times-circle iclose"></i>Campaign Type</span>
                                                {% endif %}
                                             </li>
                                             <li class="li-padding">
                                                {% if camp_data.cpl %}
                                                <span class="spa"><i class="far fa-check-circle sign"></i>CPL</span>
                                                {% else %}
                                                <span class="spa"><i class="far fa-times-circle iclose"></i>CPL</span>
                                                {% endif %}
                                             </li>
                                             <li class="li-padding">
                                                {% if camp_data.target_quantity %}
                                                <span class="spa"><i class="far fa-check-circle sign"></i>Target Quantity</span>
                                                {% else %}
                                                <span class="spa"><i class="far fa-times-circle iclose"></i>Target Quantity</span>
                                                {% endif %}
                                             </li>
                                             <li class="li-padding">
                                                {% if camp_data.start_date %}
                                                <span class="spa"><i class="far fa-check-circle sign"></i>Start Date</span>
                                                {% else %}
                                                <span class="spa"><i class="far fa-times-circle iclose"></i>Start Date</span>
                                                {% endif %}
                                             </li>
                                             <li class="li-padding">
                                                {% if camp_data.end_date %}
                                                <span class="spa"><i class="far fa-check-circle sign"></i>End Date</span>
                                                {% else %}
                                                <span class="spa"><i class="far fa-times-circle iclose"></i>End Date</span>
                                                {% endif %}
                                             </li>
                                             {% if 'suppression_status' in camp_data %}
                                             <li class="li-padding">
                                                {% if camp_data.suppression_status %}
                                                <span class="spa"><i class="far fa-check-circle sign"></i>Suppression</span>
                                                {% else %}
                                                <span class="spa"><i class="far fa-times-circle iclose"></i>Suppression</span>
                                                {% endif %}
                                             </li>
                                             {% endif %}
                                             {% if 'abm_status' in camp_data %}
                                             <li class="li-padding">
                                                {% if camp_data.abm_status %}
                                                <span class="spa"><i class="far fa-check-circle sign"></i>ABM</span>
                                                {% else %}
                                                <span class="spa"><i class="far fa-times-circle iclose"></i>ABM</span>
                                                {% endif %}
                                             </li>
                                             {% endif %}
                                             {% if 'custom_question' in camp_data %}
                                             <li class="li-padding">
                                                {% if camp_data.custom_question %}
                                                <span class="spa"><i class="far fa-check-circle sign"></i>Custom Question</span>
                                                {% else %}
                                                <span class="spa"><i class="far fa-times-circle iclose"></i>Custom Question</span>
                                                {% endif %}
                                             </li>
                                             {% endif %}
                                             {% if 'company_size' in camp_data %}
                                             <li class="li-padding">
                                                {% if camp_data.company_size %}
                                                <span class="spa"><i class="far fa-check-circle sign"></i>Company Size</span>
                                                {% else %}
                                                <span class="spa"><i class="far fa-times-circle iclose"></i>Company Size</span>
                                                {% endif %}
                                             </li>
                                             {% endif %}
                                             <!-- <li class="li-padding">
                                                {% if camp_data.revenue_size %}
                                                <span class="spa"><i class="far fa-check-circle sign"></i>Revenue Size</span>
                                                {% else %}
                                                <span class="spa"><i class="far fa-times-circle iclose"></i>Revenue Size</span>
                                                {% endif %}
                                             </li> -->
                                             {% if 'industry_type' in camp_data %}
                                             <li class="li-padding">
                                                {% if camp_data.industry_type %}
                                                <span class="spa"><i class="far fa-check-circle sign"></i>Industry Type</span>
                                                {% else %}
                                                <span class="spa"><i class="far fa-times-circle iclose"></i>Industry Type</span>
                                                {% endif %}
                                             </li>
                                             {% endif %}
                                             <li class="li-padding">
                                                {% if camp_data.job_title %}
                                                <span class="spa"><i class="far fa-check-circle sign"></i>Job Title</span>
                                                {% else %}
                                                <span class="spa"><i class="far fa-times-circle iclose"></i>Job Title</span>
                                                {% endif %}
                                             </li>
                                             {% endwith %}
                                          </ul>
                                       </div>
                                    <!-- <i class="supericon fas fa-plus-circle more" data-id="{{camp.id}}"
                                       data-rftime="{{camp.rfq_timer}}"></i>
                                          <div class="hidden more_details" data-camp_id="{{camp.id}}">
                                             <div class="div_loader"></div>
                                                <label id="campaign_cpl_{{camp.id}}" hidden>
                                                       {% if camp.cpl == 0 %}
                                                       RFQ
                                                       {% elif camp.cpl is null %}
                                                       RFQ
                                                       {% else %}
                                                       {{camp.cpl|floatformat:2}}
                                                       {% endif %}
                                                </label>
                                                <label id="campaign_target_{{camp.id}}"
                                                     hidden>{{camp.target_quantity}}</label>
                                                <label id="campaign_approve_leads_{{camp.id}}"
                                                       hidden>{{camp.approveleads}}</label>
                                                <div class="close-1">
                                                      <i class="fas fa-times-circle close_div pull-right"></i>
                                                </div>
                                                <div class="campaign_info">
                                                      <div class="col-md-4 form-group">
                                                         <div class="camp_detail_container"></div>
                                                         <div class="filed_select_div"></div>
                                                                                            
                                                </div>
                                                <div class="col-md-8">
                                                   <div class="col-md-6">
                                                      <span>Time Remaining - </span><strong><span id="campaign_timer_{{camp.id}}"></span></strong>
                                                   </div>
                                                   <div class="col-md-6">
                                                      <button class="btn btn-xs btn-primary pull-right" title='This vendor has other outreach method still you can send rfq request.' onclick="send_rfq_request($(this))"><i class="far fa-paper-plane"></i></button>
                                                   </div>
                                                   <table id="vendor_table_{{camp.id}}" class="table vendor_table datatable-show-all">
                                                      <thead>
                                                         <tr>
                                                            <th></th>
                                                            <th>Vendor Name</th>
                                                            <th>V-CPL</th>
                                                            <th>Volume</th>
                                                             
                                                         </tr>
                                                      </thead>
                                                      <tbody>
                                                      </tbody>
                                                   </table>
                                                </div>
                                             </div>
                                          </div> -->
                                    </td>
                                 <td class="show_camp" camp_id="{{camp.id}}">
                                    <div class="media-left">
                                       <div class=""><a href="#" class="text-default text-semibold show_camp">
                                          {{camp.name|truncatechars:20 }}</a>
                                       </div>
                                       <div class="text-muted text-size-small" style="display:none">
                                          <span class="status-mark border-blue position-left"></span>
                                          02:00 - 03:00
                                       </div>
                                    </div>
                                 </td>
                                 <td class="show_camp" camp_id="{{camp.id}}">
                                    <div>{{camp.description|truncatechars:100}}</div>
                                 </td>
                                 <td class="campagin_icons ">
                                    <!-- <ul  id="{{camp.id}}">
                                       <i class="bqX brq fas fa-tasks" title="Select Pricing" aria-hidden="true" ></i>
                                       <i class="bqX brq fas fa-upload" title="Upload Lead" aria-hidden="true"></i>
                                       </ul> -->
                                    <ul class="icons-list">
                                       <li><a id="camp_spec_edit_id"
                                          href="/client/edit_campaign/{{camp.id}}"><i
                                          class="bqX brq far fa-edit" title="Edit Specs"
                                          aria-hidden="true"></i></a></li>
                                    </ul>
                                 </td>
                              </tr>
                              {%endif%}
                              {%endfor%}
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
         </div>
         <!--/Main Campaign Name Page-->
         <!--Campaign Notebook Page-->
         <div class="col-md-12 notebook" style="display: none;">
            <div class="col-md-7" style="">
               <div class="panel campaign_panel1 panel-flat">
                  <div class="panel-body scroll">
                     <!-- <div id="centertext" style="padding-bottom: 10px;">
                        <button type="button" class="btn btn-primary btn-raised bt12">Create Campaign</button>
                     </div> -->
                     <div class="">
                        <table id="side_tabel_campaign_notebook" class="table text-nowrap">
                           <thead>
                              <!--Heading for draft campaign-->
                              <tr class="active ">
                                 <th colspan="1">Draft Campaign</th>
                              </tr>
                           </thead>
                           <tbody>
                              <!--List of draft campaign-->
                              {% for camp in camps %}
                              {% if camp.status == 0 %}
                              <tr class="shadow show_camp" id="show_camp{{camp.id}}" camp_id="{{camp.id}}">
                                 <td>
                                    <div class="media-left">
                                       <div class=""><a href="#" id="{{camp.id}}"
                                          class="text-default text-semibold show_camp">{{ camp.name }}</a>
                                       </div>
                                    </div>
                                 </td>
                              </tr>
                              {%endif%}
                              {%endfor%}
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-5 cols_5">
               <div class="panel panel-flat ">
                  <div class="panel-body">
                     <section onclick="myFunction2()">
                        <div class="campaign_details">
                           <div class="panel panel-default">
                              <div class="panel-heading">
                                 <h5 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                    Campaign Details</a>
                                    <span class="icons" style="float:right;">
                                       <!-- <i class="glyphicon glyphicon-paperclip" id="aggrements" camp_id=""
                                          title="aggrements" data-toggle="modal"
                                          data-target="#Aggrements_models"></i>
                                       <div class="dropdown">
                                          <span class="dropdown-toggle" type="text"
                                             data-toggle="dropdown"><i
                                             class="fas fa-ellipsis-h"></i></span>
                                          <ul class="dropdown-menu assets_list">
                                             <li class="li-bottom"><a data-toggle="modal" id="get_scripts"
                                                data-target="#scripts_modal">Scripts</a></li>
                                             <li><a data-toggle="modal" id="get_asset"
                                                data-target="#asset_modal">Assests</a></li>
                                             
                                          </ul>
                                       </div> -->
                                       <!-- <span> <i class="far fa-thumbs-up"></i></span> -->
                                       <span class="fas fa-close" onclick="myFunctionClose()"></span>
                                    </span>
                                 </h5>
                              </div>
                              <div id="collapse1" class="panel-collapse collapse in">
                                 <div class="panel-body side_tab">
                                    <div class="panel1 row">
                                       <p style="text-transform: capitalize;">Campaign Name : 
                                       <div style="color: #6d6d70" class="camp_name"></div>
                                       </p>
                                    </div>
                                    <div class="panel1 row">
                                       <span><strong>CPL:</strong> <span style="color: #6d6d70"
                                          class="camp_cpl"></span>
                                       <span style="padding-left:15px;"><strong>Volume: </strong><span
                                          style="color: #6d6d70" class="camp_volume">1000</span>
                                       <span style="padding-left:15px;"><strong>Type: </strong><span
                                          style="color: #6d6d70" class="camp_type"></span></span>
                                       <span class="agree"><i
                                          class="fas fa-check"></i><span>Agree</span></span>
                                    </div>
                                    <br>
                                    <div class="panel1 row">
                                       <p class="btn-top" style="position:absolute">
                                          <a class="btn btn-info btn-collapsible inf"
                                             id="vendor_list_tooltip" data-toggle="tooltip"
                                             data-placement="top">
                                          <i class="fas fa-user ucolor"></i><span>Assigned to <span
                                             id="assigend_vendors">{{user}}</span></span> <span
                                             class="Assigned_list tooltiptext"></span>
                                          </a>
                                          <a class="btn btn-success btn-collapsible"><i
                                             class="icon-calendar"></i><input type="text"
                                             class="input_date start_date" id="start_date" title="Start Date"
                                             value="" disabled></a>
                                          <a class="btn btn-success btn-collapsible" s><i
                                             class="icon-calendar"></i><input type="text"
                                             class="input_date datepicker2" id="datepicker2" title="End Date"
                                             value="" disabled></a>
                                          <!-- <a class="btn btn-warning btn-collapsible"><i class="far fa-clock" ></i><span id="expiry_date"></span></a> -->
                                          <!-- <a class="btn btn-warning btn-collapsible"></a> -->
                                          <a class="btn btn-warning specs_data" id="specs_data" camp_id=""
                                             data-toggle="modal" title="View More"
                                             data-target="#modal_large"><i class="fas fa-eye"></i></a>
                                       </p>
                                       <br>
                                       <!-- <div class='circle col-md-4 vendor' id="vendor_list_tooltip" data-toggle="tooltip" data-placement="top">
                                          <img style="height:35px;width:30px;margin-top: 7px;" src="http://www.clker.com/cliparts/3/V/U/m/W/U/admin-button-icon-md.png">
                                          <label>Assigned to</label>
                                          <div id="assigend_vendors">{{user}}</div>
                                          <div class="Assigned_list tooltiptext"></div>
                                          </div> -->
                                       <!-- <div class='circle col-md-4 date_pill'>
                                          <div class="date-icon"><i class="icon-calendar"></i></div>
                                          <span class="date">
                                            <input type="text" id="start_date" placeholder="Due Date">
                                          </span>
                                          </div> -->
                                       <!-- <div class='circle col-md-4 date_pill'>
                                          <div class="date-icon"><i class="icon-calendar"></i></div>
                                          <span class="date">
                                            <input type="text" id="datepicker2" placeholder="Due Date">
                                          </span>
                                          </div> -->
                                    </div>
                                    <div class="panel1 row" style="margin-top: 50px;">
                                       <textarea rows="4" cols="4" id="camp_desc" class="camp_desc form-control"
                                          placeholder="Description" disabled></textarea>
                                    </div>
                                    <!-- <div class="panel1 row">
                                       <p style="text-transform: capitalize;">Instructions : </p>
                                       <p id="camp_intructions" class="form-control" style="color: #6d6d70">campaign instructions</p>
                                       </div> -->
                                    <div class="panel1 row">
                                       <!-- <ul id="chat_box" class="media-list chat-list content-group">
                                          
                                       </ul> -->
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- <div class="panel panel-default">
                              <div class="panel-heading">
                                  <h5 class="panel-title">
                                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                          Instructions</a>
                                  </h5>
                              </div>
                              <div id="collapse2" class="panel-collapse collapse in">
                                  <div class="panel-body side_tab chat_panel">
                                      sdfasfsadfsafsfssgdaffadg
                                  </div>
                              </div>
                              </div> -->
                        </div>
                     </section>
                  </div>
               </div>
            </div>
         </div>
         <!--/Campaign Notebook Page-->
      </div>
   </div>
</div>


<!-- aggrements -->
<div class="modal " id="Aggrements_models" role="dialog">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="border">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
               <h5 class="modal-title h1" id="exampleModalLongTitle">Agreements</h5>
            </div>
            <!-- <div class="modal-body" style="padding: 14px;">
               <div class="ager">
                  <span class='lead nd'>NDA Agreement </span>
                  <span id='nda_icon' class="label bg-danger pull-right text-semibold">Due</span>
               </div>
               <div class="ager" style="background:#77cbeab8">
                  <span class="lead ms">MSA Agreement </span>
                  <span id='msa_icon' class="label bg-danger pull-right text-semibold">Due</span>
               </div>
               <div class="ager" style="background:#f1a1a1b8;">
                  <span class='lead gdp'>GDPR Agreement </span>
                  <span id='gdpr_icon' class="label bg-danger pull-right text-semibold">Due</span>
               </div>
               <div class="ager" style="background:#5a8ec3ad;">
                  <span class='lead dp'>DPA Agreement </span>
                  <span id='dpa_icon' class="label bg-danger pull-right text-semibold">Due</span>
               </div>
               <div class="ager" style="background: #eebe58e0;">
                  <span class='lead io'>IO Agreement </span>
                  <span id='io_icon' class="label bg-danger pull-right text-semibold">Due</span>
               </div> -->
               <div class="modal-body">
                    <div class="ager">
                        <span class='lead nd'><a data-toggle="collapse" href="#collapse-group1" class="nd-1">NDA
                                Agreement</a></span>
                        <div class="panel panel-white"></div>
                        <form class="md-form">
                            <div class="file-field">
                                <div class="btn btn-primary btn-sm btn-browse">
                                    <span>Browse</span>
                                    <input type="file">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="collapse-group1" class="panel-collapse collapse pan-colapse">
                        <div class="panel-body">
                            <!-- <div class="row">
                                <div class="col-sm-12">
                                   <div class="col-sm-8">
                                       Vendor Name
                                   </div>
                                   <div class="col-sm-4">
                                        <div class="col-sm-2">
                                            <i class="far fa-check-circle "></i>
                                        </div>
                                        <div class="col-sm-2 pull-right">
                                            <i class="fa fa-close "></i>
                                        </div>
                                   </div>
                                </div>
                            </div> -->
                            <ul>
                                <li class="li-1">
                                    <div class="elips"> Vendor Name </div>
                                    <div class="pull-right pulls">
                                        <i class="far fa-check-circle pulls-1"></i>
                                        <!-- <i class="fa fa-times-circle-o iclose"></i> -->
                                        <img src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Close_Icon_Circle-512.png"
                                            class="iclose">
                                    </div>
                                </li>
                                <hr>
                                <li>
                                    <div class="elips"> Vendor Name </div>
                                    <div class="pull-right pulls">
                                        <i class="far fa-check-circle pulls-1"></i>
                                        <img src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Close_Icon_Circle-512.png"
                                            class="iclose">
                                    </div>
                                </li>
                                <hr>
                                <li>
                                    <div class="elips"> Vendor Name </div>
                                    <div class="pull-right pulls">
                                        <i class="far fa-check-circle pulls-1"></i>
                                        <img src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Close_Icon_Circle-512.png"
                                            class="iclose">
                                    </div>
                                </li>
                                <hr>
                            </ul>
                        </div>
                    </div>
                    <div class="ager" style="background:#5a8ec3ad;">
                        <span class="lead ms"><a data-toggle="collapse" href="#collapse-group2" class="nd-1">MSA
                                Agreement</a></span>
                        <div class="panel panel-white"></div>
                        <form class="md-form">
                            <div class="file-field btn-icon">
                                <!-- <div class="btn btn-primary btn-sm btn-browse">
                              <span>Browse</span>
                              <input type="file">
                            </div> -->
                                <i class="far fa-check-circle sign"></i>
                            </div>
                        </form>
                    </div>
                    <div id="collapse-group2" class="panel-collapse collapse pan-colapse">
                        <div class="panel-body">
                            <ul>
                                <li>
                                    <div class="elips"> Vendor Name </div>
                                    <div class="pull-right pulls">
                                        <i class="far fa-check-circle pulls-1"></i>
                                        <img src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Close_Icon_Circle-512.png"
                                            class="iclose">
                                    </div>
                                </li>
                                <hr>
                                <li>
                                    <div class="elips"> Vendor Name </div>
                                    <div class="pull-right pulls">
                                        <i class="far fa-check-circle pulls-1"></i>
                                        <img src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Close_Icon_Circle-512.png"
                                            class="iclose">
                                    </div>
                                </li>
                                <hr>
                                <li>
                                    <div class="elips"> Vendor Name </div>
                                    <div class="pull-right pulls">
                                        <i class="far fa-check-circle pulls-1"></i>
                                        <img src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Close_Icon_Circle-512.png"
                                            class="iclose">
                                    </div>
                                </li>
                                <hr>
                            </ul>
                        </div>
                    </div>
                    <div class="ager" style="background:#f1a1a1b8;">
                        <span class='lead gdp'><a data-toggle="collapse" href="#collapse-group3" class="nd-1">GDPR
                                Agreement </a></span>
                        <div class="panel panel-white"></div>
                        <form class="md-form">
                            <div class="file-field">
                                <div class="btn btn-primary btn-sm btn-browse">
                                    <span>Browse</span>
                                    <input type="file">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="collapse-group3" class="panel-collapse collapse pan-colapse">
                        <div class="panel-body">
                            <ul>
                                <li>
                                    <div class="elips"> Vendor Name </div>
                                    <div class="pull-right pulls">
                                        <i class="far fa-check-circle pulls-1"></i>
                                        <img src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Close_Icon_Circle-512.png"
                                            class="iclose">
                                    </div>
                                </li>
                                <hr>
                                <li>
                                    <div class="elips"> Vendor Name </div>
                                    <div class="pull-right pulls">
                                        <i class="far fa-check-circle pulls-1"></i>
                                        <img src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Close_Icon_Circle-512.png"
                                            class="iclose">
                                    </div>
                                </li>
                                <hr>
                                <li>
                                    <div class="elips"> Vendor Name </div>
                                    <div class="pull-right pulls">
                                        <i class="far fa-check-circle pulls-1"></i>
                                        <img src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Close_Icon_Circle-512.png"
                                            class="iclose">
                                    </div>
                                </li>
                                <hr>
                            </ul>
                        </div>
                    </div>
                    <div class="ager" style="background:#77cbeab8;">
                        <span class='lead dp'><a data-toggle="collapse" href="#collapse-group4" class="nd-1">DPA
                                Agreement </a></span>
                        <div class="panel panel-white"></div>
                        <form class="md-form">
                            <div class="file-field btn-icon">
                                <!-- <div class="btn btn-primary btn-sm btn-browse">
                              <span>Browse</span>
                              <input type="file">
                            </div> -->
                                <i class="far fa-check-circle sign"></i>
                            </div>
                        </form>
                    </div>
                    <div id="collapse-group4" class="panel-collapse collapse pan-colapse">
                        <div class="panel-body">
                            <ul>
                                <li>
                                    <div class="elips"> Vendor Name </div>
                                    <div class="pull-right pulls">
                                        <i class="far fa-check-circle pulls-1"></i>
                                        <img src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Close_Icon_Circle-512.png"
                                            class="iclose">
                                    </div>
                                </li>
                                <hr>
                                <li>
                                    <div class="elips"> Vendor Name </div>
                                    <div class="pull-right pulls">
                                        <i class="far fa-check-circle pulls-1"></i>
                                        <img src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Close_Icon_Circle-512.png"
                                            class="iclose">
                                    </div>
                                </li>
                                <hr>
                                <li>
                                    <div class="elips"> Vendor Name </div>
                                    <div class="pull-right pulls">
                                        <i class="far fa-check-circle pulls-1"></i>
                                        <img src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Close_Icon_Circle-512.png"
                                            class="iclose">
                                    </div>
                                </li>
                                <hr>
                            </ul>
                        </div>
                    </div>
                    <div class="ager" style="background: #eebe58e0;">
                        <span class='lead io'><a data-toggle="collapse" href="#collapse-group5" class="nd-1">IO
                                Agreement </a></span>
                        <div class="panel panel-white"></div>
                        <form class="md-form">
                            <div class="file-field">
                                <div class="btn btn-primary btn-sm btn-browse">
                                    <span>Browse</span>
                                    <input type="file">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="collapse-group5" class="panel-collapse collapse pan-colapse">
                        <div class="panel-body">
                            <ul>
                                <li>
                                    <div class="elips"> Vendor Name </div>
                                    <div class="pull-right pulls">
                                        <i class="far fa-check-circle pulls-1"></i>
                                        <img src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Close_Icon_Circle-512.png"
                                            class="iclose">
                                    </div>
                                </li>
                                <hr>
                                <li>
                                    <div class="elips"> Vendor Name </div>
                                    <div class="pull-right pulls">
                                        <i class="far fa-check-circle pulls-1"></i>
                                        <img src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Close_Icon_Circle-512.png"
                                            class="iclose">
                                    </div>
                                </li>
                                <hr>
                                <li>
                                    <div class="elips"> Vendor Name </div>
                                    <div class="pull-right pulls">
                                        <i class="far fa-check-circle pulls-1"></i>
                                        <img src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Close_Icon_Circle-512.png"
                                            class="iclose">
                                    </div>
                                </li>
                                <hr>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!--aseets model Start-->
<div class="modal " id="asset_modal" role="dialog">
   <div class="modal-dialog" style="width: 65%;">
      <div class="modal-content">
         <div class="border">
            <div class="modal-header">
               <h1 class="modal-title">Add Assets for <span id="campaign_name"></span></h1>
               <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div  class="modal-body" style="height: 63vh!important;">
               <div class="col-md-8">
                  <form id="asset_form" method="post" enctype="multipart/form-data">
                     <div>
                        {% csrf_token %}
                        <input type="hidden" name="campaign" id="campid">
                        <label class="label1">Assets Name :</label><input type="text" name="assets_name" id="assets_name"
                           required=""><br>
                        <label class="label1">Type of assets:</label>
                        <div id="assets_holder" name="assets_holder">
                        </div>
                        <label class="label1">Sponsers:</label><input type="text" name="sponsers" id="sponsers"><br>
                        <label class="label1">Asset distributor :</label><input type="text" name="asset_distributor"
                           id="asset_distributor"><br>
                        <label class="label1">Add assets link :</label><input type="text" name="add_assetslink"
                           id="add_assetslink">
                     </div>
                  </form>
                  <div class="modal-footer"><br>
                     <button type="submit" class="btn btn-primary submit-btn legitRipple pull-right" id="submit_assets">Submit<span
                        class="legitRipple-ripple"></span></button>
                  </div>
               </div>
               <div class="col-md-3">
                  <img  src="{% static '/icons/asset.gif' %}" width="250">
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!--aseets model end-->
<!-- Specs modal -->
<div id="modal_large" class="modal ">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <div class="border">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h5 class="modal-title">Campaign Specs</h5>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-link btn-color" data-dismiss="modal">Close</button>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Specs modal -->
<!-- Add scripts modal start -->
<div class="modal " id="scripts_modal" role="dialog">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="border">
            <div class="modal-header">
               <button type="button" style="margin-top: -50px;" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
               <div>
                  <center>
                     <img class="header-img" src="{% static '/icons/script.gif' %}">
                     <h4 class="modal-title" id="exampleModalLongTitle">Scripts</h4>
                  </center>
               </div>
            </div>
            <div class="modal-body">
               <div class="col-md-12">
                  <a class="hidden" id="script_link" download><button class="btn btn-primary">View Script</button></a>
                  <form id="script_form" method="post" enctype="multipart/form-data">
                     {% csrf_token %}
                     <input type="hidden" name="campaign" id="camp_script_id">
                     <div class="file-field">
                        <center>
                           <div class="btn btn-primary script-color btn-sm float-left">
                              <span>Choose file</span>
                              <input type="file" name="client_script" id="id_client_script">
                           </div>
                        </center>
                     </div>
                     <button type="submit" class="btn btn-primary submit-btn legitRipple pull-right" 
                        id="submit_script"> Submit <span class="legitRipple-ripple"></span></button>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- ABM Modal -->
<div class="modal " id="view_abm_modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content contents">
            <div class="modal-body-2 borders">
                <div class="bottoms">
                    <button type="button" class="close" data-dismiss="modal" style="margin-right: 6%;">&times;</button>
                    <span><i class="fa fa-file-text-o pan"
                            style="font-size: 22px;color: #818181;text-align: center;"></i></span>
                    <h4 class="modal-title floats"> ABM File</h4><br>
                </div>
                <center>
                    <!-- upload ABM file for bulk normal campaigns...Akshay G. -->
                    <form id="upload_abm_form">
                        
                        <label for="upload_abm" class="custom-file-upload btn btn-info btn-md browse_file name ellipsis" title="choose file" style="display: none"> Browse </label>
                        <input id="upload_abm" name='upload_abm' type="file" style="display:none;" accept=".csv, .xlsx">
                        <button type="button" title="upload file" class="btn btn-primary" style="display: none" id="submit_bulk_abm">upload</button>
                        <!-- <button type="button" title="remove file" class="btn btn-default remove_bulk_abm_suppr_file" style="display: none">
                           <i class="icon-cross3"></i> 
                           <span class="hidden-xs">Remove</span>
                        </button> -->
                        <div class="div-aligns-abm">
                        <i class="far fa-times-circle btn-colors remove_bulk_abm_suppr_file" style="display: none" title="remove file" ></i>
                        </div>
                    </form>
                    
                    <p class="Action_down">
                        <a href='/media/campaign_template/ABM_TEMPLATE.xlsx' download>
                            <span class="glyphicon glyphicon-download-alt"
                                style="font-size: 20px;color: #4294da;">
                            </span>
                            <b> Download sample file</b>
                        </a>
                        <p>
                          <span class="select_campaign" style="color:#a9a4a4;">No campaigns selected. Select campaigns to upload file.</span>
                        </p>
                    </p>
                </center>
                <div class="modal-body-1">
                  <div class="abm_suppression_camp_name hidden"><strong>Campaigns Selected for ABM File</strong></div>
                    <p style="padding: 0 10% 0 15%">
                        <ul class="list-1" id="abm_camp_list">
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Modal  -->
<!-- Suppression Modal -->
<div class="modal " id="view_supr_modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content contents">
            <div class="modal-body-2 borders">
                <div class="bottoms">
                    <button type="button" class="close" data-dismiss="modal" style="margin-right: 6%;">&times;</button>
                    <span><i class="fa fa-file-text-o pan"
                            style="font-size: 22px;color: #818181;text-align: center;"></i></span>
                    <h4 class="modal-title floats"> Suppression File</h4><br>
                </div>
                <center>
                    <!-- upload suppression file for bulk campaigns...Akshay G. -->
                    <form id="upload_supr_form">
                        
                        <label for="upload_suppression" title="choose file" class="custom-file-upload btn btn-info btn-md browse_file name ellipsis" style="display:none;"> Browse </label>
                        <input id="upload_suppression" name='upload_suppression' type="file" style="display:none;"
                            accept=".csv, .xlsx">
                        <button class="btn btn-primary" title="upload file" type="button" style="display: none" id="submit_bulk_suppression">upload</button>
                        <!-- <button type="button" title="remove file" class="btn btn-default remove_bulk_abm_suppr_file" style="display: none">
                           <i class="icon-cross3"></i> 
                           <span class="hidden-xs">Remove</span>
                        </button> -->
                        <div class="div-aligns-abm">
                        <i class="far fa-times-circle btn-colors remove_bulk_abm_suppr_file" style="display: none" title="remove file" ></i>
                        </div>
                    </form>
                    
                    <p class="Action_down">
                        <a href='/media/campaign_template/SUPPRESSION_TEMPLATE.xlsx' download>
                            <span class="glyphicon glyphicon-download-alt"
                                style="font-size: 20px;color: #4294da;"></span>
                            <b> Download sample file</b>
                        </a>
                        <p>
                          <span class="select_campaign" style="color:#a9a4a4">No campaigns selected. Select campaigns to upload file.</span>
                        </p>
                    </p>
                </center>
                <div class="modal-body-1">
                  <div class="abm_suppression_camp_name hidden"> <strong>Campaigns Selected for Suppression File</strong></div>
                    <p style="padding: 0 10% 0 15%">
                        <ul class="list-1" id="suppression_camp_list">
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Modal  -->
<!-- Add scripts modal end -->
<!-- Bulk Cam. Modal -->
<div class="modal " id="view_bulk_modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content contents ">
            <div class="borders">
                <div class="modal-body-2 ">
                    <div class="bottoms">
                        <button type="button" class="close" data-dismiss="modal"
                            style="margin-right: 6%;">&times;</button>
                        <span><i class="fa fa-file-text-o pan"
                                style="font-size: 22px;color: #818181;text-align: center;"></i></span>
                        <h4 class="modal-title floats"> Bulk Campaign File</h4><br>
                    </div>
                    <center>
                        <!-- create normal campaigns in bulk quantity...Akshay G. -->
                        <form action="" id="bulk_camp_form">
                           
                            <label for="create_bulk_camp" title="choose file" class="custom-file-upload btn btn-info btn-md ellipsis name"> Browse
                            </label>
                            <input type="file" id="create_bulk_camp" name="create_bulk_camp" style="display: none" accept=".xlsx,.csv">
                            <!-- <button type="button" title="remove file" class="btn btn-default remove_bulk_camp_file" style="display: none">
                              <i class="icon-cross3"></i> 
                              <span class="hidden-xs">Remove</span>
                           </button> -->
                           <div class="div-aligns-bulk">
                            <i class="far fa-times-circle btn-colors remove_bulk_camp_file" style="display: none" title="remove file" ></i>
                            </div>
                        </form>
                        <p class="Action_down">
                            <a href="/media/campaign_template/Normal_template.xlsx" download>
                                <span class="glyphicon glyphicon-download-alt"
                                    style="font-size: 20px;color: #4294da;"></span>
                                <b> Download sample file</b>
                            </a>
                        </p>
                        <p style="padding: 5%;color: #9c9494;"> You can import up to 100 records through a .csv or .xlsx file.
                        </p>
                    </center>
                </div>
                <!-- csv file validation errors..Akshay g. -->
                <div class="div-padding" id="error_messages">
                </div>
                <div class="modal-footer">
                    <button type="button" title="go to mapping" class="btn btn-info btn-info-color hidden" id="camp_mapping">Next</button>
                    <button id="upload_camp_file" title="upload file" class="btn btn-secondary btn-sec-color">upload</button>
                    <button type="button" title="close" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /page container -->

<script>
   $(function () {
       $("#campaign").addClass("active");
       $("#campaign").find("ul").first().css({ 'display': 'block' })
       $("#DraftCampaign").addClass("active");
   });
   
</script>
<script>
$(document).ready(function(){
  $(".fa-plus-circle").click(function(){
    $(".status_list").addClass("hidden");
  });
  $(".fa-info-circle").click(function(){
    $(".more_details").addClass("hidden");
  });
});
</script>
<!-- filter campaign js..Akshay G. -->
<script>
   var date_range = '{{filter_camp_date}}';
   var start_date;
   var end_date;
   if (date_range != '') {
      start_date = date_range.split(',')[0];
      end_date = date_range.split(',')[1];
      $('#search_date').val(date_range);
   }
   else {
      start_date = '';
      end_date = '';
   }
   $("#rangeDate").flatpickr({
      mode: 'range',
      dateFormat: "Y-m-d",
      defaultDate: [start_date, end_date],
      onValueUpdate: function (selectedDates, dateStr, instance) {
         if (selectedDates[0] && selectedDates[1]) {
               var startDate = dateStr.split('to')[0];
               var endDate = dateStr.split('to')[1];
               if (endDate != undefined) {
                  $('#search_date').val(startDate + ',' + endDate);
               }
               else {
                  $('#search_date').val(startDate + ',' + startDate);
               }
         }
      }
   })
   $(document).on('click', '#clear_date', function () {
      $('#search_date').val('');
      const fp = document.querySelector("#rangeDate")._flatpickr;
      fp.clear();
   })

   $(function () {
      $('.select_outreach_method').multiselect({
         includeSelectAllOption: true,
         enableCaseInsensitiveFiltering: true,
         enableFiltering: true,
         templates: {
               filter: '<li class="multiselect-item multiselect-filter"><i class="icon-search4"></i> <input class="form-control" type="text"></li>'
         },
         nonSelectedText: 'Select outreach method',
         onChange: function () {
               $.uniform.update();
         }
      });
      $('.select_country').multiselect({
         includeSelectAllOption: true,
         enableCaseInsensitiveFiltering: true,
         enableFiltering: true,
         templates: {
               filter: '<li class="multiselect-item multiselect-filter"><i class="icon-search4"></i> <input class="form-control" type="text"></li>'
         },
         nonSelectedText: 'Select country',
         onChange: function () {
               $.uniform.update();
         }
      });
   })
</script>
{% include "campaign/js/accountjs.html"%}
{% include "campaign/js/rfqtimer.html" %}
{% include "campaign_chat/js/chatjs.html"%}
{% include "campaign/js/campaign_notebook.html" %}
{% endblock %}
