{% extends "header/cheader.html" %}
{% load static %}
{% block scripts %}
{% include "campaign/campaign_notebook_head.html" %}
{% endblock %}
{% block scripts1 %}
{% include "campaign/css/campaign_notebook.css" %}
{% endblock %}

{% block content %}
<!--CSS (DO NOT remove)-->
<style type="text/css">
    .div_loader {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 20000;
        background: url('{% static "/icons/div_loader.gif" %}') 50% 50% no-repeat rgb(249, 249, 249);
        opacity: .8;
    }

    .modal_loader {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 104%;
        height: 100%;
        z-index: 20000;
        background: url('{% static "/icons/div_loader.gif" %}') 50% 50% no-repeat rgb(249, 249, 249);
        opacity: .8;
    }
</style>
<!-- Main sidebar -->
{% include "side/clientside.html" %}
<!-- /main sidebar -->

<div class="content-wrapper">
    <div class="content">
        <div class="row">
            <!--Chart Section start-->
            <div class="col-md-12 chat" style="display: none;">
                <div class="col-md-5 ">
                    <div class="panel campaign_panel1 panel-flat ">
                        <div class="panel-body scroll">
                        <section>
                                <div class="campaign_details">
                                    <div class="panel panel-default">
                                    <div style="display: none;">
                                        <div class="panel-heading">
                                            <h5 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                                    Campaign Details</a>
                                               
                                            </h5>
                                        </div>
                                    </div>
                            <div class="panel-body">
                            <ul class="nav nav-pills nav-tabs">
                                <!-- <li class="active"><a data-toggle="tab" href="#home">Company Info</a></li>
                                <li><a data-toggle="tab" href="#menu1">User Info</a></li> -->
                                <li class="active"><a data-toggle="tab" href="#menu4">Campaign Details</a></li>
                                <li><a data-toggle="tab" href="#menu2" onclick="get_media('all')">Send File</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="menu2" class="tab-pane fade">
                                    <select name="files" id="file_filter" data-campid="" class="form-control" >
                                            <option value="all">All</option>
                                            <option value="image">Images</option>
                                            <option value="doc">Documents</option>
                                            <option value="link">Links</option>
                                    </select>
                                    <div class="col-md-12 filter-img-height" id="media_data_div">
                                    </div>
                                    <!-- <dl class="dropdown dd">
                                        <dt>
                                            <a href="#">
                                                <span class="hida">Select</span>
                                                <p class="multiSel"></p>
                                                <i class="fas fa-filter pull-right" style="margin-top: -21px;"></i>
                                            </a>
                                        </dt>

                                        <dd>
                                            <div class="mutliSelect">
                                                <ul>
                                                    <li class="multisel">
                                                        <input type="checkbox" value="Images" />Images</li>
                                                    <li class="multisel">
                                                        <input type="checkbox" value="Documents" />Documents
                                                    </li>
                                                    <li class="multisel">
                                                        <input type="checkbox" value="Links" />Links</li>
                                                </ul>
                                            </div>
                                        </dd>
                                    </dl> -->
                                    
                                </div>
                                <div id="menu4" class="tab-pane fade in active">
                                    <div id="collapse1" class="panel-collapse collapse in">
                                            <div class="panel-body side_tab">
                                                <div class="panel1 row">
                                                    <p style="text-transform: capitalize;"><strong>Campaign Name :
                                                        </strong><div style="color: #6d6d70" class="camp_name"></div></p>
                                                </div>
                                                <div class="panel1 row">
                                                    <span><strong>IO Number:</strong><span style="color: #6d6d70"
                                                            class="camp_io"> </span></span>
                                                    <span style="padding-left:15px;"><strong>CPL:</strong> <span
                                                            style="color: #6d6d70" class="camp_cpl"></span></span>
                                                    <span style="padding-left:15px;"><strong>Volume: </strong><span
                                                            style="color: #6d6d70" class="camp_volume"></span></span>
                                                    <span class="agree"><i
                                                            class="fas fa-check"></i><span>Agree</span></span>
                                                </div><br>

                                                <div class="panel1 row">
                                                    <p class="btn-top" style="position:absolute">
                                                        <a class="btn btn-info btn-collapsible"><i
                                                                class="fas fa-user"></i><span>Assigned to</span> <span
                                                                        class="Assigned_list tooltiptext"></span></a>
                                                        <a class="btn btn-success btn-collapsible"><i
                                                                class="icon-calendar"></i><input type="text"
                                                                class="input_date start_date" value=""
                                                                title="Start Date" readonly></a>
                                                        <a class="btn btn-success btn-collapsible" s><i
                                                                class="icon-calendar"></i><input type="text"
                                                                class="input_date datepicker2" value=""
                                                                title="End Date" readonly></a>

                                                        <a class="exp" class="btn btn-warning btn-collapsible"><i
                                                                class="far fa-clock"></i><span class="expiry_date"
                                                                title="Expiry Date"></span></a>

                                                        <!-- <a class="btn btn-warning btn-collapsible"></a> -->
                                                        <a class="btn btn-warning specs_data" id="specs_data"camp_id=""
                                                            title="View More" data-toggle="modal"
                                                            data-target="#modal_large"><i class="fas fa-eye"></i></a>
                                                    </p><br>
                                                    <div class="panel1 row">
                                                    </div>
                                                    <div class="panel1 row" style="margin-top: 50px;">
                                                        <textarea rows="4" cols="4" id="camp_desc" class="form-control camp_desc"
                                                            placeholder="Description" disabled></textarea>
                                                    </div>
                                                    <!-- <div class="panel1 view_more row">
                                                    <button class="btn bg-teal legitRipple pull-right"
                                                        style=> View More</button>
                                                </div> -->
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>

                            </div>
                            </div>
                             </div>
                        </section>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 chbox">
                    <div class="panel campaign_panel1 panel-flat">
                        <div class="campaign_details border-chat" style="">
                            <section>
                                <div class="campaign_details">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h5 class="panel-title" style="height: 25px;">

                                                <span class="icons pull-right">
                                                    <i class="fa fa-reply-all mr-2 back_to_2" style="margin-right: 5px;"></i>
                                                    <div class="dropdown">
                                                        <span class="dropdown-toggle" type="text"
                                                            data-toggle="dropdown"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                                                        <ul class="dropdown-menu assets_list Tc">
                                                            <li class="li-bottom"><a data-toggle="modal" class=""
                                                                    data-target="#Tc-header">TC Header</a></li>
                                                            <li><a class="client_custom_header">Custom Header</a></li>
                                                            <!-- <li><a href="#">Lead Status</a></li> -->
                                                        </ul>
                                                    </div>
                                                    <i class="glyphicon glyphicon-paperclip" id="aggrements" camp_id=""
                                                        title="aggrements" data-toggle="modal"
                                                        data-target="#Aggrements_models"></i>
                                                    <!--   <i class="fas fa-link" title="Contracts"></i> -->
                                                    <div class="dropdown">
                                                        <span class="dropdown-toggle" type="text" data-toggle="dropdown"><i
                                                                class="fas fa-ellipsis-h"></i></span>
                                                        <ul class="dropdown-menu assets_list">
                                                            <li class="li-bottom"><a data-toggle="modal" class="get_scripts"
                                                                    data-target="#scripts_modal">Scripts</a></li>
                                                            <li><a data-toggle="modal" class="get_asset"
                                                                    data-target="#asset_modal">Assets</a></li>
                                                            <!-- <li><a href="#">Lead Status</a></li> -->
                                                        </ul>
                                                    </div>

                                                    <span class="fas fa-close" onClick="window.location.reload()"></span>
                                                </span>
                                            </h5>
                                        </div>
                                        <div class="panel-body main_chat_head">
                                            <div id="collapse1" class="panel-collapse collapse in">
                                                <div class="side_tab">
                                                <div class="panel1 row">
                                                    {% if request.session.usertype == 1 %}
                                                    <div class="panel1 row">
                                                            <ul id="chat_box" class="media-list chat_box chat-list content-group">
                                                            </ul>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer big-footer"> 
                                            <div class="row campaign_chat"></div>
                                            {% if request.session.usertype == 1 %} <div
                                                class="chat_bar chb">
                                                
                                                    <form method="post" id="send_msg"> {% csrf_token %} <div
                                                            class="col-md-10 text-right">
                                                            <ul class="dropdown-menu1" id="vendor_list">
                                                                <li><label><input type="checkbox" id="allcheck"
                                                                            class="default" value="0" />
                                                                        <img class="chat_img"
                                                                            src='{% static "/icons/all.jpg" %}'>
                                                                        <span class="vendor_chat_name">All</span>
                                                                    </label>
                                                                </li>
                                                                <li><label><input type="checkbox" name="vendor_names"
                                                                            class="superadmin 3 vendor_names default"
                                                                            value="3" data-vendor-name="Superadmin" />
                                                                        <img class="chat_img"
                                                                            src='{% static "/icons/superadmin.jpg" %}'>
                                                                        <span class="vendor_chat_name">Superadmin</span>
                                                                    </label>
                                                                </li>
                                                            </ul>
                                                            <input type="text" name="message" id="message" autocomplete="off"
                                                                class="form-control" required
                                                                placeholder="Enter your message..." tabindex="-1" />
                                                            <input type="hidden" name="camp_id" id="camp_id"
                                                                value="{{camp.id}}" tabindex="-1" />
                                                            <input type="hidden" name="client_id" id="client_id"
                                                                value="{{client_id}}" tabindex="-1" />
                                                            <input type="hidden" name="sender_id" id="sender_id"
                                                                value="{{sender_id}}" tabindex="-1" />
                                                            <input type="hidden" name="profilepic" id="profilepic"
                                                                value="media/{{request.session.profilepic}}"
                                                                tabindex="-1" />
                                                            <input type="hidden" name="time" id="time"
                                                                value="{% now 'jS F Y H:i' %}" tabindex="-1" />
                                                        </div>
                                                        <div class="col-md-2 text-right">
                                                            <span data-toggle="modal" data-target="#chat_attach_modal"
                                                                style="margin-left:-54px;"><i
                                                                    class="glyphicon glyphicon-paperclip"></i></span>
                                                            <button type="submit" class="btn btn-primary"><b><i
                                                                        class="fa fa-paper-plane"></i></b></button>
                                                        </div>
                                                    </form>
                                                
                                            </div> {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </section>                                                   
                        </div>
                    </div>
                </div>
            </div>
            <!--Chart Section End-->

            <!--Main Campaign Name Page-->
            <div class="col-md-12" style="overflow: auto;">
                <div class="panel campaign_panel1 panel-flat first ">
                    <div class="panel-body">
                        <div id="centertext" style="padding-bottom: 10px;">
                            <!-- {% if request.session.usertype == 1 %}
                            <a href="/client/campaign_type/">
                                <button type="button" class="btn btn-primary btn-raised bt12">Create Campaign</button>
                            </a>
                            {% endif %} -->
                            <!-- <div class="right_btn" >
                                <div class="dropdown">
                                    <button type="button" class="btn btn-primary btn-raised dropdown-toggle"  data-toggle="dropdown">Action</button>
                                    <ul class="dropdown-menu action_drop" role="menu">
                                      <li role="presentation" class="li-bottom">
                                        
                                        <div role="menuitem" data-target="#view_abm_modal" id="open_abm_modal" data-toggle="modal">
                                            <span style="font-size: 15px;cursor: default;"><i class="fa fa-sticky-note file_icon"></i>
                                            ABM File
                                        </div>
                                      </li>
                                      <li role="presentation" class="li-bottom" >
                                        <div role="menuitem" data-target="#view_supr_modal" data-toggle="modal" id="open_suppression_modal">
                                            <span style="font-size: 15px;cursor: default;"><i class="fa fa-sticky-note file_icon"></i>
                                            Suppression File
                                        </div>
                                      </li>
                                  </ul>
                                </div>
                                
                                <div class="dropdown">
                                    <button type="button" title="campaign filters"
                                        class="btn btn-primary btn-raised dropdown-toggle filter_dropdown" id="menu2">
                                        <i class="fa fa-filter" style="font-size:18px"></i></button>
                                    <ul class="dropdown-menu drop_open filter_drop" role="menu" aria-labelledby="menu2">
                                        <form method="post" enctype="multipart/form-data"> {% csrf_token %} <li>
                                                <input type="text" name="search_campaign"
                                                    value="{% if filter_camp != None %}{{filter_camp}}{% endif %}"
                                                    placeholder="Search Campaign" class="inp">
                                            </li>
                                            <li>
                                                <input style="margin-top:5%" type="text" id="rangeDate"
                                                    placeholder="select campaign date" data-input class="inp"><i
                                                    class="fa fa-times" aria-hidden="true" id="clear_date"
                                                    title="Clear"></i>
                                            </li>
                                            <li></li>
                                            <input type="text" style="display:none" name="search_date" id="search_date">
                                            <li class="li-styles">
                                                <div class="multi-select-full" style="padding: 3% 1% 0 3%;">
                                                    <select class="multiselect-filtering" multiple="multiple">
                                                        <option value="cheese">Cheese</option>
                                                        <option value="tomatoes">Tomatoes</option>
                                                        <option value="mozarella">Mozzarella</option>
                                                        <option value="mushrooms">Mushrooms</option>
                                                    </select>
                                                    
                                                </div>
                                            </li>
                                            <li class="li-styles">
                                               
                                                <div class="multi-select-full" style="padding: 3% 1% 0 3%;">
                                                    <select class="multiselect-filtering" multiple="multiple">
                                                        <option value="cheese">Cheese</option>
                                                        <option value="tomatoes">Tomatoes</option>
                                                        <option value="mozarella">Mozzarella</option>
                                                        <option value="mushrooms">Mushrooms</option>
                                                    </select>
                                                </div>
                                               
                                            </li>
                                            <li class="li-styles">
                                                <select name="campaign_type" class="sel">
                                                    {% for type in campaign_types %} <option value="{{type}}"
                                                        {% if type in filter_camp_type %}selected{% endif %}>{{type}}
                                                    </option> {% endfor %} </select>
                                            </li>
                                            <li class="li-styles">
                                                <select name="custom_question_status" class="sel">
                                                    <option value="">Select custom question status</option>
                                                    <option value="yes"
                                                        {% if custom_question_status == 1 %}selected{% endif %}>Yes
                                                    </option>
                                                    <option value="no"
                                                        {% if custom_question_status == 0 %}selected{% endif %}>No
                                                    </option>
                                                </select>
                                            </li>
                                            <li class="li-styles">
                                                <select name="abm_status" class="sel">
                                                    <option value="">Select ABM status</option>
                                                    <option value="yes" {% if abm_status == 1 %}selected{% endif %}>Yes
                                                    </option>
                                                    <option value="no" {% if abm_status == 0 %}selected{% endif %}>No
                                                    </option>
                                                </select>
                                            </li>
                                            <li class="li-styles">
                                                <select name="suppression_status" class="sel">
                                                    <option value="">Select suppression status</option>
                                                    <option value="yes"
                                                        {% if suppression_status == 1 %}selected{% endif %}>Yes</option>
                                                    <option value="no"
                                                        {% if suppression_status == 0 %}selected{% endif %}>No</option>
                                                </select>
                                            </li>
                                            <li class="li-styles">
                                                <div style="">
                                                    <button class="btn btn-primary submit-btn" title="apply"
                                                        type='submit'><i class="fa fa-check"></i> Submit</button>
                                                    <button type="button" id="clear_camp_filter" title="clear"
                                                        class="btn btn-danger legitRipple btn-color"><i
                                                            class="fa fa-close"></i>&nbsp;Clear</button>
                                                    <button type="button"
                                                        class="btn btn-primary pull-right close_camp_filter"
                                                        title="close">Close</button>
                                                </div>
                                            </li>
                                        </form>
                                    </ul>
                                </div>
                                <a href="/client/create-campaign/">
                                    <button type="button" class="btn btn-primary btn-raised" title="Manual Campaign"><i class='fa fa-file-o'
                                        style='font-size:17px;color:#fff!important;'></i></button>
                                </a> 
                                <button type="button" class="btn btn-primary btn-raised" title="Bulk Campaign" data-target="#view_bulk_modal" data-toggle="modal"><i class='fa fa-files-o'
                                        style='font-size:17px;color:#fff!important;'></i></button>
                            </div> -->
                        </div>
                    </div>
                    <div class="table-responsive-sm">
                            <!-- Campaign filters Akshay G. -->
                            
                            <div class="table-responsive">
                            <table id="Pause_campaign_table" class="table text-nowrap">
                                <thead>
                                    <!--Heading for Live campaign-->
                                    <tr class="active ">
                                        <th colspan="1">Pause Campaign</th>
                                        <th>Description</th>
                                        <th class=""></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for camp in camps %}
                                    {% if camp.status == 2 %}
                                    <!--List of Live campaign-->
                                    <tr class="shadow ">
                                        <td class="show_camp" camp_id="{{camp.id}}">
                                            <div class="media-left">
                                                <div class=""><a href="#" class="text-default text-semibold show_camp">
                                                        {{camp.name|truncatechars:20 }}</a></div>
                                                <div class="text-muted text-size-small" style="display:none">
                                                    <span class="status-mark border-blue position-left"></span>
                                                    02:00 - 03:00
                                                </div>
                                            </div>
                                        </td>
                                        <td class="show_camp" camp_id="{{camp.id}}">
                                            <div>{{camp.description|truncatechars:100}}</div>
                                        </td>
                                        <td class="campagin_icons">
                                            <ul class="icons-list">
                                                <li><a href="/client/resume-campaign/{{camp.id}}"><i
                                                    class="bqX brq fas fa-undo" title="Resume Campaign"></i></a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>

                                    {%endif%}
                                    {%endfor%}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--/Main Campaign Name Page-->


            <!--Campaign Notebook Page-->
            <div class="col-md-12 notebook" style="display: none;">
                <div class="col-md-7">
                    <div class="panel campaign_panel panel-flat">
                        <div class="panel-body scroll">
                            <div id="centertext" style="padding-bottom: 10px;">
                               <!--  <a href="/client/create-campaign/">
                                    <button type="button" class="btn btn-primary btn-raised bt12">Create
                                        Campaign</button>
                                </a> -->
                            </div>
                            <div class="table-responsive">
                                <table id="side_tabel_campaign_notebook" class="table text-nowrap">
                                    <thead>
                                        <!--Heading for Pause campaign-->
                                        <tr class="active">
                                            <td colspan="1">Pause Campaign</td>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for camp in camps %}
                                        {% if camp.status == 2 %}
                                        <tr class="shadow show_camp" id="show_camp{{camp.id}}" camp_id="{{camp.id}}">
                                            <td>
                                                <div class="media-left">
                                                    <div class=""><a href="#" id="{{camp.id}}"
                                                            class="text-default text-semibold show_camp">{{ camp.name }}</a>
                                                    </div>
                                                    <div class="text-muted text-size-small" style="display:none">
                                                        <span class="status-mark border-blue position-left"></span>
                                                        02:00 - 03:00
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {%endif%}
                                        {%endfor%}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 cols_5">
                    <div class="panel campaign_panel1 panel-flat ">
                        <div class="panel-body scroll">
                            <section>
                                <div class="campaign_details">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h5 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                                    Campaign Details</a>
                                                <span class="icons" style="float:right;">
                                                    <div class="dropdown">
                                                <span class="dropdown-toggle" type="text"
                                                    data-toggle="dropdown"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                                                <ul class="dropdown-menu assets_list Tc">
                                                    <li class="li-bottom"><a data-toggle="modal" class=""
                                                            data-target="#Tc-header">TC Header</a></li>
                                                    <li><a class="client_custom_header">Custom Header</a></li>
                                                    <!-- <li><a href="#">Lead Status</a></li> -->
                                                </ul>
                                            </div>
                                                    <i class="glyphicon glyphicon-paperclip" id="aggrements" camp_id=""
                                                        title="aggrements" data-toggle="modal"
                                                        data-target="#Aggrements_models"></i>
                                                    <!--   <i class="fas fa-link" title="Contracts"></i> -->
                                                    <div class="dropdown">
                                                        <span class="dropdown-toggle" type="text"
                                                            data-toggle="dropdown"><i
                                                                class="fas fa-ellipsis-h"></i></span>
                                                        <ul class="dropdown-menu assets_list">
                                                            <li  class="li-bottom"><a data-toggle="modal" class="get_scripts"
                                                                    data-target="#scripts_modal">Scripts</a></li>
                                                            <li><a data-toggle="modal" onclick="" class="get_asset"
                                                                    data-target="#asset_modal">Assets</a></li>
                                                            <!-- <li><a href="#">Lead Status</a></li> -->
                                                        </ul>
                                                    </div>
                                                    <!-- <span> <i class="far fa-thumbs-up"></i></span> -->
                                                    <!-- onclick="myFunctionClose() " -->
                                                    <span class="fas fa-close"
                                                        onClick="window.location.reload()"></span>
                                                </span>
                                            </h5>
                                        </div>
                                        <div class="panel-body">
                                            <div id="collapse1" class="panel-collapse collapse in">
                                            <div class="side_tab">
                                                <div class="panel1 row">
                                                    <p style="text-transform: capitalize;"><strong>Campaign Name :
                                                        </strong>
                                                        <div style="color: #6d6d70" class="camp_name"></div>
                                                    </p>
                                                </div>
                                                <div class="panel1 row">
                                                    <span><strong>IO Number:</strong> <span style="color: #6d6d70"
                                                            class="camp_io"> </span></span>
                                                    <span style="padding-left:15px;"><strong>CPL:</strong> <span
                                                            style="color: #6d6d70" class="camp_cpl"></span></span>
                                                    <span style="padding-left:15px;"><strong>Volume: </strong><span
                                                            style="color: #6d6d70" class="camp_volume"></span></span>

                                                    <span style="padding-left:15px;"><strong>Type: </strong><span
                                                            style="color: #6d6d70" class="camp_type"></span></span>

                                                    <span class="agree"><i
                                                            class="fas fa-check"></i><span>Agree</span></span>
                                                </div><br>

                                                <div class="panel1 row">
                                                    <p class="btn-top" style="position:absolute">
                                                        <a class="btn btn-info btn-collapsible" id="vendor_list_tooltip"
                                                            data-toggle="tooltip" data-placement="top">
                                                            <i class="fas fa-user"></i><span>Assigned to </span>
                                                            <span class="Assigned_list tooltiptext"></span>
                                                        </a>
                                                        <!-- <a class="btn btn-info btn-collapsible"><i
                                                                class="fas fa-user"></i><span>Assigned to</span> <span
                                                                        class="Assigned_list tooltiptext"></span></a> -->

                                                        <a class="btn btn-success btn-collapsible"><i
                                                                class="icon-calendar"></i><input type="text"
                                                                class="input_date start_date" value=""
                                                                title="Start Date" readonly></a>
                                                        <a class="btn btn-success btn-collapsible" s><i
                                                                class="icon-calendar"></i><input type="text"
                                                                class="input_date datepicker2" value="" title="End Date"
                                                                readonly></a>
                                                        <a class="btn btn-warning btn-collapsible btn-exp exp"><i
                                                                class="far fa-clock"></i><span class="expiry_date_val"
                                                                id="expiry_date"></span></a>

                                                        <!-- <a class="btn btn-warning btn-collapsible"></a> -->
                                                        <a class="btn btn-warning specs_data" id="specs_data" camp_id=""
                                                            data-toggle="modal" title="View More"
                                                            data-target="#modal_large"><i class="fas fa-eye"></i></a>
                                                    </p><br>
                                                    <!-- <div class='circle col-md-4 date_pill'>
                                                        <div class="date-icon"><i class="icon-calendar"></i></div>
                                                        <span class="date">
                                                            {% if request.session.usertype == 1 %}
                                                            <input type="text" id="expiry_date"
                                                                placeholder="Expiry Date">
                                                            {% else %}
                                                            <input type="text" id="expiry_date"
                                                                placeholder="Expiry Date" disabled>
                                                            {% endif %}
                                                        </span>
                                                    </div>
                                                </div> -->

                                                    <div class="panel1 row">
                                                        <!-- <div class='circle col-md-4 vendor' id="vendor_list_tooltip"
                                                        data-toggle="tooltip" data-placement="top">
                                                        <img style="height:35px;width:30px;margin-top: 7px;"
                                                            src="http://www.clker.com/cliparts/3/V/U/m/W/U/admin-button-icon-md.png">
                                                        <label>Assigned to</label>
                                                        <div id="assigend_vendors">{{user}}</div>
                                                                        <div class="Assigned_list tooltiptext"></div>
                                                    </div> -->
                                                        <!-- <div class='circle col-md-4 date_pill'>
                                                        <div class="date-icon"><i class="icon-calendar"></i></div>
                                                        <span class="date">
                                                            <input type="text" id="start_date" placeholder="Due Date"
                                                                disabled>
                                                        </span>
                                                    </div> -->
                                                        <!-- <div class='circle col-md-4 date_pill'>
                                                        <div class="date-icon"><i class="icon-calendar"></i></div>
                                                        <span class="date">
                                                            {% if request.session.usertype == 1 %}
                                                            <input type="text" id="ending" placeholder="Due Date">
                                                            {% else %}
                                                            <input type="text" id="datepicker2" placeholder="Due Date"
                                                                disabled>
                                                            {% endif %}
                                                        </span>
                                                    </div> -->
                                                    </div>
                                                    <div class="panel1 row" style="margin-top: 50px;">
                                                        <textarea rows="4" cols="4" id="camp_desc"
                                                            class="camp_desc form-control" placeholder="Description"
                                                            disabled></textarea>
                                                    </div>
                                                </div>
                                                {% if request.session.usertype == 1 %}
                                                <div class="panel1 row" style="margin-top: 3%;">
                                                    
                                                        <ul id="chat_box"
                                                            class="media-list chat_box chat-list-page content-group" style="padding: 15px 0;">
                                                        </ul>
                                                    
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        </div>
                                        <div class="panel-footer small-footer">   
                                            {% if request.session.usertype == 1 %}
                                                <div class="chat_bar chatbar">
                                                        <div class="row">
                                                            <form method="post" id="send_msg">
                                                             {% csrf_token %} 
                                                                <div class="col-md-10 text-right">
                                                                    <ul class="dropdown-menu1" id="vendor_list">
                                                                        <li>
                                                                            <a href="#">
                                                                                <label>
                                                                                    <input type="checkbox" id="allcheck"
                                                                                        class="default" value="0" /> All </label>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <label>
                                                                                    <input type="checkbox" name="vendor_names"
                                                                                        class="default" value="3" />Superadmin
                                                                                </label>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                    <input type="text" name="message" id="asdmessage" autocomplete="off"
                                                                        class="form-control chat_show"
                                                                        placeholder="Enter your message..." />
                                                                </div>
                                                                <div class="col-md-2 txt-aligns">
                                                                    <span data-toggle="modal" data-target="#chat_attach_modal">
                                                                        <i
                                                                            class="glyphicon glyphicon-paperclip chat_show chat_shows"></i>
                                                                    </span>
                                                                    <button type="submit" class="btn btn-primary chat_show-1"
                                                                        disabled>
                                                                        <b><i class="fa fa-paper-plane"></i></b>
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        

                    </div>
                </div>
            </div>
            <!--/Campaign Notebook Page--> 
        </div>
    </div>
</div>


<div class="modal " id="Tc-header" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="border">
                <div class="modal-header">
                    <span class="tc-head">TC Header</span>
                        <button type="button"  class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <input type="checkbox" class="upload_file styled" data-camp_id="" data-camp_name="">&nbspcheckbox

                        </div>
                        <div class="col-md-4">
                                <input type="checkbox" class="upload_file styled" data-camp_id="" data-camp_name="">&nbspcheckbox
                        </div>
                        <div class="col-md-4">

                                    <input type="checkbox" class="upload_file styled" data-camp_id="" data-camp_name="">&nbspcheckbox

                        </div>
                    </div>
                    <div class="col-md-12" style="margin:3% 0">
                        <div class="col-md-4">
                            <input type="checkbox" class="upload_file styled" data-camp_id="" data-camp_name="">&nbspcheckbox

                        </div>
                        <div class="col-md-4">
                                <input type="checkbox" class="upload_file styled" data-camp_id="" data-camp_name="">&nbspcheckbox
                        </div>
                        <div class="col-md-4">

                                    <input type="checkbox" class="upload_file styled" data-camp_id="" data-camp_name="">&nbspcheckbox

                        </div>
                    </div>
                </div>
                <div class="moder-footer" style="    margin-left: 80%;">
                    <button type="button" class="btn submit-btn  ">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bulk Cam. Modal -->
<div class="modal " id="view_bulk_modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content contents ">
            <div class="borders">
                <div class="modal-body-2 ">

                <div class="bottoms">
                    <button type="button" class="close" data-dismiss="modal" style="margin-right: 6%;">&times;</button>
                    <span><i class="fa fa-file-text-o pan"
                            style="font-size: 22px;color: #818181;text-align: center;"></i></span>
                    <h4 class="modal-title floats"> Bulk Campaign File</h4><br>
                </div>
                <center>
                    <!-- upload ABM file for bulk normal campaigns...Akshay G. -->
                    <form id="upload_abm_form">
                        <label for="upload_abm" class="custom-file-upload btn btn-info btn-md ellipsis name-1"> Browse </label>
                        <input id="upload_abm" name='upload_abm' type="file" style="display:none;" accept=".csv">
                    </form>
                    <p class="Action_down">
                        <a href="#">
                            <span class="glyphicon glyphicon-download-alt"
                                style="font-size: 20px;color: #4294da;"></span>
                            <b> Download sample file</b>
                        </a>
                    </p>
                    <p style="padding: 5%;color: #9c9494;">
                        You can import up to 1000 records through an .xls, .xlsx, .vcf, or .csv file. To import more than 1000 records at a time, use a .csv file.
                    </p>
                </center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info">Next</button>
                <button type="button" class="cancel_btn btn-color" data-dismiss="modal">Close</button>
              </div>
            </div>            
        </div>
    </div>
</div>
<!-- ABM Modal -->
<div class="modal " id="view_abm_modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content contents">
            <div class="modal-body-2 borders">
                <div class="bottoms">
                    <button type="button" class="close" data-dismiss="modal" style="margin-right: 6%;">&times;</button>
                    <span><i class="fa fa-file-text-o pan"
                            style="font-size: 22px;color: #818181;text-align: center;"></i></span>
                    <h4 class="modal-title floats"> ABM File</h4><br>
                </div>
                <center>
                    <!-- upload ABM file for bulk normal campaigns...Akshay G. -->
                    <form id="upload_abm_form">
                        <label for="upload_abm" class="custom-file-upload btn btn-info btn-md"> Browse </label>
                        <input id="upload_abm" name='upload_abm' type="file" style="display:none;" accept=".csv">
                    </form>
                    <p class="Action_down">
                        <a href="#">
                            <span class="glyphicon glyphicon-download-alt"
                                style="font-size: 20px;color: #4294da;"></span>
                            <b> Download sample file</b>
                        </a>
                    </p>
                </center>
                <div class="modal-body-1">
                    <div class="abm_suppression_camp_name hidden">Campaigns Selected for ABM File</div>
                    <p style="padding: 0 10% 0 15%">
                        <ul class="list-1" id="abm_camp_list">
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Modal  -->
<!-- Suppression Modal -->
<div class="modal " id="view_supr_modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content contents">
            <div class="modal-body-2 borders">
                <div class="bottoms">
                    <button type="button" class="close" data-dismiss="modal" style="margin-right: 6%;">&times;</button>
                    <span><i class="fa fa-file-text-o pan"
                            style="font-size: 22px;color: #818181;text-align: center;"></i></span>
                    <h4 class="modal-title floats"> Suppression File</h4><br>
                </div>
                <center>
                    <!-- upload suppression file for bulk campaigns...Akshay G. -->
                    <form id="upload_supr_form">
                        <label for="upload_suppression" class="custom-file-upload btn btn-info btn-md"> Browse </label>
                        <input id="upload_suppression" name='upload_suppression' type="file" style="display:none;"
                            accept=".csv">
                    </form>
                    <p class="Action_down">
                        <a href="#">
                            <span class="glyphicon glyphicon-download-alt"
                                style="font-size: 20px;color: #4294da;"></span>
                            <b> Download sample file</b>
                        </a>
                    </p>
                </center>
                <div class="modal-body-1">
                    <div class="abm_suppression_camp_name hidden">Campaigns Selected for Suppression File</div>
                    <p style="padding: 0 10% 0 15%">
                        <ul class="list-1" id="suppression_camp_list">
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Modal  -->
<!--aseets model Start-->
<div class="modal " id="asset_modal" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="border">
                <div class="modal-header">
                    <h1 class="modal-title">Add Assets for <span id="campaign_name" class="title_brk"></span></h1>
                    <button type="button" class="close" data-dismiss="modal" style="margin-top: -20px;margin-right: -25px;">&times;</button>
                </div>
                <div  class="modal-body">
                    <div class="col-md-8">
                        <form id="asset_form" method="post" enctype="multipart/form-data">
                            <div>
                                {% csrf_token %}
                                <input type="hidden" name="campaign" id="campid">
                                <label class="label1">Assets Name :</label><input type="text" name="assets_name" id="assets_name"
                                    required=""><br>
                                <label class="label1">Type of assets:</label>
                                <div id="assets_holder" name="assets_holder">
                                </div>
                                <label class="label1">Sponsers:</label><input type="text" name="sponsers" id="sponsers"><br>
                                <label class="label1">Asset distributor :</label><input type="text" name="asset_distributor"
                                    id="asset_distributor"><br>
                                <label class="label1">Add assets link :</label><input type="text" name="add_assetslink"
                                    id="add_assetslink">
                            </div>   
                        </form>
                        <div class="modal-footer"><br>
                                <button type="submit" class="btn btn-primary submit-btn legitRipple pull-right" id="submit_assets">Submit<span
                                        class="legitRipple-ripple"></span></button>
                        </div>
                    </div>
                    <div class="col-md-3">
                          <img  src="{% static '/icons/asset.gif' %}" width="250">
                    </div>
                </div>
            </div>
            <!-- <div class="modal-header">
                <div class="col-md-12 bgset">

                    <h1 class="modal-title">Add Assets for <span id="campaign_name"></span></h1>
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form id="asset_form" method="post" enctype="multipart/form-data">
                <div class="modal-body">

                    {% csrf_token %}
                    <input type="hidden" name="campaign" id="campid">
                    <label class="label1">Assets Name :</label><input type="text" name="assets_name" id="assets_name"
                        required=""><br>
                    <label class="label1">Type of assets:</label>
                    <div id="assets_holder" name="assets_holder">
                    </div>
                    <label class="label1">Sponsers:</label><input type="text" name="sponsers" id="sponsers"><br>
                    <label class="label1">Asset distributor :</label><input type="text" name="asset_distributor"
                        id="asset_distributor"><br>
                    <label class="label1">Add assets link :</label><input type="text" name="add_assetslink"
                        id="add_assetslink">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary legitRipple pull-right" id="submit_assets">Submit<span
                            class="legitRipple-ripple"></span></button>
                </div>
            </form> -->
        </div>
    </div>
</div>

<!--aseets model end-->
<!-- aggrements -->
<div class="modal " id="Aggrements_models" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- <div class="col-md-12 " style="margin-top:20px;">
                <div class="modal-header MH">
                    <h5 class="modal-title h1" id="exampleModalLongTitle">Agreements</h5>

                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="border:0px;">
                <div class="col-md-6 padd1" style="border-top: 1px solid #afaaaa;padding: 2px;">
                    <p class='lead nd'><span>NDA Agreement </span></p>
                </div>
                <div class="col-md-6 padd" style="border-top: 1px solid #afaaaa;padding: 1px;">
                    <span id='nda_icon' class="label bg-danger text-semibold">Due<br></span>
                </div>
                <div class="col-md-6 padd1">
                    <p class='lead ms'><span>MSA Agreement </span></p>
                </div>
                <div class="col-md-6 padd">
                    <span id='msa_icon' class="label bg-danger text-semibold">Due</span>
                </div>
                <div class="col-md-6 padd1">
                    <p class='lead gdp'><span>GDPR Agreement </span></p>
                </div>
                <div class="col-md-6 padd">
                    <span id='gdpr_icon' class="label bg-danger text-semibold">Due</span>
                </div>
                <div class="col-md-6 padd1">
                    <p class='lead dp'><span>DPA Agreement </span></p>
                </div>
                <div class="col-md-6 padd">
                    <span id='dpa_icon' class="label bg-danger text-semibold">Due</span>
                </div>
                <div class="col-md-6 padd1">
                    <p class='lead io'><span>IO Agreement </span></p>
                </div>
                <div class="col-md-6 padd">
                    <span id='io_icon' class="label bg-danger text-semibold">Due</span>
                </div>
            </div>
            <div class="modal-footer">
            </div> -->
            <div class="border">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                     <h5 class="modal-title h1" id="exampleModalLongTitle">Agreements</h5>
                </div>
                <div class="modal-body">
                    <div class="ager">
                        <span class='lead nd'><a data-toggle="collapse" href="#collapse-group1" class="nd-1">NDA Agreement</a></span>
                            <div class="panel panel-white"></div>
                        
                         <form class="md-form">
                          <div class="file-field">
                            <div class="btn btn-primary btn-sm btn-browse">
                              <span>Browse</span>
                              <input type="file">
                            </div>
                          </div>
                        </form>
                    </div>
                    <div id="collapse-group1" class="panel-collapse collapse pan-colapse">
                        <div class="panel-body">                            
                            <!-- <div class="row">
                                <div class="col-sm-12">
                                   <div class="col-sm-8">
                                       Vendor Name
                                   </div>
                                   <div class="col-sm-4">
                                        <div class="col-sm-2">
                                            <i class="far fa-check-circle "></i> 
                                        </div>
                                        <div class="col-sm-2 pull-right">
                                            <i class="fa fa-close "></i>
                                        </div>
                                   </div>
                                </div>
                            </div> -->
                            
                            <ul>
                                <li class="li-1">
                                    <div class="elips">
                                        Vendor Name
                                    </div>
                                    <div class="pull-right pulls">
                                       <i class="far fa-check-circle pulls-1"></i>
                                    <img src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Close_Icon_Circle-512.png" class="iclose"> 
                                    </div>                                   
                                </li><hr>
                                <li>
                                    <div class="elips">
                                        Vendor Name
                                    </div>
                                    <div class="pull-right pulls" >
                                       <i class="far fa-check-circle pulls-1"></i>
                                    <img src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Close_Icon_Circle-512.png" class="iclose"> 
                                    </div> 
                                </li><hr>
                                <li>
                                    <div class="elips">
                                        Vendor Name
                                    </div>
                                    <div class="pull-right pulls" >
                                       <i class="far fa-check-circle pulls-1"></i>
                                    <img src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Close_Icon_Circle-512.png" class="iclose"> 
                                    </div> 
                                </li><hr>
                            </ul>
                        </div>
                    </div>
                    <div class="ager" style="background:#5a8ec3ad;">
                        <span class="lead ms"><a data-toggle="collapse" href="#collapse-group2" class="nd-1">MSA Agreement</a></span>
                        <div class="panel panel-white"></div>
                        <form class="md-form">
                          <div class="file-field btn-icon">
                            <!-- <div class="btn btn-primary btn-sm btn-browse">
                              <span>Browse</span>
                              <input type="file">
                            </div> -->
                            <i class="far fa-check-circle sign"></i>
                          </div>
                        </form>
                    </div>
                    <div id="collapse-group2" class="panel-collapse collapse pan-colapse">
                        <div class="panel-body">
                            <ul>
                                <li>
                                    <div class="elips">
                                        Vendor Name
                                    </div>
                                    <div class="pull-right pulls" >
                                       <i class="far fa-check-circle pulls-1"></i>
                                    <img src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Close_Icon_Circle-512.png" class="iclose"> 
                                    </div>                                   
                                </li><hr>
                                <li>
                                    <div class="elips">
                                        Vendor Name
                                    </div>
                                    <div class="pull-right pulls" >
                                       <i class="far fa-check-circle pulls-1"></i>
                                    <img src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Close_Icon_Circle-512.png" class="iclose"> 
                                    </div> 
                                </li><hr>
                                <li>
                                    <div class="elips">
                                        Vendor Name
                                    </div>
                                    <div class="pull-right pulls" >
                                       <i class="far fa-check-circle pulls-1"></i>
                                    <img src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Close_Icon_Circle-512.png" class="iclose"> 
                                    </div> 
                                </li><hr>
                            </ul>
                        </div>
                    </div>
                    <div class="ager" style="background:#f1a1a1b8;">
                        <span class='lead gdp'><a data-toggle="collapse" href="#collapse-group3" class="nd-1">GDPR Agreement </a></span>
                        <div class="panel panel-white"></div>
                        <form class="md-form">
                          <div class="file-field">
                            <div class="btn btn-primary btn-sm btn-browse">
                              <span>Browse</span>
                              <input type="file">
                            </div>
                          </div>
                        </form>
                    </div>
                    <div id="collapse-group3" class="panel-collapse collapse pan-colapse">
                        <div class="panel-body">
                            <ul>
                                <li>
                                    <div class="elips">
                                        Vendor Name
                                    </div>
                                    <div class="pull-right pulls" >
                                       <i class="far fa-check-circle pulls-1"></i>
                                    <img src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Close_Icon_Circle-512.png" class="iclose"> 
                                    </div>                                   
                                </li><hr>
                                <li>
                                    <div class="elips">
                                        Vendor Name
                                    </div>
                                    <div class="pull-right pulls" >
                                       <i class="far fa-check-circle pulls-1"></i>
                                    <img src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Close_Icon_Circle-512.png" class="iclose"> 
                                    </div> 
                                </li><hr>
                                <li>
                                    <div class="elips">
                                        Vendor Name
                                    </div>
                                    <div class="pull-right pulls" >
                                       <i class="far fa-check-circle pulls-1"></i>
                                    <img src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Close_Icon_Circle-512.png" class="iclose"> 
                                    </div> 
                                </li><hr>
                            </ul>
                        </div>
                    </div>
                    <div class="ager" style="background:#77cbeab8;">
                        <span class='lead dp'><a data-toggle="collapse" href="#collapse-group4" class="nd-1">DPA Agreement </a></span>
                        <div class="panel panel-white"></div>
                        <form class="md-form">
                          <div class="file-field btn-icon">
                            <!-- <div class="btn btn-primary btn-sm btn-browse">
                              <span>Browse</span>
                              <input type="file">
                            </div> -->
                            <i class="far fa-check-circle sign"></i>
                          </div>
                        </form>
                    </div>
                    <div id="collapse-group4" class="panel-collapse collapse pan-colapse">
                        <div class="panel-body">
                            <ul>
                                <li>
                                    <div class="elips">
                                        Vendor Name
                                    </div>
                                    <div class="pull-right pulls" >
                                       <i class="far fa-check-circle pulls-1"></i>
                                    <img src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Close_Icon_Circle-512.png" class="iclose"> 
                                    </div>                                   
                                </li><hr>
                                <li>
                                    <div class="elips">
                                        Vendor Name
                                    </div>
                                    <div class="pull-right pulls" >
                                       <i class="far fa-check-circle pulls-1"></i>
                                    <img src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Close_Icon_Circle-512.png" class="iclose"> 
                                    </div> 
                                </li><hr>
                                <li>
                                    <div class="elips">
                                        Vendor Name
                                    </div>
                                    <div class="pull-right pulls" >
                                       <i class="far fa-check-circle pulls-1"></i>
                                    <img src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Close_Icon_Circle-512.png" class="iclose"> 
                                    </div> 
                                </li><hr>
                            </ul>
                        </div>
                    </div>
                    <div class="ager" style="background: #eebe58e0;">
                        <span class='lead io'><a data-toggle="collapse" href="#collapse-group5" class="nd-1">IO Agreement </a></span>
                        <div class="panel panel-white"></div>
                        <form class="md-form">
                          <div class="file-field">
                            <div class="btn btn-primary btn-sm btn-browse">
                              <span>Browse</span>
                              <input type="file">
                            </div>
                          </div>
                        </form>
                    </div>
                    <div id="collapse-group5" class="panel-collapse collapse pan-colapse">
                        <div class="panel-body">
                            <ul>
                                <li>
                                    <div class="elips">
                                        Vendor Name
                                    </div>
                                    <div class="pull-right pulls" >
                                       <i class="far fa-check-circle pulls-1"></i>
                                        <img src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Close_Icon_Circle-512.png" class="iclose"> 
                                    </div>                                   
                                </li><hr>
                                <li>
                                    <div class="elips">
                                        Vendor Name
                                    </div>
                                    <div class="pull-right pulls" >
                                       <i class="far fa-check-circle pulls-1"></i>
                                        <img src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Close_Icon_Circle-512.png" class="iclose"> 
                                    </div> 
                                </li><hr>
                                <li>
                                    <div class="elips">
                                        Vendor Name
                                    </div>
                                    <div class="pull-right pulls" >
                                       <i class="far fa-check-circle pulls-1"></i>
                                        <img src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Close_Icon_Circle-512.png" class="iclose"> 
                                    </div> 
                                </li><hr>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Specs modal -->
<div id="modal_large" class="modal ">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="border"></div>
           
        </div>
    </div>
</div>
<!-- Specs modal -->
<!-- Add scripts modal start -->
<div class="modal " id="scripts_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="border">
                <div class="modal-header">
                    <button type="button" style="margin-top: -50px;" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div>
                        <center>
                            <img class="header-img" src="{% static "/icons/script.gif" %}">
                            <h4 class="modal-title" id="exampleModalLongTitle">Scripts</h4>
                        </center>
                    </div>
                </div>
                <div class="modal-body">
                    <!-- <div class="col-md-12">
                        <center>
                            <a class="hidden" id="script_link" download><button
                                    class="btn btn-primary script-color btn-sm float-left">View Script</button></a>
                        </center>
                        <form id="script_form" method="post" enctype="multipart/form-data"> {% csrf_token %} <input
                                type="hidden" name="campaign" id="camp_script_id">
                            <div class="file-field">
                                <center>
                                    <div class="btn btn-primary script-color btn-sm float-left">
                                        <span class="name ellipsis">Choose file</span>
                                        <input type="file" name="client_script" id="id_client_script">
                                    </div>
                                </center>
                            </div>
                            <button type="submit" class="btn btn-primary submit-btn legitRipple pull-right"
                                id="submit_script"> Submit <span class="legitRipple-ripple"></span></button>
                        </form>
                    </div> -->
                    <ul class="vendor_info">
                        <li>
                            <div class="col-md-10 ven_nam">ClientT</div>
                            <div class="col-md-2  ven_icon"><center><i class="fa fa-eye view_eye" data-toggle="modal" data-target="#scripts_view"aria-hidden="true"></i></center></div>
                        </li>
                        <li>
                            <div class="col-md-10 ven_nam">HIP</div>
                            <div class="col-md-2  ven_icon"><center><i class="fa fa-eye-slash" aria-hidden="true"></i></center></div>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!--Scripts View-->
<div class="modal " id="scripts_view" role="dialog">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
                 <iframe class="iframe" src="http://www.africau.edu/images/default/sample.pdf"></iframe>
        </div>
    </div>
</div>
<!-- Add scripts modal end -->
<!--attachment to chat -->
<div class="modal " id="chat_attach_modal" role="dialog">
    <div class="modal-dialog " style="width:45%;">
        <div class="modal-content">
            <div class="border">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="modal-title">Send Attachment</h1>
            </div>
            <form method="post" id="chat_attach_form" enctype="multipart/form-data">
                <div class="modal-body">

                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">
                                <label>Enter Title</label>
                                <input type="text" id="file_title" name="title" class="form-control" placeholder="Enter Title" />
                            </div>

                        </div>
                        <div class="col-md-6">

                            <div class="attach-file-field">
                                <label>Select File</label><br />
                                <div class="btn btn-primary btn-sm float-left">
                                    <div id="chat_file_name" class="name ellipsis">Browse</div>
                                    <input type="file" name="filename" required />
                                    <input type="hidden" name="camp_id" id="chat_camp_id" value="{{camp.id}}" />
                                </div>
                                <!-- <button type="button" title="remove file" class="btn btn-default" id="remove_chat_attachment_file" style="display:none">
                                    <i class="icon-cross3"></i> 
                                    <span class="hidden-xs">Remove</span>
                                </button> -->
                                <div class="pull-right div-aligns">
                                    <i class="far fa-times-circle btn-colors" style="display: none" title="remove file" id="remove_chat_attachment_file"></i>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12">

                            <div class="form-group">
                                <label>Select Users</label>
                                <div class="multi-select-full">
                                    <select class="multiselect-select-all" name="ids[]" id="chat_vendor_list"
                                        multiple="multiple">
                                        <option value="3">Superadmin</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary legitRipple pull-right">Send<span
                                    class="legitRipple-ripple"></span></button>
                        </div>
            </form>
            </div>
        </div>
    </div>
</div>

<!-- /page container -->
{% include "campaign/js/client_pause_cam_js_css.html"%}
{% include "campaign/js/accountjs.html"%}
{% include "campaign/js/campaign_notebook.html" %}
{% include "campaign_chat/js/chatjs.html"%}
{% endblock %}