{% extends "header/cheader.html" %}
{% block scripts %}
{% include "campaign/client_campaigncss.html" %}
{% include "campaign/client_campaignhead.html" %}

{% endblock %}
{% block content %}
<!-- Main sidebar -->
{% include "side/clientside.html" %}
<style type="text/css">
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #ddd;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ddd;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  /* hide spinners for lead number field...Akshay G..Date - 13th Nov, 2019 */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type=number] {
      -moz-appearance:textfield; /* Firefox */
}
</style>
<!-- Main content -->
<div class="content-wrapper">
  <!-- Content area -->
  <div style="padding: 20px;margin-top: 38px;">
    <div class="row">
      <!-- Top Clients List -->
      <div class="panel panel-height panel-flat">
         <div class="panel-heading">
            <p id="font14">
               <span class="label label-primary AcceptanceRate">CID : </span>&nbsp&nbsp <span
                 class="label label-info AcceptanceRate">#{{campdata.userid}} </span>
               <span class="label label-primary AcceptanceRate spanleft">Client-Name: </span>&nbsp&nbsp<span
                 class="label label-info AcceptanceRate">{{campdata.username}}</span>
            </p>
            <p id="font14">
               <span class="label label-primary AcceptanceRate">C-CPL </span>&nbsp&nbsp <span
                 class="label label-info AcceptanceRate" id="clientcpl">${{ campdata.cpl|floatformat:2 }}</span>
               <span class="label label-primary AcceptanceRate spanleft">Target Quantity </span>&nbsp&nbsp<span
                 class="label label-info AcceptanceRate" id="clienttarget">{{campdata.targat_quantity}}</span>
               <span class="label label-primary AcceptanceRate1">Remaining Quantity </span>&nbsp&nbsp<span
                 class="label label-info AcceptanceRate1" id="target_quantitylead">{{campdata.ramaining_quantity}}</span>
               <span class="label label-primary AcceptanceRate1 spanleft">Approved Leads </span>&nbsp&nbsp<span
                 class="label label-info AcceptanceRate1">{{campdata.approveleads}}</span>
            </p>
            <button class="btn btn-primary pull-right" id="submit_all_data" style="margin-top: -4%;" {% if campdata.ramaining_quantity == 0 or total_quotation.cpl > campdata.cpl or total_quotation.total_lead > campdata.ramaining_quantity%} disabled {% endif %}>Bulk allocation</button>
            <div class="panel-body">
               <div class="row">
                  <div class="col-lg-12 col-sm-12">
                    <div class="row">
                      <div class="table-responsive-sm">
                        <table id="cpl_lead_alloc_table" class="table  datatable-column-search-inputs DataTables cpl_lead_alloc_table">
                          <thead>
                            <tr>
                              <th style="width: 5%;" class="th-align">sr.no</th>
                              <th style="width: 15%!important;" class="th-align">Vendor Name</th>
                              <!-- <th>Select Commision Mode</th> -->
                              <th class="th-align">Favourite</th>
                              <th class="th-align">CPL</th>
                              <th class="hidden">Rev. Share (%) </th>
                              <!-- <th>Calculation</th> -->
                              <th class="th-align">Lead</th>
                              <th class="th-align th-left">Actions</th>
                            </tr>
                           </thead>
                           <tfoot class='datatfootfilter' style="display:none">
                            <tr>
                              <td rowspan="1" colspan="1">
                                <input type="text" class="form-control input-sm" placeholder="Search Campaign">
                              </td>
                              <td rowspan="1" colspan="1">
                                <input type="text" class="form-control input-sm" placeholder="Search Type">
                              </td>
                              <!-- <td rowspan="1" colspan="1">
                                    <input type="text" class="form-control input-sm" placeholder="Search Overall">
                                </td> -->
                              <td rowspan="1" colspan="1">
                                <input type="text" class="form-control input-sm" placeholder="Search Vendors">
                              </td>
                              <!-- <td rowspan="1" colspan="1">
                                    <input type="text" class="form-control input-sm" placeholder="Search Start Date">
                              </td> -->
                              <td rowspan="1" colspan="1">
                                <input type="text" class="form-control input-sm" placeholder="Search Start Date">
                              </td>
                              <td rowspan="1" colspan="1"></td>
                            </tr>
                           </tfoot>
                           <tbody>
                            {% for row in vendor_data %}
                              <tr class="checktr">
                                 <td class="td-1">
                                    <input type="checkbox" class="styled vendor_alloc" id="{{row.checked}}"
                                    {% if row.vendor_id in rfq_quote_vendor_ids %}
                                      {% for data in vendor_quotation_data %}
                                        {% if data.vendor_id == row.vendor_id %}
                                         {% if data.checked == 1 %}checked{% endif %}
                                        {% endif %}
                                      {% endfor %}
                                    {% endif %}>
                                   <!-- <input type="checkbox" id=""  /> -->
                                 </td>
                                 <td class="td-1">{{ row.vendor_name }}</td>
                                 <!-- Add heart in vendor allocation = Kishor P. -->
                                 <td>
                                   {% if row.fav == True %}
                                   <i class="fa fa-heart add_favorite favorite-heart" ></i>
                                   {% endif %}
                                   {% if row.suggest == True %}
                                   <i class="fas fa-user-check checks-user" ></i>
                                   {% endif %}
                                 </td>
                                 <td>
                                   {% if row.vendor_id in rfq_quote_vendor_ids %}
                                     {% for data in vendor_quotation_data %}
                                       {% if data.vendor_id == row.vendor_id %}
                                         <input type="text" min="0" name="cpl" placeholder="CPL" id="cpl{{row.vendor_id}}"
                                           data-type="cpl"
                                           value="$ {% if data.cpl != 0.0 %}{{data.cpl|floatformat:2}}{% else %}{{ campdata.cpl|floatformat:2 }}{% endif %}" class="vcpl form-control"
                                           onkeyup="checkPricing(this.value,{{row.vendor_id}})"
                                         >
                                       {% endif %}
                                     {% endfor %}
                                   {% else %}
                                     <input type="text" min="0" name="cpl" placeholder="CPL" id="cpl{{row.vendor_id}}"
                                     data-type="cpl"
                                       value="$ {{ campdata.cpl|floatformat:2 }}" class="vcpl form-control"
                                       onkeyup="checkPricing(this.value,{{row.vendor_id}})">
                                   {% endif %}
                                 </td>
                                 <td class="hidden">
                                   <input type="number" min="0" name="rev_ref"
                                     onkeyup="checkRevDiff(this.value,{{row.vendor_id}})" placeholder="Revenue Ref."
                                     id="rev_ref_{{row.vendor_id}}" value="{{campdata.rev_share}}" class="form-control "
                                     onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                                 </td>
                                 <td>
                                 {% if row.vendor_id in rfq_quote_vendor_ids %}
                                     {% for data in vendor_quotation_data %}
                                       {% if data.vendor_id == row.vendor_id %}
                                         <input type="number" min="0" name="cpl"
                                             onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                                             placeholder="Leads" id="lead{{row.vendor_id}}" value="{% if data.lead != 0 %}{{data.lead}}{%endif%}"
                                             class="form-control leads_allocate">
                                       {% endif %}
                                     {% endfor %}
                                 {% else %}
                                   <input type="number" min="0" name="cpl"
                                     onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                                     placeholder="Leads" id="lead{{row.vendor_id}}" value="{{row.lead}}"
                                     class="form-control leads_allocate">
                                 {% endif %}
                                 </td>
                                 <td>
                                  {% if row.vendor_id in rfq_quote_vendor_ids %}
                                    {% for data in vendor_quotation_data %}
                                      {% if data.vendor_id == row.vendor_id %}
                                          <center><button id="{{row.vendor_id}}" cid="{{row.camp_id}}"
                                            class="btn btn-info client_data_allocate" type="button"
                                             {% if data.cpl > campdata.cpl or data.lead > campdata.ramaining_quantity and data.checked == 0 %} disabled {% endif %}
                                             {% if data.lead > campdata.ramaining_quantity %} lflag = '1' {% else %} lflag = '0' {% endif %}
                                             {% if data.cpl > campdata.cpl %} cflag = '1' {% else %} cflag = '0' {% endif %}
                                            >
                                          <i class="fa fa-plus"></i>
                                          Add</button></center>
                                      {% endif %}
                                    {% endfor %}
                                  {% else %}
                                    {% if campdata.ramaining_quantity == 0 %}
                                    <center><button id="{{row.vendor_id}}" cid="{{row.camp_id}}"
                                        class="btn btn-info client_data_allocate" type="button" disabled><i class="fa fa-plus"></i>
                                        Add</button></center>
                                    {% else %}
                                    <!-- <button type="button"  class="btn btn-info client_data_allocate">Add2</button> -->
                                    <center><button id="{{row.vendor_id}}" cid="{{row.camp_id}}"
                                        class="btn btn-info client_data_allocate" type="button"><i class="fa fa-plus"></i>
                                        Add</button></center>
                                    {% endif %}
                                  {% endif %}
                                 </td>
                              </tr>
                            {% endfor %}
                           </tbody>
                          </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- /main content -->
</div>
<!-- /page content -->
</div>
<!-- /page container -->
{% include "campaign/vendor_allocationjs.html" %}
{% endblock %}