{% extends "header/cheader.html" %}

{% block scripts %}
{% include "campaign/client_manage_campaignlead.html" %}
{% endblock %}
{% block scripts1 %}

{% include "campaign/css/campdesc.css" %}
{% include "campaign/manage_campaign.css" %}
{% endblock %}

{% block content %}
<!-- Main sidebar -->
{% include "side/clientside.html" %}

{% load static %}
{% load range %}
<style>
		.reason_div2 ul,.reason_div3 ul{
			padding-left:15px!important;
			margin: 0px;
			list-style-type: decimal;
		}
		.reason_div2,.reason_div3{
			border-radius: 6px;
			min-width: 180px;
			padding: 6px;
			color: #ffffff;
			-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
			position: absolute;
			background-color: #080101;
			z-index: 1039;
			transition: opacity 0.3s;
		}
		.reason_div2::before,
		.reason_div3::before{
			content: "";
			position: absolute;
			top: 2px;
			left: -6%;
			margin-left: -5px;
			border-width: 10px;
			border-style: solid;
			border-color: #080101 transparent transparent transparent;
			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-o-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			transform: rotate(90deg);
		}
</style>

<!-- /main sidebar -->
<div class="content-wrapper" style="padding: 15px;">
	<!-- Content area -->
	<div class="panel panel-height panel-flat" style="margin-top: 42px;">
		<!-- client registration model -->
		<div class=" panel-white ">
			<div class="row ">
				<div class="row top ">
					<div class="col-md-12">
						<div class="col-md-8 md10">
							<div class="form-group ">
								<div>
									<div class="label label-info1 lbl three">Campaign Name:</div>
									<div class="label label-info lbl four" title="{{campaigns.camp_name}}">
										{{campaigns.camp_name}}</div>
									<span class="label label-info1 lbl five">Vendor Name:</span> <span
										class="label label-info lbl six"
										title="{{campaigns.user_name}}">{{campaigns.user_name}}</span>
								</div>
								<div class="box-left">
									<div class="label label-info1 lbl">CID :</div>
									<div class="label label-info lbl ">#{{campaigns.campaign_id}}</div>
									<span class="label label-info1 lbl">Assign Leads :</span> <span
										class="label label-info lbl">{{campaigns.lead}}</span>
									<span class="label label-info1 lbl">Submitted Leads :</span> <span
										class="label label-info lbl">{{campaigns.submited_lead}}</span>
									<span class="label label-info1 lbl">Returns Leads :</span> <span
										class="label label-info lbl  ">{{campaigns.return_lead}}</span>
								</div>
								<div>
									<div class="col-md-12" style="display: none;">
										<div class="col-md-4 box-btn">

										</div>
										<div class="col-md-8" style="margin-top: 4px;">

											<div class="col-md-2 box-btn1" id="startFilter">
												<button type="button" id="filter_btn" class="btn btn-primary"
													name="button"><span id="filter_icon"
														class="glyphicon glyphicon-filter"></span>Apply Filter</button>
											</div>
											<!--end datefilter-->
											<div class="datefilter" style="display:none">
												<div class="col-md-3">
													<div class="form-group">
														<div class="input-group">
															<input type="text" class="form-control daterange-single"
																id="startDate" value="">
														</div>
													</div>
												</div>
												<div class="col-md-3">
													<div class="form-group">
														<div class="input-group">
															<input type="text" class="form-control daterange-single"
																id="endDate" value="">
														</div>
													</div>
												</div>
												<div class="col-md-2">
													<button type="button" class="btn btn-default" id="cancel_datefilter"
														name="button">cancel</button>
												</div>
											</div>
											<!--end datefilter-->
										</div>

									</div>


								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class=" btn-group btn-group-animated" style="margin-top: 3px;">

								<!-- only client can access of action (approve lead/rejected/rectified)-->

								{% if status != 4 %}
								{% if request.session.usertype != 1 and "qa_headers"|checkCustomHeader:leadlist  %}
								<button type="button"
									class="btn border-slate text-slate-800 btn-flat dropdown-toggle act"
									data-toggle="dropdown">Actions<span class="caret"></span></button>
								{%elif request.session.usertype == 1%}
								<button type="button"
									class="btn border-slate text-slate-800 btn-flat dropdown-toggle act"
									data-toggle="dropdown">Actions<span class="caret"></span></button>
								{% endif %}
								{% endif %}
								<ul class="dropdown-menu action-drop">
									<li><a href="#" class="checkbtn" status="{{campaigns.status}}"
											camp_id="{{campaigns.camp_id}}" vendor_id="{{campaigns.vendor_id}}"
											id="approve"><i class="icon-check"></i> Approve</a></li>
									<li class="divider"></li>
									<li><a href="#" class="checkbtn" status="{{campaigns.status}}"
											camp_id="{{campaigns.camp_id}}" vendor_id="{{campaigns.vendor_id}}"
											data-toggle="modal" data-target="#myModal"><i class="icon-bucket"></i>
											Reject</a></li>
									<li class="divider"></li>
									<li><a href="#" class="checkbtn" status="{{campaigns.status}}"
											camp_id="{{campaigns.camp_id}}" vendor_id="{{campaigns.vendor_id}}"
											data-toggle="modal" data-target="#myModalForRectify"><i
												class="icon-pencil7"></i>Rectify</a></li>
									<li class="divider"></li>

								</ul>
								{% if approve_leads > 0 %}
								<a href="{{export_file_name}}" class="exp" download>
									<button type="button" class="btn bg-teal btn-ladda btn-ladda-progress "
										data-style="expand-right" data-spinner-size="20"
										style="margin-left: 8px;padding-bottom: 10px;"><span class="ladda-label"> Export
										</span></button>
								</a>
								{%endif%}
							</div>
							<button type="button" class="tableView btn  btn-info"><span class="table" title="Table"><i
										class="far fa-list-alt"></i></span></button>
							{% if campaigns.submited_lead > 0 and request.session.usertype == 6 %}
							<button type="button" camp_id="{{campaigns.camp_id}}" class="btn btn-info"
								data-toggle="modal" data-target="#mycustomHeader">Add Header</button>
							{%endif%}
						</div>
					</div>



					<div class="col-md-3 status" style="display:none">
						<div class="form-group">
							<label id="campstat">Campaign Status</label><br>
							{% if status == 1 %}
							<input type="text" class="form-control" value="Live">
							{% endif %}
							{% if status == 4 %}
							<input type="text" class="form-control" value="Complete">
							{% endif %}
						</div>
					</div>

				</div>
			</div>

			<div class="">
				<div class="panel-group" id="accordion">
					<input type="hidden" id="batch_count" value="{{campaigns.batch}}">
					{% if batchlist %}
					{% for batch in batchlist %}
					<div class="panel panel-default">
						<div class="panel-heading batch_div" data-batch-id="{{batch}}" data-toggle="collapse"
							data-parent="#accordion" href="#collapse{{batch}}">
							<h5 class="panel-title">
								Batch {{batch}}
								{% for batch_c in count %}
								{% for key, value in batch_c.items %}
								{% if key == batch %}
								<span style="font-size: 14px;">({{value}} leads)</span>
								<span class="pull-right">{{batch_c.date}}</span>
								{% endif %}
								{% endfor %}
								{% endfor %}
							</h5>
						</div>

						<div id="collapse{{batch}}" class="panel-collapse collapse">
							<div class="panel-body ">
								<div class="reason_div2 reason_{{batch}} hidden"></div>
								<button type="button" class="btn btn-filter-tb btn-labeled pull-right hidden databtn"
									data-batch="{{batch}}">
									<b><span id="filter_icon" class="glyphicon glyphicon-filter"></span></b>
									Filter
								</button>
								<div class="table-responsive-sm">
									<table class="table" id="batch_{{batch}}" style="width:100%">
										<thead>
											<tr style="text-transform: capitalize;">
												{% for row in all_header %}
												{% if row == 'id' %}
												<th>{{row}}
												</th>
												{% endif %}
												{%endfor%}
												<th><input type="checkbox" class="no-sort allcheck"
														id="allcheck_{{batch}}" data-table-id="batch_{{batch}}" />
												</th>

												{% for row in all_header %}
												{% if row != 'id' and row != 'status' and row != 'TC_lead_status' and row != 'qa_headers' and row != 'reason_list' and row != 'lead_dict' %}
												<th>{{row}}</th>
												{% endif %}
												{%endfor%}

												<!-- TC status -->
												{% for row in all_header %}
												{% if row == 'TC_lead_status' %}
												<th>{{row}}</th>
												{% endif %}
												{%endfor%}
												<!--End Tc status-->

												{% for row in all_header %}
												{% if row == 'status' %}
												<th>{{row}}</th>
												{% endif %}
												{%endfor%}
											</tr>
										</thead>
										<tfoot class="datatfootfilter_{{batch}}">
											<tr>
												{% for row in all_header %}
												{% if row == 'id' %}
												<td rowspan="1" colspan="1">
													<input type="text" class="form-control input-sm"
														placeholder="{{row}}">
												</td>
												{% endif %}
												{%endfor%}
												<td rowspan="1" colspan="1"></td>

												{% for row in all_header %}
												{% if row != 'id' and row != 'status' and row != 'TC_lead_status' and row != 'qa_headers' and row != 'reason_list' and row != 'lead_dict' %}
												<td rowspan="1" colspan="1">
													<input type="text" class="form-control input-sm"
														placeholder="{{row}}">
												</td>
												{% endif %}
												{%endfor%}

												<!-- TC status -->
												{% for row in all_header %}
												{% if row == 'TC_lead_status' %}
												<td rowspan="1" colspan="1">
													<input type="text" class="form-control input-sm"
														placeholder="{{row}}">
												</td>
												{% endif %}
												{%endfor%}
												<!--End Tc status-->

												{% for row in all_header %}
												{% if row == 'status' %}
												<td rowspan="1" colspan="1">
													<input type="text" class="form-control input-sm"
														placeholder="{{row}}">
												</td>
												{% endif %}
												{%endfor%}

											</tr>
										</tfoot>
										<tbody>
											{% for row in leadlist %}
											{% if row.batch == batch %}
											<tr>

												{% for data in all_header %}
												{% if data == 'id' %}
												<td style="text-align:center">{{row.id}}</td>
												{% endif %}
												{%endfor%}
												{% if row.status != 1  and row.status != 2 %}
												<td><input type="checkbox" class="checkbox"
														data_loop="{{ row.rowIndex }}" data-table="batch_{{batch}}"
														data-parent="allcheck_{{batch}}" id={{row.id}} /></td>
												{% else %}
												<td></td>
												{% endif %}
												{% for data in all_header %}
												{% if data != 'id' and data != 'status' and data != 'TC_lead_status' and data != 'qa_headers' and data != 'reason_list' and data != 'lead_dict' %}
												{% if data == 'Status Code' %}
												<td>{{'reason'|leadlist:row}}</td>
												{%else%}
												<td>
													{% if data|checkInList:row %}
													{% if data|leadlist:row  == 0 %}
													<span class="label label-info"> Approval Pending</span>
													{% elif data|leadlist:row == 1 %}
													<span class="label label-success"> Approved</span>
													{% elif data|leadlist:row == 2 %}
													<span class="label label-danger"> Rejected</span>
													{% elif data|leadlist:row == 3 %}
													<span class="label label-info"
														style="background-color:#c14a25;border-color:#c14a25;">
														Rectify</span>
													{% elif data|leadlist:row == 4 %}
													<span class="label label-info"> Rectified</span>
													{% endif %}
													{%else%}
													{{data|leadlist:row}}
													{% endif %}
												</td>
												{% endif %}
												{% endif %}
												{%endfor%}


												<!-- start TC Status-->
												{% for data in all_header %}

												{% if data == 'TC_lead_status' %}
												<td style="width:100px;">
													{% if row.TC_lead_status == 'valid lead' %}
													<span class="label remove label-success" data-placement="bottom"
														title="Approve Lead From TC">
														Approved</span>
													{% else %}
													<span class="label remove label-danger view_reason" data-placement="bottom"
														data-title="{{data|leadlist:row}}" data-batch_id="{{batch}}" >
														Rejected</span>
													{%endif%}
												</td>
												{% endif %}
												{%endfor%}
												<!-- End TC Status-->
												{% for data in all_header %}
												{% if data == 'status' %}
												<td>
													{% if row.status == 0 %}
													<span class="label label-info"> Approval Pending</span>
													{% elif row.status == 1 %}
													<span class="label label-success"> Approved</span>
													{% elif row.status == 2 %}
													<span class="label label-danger"> Rejected</span>
													{% elif row.status == 3 %}
													<span class="label label-info"
														style="background-color:#c14a25;border-color:#c14a25;">
														Rectify</span>
													{% elif row.status == 4 %}
													<span class="label label-info"> Rectified</span>
													<!--chages done by vendor on rectify -->
													{%endif%}
												</td>
												<!-- Abhi -31-08-2019 -->

												{% endif %}
												{%endfor%}
												<!-- <td hidden></td> -->
											</tr>
											{% endif %}
											{% endfor %}

										</tbody>
									</table>

								</div>
							</div>
						</div>
					</div>
					{% endfor %}
					{% else %}
					<div class="no_data">No Records Found</div>
					{% endif %}

				</div>

			</div>
			<div class="panel-collapse collapse leadTable">
				<div class="panel-body ">
					<div class="reason_div3 "></div>
					<div class="table-responsive-sm">
						<table class="table" id="leadTable_id" style="width:100%">
							<thead>
								<tr style="text-transform: capitalize;">
									{% for row in all_header %}
									{% if row == 'id' %}
									<th>{{row}}
									</th>
									{% endif %}
									{%endfor%}
									<th><input type="checkbox" class="no-sort allcheck" id="allcheck" />
									</th>

									{% for row in all_header %}
									{% if row != 'id' and row != 'status' and row != 'TC_lead_status' and row != 'qa_headers' and row != 'reason_list' and row != 'lead_dict' %}
									<th>{{row}}</th>
									{% endif %}
									{%endfor%}

									<!-- TC status -->
									{% for row in all_header %}
									{% if row == 'TC_lead_status' %}
									<th>{{row}}</th>
									{% endif %}
									{%endfor%}
									<!--End Tc status-->

									{% for row in all_header %}
									{% if row == 'status' %}
									<th>{{row}}</th>
									{% endif %}
									{%endfor%}
								</tr>
							</thead>
							<tfoot class="datatfootfilter" style="display:none">
								<tr>
									{% for row in all_header %}
									{% if row == 'id' %}
									<td rowspan="1" colspan="1">
										<input type="text" class="form-control input-sm" placeholder="{{row}}">
									</td>
									{% endif %}
									{%endfor%}
									<td rowspan="1" colspan="1"></td>

									{% for row in all_header %}
									{% if row != 'id' and row != 'status' and row != 'TC_lead_status' and row != 'qa_headers' and row != 'reason_list' and row != 'lead_dict' %}
									<td rowspan="1" colspan="1">
										<input type="text" class="form-control input-sm" placeholder="{{row}}">
									</td>
									{% endif %}
									{%endfor%}

									<!-- TC status -->
									{% for row in all_header %}
									{% if row == 'TC_lead_status' %}
									<td rowspan="1" colspan="1">
										<input type="text" class="form-control input-sm" placeholder="{{row}}">
									</td>
									{% endif %}
									{%endfor%}
									<!--End Tc status-->

									{% for row in all_header %}
									{% if row == 'status' %}
									<td rowspan="1" colspan="1">
										<input type="text" class="form-control input-sm" placeholder="{{row}}">
									</td>
									{% endif %}
									{%endfor%}

								</tr>
							</tfoot>
							<tbody>
								{% for row in leadlist %}

								<tr>

									{% for data in all_header %}
									{% if data == 'id' %}
									<td style="text-align:center">{{row.id}}</td>
									{% endif %}
									{%endfor%}
									{% if row.status != 1 and row.status != 2 %}
									<td><input type="checkbox" class="checkbox" data_loop="{{ forloop.counter0 }}"
											data-table="batch_{{batch}}" id={{row.id}} /></td>
									{% else %}
									<td></td>
									{% endif %}
									{% for data in all_header %}
									{% if data != 'id' and data != 'status' and data != 'TC_lead_status' and data != 'qa_headers' and data != 'reason_list' and data != 'lead_dict' %}
									{% if data == 'Status Code' %}
									<td>{{'reason'|leadlist:row}}</td>
									{%else%}

									<td>
										{% if data|checkInList:row %}
										{% if data|leadlist:row  == 0 %}
										<span class="label label-info"> Approval Pending</span>
										{% elif data|leadlist:row == 1 %}
										<span class="label label-success"> Approved</span>
										{% elif data|leadlist:row == 2 %}
										<span class="label label-danger"> Rejected</span>
										{% elif data|leadlist:row == 3 %}
										<span class="label label-info"
											style="background-color:#c14a25;border-color:#c14a25;">
											Rectify</span>
										{% elif data|leadlist:row == 4 %}
										<span class="label label-info"> Rectified</span>
										{% endif %}
										{%else%}
										{{data|leadlist:row}}
										{% endif %}
									</td>
									{% endif %}
									{% endif %}
									{%endfor%}


									<!-- start TC Status-->
									{% for data in all_header %}

									{% if data == 'TC_lead_status' %}
									<td style="width:100px;">
										{% if row.TC_lead_status == 'valid lead' %}
										<span class="label label-success" data-placement="bottom"
											title="Approve Lead From TC">
											Approved</span>
										{% else %}
										<span class="label label-danger view_reason3" data-placement="bottom"
											data-title="{{data|leadlist:row}}">
											Rejected</span>
										{%endif%}
									</td>
									{% endif %}
									{%endfor%}
									<!-- End TC Status-->
									{% for data in all_header %}
									{% if data == 'status' %}
									<td>
										{% if row.status == 0 %}
										<span class="label label-info"> Approval Pending</span>
										{% elif row.status == 1 %}
										<span class="label label-success"> Approved</span>
										{% elif row.status == 2 %}
										<span class="label label-danger"> Rejected</span>
										{% elif row.status == 3 %}
										<span class="label label-info"
											style="background-color:#c14a25;border-color:#c14a25;">
											Rectify</span>
										{% elif row.status == 4 %}
										<span class="label label-info"> Rectified</span>
										<!--chages done by vendor on rectify -->
										{%endif%}
									</td>
									{% endif %}
									{%endfor%}
								</tr>

								{% endfor %}

							</tbody>

						</table>

					</div>
				</div>
			</div>

		</div>
		<!-- </div> -->
	</div>
</div>
<!--Model for Rejected lead-->
<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content" style="padding: 5%;">
			<div class="border">
				<div class="modal-header">
					<button type="button" class="close cancel_reason_add" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Reject Reason</h4>
				</div>
				<div class="modal-body">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label for="sel1">Select Reason:</label>
									<select class="form-control" id="leads_rejected_reason">
										<option value="" disabled selected>Select Reason</option>
										{% for reason in global_rejected_reason %}
										{% if reason.status == 0 and reason.is_active == 1 %}
										<option value="{{reason.reason}}">{{reason.reason}}</option>
										{%elif reason.user_id == request.session.userid and reason.status == 1 and reason.is_active == 1 %}
										<option value="{{reason.reason}}">{{reason.reason}}</option>
										{%endif%}
										{%endfor%}

									</select>
									<input type="text" 
										class="form-control add_input inp-style" id="new_rejected_reason" value="" />
									<i class="" aria-hidden="true"></i>
									<i class="fa fa-plus add" aria-hidden="true" title="Add Reason"></i>
									<i class="fa fa-times cancel cancel_reason_add" aria-hidden="true" title="Cancel"
										style="border-left: 1px solid #ccc5c5;"></i>
									<i class="fa fa-check check" id="rejected_reason_leads" aria-hidden="true"
										title="Save Reason"></i>
								</div>
								<div class="form-group">
									<label for="sel1">Enter Description:</label>
									<input type="text" style="background-color:#f3f6f9;color:#0a0a0a;font-size: 14px;"
										class="form-control" id="lead_desc" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" status="{{campaigns.status}}"
						camp_id="{{campaigns.camp_id}}" vendor_id="{{campaigns.vendor_id}}"
						id="Rejected">Submit</button>
					<button type="button" class="btn btn-default cancel_reason_add" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>

	</div>
</div>

<!--Modal for rectify lead -->
<div class="modal fade" id="myModalForRectify" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content" style="padding: 5%;">
			<div class="border">
				<div class="modal-header">

					<button type="button" class="close cancel_reason_add" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Rectify Reason</h4>
				</div>
				<div class="modal-body">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label for="sel1">Select Reason:</label>
									<select class="form-control" id="leads_rectify_reason">
										<option value="" disabled selected>Select Reason</option>
										{% for reason in global_rectify_reason %}
										{% if reason.status == 0 and reason.is_active == 1 %}
										<option value="{{reason.reason}}">{{reason.reason}}</option>
										{%elif reason.user_id == request.session.userid and reason.status == 1 and reason.is_active == 1 %}
										<option value="{{reason.reason}}">{{reason.reason}}</option>
										{%endif%}
										{%endfor%}
									</select>
									<input type="text"
										style="background-color:#fff;color:#0a0a0a;font-size: 14px;display: none;"
										class="form-control add_input" id="new_rectify_reason" value="" />
									<i class="fa fa-plus add" aria-hidden="true" title="Add Reason"></i>
									<i class="fa fa-times cancel cancel_reason_add" aria-hidden="true" title="Cancel"
										style="border-left: 1px solid #ccc5c5;"></i>
									<i class="fa fa-check check" id="rejected_rectify_leads" aria-hidden="true"
										title="Save Reason"></i>
								</div>
								<div class="form-group">
									<label for="sel1">Enter Description:</label>
									<input type="text" style="background-color:#f3f6f9;color:#0a0a0a;font-size: 14px;"
										class="form-control" id="lead_rectify_desc" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" status="{{campaigns.status}}"
						camp_id="{{campaigns.camp_id}}" vendor_id="{{campaigns.vendor_id}}" id="Rectify">Submit</button>
					<button type="button" class="btn btn-default cancel_reason_add" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Model for add custom header by QA TEAM-->
<div class="modal fade" id="mycustomHeader" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content" style="padding: 5%;">
			<div class="border">
				<div class="modal-header">
					<button type="button" class="close " data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Create Custom Header</h4>
				</div>
				<div class="modal-body">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label for="sel1">Enter Header Name:</label>
									<input type="text" id="customheadertext" class="form-control" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<img src="/static/assets/images/lg.circle-slack-loading-icon.gif" style="height:50px;display:none"
						id="loader">
					<button type="button" class="btn btn-success" camp_alloc_id="{{campaigns.camp_id}}"
						camp_id="{{campaigns.campaign_id}}" id="customHeaderbtn">Submit</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>

	</div>
</div>


<!-- Modal for select header -->
<div class="modal fade" id="lead_header" role="dialog">
	<div class="modal-dialog modal-lg">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Choose Lead Headers:(Which is you want to see) </h4>
			</div>
			<div class="modal-body">

				<section>
					<h2>Sortable List Group Connected</h2>
					<div class="row">
						<div class="col-sm-6">
							<ul class="list-group list-group-sortable-connected">
								{% for row in all_lead_header %}
								{% if row not in header %}
								{% if row != 'id' and row != 'lead_desc' and row != 'status' %}
								<li class="list-group-item list-group-item-info">{{row}}</li>
								{%endif%}
								{%endif%}
								{%endfor%}
							</ul>
						</div>
						<div class="col-sm-6">
							<ul class="list-group list-group-sortable-connected" id="selected">
								{% for row in header %}
								{% if row != 'id' and row != 'reason'%}
								<li class="list-group-item list-group-item-info">{{row}}</li>
								{%endif%}
								{%endfor%}
							</ul>
						</div>
					</div>
					<input type="hidden" id="camp_id_lead" value="{{campaigns.campaign_id}}" />
				</section>


			</div>
			<div class="modal-footer">
				<input class="btn btn-sm btn-primary" type="button" id="submit123" value="submit">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>


			</div>
		</div>

	</div>
	<script type="text/javascript">
		(function () {
			var ttext;
			$(".remove").hover(function () {
				ttext = $(this).attr('data-original-title');
				$(this).removeAttr('data-original-title');
			})
		})
	</script>
	<script>
		$(document).ready(function () {
			$(".add").click(function () {
				$(".add_input").show();
				$("#leads_rejected_reason").hide();
				$("#leads_rectify_reason").hide();
				$(".check").show();
				$('.cancel').show()
				$(".add").hide();
			});
			$("#show").click(function () {
				$("p").show();
			});
		});
	</script>
	<script>

		// developer - Kishor Patil - ajax call for saving rejected reason leads
		$(document).ready(function () {
			var token = getCookie('csrftoken');
			$("#rejected_reason_leads").click(function (e) {
				e.preventDefault();
				var reason = $('#new_rejected_reason').val()
				if (reason.length > 0) {
					$.ajax({
						type: 'post',
						url: '/client/ajax/save_rejected_reason/',
						data: { 'name': reason, 'csrfmiddlewaretoken': token },
						success: function (result) {
							swal({
								title: "Reject Reason",
								text: "New reject reason added successfully.",
								icon: "success",
								button: "OK",
							});
							$('#leads_rejected_reason').append(`<option value="${reason}">${reason}</option>`);
							$("#new_rejected_reason").hide();
							$("#new_rectify_reason").hide();
							$('.cancel').hide()
							$(".check").hide();
							$(".add").show();
							$("#leads_rejected_reason").show();
							$("#leads_rectify_reason").show();
						},
						failure: function (error) {
							alert("fail");
						}
					});
				} else {
					swal({
						title: "Reject Reason",
						text: "Reject reason can't be empty.",
						icon: "info",
						button: "OK",
					});
				}
			});
		});

		$('.cancel_reason_add').click(function () {
			$("#new_rejected_reason").hide();
			$("#new_rectify_reason").hide();
			$('.cancel').hide()
			$(".check").hide();
			$(".add").show();
			$("#leads_rejected_reason").show();
			$("#leads_rectify_reason").show();
		})
		$(document).ready(function () {
			var token = getCookie('csrftoken');
			$("#rejected_rectify_leads").click(function (e) {
				e.preventDefault();
				var reason = $('#new_rectify_reason').val();
				if (reason.length > 0) {
					$.ajax({
						type: 'post',
						url: '/client/ajax/save_rectify_reason/',
						data: { 'name': reason, 'csrfmiddlewaretoken': token },
						success: function (result) {
							swal({
								title: "Rectify Reason",
								text: "New rectify reason added successfully.",
								icon: "success",
								button: "OK",
							});
							$('#leads_rectify_reason').append(`<option value="${reason}">${reason}</option>`);
							$("#new_rectify_reason").hide();
							$("#new_rejected_reason").hide();
							$('.cancel_reason_add').hide()
							$(".check").hide();
							$(".add").show();
							$("#leads_rectify_reason").show();
							$("#leads_rejected_reason").show();

						},
						failure: function (error) {
							alert("fail");
						}
					});
				} else {
					swal({
						title: "Rectify Reason",
						text: "Rectify reason can't be empty.",
						icon: "info",
						button: "OK",
					});
				}
			});
		});
		$(function(){
			// remove select all checkbox, if tbody has no checkboxes...Akshay G..Date- 11th Nov, 2019
			if ($('#leadTable_id tbody').find('input[type="checkbox"]').length == 0){
				$('#allcheck').remove();
				$('.batch_div').each(function(){
					let id = $(this).attr('data-batch-id');
					$('#allcheck_'+id).closest('th').removeClass('sorting');
					$('#allcheck_'+id).closest('th').addClass('sorting_disabled');
					$('#allcheck_'+id).remove();
				})
			}
		})
	</script>

	{% include "campaign/js/leadsjs.html" %}
	{% endblock %}