{% extends "common/base.html" %}

{% load static %}


{% block title %} Create Campaign {% endblock %}
{% load widget_tweaks %}
<!--
    page code must be start in block content
    inside block content
-->
{% block content %}
<style>
    .flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month {
        background-color: #4289d6!important;
        outline: none;
        padding: 0;
    }
    .flatpickr-calendar.open {
        display: inline-block;
        z-index: 1!important;
    }
    .download-aligns{
        margin-left: -30%;
        margin-top: 1%;
    }
    .spn-color{
        color: #00bcd4;
        font-size: 18px;
    }
    .uploader{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .abm_aligns{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis!important;
        width: 38%;
    }
    .error-aligns{
        margin-left: 35%;
        margin-top: 6%;
    }
    .btn-colors{
        background-color: #fff!important;
        color: #ff5722;
        font-size: 18px;
        margin-right: 5%;
        margin-top: 3%;
        cursor: pointer;
    }
    .btn-colors:hover{
        background-color: #fff!important;
        color: #d84315;
    }
    @media only screen and (max-width: 1366px) and (min-height: 500px){
        .download-aligns{
            margin-left: -23%;
        }
        .uploader{
            max-width: 165%!important;
        }
        .abm_aligns{
            width: 55%!important;
        }
    }
    /*@media only screen and (max-width: 13px) and (min-height: 500px){
        .download-aligns{
            margin-left: 10%;
        }
    }*/
</style>
<!-- Main content -->
<div class="content-wrapper">

    <!-- Content area -->
    <div class="content">

        <!-- main row -->
        <div class="row">
            <!-- Top Clients List -->
            <div class="panel panel-height panel-flat">
                <div class="panel-heading ml-20">
                    <center>
                        <h1 class="panel-title">{% if camp_id %}Edit{% else %}Create{% endif %} RFQ Campaign</h1>
                    </center>
                    <form class="form-horizontal" id="rfq_campaign_form" action="/client/edit_rfq-campaign/{{camp_id}}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="content-group">
                            <legend class="text-bold">Request For quote campaign </legend>
                            <div class="col-md-8">
                                <div class="form-group ">
                                    <label class="col-lg-3 control-label ">Campaign Name <span style="color:red">*</span> </label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <input type="text" name="{{ campaignform.name.name }}" maxlength="500" id="id_{{ campaignform.name.name }}" onfocus="changeInfo('camp_name')" class="form-control" placeholder="Campaign Name" value="{% if campaignform.name.value %}{{ campaignform.name.value }}{% endif %}">
                                                <span class="help-block" style="color:red;">{{ campaignform.name.errors}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3">Campaign IO Number </label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <input type="text" name="io_number" maxlength="50" id="id_io_number" onfocus="changeInfo('camp_io')" class="form-control" placeholder="Campaign IO Number" value="{% if campaignform.io_number.value %}{{ campaignform.io_number.value }}{% endif %}">
                                                <span class="help-block" style="color:red;">{{ campaignform.io_number.errors }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3">Campaign Description</label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <textarea name="description" cols="40" rows="10" id="id_description" onfocus="changeInfo('camp_desc')" class="form-control" placeholder="Campaign Description">{% if campaignform.description.value %}{{ campaignform.description.value }}{% endif %}</textarea>
                                                <span class="help-block" style="color:red;">{{ campaignform.description.errors}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3">Outreach Method <span style="color:red">*</span></label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group form-group-material">
                                                    <div class="multi-select-full" onclick="changeInfo('camp_method')">
                                                        <select id="id_{{ campaignform.method.name }}"
                                                            name="{{ campaignform.method.name }}"
                                                            class="multiselect-campaign-method" multiple="multiple"
                                                            >
                                                            <!--<option>Select Campaign fdfgdf Method</option> -->
                                                            {% for val, text in campaignform.method.field.choices %}
                                                            {% if text != "---------" %}
                                                                {% if text in outreach_method %}
                                                                <option value="{{ val }}" selected>{{ text }}</option>
                                                                {% else %}
                                                                <option value="{{ val }}">{{ text }}</option>
                                                                {% endif %}
                                                            {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                        <span class="help-block" style="color:red;">{{ campaignform.method.errors}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3">Industry <span
                                            style="color:red">*</span></label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group form-group-material">
                                                    <div class="multi-select-full" onclick="changeInfo('camp_ind')">
                                                        
                                                        <select name="{{ campaignform.industry_type.name }}" id="id_industry_type" multiple="" sr-scroll-left="0" sr-scroll-top="652" class="multiselect-campaign-method1" multiple="multiple">
                                                        {% for val, text in campaignform.industry_type.field.choices %}
                                                            {% if text in selected_industry %}
                                                            <option value="{{ val }}" selected>{{ text }}</option>
                                                            {% else %}
                                                            <option value="{{ val }}">{{ text }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                        <!-- {% for text in new_industry %}
                                                            <option value="{{ text }}" selected>{{ text }}</option>
                                                        {% endfor %} -->
                                                        </select>
                                                        <span class="help-block">{{ campaignform.industry_type.errors }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-lg-3">Emp Size/Rev Size <span
                                            style="color:red">*</span></label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group form-group-material">
                                                    <div class="multi-select-full"
                                                        onclick="changeInfo('camp_emp_size')">
                                                        <select name="company_size" id="id_company_size" multiple="" class="multiselect-campaign-method2 ">
                                                            {% for val, text in campaignform.company_size.field.choices %}
                                                                {% if text in selected_company_size %}
                                                                <option value="{{ val }}" selected>{{ text }}</option>
                                                                {% else %}
                                                                <option value="{{ val }}">{{ text }}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                            <!-- {% for text in new_company_size %}
                                                                <option value="{{ text }}" selected>{{ text }}</option>
                                                            {% endfor %} -->
                                                        </select>

                                                    </div>
                                                    <div class="multi-select-full"
                                                        onclick="changeInfo('camp_emp_size')">
                                                        <select name="revenue_size" id="id_revenue_size" multiple=""class="multiselect-campaign-method3" >
                                                            {% for val, text in campaignform.revenue_size.field.choices %}
                                                                {% if text in selected_revenue_size %}
                                                                <option value="{{ val }}" selected>{{ text }}</option>
                                                                {% else %}
                                                                <option value="{{ val }}">{{ text }}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                            <!-- {% for text in new_revenue_size %}
                                                                <option value="{{ text }}" selected>{{ text }}</option>
                                                            {% endfor %} -->
                                                        </select>
                                                    </div>
                                                    <span class="help-block">{{ campaignform.revenue_size.errors }}{{ campaignform.company_size.errors }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3">Job Title & Function <span
                                            style="color:red">*</span></label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <textarea placeholder="Job Title & Function" class="form-control" name="job_title_function" cols="40" rows="10" id="id_job_title_function">{% if campaignform.job_title_function.value %}{{ campaignform.job_title_function.value }}{% endif %}</textarea>
                                                <span class="help-block">{{ campaignform.job_title_function.errors }}</span>
                                                <i>(seperated by ",")</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3">Geo <span style="color:red">*</span></label>
                                    <div class="col-lg-9">
                                        <div class="row" onclick="changeInfo('camp_geo')">
                                            <div class="col-md-8">
                                                <input type='hidden' name="{{ campaignform.geo.name }}" id="id_{{ campaignform.geo.name }}"
                                                    class="form-control geo_" placeholder="Campaign Geo" value="{{selected_country_list|join:','}}"
                                                    readonly>
                                                <input type="text" class="form-control dropdown-toggle-sweet_spot geo_"
                                                    placeholder="Campaign Geo" value="{{total_selected_countries}}" readonly>
                                                <span class="help-block" style="color:red;">{{ campaignform.geo.errors}}</span>
                                            </div>
                                            <div class="dropdown-menu sweet_spot_toggle"
                                                style="width:100%;display:none">
                                                <div class="col-md-12"
                                                    style="float:left;">
                                                    <div class="form-group">
                                                        <label class="text-semibold">
                                                            <input type="checkbox" name="select_all_geo"
                                                                id="select_all_geo" class="filled-in styled" value="" />
                                                            <span> Select All</span>
                                                        </label>
                                                        <div style="float:left;overflow-y:auto;height: 300px;">
                                                            {% for region in region_list.all %}
                                                        <div class="col-md-12 country_div" style="padding-top:10px;">
                                                            <label class="text-semibold">
                                                                {% if region.id in selected_region %}
                                                                <input type="checkbox" name="region_check"
                                                                    id="{{region.id}}"
                                                                    class="filled-in styled region_class"
                                                                    data="{{region.name}}" value="{{region.id}}" checked/>
                                                                <span> {{ region.name }}</span>
                                                                {% else %}
                                                                <input type="checkbox" name="region_check"
                                                                    id="{{region.id}}"
                                                                    class="filled-in styled region_class"
                                                                    data="{{region.name}}" value="{{region.id}}" />
                                                                <span> {{ region.name }}</span>
                                                                {% endif %}
                                                            </label>
                                                            <div class="col-md-12 country_opt">
                                                                {% for country in countries.all %}
                                                                {% if region.id == country.region_id %}

                                                                <div class="col-md-4">
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            {% if country.id in selected_country %}
                                                                            <input type="checkbox"
                                                                                name="country"
                                                                                class="filled-in region_country styled child_{{region.id}}"
                                                                                data-region="{{region.id}}"
                                                                                data="{{ country.name }}"
                                                                                value="{{country.id}}" checked/>
                                                                            <span> {{ country.name }}</span>
                                                                            {% else %}
                                                                            <input type="checkbox"
                                                                                name="country"
                                                                                class="filled-in region_country styled child_{{region.id}}"
                                                                                data-region="{{region.id}}"
                                                                                data="{{ country.name }}"
                                                                                value="{{country.id}}" />
                                                                            <span> {{ country.name }}</span>
                                                                            {% endif %}
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                {%endif%}
                                                                {%endfor%}
                                                            </div>
                                                        </div>
                                                        {%endfor%}
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="col-md-12" style="padding-top: 10px;">
                                                    <button type="button" style="margin-left:5px;"
                                                        class="btn btn-danger pull-right dropdown-toggle-sweet_spot_close"
                                                        name="button"> Close</button>
                                                    <button type="button"
                                                        class="btn submit-btn pull-right region_country_submite"
                                                        name="button"> Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-lg-3">ABM</label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="abm_status" class="styled" id="id_abm_status" onfocus="changeInfo('camp_abm')" {% if campaignform.abm_status.value %}checked{% endif %}>ABM
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-8 ">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label for="id_abm_file" class="btn btn-primary abm_aligns" title="choose file" >
                                                            browse
                                                        </label>
                                                        <input type="file" name="abm_file" id="id_abm_file" class="hidden" accept=".csv, .xlsx">
                                                    </div>
                                                    <div class="col-md-4 download-aligns">
                                                        <i class="far fa-times-circle remove_abm_suppr_file btn-colors" style="display: none" title="remove file"></i>
                                                        {% if 'abm_path' in file_data %}
                                                        <a href="{{file_data.abm_path}}" download title="download uploaded file">
                                                            <span class="spn-color" title="Download ABM File">
                                                                <i class="fas fa-download"></i>
                                                            </span>
                                                            </a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="help-block error-aligns">{{ campaignform.abm_file.errors }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3">Suppression</label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-4 ">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="suppression_status" class="styled" id="id_suppression_status" onfocus="changeInfo('camp_abm')" {% if campaignform.suppression_status.value %}checked{% endif %}>Suppression
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-8 ">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label for="id_suppression_file" class="btn btn-primary abm_aligns" title="choose file" >
                                                            browse
                                                        </label>
                                                        <input type="file" name="suppression_file" id="id_suppression_file" class="hidden" accept=".csv, .xlsx">
                                                    </div>
                                                    <div class="col-md-4 download-aligns">
                                                        <i class="far fa-times-circle remove_abm_suppr_file btn-colors" style="display: none" title="remove file"></i>
                                                        {% if 'suppression_path' in file_data %}
                                                        <a href="{{file_data.suppression_path}}" download title="download uploaded file">
                                                            <span class="spn-color" title="Download Suppression File">
                                                                <i class="fas fa-download"></i>
                                                            </span>
                                                        </a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="help-block error-aligns"> {{ campaignform.suppression_file.errors }} </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3">Custom Question</label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                    <input type="number" name="custom_question" value="{% if campaignform.custom_question.value %}{{campaignform.custom_question.value}}{% else %}0{% endif %}" min="0" max="10" id="id_custom_question" aria-required="true" aria-invalid="false" class="form-control valid" placeholder="No. of Custom question" onfocus="changeInfo('camp_rfq')">
                                                <span class="help-block">{{ campaignform.custom_question.errors }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3">Campaign CPL</label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <!-- CPL field displayed on page..Akshay G.-->
                                                <input type="text" name="cpl_name" id="currency-field1" value="{% if campaignform.cpl.value %}$ {{campaignform.cpl.value|floatformat:2}}{% else %}$ 0.00{% endif %}"
                                                        data-type="cpl" onfocus="changeInfo('camp_cpl')"
                                                        placeholder="Campaign CPL" class="form-control">
                                                <!-- cpl value to be stored in table..Akshay G.-->
                                                <input type="hidden" name="cpl" min="0"  id="id_cpl"
                                                    placeholder="Campaign CPL"  class="form-control valid" 
                                                    value="{% if campaignform.cpl.value %}{{campaignform.cpl.value}}{% else %}0{% endif %}">
                                                <span class="help-block">{{ campaignform.cpl.errors }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3">Target Quantity</label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <!-- target quantity field displayed on page..Akshay G. -->
                                                <input type="text" name="target_q_name" id="currency-field2"
                                                    value="{% if campaignform.target_quantity.value %}{{campaignform.target_quantity.value}}{% else %}0{% endif %}" data-type="target_quantity"
                                                    onfocus="changeInfo('camp_targetQuantity')"
                                                    placeholder="Target Quantity" class="form-control">
                                                <!-- Target Q. to be stored in table..Akshay G.-->
                                                <input type="hidden" name="target_quantity" data-type="target_quantity" min="0"  id="id_target_quantity" placeholder="Target Quantity"  
                                                    class="form-control valid"
                                                    value="{% if campaignform.target_quantity.value %}{{campaignform.target_quantity.value}}{% else %}0{% endif %}">
                                                <span class="help-block">{{ campaignform.target_quantity.errors }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-lg-3">Campaign Start Date</label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="input" onclick="changeInfo('camp_date')">
                                                    <input class="form-control start_date_selector" type="text"
                                                        name="{{ campaignform.start_date.name }}"
                                                        id="id_{{ campaignform.start_date.name }}"
                                                        placeholder="Campaign Start Date" value="{{start_date|date:'Y-m-d'}}"/>
                                                </div>
                                                <span class="help-block">{{ campaignform.start_date.errors }}
                                                    {% if startdate_error %}<ul class="errorlist"><li>{{startdate_error}}</li></ul>{% endif %}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-lg-3">Campaign End Date</label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="input" onclick="changeInfo('camp_date')">
                                                    <input class="form-control end_date_selector" type="text"
                                                        name="{{ campaignform.end_date.name }}"
                                                        id="id_{{ campaignform.end_date.name }}"
                                                        placeholder="Campaign End Date" value="{{end_date|date:'Y-m-d'}}"/>
                                                </div>
                                                <span class="help-block">{{ campaignform.end_date.errors }}
                                                    {% if enddate_error %}<ul class="errorlist"><li>{{enddate_error}}</li></ul>{% endif %}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- RFQ expiry time input -->
                                <div class="form-group">
                                    <label class="control-label col-lg-3">RFQ Quotation Timeout <span
                                            style="color:red">*</label>
                                    <div class="col-lg-9">
                                        <div class="row"> 
                                            <div class="col-md-8">
                                                <div class="input">
                                                    <input class="form-control" type="text"
                                                        name="{{ campaignform.rfq_timer.name }}"
                                                        onfocus="changeInfo('camp_rfq_timer')"
                                                        id="id_{{ campaignform.rfq_timer.name }}"
                                                        placeholder="RFQ Quotation Timeout " value="{% if campaignform.rfq_timer.value %}{{campaignform.rfq_timer.value}}{% else %}{{rfq_Timer}}{% endif %}" readonly />
                                                </div>
                                                <span class="help-block">{{ campaignform.rfq_timer.errors }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3">Special Instructions</label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <textarea name="special_instructions" cols="40" rows="10" id="id_special_instructions"
                                                onfocus="changeInfo('camp_istructions')"
                                                class="form-control elastic elastic-destroy spins"
                                                placeholder="Campaign Special Instructions">{% if campaignform.special_instructions.value %}{{campaignform.special_instructions.value}}{% endif %}</textarea>
                                                <span class="help-block">{{ campaignform.special_instructions.errors }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2"></label>
                                    <div class="col-lg-10">
                                        <div class="row mt-20 mb-20">
                                            <div class="col-md-3">
                                                <button type="submit"
                                                    class="btn submit-btn  legitRipple pull-right"><i class="fa fa-check"></i>&nbspSubmit<span
                                                        class="legitRipple-ripple"></span></button>
                                            </div>
                                            <div class="col-md-2 cols-2" id="reset_button_div">
                                                <button type="button" id="btn_reset"
                                                    class="btn btn-danger legitRipple btn-color pull-right"><i class="fa fa-refresh"></i>&nbspReset<span
                                                        class="legitRipple-ripple"></span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4" style="position: fixed;right: 2%;">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h6 class="panel-title" id="field_info">Info</h6>
                                    </div>
                                    <div class="panel-body">
                                        <ul id="field_desc" style="font-size: 14px;font-weight: 500;">

                                        </ul>
                                        <ul>
                                            <li><a href="#"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <!-- /highlighting rows and columns -->

        </div>
        <!-- main row -->

    </div>
    <!-- /content area -->

</div>
<!-- /main content -->

{% endblock %}


<!-- ============================ -->
<!--        page level scripts    -->
<!-- =========================== -->
{% block page_level_scripts %}
<script>

    $(function () {
        var camp_id = '{{camp_id}}';
        if (camp_id == ''){
            $('#rfq_campaign_form').attr('action', '/client/create-rfq-campaign/');
        }
        else{
            $('#reset_button_div').addClass('hidden');
        }
        /*change li active*/
        /*add active class to li*/
        $("#campaign").addClass("active");
        $("#campaign-create").addClass("active");

        /* Geo Spot js */
        $(".dropdown-toggle-sweet_spot").click(function () {
            $('.sweet_spot_toggle').show();

        });
        $(".dropdown-toggle-sweet_spot_close").click(function () {
            $('.sweet_spot_toggle').hide();
        });
        $(".region_country_submite").click(function () {
            var region_country = [];

            $(".region_country:checked").each(function () {
                region_country.push($(this).attr('data'));
            });
            console.log(region_country.length)
            if (region_country.length > 0) {
                // $('.dropdown-toggle-sweet_spot').val(`${region_country[0]} + ${region_country.length-1} more`);\
                if(region_country.length == 1){
                    $('.dropdown-toggle-sweet_spot').val(`${region_country[0]}`);    
                }
                else if (region_country.length > 1){
                    $('.dropdown-toggle-sweet_spot').val(`${region_country[0]} + ${region_country.length - 1} more`);
                }
                
                $('#id_geo').val(region_country);
            } else {
                $('.dropdown-toggle-sweet_spot').val('');
                $('#id_geo').val(region_country);
            }
            $('.sweet_spot_toggle').hide();
        });
    });

    // global variable
    var DEBUG = true; // false or true
</script>

<style>
    .multiselect-container .checkbox .checker {
        top: 18px !important;
    }
    .multiselect-container{
        z-index: 1;
    }
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
</style>

<!-- panel-tab color-->
<link href="{% static 'client/css/createcampaign.css' %}?ver=1.1" rel="stylesheet" type="text/css">


<script type="text/javascript" src="{% static 'assets/js/core/libraries/jasny_bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/bootstrap_select.min.js' %}"></script>

<script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery_ui/core.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/selectboxit.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/inputs/autosize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/inputs/formatter.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/tags/tagsinput.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/tags/tokenfield.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/inputs/touchspin.min.js' %}"></script>

<script type="text/javascript" src="{% static 'assets/js/plugins/ui/moment/moment.min.js' %}"></script>

<script type="text/javascript"
    src="{% static 'assets/js/plugins/forms/inputs/typeahead/typeahead.bundle.min.js' %}?ver=1.1"></script>
<script type="text/javascript"
    src="{% static 'assets/js/plugins/forms/inputs/typeahead/handlebars.min.js' %}?ver=1.1"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/inputs/passy.js' %}?ver=1.1"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/inputs/maxlength.min.js' %}?ver=1.1"></script>

<script type="text/javascript" src="{% static 'client/js/create_campaign/form_floating_labels.js' %}?ver=1.1"></script>
<script type="text/javascript" src="{% static 'assets/js/pages/form_controls_extended_client.js' %}?ver=1.2"></script>

<script type="text/javascript" src="{% static 'client/js/form_checkboxes_radios.js' %}?ver=1.1"></script>

<!-- <script type="text/javascript" src="{% static 'assets/js/plugins/forms/validation/validate.min.js' %}?ver=1.1"></script> -->
<!-- <script type="text/javascript" src="{% static 'client/js/form_validation.js' %}?ver=1.1"></script> -->


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<link rel="stylesheet" type="text/css" href="{% static 'client/plugins/flatpicker/material_blue.css' %}?ver=1.1">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script type="text/javascript">
    // avoid only space input for special instructions field..Akshay G.
    $(document).on('keyup','#id_special_instructions', function(){
        if ($(this).val().trim().length == 0){
            $(this).val('');
        }
    })
    $(document).on('keyup','#id_name', function(){
        if ($(this).val().trim().length == 0){
            $(this).val('');
        }
    })
    $(document).on('keyup','#id_io_number', function(){
        if ($(this).val().trim().length == 0){
            $(this).val('');
        }
    })
    $(document).on('keyup','#id_description', function(){
        if ($(this).val().trim().length == 0){
            $(this).val('');
        }
    })
    $(document).on('keyup','#id_job_title_function', function(){
        if ($(this).val().trim().length == 0){
            $(this).val('');
        }
    })
    $(document).ready(function () {
        // $('div .custom_question_div').hide();
        // $('div .abm_f').hide();
        // $('div .supp_file').hide();
        $(document).on('change', "#id_abm_file", function () {
            var file_name = $(this).val().split('\\').pop();
            var remove_button = $(this).closest('.row').find('.remove_abm_suppr_file');
            if (file_name.slice(-4,) != '.csv' && file_name.slice(-5,) != '.xlsx'){
                $.confirm({
                    title: 'Unsupported file format!',
                    content: "Please upload only .csv or .xlsx file.",
                    type: 'red',
                    typeAnimated: true,
                });
                $(this).val('');
                $(this).closest('.row').find('label').text('Browse');
                remove_button.hide();
                return;
            }
            remove_button.show();
            $('#id_abm_status').prop('checked', true);
            $('#id_abm_status').parent().addClass('checked');
            $(this).closest('.row').find('label').text(file_name);
        });
        $(document).on('change', "#id_suppression_file", function () {
            var file_name = $(this).val().split('\\').pop();
            var remove_button = $(this).closest('.row').find('.remove_abm_suppr_file');
            if (file_name.slice(-4,) != '.csv' && file_name.slice(-5,) != '.xlsx'){
                $.confirm({
                    title: 'Unsupported file format !',
                    content: "Please upload only .csv or .xlsx file.",
                    type: 'red',
                    typeAnimated: true,
                });
                $(this).val('');
                remove_button.hide();
                $(this).closest('.row').find('label').text('Browse');
                return;
            }
            remove_button.show();
            $('#id_suppression_status').prop('checked', true);
            $('#id_suppression_status').parent().addClass('checked');
            $(this).closest('.row').find('label').text(file_name);
        });
        $('.filename').hide();

        var hour = new Date().getHours();
        console.log("Hours : ", hour);

        var min_start_dt = new Date();

        // datepicker disable date based on time
        // if (hour >= 13) {
        //     min_start_dt.setDate(min_start_dt.getDate() + 3);
        // }
        // else {
        //     min_start_dt.setDate(min_start_dt.getDate() + 2);
        // }
        console.log("min_start_dt : ", min_start_dt);

        // declare variables to hold start and end date
        var selected_start_date_str = $("input[name='start_date']").val();
        var selected_end_date_str = $("input[name='end_date']").val();
        if (selected_start_date_str == 'None'){
            selected_start_date_str = null;
        }
        if (selected_end_date_str == 'None'){
            selected_end_date_str = null;
        }
        
        $(".start_date_selector").flatpickr(
            {
                altInput: true,
                altFormat: "F j, Y",
                dateFormat: "Y-m-d",
                minDate: 'today',

                "disable": [
                    function (date) {
                        // return true to disable
                        // weekday[0] =  "Sunday"; or weekday[6] = "Saturday";
                        return (date.getDay() === 0 || date.getDay() === 6);

                    }
                ],

                // events
                // onValueUpdate gets triggered when the input value is updated with a new date string
                onValueUpdate: function (selectedDates, dateStr, instance) {
                    DEBUG && console.log("Selected start date: ", selectedDates)
                    DEBUG && console.log("Selected start date in string format: ", dateStr)

                    selected_start_date_str = dateStr;

                    // compare dates if end date is also selected
                    if (selected_end_date_str) {
                        var selected_start_date = new Date(selected_start_date_str);
                        var selected_end_date = new Date(selected_end_date_str);

                        // if selected date less than end date process fruther
                        if (selected_start_date < selected_end_date) {
                        }
                        else {
                            // clear selected date
                            instance.clear();

                            DEBUG && console.log("Please select start date lesser than end date");


                            $.confirm({
                                title: 'Encountered an error!',
                                content: "Start date should be less than end date",
                                type: 'red',
                                typeAnimated: true,
                            });
                        }
                    }
                    else {
                        DEBUG && console.log("Selected end date is undefined so skipping start and end date comparision")
                    }
                },
            });

        $("#id_rfq_timer").flatpickr({
            enableTime: true,
            dateFormat: 'd/m/Y H:i',
            minDate: 'today',
            altInput: true,
            altFormat: "F j, Y H:i",
            "disable": [
                function (date) {
                    // return true to disable
                    // weekday[0] =  "Sunday"; or weekday[6] = "Saturday";
                    return (date.getDay() === 0 || date.getDay() === 6);

                }
            ],
        });

        $(".end_date_selector").flatpickr(
            {
                altInput: true,
                altFormat: "F j, Y",
                dateFormat: "Y-m-d",
                minDate: 'today',

                "disable": [
                    function (date) {
                        // return true to disable
                        // weekday[0] =  "Sunday"; or weekday[6] = "Saturday";
                        return (date.getDay() === 0 || date.getDay() === 6);

                    }
                ],

                // events
                // onValueUpdate gets triggered when the input value is updated with a new date string
                onValueUpdate: function (selectedDates, dateStr, instance) {


                    DEBUG && console.log("Selected end date: ", selectedDates)
                    // console.log("end date instance: ", instance)

                    // store end date in string format(yyyy-mm-dd)
                    selected_end_date_str = dateStr;

                    // compare dates if start date is also selected
                    if (selected_start_date_str) {
                        var selected_start_date = new Date(selected_start_date_str);
                        var selected_end_date = new Date(selected_end_date_str);

                        // if selected end date greater than start date process fruther
                        if (selected_end_date > selected_start_date) {
                        }
                        else {
                            // clear selected date
                            instance.clear();

                            DEBUG && console.log("Please select end date greater than start date");


                            $.confirm({
                                title: 'Encountered an error!',
                                content: "End date should be greater than start date",
                                type: 'red',
                                typeAnimated: true,
                            });
                        }
                    }
                    else {
                        DEBUG && console.log("Campaign start date is undefined so skipping start and end date comparision")
                    }
                },
            });



        $('.start_date_selector').each(function (i) {
            if (i == 1) {
                $(this).addClass('flatpickerStart');
            }
        })
        // adding custom class to one of the two end_date elements which need to be ignored while validating for required fields
        $('.end_date_selector').each(function (i) {
            if (i == 1) {
                $(this).addClass('flatpickerEnd');
            }
        })
        $(document).on("change", "input[name='region_check']", function () {
            parent_val = $(this).is(':checked')
            $(`.child_${$(this).val()}:checkbox`).each(function () {
                $(this).prop('checked', parent_val)
                if (parent_val == true) {
                    $(this).closest('span').addClass('checked')
                } else {
                    $(this).closest('span').removeClass('checked')
                }
            })

            if ($(".region_class:checked").length == $(".region_class").length) {
                $('#select_all_geo').prop('checked', true)
                $('#select_all_geo').closest('span').addClass('checked')
            } else {
                $('#select_all_geo').prop('checked', false)
                $('#select_all_geo').closest('span').removeClass('checked')
            }
        })
        $(document).on("change", "input[name='country']", function () {
            // alert()
            console.log($(this))
            if ($(this).is(':checked') == true) {
                $(`#${$(this).data('region')}`).prop('checked', $(this).is(':checked'))
                $(`#${$(this).data('region')}`).parent().addClass('checked')
                if ($(`.child_${$(this).data('region')}:checked`).length == $(`.child_${$(this).data('region')}`).length) {
                    if ($(".region_class:checked").length == $(".region_class").length) {
                        $('#select_all_geo').prop('checked', true)
                        $('#select_all_geo').closest('span').addClass('checked')
                    } else {
                        $('#select_all_geo').prop('checked', false)
                        $('#select_all_geo').closest('span').removeClass('checked')
                    }
                }
            } else {
                if ($(`.child_${$(this).data('region')}:checked`).length == 0) {
                    $(`#${$(this).data('region')}`).prop('checked', $(this).is(':checked'))
                    $(`#${$(this).data('region')}`).parent().removeClass('checked')
                }
                if ($(`.child_${$(this).data('region')}:checked`).length == $(`.child_${$(this).data('region')}`).length) {
                    $('#select_all_geo').prop('checked', true)
                    $('#select_all_geo').closest('span').addClass('checked')
                } else {
                    $('#select_all_geo').prop('checked', false)
                    $('#select_all_geo').closest('span').removeClass('checked')
                }

            }
        })
        $(document).on('change', 'input[name="select_all_geo"]', function () {
            parent_val = $(this).is(':checked')
            $('.country_div').find('input[name="region_check"]').each(function () {
                $(this).prop('checked', parent_val)
                parent = $(this)
                // $(this).closest('span').addClass('checked')
                $(`.child_${$(this).val()}:checkbox`).each(function () {
                    $(this).prop('checked', parent_val)
                    if (parent_val == true) {
                        $(this).closest('span').addClass('checked')
                        parent.closest('span').addClass('checked')
                    } else {
                        $(this).closest('span').removeClass('checked')
                        parent.closest('span').removeClass('checked')
                    }
                })
            })
        });
    })
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    $(document).on('click', '#btn_reset', function () {
        // reset bootstrap multiselect element
        $.confirm({
            title: 'Are you sure ?',
            content: "Once you confirm, your data will be removed completely!",
            type: 'red',
            typeAnimated: true,
            buttons: {
                confirm: function () {
                    location.reload();
                },
                cancel: function () {
                },
            }
        });
    });
    // remove selected file for abm & suppression ..Akshay G.
    $(document).on('click', '.remove_abm_suppr_file', function(){
        var file_ele = $(this).closest('.row').find('input[type = "file"]');
        file_ele.val('');
        $(this).closest('.row').find('label').text('Browse');
        $(this).hide();
    })
</script>

<script>
    function changeInfo(str) {

        if (str == 'camp_name')
            campaignNameNote()
        else if (str == 'camp_desc')
            campaignDescNote()
        else if (str == 'camp_type')
            campaignTypeNote()
        else if (str == 'camp_method')
            campaignMothodNote()
        else if (str == 'camp_cpl')
            campaignCplNote()
        else if (str == 'camp_date')
            campaignDateNote()
        else if (str == 'camp_rfq')
            campaigncustom()
        else if (str == 'camp_vendor')
            campaignVendorNote()
        else if (str == 'camp_geo')
            campaignGeo()
        else if (str == 'camp_ind')
            campaignindustry()
        else if (str == 'camp_rfq_timer')
            campaignRfqTimer()
        else if (str == 'camp_job_fun')
            campaignJobFunc()
        else if (str == 'camp_emp_size')
            campaignEmpSize()
        else if (str == 'camp_io')
            campaignIONote()
        else if (str == 'camp_targetQuantity')
            campaigntargetQuantity()
        else if (str == 'camp_abm')
            campaignAbmSupp()
        else if (str == 'camp_istructions')
            campaignInst()
    }
    function campaignNameNote() {
        var str = ""
        $('#field_info').text('Info : Campaign Name');
        str = "<li>Enter Campaign Name </li><li>Only 400 characters allowed for campaign name</li>";
        $('#field_desc').empty().append(str);
    }
    function campaignDescNote() {
        $('#field_info').text('Info : Campaign Description');
        var str = "<li>Enter Campaign Description </li><li>Describe campaign you are trying to create</li>";
        $('#field_desc').empty().append(str);
    }
    function campaignInst() {
        $('#field_info').text('Info : Campaign Special Instructions');
        var str = "<li>Special instructions for this campaign.</li>";
        $('#field_desc').empty().append(str);
    }
    function campaignTypeNote() {
        $('#field_info').text('Info : Campaign Type');
        var str = "<li>Select Campaign Type </li><li>You can select only one type of campaign</li>";
        $('#field_desc').empty().append(str);
    }
    function campaignRfqTimer() {
        $('#field_info').text('Info : Campaign RFQ Timeout');
        var str = "<li>Select Campaign Quotation Expiry </li><li>Vendors can quote for campaign </li>";
        $('#field_desc').empty().append(str);
    }

    function campaignMothodNote() {
        $('#field_info').text('Info : Campaign Outreach Method');
        var str = "<li>Choose Campaign Method </li><li>You can select multiple outreach methods for a campaign</li>";
        $('#field_desc').empty().append(str);
    }
    function campaignCplNote() {
        $('#field_info').text('Info : Campaign CPL');
        var str = "<li>Enter Campaign CPL </li><li>CPL means Cost Per Lead </li><li>You can enter only number not character </li><li>CPL in Dollar</li> ";
        $('#field_desc').empty().append(str);
    }
    function campaignDateNote() {
        $('#field_info').text('Info : Campaign Dates');
        var str = "<li>Select Date of Campaign  </li><li>First click on Start Date </li><li>Second click on End Date</li>";
        $('#field_desc').empty().append(str);
    }
    function campaignRfqNote() {
        $('#field_info').text('Info : Campaign RFQ');
        var str = "<li>RFQ means Request For Quote `</li><li>If you are confused to decide CPL of campaign then you can check rfq so that techconnectr will suggest you.</li>";
        $('#field_desc').empty().append(str);
    }
    function campaignVendorNote() {
        $('#field_info').text('Info : Choose  your Vendor');
        var str = "<li>TC-Vendor : Business with techconnectr vendors  </li><li>Internal Vendor : Your team </li><li>External Vendor : Business with your vendors </li>";
        $('#field_desc').empty().append(str);
    }
    function campaignGeo() {
        $('#field_info').text('Info : Campaign Geo');
        var str = "<li>Select Geo Spot for campaign </li>";
        $('#field_desc').empty().append(str);
    }
    function campaignindustry() {
        $('#field_info').text('Info : Campaign Industry ');
        var str = "<li>Select Industries for campaign </li>";
        $('#field_desc').empty().append(str);
    }
    function campaignJobFunc() {
        $('#field_info').text('Info : Campaign Job Title & Function');
        var str = "<li>Enter Job title or function for campaign </li>";
        $('#field_desc').empty().append(str);
    }
    function campaignEmpSize() {
        $('#field_info').text('Info : Campaign Employee Size / Revenue Size ');
        var str = "<li>Select Employee Size   or Revenue Size </li>";
        $('#field_desc').empty().append(str);
    }
    function campaignIONote() {
        $('#field_info').text('Info : Camapign IO Number');
        var str = "<li>Enter Campaign IO Number </li>";
        $('#field_desc').empty().append(str);
    }
    function campaigntargetQuantity() {
        $('#field_info').text('Info : Campaign Target Quantity');
        var str = "<li>Enter campaign target quantity </li>";
        $('#field_desc').empty().append(str);
    }
    function campaignAbmSupp() {
        $('#field_info').text('Info : ABM and Suppression');
        var str = "<li>You can download ABM and Suppression template below: </li><li><a href='/media/campaign_template/ABM_TEMPLATE.xlsx' download>ABM template</a></li><li><a href='/media/campaign_template/SUPPRESSION_TEMPLATE.xlsx' download>SUPPRESSION template</a></li>";
        $('#field_desc').empty().append(str);
    }
    function campaigncustom() {
        $('#field_info').text('Info : Custom Questions');
        var str = "<li>Number of custom questions allowed:</li><li>Min: 1 | Max: 10</li>";
        $('#field_desc').empty().append(str);
    }
</script>
<script>
    // jquery code for cpl and target quantity validation..Akshay G.

    $(document).on('keyup', "input[data-type='cpl']", function () {
        formatCurrency($(this));
        // remove special characters except . from string
        var cpl = $(this).val().replace(/[^\d.-]/g, '');
        // check if, there is only $ or 0 in the field
        if (isNaN(parseFloat(cpl)) || parseFloat(cpl) == 0) {
            $(this).val(''); // Make field empty
        }
        else {
            // update hidden field with cpl value
            $('#id_cpl').val(parseFloat(cpl));
        }
    });

    $(document).on('blur', "input[data-type='cpl']", function () {
        formatCurrency($(this), "blur");
        // remove special characters except . from string
        var cpl = $(this).val().replace(/[^\d.-]/g, '');
        // check if, there is only $ or 0 in the field
        if (isNaN(parseFloat(cpl)) || parseFloat(cpl) == 0) {
            $(this).val(''); // Make field empty
            $(this).valid(); // force validate field
        }
        else {
            $('#id_cpl').val(parseFloat(cpl));
        }
    });

    $(document).on('paste', "input[data-type='cpl']", function () {
        $(this).blur();
    });
    // code to handle data of Target quantity field ..Akshay
    $(document).on('keyup', "input[data-type='target_quantity']", function () {
        formatCurrency($(this));
        // remove special characters except . from string
        var target_quantity = $(this).val().replace(/[^\d.-]/g, '');
        // check if, there is only $ or 0 in the field
        if (isNaN(parseInt(target_quantity)) || parseFloat(target_quantity) == 0) {
            $(this).val(''); // Make field empty
        }
        else {
            $('#id_target_quantity').val(parseInt(target_quantity));
            // update hidden field with target quantity value
            var target_quantity = $('#id_target_quantity').val();
        }
    });

    $(document).on('blur', "input[data-type='target_quantity']", function () {
        formatCurrency($(this), "blur");
        // remove special characters except . from string
        var target_quantity = $(this).val().replace(/[^\d.-]/g, '');
        // check if, there is only $ or 0 in the field
        if (isNaN(parseFloat(target_quantity)) || parseFloat(target_quantity) == 0) {
            $(this).val(''); // Make field empty
            $(this).valid(); // force validate field
        }
        else {
            var target_quantity = $('#id_target_quantity').val();
        }
    });

    $(document).on('paste', "input[data-type='target_quantity']", function () {
        $(this).blur();
    });

    function formatNumber(n) {
        // format number 1000000 to 1,234,567
        return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
    }

    // jquery code for cpl and target quantity
    function formatCurrency(input, blur) {
        // appends $ to value, validates decimal side
        // and puts cursor back in right position.

        // get input value
        var input_val = input.val();

        // don't validate empty input
        if (input_val === "") { return; }

        // original length
        var original_len = input_val.length;
        // max length validation for cpl & target quantity to 4 and 9 digits respt.
        // if (input.attr('data-type') == 'cpl') {
        //     input_val = input_val.slice(0, 7);
        //     original_len = input_val.length;
        // }
        // else {
            input_val = input_val.slice(0, 11);
            original_len = input_val.length;
        // }
        // initial caret position
        var caret_pos = input.prop("selectionStart");

        // check for decimal
        if (input.attr('data-type') == 'cpl') {
            if (input_val.indexOf(".") >= 0) {

                // get position of first decimal
                // this prevents multiple decimals from
                // being entered
                var decimal_pos = input_val.indexOf(".");

                // split number by decimal point
                var left_side = input_val.substring(0, decimal_pos);
                var right_side = input_val.substring(decimal_pos);

                // add commas to left side of number
                left_side = formatNumber(left_side);

                // validate right side
                right_side = formatNumber(right_side);

                // On blur make sure 2 numbers after decimal
                if (blur === "blur") {
                    right_side += "00";
                }

                // Limit decimal to only 2 digits
                right_side = right_side.substring(0, 2);

                // join number by .
                input_val = "$ " + left_side + "." + right_side;
            } else {
                // no decimal entered
                // add commas to number
                // remove all non-digits
                input_val = formatNumber(input_val);
                input_val = "$ " + input_val;
                // final formatting
                if (blur === "blur") {
                    input_val += ".00";
                }
            }
        }
        else {
            input_val = formatNumber(input_val)
        }
        // send updated string to input
        input.val(input_val);

        // put caret back in the right position
        var updated_len = input_val.length;
        caret_pos = updated_len - original_len + caret_pos;
        input[0].setSelectionRange(caret_pos, caret_pos);
    }
</script>
<style type="text/css">
    .content:first-child {
        padding-top: 57px;
        padding-left: 25px;
    }
    .bg-pink-400 {
        background-color: #2195f3;
        border-color: #2195f3;
        color: #fff;
    }
    .mb-20 {
        margin-left: 16%;
    }
</style>
{% endblock %}
<!--       page level scripts    -->
<!-- /=========================== -->
