{% extends "common/base.html" %}

{% load static %}
{% load custom_filters %}

{% block title %}{% if clone == 1 %} Edit RFQ Campaign {% else %} Clone RFQ Campaign {% endif %}{% endblock %}
{% load widget_tweaks %}
<!--
    page code must be start in block content
    inside block content
-->
{% block content %}
<style>
    .flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month {
        background-color: #4289d6!important;
        outline: none;
        padding: 0;
    }
</style>
<!-- Main content -->
<div class="content-wrapper">

    <!-- Content area -->
    <div class="content">

        <!-- main row -->
        <div class="row">
            <!-- Top Clients List -->
            <div class="panel panel-height panel-flat">
                <div class="panel-heading ml-20">
                    <center>
                        <h1 class="panel-title">{% if clone == 1 %} Edit RFQ Campaign {% else %} Clone RFQ Campaign {% endif %}</h1>
                    </center>

                    <form class="form-horizontal" id="validate_campaign"
                        action="{% url 'update_c_mandatory_fields' campaign.id %}" method="post"
                        enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- some hidden fields -->
                        <!-- client id-->
                        <input type="hidden" name="{{ campaignform.user.name }}" id="id_{{ campaignform.user.name }}"
                            value="{{ request.session.userid }}" />

                        {% if clone == 0 %}
                            <input type="hidden" name="{{ campaignform.priority.name }}"
                                id="id_{{ campaignform.priority.name }}" value="3">

                            <input type="hidden" name="{{ campaignform.rfq_status.name }}"
                                id="id_{{ campaignform.rfq_status.name }}" value="0">

                            <input type="hidden" name="{{ campaignform.client_raimainingleads.name }}"
                                id="id_{{ campaignform.client_raimainingleads.name }}" value="{{campaign.target_quantity}}">

                            <input type="hidden" name="{{ campaignform.client_target_quantity.name }}"
                                id="id_{{ campaignform.client_target_quantity.name }}" value="{{campaign.target_quantity}}">

                            <input type="hidden" name="{{ campaignform.status.name }}"
                                id="id_{{ campaignform.status.name }}" value="3" />

                            <input type="hidden" name="{{ campaignform.rfq.name }}" id="id_{{ campaignform.rfq.name }}"
                                value="1" />

                            <input type="hidden" id="id_{{ campaignform.cpl.name }}" name="{{ campaignform.cpl.name }}"
                                value="0" />

                        {% else %}

                            <input type="hidden" name="{{ campaignform.priority.name }}"
                                id="id_{{ campaignform.priority.name }}" value="{{ campaign.priority }}">

                            <input type="hidden" name="{{ campaignform.rfq_status.name }}"
                                id="id_{{ campaignform.rfq_status.name }}" value="{{ campaign.rfq_status }}">

                            <input type="hidden" name="{{ campaignform.client_raimainingleads.name }}"
                                id="id_{{ campaignform.client_raimainingleads.name }}" value="{{ campaign.client_raimainingleads }}">

                            <input type="hidden" name="{{ campaignform.client_target_quantity.name }}"
                                id="id_{{ campaignform.client_target_quantity.name }}" value="{{ campaign.client_target_quantity }}">

                            <input type="hidden" name="{{ campaignform.status.name }}"
                                id="id_{{ campaignform.status.name }}" value="{{ campaign.status }}" />

                            <input type="hidden" name="{{ campaignform.rfq.name }}" id="id_{{ campaignform.rfq.name }}"
                                value="{{ campaign.rfq }}" />

                            <input type="hidden" id="id_{{ campaignform.cpl.name }}" name="{{ campaignform.cpl.name }}"
                                value="{{ campaign.cpl }}" />
                        {% endif %}

                        <input type="hidden" name="adhoc" id="adhoc" value="{{ campaign.adhoc }}" />
                        <input type="hidden" id='cloned' name="cloned" value="{{ clone }}">
                        {% if form.non_field_errors %}
                        <ul>
                            {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                        {% for hidden_field in form.hidden_fields %}
                        {% if hidden_field.errors %}
                        <ul>
                            {% for error in hidden_field.errors %}
                            <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {{ hidden_field }}
                        {% endfor %}


                        <fieldset class="content-group">
                            <legend class="text-bold">Request For quote campaign{% if clone == 1 %}  <br>(SOME FIELDS ARE NOT ALLOWED TO CHANGE){% endif %}</legend>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label col-lg-3">Campaign IO Number</label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <input type="text" NAME="{{ campaignform.io_number.name }}"
                                                    id="id_{{ campaignform.io_number.name }}"
                                                    onfocus="changeInfo('camp_io')" class="form-control cls_io_number"
                                                    placeholder="Campaign IO Number" min=0 required>
                                                <span class="help-block"></span>
                                                <spna class="io_alert validation-error-label"></spna>
                                                <spna class="io_success validation-valid-label"></spna>
                                                {{ campaignform.io_number.errors }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-lg-3 control-label ">Campaign Name <span
                                            style="color:red">*</span> </label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <input type="text" NAME="{{ campaignform.name.name }}"
                                                    id="id_{{ campaignform.name.name }}"
                                                    onfocus="changeInfo('camp_name')"
                                                    class="form-control maxlength-label-position"
                                                    value="{{ campaign.name }}" placeholder="Campaign Name"
                                                    maxlength="100" required>
                                                <span class="help-block"></span>
                                                {{ campaignform.name.errors }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-lg-3">Campaign Description<span
                                            style="color:red">*</span></label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <textarea rows="3" name="{{ campaignform.description.name }}"
                                                    id="id_{{ campaignform.description.name }}" cols="4"
                                                    onfocus="changeInfo('camp_desc')" maxlength="500" value=""
                                                    class="form-control maxlength-label-position elastic elastic-destroy "
                                                    placeholder="Campaign Description"
                                                    required>{{ campaign.description }}</textarea>
                                                <span class="label label-block label-primary text-left"></span>
                                                {{ campaignform.description.errors }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3">Outreach Method <span
                                            style="color:red">*</span></label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group form-group-material">
                                                    <div class="multi-select-full" onclick="changeInfo('camp_method')">
                                                        <select id="id_{{ campaignform.method.name }}"
                                                            name="{{ campaignform.method.name }}"
                                                            class="multiselect-campaign-method" multiple="multiple"
                                                            required="true">
                                                            <!--<option>Select Campaign fdfgdf Method</option> -->
                                                            {% for val, text in campaignform.method.field.choices %}
                                                            {% if text != "---------" %}
                                                            <option value="{{ val }}" class="strip_outreach"
                                                                {% if val in all_selected_method %}selected{% endif %}>
                                                                {{ text }}</option>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                        {{ campaignform.method.errors }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group"  onclick="changeInfo('camp_geo')">
                                    <label class="control-label col-lg-3">Geo<span style="color:red">*</span></label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <input name="{{ campaignform.geo.name }}" id="sweet_spot"
                                                    class="form-control hidden" placeholder="Campaign Geo" required
                                                    readonly>
                                                <input type="text" class="form-control dropdown-toggle-sweet_spot geo_"
                                                    placeholder="Campaign Geo" value="" required readonly>
                                                <span class="label label-block label-primary text-left"></span>
                                                <div class="dropdown-menu sweet_spot_toggle"
                                                    style="width: 120%; display: none;">
                                                    <div class="col-md-12"
                                                        style="float:left;overflow-y:auto;height: 300px;">
                                                        <div class="form-group">
                                                            <label class="text-semibold">
                                                                <input type="checkbox" name="select_all_geo"
                                                                    id="select_all_geo" class="filled-in styled"
                                                                    value="" />
                                                                <span> Select All</span>
                                                            </label>
                                                            {% for region in region_list.all %}
                                                            <div class="col-md-12 country_div"
                                                                style="padding-top:10px;">
                                                                <label class="text-semibold">
                                                                    <input type="checkbox" name="region_check"
                                                                        class="filled-in styled region_class"
                                                                        data="{{region.name}}" id="{{region.id}}"
                                                                        value="{{region.id}}" />
                                                                    <span> {{ region.name }}</span>
                                                                </label>
                                                                <div class="col-md-12 country_opt">
                                                                    {% for country in countries.all %}
                                                                    {% if region.id == country.region_id %}
                                                                    <div class="col-md-4">
                                                                        <div class="checkbox">
                                                                            <label>

                                                                                <input type="checkbox"
                                                                                    name="{{mappingform.country.name}}"
                                                                                    class="filled-in region_country styled child_{{region.id}}"
                                                                                    data="{{ country.name }}"
                                                                                    data-region="{{region.id}}"
                                                                                    value="{{country.id}}"
                                                                                    {% if country.name in geo_list %}checked{% endif %} />
                                                                                <span> {{ country.name }}</span>

                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    {%endif%}
                                                                    {%endfor%}
                                                                </div>
                                                            </div>
                                                            {%endfor%}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12" style="padding-top: 10px;">
                                                        <button type="button" style="margin-left:5px;"
                                                            class="btn btn-primary pull-right dropdown-toggle-sweet_spot_close"
                                                            name="button"> Close</button>
                                                        <button type="button"
                                                            class="btn btn-primary pull-right region_country_submite"
                                                            name="button"><i class="fa fa-check"></i>&nbsp Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label class="control-label col-lg-3">Industry <span
                                            style="color:red">*</span></label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group form-group-material">

                                                    <div class="multi-select-full" onclick="changeInfo('camp_ind')">
                                                        <select id="id_{{ mappingform.industry_type.name }}"
                                                            name="{{ mappingform.industry_type.name }}"
                                                            class="multiselect-campaign-method1" multiple="multiple"
                                                            required="true">
                                                            <!-- selected_industry = already selected industry list -->
                                                            {% for val in industry_types.all %}
                                                            <option value="{{ val.type }}" class="strip_industry"
                                                                {% for i in selected_industry %}
                                                                {% if i|lower != val.type|lower %} {% else %} selected
                                                                {% endif %} {% endfor %}>
                                                                {{ val.type }}</option>
                                                            {% endfor %}
                                                            {% for val in custom_industry_types.all %}
                                                            <option value="{{ val.type }}" class="strip_industry"
                                                                {% for i in selected_industry %}
                                                                {% if i|lower != val.type|lower %} {% else %} selected
                                                                {% endif %} {% endfor %}>
                                                                {{ val.type }}</option>
                                                            {% endfor %}
                                                        </select>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3">Job Title & Function <span
                                            style="color:red">*</span></label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <input type="text" NAME="{{  mappingform.job_title_function.name }}"
                                                    id="id_{{ mappingform.job_title_function.name }}"
                                                    onfocus="changeInfo('camp_job_fun')"
                                                    class="form-control" placeholder="job title & function"
                                                    value="{{mapping.job_title}}" required>
                                                <span class="help-block"></span>
                                                <i>(seperated by ",")</i>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3">Emp Size/Rev Size <span
                                            style="color:red">*</span></label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group form-group-material">

                                                    <div class="multi-select-full"
                                                        onclick="changeInfo('camp_emp_size')">
                                                        <select id="id_{{ mappingform.company_size.name }}"
                                                            name="{{ mappingform.company_size.name }}"
                                                            class="multiselect-campaign-method2 " multiple="multiple">
                                                            <!--<option>Select Campaign Method</option>kkk -->
                                                            {% for val in company_sizes %}
                                                            <option value="{{ val.range }}" class='strip_emp'
                                                                {% if val.range in mapping.company_size %}selected{% endif %}>
                                                                {{ val.range }}</option>
                                                            {% endfor %}
                                                        </select>

                                                    </div>
                                                    <div class="multi-select-full"
                                                        onclick="changeInfo('camp_emp_size')">
                                                        <select id="id_{{ mappingform.revenue_size.name }}"
                                                            name="{{ mappingform.revenue_size.name }}"
                                                            class="multiselect-campaign-method3" multiple="multiple">
                                                            <!--<option>Select Campaign Method</option> -->
                                                            {% for val in revenue_size %}
                                                            <option value="{{ val.range }}" class="strip_revenue"
                                                                {% if val.range in mapping.revenue_size %}selected{% endif %}>
                                                                {{ val.range }}</option>
                                                            {% endfor %}
                                                        </select>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-lg-3">ABM</label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-4 ">
                                                <div class="checkbox">
                                                     <label>
                                                        <input type="checkbox" class="styled" data-alter-on-val="1"
                                                            data-alter-off-val="0"
                                                            name="{{specificationform.abm_status.name }}"
                                                            id="id_{{ specificationform.abm_status.name }}"
                                                            onfocus="changeInfo('camp_abm')"
                                                            value="{{specification.abm_status}}"
                                                            {% if specification.abm_status  == 1 %}checked{% endif %}>
                                                        ABM
                                                        </label>
                                                </div>
                                            </div>
                                            <div class="col-md-6 abm_f">
                                                <input type="file" accept=".csv" name="abm_company_file"
                                                    id="button_abm_company_list"
                                                    class="file-styled data_file"><br>
                                                {% if specification.abm_company_file %}
                                                    <p id='abm_url'><a href="{{specification.abm_company_file.url}}">Old ABM File  </a>
                                                    <span class="rm_file" data-camp="{{campaign.id}}" data-type="abm"> <i class="fa fa-times" aria-hidden="true"></i></span></p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3">Suppression</label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-4 checkbox">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" class="styled" data-alter-on-val="1"
                                                            data-alter-off-val="0"
                                                            name="{{ specificationform.suppression_status.name }}"
                                                            id="id_{{ specificationform.suppression_status.name }}"
                                                            onfocus="changeInfo('camp_abm')"
                                                            value="{{specification.suppression_status}}"
                                                            {% if specification.suppression_status  == 1 %}checked{% endif %}>
                                                        Suppression
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-6 supp_file">
                                                <input type="file" accept=".csv" name="suppression_company_file"
                                                    id="id_suppression_company_file"
                                                    class="file-styled data_file1"><br>
                                                {% if specification.suppression_company_file %}
                                                <p id='supp_url'>
                                                    <a href="{{specification.suppression_company_file.url}}">Old Suppression File</a>
                                                <span class='rm_file' data-camp="{{campaign.id}}" data-type="supp"> <i class="fa fa-times" aria-hidden="true"></i></span></p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3">Custom Question</label>
                                    <div class="col-lg-9">
                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="cusome_ques"
                                                            class="styled cut_check" value="1"
                                                            {% if mapping.custom_question != 0  %}checked{%endif%}
                                                            data-alter-on-val="1" data-alter-off-val="0"
                                                            onfocus="changeInfo('camp_rfq')">
                                                        Yes
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-6 custom_question_1">
                                                <input type="number"
                                                    name="{{ mappingform.custom_question.name }}"
                                                    id="id_{{ mappingform.custom_question.name }}"
                                                    class="form-control cusome_ques_value "
                                                    value="{{mapping.custom_question}}"
                                                    data-old-no="{{mapping.custom_question}}"
                                                    placeholder="No. of Custom question" onfocus="changeInfo('camp_rfq')">
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="form-group" >
                                    <label class="control-label col-lg-3">Target Quantity</label>
                                    <div class="col-lg-9" >
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="input" >
                                                    <!-- target quantity field displayed on page -->
                                                    <input type="text" name="currency-field" id="currency-field"
                                                        pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" onfocus="changeInfo('camp_targetQuantity')"
                                                        value="{{campaign.target_quantity}}" data-type="target_quantity"
                                                        placeholder="Target Quantity" class="form-control" {% if clone == 1 %}disabled{% endif %}>
                                                    <!-- target quantity field used to store, fetch and update database -->
                                                    <input type="number" name="{{ campaignform.target_quantity.name }}"
                                                        id="id_{{ campaignform.target_quantity.name }}" onfocus="changeInfo('camp_targetQuantity')"
                                                        style="display:none" class="form-control target_ignore" min="0"
                                                        placeholder="Target Quantity" {% if clone == 1 %}readonly{% endif %}
                                                        value="{{campaign.target_quantity}}">
                                                    {{ campaignform.target_quantity.errors }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-lg-3">Campaign Start Date <span
                                            style="color:red">*</span></label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="input">
                                                    <input class="form-control start_date_selector" type="text"
                                                        name="{{ campaignform.start_date.name }}"
                                                        onfocus="changeInfo('camp_date')"
                                                        id="id_{{ campaignform.start_date.name }}"
                                                        value="{{ campaign.start_date }}" required />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-lg-3">Campaign End Date <span
                                            style="color:red">*</span></label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="input">
                                                    <input class="form-control end_date_selector" type="text"
                                                        name="{{ campaignform.end_date.name }}"
                                                        onfocus="changeInfo('camp_date')"
                                                        id="id_{{ campaignform.end_date.name }}"
                                                        value="{{campaign.end_date}}" required />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- RFQ expiry time input -->
                                <div class="form-group">
                                    <label class="control-label col-lg-3">Quotation Expiry <span
                                            style="color:red">*</span></label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="input">
                                                    <input class="form-control" type="text"
                                                        name="{{ campaignform.rfq_timer.name }}"
                                                        onfocus="changeInfo('camp_rfq_timer')"
                                                        id="id_{{ campaignform.rfq_timer.name }}"
                                                        placeholder="Quotation Expiry Timeout"
                                                        value="{{ campaign.rfq_timer }}" required readonly />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3">Special Instructions</label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <textarea rows="3" name="{{ mappingform.special_instructions.name }}"
                                                    id="id_{{ mappingform.special_instructions.name }}" cols="4"
                                                    onfocus="changeInfo('camp_istructions')"
                                                    class="form-control elastic elastic-destroy spins"
                                                    placeholder="Campaign Special Instructions">{{mapping.special_instructions}}</textarea>
                                                <span class="label label-block label-primary text-left"></span>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-lg-3">Select Vendor <span
                                            style="color:red">*</span></label>

                                    <div class="col-lg-9" id="container_vendor_type">

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="hidden" name="{{ campaignform.tc_vendor.name }}"
                                                            id="id_{{ campaignform.tc_vendor.name }}"
                                                            value="{{ campaign.tc_vendor}}" {% if clone == 1 %}readonly{% endif %}>
                                                        <input type="checkbox" data-alter-on-val="1"
                                                            data-alter-off-val="0"
                                                            {% if campaign.tc_vendor == 1 %}checked{% endif %}
                                                            class="styled chk_replace_val"
                                                            value="{{ campaign.tc_vendor}}" {% if clone == 1 %}disabled{% endif %}
                                                            onfocus="changeInfo('camp_vendor')"> TC-Vendor
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="hidden"
                                                            name="{{ campaignform.internal_vendor.name }}"
                                                            id="id_{{ campaignform.internal_vendor.name }}" {% if clone == 1 %}readonly{% endif %}
                                                            value="{{ campaign.internal_vendor}}">

                                                        <input type="checkbox" data-alter-on-val="1"
                                                            data-alter-off-val="0" class="styled chk_replace_val"
                                                            value="{{ campaign.internal_vendor}}" {% if clone == 1 %}disabled{% endif %}
                                                            {% if campaign.internal_vendor == 1 %}checked{% endif %}
                                                            onfocus="changeInfo('camp_vendor')">
                                                        Internal Vendor
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="hidden"
                                                            name="{{ campaignform.external_vendor.name }}"
                                                            id="id_{{ campaignform.external_vendor.name }}" {% if clone == 1 %}readonly{% endif %}
                                                            value="{{ campaign.external_vendor }}">

                                                        <input type="checkbox" data-alter-on-val="1"
                                                            data-alter-off-val="0" class="styled chk_replace_val"
                                                            value="{{ campaign.external_vendor}}"
                                                            {% if campaign.external_vendor == 1 %}checked{% endif %} {% if clone == 1 %}disabled{% endif %}
                                                            onfocus="changeInfo('camp_vendor')">
                                                        External Vendor
                                                    </label>
                                                </div>
                                            </div>
                                            {{ campaignform.vendors.errors }}
                                        </div>
                                        <div class="row mt-10 hidden" id="vendor_error_msg">
                                            <span class="pl-10 text-danger">Error select at least one vendor</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2"></label>
                                    <div class="col-lg-10">
                                        <div class="row mt-20 mb-20">
                                            <div class="col-md-3">
                                                {% if clone == 1 %}
                                                    <button type="submit"
                                                        class="btn btn-primary legitRipple pull-right"><i class="fa fa-refresh"></i> <span class="bold">Update</span><span
                                                            class="legitRipple-ripple"></span></button>
                                                {% else %}
                                                    <button type="submit"
                                                        class="btn submit-btn legitRipple pull-right"><i class="fa fa-check"></i>&nbspSUBMIT<span
                                                            class="legitRipple-ripple"></span></button>
                                                {% endif %}

                                            </div>
                                                    <!-- <div class="col-md-2">
                                                        <button type="button" id="btn_reset"
                                                            class="btn btn-danger legitRipple pull-right">Reset<span
                                                                class="legitRipple-ripple"></span></button>
                                                    </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4" style="right: 2%;position: fixed;">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h6 class="panel-title" id="field_info">Info</h6>
                                    </div>
                                    <div class="panel-body">
                                        <ul id="field_desc" style="font-size: 14px;font-weight: 500;">

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <!-- /highlighting rows and columns -->

        </div>
        <!-- main row -->

    </div>
    <!-- /content area -->

</div>
<!-- /main content -->

{% endblock %}


<!-- ============================ -->
<!--        page level scripts    -->
<!-- =========================== -->
{% block page_level_scripts %}
<script>
    $(function () {


        /*change li active*/
        /*add active class to li*/
        $("#campaign").addClass("active");
        $("#campaign-create").addClass("active");

        /* Geo Spot js */
        $(".dropdown-toggle-sweet_spot").click(function () {
            $('.sweet_spot_toggle').show();
        });
        $(".dropdown-toggle-sweet_spot_close").click(function () {
            $('.sweet_spot_toggle').hide();
        });
        $(".region_country_submite").click(function () {
            var region_country = [];

            $(".region_country:checked").each(function () {
                region_country.push($(this).attr('data'));
            });
            console.log(region_country.length)
            if (region_country.length > 0) {
                // $('.dropdown-toggle-sweet_spot').val(`${region_country[0]} + ${region_country.length-1} more`);\
                $('.dropdown-toggle-sweet_spot').val(`${region_country[0]} + ${region_country.length - 1} more`);
                $('#sweet_spot').val(region_country)
            } else {
                $('.dropdown-toggle-sweet_spot').val('')
            }
            $('.sweet_spot_toggle').hide();
            $('.geo_').valid();
            $('#sweet_spot-error').hide();
            // var region_country = [];
            // $(".region_country:checked").each(function () {
            //     region_country.push($(this).attr('data'));
            // });
            // $('.dropdown-toggle-sweet_spot').val(region_country);
            // $('.sweet_spot_toggle').hide();
            // $('#id_geo').valid();
            // var region_country = [];
            //
            // $(".region_country:checked").each(function () {
            //     region_country.push($(this).attr('data'));
            // });
            // console.log(region_country.length)
            // if (region_country.length > 0) {
            //     // $('.dropdown-toggle-sweet_spot').val(`${region_country[0]} + ${region_country.length-1} more`);\
            //     $('.dropdown-toggle-sweet_spot').val(`${region_country[0]} + ${region_country.length - 1} more`);
            //     $('#sweet_spot').val(region_country)
            // } else {
            //     $('.dropdown-toggle-sweet_spot').val('')
            // }
            // $('.sweet_spot_toggle').hide();
            //  $('.geo_').valid();
            //  $('#sweet_spot-error').hide();

        });
    });

    // global variable
    var DEBUG = true; // false or true
</script>

<style>
    .multiselect-container .checkbox .checker {
        top: 18px !important;
    }
</style>

<!-- panel-tab color-->
<link href="{% static 'client/css/createcampaign.css' %}?ver=1.1" rel="stylesheet" type="text/css">


<script type="text/javascript" src="{% static 'assets/js/core/libraries/jasny_bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/bootstrap_select.min.js' %}"></script>

<script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery_ui/core.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/selectboxit.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/inputs/autosize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/inputs/formatter.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/tags/tagsinput.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/tags/tokenfield.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/inputs/touchspin.min.js' %}"></script>

<script type="text/javascript" src="{% static 'assets/js/plugins/ui/moment/moment.min.js' %}"></script>

<script type="text/javascript"
    src="{% static 'assets/js/plugins/forms/inputs/typeahead/typeahead.bundle.min.js' %}?ver=1.1"></script>
<script type="text/javascript"
    src="{% static 'assets/js/plugins/forms/inputs/typeahead/handlebars.min.js' %}?ver=1.1"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/inputs/passy.js' %}?ver=1.1"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/inputs/maxlength.min.js' %}?ver=1.1"></script>

<script type="text/javascript" src="{% static 'client/js/create_campaign/form_floating_labels.js' %}?ver=1.1"></script>
<script type="text/javascript" src="{% static 'assets/js/pages/form_controls_extended_client.js' %}?ver=1.2"></script>

<script type="text/javascript" src="{% static 'client/js/form_checkboxes_radios.js' %}?ver=1.1"></script>

<script type="text/javascript" src="{% static 'assets/js/plugins/forms/validation/validate.min.js' %}?ver=1.1"></script>
<script type="text/javascript" src="{% static 'client/js/form_validation.js' %}?ver=1.1"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<link rel="stylesheet" type="text/css" href="{% static 'client/plugins/flatpicker/material_blue.css' %}?ver=1.1">


<script type="text/javascript">
    // avoid only space input for special instructions field..Akshay G.
    $(document).on('keyup','#id_special_instructions', function(){
        if ($(this).val().trim().length == 0){
            $(this).val('');
        }
    })
    var quote_flag = 0;
    var time;
    var custom_q = {{ mapping.custom_question }}
    $(document).ready(function () {
        if ($('.abm_f').length){
            if($('.filename').length){
                $('.filename').hide();

            }
        }
        if ($('.supp_file').length){
            if($('.filename').length){
                $('.filename').hide();
            }
        }
        if ($('.cut_check').prop('checked') == true) {
            $('.cusome_ques_value').val(custom_q)
            $('.cusome_ques_value').data('old-no', custom_q);
            $('.custom_question_1').toggle('hidden')
        }

        if ($("input[name='abm_status']").prop('checked') == true) {
            $('.abm_f').toggle('hidden')
        }

        if ($("input[name='suppression_status']").prop('checked') == true) {
            $('.supp_file').toggle('hidden')
        }


        if ($('#id_company_size').val() != null || $('#id_revenue_size').val() != null) {
            rev_cmp_size = 2
        }
        $('input[name="country"]').each(function () {
            if ($(this).attr('checked')) {
                $(this).parent().addClass('checked');
                $(this).prop('checked', true)

            }
            if ($(this).is(':checked') == true) {
                $(`#${$(this).data('region')}`).prop('checked', $(this).is(':checked'))
                $(`#${$(this).data('region')}`).parent().addClass('checked')
            } else {
                if ($(`.child_${$(this).data('region')}:checked`).length == 0) {
                    $(`#${$(this).data('region')}`).prop('checked', $(this).is(':checked'))
                    $(`#${$(this).data('region')}`).parent().removeClass('checked')
                }
            }
            var region_country = [];

            $(".region_country:checked").each(function () {
                region_country.push($(this).attr('data'));
            });
            console.log(region_country.length)
            if (region_country.length > 0) {
                // $('.dropdown-toggle-sweet_spot').val(`${region_country[0]} + ${region_country.length-1} more`);\
                $('.dropdown-toggle-sweet_spot').val(`${region_country[0]} + ${region_country.length - 1} more`);
                $('#sweet_spot').val(region_country)
            } else {
                $('.dropdown-toggle-sweet_spot').val('')
            }
            if ($(`.child_${$(this).data('region')}:checked`).length == $(`.child_${$(this).data('region')}`).length) {
                $('#select_all_geo').prop('checked', true)
                $('#select_all_geo').closest('span').addClass('checked')
            } else {
                $('#select_all_geo').prop('checked', false)
                $('#select_all_geo').closest('span').removeClass('checked')
            }
        });
        $('input[name="region_check"]').each(function () {
            id = $(this).attr('value');
            class_name = 'child_' + id

            if ($('[class=' + class_name + ']:checked').length > 0) {
                $(this).attr('checked');
                $(this).parent().addClass('checked');
            }

        });
        var min_end = $("input[name='start_date']").val();
        min_end = new Date(min_end);
        var daysPrior = 2;
        min_end.setDate(min_end.getDate() + daysPrior);
        min_end = min_end.toISOString();

        var hour = new Date().getHours();
        console.log("Hours : ", hour);

        var min_start_dt = new Date();

        // datepicker disable date based on time
        if (hour >= 13) {
            min_start_dt.setDate(min_start_dt.getDate() + 3);
        }
        else {
            min_start_dt.setDate(min_start_dt.getDate() + 2);
        }
        console.log("min_start_dt : ", min_start_dt);

        // declare variables to hold start and end date
        var selected_start_date_str = null;
        var selected_end_date_str = null;

        $(".start_date_selector").flatpickr(
            {
                // altInput: true,
                altFormat: "F j, Y",
                dateFormat: "Y-m-d",
                minDate: min_start_dt,

                "disable": [
                    function (date) {
                        // return true to disable
                        // weekday[0] =  "Sunday"; or weekday[6] = "Saturday";
                        return (date.getDay() === 0 || date.getDay() === 6);

                    }
                ],

                // events
                // onValueUpdate gets triggered when the input value is updated with a new date string
                onValueUpdate: function (selectedDates, dateStr, instance) {
                    DEBUG && console.log("Selected start date: ", selectedDates)
                    DEBUG && console.log("Selected start date in string format: ", dateStr)
                    $("#id_rfq_timer").datetimepicker({
                        minDate: 0,
                        dateFormat: "yy-mm-dd",
                        maxDate: dateStr,
                    });
                    quote_flag = 1;
                    min_end = dateStr;
                    // store start date in string format(yyyy-mm-dd)
                    // selected_start_date_str = dateStr;
                    selected_start_date_str = $("input[name='start_date']").val(); // to set default value from db


                    // compare dates if end date is also selected
                    if (selected_end_date_str) {
                        var selected_start_date = new Date(selected_start_date_str);
                        var selected_end_date = new Date(selected_end_date_str);

                        // if selected date less than end date process fruther
                        if (selected_start_date < selected_end_date) {
                            set_priority_and_adhoc_status({
                                start_date: selected_start_date,
                                end_date: selected_end_date,
                            })
                        }
                        else {
                            // clear selected date
                            instance.clear();

                            DEBUG && console.log("Please select start date lesser than end date");

                            // reset priority and adhoc vals
                            clear_priority_and_adhoc_status();

                            $.confirm({
                                title: 'Encountered an error!',
                                content: "Start date should be less than end date",
                                type: 'red',
                                typeAnimated: true,
                            });
                        }
                    }
                    else {
                        DEBUG && console.log("Selected end date is undefined so skipping start and end date comparision")
                    }
                },
            });


        $(".end_date_selector").flatpickr(
            {
                // altInput: true,
                altFormat: "F j, Y",
                dateFormat: "Y-m-d",
                minDate: min_end,

                "disable": [
                    function (date) {
                        // return true to disable
                        // weekday[0] =  "Sunday"; or weekday[6] = "Saturday";
                        return (date.getDay() === 0 || date.getDay() === 6);

                    }
                ],

                // events
                // onValueUpdate gets triggered when the input value is updated with a new date string
                onValueUpdate: function (selectedDates, dateStr, instance) {
                    DEBUG && console.log("Selected end date: ", selectedDates)
                    // console.log("end date instance: ", instance)

                    // store end date in string format(yyyy-mm-dd)
                    selected_end_date_str = dateStr;

                    // compare dates if start date is also selected
                    if (selected_start_date_str) {
                        var selected_start_date = new Date(selected_start_date_str);
                        var selected_end_date = new Date(selected_end_date_str);

                        // if selected end date greater than start date process fruther
                        if (selected_end_date > selected_start_date) {
                            set_priority_and_adhoc_status({
                                start_date: selected_start_date,
                                end_date: selected_end_date,
                            })
                        }
                        else {
                            // clear selected date
                            instance.clear();

                            DEBUG && console.log("Please select end date greater than start date");

                            // reset priority and adhoc vals
                            clear_priority_and_adhoc_status();

                            $.confirm({
                                title: 'Encountered an error!',
                                content: "End date should be greater than start date",
                                type: 'red',
                                typeAnimated: true,
                            });
                        }
                    }
                    else {
                        DEBUG && console.log("Campaign start date is undefined so skipping start and end date comparision")
                    }
                },
            });


        $(document).on("change", ".chk_replace_val", function () {
            console.log(" chk_replace_vals replacing values ")
            //var is_checked = $(this).prop('checked');

            if (this.checked) {
                var val_alter_on = parseInt($.trim($(this).data("alter-on-val")));
                $(this).val(val_alter_on);
                $(this).closest(".checkbox").find("input[type=hidden]").first().val(val_alter_on);
                console.log("  checkbox value replaced as :  ", val_alter_on)
            }
            else {
                var val_alter_off = parseInt($.trim($(this).data("alter-off-val")));
                $(this).val(val_alter_off);
                $(this).closest(".checkbox").find("input[type='hidden']").first().val(val_alter_off);
                console.log("  checkbox value replaced as :  ", val_alter_off)
            }
        })

        // checkbox vendor type selector
        $(document).on("change", "input[name='vendor_group[]']", function () {

            var ele = this;
            var values = new Array();
            $.each($("input[name='vendor_group[]']:checked"), function () {
                // values.push($(this).val());
                values.push($(this).val());
            });

            var str_vendors = values.toString();
            console.log("selected checkbox group values :", values);
            console.log("selected checkbox values.toString() :", str_vendors);

            // store in input textbox
            var data_holder_class = $(ele).data("holder");
            if ($("." + data_holder_class).length) {
                $("." + data_holder_class).val(str_vendors);
                console.log("Data Holder value :", $("." + data_holder_class).val());
            }
            else {
                console.log("Data Holder with class :'", data_holder_class, "' not found");
            }

        });

        $(document).on("change", "input[name='rfq']", function () {
            var rfq = $(this).val();
            console.log("Request For Quote : ", rfq);
            $('#id_cpl').val('0')
            $('#id_target_quantity').val('0')

            //$("input[name='rfq_status']").val(rfq);
            console.log("rfq_status value : ", $("input[name='rfq_status']").val());
        });



        // on rest button Click

        if (quote_flag === 0) {
            $("#id_rfq_timer").datetimepicker({
                minDate: 0,
                dateFormat: "yy-mm-dd",

            });
        }
        // adding custom class to one of the two start_date elements which need to be ignored while validating for required fields
        $('.start_date_selector').each(function (i) {
            if (i == 1) {
                $(this).addClass('flatpickerStart');
            }
        })
        // adding custom class to one of the two end_date elements which need to be ignored while validating for required fields
        $('.end_date_selector').each(function (i) {
            if (i == 1) {
                $(this).addClass('flatpickerEnd');
            }
        })
        // validate fields on 'change' event
        $(document).on('change', '#id_start_date', function () {
            $(this).valid();
        })
        $(document).on('change', "#id_end_date", function () {
            $(this).valid();
        })

        // code to handle data of Target quantity field ..Akshay
        $("input[data-type='target_quantity']").on({
            keyup: function () {
                formatCurrency($(this));
                // remove special characters except . from string
                var target_quantity = $(this).val().replace(/[^\d.-]/g, '');
                // check if, there is only $ or 0 in the field
                if (isNaN(parseInt(target_quantity))) {
                    $(this).val('');
                }
                else {
                    $('#id_target_quantity').val(parseInt(target_quantity));
                    $("input[name='client_raimainingleads']").val(target_quantity);
                    $("input[name='client_target_quantity']").val(target_quantity);
                }

            },
            // on clicking outside input box
            blur: function () {
                formatCurrency($(this), "blur");
                // remove special characters except . from string
                var target_quantity = $(this).val().replace(/[^\d.-]/g, '');
                // check if, there is only $ or 0 in the field
                if (isNaN(parseInt(target_quantity))) {
                    $(this).val(''); // Make field empty
                }
                else {
                    $('#id_target_quantity').val(parseInt(target_quantity));
                    $("input[name='client_raimainingleads']").val(target_quantity);
                    $("input[name='client_target_quantity']").val(target_quantity);
                }
            },
            // don't allow pasting value
            paste: function () {
                $(this).blur();
            }
        });

        // jquery code for target quantity
        function formatNumber(n) {
            // format number 1000000 to 1,234,567
            return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        }

        // jquery code for target quantity
        function formatCurrency(input, blur) {
            // appends $ to value, validates decimal side
            // and puts cursor back in right position.

            // get input value & set max length of 9 digits to target quantity
            var input_val = input.val().slice(0, 11);

            // don't validate empty input
            if (input_val === "") { return; }

            // original length
            var original_len = input_val.length;

            // initial caret position
            var caret_pos = input.prop("selectionStart");
            input_val = formatNumber(input_val)
            // send updated string to input
            input.val(input_val);

            // put caret back in the right position
            var updated_len = input_val.length;
            caret_pos = updated_len - original_len + caret_pos;
            input[0].setSelectionRange(caret_pos, caret_pos);
        }
        // To remove leading spaces from employee size & revenue field during page load...Akshay G.
        $('.strip_revenue').each(function(){
            $(this).html($(this).val());
        })
        $('.strip_emp').each(function(){
            $(this).html($(this).val());
        })
        // remove leading spaces from outreach methods for on hover feature.. Akshay G.
        $('.strip_outreach').each(function(){
            $(this).html($(this).html().replace(/\s/g, ''));
        })
        $('.strip_industry').each(function(){
            $(this).html($(this).html().replace(/\s/g, ''));
        })
    })

    $(document).on('change', '.checker input[type="checkbox"]:checked', function () {

    })

    $(document).on('change', "input[name='cusome_ques']", function () {
        if ($('.cut_check').prop('checked') == true) {
            $('.cusome_ques_value').val(1)
            $('.cusome_ques_value').data('old-no', custom_q);
            $('.cusome_ques_value').keyup();
        }
        else {
            $('.cusome_ques_value').val(0)
            $('.cusome_ques_value').data('old-no', 0);
        }
        $('.custom_question_1').toggle('hidden');

    })
    function set_priority_and_adhoc_status(options) {
        var defaults = {
            start_date: null,
            end_date: null,

            err_title: "Encountered an error !",
            error_msg: "Please select field",
            msg_type: "red",
        };

        var params = $.extend({}, defaults, options);

        // console.log(options);
        // console.log(params);

        var priority = 3; // default 3 for low

        //get differencs
        var end_date = moment(params.end_date) //moment([2015, 11, 29]);
        var start_date = moment(params.start_date) //moment([2007, 06, 27]);

        var today = moment().format('YYYY-MM-DD') //moment([2007, 06, 27]);
        console.log("today :", today);

        var diff_startdate_today = start_date.diff(today, 'days');
        console.log('Day diffrence between selected startdate and today date : ' + diff_startdate_today);

        // get diffrence between end date and start date
        var total_days = end_date.diff(start_date, 'days');
        console.log('Total days difference between selected end and start date: ' + total_days);

        // set prority and adhoc
        // if enddate-startdate is less tahn or equal to 10 and also check is start date is less than 10 days from today
        if (total_days >= 0 & total_days <= 10 && diff_startdate_today <= 10) {
            console.log("Hign priority lead");
            // 1 for high // defined in choice.py
            priority = 1;

            // change adhoc campaign hidden input element status
            console.log("setting adhoc hidden element value to 1 i.e. True");
            $("input[name='adhoc']").val("1");
        }
        else if (total_days > 10 & total_days <= 30) {
            console.log("Medium priority lead");
            // 2 for medium // defined in choice.py
            priority = 2;
            console.log("setting adhoc hidden element value to 0 i.e. false");
            $("input[name='adhoc']").val("0");
        }
        else if (total_days > 30) {
            console.log("Low priority lead");
            // 3 for Low // defined in choice.py
            priority = 3;
            console.log("setting adhoc hidden element value to 0 i.e. false");
            $("input[name='adhoc']").val("0");
        }

        // set priority to element
        $("input[name='priority']").val(priority);
        console.log("This form element priority : ", $("input[name='priority']").val());
    }

    function clear_priority_and_adhoc_status() {
        // reset priority
        $("input[name='priority']").val("")

        // reset is Adhoc
        // setting adhoc hidden element value to 0 i.e. false
        $("input[name='priority']").val("0");

        DEBUG && console.log("Priority and adhoc element value resetted")
    }
    $(document).on("change", "input[name='region_check']", function () {
        parent_val = $(this).is(':checked')
        $(`.child_${$(this).val()}:checkbox`).each(function () {
            $(this).prop('checked', parent_val)
            if (parent_val == true) {
                $(this).closest('span').addClass('checked')
            } else {
                $(this).closest('span').removeClass('checked')
            }
        })
        if ($(".region_class:checked").length == $(".region_class").length) {
            $('#select_all_geo').prop('checked', true)
            $('#select_all_geo').closest('span').addClass('checked')
        } else {
            $('#select_all_geo').prop('checked', false)
            $('#select_all_geo').closest('span').removeClass('checked')
        }
    })
    $(document).on("change", "input[name='country']", function () {
        // alert()
        console.log($(this))
        if ($(this).is(':checked') == true) {
            $(`#${$(this).data('region')}`).prop('checked', $(this).is(':checked'))
            $(`#${$(this).data('region')}`).parent().addClass('checked')
            if ($(`.child_${$(this).data('region')}:checked`).length == $(`.child_${$(this).data('region')}`).length) {
                if ($(".region_class:checked").length == $(".region_class").length) {
                    $('#select_all_geo').prop('checked', true)
                    $('#select_all_geo').closest('span').addClass('checked')
                } else {
                    $('#select_all_geo').prop('checked', false)
                    $('#select_all_geo').closest('span').removeClass('checked')
                }
            }
        } else {
            if ($(`.child_${$(this).data('region')}:checked`).length == 0) {
                $(`#${$(this).data('region')}`).prop('checked', $(this).is(':checked'))
                $(`#${$(this).data('region')}`).parent().removeClass('checked')
            }
            if ($(`.child_${$(this).data('region')}:checked`).length == $(`.child_${$(this).data('region')}`).length) {
                $('#select_all_geo').prop('checked', true)
                $('#select_all_geo').closest('span').addClass('checked')
            } else {
                $('#select_all_geo').prop('checked', false)
                $('#select_all_geo').closest('span').removeClass('checked')
            }
        }
    })
    // $(document).on('keyup', '.id_io_number', function () {
    //     if ($(this).val().length >= 4) {
    //         $('#id_io_number-error').hide()
    //         $.ajax({
    //             type: "GET",
    //             url: "/client/check_io/",
    //             data: { 'ionumber': $(this).val() },
    //             dataType: "json",
    //             success: function (data) {
    //                 if (data.status == 1) {
    //                     $('.io_alert').hide()
    //                     $('.io_alert').css('color', 'none')
    //                 } else {
    //                     $('.io_alert').show()
    //                     $('.io_alert').text("IO number already exists")
    //                     $('.io_alert').css('color', 'red')
    //                 }
    //                 console.log(data)
    //             }
    //         });
    //     }
    // })

    $(document).on('change', "input[name='abm_status']", function () {
        $('.data_file').val('')
        if ($('.abm_f').length){
            if($('.filename').length){
                $('.filename').hide();

        }
    }
        $('.abm_f').toggle('hidden')

    })

    $(document).on('change', "input[name='suppression_status']", function () {
        $('.data_file1').val('')
        if ($('.supp_file').length){
            if($('.filename').length){
                $('.filename').hide();
        }
        }
        $('.supp_file').toggle('hidden')

    })
    $(document).on("change", "input[name='target_quantity']", function () {
        var target_quantity = $(this).val();
        console.log("target_quantity : ", target_quantity);

        // copy value in raimainingleads
        $("input[name='client_raimainingleads']").val(target_quantity);
        $("input[name='client_target_quantity']").val(target_quantity);
    });

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    $(document).on('change', "input[name='abm_company_file']", function () {
        obj = $(this);
        var data = new FormData();
        data.append('csrfmiddlewaretoken', getCookie('csrftoken'));
        data.append('abm_company_file', this.files[0]);
        console.log(this.files[0]);
        $.ajax({
            url: '/client/abm_check/',
            type: 'POST',
            processData: false, // important
            contentType: false, // important
            dataType: 'json',
            data: data,
            success: function (data) {
                if (data.success == 2) {
                    $("input[name='abm_company_file']").val('');
                    obj.siblings('span').text("CHOOSE FILE");
                    $("input[name='abm_status']").trigger("click");
                    // swal('ABM file format is invalid or empty, Please upload a valid file!')
                    swal({  
                        title: "Encountered an error!", 
                        text: "ABM file format is invalid or empty, Please upload a valid file.", 
                        type: "warning", 
                        icon: "warning" 
                    });
                }else if(data.success == 1){
                    $("input[name='abm_company_file']").siblings('span').text($("input[name='abm_company_file']").val().replace(/C:\\fakepath\\/i, ''))
                }else{
                    obj.siblings('span').text("CHOOSE FILE");
                }
            }
        });
    });

    $(document).on('change', "input[name='suppression_company_file']", function () {
        obj = $(this);
        var data = new FormData();
        data.append('csrfmiddlewaretoken', getCookie('csrftoken'));
        data.append('suppression_company_file', this.files[0]);
        console.log(this.files[0]);
        $.ajax({
            url: '/client/supp_check/',
            type: 'POST',
            processData: false, // important
            contentType: false, // important
            dataType: 'json',
            data: data,
            success: function (data) {
                if (data.success == 2) {
                    $("input[name='suppression_company_file']").val('');
                    obj.siblings('span').text("CHOOSE FILE");
                    $("input[name='suppression_status']").trigger('click');
                    // swal('Suppression file format is invalid or empty, Please upload a valid file!')
                    swal({  
                            title: "Encountered an error!", 
                            text: "Suppression file format is invalid or empty, Please upload a valid file!", 
                            type: "warning", 
                            icon: "warning" 
                        });
                }else if (data.success == 1){
                    $("input[name='suppression_company_file']").siblings('span').text($("input[name='suppression_company_file']").val().replace(/C:\\fakepath\\/i, ''))
                }
                else{
                    obj.siblings('span').text("CHOOSE FILE");
                }
            }
        });
    });

    $(document).on('change', 'input[name="select_all_geo"]', function () {
        parent_val = $(this).is(':checked')
        $('.country_div').find('input[name="region_check"]').each(function () {
            $(this).prop('checked', parent_val)
            parent = $(this)
            // $(this).closest('span').addClass('checked')
            $(`.child_${$(this).val()}:checkbox`).each(function () {
                $(this).prop('checked', parent_val)
                if (parent_val == true) {
                    $(this).closest('span').addClass('checked')
                    parent.closest('span').addClass('checked')
                } else {
                    $(this).closest('span').removeClass('checked')
                    parent.closest('span').removeClass('checked')
                }
            })
        })
    });

    // ajax call for remove file from clone campaign
    $(document).on('click', '.rm_file', function () {
        $obj = $(this);
        var type = $obj.data('type');
        var camp_id = $obj.data('camp');
        dataf = {'type': type, 'camp_id': camp_id, "csrfmiddlewaretoken": getCookie('csrftoken')}
        $.confirm({
            title: 'Are You Sure ?',
            content: 'This will remove old file and its data permanently and it can\'t be undone',
            type: 'red',
            typeAnimated: true,
            buttons: {
                confirm: function () {
                    $.ajax({
                        url: '/client/removefile/',
                        type: 'POST',
                        dataType: 'json',
                        data: dataf,
                        success: function (data) {
                            if(data.success == 2){
                                $.alert("File has been removed successfully.");
                                $obj.closest('p').remove();
                            }else{
                                $.alert("Something went wrong, Please contact admin for help.");
                            }
                        }
                    });
                },
                cancel: function () {
                },
            }
        });
    });

    $(document).on('click', '#btn_reset', function () {
        // reset bootstrap multiselect element
        $.confirm({
            title: 'Are you sure ?',
            content: "Once you confirm, your data will be removed completely!",
            type: 'red',
            typeAnimated: true,
            buttons: {
                confirm: function () {
                    if ($('.custom_question_div').is(':hidden') == false) {
                        $('.custom_question_div').toggle('hidden');
                    }
                    if ($('.abm_f').is(':hidden') == false) {
                        $("input[name='abm_company_file']").siblings('span').text("CHOOSE FILE")
                        $('.abm_f').toggle('hidden');
                    }
                    if ($('.supp_file').is(':hidden') == false) {
                        $("input[name='suppression_company_file']").siblings('span').text("CHOOSE FILE")
                        $('.supp_file').toggle('hidden');
                    }
                    if ($('.validation-error-label').css('display') == 'block') {
                        $('.validation-error-label').hide();
                        $('.id_company_size-error').hide();
                        $('.io_alert').hide();
                    }
                    $('#id_start_date-error').remove();
                    $('#id_end_date-error').remove();
                    $('#id_method-error').remove();
                    $('#id_name-error').remove();
                    $('#id_description-error').remove();
                    $('#id_industry_type-error').remove();
                    $('#id_job_title_function-error').remove();
                    $('#id_company_size-error').remove();
                    $('#id_revenue_size-error').remove();
                    $('#id_special_instructions-error').remove();
                    $('#-error').hide();
                    $('#id_rfq_timer-error').hide();
                    $('#-error').remove();
                    $('.multiselect-campaign-method')
                        .multiselect('deselectAll', false)
                        .multiselect('updateButtonText');
                    $('.multiselect-campaign-method1')
                        .multiselect('deselectAll', false)
                        .multiselect('updateButtonText');
                    $('.multiselect-campaign-method2')
                        .multiselect('deselectAll', false)
                        .multiselect('updateButtonText');
                    $('.multiselect-campaign-method3')
                        .multiselect('deselectAll', false)
                        .multiselect('updateButtonText');
                    // uncheck all checkboxes
                    $("input[type='checkbox']").attr('checked', false);
                    $.uniform.update("input:checkbox");
                    //$(this).closest("form").find('input:checkbox').removeAttr('checked');

                    $("#validate_campaign").trigger('reset');
                },
                cancel: function () {
                },
            }
        });
    });
</script>

<script>
    function changeInfo(str) {

        if (str == 'camp_name')
            campaignNameNote()
        else if (str == 'camp_desc')
            campaignDescNote()
        else if (str == 'camp_type')
            campaignTypeNote()
        else if (str == 'camp_method')
            campaignMothodNote()
        else if (str == 'camp_cpl')
            campaignCplNote()
        else if (str == 'camp_date')
            campaignDateNote()
        else if (str == 'camp_rfq')
            campaigncustom()
        else if (str == 'camp_vendor')
            campaignVendorNote()
        else if (str == 'camp_geo')
            campaignGeo()
        else if (str == 'camp_ind')
            campaignindustry()
        else if (str == 'camp_job_fun')
            campaignJobFunc()
        else if (str == 'camp_emp_size')
            campaignEmpSize()
        else if (str == 'camp_io')
            campaignIONote()
        else if (str == 'camp_abm')
            campaignAbmSupp()
        else if (str == 'camp_istructions')
            campaignInst()
        else if(str == 'camp_targetQuantity')
            campaigntargetQuantity()
        else if (str == 'camp_rfq_timer')
            campaignRfqTimer()
    }
    function campaigntargetQuantity() {
        $('#field_info').text('Info : Campaign Target Quantity');
        var str = "<li>Enter campaign target quantity </li>";
        $('#field_desc').empty().append(str);
    }
    function campaignRfqTimer() {
        $('#field_info').text('Info : Campaign RFQ Timer');
        var str = "<li>Select Campaign Quotation Expiry </li><li>No one can quote after time expires.</li>";
        $('#field_desc').empty().append(str);
    }

    function campaignNameNote() {
        var str = ""
        $('#field_info').text('Info : Campaign Name');
        str = "<li>Enter Campaign Name </li><li>Only 100 characters allowed for campaign name</li>";
        $('#field_desc').empty().append(str);
    }
    function campaignInst() {
        $('#field_info').text('Info : Campaign Special Instructions');
        var str = "<li>Special instructions for this campaign.</li>";
        $('#field_desc').empty().append(str);
    }
    function campaignDescNote() {
        $('#field_info').text('Info : Campaign Description');
        var str = "<li>Enter Campaign Description </li><li>Only 500 characters allowed for campaign description</li>";
        $('#field_desc').empty().append(str);
    }
    function campaignTypeNote() {
        $('#field_info').text('Info : Campaign Type');
        var str = "<li>Select Campaign Type </li><li>You can select only one type of campaign</li>";
        $('#field_desc').empty().append(str);
    }
    function campaignMothodNote() {
        $('#field_info').text('Info : Campaign Outreach Method');
        var str = "<li>Choose Campaign Method </li><li>You can select multiple outreach methods for campaign</li>";
        $('#field_desc').empty().append(str);
    }
    function campaignCplNote() {
        $('#field_info').text('Info : Campaign CPL');
        var str = "<li>Enter Campaign CPL </li><li>CPL means Cost Per Lead </li><li>You can enter only number not character </li><li>CPL in Dollar</li> ";
        $('#field_desc').empty().append(str);
    }
    function campaignDateNote() {
        $('#field_info').text('Info : Campaign Date');
        var str = "<li>Select Date of Campaign  </li><li>First click on Start Date </li><li>Second click on End Date</li>";
        $('#field_desc').empty().append(str);
    }
    function campaignRfqNote() {
        $('#field_info').text('Info : Campaign RFQ');
        var str = "<li>RFQ means Request for Quote `</li><li>If you are confuse to decide CPL of campaign then you can check rfq so that techconnectr will suggest you.</li>";
        $('#field_desc').empty().append(str);
    }
    function campaignVendorNote() {
        $('#field_info').text('Info : Choose  your Vendor');
        var str = "<li>TC-Vendor : Business with techconnectr vendor  </li><li>Internal Vendor : Your team </li><li>External Vendor : Business with your vendors </li>";
        $('#field_desc').empty().append(str);
    }
    function campaignGeo() {
        $('#field_info').text('Info : Campaign Geo');
        var str = "<li>Select Geo Spot for campaign </li>";
        $('#field_desc').empty().append(str);
    }
    function campaignindustry() {
        $('#field_info').text('Info : Campaign Industry');
        var str = "<li>Select Industries for campaign </li>";
        $('#field_desc').empty().append(str);
    }
    function campaignJobFunc() {
        $('#field_info').text('Info : Campaign Job Title & Function');
        var str = "<li>Enter Job title or function for campaign </li>";
        $('#field_desc').empty().append(str);
    }
    function campaignEmpSize() {
        $('#field_info').text('Info : Campaign Employee Size / Revenue Size ');
        var str = "<li>Select Employee Size   or Revenue Size </li>";
        $('#field_desc').empty().append(str);
    }
    function campaignIONote() {
        $('#field_info').text('Info : Camapign IO Number');
        var str = "<li>Enter Campaign IO Number </li>";
        $('#field_desc').empty().append(str);
    }
    function campaignAbmSupp() {
        $('#field_info').text('Info : ABM and Suppression');
        var str = "<li>You can download ABM and Suppression template below: </li><li><a href='/media/campaign_template/ABM_TEMPLATE.csv' download>ABM template</a></li><li><a href='/media/campaign_template/SUPPRESSION_TEMPLATE.csv' download>SUPPRESSION template</a></li>";
        $('#field_desc').empty().append(str);
    }
    function campaigncustom() {
        $('#field_info').text('Info : Custom Questions');
        var str = "<li>Number of custom questions allowed:</li><li>Max: 10</li>";
        $('#field_desc').empty().append(str);
    }

</script>
<style type="text/css">
    .content:first-child {
        padding-top: 57px;
        padding-left: 25px;
    }
    .bg-pink-400 {
            background-color: #2195f3;
            border-color: #2195f3;
            color: #fff;
        }
    .fa-upload{
        color: #fff!important;
        font-size: 13px!important
      }
</style>

{% endblock %}
<!--       page level scripts    -->
<!-- /=========================== -->
