{% extends "header/cheader.html" %}
{% load static %}
{% block scripts %}
{% include "campaign/accounthead.html" %}
{% include "campaign/js/mapping_js.html"%}
{% endblock %}

{% block scripts1 %}

{% include "campaign/css/account.css" %}

{% endblock %}

{% block content %}

<!-- Main sidebar -->
<!-- /main sidebar -->
    {% load static %}
    <!-- Global stylesheets -->
    <!-- /theme JS files -->
    <!-- Main content -->
    <div class="content-wrapper">
        <div id="slidediv" style="display: none;">
            <div style="margin-top: 47px;padding: 10px;">
                <div class="row">
                  <div class="col-md-12 ">
                    <!-- Top Clients List -->
                    <div class="panel panel-height panel-flat">
                       <div class="panel-body">
                            <!-- <p class="text-semibold">Single file upload example:</p> -->
                            <!-- <form action="#" class="dropzone" id="dropzone_single"></form> -->
                            <div class="mapp">
                                <div class="file_map">
                                    <div class="head">
                                        <label><strong>Preview</strong> </label>
                                    </div>
                                    <fieldset id="stepy-666069774215373-step-0" class="stepy-step" style="display: block;">
                                        <legend class="text-semibold" style="display: none;">Personal data</legend>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <table id="mapping_table" class="table table-dark table-striped" style="width:100%;">
                                                    <thead>  
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="stepy-navigator">
                                            <!-- <button type="button" class="btn btn-info legitRipple" id="save_camp_data"><i class="fa fa-cloud" aria-hidden="true"></i> Save<span class="legitRipple-ripple" style="left: 79.145%; top: 50%; transform: translate3d(-50%, -50%, 0px); transition-duration: 0.2s, 0.5s; width: 206.847%;"></span>
                                            </button> -->
                                            <button type="button" class="btn btn-danger set_top legitRipple" id="back"><i class="fas fa-arrow-left" aria-hidden="true"></i> Back <span class="legitRipple-ripple" style="left: 79.145%; top: 50%; transform: translate3d(-50%, -50%, 0px); transition-duration: 0.2s, 0.5s; width: 206.847%;"></span>
                                                </button>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /highlighting rows and columns -->
                </div>
                <!-- /content area -->
                </div>
            </div>
        </div>
        <!-- Content area -->
        <div class="mapping" style="margin-top: 47px;padding: 10px;">
            <div class="row">
              <div class="col-md-12 ">
                <!-- Top Clients List -->
                <div class="panel panel-height panel-flat">
                    <div class="panel-body">
                        <!-- <p class="text-semibold">Single file upload example:</p> -->
                        <!-- <form action="#" class="dropzone" id="dropzone_single"></form> -->
                        <div class="mapp">
                            <div class="file_map">
                                <div class="head">
                                    Mapping Header
                                </div>
                                <fieldset id="stepy-666069774215373-step-0" class="stepy-step" style="display: block;">
                                    <legend class="text-semibold" style="display: none;">
                                        <label class="label_head">All</label>
                                        <label class="label_head active_text">Mapped</label>
                                        <label class="label_head">Unmapped</label>
                                    </legend>
                                    <div class="row">
                                        <!-- <div class="col-md-8">
                                            <div class="col-md-6">
                                                 <div class="form-group">
                                                    <label><strong>Fields in file</strong></label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label><strong>Custom Fields</strong></label>
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="col-md-8" style="max-height: 60vh;overflow: auto;">
                                            <table class="table table-striped">
                                              <thead>
                                                <tr>
                                                  <th scope="col">Fields in file</th>
                                                  <th scope="col">Custom Fields</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                {% for user_header, mapped_tc_header in mapp_headers.items %}
                                                <tr>
                                                    <td style="width: 50%">{{user_header}}</td>
                                                    <td style="width: 50%">
                                                        <div class="custom_mapp">
                                                            {% if mapped_tc_header != '' %}
                                                                {% for tc_header_dict in tc_headers %}
                                                                    {% if tc_header_dict.tc_header == mapped_tc_header %}
                                                                        <label class="mapped_header label_header" data-user_header="{{user_header}}" data-tc_table_name="{{tc_header_dict.tc_table_name}}" data-user_id="{{user_id}}">
                                                                            {{tc_header_dict.tc_header}}
                                                                            <button type="button" class="close close_label" data-tc_header="{{tc_header_dict.tc_header}}">×</button>
                                                                        </label>
                                                                    {% endif %}
                                                                {% endfor %}
                                                                <select class="sel user_mapping" style="background: white;display: none;" data-user_header="{{user_header}}">
                                                                    <option value="0"></option>
                                                                    {% for tc_header, tc_table_name in unmapped_tc_headers.items %}
                                                                        <option value="{{tc_header}}">{{tc_header}}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            {% else %}
                                                            <label class="mapped_header label_header" style="display:none" data-user_header="{{user_header}}" data-tc_table_name="" data-user_id="{{user_id}}">
                                                                <button type="button" class="close close_label" data-tc_header="">×</button>
                                                            </label>
                                                            <select class="sel user_mapping" style="background: white;" data-user_header="{{user_header}}">
                                                                <option value="0"></option>
                                                                {% for tc_header, tc_table_name in unmapped_tc_headers.items %}
                                                                    <option value="{{tc_header}}">{{tc_header}}</option>
                                                                {% endfor %}
                                                            </select>
                                                            {% endif %}
                                                        </div>                                                           
                                                    </td>  
                                                </tr>
                                                {% endfor %}
                                              </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="label_body">
                                                <div class="btn_note">
                                                    <label class="label_txt"><strong> Note :</strong></label>
                                                    <br>
                                                    <div class="col-md-3">
                                                        <label class="label"><i class="fa fa-eye" aria-hidden="true"></i> Preview</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <span class="label_txt">When you click on preview then you can see all data name along with header and there you can change campaign detail using double click</span>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <label class="label"><i class="fa fa-cloud" aria-hidden="true"></i>&nbspSave</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <span class="label_txt">Once you click on save button all data will save into database and start creation process campaign.</span>
                                                    </div>
                                                    <div class="col-md-3">
                                                         <label class="label"><i class="fas fa-refresh" aria-hidden="true"></i>&nbspRefresh</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <span class="label_txt">Refresh means all data will lose and start again with fresh.</span>
                                                    </div>
                                                </div>

                                                <div class="button_div">
                                                    <button type="button" class="btn btn-info legitRipple" id="preview_headers"><i class="fa fa-eye" aria-hidden="true"></i> Preview<span class="legitRipple-ripple" style="left: 79.145%; top: 50%; transform: translate3d(-50%, -50%, 0px); transition-duration: 0.2s, 0.5s; width: 206.847%;"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-success legitRipple" id="save_headers"><i class="fa fa-cloud" aria-hidden="true"></i> Save<span class="legitRipple-ripple" style="left: 79.145%; top: 50%; transform: translate3d(-50%, -50%, 0px); transition-duration: 0.2s, 0.5s; width: 206.847%;"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-primary set_top legitRipple cancel_mapping"><i class="fas fa-refresh" aria-hidden="true"></i> Refresh <span class="legitRipple-ripple" style="left: 79.145%; top: 50%; transform: translate3d(-50%, -50%, 0px); transition-duration: 0.2s, 0.5s; width: 206.847%;"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-danger legitRipple" data-toggle="modal" data-target="#errorModal" style="display:none;" id="validation_warning"><i class="fa fa-times" aria-hidden="true"></i> Error<span class="legitRipple-ripple" style="left: 79.145%; top: 50%; transform: translate3d(-50%, -50%, 0px); transition-duration: 0.2s, 0.5s; width: 206.847%;"></span>
                                                    </button>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <!-- <fieldset title="1" id="stepy-666069774215373-step-0" class="stepy-step Ss_bottom" style="display: block;"> -->
                                <!-- <label class="reset_text" data-toggle="modal" data-target="#myModal">Reset Field Mapping</label> -->
                                <!-- <label class="auto_text" data-toggle="modal" data-target="#myModal2"> Apply Auto Mapping</label>
                            </fieldset> -->
                        </div>
                    </div>
                </div>
                <!-- /highlighting rows and columns -->
                <!-- Footer -->
                <div class="footer text-muted" style="display: none;">
                    &copy; 2018. <a href="#">Trigensoft</a> by <a href="Trigensoft.com" target="_blank">Eugene Kopyov</a>
                </div>
                <!-- /footer -->
                <div class="modal fade alert_1" id="myModal">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
              
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title head_txt">You are about to reset the field mappings that were done already.</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <!-- Modal body -->
                <div class="modal-body">
                      <center style="font-size: 19px;" >Are you sure you want to proceed?</center>
                      <center style="padding: 5% 0;">  
                        <button type="button" class="btn btn-color" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger">Yes, Reset Mapping</button>
                      </center>
                </div>
                
              </div>
            </div>
        </div>
        <div class="modal fade alert_1" id="myModal2">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
              
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title head_txt" style="padding: 0 12%;">When you apply the auto mapping, the remaining unmapped fields in TechConnectr will be mapped with the matching fields in the file.
                    </h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <!-- Modal body -->
                <div class="modal-body">
                      <center style="font-size: 19px;" >Are you sure you want to proceed?</center>
                      <center style="padding: 5% 0;">  
                        <button type="button" class="btn btn-color" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-info">Yes, Reset Mapping</button>
                      </center>
                </div>
                
              </div>
            </div>
          </div>
        </div>
    </div>
            <!-- /content area -->
        </div>
    </div>
    <!-- /main content -->
    </div>
<div class="modal fade" id="errorModal" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content content-1">
        <div class="modal-body border">
          <div class="bottom-1">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <h4>Errors : Check mapping for headers</h4>
          <center id="error_messages">
          </center>   
              
        </div>
        <div class="modal-footer">
            <span>Note: Click on start again to go back to draft campaigns and upload valid file.</span>
            <a href="#" id="start_again"><button type="button" class="btn btn-default-1">Start again</button></a>
            <button type="button" class="btn btn-default-1" data-dismiss="modal">Close</button>
        </div>  
      </div>      
    </div>
  </div>  
<!-- /page content -->


{% include "campaign/js/accountjs.html"%}
{% endblock %}
