{% extends "header/cheader.html" %}
{% load static %}
{% block scripts %}
{% include "campaign/accounthead.html" %}
{% endblock %}

{% block scripts1 %}

{% include "campaign/css/account.css" %}

{% endblock %}

{% block content %}

<!-- Main sidebar -->
{% include "side/clientside.html" %}
	{% load static %}
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/core.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/components.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/colors.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script type="text/javascript" src="{% static 'assets/js/plugins/loaders/pace.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/core/libraries/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/loaders/blockui.min.js' %}"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="{% static 'assets/js/plugins/uploaders/dropzone.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/forms/tags/tagsinput.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/forms/tags/tokenfield.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/ui/prism.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/forms/inputs/typeahead/typeahead.bundle.min.js' %}"></script>


    <script type="text/javascript" src="{% static 'assets/js/core/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/pages/uploader_dropzone.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/pages/form_tags_input.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/pages/components_buttons.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css" />
	<script src="http://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
	<script src="{% static 'js/SimpleTableCellEditor.js'%}"></script>

    <script type="text/javascript" src="{% static 'assets/js/plugins/ui/ripple.min.js' %}"></script>
    <!-- /theme JS files -->
<!-- /main sidebar -->

<!-- Main content -->
<div class="content-wrapper">


    <!-- Content area -->
    <div style="margin-top: 47px;padding: 10px;">
        <div class="row">
          <div class="col-md-12 ">
            <!-- Top Clients List -->

            <div class="panel panel-height panel-flat">
               <div class="panel-body">
							<!-- <p class="text-semibold">Single file upload example:</p> -->
							<!-- <form action="#" class="dropzone" id="dropzone_single"></form> -->
							<div class="mapp">
								<div class="file_map">
									<div class="head">
										<label><strong>Preview</strong> </label>
									</div>
									<fieldset id="stepy-666069774215373-step-0" class="stepy-step" style="display: block;">
										<legend class="text-semibold" style="display: none;">Personal data</legend>

										<div class="row">
											<div class="col-md-12 preview_mapp">
												<table id="mapping_table" class="table table-dark table-striped" style="width:100%;">
						                            <thead>
						                                <tr>
															{% for header in mapped_user_headers %}
															<th>{{header}}</th>
															{% endfor %}
						                                </tr>
													</thead>
													<tbody>
														{% for camp_data in mapped_camp_data %}
														<tr class="row_data">
															{% for tc_header, data in camp_data.items %}
															<td id="{{tc_header}}">
                                                                {% if tc_header == 'abm_status' or tc_header == 'suppression_status' %}
                                                                    {% if data == 1 %} Yes {% elif data == 0 %} No {% endif %}
                                                                {% else %}
                                                                    {{data}}
                                                                {% endif %}
															</td>
															{% endfor %}
														</tr>
														{% endfor %}
													</tbody>
						                        </table>
											</div>
										</div>
								
										<div class="stepy-navigator"><button class="button-next btn btn-primary legitRipple" id="save_camp_data">Save<span class="legitRipple-ripple" style="left: 24.4016%; top: 57.8947%; transform: translate3d(-50%, -50%, 0px); width: 215.724%; opacity: 0;"></span></button></div>
									</fieldset>
								</div>
							</div>
						</div>
            </div>
            <!-- /highlighting rows and columns -->





            <!-- Footer -->
            <div class="footer text-muted" style="display: none;">
                &copy; 2018. <a href="#">Trigensoft</a> by <a href="Trigensoft.com" target="_blank">Eugene Kopyov</a>
            </div>
            <!-- /footer -->

        </div>
        <!-- /content area -->
    </div>
</div>
<!-- /main content -->
</div>
</div>
<!-- /page content -->

</div>

<!-- /page container -->
<div class="modal fade editMe" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="margin-bottom: 3%;">Modal Header</h4>
        </div>
        <div class="modal-body">		
			<div class="content-group">
				<input type="text" value="Amsterdam,Washington,Sydney" class="tagsinput-custom-tag-class" style="display: none;">
			</div>

			<!-- <div class="content-group">
				<div class="mb-5">Returned values</div>
				<pre class="val  language-javascript"><code class="  language-javascript" data-language="javascript"><span class="token string">"Amsterdam,Washington,Sydney,igihi,ihiuhi"</span></code></pre>
			</div> -->

			<!-- <div class="content-group">
				<div class="mb-5">Returned items</div>
				<pre class="items  language-javascript"><code class="  language-javascript" data-language="javascript"><span class="token punctuation">[</span><span class="token string">"Amsterdam"</span><span class="token punctuation">,</span><span class="token string">"Washington"</span><span class="token punctuation">,</span><span class="token string">"Sydney"</span><span class="token punctuation">,</span><span class="token string">"igihi"</span><span class="token punctuation">,</span><span class="token string">"ihiuhi"</span><span class="token punctuation">]</span></code></pre>
			</div> -->
		</div>
        <div class="modal-footer">
        	<button type="button" class="btn btn-success" >Update</button>
          	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
</div>

<style type="text/css">
    .fa-upload{
        color: #fff!important;
        font-size: 13px!important
      }
    .panel-height {
        min-height: 93vh;
    }
    body{
        overflow: hidden;
    }
</style>
<!--Mapping Css-->
<style type="text/css">
    @media (min-width: 769px){
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
                  border: 1px solid #fff;
              }
        .dropzone .dz-default.dz-message:before {
                font-size: 30px;
                top: 5px;
                width: 80px;
                height: 80px;
                margin-left: -40px;
        }
        .dropzone .dz-default.dz-message span {
            font-size: 13px;
            margin-top: 25px;
        }
        .dropzone {
            min-height: 70px;
        }
        .dropzone .dz-preview .dz-details, .dropzone-previews .dz-preview .dz-details {
            width: 140px;
            position: relative;
            background-color: #fafafa;
            padding: 0px;
            margin-bottom: 25px;
        }
        .dropzone .dz-preview, .dropzone-previews .dz-preview {
            background-color: #fff;
            position: relative;
            display: inline-block;
            margin: 0 10px;
            vertical-align: top;
            border: 1px solid #ddd;
            padding: 8px;
            border-radius: 2px;
        }
        .right{
            margin-left: 50%;
        }
        .file_map{
            border: 1px solid #d6c5c5;
        }
        .head{
            background: #2ab6f6;
            padding: 1%;
            color: #ffffff;
            font-size: 15px;
            font-weight: bold;
        }
        .mapp{
            padding: 3%;
        }
        .label_name{
            border: 1px solid #7d7070;
            padding: 0 20px;
            margin: 0 1%;
            border-radius: 50px;
        }
        .file_field{
            border: 1px solid #b7b7b7;
            padding-left: 2%;
            border-radius: 2px;
            background: #f1f1f1;
        }
        .file_field>label,select{
            padding: 1%;
        }
        .custom_head_sel{
            padding: 1%;
            
        }
        .label_body{
            background: #f7f3f794;
            height: 20vh;
            border-radius: 10px;
            padding: 5%;
            margin-left: 12%;
        }
        .button_div{
            margin-top: 14%;
            margin-left: 7%;
        }
        .modal-header .close {
		    position: absolute;
		    right: 20px;
		    top: 30%;
		    margin-top: 0;
		}
        .mapp_label{
            background: #d2d9da;
            padding: 3px 10px;
            border-radius: 10px;
        }
        .stepy-navigator{
            margin-top: 5%;
        }
        .preview_mapp{
            overflow: auto;
            max-height: 50vh;
        }
        th{
            background: #ddd;
        }
            /*.file_field:hover{
                    border: 1px solid #798c79;
                    border-radius: 25px;

            }*/
        fieldset{
            padding: 3% 4%!important;
        }
        .dropzone .dz-default.dz-message {
                position: absolute;
                height: 68px;
                width: 100%;
                margin-top: -34px;
                top: 50%;
                left: 0;
                padding: 20px;
                text-align: center;
                border-radius: 4px;
                opacity: 1;
                filter: alpha(opacity=100);
                -webkit-transition: opacity 0.3s ease-in-out;
                -o-transition: opacity 0.3s ease-in-out;
                transition: opacity 0.3s ease-in-out;
            }
            .upload{
                display: none;
                margin-left: 62%;
            }
            .custom_head_sel{
                display: none;
                background: #f1f1f1;
                border: 0;
                width: 96%;
                padding: 8px;
                font-size: 15px;
                margin-left: 1%;
            }
            .custom_head_sel:focus{
                border: 0px!important;
            }
            .Us_def{
                float: right;
                right: 16%;
                margin-right: 1%;
            }
            .clear{
                float: right;
                right: 0%;
                margin-right: 1%;
            }
            .ellipsis {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .name {
                display: block;
                /*width: 100px;*/
                /* margin: 10px 40px; */
                /* padding: 5px 10px; */
                font-weight: normal;
                /*text-transform: uppercase;*/
                text-align: center;
            }
}
</style>
<!--/Mapping Css-->
<style type="text/css">
    
    .bootstrap-tagsinput .tag {
        margin-top: 3px;
        margin-bottom: 3px;
        margin-right: 6px;
        border: 0;
        border-radius: 0px!important;
        padding: 7px 14px;
        padding-right: 33px;
        float: left;
        font-size: 12px;
        line-height: 1.6666667;
        font-weight: 400;
        text-transform: none;
        position: relative;
        border-left: 5px solid #3775B3;
        background: #69B4FF;
        color: #fff;
    }
    .modal-header{
        background: #54C5E8;
    }
</style>
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
<script>
    var user_id = parseInt('{{user_id}}');
    var custom_header = JSON.parse('{{custom_header|safe}}');
    var user_headers = JSON.parse('{{user_headers|safe}}');
    var table = $('#mapping_table').DataTable({
        "bPaginate": false,
    });
    table.MakeCellsEditable({
        "onUpdate": myCallbackFunction
    });
	function myCallbackFunction(updatedCell, updatedRow, oldValue) {
		var updated_row_index = updatedCell[0][0]['row'];
	}
    $(document).on('click','#save_camp_data',function(){
        var all_camp_data = [];
        $('tr.row_data').each(function(){
            var temp_list = [];
            $(this).find('td').each(function(){
                temp_list.push($(this).text().trim());
            })
            all_camp_data.push(temp_list);
        });
        var token = getCookie('csrftoken');
        $.ajax({
            type: 'post',
            url: '/campaign_mapping/update_headers/',
            data: {'all_camp_data': JSON.stringify(all_camp_data), 'user_id':user_id, 'custom_header': JSON.stringify(custom_header),'user_headers':JSON.stringify(user_headers),'csrfmiddlewaretoken': token},
            success: function(data){
                if (data['status'] == 'success'){
                    swal({
                        title: "Campaign specifications",
                        text: "Successfully updated campaign specs",
                        icon: "success",
                    });
                }
                else if (data['status'] == 'error'){
                    if (data['header'] == 'custom_status'){
                        swal({
                            title: "Custom Question",
                            text: "Only enter no. of questions in file. e.g. 5",
                            icon: "warning",
                        });
                    }
                    else{
                        swal({
                            title: "ABM & Suppression status",
                            text: "Enter status as yes, no, y or n",
                            icon: "warning",
                        });
                    }
                }
            }
        })
    })
    var old_val = '';
    $(document).on('focus','#mapping_table input',function(){
        if ($(this).val() != ''){
            old_val = $(this).val();
        }
    })
    var array1 = ['cpl', 'target_quantity', 'custom_status'];
    var array2 = ['abm_status', 'suppression_status'];
    $(document).on('keyup','#mapping_table input',function(){
        if (jQuery.inArray($(this).closest('td').attr('id'), array1) != -1){
            $(this).val($(this).val().replace(/[^\d]/g, ''));
        }
        // else if (jQuery.inArray($(this).closest('td').attr('id'), array2) != -1){
        //     $(this).val($(this).val().replace(/^([^yn][e]*[so])$/g, ''));
        // }
        if($(this).val() == ''){
            $(this).val(old_val);
        }
    })
</script>
{% endblock %}
