{% extends "header/cheader.html" %}
{% load static %}
{% block scripts %}
{% include "campaign/campaign_notebook_head.html" %}
{% endblock %}
{% block scripts1 %}
{% include "campaign/css/rfq_campaign_notebook.css" %}
{% endblock %}
{% block content %}
<!-- Main sidebar -->
{% load custom_filters %}
{% include "side/clientside.html" %}
<!-- /main sidebar -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<style>
    .div_loader {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 20000;
        background: url('{% static "/icons/div_loader.gif" %}') 50% 50% no-repeat rgb(249, 249, 249);
        opacity: .8;
    }

    .modal_loader {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 104%;
        height: 100%;
        z-index: 20000;
        background: url('{% static "/icons/div_loader.gif" %}') 50% 50% no-repeat rgb(249, 249, 249);
        opacity: .8;
    }

/*my dropdown*/

    .dropbtn {
      background-color: #3498DB;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }

    .dropbtn:hover, .dropbtn:focus {
      background-color: #2980B9;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #fff;
      min-width: 200px;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      right: 0;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown a:hover {background-color: #ddd;}

    .show {display: block;}

    .action_btn{
        padding: 8%;
    }
    .action_dropdrown{
        right: 45%;
        margin-bottom: 5%;
    }
    .action_btn > a > label{
        padding-top: 5px;
        font-weight: bold;
    }
    .action_btn > .panel {
        margin-bottom: 10px;
    }
    

/* my dropdown */  

    .action_drop{
        margin-left: -150%;
        width: 200px;
        padding: 15% 25%;;
    }
    .rfq_act{
        margin-left: -150%;
    }
    .rfq_list{
        padding: 1%!important;
    }
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
        text-decoration: none;
        color: #333333;
        background-color: #fff;
    }
    .action_label{
        font-weight: bold!important;
        color: #3488e4;
        margin-bottom: 0px!important;
    }
    .li-bottom {
        border-bottom: 1px solid #ddd;
    }
    .li-bottom > a > label{
        margin-bottom: 0px!important; 
        font-size: 15px!important;
    }
    .dropdown-content1{
        max-height: 78vh !important;
    }
    /* width */
    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #eeeded;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #eeeded;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
</style>
<script>
    $(document).ready(function () {
        $(".fa-plus-circle").click(function () {
            $(".status_list").addClass("hidden");
        });
        $(".fa-info-circle").click(function () {
            $(".more_details").addClass("hidden");
        });
    });
    // Js to hide status list and more details on click of document
    $(document).click(function (event) {
        if ($(event.target).closest('.plus_1').length == 0 && $(event.target).parents('.more_details').length == 0 && !$(event.target).hasClass('send_req_to_all') && !$(event.target).hasClass('paginate_button')) {
            $(`.more_details`).addClass('hidden')
        }
        if ($(event.target).closest('.info_1').length == 0 && $(event.target).parents('.status_list').length == 0 ) {
            $(`.status_list`).addClass('hidden')
        }
        if ($(event.target).closest('.ven_1').length == 0 && $(event.target).parents('.edit_block').length == 0) {
            $(`.ven_info_1`).addClass('hidden')
        }
    })
    $(document).on('click', '.fa-comment-o', function () {
        $(`.ven_info_1`).empty().addClass('hidden');
        comments=$(this).data('title')
        $(`.ven_info_1`).append(`<div class="panel-body" style="overflow: hidden;white-space: pre-line;">${comments}</div >`)
        $(`.ven_info_1`).css('top',($(this).offset().top - $(this).closest('.more_details').offset().top)+34).css('left',($(this).offset().left - $(this).closest('.campaign_info').offset().left)-70)
        $(`.ven_info_1`).removeClass('hidden');
    });

</script>
<!-- main container -->
<div class="content-wrapper">
    <div class="content">
        <div class="row">
            <!--Main Campaign Name Page-->
            <div class="col-md-12 cols-12" style="max-height: 93vh;">
                <div class="panel campaign_panel panel-flat" style="min-height: 93vh!important;">
                    <div class="panel-body">
                        <div id="centertext" style="padding-bottom: 10px;">
                            <!-- <h3>RFQ Campaign</h3> -->
                            <div class="right_btn"> 
                                {% if archives == 0 %}
                                <a href="/client/rfq-campaign/1">
                                    <button type="button" class="btn btn-primary" name="button">Archives
                                        ({{count}})
                                    </button>
                                </a>
                                <button type="button" class="btn btn-primary" id='publish_rfq'
                                    name="button">Publish</button> {% else %} 

                                <a href="/client/rfq-campaign/">
                                    <button type="button" class="btn btn-primary" name="button">Active
                                        ({{count}})</button>
                                    </a> 
                                    {% endif %}
                                <a href="/client/create-rfq-campaign/">
                                    <button type="button" class="btn btn-primary btn-raised" title="Manual Campaign"><i class='fa fa-file-o'
                                            style='font-size:17px;color:#fff!important;'></i></button>
                                </a>
                                <button type="button" class="btn btn-primary btn-raised" title="Bulk Campaign"
                                    data-target="#view_bulk_modal" data-toggle="modal">
                                    <i class='fa fa-files-o' style='font-size:17px;color:#fff!important;'></i>
                                </button>
                                <button class="btn btn-primary btn-raised" id="bulk_rfq_clone"
                                    title="Bulk clone campaign">Clone</button>

                                <!-- <div class="dropdown">
                                    <button type="button" class="btn btn-primary btn-raised dropdown-toggle rfq_act"
                                        data-toggle="dropdown">Action</button>
                                    <ul class="dropdown-menu action_drop" role="menu">
                                        {% if archives == 0 %}
                                        <li role="presentation">
                                            <a href="/client/rfq-campaign/1" class="panel">
                                                <label class="action_label">Archives({{count}})</label>
                                            </a>
                                        </li>
                                        <li role="presentation">
                                             <a class="panel">
                                            <label class="action_label"  id='publish_rfq'>Publish</label>
                                            </a>
                                            {% else %} 
                                        </li>
                                        <li role="presentation">
                                            <a href="/client/rfq-campaign/" class="panel">
                                                <label class="action_label">Active ({{count}})</label>
                                            </a> 
                                            {% endif %}
                                        </li>

                                        <li role="presentation">
                                           <a href="/client/create-rfq-campaign/" class="panel">
                                                <label class="action_label">Create Campaign</label>
                                            </a>
                                        </li>

                                        <li role="presentation">
                                            <a href="#" class="panel">
                                                <label class="action_label" data-target="#view_bulk_modal" data-toggle="modal">Upload Campaign</label>
                                            </a>
                                        </li>

                                        <li role="presentation">
                                            <a class="panel">
                                               <label class="action_label" id="bulk_rfq_clone">Clone</label> 
                                            </a> 
                                        </li>
                                    </ul>
                                </div>  -->   
                                <!-- <div class="dropdown">
                                  <button onclick="myFunction()" class="btn btn-primary action_dropdrown">Dropdown</button>
                                    <div id="myDropdown" class="dropdown-content">
                                        <div class="action_btn">
                                            {% if archives == 0 %}
                                            <a href="/client/rfq-campaign/1" class="panel">
                                                <label>Archives({{count}})</label>
                                            </a>
                                            <a class="panel">
                                            <label  id='publish_rfq'>Publish</label>
                                            </a>
                                            {% else %} 

                                            <a href="/client/rfq-campaign/" class="panel">
                                                <label>Active ({{count}})</label>
                                            </a> 
                                            {% endif %}
                                            <a href="/client/create-rfq-campaign/" class="panel">
                                                <label>Manual Campaign</label>
                                            </a>
                                            <a href="" class="panel">
                                                <label data-target="#view_bulk_modal" data-toggle="modal">Bulk Campaign</label>
                                            </a>
                                            <a class="panel">
                                               <label id="bulk_rfq_clone">Clone</label> 
                                            </a>                                        
                                        </div>                                        
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive-sm">
                        <!-- Campaign filters Akshay G. -->
                        <!-- reset campaign filters -->
                        <form method="post" class="submit_empty_form"> {% csrf_token %}
                            <button class="btn btn-primary hidden" id="submit_empty_form" type="submit">clear</button>
                        </form>
                        <!-- end filters -->
                        <div class="table-responsive tb">
                            <table id="RFQ_campaign_table" class="table text-nowrap campaign_table rfq_table">
                                <thead>
                                    <!--Heading for Pending campaign-->
                                    <tr class="active ">
                                        <th class="sp"><input type="checkbox" class="styled chek-1" id='publish_all'
                                                name="publish_all" value=""></th>
                                        <!-- <th></th> -->
                                        <th colspan="1">RFQ Campaign</th>
                                        <th>Description</th>
                                        <th class=""></th>
                                    </tr>
                                </thead>
                                <tbody> {% for camp in camps %}
                                    <!--List of Pending campaign-->
                                    <tr class="shadow">
                                        <!--  <td style="width:1%;"></td> -->
                                        <td class="td-align">
                                            <input type="checkbox" class="styled publish chek" data-id="{{camp.id}}"
                                                name="publish" value="">
                                            <i class="supericon fas fa-info-circle check_status i-color info_1"></i>
                                            <div class="hidden status_list">
                                                <ul class="ul-padding">
                                                    
                                                    {% with stat=status_list|chat_notif:camp.id %}
                                                    <li class="li-padding">
                                                        {% if stat.wait_for_req == 0 %}
                                                        <span class="iclose">
                                                            <i class="far fa-times-circle"></i>
                                                        </span>
                                                        <span class="spa"> RFQ not sent ({{stat.WFR_count}})</span>
                                                        {% else %}
                                                        <span class="iclose">
                                                            <i class="far fa-check-circle status-sign"></i>
                                                        </span>
                                                        <span class="spa"> RFQ sent ({{stat.WFR_count}})</span>
                                                        {% endif %}
                                                    </li>
                                                    <li class="li-padding">
                                                        {% if stat.wait_for_quote == 0 %}
                                                        <span class="iclose"><i class="far fa-times-circle"></i></span>
                                                        <span class="spa"> Waiting for Quotes
                                                            ({{stat.WFQ_count}})</span>
                                                        {% else %}
                                                        <span class="iclose">
                                                            <i class="far fa-check-circle status-sign"></i>
                                                        </span>
                                                        <span class="spa"> Quotations Received
                                                            ({{stat.WFQ_count}})</span>
                                                        {% endif %}
                                                    </li>
                                                    {% endwith %}
                                                    
                                                </ul>
                                            </div>
                                            <i class="supericon fas fa-plus-circle more plus_1" data-id="{{camp.id}}"
                                                data-rftime="{{camp.rfq_timer}}"></i>
                                            <div class="hidden more_details" data-camp_id="{{camp.id}}">
                                                <div class="div_loader"></div>
                                                <label id="campaign_cpl_{{camp.id}}" hidden> {% if camp.cpl == 0 %} RFQ
                                                    {% elif camp.cpl is null %} RFQ {% else %}
                                                    {{camp.cpl|floatformat:2}} {% endif %} </label>
                                                <label id="campaign_target_{{camp.id}}"
                                                    hidden>{{camp.target_quantity}}</label>
                                                <label id="campaign_approve_leads_{{camp.id}}"
                                                    hidden>{{camp.approveleads}}</label>
                                                <div class="close-1">
                                                    <button type="button" class="close close_div"
                                                        data-dismiss="modal">×</button>
                                                    <!-- <i class="fas fa-times-circle  pull-right"></i> -->
                                                </div>
                                                <div class="campaign_info">
                                                    <div class="col-md-4 form-group fm">
                                                        <!-- padding: 8px 18px 7px 31px; -->
                                                        <div class="filed_select_div"></div>
                                                        <div class="camp_detail_container"></div>
                                                    </div>
                                                    <div class="ven_info_1 ven_info_{{camp.id}} hidden"></div>
                                                    <div class="col-md-8">
                                                        <div class="col-md-6">
                                                            <span>Time Remaining - </span>
                                                            <strong>
                                                                <span id="campaign_timer_{{camp.id}}"></span>
                                                            </strong>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <button class="btn btn-xs btn-primary pull-right"
                                                                title='This vendor has other outreach method still you can send rfq request.'
                                                                onclick="send_rfq_request($(this))">
                                                                <i class="far fa-paper-plane"></i> Send
                                                            </button>
                                                        </div>
                                                        
                                                        <table id="vendor_table_{{camp.id}}"
                                                            class="table vendor_table datatable-show-all">
                                                            <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th>Vendor Name</th>
                                                                    <th>CPL</th>
                                                                    <th>Volume</th>
                                                                    <th>Comments</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="show_camp" camp_id="{{camp.id}}">
                                            <div class="media-left">
                                                <div class="">
                                                    <a href="#" class="text-default text-semibold show_camp">
                                                        {{camp.name|truncatechars:20 }}</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="show_camp" camp_id="{{camp.id}}">
                                            <div class="description-aligns">{{camp.description|truncatechars:100}}</div>
                                        </td>
                                        <td class="campagin_icons ">
                                            <ul class="icons-list">
                                                <li>
                                                    <a href="/client/edit_rfq-campaign/{{camp.id}}">
                                                        <i class="bqX brq far fa-edit pull-right edt-color" title="Edit Campaign"></i></a>
                                                </li>
                                            </ul>
                                            <div></div>
                                        </td>
                                    </tr> {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/Main Campaign Name Page-->
    </div>
</div>
<!-- end main container -->

<!-- Bulk campaign modal start -->
<div class="modal" id="view_bulk_modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content contents " style="padding:5%;">
            <div class="borders">
                <div class="modal-body-2 ">
                    <div class="bottoms">
                        <button type="button" class="close" data-dismiss="modal"
                            style="margin-right: 6%;">&times;</button>
                        <span><i class="fa fa-file-text-o pan"
                                style="font-size: 22px;color: #818181;text-align: center;"></i></span>
                        <h4 class="modal-title floats"> Bulk Campaign File</h4><br>
                    </div>
                    <center>
                        <!-- upload csv file to create bulk RFQ campaigns...Akshay G. -->
                        <form action="" id="rfq_camp_form">
                            
                            <label for="upload_rfq_file" title="choose file" class="btn btn-primary btn-raised name ellipsis"> Browse
                            </label>
                            <input type="file" name="upload_rfq_file" id="upload_rfq_file" accept=".xlsx,.csv" class="hidden">
                            <!-- <button type="button" title="remove file" class="btn btn-default remove_bulk_camp_file" style="display: none">
                              <i class="icon-cross3"></i> 
                              <span class="hidden-xs">Remove</span>
                           </button> -->
                            <div class="div-aligns-bulk">
                                <i class="far fa-times-circle btn-colors remove_bulk_camp_file" style="display: none" title="remove file" ></i>
                            </div>
                        </form>
                        <p class="Action_down">
                            <a href="/media/campaign_template/RFQ_template.xlsx" download>
                                <span class="glyphicon glyphicon-download-alt"
                                    style="font-size: 20px;color: #4294da;"></span>
                                <b> Download sample file</b>
                            </a>
                        </p>
                        <p style="padding: 5%;color: #9c9494;">
                            You can import up to 100 records through a .csv or .xlsx file.
                        </p>
                    </center>
                </div>
                <!-- csv file validation errors..Akshay g. -->
                <div class="div-padding" id="error_messages">
                </div>
                <div class="modal-footer">
                    <button type="button" title="go to mapping" class="btn btn-info hidden" id="camp_mapping">Next</button>
                    <button id="upload_rfq_camp_file" title="upload file" class="btn btn-secondary">upload</button>
                    <button type="button" title="close" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bulk campaign modal end -->

<!-- /page container -->

{% include "campaign/js/rfq_cam_js.html"%}
{% include "campaign/js/accountjs.html"%}
{% include "campaign/js/campaign_notebook.html" %}
{% include "campaign/js/rfqtimer.html" %}
{% include "campaign_chat/js/chatjs.html"%} {% endblock %}