<!-- kishor
    Show Campaign Specs data in pdf formate. -->
{% load custom_filters %}

<head>
  <style type="text/css">
    @page {
      size: a4;
      margin: 2cm;
    }

    #company {
      font-size: 15px;
      line-height: 200%;
    }

    h6 {
      font-size: 17px;
      text-align: center;
    }

    p {
      font-size: 15px
    }

    h1 {
      font-size: 24px;
      text-align: center;
    }

    .business {
      font-size: 13px;
      line-height: 200%;
    }

    #data_assessment {
      font-size: 13px;
      line-height: 200%;
    }

    .contacts {
      font-size: 14px
    }

    td {
      border: 1px solid #000;
      border-top: 0px;
      padding-top: 5px;
      padding-left: 10px;

    }

    table,
    tr {
      font-size: 15px;
    }
  </style>
</head>


<table>
  <tr>
    <td style="border-top:1px solid #000;">Campaign Name:</td>
    <td style="border-top:1px solid #000;">
      {% if campaign_name %}
        {{ campaign_name }}
      {% else %}
        --
      {% endif %}
    </td>
  </tr>
  <tr>
    <td style="border-top:1px solid #000;">Campaign IO Number:</td>
    {% if io_number == "" %}
    <td style="border-top:1px solid #000;">--</td>
    {% else %}
    <td style="border-top:1px solid #000;">{{io_number}}</td>
    {% endif %}
  </tr>
  <tr>
    <td>Campaign Description:</td>
    <td>
      {% if description %}
        {{ description }}
      {% else %}
        --
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>Campaign CPL:</td>
    {%if cpl == ''%}
    <td>-</td>
    {%else%}
    <td>{{ cpl }}</td>
    {%endif%}
  </tr>
  <tr>
    <td>Target Quantity:</td>
    {% if target_quantity == '' %}
    <td>--</td>
    {% else %}
    <td>{{ target_quantity }}</td>
    {% endif %}
  </tr>
  <tr>
    <td>Campaign Start Date, End Date:</td>
    {%if start_date == '' and end_date == '' %}
    <td>-</td>
    {%else%}
    <td>From {{ start_date }} To {{end_date}}</td>
    {%endif%}
  </tr>
  <tr>
    <td>Campaign Type:</td>
    {%if campaign_type == '' %}
    <td>-</td>
    {%else%}
    <td>{{ campaign_type }}</td>
    {%endif%}
  </tr>
  <tr>
    <td>Country:</td>
    <td style="text-align: justify;margin-right:10px;">
      {% if country %}
        {{ country|alter_comma_separated:useAsTxtMapping }}
      {% else %}
        --
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>Outreach Method:</td>
    <td>
      {% if outrich_method %}
        {% for outrich_metho in outrich_method %}
        {{ outrich_metho }}{% if forloop.counter != outrich_method|length %}, {%endif%}
        {%endfor%}
      {% else %}
        --
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>Company Size:</td>
    <td>
        {% if company_size %}
          {% for i in company_size %}
            <li style="list-style-type: circle;">
              {{i}}
            </li>
          {% endfor %}
        {% else %}
          --
        {% endif %}
    </td>
  </tr>
  <tr>
    <td>Department:</td>
    <td>
      {% if mapping.job_function %}
        {{ mapping.job_function|alter_comma_separated:useAsTxtMapping }}
      {% else %}
        --
      {% endif %}
    </td>
    </tr>
  <tr>
    <td>Industry Type:</td>
    <td>
      {% if indursty_type %}
        {{ indursty_type|alter_comma_separated:useAsTxtMapping }}
      {% else %}
        --
      {% endif %}
    </td>
    </tr>
  <tr>
    <td>Pacing:</td>
    {% if pacing == '' %}
    <td>--</td>
    {%else%}
    <td>{{ pacing|alter_comma_separated:useAsTxtMapping }}</td>
    <!--   <td>{% for pacing_ in pacing %}
      {{ pacing_|alter_comma_separated:useAsTxtMapping }}{% if forloop.counter != pacing|length %}, {%endif%}
      {%endfor%}
    </td> -->
     {%endif%}
  </tr>
  <tr>
    <td>Assets:</td>
      {% if assets == '' %}
      <td>--</td>
      {% else %}
      <td>{{assets|alter_comma_separated:useAsTxtMapping}}</td>
    {% endif %}
  </tr>
  <tr>
    <td>Job Title:</td>
    <td>
      {% if job_title %}  
        {{ job_title }}
      {% else %}
        --
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>Job Level:</td>
    <td>
      {% if job_level %}
        {{ job_level|alter_comma_separated:useAsTxtMapping }}
      {% else %}
        --
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>Revenue Size:</td>
    <td>
        {% if revenue %}
          {% for i in revenue %}
            <li style="list-style-type: circle;">
              {{i}}
            </li>
          {% endfor %}
        {% else %}
          --
        {% endif %}
    </td>
  </tr>
  <tr>
    <td>Delivery_method:</td>
      {% if delivery_method == '' %}
    <td>--</td>
      {%else%}
    <td>{{ delivery_method|alter_comma_separated:useAsTxtMapping }}</td>
      {%endif%}
  </tr>
  <tr>
    <td> Data Fields:</td>
    <td>
      {% if tc_header_status ==  1 %}
        {% for data_fiel in data_field %}
          {{data_fiel|alter_comma_separated:useAsTxtMapping}}{% if forloop.counter != data_field|length %}, {%endif%}
        {% endfor %}
      {% endif %}
      {% if custom_header_status ==  1 %}
        {% for data_fiel in data_field %}
          {{data_fiel|alter_comma_separated:useAsTxtMapping}}{% if forloop.counter != data_field|length %}, {%endif%}
        {% endfor %}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>Select Vendor:</td>
    <td>
      {% if vendor %}
        {% for vendor_type in vendor%}
          {{ vendor_type }}{% if forloop.counter != vendor|length %}, {%endif%}
        {%endfor%}
      {% else %}
        --
      {% endif %}
      <!-- {% if tc_vendor == 1 %}
      TC Vendor,
      {% endif %}
      {% if internal_vendor == 1 %}
      Internal Vendor,
      {% endif %}
      {% if external_vendor == 1 %}
      Enternal Vendor
      {%else%}
      {% endif %} -->
    </td>
  </tr>
  <tr>
    <td>Instructions:</td>
    {%if instructions == ''%}
    <td>--</td>
    {%else%}
    <td>{{instructions}}</td>
    {%endif%}
  </tr>
</table>
