{% load custom_filters %}
<div class="border">
    <div class="modal-header">
        <div class="col-md-12 bgst">

            <h5 class="modal-title"><strong> Campaign Specs for {{campaign.name}}</strong></h5>
        </div>
        <button type="button" class="close" data-dismiss="modal">×</button>
    </div>

    <div class="modal-body" style="padding: 5%!important;">
        <div class="row">
            <div class="col-md-6">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-lg-5 text-semibold">Target Quantity</label>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" name="target_quantity" id='target_quantity'
                                        value="{{target_quantity}}" class="form-control toggle-sweet_1"
                                        placeholder="text" readonly>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-lg-5 text-semibold">Campaign Type</label>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" name="campaign_type" id="campaign_type" value="{{campaign_type}}"
                                        class="form-control " placeholder="text" readonly>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-lg-5 text-semibold">Outreach Method</label>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tooltip1">
                                        <input type="text" name="outrich_method" id="outrich_method"
                                            value="{{outrich_method|join:','}}" class="form-control toggle-sweet1"
                                            placeholder="text" readonly>
                                        <span class="help-block"></span>
                                        <div class="tooltiptext1" id="outrichmethod"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-lg-5 text-semibold">Assets</label>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tooltip1">
                                        <input type="text" name="assets" id="assets" class="form-control toggle-sweet2"
                                            value="{{assets|alter_comma_separated:useAsTxtMapping}}" placeholder="text"
                                            readonly>
                                        <span class="help-block"></span>
                                        <div class="tooltiptext1" id="assets_list"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-lg-5 text-semibold">Pacing</label>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tooltip1">
                                        <input type="text" name="pacing" id="pacing"
                                            value="{{pacing|alter_comma_separated:useAsTxtMapping}}"
                                            class="form-control toggle-sweet3" placeholder="text" readonly>
                                        <span class="help-block"></span>
                                        <div class="tooltiptext1" id="pacing_list"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-lg-5 text-semibold">Company Size</label>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tooltip1">
                                        <input type="text" name="company_size"
                                            value="{{company_size|alter_comma_separated:useAsTxtMapping}}"
                                            id="company_size" class="form-control toggle-sweet4" placeholder="text"
                                            readonly>
                                        <span class="help-block"></span>
                                        <div class="tooltiptext1" id="companysize"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-lg-5 text-semibold">Industry Type</label>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tooltip1">
                                        <input type="text" name="indursty_type"
                                            value="{{indursty_type|alter_comma_separated:useAsTxtMapping}}"
                                            id="indursty_type" class="form-control toggle-sweet5" placeholder="text"
                                            readonly>
                                        <span class="help-block"></span>
                                        <div class="tooltiptext1" id="indurstytype"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-lg-5 text-semibold">Job Title </label>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tooltip1">
                                        <input type="text" name="job_title" value="{{job_title}}" id="job_title_show"
                                            class="form-control toggle-sweet_jobtitle" placeholder="text" readonly>
                                        <span class="help-block"></span>
                                        <div class="tooltiptext1" id="jobtitle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-lg-5 text-semibold">Job level</label>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tooltip1">
                                        <input type="text" name="job_level" id="job_level"
                                            value="{{job_level|alter_comma_separated:useAsTxtMapping}}"
                                            class="form-control toggle-sweet6" placeholder="text" readonly>
                                        <span class="help-block"></span>
                                        <div class="tooltiptext1" id="joblevel"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-lg-5 text-semibold">Revenue Size</label>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tooltip1">
                                        <input type="text" name="revenue"
                                            value="{{revenue|alter_comma_separated:useAsTxtMapping}}" id="revenue"
                                            class="form-control toggle-sweet7" placeholder="text" readonly>
                                        <span class="help-block"></span>
                                        <div class="tooltiptext1" id="revenue_size"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-lg-5 text-semibold">Country</label>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tooltip1">
                                        <input type="text" name="country" id="country"
                                            value="{{country|alter_comma_separated:useAsTxtMapping}}"
                                            class="form-control toggle-sweet8" placeholder="text" readonly>
                                        <span class="help-block"></span>
                                        <div class="tooltiptext1" id="country_list"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-lg-5 text-semibold">Data Fields</label>
                        <div class="col-lg-7">
                            <div class="row">
                                {% if tc_header_status ==  1 %}
                                <div class="col-md-12">
                                    <div class="tooltip1">
                                        <input type="text" name="data_field" id="data_field"
                                            value="{{data_field|alter_comma_separated:useAsTxtMapping}}"
                                            class="form-control toggle-sweet9" readonly>
                                        <span class="help-block"></span>
                                        <div class="tooltiptext1" id="datafield"></div>
                                    </div>
                                </div>
                                {% elif custom_header_status ==  1 %}
                                <div class="col-md-12">
                                    <div class="tooltip1">
                                        <input type="text" name="custom_data_fields" id="custom_data_fields"
                                            class="form-control toggle-sweet99"
                                            value="{{custom_data_fields|alter_comma_separated:useAsTxtMapping}}"
                                            readonly>
                                        <span class="help-block"></span>
                                        <div class="tooltiptext1" id="customdata"></div>
                                    </div>
                                </div>
                                {% else %}
                                <div class="col-md-12">
                                    <div class="tooltip1">
                                        <input type="text" name="empty" id="empty" class="form-control toggle-sweet99"
                                            value="No Delivery Headers" readonly>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label col-lg-5 text-semibold">Delivery Methods</label>
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" name="delivery_method" value="{{delivery_method}}" id="delivery_method" class="form-control " placeholder="text" readonly>
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label col-lg-5 text-semibold">Instructions</label>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-md-12">
                                <textarea id="instructions" class="form-control " readonly>{{instructions}}</textarea>

                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- /home/trigen/new project/techconnecte_portal/techconnectr/show specs doc -->

    <div class="modal-footer">
        {% if stat > 0 %}
        <div class="dropdown">
            <button style="background: darkcyan;" class="btn btn-primary dropdown-toggle" type="button"
                data-toggle="dropdown"><i class="fa fa-download" aria-hidden="true"></i>&nbspDownload Specs
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li> <a href="{% url 'save_camp_specs' campaign_id %}" class="btn" data-toggle="modal" title="pdf file"
                        target="_blank"><i class="fa fa-download" aria-hidden="true"></i>&nbspDownload PDF</a></li>
                <!-- <li><a id="save_csv_specs_data" data-camp_id="{{campaign_id}}" class="btn" data-toggle="modal" title="csv file"><i class="fa fa-download" aria-hidden="true"></i>&nbspDownload CSV</a></li> -->
                {% if abm_file %}
                <li><a id="abm_file_contents" data-camp_id="{{campaign_id}}" class="btn" data-toggle="modal"
                        title="csv file"><i class="fa fa-download" aria-hidden="true"></i>&nbspABM CSV</a></li>
                {% endif %}

                {% if suppression_file %}
                <li><a id="suppression_file_content" data-camp_id="{{campaign_id}}" class="btn" data-toggle="modal"
                        title="csv file"><i class="fa fa-download" aria-hidden="true"></i>&nbspSUPPRESSION CSV</a></li>
                {% endif %}

            </ul>
        </div>
        {%endif%}



        {% if usertype == 1 %}
        {% if Custom_question_status == 1 and stat != 0 %}
        <a href="/form/view_custome_question_pdf/{{campaign_id}}" target="_blank"><button class="btn btn-primary"><i
                    class="fa fa-question"></i>&nbspCustom Question</button></a>
        {% endif %}
        {% if stat != 1 %}
        {% if rfq_status == 0 %}
        {% if  stat == 1 or stat == 3 %}
        <a style="display: none;" id="camp_spec_edit_id" href="/client/edit_campaign/{{campaign_id}}">
            <button type="button" class="btn btn-info"><i class="fa fa-paste"></i>&nbspEdit</button>
        </a>
        {% endif %}
        {% else %}
        {% if  stat == 1 or stat == 3 %}
        <a style="display: none;" id="camp_spec_edit_id" href="/client/edit_rfq_campaign/{{campaign_id}}/1">
            <button type="button" class="btn btn-info "><i class="fa fa-paste"></i>&nbspEdit</button>
        </a>
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
        <!-- display button if data exists for file -->
        {% if suppressionFile_flag %}
        <button type="button" class="btn btn-primary suppression_file" data-camp_id='{{campaign.id}}'><i
                class="fa fa-file" aria-hidden="true"></i>&nbspsuppression file</button>
        {% endif %}
        <!-- display button if data exists for file -->
        {% if ABMFile_flag %}
        <button type="button" class="btn btn-primary abm_file" data-camp_id="{{campaign_id}}"><i class="fa fa-file"
                aria-hidden="true"></i>&nbspABM file</button>
        {% endif %}
        <button type="button" class="btn btn-link btn-color" data-dismiss="modal"><i
                class="fa fa-times"></i>&nbspClose</button>
        <!-- id-'download' and 'file_download' are used to trigger downloading of file -->
        <a href='' download id='download' class="hidden"><button id="file_download" class="hidden"></button></a>
    </div>
</div>



<!-- show campaign specs tooltips and + more value -->

<!-- dounload abm file in csv formate ...kishor -->
<script type="text/javascript">

    $(document).on('click', '#abm_file_contents', function () {
        token = getCookie('csrftoken');
        var camp_id = $(this).attr('data-camp_id');
        $.ajax({
            type: 'post',
            url: '/client/ajax/abm_file/',
            data: { csrfmiddlewaretoken: token, 'camp_id': camp_id, 'type': 'csv' },
            success: function (data) {
                // replace href attribute of id 'download' with file path
                $('#download').attr('href', data['path'])
                // click id 'file_download' button to trigger downloading of file
                $('#file_download').click();
            }

        })
    })

    $(document).on('click', '#suppression_file_content', function () {
        token = getCookie('csrftoken');
        var camp_id = $(this).attr('data-camp_id');
        $.ajax({
            type: 'post',
            url: '/client/ajax/suppression_file/',
            data: { csrfmiddlewaretoken: token, 'camp_id': camp_id, 'type': 'csv' },
            success: function (data) {
                // replace href attribute of id 'download' with file path
                $('#download').attr('href', data['path'])
                // click id 'file_download' button to trigger downloading of file
                $('#file_download').click();
            }

        })
    })


    // $(document).on('click','#save_csv_specs_data',function(){
    //     token = getCookie('csrftoken');
    //     var camp_id = $(this).attr('data-camp_id');
    //     $.ajax({
    //             type: 'post',
    //             url: '/client/ajax/save_csv_camp_specs/',
    //             data: {csrfmiddlewaretoken: token, 'id': camp_id,'type':'csv'},
    //             success: function (data) {
    //                 // replace href attribute of id 'download' with file path
    //                 $('#download').attr('href', data['path'])
    //                 // click id 'file_download' button to trigger downloading of file
    //                 $('#file_download').click();
    //             }

    //     })
    // })

    // $(document).on('click','#save_pdf_specs_data',function(){
    //     token = getCookie('csrftoken');
    //     var camp_id = $(this).attr('data-camp_id');
    //     $.ajax({
    //             type: 'post',
    //             url: '/client/ajax/save_pdf_specs_data/',
    //             data: {csrfmiddlewaretoken: token, 'id': camp_id,'type':'pdf'},
    //             success: function (data) {
    //                 $(this).attr('href',data)
    //                 // replace href attribute of id 'download' with file path
    //                 // $('#download').attr('href', data['path'])
    //                 // // click id 'file_download' button to trigger downloading of file
    //                 // $('#file_download').click();
    //                 console.log(data)
    //             }

    //     })
    // })

    // Akshay G.
    // get suppression file path to download file
    $(document).on('click', '.suppression_file', function () {
        token = getCookie('csrftoken');
        var camp_id = $(this).attr('data-camp_id');
        $.ajax({
            type: 'post',
            url: '/client/ajax/get_suppression_file/',
            data: { csrfmiddlewaretoken: token, 'id': camp_id },
            success: function (data) {
                // replace href attribute of id 'download' with file path
                $('#download').attr('href', data['path'])
                // click id 'file_download' button to trigger downloading of file
                $('#file_download').click();
            }

        })
    })
    // Akshay G.
    // get ABM file path to download file
    $(document).on('click', '.abm_file', function () {
        token = getCookie('csrftoken');
        var camp_id = $(this).attr('data-camp_id');
        $.ajax({
            type: 'post',
            url: '/client/ajax/get_abm_file/',
            data: { csrfmiddlewaretoken: token, 'id': camp_id },
            success: function (data) {
                // replace href attribute of id 'download' with file path
                $('#download').attr('href', data['path'])
                // click id 'file_download' button to trigger downloading of file
                $('#file_download').click();
            }

        })
    })

    var target_quantity = document.getElementById('target_quantity').value
    if (target_quantity != '') {
        $('.toggle-sweet_1').val(`${target_quantity}`);
    } else {
        $('.toggle-sweet_1').val(`0`);
    }

    var outrich_method = document.getElementById('outrich_method').value
    if (outrich_method != 'None' || outrich_method != '') {
        outrich_method = outrich_method.split(",")
        $('#outrichmethod').removeClass('hidden')
        if (outrich_method.length == 1) {
            $('.toggle-sweet1').val(`${outrich_method[0]}`)
            $('#outrichmethod').removeClass('hidden')
        } else {
            $('.toggle-sweet1').val(`${outrich_method[0]} + ${outrich_method.length - 1} more`);
        }
        outrich_method.forEach(function (cout) {
            $('#outrichmethod').append(`<label class="title_more " style="border-left-color: {{color}};padding: 6px;">${cout}</label>`)
        })
    }


    var assets = document.getElementById('assets').value
    if (assets != 'None' || assets != '') {
        assets = assets.split(",")
        $('#assets_list').removeClass('hidden')
        if (assets.length == 1) {
            $('.toggle-sweet2').val(`${assets[0]}`);
            $('#assets_list').addClass('hidden')
        } else {
            $('.toggle-sweet2').val(`${assets[0]} + ${assets.length - 1} more`);
            assets.forEach(function (cout) {
                $('#assets_list').append(`<label class="title_more " style="border-left-color: {{color}};padding: 6px;">${cout}</label>`)
            })
        }
    }

    var pacing = document.getElementById('pacing').value
    if (pacing != 'None' || pacing != '') {
        pacing = pacing.split(",")
        $('#pacing_list').removeClass('hidden')
        if (pacing.length == 1) {
            $('.toggle-sweet3').val(`${pacing[0]} `);
            $('#pacing_list').addClass('hidden')
        } else {
            $('.toggle-sweet3').val(`${pacing[0]} + ${pacing.length - 1} more`);
        }
        pacing.forEach(function (cout) {
            $('#pacing_list').append(`<label class="title_more " style="border-left-color: {{color}};padding: 6px;">${cout}</label>`)
        })
    }


    var company_size = document.getElementById('company_size').value
    if (company_size != 'None' || company_size != '') {
        company_size = company_size.split(",")
        $('#companysize').removeClass('hidden')
        if (company_size.length == 1) {
            $('.toggle-sweet4').val(`${company_size[0]} `);
            $('#companysize').addClass('hidden')
        } else {
            $('.toggle-sweet4').val(`${company_size[0]} + ${company_size.length - 1} more`);
        }
        company_size.forEach(function (cout) {
            $('#companysize').append(`<label class="title_more " style="border-left-color: {{color}};padding: 6px;">${cout}</label>`)
        })
    }


    var indursty_type = document.getElementById('indursty_type').value
    if (indursty_type != 'None' || indursty_type != '') {
        indursty_type = indursty_type.split(",")
        if (indursty_type.length == 1) {
            $('.toggle-sweet5').val(`${indursty_type[0]} `);
        } else {
            $('.toggle-sweet5').val(`${indursty_type[0]} + ${indursty_type.length - 1} more`);
        }
        indursty_type.forEach(function (cout) {
            $('#indurstytype').append(`<label class="title_more " style="border-left-color: {{color}};padding: 6px;">${cout}</label>`)
        })
    }


    var job_level = document.getElementById('job_level').value
    if (job_level != 'None' || job_level != '') {
        job_level = job_level.split(",")
        $('#joblevel').removeClass('hidden')
        if (job_level.length == 1) {
            $('.toggle-sweet6').val(`${job_level[0]} `);
            $('#joblevel').addClass('hidden')
        } else {
            $('.toggle-sweet6').val(`${job_level[0]} + ${job_level.length - 1} more`);
        }
        job_level.forEach(function (cout) {
            $('#joblevel').append(`<label class="title_more " style="border-left-color: {{color}};padding: 6px;">${cout}</label>`)
        })
    }


    var job_title = $('#job_title_show').val()
    console.log(job_title);
    if (job_title != 'None' || job_title != '') {
        job_title = job_title.split(",")
        $('#jobtitle').removeClass('hidden')
        if (job_title.length == 1) {
            $('.toggle-sweet_jobtitle').val(`${job_title[0]} `);
            $('#jobtitle').addClass('hidden')
        } else {
            $('.toggle-sweet_jobtitle').val(`${job_title[0]} + ${job_title.length - 1} more`);
        }
        job_title.forEach(function (cout) {
            $('#jobtitle').append(`<label class="title_more " style="border-left-color: {{color}};padding: 6px;">${cout}</label>`)
        })
    }


    var revenue = document.getElementById('revenue').value
    revenue = revenue.replace("999,999", "999999").replace("999, 999", "999999")

    if (revenue != 'None' || revenue != '') {
        revenue = revenue.split(",");
        $('#revenue_size').removeClass('hidden')
        if (revenue.length == 1) {
            $('.toggle-sweet7').val(`${revenue[0]} `);
            $('#revenue_size').addClass('hidden')
        } else {
            $('.toggle-sweet7').val(`${revenue[0]} + ${revenue.length - 1} more`);
        }
        revenue.forEach(function (cout) {
            $('#revenue_size').append(`<label class="title_more " style="border-left-color: {{color}};padding: 6px;">${cout}</label>`)
        })
    }


    var country = document.getElementById('country').value
    if (country != 'None' || country != '') {
        country = country.replace(/[\[\]']/g, '');
        country = country.split(",")
        $('#country_list').removeClass('hidden')
        if (country.length == 1) {
            $('.toggle-sweet8').val(`${country[0]} `);
            $('#country_list').addClass('hidden')
        } else {
            $('.toggle-sweet8').val(`${country[0]} + ${country.length - 1} more`);
        }
        country.forEach(function (cout) {
            $('#country_list').append(`<label class="title_more " style="border-left-color: {{color}};padding: 6px;">${cout}</label>`)
        })

    }
    {% if tc_header_status == 1 %}
    var data_field = document.getElementById('data_field').value
    if (data_field != 'None' || data_field != '') {
        data_field = data_field.split(",")
        $('#datafield').removeClass('hidden')
        if (data_field.length == 1) {
            $('.toggle-sweet9').val(`${data_field[0]} `);
            $('#datafield').addClass('hidden')
        } else {
            $('.toggle-sweet9').val(`${data_field[0]} + ${data_field.length - 1} more`);
        }
        data_field.forEach(function (cout) {
            $('#datafield').append(`<label class="title_more " style="border-left-color: {{color}};padding: 6px;">${cout}</label>`)
        })
    }
    {% endif %}
    {% if custom_header_status == 1 %}
    var custom_data_fields = document.getElementById('custom_data_fields').value
    if (custom_data_fields != 'None' || custom_data_fields != '') {
        custom_data_fields = custom_data_fields.split(",")
        $('#customdata').removeClass('hidden')
        if (custom_data_fields.length == 1) {
            $('.toggle-sweet99').val(`${custom_data_fields[0]} `);
            $('#customdata').addClass('hidden')
        } else {
            $('.toggle-sweet99').val(`${custom_data_fields[0]} + ${custom_data_fields.length - 1} more`);
        }
        custom_data_fields.forEach(function (cout) {
            $('#customdata').append(`<label class="title_more " style="border-left-color: {{color}};padding: 6px;">${cout}</label>`)
        })
    }
    {% endif %}
</script>

<style type="text/css">
    .title_more {
        background: #e5e6e6b0;
        /* border: 1px solid#fff; */
        padding: 10px;
        margin-right: 10px;
        font-size: 11px;
        word-break: break-word;
        border-left: 3px solid;
        text-align: center;
    }

    .script-color {
        background-color: #09c7c7 !important;
        margin-top: 0px;
    }

    .tooltip1 {
        position: relative;
        display: inline-block;
        /*    border-bottom: 0px dotted black;*/
    }

    .tooltip1 .tooltiptext1 {
        visibility: hidden;
        background-color: floralwhite;
        background-color: #f3efefa3;
        background: #f3efefa3;
        color: #000;
        text-align: -webkit-left;
        border-radius: 6px;
        /*padding: 5px 0;*/
        position: absolute;
        z-index: 1;
        margin-left: -55px;
        background: #f3efefa3;
        /*padding: 0px;*/
        scroll-behavior: normal;
        box-shadow: 0px 0px 9px 1px #656569;
        width: 292px;
        max-height: 250px;
        overflow: auto;
        padding: 15px;
        min-height: 30px;
        background: #fff;
        visibility: hidden;
        /*border: 1px solid black;*/
        /* Position the tooltip */
    }

    .tooltip1 .tooltiptext1::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent red transparent;
    }

    .tooltip1:hover .tooltiptext1 {
        visibility: visible;
    }

    /*kishor*/
    /*dropdown Save PDF and CSV File*/
    .dropdown:hover>.dropdown-menu {
        display: block;
    }

    .dropdown>.dropdown-toggle:active {
        /*Without this, clicking will make it sticky*/
        pointer-events: none;
    }
</style>
<!-- end show campaign specs tooltips and + more value -->