{% extends "header/cheader.html" %}
{% load static %}
{% block scripts %}

{% endblock %}

{% block scripts1 %}

{% include "campaign/css/terms.css" %}

{% endblock%}

{% block content %}

<!-- Main sidebar -->
{% include "side/clientside.html" %}
<!-- /main sidebar -->

<!-- Main content -->
<div class="content-wrapper">
    <div style="margin-top: 47px;padding: 10px;">
        <!-- Main charts -->
        <div class="row">
            <div class="col-md-12 ">

                <!-- Traffic sources -->
                <div class="panel panel-flat">
                    <div class="panel-heading text-center">
                    </div>
                    <div class='term' style="padding:40px;">
                        <h2>Terms And Conditions</h2>
                        <br>
                        <p>By visiting this website you agree to be bound by the terms and conditions of this privacy policy. If you do not agree, please do not use or access our website. By mere use of the Website, you expressly consent to, our use and disclosure, of your personal information following this Privacy Policy. This Privacy Policy is subject to the Terms of Services.</p>
                        <p>We, at Toiljobs value the trust you place in us. We insist upon the highest standards for
                        secure transactions and customer's information privacy. Please read the following statements
                        to learn about our information gathering and dissemination practices. Our privacy policy is
                        subject to change at any time without notice. To make sure you are aware of any changes,
                        please review this policy periodically</p>
                        <p>We, at 'Funds and Toils' and our affiliated companies/organizations worldwide, are committed to respecting your online privacy and recognize your need for appropriate protection and management of any personally identifiable information ("Personal Information") you share with us. To provide a personalized browsing experience, Toiljobs.com may collect information from you, this may include technical or other related information from the device used to access Toiljobs.com including without limitation contact lists in your device and its location, you may also be asked to complete a registration form. When you let us have your preferences, we will be able to deliver or allow you to access the most relevant information that meets your end.</p>
                        <p>"Personal Information" means any information that may be used to identify an individual,
                        including, but not limited to, a first and last name, a home or other physical address and
                        an email address or other contact information, whether at work or home. In general, you
                        can visit all web pages without telling us who you are or revealing any Personal Information
                        about yourself.</p><br>
                        <h4>Cookies and Other Tracking Technologies</h4>
                        <p>Some of our web pages utilize "cookies" and other tracking technologies. A "cookie" is a
                        small text file that may be used, for example, to collect information about activity on the
                        web site. Some cookies and other technologies may serve to recall Personal Information
                        previously indicated by a Web user. Most browsers allow you to control cookies, including
                        whether or not to accept them and how to remove them.</p>
                        <p>You may set most browsers to notify you if you receive a cookie, or you may choose to block
                        cookies with your browser, but please note that if you choose to erase or block your
                        cookies, you will need to re-enter your original user ID and password to gain access to
                        certain parts of the web site. </p>
                        <p>Tracking technologies may record information such as internet domain and host names; internet
                        protocol (IP) addresses; browser software and operating system types; clickstream patterns;
                        and dates and times that our site is accessed. Our use of cookies and other tracking
                        technologies allows us to improve our web site and your web experience. We may also analyze
                        information that does not contain Personal Information for trends and statistics.</p><br>
                        <h4>Third Party Services</h4>
                        <p>Third parties provide certain services available on www.toiljobs.com on Funds and Toil's
                        behalf. 'Funds and Toils' may provide information, including Personal Information, that
                        'Funds and Toils' collects on the web to third-party service providers to help us deliver
                        programs, products, information, and services. Service providers are also an important means
                        by which 'Funds and Toils' maintains its websites and mailing lists. 'Funds and Toils' will
                        take reasonable steps to ensure that these third-party service providers are obligated to
                        protect Personal Information on Funds and Toils’s behalf.</p>
                        <p>'Funds and Toils' does not intend to transfer Personal Information without your consent to
                        third parties who are not bound to act on Funds and Toils's behalf unless such transfer is
                        legally required. Similarly, it is against Funds and Toils's policy to sell Personal
                        Information collected online without consent.</p><br>
                        <h4>Your Consent</h4>
                        <p>By using this web site, you consent to the terms of our online Privacy Policy and Funds
                        and Toils's processing of Personal Information for the purposes given above as well as those
                        explained where 'Funds and Toils' collects Personal Information on the web</p><br>
                        <h4>Information security</h4>
                        <p>•  We take appropriate security measures to protect against unauthorized access to or unauthorized alteration, disclosure or destruction of data</p>
                        <p>• We restrict access to your personally-identifying information to employees who need to know that information to operate, develop or improve our services</p><br>
                        <h4>Updating your information</h4>
                        <p>We provide mechanisms for updating and correcting your personally identifying information for
                        many of our services. For more information, please see the help pages for each service.</p>
                        <br>
                        <h4>Children</h4>
                        <p>'Funds and Toils' will not contact children under age 13 about special offers or for
                        marketing purposes without a parent's permission.</p><br>
                        <h4>Information Sharing and Disclosure</h4>
                        <ul type="disc" class="privacy">
                        <li>'Funds and Toils' does not rent, sell, or share personal information about you with other people (save with your consent) or non-affiliated companies except to provide products or services you've requested, when we have your permission, or under the following circumstances
                            <ul type="circle" class="pricavy">
                                <li>We provide the information to trusted partners who work on behalf of or with 'Funds and Toils' under confidentiality agreements. These companies may use your personal information to help 'Funds and Toils’ communicate with you about offers from 'Funds and Toils and our marketing partners. However, these companies do not have any independent right to share this information.</li>
                                <li>We respond to subpoenas, court orders, or legal process, or to establish or exercise our legal rights or defend against legal claims.</li>
                                <li>We believe it is necessary to share information to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of Funds and Toils's terms of use, or as otherwise required by law.
                                </li>
                                <li>We transfer information about you if 'Funds and Toils' is acquired by or merged with another company. In this event, 'Funds and Toils' will notify you before information about you is transferred and becomes subject to a different privacy policy.</li>
                            </ul>
                        </li>
                        <li>
                            'Funds and Toils' displays targeted advertisements based on personal information. Advertisers (including ad serving companies) may assume that people who interact with, view or click on targeted ads meet the targeting criteria - for example, women ages 18-24 from a particular geographic area.
                            <ul type="circle" class="privacy">
                                <li>'Funds and Toils' does not provide any personal information to the advertiser when you interact with or view a targeted ad. However, by interacting with or viewing an ad you are consenting to the possibility that the advertiser will assume that you meet the targeting criteria used to display the ad.
                                </li>
                                <li>'Funds and Toils' advertisers include financial service providers (such as banks, insurance agents, stockbrokers and mortgage lenders) and non-financial companies (such as stores, airlines, and software companies).</li>
                            </ul>
                        </li>
                        </ul><br>
                        <h4>Confidentiality and Security</h4>
                        <p>• We limit access to personal information about you to employees who we believe reasonably
                        need to come into contact with that information to provide products or services to you or to do their jobs</p>
                        <p>• "We have physical, electronic, and procedural safeguards that comply with the laws
                        prevalent in India to protect personal information about you. We seek to ensure compliance
                        with the requirements of the Information Technology Act, 2000 as amended and rules made
                        thereunder to ensure the protection and preservation of your privacy</p><br>
                        <h4>Changes to this Privacy Policy</h4>
                        <p>'Funds and Toils' reserves the right to update, change or modify this policy at any time. The
                        policy shall come to effect from the date of such update, change or modification.</p><br>
                        <h4>Disclaimer </h4>
                        <p>'Funds and Toils' uses the maximum care as is possible to ensure that all or any data/information in respect of electronic transfer of money does not fall in the wrong hands. For completing online transactions involving payments a user is directed to a secured payment gateway, Funds and Toils does not store or keep financial data such as credit card numbers/passwords/PINs, etc "Personal Account Related Information". Since the transaction happens on a third-party network not controlled by Funds and Toils, once an online transaction has been completed, the Personal Account Related Information is not accessible to anyone at Funds and Toils after completion of the online transaction at the payment gateway, this ensures maximum security.<br><br>Funds and Toils shall not be liable for any
                        loss or damage sustained by reason of any disclosure (inadvertent or otherwise) of any
                        information concerning the user's account and / or information relating to or regarding
                        online transactions using credit cards / debit cards and / or their verification process and
                        particulars nor for any error, omission or inaccuracy with respect to any information so
                        disclosed and used whether or not in pursuance of a legal process or otherwise.</p><br>
                        <h4>Contact Information</h4>
                        <p>'Funds and Toils' welcomes your comments regarding this privacy statement at the contact
                        address given at the website. Should there be any concerns about contravention of this
                        Privacy Policy, 'Funds and Toils' will employ all commercially reasonable efforts to address
                        the same.
                        Note: The terms in this agreement may be changed by Funds and Toils at any time. Funds and
                        Toils is free to offer its services to any client/prospective client without restriction.
                        </p>
                    </div>


                </div>
            </div>
            <!-- /main charts -->


        </div>
        <!-- /main content -->
    </div>
</div>
<!-- /page content -->

</div>
<!-- /page container -->

<script>
    $(function () {
        $("#support").addClass("active");
        $("#support").find("ul").first().css({ 'display': 'block' })
        $("#T&C").addClass("active");
    });
</script>
{% endblock %}