{% extends "header/header.html" %}

{% block content %}
<!-- Main sidebar -->
  {% include "side/side.html" %}

			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Page header -->

				<div class="page-header">
					<div class="page-header-content" style="display:none">
						<div class="page-title">
							<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Dashboard</span> - Client List</h4>
						</div>

						<div class="heading-elements">
							<div class="heading-btn-group">
								<a href="#" class="btn btn-link btn-float text-size-small has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
								<a href="#" class="btn btn-link btn-float text-size-small has-text"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
								<a href="#" class="btn btn-link btn-float text-size-small has-text"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
							</div>
						</div>
					</div>

					<div class="breadcrumb-line">
						<ul class="breadcrumb">
							<li><a href="/superadmin/dashboard/"><i class="icon-home2 position-left"></i> Home</a></li>
							<li class="active">Client List</a></li>
						</ul>

						<ul class="breadcrumb-elements">

						</ul>
					</div>
				</div>
				<!-- /page header -->


				<!-- Content area -->
				<div class="content">

					<!-- Top Clients List -->
					<div class="panel panel-flat">
						<div class="panel-heading">
                         <h5 class="panel-title">Group List
                                <!-- <button type="button" id="databtn" class="btn btn-filter-tb btn-labeled pull-right" >
									<b><span id ="filter_icon" class="glyphicon glyphicon-filter"></span></b>
									 Filter
								</button> -->
							</h5>


						</div>
							 <div class="table-responsive-sm">
                            <table class="table datatable-column-search-inputs DataTables">
                                <thead>
                                    <tr>
                                        <th>sr.no</th>
                                        <th>Group Name</th>
                                        <th>No.of Members</th>
                                        <th>status</th>
                                        <th>created_date</th>
                                        <th class="text-center">Actions</th>

                                    </tr>
                                </thead>
                                <!-- <tfoot id="datatfootfilter">
                                    <tr>

                                        <td rowspan="1" colspan="1">
                                            <input type="text" class="form-control input-sm" placeholder="Search Company">
                                        </td>

                                        <td rowspan="1" colspan="1">
                                            <input type="text" class="form-control input-sm" placeholder="Search Person">
                                        </td>

                                        <td rowspan="1" colspan="1">
                                            <input type="text" class="form-control input-sm" placeholder="Search Category">
                                        </td>

                                        <td rowspan="1" colspan="1">
                                            <input type="text" class="form-control input-sm" placeholder="Search Type">
                                        </td>




                                    </tr>
                                </tfoot> -->
                                <tbody>


                                	{% for row in group %}
                                <tr>
                                    <td>{{forloop.counter}}</a></td>
                  									<td>{{ row.Group_Name }}</td>
                  									<td>{{ row.is_active }}</td>
                  									<td>{{ row.is_active }}</td>
                                    <td>{{ row.created_date	 }}</td>
                                    <td><button type="button" data-toggle="modal" data-target="#myModal"  class="btn btn-primary">Create</button>
									</td>
								</tr>
								{% endfor %}


                                </tbody>

                            </table>
                        </div>


					</div>
					<!-- /highlighting rows and columns -->

					<!-- Footer -->

					<!-- /footer -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" onclick="closeModel()"  class="close" >&times;</button>
          <h4 class="modal-title">Create Group</h4>
          <hr>
          <form class="form-horizontal" method="post" id="create_grp_frm">
          <fieldset class="content-group">
          <div class='col-md-12 col-sm-12'>
              <div class="form-group">
                <label class="control-label col-lg-3">Select Client:</label>
                  <div class="col-lg-9">

                    <select multiple="multiple" class="select" name="client_ids[]">
											<optgroup label="Client">
                        {% for row in users.all %}
                          {% if row.usertype_id == 1 %}
                          <option value="{{row.id}}">{{row.user_name}}</option>
                          {% endif %}
                        {% endfor %}
											</optgroup>
										</select>

                  </div>
              </div>
          </div>
          <div class='col-md-12 col-sm-12'>
              <div class="form-group">
                <label class="control-label col-lg-3">Select Vendors:</label>
                  <div class="col-lg-9">
                    <select multiple="multiple" class="select" name="vendor_ids[]">
                      <optgroup label="Vendors">
                        {% for row in users.all %}
                          {% if row.usertype_id == 2 %}
                          <option value="{{row.id}}">{{row.user_name}}</option>
                          {% endif %}
                        {% endfor %}
                      </optgroup>
                    </select>
                  </div>
              </div>
          </div>
          <div class='col-md-12 col-sm-12'>
              <div class="form-group">
                <label class="control-label col-lg-3">Group Name:</label>
                  <div class="col-lg-9">

                    <input type="text" name="grp_name" class="form-control" placeholder="Enter Group Name">

                  </div>
              </div>
          </div>
          <div class='col-md-12 col-sm-12'>
              <div class="form-group">

                <button class="btn btn-primary pull-right" type="submit">Create</button>

              </div>
          </div>
        </fieldset>
      </form>

        </div>
        <div class="modal-body">



				<div class="modal-footer" style="display: none;">
        <button type="button" style="background-color:#00BCD4;" class="btn btn-default" onclick="closeModel()">Close</button>
      </div>
</div>
</div>
</div>
</div>
	<!-- /page container -->


					{% include "client/clientjs.html" %}

					{% endblock %}
