.navigation>li>a>span{
  font-size: 13px!important;
  font-weight: normal!important;
}
.navigation>li>a>span:hover{
  font-size: 13px!important;
  font-weight: bold!important;
}
/*css added to align notifications and alerts proper at vendor side*/
.navigation>li>a>.notis:hover{
  font-size: 12px!important;
  font-weight: bold!important;
}
/*end*/
.fa-desktop{
  color:#78d920;
}
.fa-users{
  color: #44c7ff;
}
.fa-laptop{
  color: #ffa9f7;
}
.fa-edit{
  color: #ef5e5e;
  font-size: 14px!important;
}
.fa-list{
  color: #4945ca;
}
.fa-bullhorn{
  color: #f3c24b;
}
.eye-color{
  color: #8e4bf8;
}
.fa-clone{
  color: #1ac79f;
}
.user-color{
  color: #ff6363;
}
.fa-sticky-note{
  color: #f8d87e;
}
.mg-left{
  margin-left: -30px;
}
.fabar{
  color: #6374ff;
}
.fabell{
  color: #67b96c;
}
.fa-user-cog{
  color: #c5a5c5;
}
.fa-upload{
  font-size: 18px!important;
  color: #0c8bdc!important;
}
.his{
  color: #8019f1!important;
  font-size: 18px!important;
}
.lit{
  color: #4945ca!important;
  font-size: 18px!important;
}

.table.dataTable tbody tr: hover {
    background-color: #ffffff;
    box-shadow: 20px 20px 50px 15px #3b9bfd !important;
/* }
.bgst{

  background-color: #f1ededa6;
  border: 1px solid #afaaaa;
  margin-left: 20px;
  width: 94.4%!important;
  padding: 2%;
} */
/* .bgset{

  background-color: #f1ededa6;
  border: 1px solid #afaaaa;
  margin-left: 20px;
  width: 88.7%!important;

} */
.modal-header{
  background-color:#dedcdc;
}
/* .bgsett{

  background-color: #f1ededa6;
  border: 1px solid #afaaaa;
  margin-left: 20px;
  width: 88.7%!important;

} */
/* .bgset1{

  background-color: #f1ededa6;
  border: 1px solid #afaaaa;
  margin-left: 20px;
  width: 93.4%!important;
  padding: 1%;
}
.bgset2{
  padding: 0 40px !important;
} */
.choose{
   margin-left: -36px;
}
.col-md-1 > i{
      margin-left: 6px;
}

.padd1>p{
  font-weight: 400;
}
.topsp{
  margin-top: 20px;
}
#exampleModalLongTitle{
  text-align: center;
  margin-bottom: 15px;
}
.modal-header .close {
    top: 15%!important;
}
.topp{
  margin-top: 35px;
}
.topp1{
    margin-top: -34px;
    padding-bottom: 3px;
    margin-right: 10px;
}
.tophead{
  padding: 20px;
}
.col-md-6 > span >.fa-check{
  color: #006eff;
}
.col-md-6 > span >.fa-remove{
  color: #ff0000;
}
#asset_modal input[type="text"] {
    border: none;
    border: 1px solid #adafb1!important;
    border-radius: 4px!important;
}
.sidebar-default .navigation > li.active > a, .sidebar-default .navigation > li.active > a:hover, .sidebar-default .navigation > li.active > a:focus {
    background-color: #4386f442;
    color: #333333;
}
.hidden-ul>li>a:hover{
  font-weight: bold;
}
/*@media query (max-width: 1366px) */
@media only screen and (max-width: 1366px) {
          #welcome {
              font-size: 17px!important;
              font-weight: bold!important;
              color: 000000b5!important;
          }
          #welcome>p{
              font-size: 14px!important;
              font-weight: normal!important;
          }
}
/*@media query (min-width: 1920px) */
@media only screen and (min-width: 1920px) {
          #welcome {
              font-size: 27px!important;
          }
          .chat_bar {
              position: absolute!important;
              left: 39px;
              bottom: 11%;
              width: 90%;
          }
}
