
.btn_layout.lbutton.login_btn {
    color: #fff; 
    /*! border-color: tomato; */
    background: #009cff;
}
.login_btn {
    border-radius: 50px;
    position: relative;
    padding: .1em 1em;
    border: 2px solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7em!important;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s 
}
.login_btn:hover {
    padding: .05em 2em .3em .7em;
    border: 2px solid transparent;
    padding: .1em 1em;
    padding-right: 1.6em;
}
.login_btn:hover {
    background-color: rgba(255,255,255,.2) 
}

.login_btn:after,.login_btn:before {
    position: absolute;
    margin-left: -1em;
    opacity: 0;
    text-shadow: none;
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    font-variant: none;
    line-height: 1em;
    text-transform: none;
    content: "\35";
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s 
}
.login_btn:before {
    display: none 
}
.login_btn:hover:after {
    margin-left: 3px;
    opacity: 1 
}
.lbutton {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover 
}
.lbutton.login_btn {
    display: inline-block;
    color: inherit;
}
.login_btn:after {
    text-shadow: 0 0;
    font-family: ETmodules!important;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    text-transform: none;
    speak: none 
}
.login_btn:after {
    display: none; font-family: "Font Awesome 5 Solid"; content: "\f152";
}


  
.lbutton {
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear 
}
.lbutton {
    -webkit-animation-duration: .2s;
    -moz-animation-duration: .2s;
    -o-animation-duration: .2s;
    animation-duration: .2s 
}

.lbutton.login_btn 
{
    display: inline-block;
    border-radius: 50px;
    color: inherit;
}


