input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #fff;
  font-size:18px!important;
  -webkit-text-fill-color: #fff!important;
  -webkit-box-shadow: 0 0 0px 1000px rgb(157, 200, 243) inset;
  transition: background-color 5000s ease-in-out 0s;
  background-color: rgb(157, 200, 243)!important;
  color: #fff!important;
}
body{
background: rgb(255,255,255)!important;
background: linear-gradient(90deg, rgba(255,255,255,1) 16%, rgba(128,185,240,1) 48%, rgba(123,183,240,1) 53%, rgba(112,177,239,1) 58%, rgba(72,155,234,1) 88%, rgba(72,155,234,1) 95%)!important;
overflow: auto!important;
overflow-x:hidden!important;
}
.txt_right{
  text-align: right;
  margin-top: -56px;
  margin-left: 48%!important;
  margin-right: 100px;
  color:#fff;
}
.txt_sml {
    margin-left: 21%;
    color: #fff;
    font-size: 22px;
}
.main{
  width: 100%!important;
}
.main_sub{
  padding: 12% 12% 0% 12%!important;
  width:100%!important;
  margin-top: 4%!important;
}
.txt_right_1{
  text-align: right;
  margin-right: 200px;
  margin-top: -100px;
}
.img-1{
  float: right;
  margin-right: 22%;
}
.one{
  font-size:24px
}
.icons b{
  position: absolute!important;
}
.icons {
    /*padding: 1px;
    min-width: 40px;*/
    margin-left: 9.8%;
}
.eye{
    color: #fff!important;
    margin-left: 80%!important;
    margin-top: 5.5%!important;
  }
.login-form .panel-body
{
    padding: 30px;
}
.login-form .form-group {
    margin-bottom: 26px;
}
.login-form .form-group  .form-control-feedback .fa-user
{
    font-size: 17px;
    margin-top: 10px;
    color: #33333382;
}
.btn-wrapper
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-wrapper button
{
    background: transparent;
    box-shadow: none;
    border: 0px;
}
.btn-wrapper button .fa-thumbs-o-up
{
    transition: all .2s ease-in-out;
}
.btn-wrapper button:hover .fa-thumbs-o-up
{
    display: inline-block;
}
.i-hide
{
    display : none;
}
form{
    margin-top: 5%;
}
.checker, .checker span, .checker input
{
    width: 15px;
    height: 15px;
    margin-top: 1px;
    margin-left: 2px;
}
.fc-height{
  height: 55px!important;
  background-color: #fff!important;
  border: 1px solid #fff!important;
  white-space: nowrap; 
  width: 50px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
.input_text{
  font-size: 12px;
  z-index: -1;
}
.form-control-feedback {
    width: 60px!important;
    color: #fff;
    z-index: 3;
    margin-top: 10px;
    background: rgba(117, 181, 242, 0)!important;
    margin-left: 13px;
    left: 0!important; 
}
.form-control-feedback-1 {
    width: 60px!important;
    color: #fff;
    z-index: 3;
    margin-top: -80px;
    /* background: rgba(117, 181, 242, 0)!important; */
    margin-left: 297px;
    /* left: 0!important; */
    right: 4px!important;
}
.form-group>input{
  background-color: rgb(157, 200, 243)!important;
  color: #FFF;
  /*opacity: 0.9;*/
  font-size: 16px;
  width: 100%!important;
  /*font-weight: bold;*/
  padding-top: 1%!important;
}
.form-group>input placeholder{
  color: #FFF;
}
.color-text{
   color: #fff!important;
   margin-left: 37%!important;
}
.log-text {
    font-size: 39px!important;
    color: #fff;
    margin-left: 35%!important;
}
/* css added for set password window by manjusha*/
.log-text-set-pwd{
    font-size: 32px!important;
    color: #fff;
    margin-left: 18%!important;
}
.txt-sml-set-pwd{
    margin-left: 30%;
    color: #fff;
    font-size: 20px;
}
/*End*/
.login_btn{
    background-color: #489bea!important;
}
.for_psw{
  float:  right;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
.login_btn:hover {
    padding: .05em 2em .3em .7em;
    border: 2px solid #fff!important;
    padding: .1em 1em;
    padding-right: 1.6em;
    background-color: #489bea!important;
}
.bg-con{
    background: #9fc3e269;
}
.bg-img{
  width: 942px;
  background-repeat: no-repeat;
}
.form-control-feedback1 {
    width: 135px!important;
    color: rgba(73,155,234,1);
    z-index: 3;
    margin-top: -48px;
    background: #fff;
    margin-left: 13px;
}
.full>input {
    background-color:#fff !important;
    color: rgba(73,155,234,1);
    border: 1px solid rgba(73,155,234,1);
}
.full>input:focus{
    background-color:#fff !important;
    color: rgba(73,155,234,1);
    border: 1px solid rgba(73,155,234,1);
}
.form-group>select {
  background-color: rgb(157, 200, 243)!important;
  color: #FFF;
  opacity: 0.9;
  font-size: 15px;
  font-weight: bold;
}
.form-group>select:focus {
    background-color:rgba(73,155,234,1) !important;
    color: #fff;
    border: 1px solid #fff;
}
.full {
    margin-bottom: 55px!important;
}
.input_text1 {
    font-size: 12px;
    z-index: -1;
    margin-left: 20px;
}
.log-text1 {
    font-size: 50px;
    color: #fff;
    margin-left: 10%;
}
.fa-user{
  color: #fff!important;
  font-size: 25px!important;
  margin-top: 3px!important;
}
.main_div{
    margin-top: -7%!important;
  }
::placeholder{
  font-size: 14px!important;
  color: #fff!important;
  opacity: 1!important;
  font-weight: bold!important;
}
.form-control {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 8px 8px 70px!important;
  font-size: 13px;
  line-height: 1.5384616;
  color: #333333;
  background-color: transparent;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}
.form-group>select{
  color: #fff!important;
  -webkit-appearance:none; /* remove the strong OSX influence from Webkit */
  padding: 8px 8px 8px 72px!important; 
}  
/*==============================================================================================================*/
@media only screen and (max-width: 600px) and (min-width: 1024px){
    /*.main_sub{
      margin-top: -5%!important;
    }*/
    .log-text{
      font-size: 28px!important;
    }
    .one{
      margin-right: 50%!important;
    }
}
@media only screen and (max-width: 1024px) and (min-height: 786px){ 
  body{
    overflow: auto!important;
    overflow-x: hidden!important;
  }
  .xyz{
      margin-left: 12%!important;
  }
  .eye{
    color: #fff!important;
    margin-left: 83%!important;
    margin-top: 4.5%!important;
  }
  .one {
      font-size: 24px!important;
      margin-left: 0%!important;
      margin-right: 10%!important;
  }
  .main_div {
      margin-top: -16%!important;
      padding: 0 13% 0 13%!important;
      
  }
  .gif-1{
    display: none!important;
  }
  .main_sub{
    padding: 4% 12% 0% 12%!important;
    width:100%!important;
    margin-top: 4%!important;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 600px){
    body{
      overflow: auto!important;
      overflow-x: hidden!important;
    }
    .xyz {
      margin-top: 45%!important;
      margin-left: 25%;
    }
    .log-text{
      font-size: 28px!important;
    }
    .one{
      margin-left: -35%!important;
    }
}
/*@media only screen and  (min-width: 1024px){
    .log-text{
      font-size: 38px!important;
      margin-left: 34%!important;
    }
    .txt_sml {
      margin-left: 27%!important;
      color: #fff!important;
      font-size: 16px!important;
    }
    .form-group>input{
      width: 170%!important;
      padding: 4% 0% 0% 28%!important;
    }
}*/
@media only screen and (max-width: 500px){
  p>b{
    display: none!important;
  }
  .img-1 {
    float: none;
    margin-right: 0%;
    margin-left: 8%!important;
    width: 90%!important;
    height: 0%!important;
  }
  .xyz {
    margin-right: 8%!important;
    margin-top: 0%!important;
    margin-left: 8%!important;
  }
  .log-1 {
    font-size: 24px!important;
  }
  .one {
    margin-left: 0%!important;
    margin-right: 70%!important;
  }
  .form-group>input {
    padding: 0% 0% 0% 16%!important;
    width: 100%!important;
  }
}
@media only screen and (max-width: 786px){
  body{
    overflow:auto!important;
    overflow-x: hidden!important;
  }
  .xyz{
    margin-right: 15%!important;
    margin-top: 58%!important;
    margin-left: 15%!important;
  }
  .main_div{
    margin-top: -8%!important;
  }
  .main_sub{
     padding: 10% 10% 0% 10%;
  }
  .btn_layout.lbutton.login_btn {
    color: #fff;
    background: #489bea!important;
    /* width: 125px!important; */
  }
  .log-text {
    font-size: 30px;
    color: #fff;
    margin-left: 10%;
  }
  .fc-height {
    height: 45px!important;
    background-color: #fff!important;
    border: 1px solid #fff!important;
  }
  .one {
    font-size: 20px;
  }
  .form-control-feedback {
    position: absolute;
    top: -4px!important;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
  }
  .login-form .panel-body {
    padding: 0 30px;
  }
  .form-group>input {
    background-color: rgb(157, 200, 243)!important;
    color: #FFF;
    /*opacity: 0.9;*/
    font-size: 16px;
    font-weight: bold;
  }
  .txt_right {
    margin-right: 0px!important;
  }
}
@media only screen and (max-height:  600px){
    body{
      overflow: auto!important;
      overflow-x: hidden!important;
    }
    .main_sub {
      padding: 10% 10% 0% 10%!important;
    }
  .log-text {
    font-size: 24px;
    color: #fff;
    margin-left: 10%;
  }
  .login-form .panel-body {
    padding: 0 30px;
  }
  .fc-height {
    height: 40px!important;
    background-color: #fff!important;
    border: 1px solid #fff!important;
  }
  .one {
    margin-top: -10px;
    font-size: 20px;
  }
  .form-control-feedback {
    position: absolute;
    top: -7px!important;
    left: 0!important;
    z-index: 2;
    display: block;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    pointer-events: none;
  }
  .one{
      margin-left: 0!important;
      margin-right: 25%!important;
      margin-top: 17%!important;
      font-size: 21px!important;
  }
}
@media only screen and (max-width: 1299px) and (min-width: 1199px){
  .main_sub {
      padding: 15% 12% 5% 10%!important;
          margin-top: -5%!important;
  }
  .log-text {
      font-size: 22px!important;
      color: #fff!important;
      /* margin-left: 10%; */
  }
  .txt_sml {
      margin-left: 27%!important;
      color: #fff!important;
      font-size: 16px!important;
  }
  input{
    width: 170%!important;
  }
  .one {
      font-size: 24px!important;
      margin-left: 0%!important;
      margin-right: 10%!important;
  }
  .col-md-4 {
    width: 48.333333%!important;
  }
  .form-control-feedback {
    position: absolute!important;
    top: 0!important;
    right: 0!important;
    z-index: 2!important;
    display: block!important;
    width: 38px!important;
    height: 38px!important;
    line-height: 38px!important;
    text-align: center!important;
    pointer-events: none!important;
    margin-right: 90%!important;
  }
}
@media only screen and (max-width: 1399px) and (min-width: 1299px){
  .col-md-4 {
    width: 48.333333%!important;
  }
  .form-control {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 0px 8px 60px!important;
    font-size: 13px;
    line-height: 1.5384616;
    color: #333333;
    background-color: transparent;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
  .form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    pointer-events: none;
    margin-right: 85%!important;
  }
  .one{
    margin-right: 25%!important;
  }
}
@media only screen and (max-width: 1366px) and (min-height: 580px){
    body{
      overflow: auto!important;
      overflow-x: hidden!important;
    }
    .log-text {
        font-size: 38px!important;
        color: #fff;
        margin-left: 36%!important;
    }
    .log-text-set-pwd {
        font-size: 32px!important;
        color: #fff;
        margin-left: 21%!important;
    }
    .txt-sml-set-pwd{
        margin-left: 34%;
        color: #fff;
        font-size: 18px;
    }
    .txt_sml {
        margin-left: 27%;
        color: #fff;
        font-size: 18px;
    }
    /*.one{
      margin-left: 0!important;
      margin-right: 40%!important;
      margin-top: 16%!important;
      font-size: 21px!important;
    }*/
    .form-group>input{
      padding: 0% 0% 0% 13%!important;
      width: 100%!important;
    }
    .form-group>select{
      width: 100%!important;
    }
    .form-group>select {
      background-color: rgb(157, 200, 243)!important;
      color: #FFF;
      opacity: 0.9;
      font-size: 15px;
      padding: 8px 8px 8px 60px!important;
      /*font-weight: bold;*/
    }
    .main_sub {
      margin-top: 0%!important;
    }
    ::placeholder{
      font-size: 14px!important;
      color: #fff!important;
      opacity: 1!important;
      font-weight: bold!important;
    }
    .eye{
      color: #fff!important;
      margin-left: 83%!important;
      margin-top: 3.5%!important;
    }
    .fc-height{
      height: 45px!important;
    }
    /* width */
    ::-webkit-scrollbar {
      width: 5px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
      background: #479bea; 
    }
     
    /* Handle */
    /*::-webkit-scrollbar-thumb {
      background: #ccc; 
    }*/
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }
}
@media only screen and (max-width: 1600px) and (min-width: 1400px){
  .log-text {
      font-size: 27px!important;
    color: #fff!important;
    margin-left: 0%;
  }
  .col-md-4 {
    width: 48.333333%!important;
  }
}
