#chartdiv {
  width: 100%;
  height: 250px;
  margin-left:0px;
}
.export-main{
margin-top: -65px;
}
#chartdiv1 {
  width: 100%;
  height: 250px;
  margin-left:0px;
}
    .addbtn{
        padding-left: 10px;
    }
        tfoot {
        display: table-row-group;
    }

/*owl css*/

.testimonial{
    text-align: center;
    padding: 85px 10px 45px 50px;
   margin: 40px 15px 2px;
    background: #f9f9f9;
    box-shadow: 8px 4px 0 0 #77a9dd;
    position: relative;
}
.testimonial .pic{
    width: 80px;
    height: 80px;
    border: 5px solid #77a9dd;
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.testimonial .description{
    font-size: 15px;
    color: #757575;
    line-height: 20px;
    margin-bottom: 0px;
    position: relative;
}
.testimonial .description:before{
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 30px;
    color: #77a9dd;
    position: absolute;
    top: -15px;
    left: -35px;
}
.testimonial .testimonial-profile{
    position: relative;
    margin: 20px 0 10px 0;
}
.testimonial .testimonial-profile:after{
    content: "";
    width: 50px;
    height: 1px;
    background: #77a9dd;
    margin: 0 auto;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
}
.testimonial .title{
    display: inline-block;
    font-size: 18px;
    color: #4a5184;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}
.testimonial .post{
    display: inline-block;
    font-size: 15px;
    color: #757575;
    text-transform: capitalize;
}
.owl-theme .owl-controls{
    margin-top: 10px;
}
.owl-theme .owl-controls .owl-page span{
    background: #5e5f5f;
    opacity: 1;
    transition: all 0.4s ease 0s;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #77a9dd;
}
.owl-theme .owl-controls .owl-page.active span{
    width: 22px;
    height: 12px;
}
.panel-flat > .panel-heading {
    background-color: #f9f1f1;
}
#mgleft
{
    margin-left: 40px;;
}
#font18
{
    font-size: 18px;
}
#revpad
{
    padding:2px;
    padding-left: 20px;
}
.content {
padding-top: 37px;
}
