<script>
	$(document).ready(function () {

		// flag to check ,if user has clicked multiple times...Akshay G...Date - 11th Nov, 2019 
		var submit_status = false;
		$("#send_msg").submit(function (e) {
			e.preventDefault();
			if ($(this).find('#message').val().trim().length == 0) {
				swal({
					title: 'Empty message !',
					text: 'Please enter some text to send chat message.',
					icon: 'info',
				});
				return;
			}
			// if user clicked multiple submits...dont' send multiple messages....Akshay G...Date - 11th Nov, 2019 
			if (submit_status) {
				return;
			}
			submit_status = true;
			if ($("#message").val() != '') {
				$.ajax({
					type: "POST",
					url: "/client/chat-app/send-msg/",
					data: $("#send_msg").serialize(),
					cache: false,
					success: function (data) {
						$('#message').val("");
						submit_status = false;
						$('.chat_box').find('label.empty').remove()
						$("#allcheck").prop("checked", false);
						$(".vendor_names").prop("checked", false);
						$('.img').remove();
						$('.cancel_chat').remove();
						var time = convertTimeDefault(data);
						if (data.msg != '0') {
							logos = get_logos_div(data.receiver_logos, 'sender')
							chat_data = `<li class="media reversed">
                        <div class="media-body">
                        <div class="media-content">${data.msg}</div>
                        <span class="media-annotation display-block mt-10">${time}
						<div class="logos_div">${logos} </div>						
                        </span>
                        </div>
                        <div class="media-right">
                        <a href="${data.profilepic}" >
                        <img src="${data.profilepic}" class="img-circle img-md" title="${data.sender_name}" alt=""></a></div>
                        </li>`;
							$('.chat_box').animate({ scrollTop: $('.chat_box').prop("scrollHeight") }, 50);
							$('.chat_box').append(chat_data);

						}
						$('#vendor_list').find('label').css('background-color', 'white')
					}
				});
			} else {
				swal("Oops!", "Message Can't be empty.", "error")
				$('#message').val("");
			}
		});

		function send_received_msg_count(chat_obj_id, sender_id) {
			token = getCookie('csrftoken');
			$.ajax({
				url: "/client/save_chat_status/",
				type: "POST",
				data: { 'chat_obj_id': chat_obj_id, 'sender_id': sender_id, 'csrfmiddlewaretoken': token },
				success: function (data) {

				}
			})
		}
		// start live chat after clicking on message text box..Akshay
		var intercal;
		$(document).on('click', '#asdmessage', function () {
			intercal = setInterval(function () {
				var camp_id = $('#camp_id').val();
				var sender_id = $('#sender_id').val();
				token = getCookie('csrftoken');
				if (camp_id > 0) {
					$.ajax({
						url: "/client/get-campaign-chat/",
						type: "POST",
						data: { 'camp_id': camp_id, 'csrfmiddlewaretoken': token },
						success: function (data) {
							var latest_count = data.length;
							if (latest_count > msg_count && latest_count > 0) {
								for (var i = msg_count; i < data.length; i++) {

									var time = convertTimeDefault(data[i]); // UTC to local 

									$('.chat_box').find('label.empty').remove()
									if (sender_id != data[i].sender_id) {
										// console.table(data[i].receiver_logos)
										logos = get_logos_div(data[i].receiver_logos, 'receiver')
										if (data[i].message != '0') {

											$('.chat_box').append(`<li class="media">
																	<div class="media-left chat-left">
																		<a href="${data[i].profilepic}" >
																			<img src="${data[i].profilepic}" class="img-circle img-md" title="${data[i].sender_name}" alt="">
																			</a>
																	</div>
																	<div class="media-body">
																		<div class="media-content bg-slate" >${data[i].message}</div> 
																		<span class="media-annotation display-block mt-10">${time}</span>
																		<div class="logos_div">${logos} </div>
																	</div>
																	</li>`);
											// $('.chat_box').animate({scrollTop: $('.chat_box').prop("scrollHeight")}, 500);
										} else {
											$('.chat_box').append(`<li class="media">
																<div class="media-left chat-left">
																	<a href="${data[i].profilepic}" >
																		<img src="${data[i].profilepic}" class="img-circle img-md" title="${data[i].sender_name}" alt="">
																	</a>
																</div>
																<div class="media-body">
																	<div class="media-content download_box bg-slate" >
																		<a href="${data[i].media}" download>
																			<img src="/static/assets/images/download.png" width="145" height="125" alt="">
																			<br>
																			${data[i].title}</a>
																	</div> 
																	<span class="media-annotation display-block mt-10">${time} </span>
																	<div class="logos_div">${logos} </div>
																</div>
																</li>`);
										}
										$('.chat_box').animate({ scrollTop: $('.chat_box').prop("scrollHeight") }, 500);
										send_received_msg_count(data[i].chat_obj_id, data[i].sender_id);
									} else {
										logos = get_logos_div(data[i].receiver_logos, 'sender')
										if (data[i].message == '0') {

											$('.chat_box').append(`<li class="media reversed">
												<div class="media-body">
													<div class="media-content download_box bg-slate">
														<a href="${data[i].media}" download>
														<img src="/static/assets/images/download.png" width="145" height="125" alt="">
														<br>${data[i].title} 
														</a>
														<br>
													</div>
													<span class="media-annotation display-block mt-10">${data[i].time}</span>
													<div class="logos_div">${logos} </div>
												</div>
												<div class="media-right">
												<a href="${data[i].profilepic}" \>
												<img src="${data[i].profilepic}" class="img-circle img-md" title="${data[i].sender_name}"alt=""></a></div>
												</li>`);
										}
										$('.chat_box').animate({ scrollTop: $('.chat_box').prop("scrollHeight") }, 500);
									}
								}
								msg_count = latest_count;
							}
						}
					});
				}

			}, 1000);
		})

		// toggle icon list 
		$(document).on('click', '.view_all_logos', function () {

			if ($(this).parent().next(".view_more_logo").hasClass('hidden')) {
				$('.display_list_icon').removeClass('hidden')
				$(".view_more_logo").addClass('hidden')
				$(this).siblings('.display_list_icon').toggleClass('hidden')
				$(this).parent().next(".view_more_logo").toggleClass('hidden')
				//Abhi 9-10-2019
				//dynamic scroll for display logos div.
				var screenTop = parseInt($(this).offset().top - 120);
				var no_user = parseInt($(this).attr('no_user'));
				var calHeight = no_user * 40;
				if (screenTop > 250) {
					$('.chat_box').animate({ scrollTop: $('.chat_box').prop("scrollHeight") }, calHeight);
				}

			} else {
				$(this).siblings('.display_list_icon').removeClass('hidden')
				$(this).parent().next(".view_more_logo").addClass('hidden')
			}
		})

		// to set icons of the recivers.
		function get_logos_div(ids, side) {
			$div = $('<div />')
			if (ids.length <= 3) {
				ids.forEach(element => {
					if (element.logo.length > 1) {
						$img = `<img title="${element.name}" src=${element.logo}>`
					} else {
						$img = `<span class="display_list_icon name_icon1" title="${element.name}">${element.logo}</span>`
					}
					$div.append($img)
				});
			} else {
				$disp_div = $('<div />')
				display_list = ids.slice(0, 3)
				display_list.forEach(element => {
					if (element.logo.length > 1) {
						$img = `<img class="display_list_icon" title="${element.name}" src=${element.logo}>`
					} else {
						$img = `<span class="display_list_icon name_icon1" title="${element.name}">${element.logo}</span>`
					}
					$disp_div.append($img)
				});

				$disp_div.append(`<i class="fas view_all_logos fa-plus-circle" no_user=${display_list.length + 1}></i>`)
				$div.append($disp_div)

				$view_more_div = $(`<div class="view_more_logo ${side} hidden"/>`)
				$ul = $("<ul class='view_more_ul' />")
				ids.forEach(element => {
					if (element.logo.length > 1) {
						$img = `<img  title="${element.name}" src=${element.logo}><label>${element.name}</label>`
					} else {
						$img = `<div><label class="name_icon" title="${element.name}">${element.logo}</label><label class="ven_name">${element.name}</label></div>`
					}
					$ul.append(`<li>${$img}</li>`)
				});
				$view_more_div.append($ul)
				$div.append($view_more_div)
			}
			return $div.html()
		}

		// stop live chat
		$(document).on('click', '.back_to_2', function () {
			clearInterval(intercal);
		})

		//get uniqe id for ajax to request
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		//if click on all check then check automatecally check all vendor
		$('#allcheck').click(function () {
			if ($(this).prop("checked")) {
				$(this).parent('label').css('background-color', '#ddd')
				$(".vendor_names").prop("checked", true);
				$(".vendor_names").parent('label').css('background-color', '#ddd')
				$('[name="vendor_names"]').prop("checked", true);
				$(".superadmin").prop('checked', true);
				var $myInput = $('#message');

				$myInput.val($myInput.val().slice(0, -1));
				$('.img').remove();
				$('.cancel_chat').remove();
				$('[name="vendor_names"]').each(function () {
					let logo_img = $(this).closest('li').find('img').attr('src');
					if ($(this).hasClass('vendor_names')) {
						let vendor_name = $(this).data('vendor-name');
						$('.campaign_chat').prepend(`
							<img class="chat_img ${$(this).val()}_ img" title ="${vendor_name}"
							src='${logo_img}'>						
							<i id="cancel_${$(this).val()}" title="${vendor_name}" class="cancel_chat ${$(this).val()} fa fa-times icon_aligns" aria-hidden="true"></i>`)
					}
					else if ($(this).hasClass('superadmin')) {
						$('.campaign_chat').prepend(`<img title="Superadmin" class="superadmin_ img" src="${$(this).next('img').attr('src')}"><i id="cancel_superadmin" title="Superadmin" class="cancel_chat superadmin fa fa-times" aria-hidden="true"></i>`)
					}
				})
				// <img title="${vendor_name}" class="${$(this).val()}_ img" src="${$(this).next('img').attr('src')}">
			} else {
				$('.img').remove();
				$('.cancel_chat').remove();
				$('#message').val('');
				$(this).parent('label').css('background-color', 'white')
				$(".vendor_names").prop("checked", false);
				$(".vendor_names").parent('label').css('background-color', 'white')
				$('[name="vendor_names"]').prop("checked", false);
				$(".superadmin").prop('checked', false);
			}
		});
		$(document).on('click', '.cancel_chat', function () {
			$('.' + $(this).attr('class').split(' ')[1]).prop('checked', false);
			$('.' + $(this).attr('class').split(' ')[1]).parent('label').css('background-color', 'white')
			$('.' + $(this).attr('class').split(' ')[1] + '_').remove();
			$(this).remove();
			$('#allcheck').prop('checked', false)
			$("#allcheck").parent('label').css('background-color', 'white')
		})
		$(document).on('change', 'input[name="vendor_names"]', function () {
			var $myInput = $('#message');
			if (this.checked) {
				$(this).parent('label').css('background-color', '#ddd')
				if ($(this).hasClass('vendor_names')) {
					let vendor_name = $(this).prop('class').split(' ')[0];
					let logo_img = $(this).closest('li').find('img').attr('src');
					$('.campaign_chat').prepend(`
						<img class="chat_img ${$(this).val()}_ img" title ="${vendor_name}"
							src='${logo_img}'>
						<i id="cancel_${$(this).val()}" title="${vendor_name}" class="cancel_chat ${$(this).val()} fa fa-times icon_aligns" aria-hidden="true"></i>`)
					// vendor = `${$(this).attr('data-vendor-name')}`;
					// $('#message').val($('#message').val() + `${vendor}:`);
					// $('#message').focus();
					// <img title="${vendor_name}" class="${$(this).val()}_ img" src="${$(this).next('img').attr('src')}">
				}
				else {
					$('.campaign_chat').prepend(`<img title="Superadmin" class="superadmin_ img" src="${$(this).next('img').attr('src')}" style="width:5%"><i id="cancel_superadmin" title="Superadmin" class="cancel_chat superadmin fa fa-times" aria-hidden="true"></i>`)
					// superadmin = `${$(this).attr('data-vendor-name')}`;
					// $('#message').val($('#message').val() + `${superadmin}:`);
					// $('#message').focus();
				}
				$myInput.val($myInput.val().slice(0, -1));
				if ($(".vendor_names").length == $(".vendor_names:checked").length) {
					$("#allcheck").prop("checked", true);
					$("#allcheck").parent('label').css('background-color', '#ddd')
				} else {
					$("#allcheck").prop("checked", false);
					$("#allcheck").parent('label').css('background-color', 'white')
				}
			}
			else {
				$(this).parent('label').css('background-color', 'white')
				if ($(this).hasClass('vendor_names')) {
					// let vendor_name = $(this).prop('class').split(' ')[0];
					$('.campaign_chat').find('.' + $(this).val() + '_').remove();
					$('#' + 'cancel_' + $(this).val()).remove();
					$('#allcheck').prop('checked', false)
					$("#allcheck").parent('label').css('background-color', 'white')
				}
				else {
					let superad_name = $(this).prop('class').split(' ')[0];
					$('.campaign_chat').find('.' + superad_name + '_').remove();
					$('#' + 'cancel_' + superad_name).remove();
					$('#allcheck').prop('checked', false)
					$("#allcheck").parent('label').css('background-color', 'white')
				}
			}


		});
	});
	function convertTimeDefault(data) {
		console.log(data['time'], "data")
		var datestring = data['date'] + " " + data['time'] + " UTC";
		var date = new Date(datestring);
		localtime = date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
		return localtime
	}
	//check all keyup charecter and if @ occure then display all vendor list
	$("#message").bind('keyup', function (e) {

		if (e.which !== 0) {
			// if (String.fromCharCode(e.which) == '@') {
			if (e.target.value == '@' || e.target.value.substr(-2) == ' @') {
				$('#vendor_list').show();
				$("#vendor_list").click(function (e) {
					e.stopPropagation();
				});
			}
			else
				$('#vendor_list').hide();
		}
	});
	$('div').click(function (e) {
		$('#vendor_list').hide();
	})
	// close campaign chat- User List on clicking outside of the list...Akshay G...date - 21st Nov, 2019
    $(document).click(function (event) {
        let status_list_clicked = $(event.target).closest('.view_all_logos').length;
        let get_status_clicked = $(event.target).closest('.view_more_logo').length;
        if (status_list_clicked == 0 && get_status_clicked == 0) {
            $('.view_more_logo').addClass('hidden');
            $('.view_all_logos').siblings('.display_list_icon').removeClass('hidden');
        }
    })

</script>