<!-- Main sidebar -->
<div class="sidebar sidebar-main sidebar-default sidebar-fixed">
		<div class="sidebar-content">

				<!-- Main navigation -->
				<div class="sidebar-category sidebar-category-visible">
						<div class="category-content no-padding">
								<ul class="navigation navigation-main navigation-accordion">
										<li>
												<a href="#link" id="Dashboard">
														<span>API links</span>
												</a>
												{% if access %}
												<ul id='link'>
													{% for ace in access %}
														<li><a href="#">{{ace.links}}</a></li>
													{% endfor %}
												</ul>
												{% endif %}
										</li>

										<!-- /page kits -->
								</ul>
						</div>
				</div>
				<!-- /main navigation -->
		</div>
</div>
<style type="text/css">
    .fa-edit {
    font-size: 14px!important;
}
</style>
<!-- /main sidebar -->
