 {% load static %}
<!-- Main sidebar -->
<div class="sidebar sidebar-main sidebar-default sidebar-fixed">
    <div class="sidebar-content">
        <!-- Main navigation -->
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
                {% if request.session.usertype == 1 or request.session.usertype_id == 8  %}
                <ul class="navigation navigation-main navigation-accordion navigation-scroll">
                    <!-- Main -->
                    {% if request.session.onBording == 3 %}
                    {% for main in data %}
                        <!-- Dashboard -->
                        {% if main.name == 'Dashboard'%}
                        <li id="Dashboard">
                            <a href="{{main.url}}" >
                                <i class="fa fa-desktop"></i><span>{{main.name}}</span>
                            </a>
                        </li>
                        {% endif %}

                        <!-- Explore Vendors -->
                        {% if main.name == 'Explore Vendors'%}
                        <li id="explore-vendors">
                            <a href="{{main.url}}" >
                                <i class="fas fa-users"></i><span>{{main.name}}</span>
                            </a>
                            <ul>
                                {% for sub in data %}
                                    {% if main.id == sub.parent %}
                                    <li id="{{sub.name|cut:' '}}">
                                        <a href="{{sub.url}}"><i class="fa fa-sticky-note mg-left"></i>{{sub.name}}</a>
                                    </li>
                                    {% endif %}
                                {% endfor %}

                                <!-- <li>
                                    <a href="/client/vendors_comparison">Comparison</a>
                                </li> -->
                            </ul>
                        </li>
                        {% endif %}
                        <!-- Campaign -->
                        
                        <!-- RFQ Campaign -->
                        {% if main.name == 'RFQ Campaigns' %}
                        <li id="RFQ">
                            <a href="" id="#">
                                <i class="fas fa-search-dollar"></i><span>{{main.name}}</span>
                            </a>
                            <ul>
                                {% for sub in data %}
                                    {% if main.id == sub.parent %}
                                    <li id='{{sub.name|cut:" "}}'>
                                        <a href="{{sub.url}}"><i class="fa fa-sticky-note mg-left"></i>{{sub.name}}</a>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}

                        <!-- Campaign -->
                        {% if main.name == 'Campaign' %}
                        <li id="campaign">
                            <a href="#">
                                <i class="fa fa-laptop"></i><span>Campaign</span>
                            </a>
                            <ul>
                                {% for sub in data %}
                                    {% if main.id == sub.parent %}
                                    <li id='{{sub.name|cut:" "}}'>
                                        <a href="{{sub.url}}"><i class="fa fa-sticky-note mg-left"></i>{{sub.name}}</a>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}

                        <!-- Reason List -->
                        {% if main.name == 'Reason List' %}
                        <li id="reason_list">
                            <a href="">
                                <i class="fas fa-list"></i><span>Reason List</span>
                            </a>
                            <ul>
                                {% for sub in data %}
                                    {% if main.id == sub.parent %}
                                    <li id="{{sub.name|cut:' '}}">
                                        <a href="{{sub.url}}"><i class="fa fa-sticky-note mg-left"></i>{{sub.name}}</a>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}

                        <!-- Account -->
                        <!-- {% if main.name == 'Account' %}
                        <li id="Account">
                            <a href="{{main.url}}" id="Account">
                                <i class="fa fa-edit"></i><span>{{main.name}}</span>
                            </a>
                        </li>
                        {% endif %} -->

                        <!-- user access -->
                        {% if main.name == 'Access Control' %}
                        <li id="AccessControl">
                            <a href="">
                                <i class="fas fa-user-cog"></i><span>Access Control</span>
                            </a>
                            <ul>
                                {% for sub in data %}
                                    {% if main.id == sub.parent %}
                                    <li id='{{sub.name|cut:" "}}'>
                                        <a href="{{sub.url}}"><i class="fa fa-sticky-note mg-left"></i>{{sub.name}}</a>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}

                        
                        <!-- LEad Reports access -->
                        {% if main.name == 'Reports' %}
                        <li id="Reports">
                            <a href="">
                                <i class="fa fa-file-text" aria-hidden="true"></i><span>Reports</span>
                            </a>
                            <ul>
                                {% for sub in data %}
                                    {% if main.id == sub.parent %}
                                    <li id='{{sub.name|cut:" "}}'>
                                        <a href="{{sub.url}}"><i class="fa fa-sticky-note mg-left"></i>{{sub.name}}</a>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}

                        <!-- Support -->
                        {% if main.name == 'Support' %}
                        <li id="support">
                            <a href="">
                              <i class="fa fa-bullhorn"></i><span>Support</span>
                            </a>
                            <ul>
                                {% for sub in data %}
                                    {% if main.id == sub.parent %}
                                    <li id='{{sub.name|cut:" "}}'>
                                        <a href="{{sub.url}}"><i class="fa fa-sticky-note mg-left"></i>{{sub.name}}</a>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}

                        <!-- Billing and Invoice -->
                        {% if main.name == 'Billing and Invoice' %}
                        <li>
                            <a href="">
                                <i class="fa fa-clone"></i><span>Billing and Invoice</span>
                            </a>
                            <ul>
                                {% for sub in data %}
                                    {% if main.id == sub.parent %}
                                    <li id='{{sub.name|cut:" "}}'>
                                        <a href="{{sub.url}}"><i class="fa fa-sticky-note mg-left"></i>{{sub.name}}</a>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                        <!-- Settings -->
                        {% if main.name == 'Settings' %}
                        <li id="Settings">
                            <a href="">
                                <i class="fa fa-cog cog-color"></i><span>Settings</span>
                            </a>
                            <ul>
                                {% for sub in data %}
                                    {% if main.id == sub.parent %}
                                    <li id='{{sub.name|cut:" "}}'>
                                        <a href="{{sub.url}}"><i class="fa fa-sticky-note mg-left"></i>{{sub.name}}</a>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                        <!-- User Access -->
                        <!-- {% if main.name == 'User Access' %}
                        <li id="user_access">
                            <a href="{{main.url}}" >
                                <i class="fa fa-eye eye-color"></i><span>{{main.name}}</span>
                            </a>
                        </li>
                        {% endif %}
                        {% if main.name == 'Manage Users' %}
                        <li id="{{main.name|cut:' '}}">
                          <a href="{{main.url}}" >
                              <i class="fa fa-user"></i><span>{{main.name}}</span>
                          </a>
                        </li>
                        {% endif %} -->

                    {% endfor %}
                    <!-- <li>
                        <a href="{% url 'client_noti' %}">
                            <i class="glyphicon glyphicon-list-alt "></i><span>Notifications Settings</span>
                        </a>
                    </li> -->

                    <!-- <li>
                        <a href="">
                            <i class="fa fa-clone"></i><span>Billing and Invoice</span>
                        </a>
                        <ul>
                            <li>
                                <a href="/client/client_invoice/"><i class="fa fa-sticky-note mg-left"></i> </a>
                            </li>
                        </ul>

                    </li> -->
                    <!-- <li id="explore_vendors">
                        <a href="">
                            <span>Explore Vendors</span>
                        </a>
                        <ul>
                            <li id="TC_Vendors">
                                <a href="/client/TC-vendor-list/">TC Vendors</a>
                            </li>

                            <li id="Existing_Vendors">
                                <a href="/client/existing-vendor-list/">Existing Vendors</a>
                            </li>

                            <li id="Vendor_list">
                                <a href="/client/vendor-list/">Add Vendors</a>
                            </li>
                            <li>
                                <a href="#">Compare Vendors</a>
                            </li>
                        </ul>

                    </li> -->

                    <!-- <li id="campaign">
                            <a href="">
                                <span>Campaign</span>
                            </a>
                            <ul>
                            <li>
                                <a href="/client/campaign_type/">Create Campaign</a>
                            </li>

                            <li id="campaign-draft">
                                <a href="/client/draft-campaign/">Draft Campaign</a>
                            </li>

                            <li id="campaign-pending">
                                <a href="/client/pending-campaign/">Pending Campaign</a>
                            </li>
                            <li id="campaign-assigned">
                                <a href="/client/assigned-campaign/">Assigned Campaign</a>
                            </li>

                            <li id="campaign-live">
                                <a href="/client/live-campaign/">Live Campaign</a>
                            </li>
                            <li id="campaign-pause">
                                <a href="/client/pause-campaign/">Pause Campaign</a>
                            </li>
                            <li id="campaign-completed">
                                <a href="/client/completed-campaign/">Complete Campaign</a>
                            </li>
                            <li>
                                <a href="/client/campaign-notebook/">All Campaign</a>
                            </li>
                            <li>
                                <a href="/client/client-activity/">
                                    <span>Activity</span>
                                </a>
                            </li>
                            <li>
                                <a href="/client/vendor-comparison/">
                                    <span>Vendor Comparison</span>
                                </a>
                            </li>

                        </ul>

                    </li> -->


                    <!-- <li id="reason_list">
                        <a href="">
                            <span>Reason List</span>
                        </a>
                        <ul>
                            <li id="rejected_reason">
                                <a href="/client/Rejected-Reason-List/">Rejected Reason List</a>
                            </li>
                            <li id=" ">
                                <a href="/client/Rectify-Reason-List/">Rectify Reason List</a>
                            </li>
                        </ul>

                    </li>
                    <li>
                        <a href="/client/account/">
                            <span>Account</span>
                        </a>
                    </li>
                    <li id="support">
                        <a href="">
                            <span>Support</span>
                        </a>
                        <ul>
                            <li id="raise-ticket">
                                <a href="/client/raise-ticket/">Raise a Ticket</a>
                            </li>
                            <li id="contact-us">
                                <a href="/client/contact-us/">
                                    <span>Contact Us</span>
                                </a>
                            </li>
                            <li id="faq">
                                <a href="/client/faq/">FAQ</a>
                            </li>
                            <li id="terms">
                                <a href="/client/terms/">
                                    <span>T&C</span>
                                </a>
                            </li>
                            {%endif%}
                        </ul>

                    </li>
                    <li>
                        <a href="/client/client_user_access/">
                            <span>User Access</span>
                        </a>
                    </li>-->
                    <!-- /page kits -->
                </ul>
                {% else %}

                <ul class="navigation navigation-main navigation-accordion">
                    <!-- Main -->
                        {% for main in data %}
                           <!-- Explore Vendors -->
                           {% if main.name == 'Explore Vendors'%}
                           <li id="explore-vendors">
                               <a href="{{main.url}}" >
                                     <i class="fa fa-users"></i><span>{{main.name}}</span>
                               </a>
                               <ul>
                                       {% for sub in data %}
                                           {% if main.id == sub.parent %}
                                           <li >
                                               <a href="{{sub.url}}"><i class="fa fa-sticky-note"></i>{{sub.name}}</a>
                                           </li>
                                           {% endif %}
                                       {% endfor %}

                                   <!-- <li>
                                       <a href="/client/vendors_comparison">Comparison</a>
                                   </li> -->
                               </ul>
                           </li>
                           {% endif %}

                           <!-- RFQ Campaign -->
                            {% if main.name == 'RFQ Campaigns' %}
                            <li id="RFQ">
                                <a href="" id="#">
                                    <i class="fas fa-search-dollar"></i><span>{{main.name}}</span>
                                </a>
                                <ul>
                                    {% for sub in data %}
                                        {% if main.id == sub.parent %}
                                        <li id='{{sub.name|cut:" "}}'>
                                            <a href="{{sub.url}}"><i class="fa fa-sticky-note mg-left"></i>{{sub.name}}</a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endif %}

                           <!-- Campaign -->
                           {% if main.name == 'Campaign' %}
                           <li id="campaign">
                               <a href="#">
                                   <i class="fa fa-laptop"></i><span>Campaign</span>
                               </a>
                               <ul>
                                   {% for sub in data %}
                                       {% if main.id == sub.parent %}
                                       <li >
                                           <a href="{{sub.url}}"><i class="fa fa-sticky-note mg-left"></i>{{sub.name}}</a>
                                       </li>
                                       {% endif %}
                                   {% endfor %}
                               </ul>
                           </li>
                           {% endif %}

                           <!-- Reason List -->
                           {% if main.name == 'Reason List' %}
                           <li id="reason_list">
                               <a href="">
                                   <i class="fas fa-list"></i><span>Reason List</span>
                               </a>
                               <ul>
                                   {% for sub in data %}
                                       {% if main.id == sub.parent %}
                                       <li >
                                           <a href="{{sub.url}}"><i class="fa fa-sticky-note mg-left"></i>{{sub.name}}</a>
                                       </li>
                                       {% endif %}
                                   {% endfor %}
                               </ul>
                           </li>
                           {% endif %}

                           <!-- Account -->
                           {% if main.name == 'Account' %}
                           <li id="">
                               <a href="{{main.url}}" id="Account">
                                   <i class="fa fa-edit"></i><span>{{main.name}}</span>
                               </a>
                           </li>
                           {% endif %}

                           <!-- Support -->
                           {% if main.name == 'Support' %}
                           <li id="support">
                               <a href="">
                                   <i class="fa fa-bullhorn"></i><span>Support</span>
                               </a>
                               <ul>
                                   {% for sub in data %}
                                       {% if main.id == sub.parent %}
                                       <li >
                                           <a href="{{sub.url}}"><i class="fa fa-sticky-note"></i>{{sub.name}}</a>
                                       </li>
                                       {% endif %}
                                   {% endfor %}
                               </ul>
                           </li>
                           {% endif %}

                           <!-- User Access -->
                           <!-- {% if main.name == 'User Access' %}
                           <li id="user_access">
                               <a href="{{main.url}}" >
                                   <i class="fa fa-eye eye-color"></i><span>{{main.name}}</span>
                               </a>
                           </li>
                           {% endif %}
                           {% if main.name == 'Manage Users' %}
                           <li>
                             <a href="{{main.url}}" >
                                 <i class="fa fa-user"></i><span>{{main.name}}</span>
                             </a>
                           </li>
                           {% endif %} -->

                           {% if main.name == 'Access Control' %}
                           <li id="support">
                               <a href="">
                                       <i class="fas fa-user-cog"></i><span>Access Control</span>
                               </a>
                               <ul>
                                   {% for sub in data %}
                                       {% if main.id == sub.parent %}
                                       <li id='{{sub.name|cut:" "}}'>
                                           <a href="{{sub.url}}"><i class="fa fa-sticky-note mg-left"></i>{{sub.name}}</a>
                                       </li>
                                       {% endif %}
                                   {% endfor %}
                               </ul>
                           </li>
                           {% endif %}
                           {% if main.name == 'Notifications & Alerts'%}
                           <li id="Notifications">
                               <a href="{{main.url}}" >
                                   <i class="glyphicon glyphicon-list-alt "></i><span>{{main.name}}</span>
                               </a>
                           </li>
                           {% endif %}
                        {% endfor %}

                        <!-- <li>
                            <a href="">
                                <span>Campaign</span>
                            </a>
                            <ul>
                              <li><a href="/vendor-portal/pending-campaign/">Pending</a></li>
                              <li><a href="/vendor-portal/assigned-campaign/">Assigned</a></li>
                              <li><a href="/vendor/live-campaign/">Live</a></li>
                              <li><a href="/vendor-portal/paused-campaign/">Paused</a></li>
                              <li><a href="/vendor-portal/completed-campaign/">Completed</a></li>
                            </ul>
                        </li> -->
                    <!-- <li>
                        <a href="">
                            <span>Campaign</span>
                        </a>
                        <ul>
                          <li><a href="/vendor-portal/pending-campaign/">Pending</a></li>
                          <li><a href="/vendor-portal/assigned-campaign/">Assigned</a></li>
                          <li><a href="/vendor/live-campaign/">Live</a></li>
                          <li><a href="/vendor-portal/paused-campaign/">Paused</a></li>
                          <li><a href="/vendor-portal/completed-campaign/">Completed</a></li>
                        </ul>
                    </li> -->
                    <!-- <li style="display:none">
                        <ul>
                            <li>
                                <a href="/vendor-portal/campaign-reports/">Campaign Reports</a>
                            </li>
                            <li>
                                <a href="">Lead Reports</a>
                            </li>
                            <li>
                                <a href="/vendor-portal/schedule-reports/">
                                    <span>Schedule Reports</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span>Vendor Reports</span>
                                </a>
                            </li>
                        </ul>
                    </li> -->
                    <!-- <li>
                        <a href="/vendor-portal/account/">
                            <span>Account</span>
                        </a>
                    </li> -->
                    <!-- <li style="display:none">
                        <ul>
                            <li>
                                <a href="/vendor-portal/raise-ticket/">Raise a Ticket</a>
                            </li>
                            <li>
                                <a href="/vendor-portal/contact-us/">
                                    <span>Contact Us</span>
                                </a>
                            </li>
                            <li>
                                <a href="/vendor-portal/faq/">FAQ</a>
                            </li>
                            <li>
                                <a href="/vendor-portal/terms/">
                                    <span>T&C</span>
                                </a>
                            </li>
                        </ul>
                    </li> -->
                    <!-- /page kits -->
                </ul>
                {% endif %}
            </div>
        </div>
        <!-- /main navigation -->
    </div>
</div>
<style type="text/css">
    .fa-edit {
    font-size: 14px!important;
    }
    .fa-file-text{
        color: #3ca790;
    }
    .cog-color{
        color: #ff5d22b5;
    }
    .fa-bullhorn {
        color: #ab7d0f;
    }
    .fa-laptop {
        color: #e656d9;
        font-size: 14px!important;
    }
    
    @media only screen and (max-height: 700px){
        .navigation-scroll {
            max-height: 90vh!important;
            overflow: auto;
        }
    }
    /* width */
    ::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #fff;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #fff;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
</style>
<!-- /main sidebar -->