{% load static %}
 <!-- Main sidebar -->
<div class="sidebar sidebar-main sidebar-default sidebar-fixed">
<div class="sidebar-content">


    <!-- Main navigation -->
    <div class="sidebar-category sidebar-category-visible">
        <div class="category-content no-padding">
            <ul class="navigation navigation-main navigation-accordion">

                <!-- Main -->
                    {% for main in data %}
                        <!-- Dashboard -->
                        {% if main.name == 'Dashboard' %}
                        <li>
                            <a href="{{main.url}}" id="Dashboard">
                                <i class="fa fa-desktop"></i><span>{{main.name}}</span>
                            </a>
                        </li>
                        {% endif %}

                        <!-- RFQ Campaign -->
                        {% if main.name == 'RFQ Campaigns' %}
                        <li id="RFQ">
                            <a href="" id="#">
                                <i class="fas fa-search-dollar"></i><span>{{main.name}}</span>
                            </a>
                            <ul>
                                {% for sub in data %}
                                    {% if main.id == sub.parent %}
                                    <li id='{{sub.name|cut:" "}}'>
                                        <a href="{{sub.url}}"><i class="fa fa-sticky-note mg-left"></i>{{sub.name}}</a>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                            
                        <!-- Campaign -->
                        {% if main.name == 'Campaign' %}
                        <li id="campaign">
                            <a href="">
                                  <i class="fa fa-laptop"></i><span>Campaign</span>
                            </a>
                            <ul>
                                {% for sub in data %}
                                {% if main.id == sub.parent %}
                                <li>
                                    <a href="{{sub.url}}"><i class="fa fa-sticky-note"></i>{{sub.name}}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}

                        <!-- Account -->
                        {% if main.name == 'Account' %}
                        <li>
                            <a href="{{main.url}}" id="Account">
                                <i class="fa fa-edit"></i><span>{{main.name}}</span>
                            </a>
                        </li>
                        {% endif %}

                        <!-- NOtification and alerts -->
                        {% if main.name == 'Notifications And Alerts'%}
                        <li>
                            <a href="{{main.url}}">
                                <i class="glyphicon glyphicon-list-alt"></i><span>{{main.name}}</span>
                            </a>
                        </li>
                        {% endif %}
                    {% endfor %}

                    <!-- <li>
                        <a href="">
                            <span>Campaign</span>
                        </a>
                        <ul>
                          <li><a href="/vendor-portal/pending-campaign/">Pending</a></li>
                          <li><a href="/vendor-portal/assigned-campaign/">Assigned</a></li>
                          <li><a href="/vendor/live-campaign/">Live</a></li>
                          <li><a href="/vendor-portal/paused-campaign/">Paused</a></li>
                          <li><a href="/vendor-portal/completed-campaign/">Completed</a></li>


                        </ul>

                    </li> -->

                <!-- <li>
                    <a href="">
                        <span>Campaign</span>
                    </a>
                    <ul>
                      <li><a href="/vendor-portal/pending-campaign/">Pending</a></li>
                      <li><a href="/vendor-portal/assigned-campaign/">Assigned</a></li>
                      <li><a href="/vendor/live-campaign/">Live</a></li>
                      <li><a href="/vendor-portal/paused-campaign/">Paused</a></li>
                      <li><a href="/vendor-portal/completed-campaign/">Completed</a></li>


                    </ul>

                </li> -->

                <!-- <li style="display:none">

                    <ul>
                        <li>
                            <a href="/vendor-portal/campaign-reports/">Campaign Reports</a>
                        </li>
                        <li>
                            <a href="">Lead Reports</a>
                        </li>
                        <li>
                            <a href="/vendor-portal/schedule-reports/">
                                <span>Schedule Reports</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span>Vendor Reports</span>
                            </a>
                        </li>

                    </ul>

                </li> -->
                <!-- <li>
                    <a href="/vendor-portal/account/">
                        <span>Account</span>
                    </a>
                </li> -->
                <!-- <li style="display:none">

                    <ul>
                        <li>
                            <a href="/vendor-portal/raise-ticket/">Raise a Ticket</a>
                        </li>
                        <li>
                            <a href="/vendor-portal/contact-us/">
                                <span>Contact Us</span>
                            </a>
                        </li>
                        <li>
                            <a href="/vendor-portal/faq/">FAQ</a>
                        </li>
                        <li>
                            <a href="/vendor-portal/terms/">
                                <span>T&C</span>
                            </a>
                        </li>


                    </ul>

                </li> -->





                <!-- /page kits -->
            </ul>
        </div>
    </div>
    <!-- /main navigation -->
</div>
</div>
<style type="text/css">
    .fa-edit {
        font-size: 14px!important;
    }
    .fa-laptop {
        color: #e656d9;
        font-size: 14px!important;
    }
</style>
<!-- /main sidebar -->
