{% load static %}
<div class="sidebar sidebar-main sidebar-default">
    <div class="sidebar-content">

        <!-- User menu -->
        <div class="sidebar-user-material">
            <div class="category-content">
                <div class="sidebar-user-material-content">
                    <a href="#"><img src="{% static 'assets/images/placeholder.jpg' %}" class="img-circle img-responsive"
                            alt=""></a>
                    <h6>{{request.session.username}}</h6>

                </div>

                <div class="sidebar-user-material-menu">
                    <a href="#user-nav" data-toggle="collapse"><span>My Account</span> <i class="caret"></i></a>
                </div>
            </div>

            <div class="navigation-wrapper collapse" id="user-nav">
                <ul class="navigation">
                    <li style="display: none;"><a href="#"><i class="icon-user-plus"></i> <span>My profile</span></a></li>
                    <li style="display: none;"><a href="#"><i class="icon-coins"></i> <span>My balance</span></a></li>
                    <li style="display: none;"><a href="#"><i class="icon-comment-discussion"></i> <span><span class="badge bg-teal-400 pull-right">58</span>
                                Messages</span></a></li>
                    <li class="divider"></li>
                    <li style="display: none;"><a href="#"><i class="icon-cog5"></i> <span>Account settings</span></a></li>
                    <li><a href="/logout/"><i class="icon-switch2"></i> <span>Logout</span></a></li>
                </ul>
            </div>
        </div>
        <!-- /user menu -->

        <!-- Main navigation -->
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">

                    <!-- Main -->
                    <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
                    <li class=""><a href="/superadmin/dashboard/"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
                    <li id="superadmin_users" class=''>
                        <a href="#" class="has-ul legitRipple"><i class="icon-user"></i> <span>Users</span></a>
                        <ul>
                            <li class=""><a href="/superadmin/client-list/"><i class="icon-user"></i> <span>Client</span></a></li>
                            <li class=""><a href="/superadmin/vendor-list/"><i class="glyphicon glyphicon-lock"></i> <span>Vendor</span></a></li>
                            <!-- <li class=""><a href="/superadmin/external-users-list/"><i class="icon-user"></i> <span>External Users</span></a></li>
                            <li class=""><a href="/superadmin/external-vendors-list/"><i class="glyphicon glyphicon-lock"></i> <span>External Vendors</span></a></li> -->
                        </ul>
                    </li>
                    <li id="rfq-campaign"><a href="/superadmin/rfq_campaigns/"><i class="icon-megaphone"></i>RFQ Campaign</a></li>
                    <li id="superadmin_campaign" class="">
                        <a href="#"><i class="icon-megaphone"></i> <span>Campaign</span></a>
                        <ul>
                            <li id="pending-campaign">
                                <a href="/superadmin/pending-campaign/">Pending Campaign</a></li>
                            <li id="assigned-campaign">
                                <a href="/superadmin/assigned-campaign/">Assigned Campaign</a></li>
                            <li id="live-campaign">
                                <a href="/superadmin/live-campaign/">Live Campaign</a></li>
                            <li id="paused-campaign">
                                <a href="/superadmin/paused-campaign/">Paused Campaign</a></li>
                            <li id="completed-campaign">
                                <a href="/superadmin/completed-campaign/">Completed Campaign</a></li>
                            <!-- <li><a href="/superadmin/campaign-notebook-admin/">Campaign Notebook</a></li> -->
                        </ul>
                    </li>
                    <!-- <li class=""><a href="/superadmin/Relation/"><i class="icon-user"></i> <span>Relation</span></a></li> -->
                    <li><a href="/superadmin/lead-rejected-list/"><i class="icon-users4"></i>Lead Reject Reason</a></li>
                    <li><a href="/superadmin/lead-rectify-list/"><i class="icon-users4"></i>Lead Rectify Reason</a></li>
                    <li class=""><a href="/superadmin/tech/"><i class="icon-users4"></i> <span>Tech</span></a></li>
                    <!-- <li class=""><a href="/superadmin/partner-list/"><i class="icon-users4"></i> <span>Sales Contact</span></a></li> -->
                    <li id="superadmin_reports" class="">
                        <a href="#" class="has-ul legitRipple"><i class="icon-ticket"></i> <span>Reports</span></a>
                        <ul class="hidden-ul" style="display: none;">
                            <li id=""><a href="/superadmin/clientreports/" class="legitRipple">Client</a></li>
                            <li id=""><a href="/superadmin/vendorreports/" class="legitRipple">Vendor</a></li>
                            <li id=""><a href="/superadmin/campaignreports/" class="legitRipple">Campaigns</a></li>
                            <!-- <li id=""><a href="#" class="legitRipple">Tech</a></li> -->
                        </ul>
                    </li>
                    <li class=""><a href="/superadmin/user_access/"><i class="icon-users4"></i> <span>User Access</span></a></li>
                      <li>
                          <a href="/superadmin/superadmin_notifications/">
                              <i class="glyphicon glyphicon-list-alt"></i><span>Notifications Settings</span>
                          </a>
                      </li>
                </ul>
            </div>
        </div>
        <!-- /main navigation -->

    </div>
</div>
<style type="text/css">
    .fa-edit {
    font-size: 14px!important;
}
</style>
