<!-- Main sidebar -->
<div class="sidebar sidebar-main sidebar-default sidebar-fixed">
    <div class="sidebar-content">
        <!-- Main navigation -->
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">
                    <!-- Main -->
                    
                    {% for main in data %}
                    <!-- Dashboard -->
                    {% if main.name == 'Dashboard'%}
                    <li>
                        <a href="{{main.url}}">
                            <i class="fa fa-desktop"></i><span>{{main.name}}</span>
                        </a>
                    </li>
                    {% endif %}

                    <!-- RFQ Campaign -->
                    {% if main.name == 'RFQ Campaign' %}
                    <li id="RFQ">
                        <a href="" id="#">
                            <i class="fas fa-search-dollar"></i><span>{{main.name}}</span>
                        </a>
                        <ul>
                            {% for sub in data %}
                                {% if main.id == sub.parent %}
                                <li id='{{sub.name|cut:" "}}'>
                                    <a href="{{sub.url}}"><i class="fa fa-sticky-note mg-left"></i>{{sub.name}}</a>
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    <!-- Campaign -->
                    {% if main.name == 'Campaign' %}
                    <li id="campaign">
                        <a href="">
                            <i class="fa fa-laptop"></i><span>Campaign</span>
                        </a>
                        <ul>
                            {% for sub in data %}
                            {% if main.id == sub.parent %}
                            <li id='{{sub.name}}'>
                                <a href="{{sub.url}}"><i class="fa fa-sticky-note mg-left"></i>{{sub.name}}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}

                    <!-- Reports -->
                    {% if main.name == 'Reports' %}
                    <li id="Reports">
                        <a href="">
                            <i class="glyphicon glyphicon-stats fabar"></i><span>Reports</span>
                        </a>
                        <ul>
                            {% for sub in data %}
                            {% if main.id == sub.parent %}
                            <li>
                                <a href="{% if sub.url %} {{sub.url}} {% else %}#{% endif %}"><i
                                        class="fa fa-sticky-note mg-left"></i>{{sub.name}}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}

                    <!-- Account -->
                    {% if main.name == 'Account' %}
                    <li id="Account">
                        <a href="">
                            <i class="fa fa-edit"></i><span>Account</span>
                        </a>
                        <ul>
                            {% for sub in data %}
                            {% if main.id == sub.parent %}
                            <li>
                                <a href="{% if sub.url %} {{sub.url}} {% else %}#{% endif %}"><i
                                        class="fa fa-sticky-note mg-left"></i>{{sub.name}}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}

                    <!-- Help -->
                    {% if main.name == 'Help' %}
                    <li id="Help">
                        <a href="">
                            <i class="glyphicon glyphicon-alert fabell"></i><span>Help</span>
                        </a>
                        <ul>
                            {% for sub in data %}
                            {% if main.id == sub.parent %}
                            <li>
                                <a href="{{sub.url}}"><i class="fa fa-sticky-note mg-left"></i>{{sub.name}}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    {% if main.name == 'Notifications And Alerts'%}
                    <li>
                        <a href="{{main.url}}">
                            <i class="glyphicon glyphicon-list-alt"></i><span class="notis">{{main.name}}</span>
                        </a>
                    </li>
                    {% endif %}
                    {% endfor %}

                    <li>
                        <!-- <a href="{% url 'vendor_noti'%}">
                            <i class="glyphicon glyphicon-list-alt"></i><span>Notifications Settings</span>
                        </a> -->
                    </li>
                </ul>
            </div>
        </div>
        <!-- /main navigation -->
    </div>
</div>
<style type="text/css">
    .fa-edit {
    font-size: 14px!important;
}
</style>
