.form_div:focus{
    color: red;
}

.question_div {
    min-height: 90vh!important;
}

.survey_form{
    padding: 20px;
}
.que_no{
    width: 6%;
    padding: 7px 0px 7px 7px;
}
.form_content{
    padding: 7px 7px 7px 0px;
}
.form_content:focus{
    outline: none!important;
}
.form_div{
    /* background-color: #c1b3b3;  */
    margin: 5px;
    padding: 5px;
}
.form_div.editing{
    box-shadow: 0 0 6px rgba(0, 0, 0, 1);
}
.panel-body {
    padding: 0px;
}
ul{
    list-style: none;
    padding-left: 0px;
}
.add-option, .close{
    z-index: 1;
    /* margin: 4px;*/
}
.remove{
    top: 7px;
    color: #f44336;
}
.remove:hover{
    top: 7px;
    color: #f44336;
}
.add-option{
    position: absolute;
    /* top: 4px; */
    right: -46px;
}
.delete-option{
    position: absolute;
    /* top: 4px; */
    right: -80px;
    color: #ff5722;
}
.delete-option:hover{
    color: #ff5722;
}
.save-dropdown{
    position: absolute;
    /* top: 4px; */
    right: -64px;
}
.question_block{
    /* margin-top: -11px; */
    box-shadow: none;
    margin-bottom: 0px!important;
}
.question_text{
    text-align: justify;
}
.editable{
    padding: 1px 10px 1px 10px;
    /* outline: 1px solid #2196f3c7!important; */
}
.editable:hover{
    /* border: 1px solid #2196f3c7; */
    outline: 1px solid #2196f3c7!important;
}

.controls{
    /* position: absolute;
    right: 26px;
    top: 50%; */
}

.qualified{
    background: #aae0aa;
}
.custom_ques_set{
    padding: 16px;
    position: sticky;
    top: 7%;
}
.question_choices{
    box-shadow: 0 0 6px rgba(0, 0, 0, 1);
}

input[name="unstyled-checkbox-left"]{
    margin-left: 0;
    left: -6px!important;
}
input[name="unstyled-radio-left"]{
    margin-left: 0;
    left: -6px!important;
}
@media only screen and (max-width: 1366px) and (min-height: 500px) {
    .add-option{
        right: -21px!important;
    }
    .delete-option{
        right: -50px!important;
    }
    .remove{
        top: 6px;
        font-size: 18px!important;
    }
    .remove:hover{
        top: 6px;
        font-size: 18px!important;
    }
}
@media only screen and (max-width: 1620px) and (min-width: 1600px){
    .delete-option{
        right: -71px!important;
    }
}
@media only screen and (max-width: 1920px) and (min-height: 1080px) {
    .remove{
        font-size: 18px!important;
    }
    .remove:hover{
        font-size: 18px!important;
    }
}
@media only screen and (min-width: 1920px) and (max-width: 2499px) {
    .remove{
        font-size: 18px!important;
    }
    .remove:hover{
        font-size: 18px!important;
    }
}
@media only screen and (max-width: 1440px) and (min-height: 791px) {
    
}