{% extends "header/header.html" %}
{% block scripts %}
{% include "campaign/campaign_notebook_head.html" %}
{% endblock %}
{% load static %}
{% block content %}
<!-- Main sidebar -->
<div class="content-wrapper" >
        <!-- Content area -->
        <div class="content" style="background-color: #f7f9fb;">
            <!-- tech connector data-->
            <div style="text-align: center;">
                <img class="center" style="height:87vh" src="{% static 'icons/500.gif' %}">
            </div>

        </div>
</div>


{% endblock %}
