{% extends "header/cheader.html" %}
{% block scripts %}
{% include "campaign/campaign_notebook_head.html" %}
{% endblock %}
{% load static %}
{% block content %}
<!-- Main sidebar -->
<div class="content-wrapper" >
        <!-- Content area -->
        <div class="content" >
            <!-- tech connector data-->

                <link type="text/css" rel="stylesheet" href="{% static 'assets/css/per_style.css' %}" />

                	<div id="notfound" class="panel">
                		<div class="notfound">
                			<div class="notfound-404">
                				<h1 style="">Error!</h1><br>
                			</div>
                			<h2>Page Not Found!</h2>
                			<p></p>

                		</div>
                	</div>

        </div>
</div>


{% endblock %}
