{% extends "header/vendor_header.html" %}
{% block scripts %}
{% include "campaign/campaign_notebook_head.html" %}
{% endblock %}
{% load static %}
{% block content %}
<!-- Main sidebar -->
<div class="content-wrapper" >
        <!-- Content area -->
        <div class="content" >
            <!-- tech connector data-->

                <link type="text/css" rel="stylesheet" href="{% static 'assets/css/per_style.css' %}" />

                	<div id="notfound" class="panel">
                		<div class="notfound">
                			<div class="notfound-404">
                				<h1 style="">Oops!</h1><br>
                			</div>
                			<h2>Permission Denied</h2>
                			<p>Sorry, You don't have permissions to access this page. Please contact to admin.</p>
                      
                      {% if request.session.usertype == 2 %}
                          {% for main in data %}
                              {% if main.name == 'Dashboard'%}
                                  <a href="{{main.url}}" id="Dashboard">
                                      <span>{{main.name}}</span>
                                  </a>
                              {% endif %}
                          {% endfor %}
                      {% endif %}
                		</div>
                	</div>

        </div>
</div>


{% endblock %}
