{% load static%}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trigensoft Form builder</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="{% static 'common/css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'common/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'common/css/core.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'common/css/components.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'common/css/colors.css' %}" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script type="text/javascript" src="{% static 'common/js/plugins/loaders/pace.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'common/js/core/libraries/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'common/js/core/libraries/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'common/js/plugins/loaders/blockui.min.js' %}"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="{% static 'common/js/core/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'common/js/plugins/ui/ripple.min.js' %}"></script>

    <!-- page level -->
    <script src="{% static 'form_builder/plugins/web-animations/web-animations.min.js' %}"  type="text/javascript"></script>
    <script src="{% static 'form_builder/plugins/gestures/hammer.min.js' %}"  type="text/javascript"></script>
    <script src="{% static 'form_builder/plugins/drag-drop-sort-item/muuri.min.js' %}"  type="text/javascript"></script>

    <link href="{% static 'form_builder/css/example.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'form_builder/js/example.js' %}"  type="text/javascript"></script>

    <!-- /theme JS files -->

</head>

<body class=" pace-done">
    <!-- Page container -->
    <div class="page-container" style="min-height:612px">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Content area -->
                <div class="content">

                    <div class="draggable_container">
                        <div class="grid grid-1">
                            <div class="item">
                                <div class="item-content">1</div>
                            </div>
                            <div class="item">
                                <div class="item-content">2</div>
                            </div>
                            <div class="item">
                                <div class="item-content">3</div>
                            </div>
                            <div class="item">
                                <div class="item-content">4</div>
                            </div>
                            <div class="item">
                                <div class="item-content">5</div>
                            </div>
                            <div class="item">
                                <div class="item-content">6</div>
                            </div>
                            <div class="item">
                                <div class="item-content">7</div>
                            </div>
                            <div class="item">
                                <div class="item-content">8</div>
                            </div>
                            <div class="item">
                                <div class="item-content">9</div>
                            </div>
                            <div class="item">
                                <div class="item-content">10</div>
                            </div>
                            <div class="item">
                                <div class="item-content">11</div>
                            </div>
                            <div class="item">
                                <div class="item-content">12</div>
                            </div>
                            <div class="item">
                                <div class="item-content">13</div>
                            </div>
                            <div class="item">
                                <div class="item-content">14</div>
                            </div>
                        </div>

                        <div class="grid grid-2">
                            <div class="item">
                                <div class="item-content">1</div>
                            </div>
                            <div class="item">
                                <div class="item-content">2</div>
                            </div>
                            <div class="item">
                                <div class="item-content">3</div>
                            </div>
                            <div class="item">
                                <div class="item-content">4</div>
                            </div>
                            <div class="item">
                                <div class="item-content">5</div>
                            </div>
                            <div class="item">
                                <div class="item-content">6</div>
                            </div>
                            <div class="item">
                                <div class="item-content">7</div>
                            </div>
                            <div class="item">
                                <div class="item-content">8</div>
                            </div>
                            <div class="item">
                                <div class="item-content">9</div>
                            </div>
                            <div class="item">
                                <div class="item-content">10</div>
                            </div>
                            <div class="item">
                                <div class="item-content">11</div>
                            </div>
                            <div class="item">
                                <div class="item-content">12</div>
                            </div>
                            <div class="item">
                                <div class="item-content">13</div>
                            </div>
                            <div class="item">
                                <div class="item-content">14</div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->

</body>
</html>