{% load static%}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trigensoft Form builder</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/core.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/components.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/colors.css' %}" rel="stylesheet" type="text/css">

    <!--<link href="{% static 'assets/js/plugins/fontawesome-5/css/all.css' %}" rel="stylesheet" type="text/css"> -->

    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script type="text/javascript" src="{% static 'assets/js/plugins/loaders/pace.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/core/libraries/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/loaders/blockui.min.js' %}"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="{% static 'assets/js/core/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/ui/ripple.min.js' %}"></script>

    <!-- page level -->
    <script src="{% static 'form_builder/plugins/web-animations/web-animations.min.js' %}"  type="text/javascript"></script>
    <script src="{% static 'form_builder/plugins/gestures/hammer.min.js' %}"  type="text/javascript"></script>
    <!-- <script src="{% static 'form_builder/plugins/drag-drop-sort-item/muuri.min.js' %}"  type="text/javascript"></script> -->

    <!-- form-->
    <script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/select2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'form_builder/js/form_select2.js' %}"></script>
    
    <link href="{% static 'form_builder/css/index.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'form_builder/js/index.js' %}"  type="text/javascript"></script>

    <!-- need to get url in css-->
    <style rel="stylesheet">
        body{
        background-image: url("{% static 'form_builder/img/demo-background.svg'%}"),linear-gradient(to bottom,#000,#92278F);
        }
    </style>
    <!-- /theme JS files -->

</head>

<body class=" pace-done">
    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Content area -->
                <div class="content">

                    <div class="row">

                        {% for common_html in item_common_html %}
                            <code class="hidden" id='{{ common_html.selector_id }}'> {{ common_html.html }}</code>
                        {% endfor %}

                        <!-- grid droppable area-->
						<div class="col-md-6 col-md-offset-1">
					        <div class="">
                                <div class="grid grid-2">
                                    <!-- drop here-->
                                </div>
                            </div>
                        </div>
                        <!-- /grid droppable area-->

                        <!-- grid draggable item-->
						<div class="col-md-3">
						    <div class="col-md-12">
                            
                                <div class="grid grid-1">
                                    
                                    {% for element in elements %}
                                        <div class="item"> 
                                            <div class="item-content">
                                                <var class="input_type_holder hidden">{{ element.type }}</var>
                                                <span>

                                                    <input type="radio" name="question_radio" id="{{element.name}}" class="questionType"> {{ element.name }}
                                                    <!-- The <code> tag is a phrase tag. It defines a piece of computer code. -->
                                                    <code class="hidden">
                                                    {{ element.html }}
                                                    </code>
                                                </span>
                                                
                                                <!-- edit html block-->
                                                <div class="edit-html-container hidden">
                                                    <a href="#modal_edit_element"  class="model_launcher hidden"data-toggle="modal"></a>
                                                    <div class="edit-html-holder">
                                                        <!-- block autoescape off will place model text as html -->
                                                        {% autoescape off %} {{ element.edit_html }} {% endautoescape %}
                                                    </div>
                                                </div>
                                                <!-- /edit html block-->
                                                
                                            </div>
                                        </div>
                                    {% endfor %}
                                    
                                </div>
                                <div class="panel panel-flat border-left-lg border-left-info bg-transparent">
                                    
                                </div>
                            </div>
                            <div class="col-md-12 get-output">
                                <button type="button" class="btn btn-default legitRipple btn-get-html"><i class="icon-make-group position-left"></i> Get Html</button>
                                <button type="button" class="btn btn-default legitRipple btn-get-json"><i class="icon-make-group position-left"></i> Get Json</button>
                            </div>

                        </div>
                        <!-- /grid draggable items -->
                        
                    </div>
                   
                    <!-- modal here-->
                    <div id="modal_edit_element" class="modal fade" data-backdrop="false">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="btn btn-link pull-right btn-modal-close" data-dismiss="modal">
                                        <i class="icon-cross"></i> Close
                                    </button>
                                </div>
                    
                                <div class="modal-body">
                                   <!-- at runtime place edit-html block here-->
                                </div>
                    
                                <div class="modal-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /modal here -->

                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->

</body>
</html>

