<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title> {{campaign}} </title>
        {% load static %}
        <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>{{campaign}}</h1>
        {% for element in html%}
        <div class="form-group" style="font-size: large;">
            <div class="text-semibold question editable" contenteditable="true"><strong>{{element.id}} : {{element.question_text}}</strong></div>
            {% for option in element.options %}
                {% for key,value in option.items %}
                <div class="col-md-12">
                    <label>
                        <div class="answer editable" contenteditable="true" value="{{key}}">{{key}}){{value}}</div>
                    </label>
                </div>
                {% endfor %}
                {% endfor %}
                <div> <strong>Qualified Answers : {{element.qualified}} </strong></div>
        </div>
        {% endfor %}
    </body>
</html>
