{% extends "header/cheader.html" %}
{% load static%}

{% block content %}
{% include "side/clientside.html" %}


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'form_builder/js/form_select2.js' %}"></script>

    <link href="{% static 'form_builder/css/index.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'form_builder/css/custome_question.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'form_builder/js/index.js' %}" type="text/javascript"></script>
    <script src="{% static 'form_builder/js/main.js' %}" type="text/javascript"></script>
    <!-- page level -->
    <!-- <script src="{% static 'form_builder/plugins/web-animations/web-animations.min.js' %}" type="text/javascript"></script> -->
    <!-- <script src="{% static 'form_builder/plugins/gestures/hammer.min.js' %}" type="text/javascript"></script> -->
    <!-- <script src="{% static 'form_builder/plugins/drag-drop-sort-item/muuri.min.js' %}" type="text/javascript"></script> -->
    <!-- form-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">

    <!-- need to get url in css-->
    <style rel="stylesheet">


    </style>
    <!-- /theme JS files -->

</head>

<!-- Main content -->
<div class="content-wrapper">

    <!-- Content area -->

    <div class="content">
        <div class="panel question_div">
            <label id="custome_question_no" hidden>{{custom_question}}</label>
            <input type="hidden" id="old_custome_questions"  value="{{questions}}">
            <label id="campaign_id" hidden>{{campaign.id}}</label>
            
            <div class="row hidden">
                {% for element in elements %}
                <div class="sample" class="{{element.type}}" name="{{element.type}}">

                    {% if not element.type == 'single_answer' %}
                    {% if element.type == 'Dropdown' %}
                    <button type="button" class="btn save-dropdown close" data-element-type="{{element.type}}" style="display: none;">
                        <i class="fa fa-save"></i>
                    </button>
                    {% endif %}
                    <button type="button" class="btn delete-option close" data-element-type="{{element.type}}">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn add-option close" data-element-type="{{element.type}}">
                        <i class="fa fa-plus"></i>
                    </button>
                    {% endif %}
                    {% autoescape off %} {{ element.html }} {% endautoescape %}
                </div>
                {% endfor %}
                {% for common_html in item_common_html %}
                <code class="hidden" id='{{ common_html.type }}'> {{ common_html.html }}</code>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="survey_form">
                        <span> Questions:</span>
                    </div>
                </div>
                <div class="col-lg-4 custom_ques_set" >
                    <div class="grid question_choices">
                        <ul class="item">
                            {% for element in elements %}
                            <var class="input_type_holder hidden">{{ element.type }}</var>
                            <li class="item-content"><label>
                                    <input type="radio" name="question_radio" id="{{element.type}}" value="{{element.type}}" class="questionType">
                                    <span for="{{element.type}}">{{ element.name }}</span>
                                    <!-- The <code> tag is a phrase tag. It defines a piece of computer code. -->
                                    <code class="hidden">
                                                        {{ element.html }}
                                                    </code>
                                                </label>
                            </li>

                            {% endfor %}
                        </ul>
                        <div class="controls">
            
                            <button style="align-content: center;" type="button" class="btn btn-primary add_question" value="add_question"><i class="fa fa-plus"></i>&nbspAdd Question</button>
                            <button type="button" class="btn btn-secondary legitRipple make-ready" data-toggle="modal" data-target="#Preview_questions"><i class="fa fa-eye"></i>&nbspPreview</button>
                            <button type="button" class="btn btn-success legitRipple btn-save-html"><i class="fa fa-check"></i>&nbspSave</button>
                            <!-- <button type="button" class="btn btn-default legitRipple btn-get-html" disabled><i class="icon-make-group position-left"></i>
                                Get Html</button> -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- /content area -->

</div>

<div id="Preview_questions" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <!-- <h4 class="modal-title">Custom Question Preview</h4> -->
            </div>
            <div class="modal-body">
                <div class="hidden" id="final" style="margin-top: 20px;">

                </div>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
            </div>
        </div>

    </div>
</div>
<!-- /main content -->
<!-- <div class="form-group" data-element-type="checkbox">
    <div class="text-semibold question_text editable" contenteditable="true">Question</div>
    <div class="col-md-12 checkbox"> 
        <div class="col-md-6"> <input type="checkbox" name="unstyled-checkbox-left"
                data-option_action="">
            <div class=" answer editable" contenteditable="true" value="1">Option</div>
        </div>
        <label class="col-md-6 valid"><input type="checkbox" name="valid_option" data-option_action=""> Qualified</label>
    </div>
    <div class="col-md-12 checkbox"> 
<div class="col-md-6"> <input type="checkbox" name="unstyled-checkbox-left"
                data-option_action="">
            <div class=" answer editable" contenteditable="true" value="2">Option</div>
        </div>
        <label class="col-md-6 valid"><input type="checkbox" name="valid_option" data-option_action=""> Qualified</label>
    </div>
</div>

<div class="form-group" data-element-type="radio">
    <div class="text-semibold question_text editable" contenteditable="true">Question</div>
    <div class="col-md-12 radio"> 
         <div class="col-md-6"> <input type="radio" name="unstyled-radio-left"
                data-option_action="">
            <div class="answer editable" contenteditable="true" value="1">Option</div>
        </div>
        <label class="col-md-6 valid">
            <input type="checkbox" name="valid_option" data-option_action=""> Qualified
        </label> 
    </div>
    <div class="col-md-12 radio"> <div class="col-md-6"> <input type="radio" name="unstyled-radio-left"
                data-option_action="">
            <div class="answer editable" contenteditable="true" value="2">Option</div>
        </div>
        <label class="col-md-6 valid">
            <input type="checkbox" name="valid_option" data-option_action=""> Qualified
        </label> 
    </div>
</div> -->

<!-- <div class="form-group"  data-element-type="single_answer">  
		<label class="text-semibold question_text editable"  contenteditable="true">Question</label>    
		<input type="text" class="form-control hidden input-element" > 
	</div> -->
<style type="text/css">
    @media only screen and (max-width: 1366px){
        .controls .btn {
            padding: 8px 14px!important;
            font-size: 0.9vw!important;
        }
        
    }
</style>
{% endblock %}
