<!DOCTYPE html>
<html lang="en">
{% extends "header/cheader.html" %}
{% load static %}
{% block content %}
{% include "side/clientside.html" %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Techconnectr - B2B Lead Generation Marketplace </title>
<!-- 
    <link href="{% static 'assets/css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/core.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/components.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/colors.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/client/dashboard.css' %}" rel="stylesheet" type="text/css"> -->
    <!-- /global stylesheets -->

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>
<style>
    .doc_box {
        margin-left: 2%;
        padding: 1%;
    }

    .agree_name {
        font-size: 12px;
        font-weight: bold;
        color: #5d5555;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    iframe {
        overflow: hidden;
        width: 100%;
    }

    .upload-btn-wrapper input[type=file] {
        font-size: 80px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .nav-pills>li.active>a,
    .nav-pills>li.active>a:hover,
    .nav-pills>li.active>a:focus {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .nav-pills>li.active>a,
    .nav-pills>li.active>a:hover,
    .nav-pills>li.active>a:focus {
        color: #fff;
        background-color: #2196F3;
        font-weight: bold;
    }

    .nav>li>a {
        position: relative;
        display: block;
        padding: 9px 20px;
    }

    .panel-height {
        min-height: 100vh;
    }

    #font14 {
        font-size: 14px;
    }

    #font16 {
        font-size: 16px;
    }

    #paddingtop5 {
        padding-top: 5px;
    }

    #paddingtop20 {
        padding-top: 20px;
    }

    #centertext {
        text-align: center;
    }

    .dz-size {
        display: none;
    }

    .pdf_img {
        padding: 5%;
        margin-left: 5%;
        height: 15vh;
    }

    .input_box {
        background: #fff;
        border: 1px solid #ddd;
        width: 60%;
        padding: 1%;
        border-radius: 5px;
        margin: 5%;
    }

    .file_icon {
        font-size: 12px;
        font-weight: bold;
        margin-left: 30%;
        margin-top: 99%;
        color: #584e4e;
    }

    .file_icon2 {
        font-size: 12px;
        font-weight: bold;
        margin-left: 30%;
        margin-top: 99%;
        color: #584e4e;
    }

    .file_icon:before {
        content: '\ea0e';
        font-family: 'icomoon';
        font-size: 50px;
        position: absolute;
        top: 50px;
        width: 64px;
        height: 64px;
        display: inline-block;
        left: 52%;
        margin-left: -32px;
        line-height: 1;
        z-index: 2;
        color: #ddd;
        text-indent: 0;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
    }

    .file_icon2:before {
        content: '\ea0e';
        font-family: 'icomoon';
        font-size: 50px;
        position: absolute;
        top: 50px;
        width: 64px;
        height: 64px;
        display: inline-block;
        left: 52%;
        margin-left: -32px;
        line-height: 1;
        z-index: 2;
        color: #ddd;
        text-indent: 0;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
    }

    @media only screen and (max-width: 1299px) {
        .file_icon {
            font-size: 12px;
            font-weight: bold;
            margin-left: 21%;
            margin-top: 162% !important;
            color: #584e4e;
        }

        .file_icon2 {
            font-size: 12px;
            font-weight: bold;
            margin-left: 21%;
            margin-top: 168% !important;
            color: #584e4e;
        }
    }

    @media only screen and (max-width: 1399px) and (min-width: 1300px) {
        .file_icon {
            font-size: 12px;
            font-weight: bold;
            margin-left: 21%;
            margin-top: 155% !important;
            color: #584e4e;
        }

        .file_icon2 {
            font-size: 12px;
            font-weight: bold;
            margin-left: 21%;
            margin-top: 157% !important;
            color: #584e4e;
        }
    }

    @media (max-width: 1440px)and (min-width: 1400px) {
        .file_icon {
            font-size: 12px;
            font-weight: bold;
            margin-left: 20%;
            margin-top: 144%;
            color: #584e4e;
        }

        .file_icon2 {
            font-size: 12px;
            font-weight: bold;
            margin-left: 21%;
            margin-top: 145% !important;
            color: #584e4e;
        }
    }

    @media (min-width: 769px) {
        .dropzone {
            min-height: 18.8vh;
        }

        .dropzone .dz-default.dz-message span {
            font-size: 10px;
            margin-top: 130px;
        }

        .dropzone .dz-default.dz-message:before {
            font-size: 65px;
            top: 48px;
            width: 0 !important;
            height: 65px;
            margin-left: -32px;
        }

        .dropzone .dz-preview,
        .dropzone-previews .dz-preview {
            background-color: #fff;
            position: relative;
            display: inline-block;
            margin: 0 !important;
            vertical-align: top;
            border: 1px solid #ddd;
            padding: 0 !important;
            border-radius: 2px;
        }
    }
    /* ID added by manjusha*/
    label.txt-1 {
        white-space: nowrap; 
        width: 20%; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
   /* label#txt-2 {
        white-space: nowrap; 
        width: 20%; 
        overflow: hidden;
        text-overflow: ellipsis;
    }*/
    /* END */
</style>

<body>


    <!-- /page content -->
    <div class="content-wrapper">
        <!-- Content area -->
        <div class="content">
            <div class="row">
                <!-- Top Clients List -->
                <div class="panel panel-height panel-flat">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home">First Relation Business Agreements</a>
                            </li>
                            <li><a data-toggle="tab" href="#menu1">Campaign Wise Agreements</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                <div class="row">
                                    <div class="col-lg-8 col-sm-12" id="new_agreement_div">
                                        {% for data in new_vendor_agreements %}
                                        {% for name, path in data.items %}
                                        <div class="col-md-2 panel doc_box" id="{{name}}">
                                            <iframe frameborder="0" src="{{path}}"></iframe>
                                            <div class="agree_name" title="{{name}}">{{name}}</div>
                                        </div>
                                        {% endfor %}
                                        {% endfor %}
                                        <div class="col-md-2 panel doc_box">
                                            <form action="#" class="dropzone" data-toggle="modal"
                                                data-target="#myModal">
                                                <div class="file_icon">
                                                    Select File
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h6 class="panel-title">Note :</h6>
                                            </div>

                                            <div class="panel-body">
                                                Upload only signed agreements
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="menu1" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-lg-8 col-sm-12" id="old_agreement_div">
                                        {% for data in old_vendor_agreements %}
                                        {% for name, path in data.items %}
                                        <div class="col-md-2 panel doc_box" id="{{name}}">
                                            <iframe frameborder="0" src="{{path}}"></iframe>
                                            <span class="agree_name">{{name}}</span>
                                        </div>
                                        {% endfor %}
                                        {% endfor %}
                                        <div class="col-md-2 panel doc_box">
                                            <form action="#" class="dropzone" data-toggle="modal"
                                                data-target="#agreement_modal2">
                                                <div class="file_icon2">
                                                    Select File
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h6 class="panel-title">Note :</h6>
                                            </div>

                                            <div class="panel-body">
                                                Upload only signed agreements 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /highlighting rows and columns -->
        </div>
        <!-- /content area -->
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" style="padding: 5%;">
                <div class="borders" style=" border: 1px solid #ddd;">
                    <div class="modal-body">
                        <div class="bottoms">
                            <button type="button" class="close" data-dismiss="modal"
                                style="margin-right: 6%;">&times;</button>
                        </div>
                        <center>
                            <img class="pdf_img" src="{% static '/icons/pdf.png' %}">
                            <h4>Agreement File</h4>

                            <form id="client_agreement_form">
                                {% csrf_token %}
                                <label for="agreement_file" class="custom-file-upload btn btn-primary btn-md browse_file txt-1">
                                    Browse
                                </label>
                                <input id="agreement_file" name='agreement_file' type="file" style="display:none;"
                                    accept=".pdf">
                            </form>
                            <input type="text" class="input_box" id="agreement_file_name"
                                placeholder="Enter agreement name">
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="save_agreement">Submit</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="agreement_modal2" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" style="padding: 5%;">
                <div class="borders" style=" border: 1px solid #ddd;">
                    <div class="modal-body">
                        <div class="bottoms">
                            <button type="button" class="close" data-dismiss="modal"
                                style="margin-right: 6%;">&times;</button>
                            
                        </div>
                        <center>
                            <img class="pdf_img" src="{% static '/icons/pdf.png' %}">
                            <h4>Agreement File</h4>

                            <form id="agreement_form2">
                                {% csrf_token %}
                                <label for="agreement_file2"
                                    class="custom-file-upload btn btn-primary btn-md browse_file txt-1">
                                    Browse
                                </label>
                                <input id="agreement_file2" name='agreement_file2' type="file" style="display:none;"
                                    accept=".pdf">
                            </form>
                            <input type="text" class="input_box" id="agreement_name" placeholder="Enter agreement name">
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="save_agreement2">Submit</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</html>
{% include "campaign/js/campaign_notebook.html" %}
{% endblock %}