{% extends "header/cheader.html" %}
{% block scripts1 %}
{% include "campaign/css/user_group.css" %}
{% include "campaign/manage_campaign.css" %}
{% endblock %}
{% block content %}
<!-- Main sidebar -->
{% include "side/clientside.html" %}
{% load static %}

<!-- Main content -->
<div class="content-wrapper">
    <!-- Content area -->
    <div class="chat_detail" style="margin-top: 47px;padding: 10px;">
        <!-- Top Clients List -->
        <div class="panel panel-height panel-flat">
            <div class="panel-heading">
                <div class="col-md-6">
                    <h1 class="panel-title">Users and Groups
                        <!-- <button type="button" id="databtn" class="btn btn-filter-tb btn-labeled pull-right" style="display:none">
                    <b><span id="filter_icon" class="glyphicon glyphicon-filter"></span></b>
                    Filter
                </button> -->
                    </h1>
                </div>
                <div class="col-md-6">
                    <span class="pull-right">
                        <button type="button" class="btn btn-primary" name="button" id="toggle_grp_usr">See
                            Users</button>
                        <button class="btn btn-primary add_group_modal" data-toggle="modal" data-target="#lead_header"
                            camp_id="{{camp}}"><i class="fa fa-plus"></i> Add
                            Group</button>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#add_users_modal"
                            camp_id="{{camp}}"><i class="fa fa-plus"></i> Create
                            User</button>
                        <!-- <button class="btn btn-primary" data-toggle="modal" data-target="#assign_users" camp_id="{{camp}}"><span
                        class="glyphicon glyphicon-plus"></span>Assign Users</button> -->
                    </span>
                </div>
            </div>
            <div class="table-responsive-sm main_tb" id="groups_table">
                <table id="client_group_table" class="table datatable-column-search-inputs DataTables">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Group Name</th>
                            <th>Users Count</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tfoot id="datatfootfilter" style="display:none">
                        <tr>
                            
                                    <td rowspan="1" colspan="1"></td>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for group in groups%}
                                <tr>
                                    <td style="width:1%;">
                                        <i class="supericon fas fa-plus-circle more" data-id="{{group.id}}"
                                            data-group="{{group.id}}"></i>
                                        <div class="hidden more_details" data-group-id="{{group.id}}">
                                            <div class="div_loader"></div>
                                            <button type="button" class="close close_div" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                            <!-- <i class=" fas fa-times-circle close_div pull-right"></i> -->
                                            <div class="campaign_info">
                                                <!-- <div class="div_list"></div> -->
                                                <div class="col-md-12">
                                                    <table id="Group_user_{{group.id}}"
                                                        class="table group_user_table vendor_table datatable-show-all">
                                                        <thead>
                                                            <tr>
                                                                <th>ID</th>
                                                                <th>Username</th>
                                                                <th>Email</th>
                                                                <th>Status</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td><a href="#">{{ group.group_name}}</a></td>
                            <td>{{ group.group_users.count}}</td>
                            <td class="text-center">
                                <button type="button" class="btn ua_btn edit_group"
                                    data-group-id="{{group.id}}" title="Edit Group" data-toggle="modal"
                                    data-target="#lead_header"><i class="far fa-edit edit"></i></button>
                                <button type="button" title="Delete Group" class="btn ua_btn delete_group"
                                    data-group-id="{{group.id}}"><i class="fa fa-trash-o trash-users" aria-hidden="true"></i></button>
                                <button type="button" class="btn ua_btn group_access"
                                    data-group-id="{{group.id}}" title="Group Access" data-toggle="modal"
                                    data-target="#access_modal"><i class="fas fa-user-check user-cheks"></i>
                                </button>
                            </td>
                        </tr>
                        {%endfor%}


                    </tbody>
                </table>
            </div>
            <div class="table-responsive-sm main_tb" id="users_table">
                <table id="client_external_users" class="table datatable-column-search-inputs">
                    <thead>
                        <th></th>
                        <th>User Name</th>
                        <th>Associated Group</th>
                        <th class="text-center">Actions</th>
                    </thead>
                    <tbody>
                        {% for ex in ex_user %}
                        <tr>
                            <td style="width:5%">{{forloop.counter}}</td>
                            <td>{{ex.name}}</td>
                            <td>{{ex.group}}</td>
                            <td class="text-center">
                                {% if ex.group_id == 0 %}
                                <button type="button" data-user-id='{{ex.id}}' data-group='{{ex.group_id}}'
                                    class="btn ua_btn user_to_grp"
                                    title="Add user to a group"><i class="fas fa-user-plus" style="color:black!important;padding: 5px;"></i></button>
                                {% else %}
                                <button type="button" data-user-id='{{ex.id}}' data-group='{{ex.group_id}}'
                                    class="btn ua_btn rm_frm_grp"
                                    onclick="remove_user_from_grp($(this))"
                                    title="Remove user from current group"><i class="fas fa-user-times user-users"></i></button>
                                {% endif %}
                                <button type="button" data-user-id='{{ex.id}}' data-group='{{ex.group_id}}'
                                    class="btn ua_btn del_frm_grp" onclick="remove_user($(this))"
                                    title="Delete user from system"><i class="fa fa-trash-o trash-users" aria-hidden="true"></i></button>
                                <button type="button" data-user-id='{{ex.id}}' 
                                    class="btn ua_btn camp_access" title="Campaign Access" data-toggle="modal"
                                    data-target="#camp_access_modal">
                                    <i class="fas fa-tasks user-tasks" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
   
        <!-- /highlighting rows and columns -->
        <!-- /content area -->
    </div>
    <!-- /main content -->
</div>
<!-- /page content -->

<!-- Add Group Modal -->
<div class="modal fade" id="lead_header" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content" style="padding: 10px;">
            <div class="border">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span class="modal_label">Add</span> Group </h4>
                </div>
                <div class="modal-body">

                    {% csrf_token %}
                    <div class="col-sm-12">
                        <label class="control-label col-lg-3">
                            <h5>Name</h5>
                        </label>
                        <div class="col-lg-9">
                            <input type="text" name="group" class="form-control group_name" placeholder="Group Name"
                                required>
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <img src="{% static 'assets/images/lg.circle-slack-loading-icon.gif'%}"
                        style="height:50px;display:none" id="loader">
                    <button type="button" id="add_group" class="btn btn-success"><i class="fa fa-check"></i>&nbspsubmit</button>
                    <button type="button" id="update_group" class="btn btn-success hidden"><span class="bold"><i class="fa fa-refresh"></i>Update</span></button>
                    <button type="button" class="btn btn-default btn-color" data-dismiss="modal"><i class="fa fa-times"></i>&nbspClose</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add User Modal -->
<div class="modal fade" id="add_users_modal" role="dialog">
    <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <div class="modal-content" style="padding: 15px;">
            <div class="border">
                <div>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Create User </h4>
                    </div>
                    <form class="" id="add_user" method="post">
                    <div class="modal-body">

                        {% csrf_token %}
                        <div class="col-sm-12">
                            <label class="control-label col-lg-3">
                                <h5>User Name</h5>
                            </label>
                            <div class="col-lg-9">
                                <input type="text" name="user_name" maxlength="50" required="" class="form-control user_field username" id="id_user_name">
                                <span class="help-block user_error" style="color: red;"></span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="control-label col-lg-3">
                                <h5>Email</h5>
                            </label>
                            <div class="col-lg-9">
                                <input type="email" name="email" autofocus="" required=""  class="form-control user_field" id="id_email">
                                <span class="help-block email_error" style="color: red;"></span>
                            </div>
                        </div>
                        
                        <div class="col-sm-12">
                            <label class="control-label col-lg-3">
                                <h5>Password</h5>
                            </label>
                            <div class="col-lg-9">
                                <input type="password" name="password1" required="" id="id_password1"  class="form-control user_field">
                                <span class="help-block password1_error" style="color: red;"></span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="control-label col-lg-3">
                                <h5>Confirm Password</h5>
                            </label>
                            <div class="col-lg-9">
                                <input type="password" name="password2" class="form-control user_field" required="" id="id_password2">
                                <span class="help-block password2_error" style="color: red;"></span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="control-label col-lg-3">
                                <h5>Group</h5>
                            </label>
                            <div class="col-lg-9">
                                <select class="form-control " name="group_selector">
                                    <option class="form-control " selected value='select_group'>Select Group</option>
                                    {% for group in groups %}
                                    <option class="form-control " value={{group.id}}>{{group.group_name}}</option>
                                    {%endfor%}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <img src="{% static 'assets/images/lg.circle-slack-loading-icon.gif'%}"
                            style="height:50px;display:none" id="loader1">
                        <button type="submit" class="btn btn-success sub"><i class="fa fa-check"></i>&nbspSubmit</button>
                        <button type="button" class="btn btn-default close_modal btn-color"
                            data-dismiss="modal"><i class="fa fa-times"></i>&nbspClose</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Group access modal -->
<div class="modal fade" id="access_modal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content" style="padding: 10px;">
            <div class="border">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Group Access </h4>
                </div>
                <form class="" id="grp_access_form" action="" method="post">{% csrf_token %}
                    <input type="hidden" name="" id="hidden_group" value="">
                    <div class="modal-body ">
                        <div class="col-md-12 group_access_div">

                        </div>

                    </div>
                    <div class="ga_footer modal-footer">
                        <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>&nbspSave</button>
                        <button type="button" class="btn btn-default btn-color" data-dismiss="modal"><i class="fa fa-times"></i>&nbspClose</button>
                    </div>
                </form>
                <!-- {% for access in roles %}

            <div class="custom-control  main_menu custom-checkbox">
                    <label class="custom-control-label" >
                    <input type="checkbox" class="custom-control-input styled" name="{{access.name}}" id="{{access.id}}">
                    {{access.name}}</label>
                    <ul>

                    </ul>
                </div>
            {% endfor %} -->
            </div>
        </div>
    </div>
</div>
<!-- Assign Users -->
<div class="modal fade" id="assign_users" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Assign Users to Group </h4>
            </div>
            <div class="modal-body">

                {% csrf_token %}
                <div class="col-sm-12">
                    <label class="control-label col-lg-3">
                        <h5>Group</h5>
                    </label>
                    <div class="col-lg-9">
                        <select class="form-control " id="group_selector">
                            <option class="form-control " selected value='select_group'>Select Group</option>
                            {% for group in groups %}
                            <option class="form-control " value={{group.id}}>{{group.group_name}}</option>
                            {%endfor%}
                        </select>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="col-sm-12">
                    <label class="control-label col-lg-3">
                        <h5>Users</h5>
                    </label>
                    <div class="col-lg-9">
                        <select class="form-control " id="group_selector">
                            <option class="form-control " selected value='select_user'>Select Users</option>
                            {% for group in groups %}
                            <option class="form-control " value={{group.id}}>{{group.group_name}}</option>
                            {%endfor%}
                        </select>
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <img src="{% static 'assets/images/lg.circle-slack-loading-icon.gif'%}" style="height:50px;display:none"
                    id="loader">
                <button type="button" id="add_group" class="btn btn-success" data-dismiss="modal"><i class="fa fa-check"></i>&nbsp submit</button>
                <button type="button" id="update_group" class="btn btn-success hidden"
                    data-dismiss="modal">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Single user to group Modal -->
<div class="modal fade" id="single_user_to_grp" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content" style="padding: 10px;">
            <div class="border">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add User to Group </h4>
                </div>
                <div class="modal-body">

                    {% csrf_token %}
                    <div class="col-sm-12">
                        <label class="control-label col-lg-3">
                            <h5>Group</h5>
                        </label>
                        <div class="col-lg-9">
                            <input type="hidden" name="" id="id_val_of_user" value="">
                            <select class="form-control " id="group_selector_for_user">
                                <option class="form-control " selected value='select_user'>Select Users</option>
                                {% for group in groups %}
                                <option class="form-control " value={{group.id}}>{{group.group_name}}</option>
                                {%endfor%}
                            </select>
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <img src="{% static 'assets/images/lg.circle-slack-loading-icon.gif'%}"
                        style="height:50px;display:none" id="loader">
                    <button type="button" onclick="add_user_to_grp()" class="btn btn-success"
                        data-dismiss="modal"><i class="fa fa-check"></i>&nbspsubmit</button>
                    <!-- <button type="button" id="update_group" class="btn btn-success hidden" data-dismiss="modal">Update</button> -->
                    <button type="button" class="btn btn-default btn-color" data-dismiss="modal"><i class="fa fa-times"></i>&nbspClose</button>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Group access modal -->
<div class="modal fade" id="camp_access_modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content" style="padding: 10px;">
            <div class="border">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Campaign Access</h4>
                </div>
                <form class="" id="camp_access_form" action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="" id="hidden_user_id" value="">
                    <div class="modal-body ">
                        <div class="col-md-12 ">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#notmal">Normal Campaigns</a></li>
                                    <li><a data-toggle="tab" href="#rfq">RFQ Campaigns</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="notmal" class="tab-pane fade camp_access_div norm_camp_access_div in active">
                                        
                                    </div>
                                    <div id="rfq" class="tab-pane camp_access_div rfq_camp_access_div fade">
                                        
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="ga_footer modal-footer">
                        <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>&nbspSave</button>
                        <button type="button" class="btn btn-default btn-color" data-dismiss="modal"><i
                                class="fa fa-times"></i> Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /page container -->
{% include "vendor1/vendorjs.html" %}
<script>
    $(function () {
        $("#ManageUsers").addClass("active");
        $("#AccessControl").find("ul").first().css({ 'display': 'block' })
        $("#AccessControl").addClass("active");
    });
</script>
{% endblock %}
