{% extends "header/cheader.html" %}
{% load static %}
{% load custom_filters %}
{% block content %}
{% include "side/clientside.html" %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TechConnectr-BugList</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
        type="text/css">
    <link href="{% static 'assets/css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/core.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/components.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/colors.css' %}" rel="stylesheet" type="text/css">
    <!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script> -->
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'client/plugins/flatpicker/material_blue.css' %}?ver=1.1">
</head>
<!-- Akshay Ghatul -->
<!-- ids of unread notifications for filter -->
<input type="hidden" id="read_notifs_ids" value="{{read_notifs_ids}}">
<!-- ... -->
<div class="content-wrapper">
     <!-- Content area -->
    <div style="margin-top: 47px;padding: 10px;">
        <div class="row">
            <div class="col-md-12 ">
                <div class="header" style="background: #fff;border-radius: 5px 5px 0 0;position: fixed;z-index: 1;">
                    <div class="col-md-3" style="padding: 20px;font-weight: bold;">
                        Campaign Notifications 
                    </div>
                    <div class="col-md-3 sample seven">
                      <button type="submit" class="btn btn-search">
                        <i class="fa fa-search"></i>
                      </button>
                      <input type="text" id="search_campaign" name="search" placeholder="search">
                    </div>
                    <div class="col-md-6">
                        <button style="margin-top:5%;margin-left: -7%" type="submit" class="btn btn-search open_calendar">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </button>
                        <button style="margin-top:5%;margin-left: 49%;" type="submit" class="btn btn-search close">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                        <input style="margin-top:5%" type="text" id="rangeDate" placeholder="Please select Date Range" data-input>
                        <!-- <a href="#" class="close"></a> -->
                         
                    </div>
                </div>
         
                <div class="header1">
                    <ul class="media-list dropdown-content-body" style="padding: 5% 10%;background: #fff;">
                        <div class="infinite-container">
                    {% for row in notify_ %}
                    {% if row.campaign_id.status == 3 %}
                    <div class="panel panel-default {% if row.id in read_notifs_ids %} unread {% else %} read_ {% endif %} infinite-item">
                        <div class="panel-body">
                            <li class="media">

                                <div class="media-left">
                                    {% if row.id in logo_dict_ %}
                                    <img class="company_logo" src="{{row.id|return_logo:logo_dict_}}" alt="">
                                    {% else %}
                                    <img class="company_logo" src="{{logo_dict_.default}}" alt="">
                                    {% endif %}
                                    <!-- <span href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></span> -->
                                </div>
                                <div class="media-body">
                                    <span class='remove' id="{{row.id}}"><i class="fa fa-times pull-right" value='1' aria-hidden="true"></i></span>
                                    <a href="/client/pending-campaign/" class="read_notif" id="{{row.id}}"><span class="headfont">{{ row.title }}</span>
                                    <br>
                                    {{ row.description }}</a>
                                    <div class="media-annotation">{{row.created}}</div>
                                </div>

                            </li>
                        </div>
                    </div>
                
                    {% elif row.campaign_id.status == 1 %}
            
                    <div class="panel panel-default {% if row.id in read_notifs_ids %} unread {% else %} read_ {% endif %} infinite-item">
                        <div class="panel-body">
                            <li class="media">

                                <div class="media-left">
                                    {% if row.id in logo_dict_ %}
                                    <img class="company_logo" src="{{row.id|return_logo:logo_dict_}}" alt="">
                                    {% else %}
                                    <img class="company_logo" src="{{logo_dict_.default}}" alt="">
                                    {% endif %}
                                    <!-- <span href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></span> -->
                                </div>
                                <div class="media-body">
                                    <span class='remove' id="{{row.id}}"><i class="fa fa-times pull-right" value='1' aria-hidden="true"></i></span>
                                    <a href="/client/live-campaign/" class="read_notif" id="{{row.id}}"><span class="headfont">{{ row.title }}</span><br>
                                    {{ row.description }}</a>
                                    <div class="media-annotation">{{row.created}}</div>
                                </div>
                            </li>
                        </div>
                    </div>
                  
                    {% elif row.campaign_id.status == 4 %}
                 
                    <div class="panel panel-default {% if row.id in read_notifs_ids %} unread {% else %} read_ {% endif %} infinite-item">
                        <div class="panel-body">
                            <li class="media">

                                <div class="media-left">
                                    {% if row.id in logo_dict_ %}
                                    <img class="company_logo" src="{{row.id|return_logo:logo_dict_}}" alt="">
                                    {% else %}
                                    <img class="company_logo" src="{{logo_dict_.default}}" alt="">
                                    {% endif %}
                                    <!-- <span href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></span> -->
                                </div>
                                <div class="media-body">
                                    <span class='remove' id="{{row.id}}"><i class="fa fa-times pull-right" value='1' aria-hidden="true"></i></span>
                                <a href="/client/completed-campaign/" class="read_notif" id="{{row.id}}">  <span class="headfont">{{ row.title }}</span><br>
                                    {{ row.description }}  </a>
                                    <div class="media-annotation">{{row.created}}</div>
                                </div>
                            </li>
                        </div>
                    </div>
                 
                    {% elif row.campaign_id.status == 5 %}
                 
                    <div class="panel panel-default {% if row.id in read_notifs_ids %} unread {% else %} read_ {% endif %} infinite-item">
                        <div class="panel-body">
                            <li class="media">

                                <div class="media-left">
                                    {% if row.id in logo_dict_ %}
                                    <img class="company_logo" src="{{row.id|return_logo:logo_dict_}}" alt="">
                                    {% else %}
                                    <img class="company_logo" src="{{logo_dict_.default}}" alt="">
                                    {% endif %}
                                    <!-- <span href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></span> -->
                                </div>
                                <div class="media-body">
                                    <span class='remove' id="{{row.id}}"><i class="fa fa-times pull-right" value='1' aria-hidden="true"></i></span>
                                <a href="/client/assigned-campaign/" class="read_notif" id="{{row.id}}">  <span class="headfont">{{ row.title }}</span>
                                    <br>
                                    {{ row.description }}  </a>
                                    <div class="media-annotation">{{row.created}}</div>
                                </div>
                            </li>
                        </div>
                    </div>
                    {% elif row.campaign_id.status == 0 %}
                    <div class="panel panel-default {% if row.id in read_notifs_ids %} unread {% else %} read_ {% endif %} infinite-item">
                        <div class="panel-body">
                            <li class="media">

                                <div class="media-left">
                                    {% if row.id in logo_dict_ %}
                                    <img class="company_logo" src="{{row.id|return_logo:logo_dict_}}" alt="">
                                    {% else %}
                                    <img class="company_logo" src="{{logo_dict_.default}}" alt="">
                                    {% endif %}
                                    <!-- <span href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></span> -->
                                </div>
                                <div class="media-body">
                                    <span class='remove' id="{{row.id}}"><i class="fa fa-times pull-right" value='1' aria-hidden="true"></i></span>
                                    <a href="/client/draft-campaign/" class="read_notif" id="{{row.id}}"><span class="headfont">{{ row.title }}</span>
                                    <br>
                                    {{ row.description }}</a>
                                    <div class="media-annotation">{{row.created}}</div>
                                </div>

                            </li>
                        </div>
                    </div>
                    {% endif %}
                    {% if row.camp_alloc %}
                    {% if row.camp_alloc.status == 1 %}
            
                    <div class="panel panel-default {% if row.id in read_notifs_ids %} unread {% else %} read_ {% endif %} infinite-item">
                        <div class="panel-body">
                            <li class="media">

                                <div class="media-left">
                                    {% if row.id in logo_dict_ %}
                                    <img class="company_logo" src="{{row.id|return_logo:logo_dict_}}" alt="">
                                    {% else %}
                                    <img class="company_logo" src="{{logo_dict_.default}}" alt="">
                                    {% endif %}
                                    <!-- <span href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></span> -->
                                </div>
                                <div class="media-body">
                                    <span class='remove' id="{{row.id}}"><i class="fa fa-times pull-right" value='1' aria-hidden="true"></i></span>
                                    <a href="/client/leadlist/{{row.camp_alloc.id}}/{{row.camp_alloc.status}}" class="read_notif" id="{{row.id}}"><span class="headfont">{{ row.title }}</span>
                                    <br>
                                    {{ row.description }}
                                </a>
                                    <div class="media-annotation">{{row.created}}</div>
                                </div>
                            </li>
                        </div>
                    </div>
                
                    {% endif %}
                    {% endif %}
                    {% if row.camp_alloc.status == None and row.campaign_id.status == None %}
                    
                        <div class="panel panel-default {% if row.id in read_notifs_ids %} unread {% else %} read_ {% endif %} infinite-item">
                            <div class="panel-body">
                                <li class="media">
                             
                                    <div class="media-left">
                                        {% if row.id in logo_dict_ %}
                                        <img class="company_logo" src="{{row.id|return_logo:logo_dict_}}" alt="">
                                        {% else %}
                                        <img class="company_logo" src="{{logo_dict_.default}}" alt="">
                                        {% endif %}
                                    <!-- <span href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></span> -->
                                    </div>
                                    <div class="media-body">
                                    <span class='remove' id="{{row.id}}"><i class="fa fa-times pull-right" value='1' aria-hidden="true"></i></span>
                                    <span class="headfont">{{ row.title }}</span>
                                    <br>
                                    {{ row.description }}
                                    <div class="media-annotation">{{row.created}}</div>
                                    </div>
                             
                                </li>
                            </div>
                        </div>
                     
                    {% endif %}
                    {% endfor %}
                     <div class="input-group">
                        <div class="input-group-btn search-panel">
                            {% if notify_.has_next %}
                            <a class="infinite-more-link" id="more" href="?page={{ notify_.next_page_number }}">More</a>
                            {% endif %}
                            <div class="loading" style="display: none;">
                                Loading...
                            </div>
                        </div>
                    </div>
                        </div>
                        <div class="search_items"></div>
                    </ul>  
                </div>         
            </div>
      
            </div>
            <!-- /highlighting rows and columns -->
            <!-- Footer -->
            <div class="footer text-muted" style="display: none;">
                © 2018. <a href="#">Trigensoft</a> by <a href="Trigensoft.com" target="_blank">Eugene Kopyov</a>
            </div>
            <!-- /footer -->

        </div>
        <!-- /content area -->
    </div>
</div>
<!-- /main content -->
</div>

<script>
    // Akshay G.
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = jQuery.trim(cookies[i]);
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    // hide div in which elements are added dynamically through ajax
    $(document).ready(function(e){
        $('.search_items').hide();
    });
    // Initialize Infinite scroll loader
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        onBeforePageLoad: function () {
            $('.loading').show();
        },
        onAfterPageLoad: function ($items) {
            $('.loading').hide();
        },
    });
   var start_date = '';
   var end_date = '';
   var date_range_str = '';
   function destroy_infinite_instance(){
        infinite.destroy();
    }
    $(function(){
        $('.open_calendar').click(function(){
            $("#rangeDate").focus();
        })
        $('.close').css('pointer-events', 'none');
        // apply date filter
        $("#rangeDate").flatpickr({
            mode: 'range',
            dateFormat: "Y-m-d",
            onValueUpdate: function(selectedDates, dateStr, instance){
                if(selectedDates[0] && selectedDates[1]){
                    start_date = selectedDates[0];
                    end_date = selectedDates[1];
                    date_range_str = dateStr;
                    if($('#search_campaign').val() === null || $('#search_campaign').val().match(/^ *$/) !== null){
                        if (dateStr.split('to')[1] != undefined){
                            date_filter(dateStr.split('to')[0], dateStr.split('to')[1], null)
                        }
                        else{
                            date_filter(dateStr.split('to')[0], dateStr.split('to')[0], null)
                        }
                    }
                    else{
                        if (dateStr.split('to')[1] != undefined){
                            date_filter(dateStr.split('to')[0], dateStr.split('to')[1], $('#search_campaign').val())
                        }
                        else{
                            date_filter(dateStr.split('to')[0], dateStr.split('to')[0], $('#search_campaign').val())
                        }
                    }
                    $('.close').css('pointer-events', '');
                }
            }
        });
        // clear date filter
        $('.close').click(function(){
            const fp = document.querySelector("#rangeDate")._flatpickr;
            fp.clear();
            start_date = '';
            end_date = '';
            if($('#search_campaign').val().trim().length == 0){
                // destroy waypoint infinite scroll instance
                if(infinite != undefined){
                    infinite.destroy();
                }
                // console.log(infinite)
                $('#search_campaign').blur();
                // $('.infinite-container').show();
                // $('.search_items').children().remove();
                // $('.search_items').hide();
            }
            else{
                $('#search_campaign').keyup();
            }
            $('.close').css('pointer-events', 'none');
        })
    });
    // ajax call for date filter
    function date_filter(start_date, end_date, inp_search){
        // hide infinite container div
        infinite.destroy();
        $('.infinite-container').hide()
        // get unread notifications ids
        var read_notifs_ids = $('#read_notifs_ids');
        var i = JSON.parse(read_notifs_ids[0].value);
        var id_set = new Set(i);
        var input_camp_search = inp_search;
        var csrftoken = getCookie('csrftoken');
        $('.loading').show();
        if(inp_search){
            $.ajax({
                type: "POST",
                url: "/client/search_campaign/",
                data: { 'search_campaign': input_camp_search,'start_date':start_date,'end_date':end_date, 'csrfmiddlewaretoken': csrftoken },
                success: function (data) {
                    $('.loading').hide();
                    // pass filtered data & unread notifs ids to function
                    insert_data(data, id_set);
                },
                error: function (data) {
                    swal({
                        title: 'Internal server error !',
                        text: 'Please report this issue to techconnectr technical team.',
                        icon: 'error'
                    })
                },
            });
        }
        else{
            $.ajax({
                type: "POST",
                url: "/client/search_campaign/",
                data: { 'start_date':start_date,'end_date':end_date, 'csrfmiddlewaretoken': csrftoken },
                success: function (data) {
                    $('.loading').hide();
                    insert_data(data, id_set);
                },
                error: function (data) {
                    swal({
                        title: 'Internal server error !',
                        text: 'Please report this issue to techconnectr technical team.',
                        icon: 'error'
                    })
                },
            });
        }
    }

    // Reinitialize infinite scroll instance, if search input is empty
    $('#search_campaign').blur(function(){
        if($('#search_campaign').val().trim().length == 0){
            if(start_date == '' && end_date == ''){
                if(infinite != undefined){
                    infinite.destroy();
                }
                $('.infinite-container').show();
                $('.search_items').children().remove();
                $('.search_items').hide();
                var infinite = new Waypoint.Infinite({
                    element: $('.infinite-container')[0],
                    onBeforePageLoad: function () {
                        $('.loading').show();
                    },
                    onAfterPageLoad: function ($items) {
                        $('.loading').hide();
                    }
                });
            }
        }
    })
    // filter campaigns based on search input
    $('#search_campaign').keyup(function(){
        // destroy infinite scroll instance
        infinite.destroy();
        $('.infinite-container').hide();
        var read_notifs_ids = $('#read_notifs_ids');
        var i = JSON.parse(read_notifs_ids[0].value);
        var id_set = new Set(i);
        var input_camp_search = $(this).val();
        var csrftoken = getCookie('csrftoken');
        // $('.infinite-container').find('.infinite-item').remove();
        $('.loading').show();
        if($(this).val() == '' && start_date == '' && end_date == ''){
            $('.search_items').children().remove();
            $('.search_items').hide();
            $('#search_campaign').blur();
        }
        else{
            if (date_range_str.split('to')[1] == undefined){
                date_range_str = date_range_str.split('to')[0] + 'to' + date_range_str.split('to')[0];
            }
            if(start_date != '' && end_date != ''){
                $.ajax({
                    type: "POST",
                    url: "/client/search_campaign/",
                    data: { 'start_date':date_range_str.split('to')[0],'end_date':date_range_str.split('to')[1], 'search_campaign': input_camp_search,'csrfmiddlewaretoken': csrftoken },
                    success: function (data) {
                        $('.loading').hide();
                        insert_data(data, id_set);
                    },
                    error: function (data) {
                        swal({
                            title: 'Internal server error !',
                            text: 'Please report this issue to techconnectr technical team.',
                            icon: 'error'
                        })
                    },
                });
            }
            else{
                $.ajax({
                    type: "POST",
                    url: "/client/search_campaign/",
                    data: { 'search_campaign': input_camp_search,'csrfmiddlewaretoken': csrftoken },
                    success: function (data) {
                        $('.loading').hide();
                        insert_data(data, id_set);
                    },
                    error: function (data) {
                        swal({
                            title: 'Internal server error !',
                            text: 'Please report this issue to techconnectr technical team.',
                            icon: 'error'
                        })
                    },
                });     
            }
        }
    })
    // Load filtered data into 'search_items' div & hide infinite scroll div
    function insert_data(data, id_set){
        if (data.length == 0 && $('.noticount').text() == 0){
            swal({
                title: "Info",
                text: "No notifications available !",
                icon: "info",
                button: "close"
            });
        }
        // remove previous added elements
        $('.search_items').children().remove();
        // show newly added elements
        $('.search_items').show();
        $.each(data,function(){
            $.each($(this), function(key1, value1){
                $.each(value1, function(key, value){
                    if (client_notifs(value[3], key, value) == false){
                        if(vendor_notifs(value[3], key, value) == false){
                            if(id_set.has(parseInt(key))){
                                // Add 'unread' & 'read_' class for unread and read notifications
                                $('.search_items').append(
                                    `<div class="panel panel-default unread ">
                                        <div class="panel-body">
                                            <li class="media">
                                             
                                                <div class="media-left">
                                                    <img class="company_logo" src="${value[5]}" alt="">
                                                </div>
                                                <div class="media-body">
                                                <span class='remove' id="${parseInt(key)}"><i class="fa fa-times pull-right" value='1' aria-hidden="true"></i></span>
                                                <span class="headfont">${value[1]}</span>
                                                <br>
                                                ${value[2]}
                                                <div class="media-annotation">
                                                    <div class="media-annotation">${value[4]}</div> 
                                                </div>
                                                </div>
                                             
                                            </li>
                                        </div>
                                    </div>`
                                )
                            }
                            else{
                                $('.search_items').append(
                                    `<div class="panel panel-default read_">
                                        <div class="panel-body">
                                            <li class="media">
                                             
                                                <div class="media-left">
                                                    <img class="company_logo" src="${value[5]}" alt="">
                                                </div>
                                                <div class="media-body">
                                                <span class='remove' id="${parseInt(key)}"><i class="fa fa-times pull-right" value='1' aria-hidden="true"></i></span>
                                                <span class="headfont">${value[1]}</span>
                                                <br>
                                                ${value[2]}
                                                <div class="media-annotation">
                                                    <div class="media-annotation">${value[4]}</div>
                                                </div>
                                                </div>
                                             
                                            </li>
                                        </div>
                                    </div>`
                                )
                            }
                        }
                    }
                })
            })
        })
    }

    function client_notifs(status, key, value){
        var read_notifs_ids = $('#read_notifs_ids');
        var i = JSON.parse(read_notifs_ids[0].value);
        var id_set = new Set(i);
        if (status == 'client'){
            // Add 'unread' & 'read_' class for unread and read notifications
            if(id_set.has(parseInt(key))){
                if (value[0] == 3){
                    $('.search_items').append(
                         `<div class="panel panel-default unread">
                            <div class="panel-body">
                                <li class="media">

                                    <div class="media-left">
                                        <img class="company_logo" src="${value[5]}" alt="">
                                    </div>
                                    <div class="media-body">
                                        <span class='remove' id="${parseInt(key)}"><i class="fa fa-times pull-right" value='1' aria-hidden="true"></i></span>
                                    <a href="/client/pending-campaign/" class="read_notif" id="${parseInt(key)}">  <span class="headfont">${value[1]}</span><br>
                                        ${value[2]}  </a>
                                        <div class="media-annotation">
                                            <div class="media-annotation">${value[4]}</div>
                                        </div>
                                    </div>
                                </li>
                            </div>
                        </div> `
                     )
                }
                else if (value[0] == 1){
                     $('.search_items').append(
                         `<div class="panel panel-default unread">
                            <div class="panel-body">
                                <li class="media">

                                    <div class="media-left">
                                        <img class="company_logo" src="${value[5]}" alt="">
                                    </div>
                                    <div class="media-body">
                                        <span class='remove' id="${parseInt(key)}"><i class="fa fa-times pull-right" value='1' aria-hidden="true"></i></span>
                                    <a href="/client/live-campaign/" class="read_notif" id="${parseInt(key)}">  <span class="headfont">${value[1]}</span><br>
                                        ${value[2]}  </a>
                                        <div class="media-annotation">
                                            <div class="media-annotation">${value[4]}</div> 
                                        </div>
                                    </div>
                                </li>
                            </div>
                        </div> `
                     )
                }
                else if (value[0] == 0){
                     $('.search_items').append(
                         `<div class="panel panel-default unread">
                            <div class="panel-body">
                                <li class="media">

                                    <div class="media-left">
                                        <img class="company_logo" src="${value[5]}" alt="">
                                    </div>
                                    <div class="media-body">
                                        <span class='remove' id="${parseInt(key)}"><i class="fa fa-times pull-right" value='1' aria-hidden="true"></i></span>
                                    <a href="/client/draft-campaign/" class="read_notif" id="${parseInt(key)}">  <span class="headfont">${value[1]}</span><br>
                                        ${value[2]}  </a>
                                        <div class="media-annotation">
                                            <div class="media-annotation">${value[4]}</div> 
                                        </div>
                                    </div>
                                </li>
                            </div>
                        </div> `
                     )
                }
                else if (value[0] == 4){
                    $('.search_items').append(
                         `<div class="panel panel-default unread">
                            <div class="panel-body">
                                <li class="media">

                                    <div class="media-left">
                                        <img class="company_logo" src="${value[5]}" alt="">
                                    </div>
                                    <div class="media-body">
                                        <span class='remove' id="${parseInt(key)}"><i class="fa fa-times pull-right" value='1' aria-hidden="true"></i></span>
                                    <a href="/client/completed-campaign/" class="read_notif" id="${parseInt(key)}">  <span class="headfont">${value[1]}</span><br>
                                        ${value[2]}  </a>
                                        <div class="media-annotation">
                                            <div class="media-annotation">${value[4]}</div> 
                                        </div>
                                    </div>
                                </li>
                            </div>
                        </div> `
                     )
                }
                else if (value[0] == 5){
                    $('.search_items').append(
                         `<div class="panel panel-default unread">
                            <div class="panel-body">
                                <li class="media">

                                    <div class="media-left">
                                        <img class="company_logo" src="${value[5]}" alt="">
                                    </div>
                                    <div class="media-body">
                                        <span class='remove' id="${parseInt(key)}"><i class="fa fa-times pull-right" value='1' aria-hidden="true"></i></span>
                                    <a href="/client/assigned-campaign/" class="read_notif" id="${parseInt(key)}">  <span class="headfont">${value[1]}</span><br>
                                        ${value[2]}  </a>
                                        <div class="media-annotation">
                                            <div class="media-annotation">${value[4]}</div> 
                                        </div>
                                    </div>
                                </li>
                            </div>
                        </div> `
                     )
                }
            }
            else{
                if (value[0] == 3){
                    $('.search_items').append(
                         `<div class="panel panel-default read_">
                            <div class="panel-body">
                                <li class="media">

                                    <div class="media-left">
                                        <img class="company_logo" src="${value[5]}" alt="">
                                    </div>
                                    <div class="media-body">
                                        <span class='remove' id="${parseInt(key)}"><i class="fa fa-times pull-right" value='1' aria-hidden="true"></i></span>
                                    <a href="/client/pending-campaign/" class="read_notif" id="${parseInt(key)}">  <span class="headfont">${value[1]}</span><br>
                                        ${value[2]}  </a>
                                        <div class="media-annotation">
                                            <div class="media-annotation">${value[4]}</div> 
                                        </div>
                                    </div>
                                </li>
                            </div>
                        </div> `
                     )
                }
                else if (value[0] == 1){
                    $('.search_items').append(
                         `<div class="panel panel-default read_">
                            <div class="panel-body">
                                <li class="media">

                                    <div class="media-left">
                                        <img class="company_logo" src="${value[5]}" alt="">
                                    </div>
                                    <div class="media-body">
                                        <span class='remove' id="${parseInt(key)}"><i class="fa fa-times pull-right" value='1' aria-hidden="true"></i></span>
                                    <a href="/client/live-campaign/" class="read_notif" id="${parseInt(key)}">  <span class="headfont">${value[1]}</span><br>
                                        ${value[2]}  </a>
                                        <div class="media-annotation">
                                            <div class="media-annotation">${value[4]}</div> 
                                        </div>
                                    </div>
                                </li>
                            </div>
                        </div> `
                     )
                }
                else if (value[0] == 4){
                    $('.search_items').append(
                         `<div class="panel panel-default read_">
                            <div class="panel-body">
                                <li class="media">

                                    <div class="media-left">
                                        <img class="company_logo" src="${value[5]}" alt="">
                                    </div>
                                    <div class="media-body">
                                        <span class='remove' id="${parseInt(key)}"><i class="fa fa-times pull-right" value='1' aria-hidden="true"></i></span>
                                    <a href="/client/completed-campaign/" class="read_notif" id="${parseInt(key)}">  <span class="headfont">${value[1]}</span><br>
                                        ${value[2]}  </a>
                                        <div class="media-annotation">
                                            <div class="media-annotation">${value[4]}</div> 
                                        </div>
                                    </div>
                                </li>
                            </div>
                        </div> `
                     )
                }
                else if (value[0] == 0){
                    $('.search_items').append(
                         `<div class="panel panel-default read_">
                            <div class="panel-body">
                                <li class="media">

                                    <div class="media-left">
                                        <img class="company_logo" src="${value[5]}" alt="">
                                    </div>
                                    <div class="media-body">
                                        <span class='remove' id="${parseInt(key)}"><i class="fa fa-times pull-right" value='1' aria-hidden="true"></i></span>
                                    <a href="/client/draft-campaign/" class="read_notif" id="${parseInt(key)}">  <span class="headfont">${value[1]}</span><br>
                                        ${value[2]}  </a>
                                        <div class="media-annotation">
                                            <div class="media-annotation">${value[4]}</div> 
                                        </div>
                                    </div>
                                </li>
                            </div>
                        </div> `
                     )
                }
                else if (value[0] == 5){
                    $('.search_items').append(
                         `<div class="panel panel-default read_">
                            <div class="panel-body">
                                <li class="media">

                                    <div class="media-left">
                                        <img class="company_logo" src="${value[5]}" alt="">
                                    </div>
                                    <div class="media-body">
                                        <span class='remove' id="${parseInt(key)}"><i class="fa fa-times pull-right" value='1' aria-hidden="true"></i></span>
                                    <a href="/client/assigned-campaign/" class="read_notif" id="${parseInt(key)}">  <span class="headfont">${value[1]}</span><br>
                                        ${value[2]}  </a>
                                        <div class="media-annotation">
                                            <div class="media-annotation">${value[4]}</div> 
                                        </div>
                                    </div>
                                </li>
                            </div>
                        </div> `
                     )
                }
            }
        }
        else{
            return false
        }
    }
    function vendor_notifs(status, key, value){
        var read_notifs_ids = $('#read_notifs_ids');
        var i = JSON.parse(read_notifs_ids[0].value);
        var id_set = new Set(i);
        if (status == 'vendor'){
            // Add 'unread' & 'read_' class for unread and read notifications
            if(id_set.has(parseInt(key))){
                if (value[0] == 1){
                    $('.search_items').append(
                        `<div class="panel panel-default unread">
                            <div class="panel-body">
                                <li class="media">

                                    <div class="media-left">
                                        <img class="company_logo" src="${value[5]}" alt="">
                                    </div>
                                    <div class="media-body">
                                        <span class='remove' id="${parseInt(key)}"><i class="fa fa-times pull-right" value='1' aria-hidden="true"></i></span>
                                        <a href="/client/leadlist/{{row.camp_alloc.id}}/{{row.camp_alloc.status}}" class="read_notif" id="${parseInt(key)}"><span class="headfont">${value[1]}</span>
                                        <br>
                                        ${value[2]}
                                    </a>
                                        <div class="media-annotation">
                                            <div class="media-annotation">${value[4]}</div> 
                                        </div>
                                    </div>
                                </li>
                            </div>
                        </div>`
                    )
                }
            }
            else{
                $('.search_items').append(
                    `<div class="panel panel-default read_">
                        <div class="panel-body">
                            <li class="media">

                                <div class="media-left">
                                    <img class="company_logo" src="${value[5]}" alt="">
                                </div>
                                <div class="media-body">
                                    <span class='remove' id="${parseInt(key)}"><i class="fa fa-times pull-right" value='1' aria-hidden="true"></i></span>
                                    <a href="/client/leadlist/{{row.camp_alloc.id}}/{{row.camp_alloc.status}}" class="read_notif" id="${parseInt(key)}"><span class="headfont">${value[1]}</span>
                                    <br>
                                    ${value[2]}
                                </a>
                                    <div class="media-annotation">
                                        <div class="media-annotation">${value[4]}</div> 
                                    </div>
                                </div>
                            </li>
                        </div>
                    </div>`
                )
            }
        }
        else{
            return false
        }
    }
     // notifs is being read..Akshay
    $(document).on('click','.read_notif',function () {
        var id = $(this).attr('id');
        // $(this).parentsUntil("ul").hide();
        var csrftoken = getCookie('csrftoken');
        $.ajax({
        type: "POST",
        url: "/superadmin/ReadNotification/", //Relative or absolute path to response.php file
        data: { 'id': id, 'csrfmiddlewaretoken': csrftoken ,'flag':1},
        success: function (data) {
            // var notificount = data.notifycount;
            $(".noticount").text(notificount);

        },
        error: function (data) {

            // var notificount = data.notifycount;
            $(".noticount").text(notificount);
        },
        });
    });
    
    // notifs is being removed
    $(document).on('click',".remove",function () {
        var id = $(this).attr('id');
        if($(this).parents().hasClass('search_items')){
            $(this).closest('.panel-default').remove();
        }
        else{
            $(this).closest('.infinite-item').remove();
        }
        var csrftoken = getCookie('csrftoken');
        $.ajax({
            type: "POST",
            url: "/superadmin/ReadNotification/", //Relative or absolute path to response.php file
            data: { 'id': id, 'csrfmiddlewaretoken': csrftoken ,'flag':2},
            success: function (data) {
                $(".noticount").text(data.notifycount);

            },
            error: function (data) {
                $(".noticount").text(data.notifycount);
            },
        });
        if(start_date == '' && end_date == '' && $('#search_campaign').val().trim().length == 0){
            destroy_infinite_instance();
            $('#search_campaign').blur();
        }
    });
</script>
<style>
      /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
      * {
  box-sizing: border-box;
}



input {
  border: 1px solid #ccc;
  font-size: 12px;
  height: 30px;
  padding: 4px 8px;
  position: absolute;
  width: 50%;
}
input:focus {
  outline: none;
}

button {
  text-align: center;
}
button:focus {
  outline: none;
}
button.btn-search, button.btn-reset {
  background: hotpink;
  border: none;
  height: 30px;
  font-size: 12px;
  padding: 4px;
  position: absolute;
  width: 30px;
}

.sample {
    float: right;
    height: 50px;
    /* margin: 0 8%; */
    position: relative;
    width: 34%;
    margin-top: 1%;
    margin-left: 37%;
}
.sample.seven input, .sample.eight input {
  /*border-right: none;*/
  transition: all .3s ease-in;
  width: 120px;
}
.sample.seven input:focus, .sample.eight input:focus {
  width: 220px;
}
.sample.seven input:focus ~ button.btn-search, .sample.eight input:focus ~ button.btn-search {
  background: hotpink;
  border-radius: 0 50% 50% 0;
  color: #fff;
  left: 220px;
}
.sample.seven input:focus ~ button.btn-reset, .sample.eight input:focus ~ button.btn-reset {
  animation: bounceRight .6s;
  animation-delay: .2s;
  animation-timing-function: cubic-bezier(0.3, 0.2, 1, 0.8);
  border-radius: 50%;
  color: #fff;
  left: 254px;
}
.sample.seven button.btn-search, .sample.eight button.btn-search {
  background: #ccc;
  left: -20px;
  transition: all .3s ease-in;
  border-radius: 0px!important;
}
.sample.seven button.btn-reset, .sample.eight button.btn-reset {
  background: #000;
  height: 20px;
  left: 120px;
  top: 5px;
  transition: all .3s ease-in;
  width: 20px;
  z-index: -1;
}

button.btn-search, button.btn-reset {
    background: #cccccc!important;
    border: none;
    height: 30px;
    font-size: 12px;
    padding: 4px;
    position: absolute;
    width: 30px;
}
@keyframes bounceRight {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes jumpTowardSearch {
  0% {
    background: #ccc;
    opacity: 1;
    transform: rotateZ(0deg) scale(1);
  }
  20% {
    background: #ccc;
    opacity: 0;
    transform: rotateZ(-60deg) scale(50);
  }
  55% {
    background: hotpink;
    opacity: 0;
    transform: rotateZ(-30deg) scale(100);
  }
  90% {
    background: hotpink;
    opacity: 0;
    transform: rotateZ(-30deg) scale(50);
  }
  100% {
    background: hotpink;
    opacity: 1;
    transform: rotateZ(0deg) scale(1);
  }
}
@keyframes jumpTowardReset {
  0% {
    opacity: 0;
    transform: rotateZ(0deg) scale(1);
  }
  20% {
    opacity: 0;
    transform: rotateZ(-60deg) scale(50);
  }
  55% {
    opacity: 0;
    transform: rotateZ(-30deg) scale(100);
  }
  90% {
    opacity: 0;
    transform: rotateZ(-30deg) scale(50);
  }
  100% {
    opacity: 1;
    transform: rotateZ(0deg) scale(1);
  }
}

.date-picker {
  margin: 200px auto;
}

.date-picker {
    width: 12%;
    height: auto;
    max-height: 50px;
    background: white;
    position: relative;
    overflow: hidden;
    transition: all 0.3s 0s ease-in-out;
}
.date-picker .input {
  width: 100%;
  height: 50px;
  font-size: 0;
  cursor: pointer;
}
.date-picker .input .result, .date-picker .input button {
  display: inline-block;
  vertical-align: top;
}
.date-picker .input .result {
  width: calc(100% - 50px);
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  padding: 0 10px;
  color: grey;
  box-sizing: border-box;
}
.date-picker .input button {
  width: 50px;
  height: 50px;
  background-color: #8392A7;
  color: white;
  line-height: 50px;
  border: 0;
  font-size: 18px;
  padding: 0;
}
.date-picker .input button:hover {
  background-color: #68768A;
}
.date-picker .input button:focus {
  outline: 0;
}
.date-picker .calendar {
  position: relative;
  width: 100%;
  background: #fff;
  border-radius: 0px;
  overflow: hidden;
}
.date-picker .ui-datepicker-inline {
  position: relative;
  width: 100%;
}
.date-picker .ui-datepicker-header {
  height: 100%;
  line-height: 50px;
  background: #8392A7;
  color: #fff;
  margin-bottom: 10px;
}
.date-picker .ui-datepicker-prev, .date-picker .ui-datepicker-next {
  width: 20px;
  height: 20px;
  text-indent: 9999px;
  border: 2px solid #fff;
  border-radius: 100%;
  cursor: pointer;
  overflow: hidden;
  margin-top: 12px;
}
.date-picker .ui-datepicker-prev {
  float: left;
  margin-left: 12px;
}
.date-picker .ui-datepicker-prev:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: -43px 0px 0px 8px;
}
.date-picker .ui-datepicker-next {
  float: right;
  margin-right: 12px;
}
.date-picker .ui-datepicker-next:after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin: -43px 0px 0px 6px;
}
.date-picker .ui-datepicker-prev:after, .date-picker .ui-datepicker-next:after {
  content: "";
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.date-picker .ui-datepicker-prev:hover, .date-picker .ui-datepicker-next:hover, .date-picker .ui-datepicker-prev:hover:after, .date-picker .ui-datepicker-next:hover:after {
  border-color: #68768A;
}
.date-picker .ui-datepicker-title {
  text-align: center;
}
.date-picker .ui-datepicker-calendar {
  width: 100%;
  text-align: center;
}
.date-picker .ui-datepicker-calendar thead tr th span {
  display: block;
  width: 100%;
  color: #8392A7;
  margin-bottom: 5px;
  font-size: 13px;
}
.date-picker .ui-state-default {
  display: block;
  text-decoration: none;
  color: #b5b5b5;
  line-height: 40px;
  font-size: 12px;
}
.date-picker .ui-state-default:hover {
  background: rgba(0, 0, 0, 0.02);
}
.date-picker .ui-state-highlight {
  color: #68768A;
}
.date-picker .ui-state-active {
  color: #68768A;
  background-color: rgba(131, 146, 167, 0.12);
  font-weight: 600;
}
.date-picker .ui-datepicker-unselectable .ui-state-default {
  color: #eee;
  border: 2px solid transparent;
}
.date-picker.open {
  max-height: 400px;
}
.date-picker.open .input button {
  background: #68768A;
}

    </style>

<style>
        /* body{
            overflow-y: hidden;
        } */
        .sidebar-fixed{
            position: fixed!important;
        }
        .col-md-12 {
                width: 84%;
                left: 16%;
            }
        .container{
            background-color:white;
        }
        .panel{
            background-color: #fff;
            height: 80px;
        }
        .panel-body {
            padding: 15px!important;
        }
        .read_{
            background-color: #dee2e04f;
        }
        .panel-info{
            text-align:center;
            font-size:19px;
            background-color: aliceblue;
            height: 49px
        }
        .unread {
            background-color: #5cb5f761!important;
        }
       #select_filter{
            margin-right: -19px;
        }
        #filter{
            margin-left: -16px;
         
        }
        .panel-height {
                min-height: 90vh;
            }
        .fa-calendar{
            font-size: 12px;
        }
        .date_bg{
            border: 2px solid #e2baba;
            padding: 2% 5%;
            background: #fff0f0;
            border-radius: 35px;
        }
        .infinite-item{
                border: 2px solid #ddd;
                border-bottom: 0px;
                overflow: hidden;
                box-shadow: 8px 5px 10px 0px #a29393;
                border-radius: 10px;
        }
        .cal_img{
            width: 30px;
        }
        .unread{
            background-color: aquamarine
        }
       
        @media only screen and (max-width: 1299px) {
            .col-md-12 {
                width: 84%;
                left: 16%;
            }
            .header {
                background: #fff;
                display: flex;
                width: 72.1%;
                margin-left: 4.7%;
                box-shadow: 0 -5px 5px 6px #eeeded;
            }
            .header1{
                background: #fff;
                display: flex;
                width: 87.5%;
                margin-left: 5.7%;
                margin-top: 4%;
            }
            .sample {
                float: right;
                height: 50px;
                /* margin: 0 8%; */
                position: relative;
                width: 34%;
                margin-top: 2%;
                margin-left: 10%;
            }
        }

        @media only screen and (max-width:  1366px) and (min-width:1300px){
            .col-md-12 {
                width: 85%;
                left: 15%;
            }
            .header{
                background: #fff;
                display: flex;
                width: 77%;
                margin-left: 5%;
                box-shadow: 0 -5px 5px 6px #eeeded;
            }
            .header1{
                background: #fff;
                display: flex;
                width: 87.5%;
                margin-left: 5.7%;
                margin-top: 4%;
            }
            .header1 {
                background: #fff;
                display: flex;
                width: 92%;
                margin-left: 4%;
                margin-top: 4%;
            }
            .header {
                background: #fff;
                display: flex;
                width: 77%;
                margin-left: 3.4%;
                box-shadow: 0 -5px 5px 6px #eeeded;
            }
            .sample {
                float: right;
                height: 50px;
                /* margin: 0 8%; */
                position: relative;
                width: 34%;
                margin-top: 1.9%;
                margin-left: 21%;
            }
        }
        @media only screen and (min-width:  1400px) and (max-width:1600px){
            .col-md-12 {
                    width: 86%;
                    left: 14%;
                }
            .header{
                background: #fff;
                display: flex;
                width: 77%;
                margin-left: 5%;
                box-shadow: 0 -5px 5px 6px #eeeded;
            }
            .header1{
                background: #fff;
                display: flex;
                width: 90.8%;
                margin-left: 6%;
                margin-top: 4%;
            }
            .sample {
                float: right;
                height: 50px;
                /* margin: 0 8%; */
                position: relative;
                width: 34%;
                margin-top: 1.6%;
                margin-left: 27%;
            }
        }
        @media only screen and (min-width:  1800px){
            .col-md-12 {
                    width: 89%;
                    left: 11%;
                }
            .header{
                background: #fff;
                display: flex;
                width: 77%;
                margin-left: 5%;
                box-shadow: 0 -5px 5px 6px #eeeded;
            }
            .header1{
                background: #fff;
                display: flex;
                width: 87.5%;
                margin-left: 5.7%;
                margin-top: 4%;
            }
            .sample {
                float: right;
                height: 50px;
                /* margin: 0 8%; */
                position: relative;
                width: 34%;
                margin-top: 1.5%;
                margin-left: 37%;
            }
        }
</style>
<style>
    .cur-year{
        margin-top: -24%!important;
    }
</style>
{% endblock %}
