{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<style media="screen">
  .validation_error {
    border-bottom: 1px solid #ec0c0c !important;
  }

  .in {
    display: none;
  }
  .image_div{
    padding: 1%;
    width: 48%;
    margin-right: 2%;
    height: 20vh;
  }
  .wizard > .actions {
    position: relative;
    display: block;
    text-align: right;
    padding: 20px;
    padding-top: 20px!important;
  }
  .lead_app{
    padding: 2%;
    width: 29%;
    margin-right: 2%;
    margin-left: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .display-block{
    color: #4c4545;
    font-size: 15px;
    font-weight: bold;
  }
  .modal-backdrop {
    display: none;
  }
  .file-field1,.file-field2{
    text-align: center;
  }
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  #industry_error>.multi-select-full>span>.selection>.select2-selection>ul>li>.select2-search__field : focus {
    visibility: hidden;
    border-bottom: 0px solid #26a69a !important;
  }


  .addbottem {
    border-bottom: 1px solid #26a69a;
  }
  #industry_type_id + .select2-container input[type=search]{
    border-bottom: 1px solid #d9e2e100;
    -webkit-box-shadow: 0 1px 0 0 #26a69a;
    box-shadow: 0 1px 0 0 #26a69a0a;
  }
  .btn-icon.btn-xs, .input-group-xs > .input-group-btn > .btn.btn-icon {
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 50%;
}
</style>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" />
<!-- <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script> -->
<!-- <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script> -->

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<style type="text/css">
  .fileError {
    margin-left: 10%;
    color: #948e8e;
  }

  #div_signcontract {
    width: 99%;
  }

  .popupHeader {
    margin: 10px;
  }

  .doc {
    min-height: 200px !important;
    margin-left: 110px !important;

  }

  .ui-mobile .ui-page {
    width: 0px;
  }
 /* Class added by manjusha*/
  .logo-alignment{
    margin-left: -25%;
    margin-top: 5%;
  }
  @media only screen and (max-width: 1366px) and (min-height: 500px) {
    .logo-alignment {
      margin-left: -22%!important;
      margin-top: 7%!important;
    }
  } 
</style>
<script type="text/javascript">
  var isSign = false;
  var leftMButtonDown = false;

  jQuery(function () {
    //Initialize sign pad
    init_Sign_Canvas();
  });


  function fun_submit() {
    if (isSign) {
      $(".loader").show();
      var canvas = $(".canvas").get(0);
      var imgData = canvas.toDataURL();
      token = getCookie('csrftoken');
      // alert(imgData);
      // alert(token);
      jQuery('.btn_docsign').find('p').remove();
      jQuery('.btn_docsign').find('img').remove();
      jQuery('.btn_docsign').append(jQuery('<p></p>'));
      jQuery('.btn_docsign').append($('<img/>').attr('src', imgData));
      var $this = $(this);
      var dataurl = ($('.pdf_file').attr("src"))
      var pdf = ($('.pdfdata').attr("src"))
      var pdf3 = ($('.pdfdata3').attr("src"))
      var pdf4 = ($('.pdfdata4').attr("src"))
      var pdf5 = ($('.pdfdata5').attr("src"))
      console.log(imgData)
      $.ajax({
        type: "POST",
        url: '/client/sign/',
        data: { 'img': imgData, 'pdfdata': dataurl, 'pdfFile': pdf, 'pdfFile3': pdf3, 'pdfFile4': pdf4, 'pdfFile5': pdf5, csrfmiddlewaretoken: token },
        success: function (data) {

          $('.pdf1').attr('src', "/media" + data.pdf1.slice(0, -1));
          $('.pdf2').attr('src', "/media" + data.pdf2.slice(0, -1));
          $('.pdf3').attr('src', "/media" + data.pdf3.slice(0, -1));
          $('.pdf4').attr('src', "/media" + data.pdf4.slice(0, -1));
          $('.pdf5').attr('src', "/media" + data.pdf5.slice(0, -1));
          $('.docs_check').prop('checked', true);
          $('.btn_docsign').addClass('hidden');
          $(".loader").fadeOut("slow");
          //Here if u have to do something with the response
        }
      });
      closePopUp();
    } else {
      swal({
        title: "Please sign on PDF...",
        icon: "error",
        confirmButtonText: "OK"
      })
      // alert('Please sign');
    }
  }
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  function closePopUp() {
    jQuery('#divPopUpSignContract').popup('close');
    console.log($(this))
    jQuery('#divPopUpSignContract').popup('close');
  }

  function init_Sign_Canvas() {
    isSign = false;
    leftMButtonDown = false;

    //Set Canvas width
    var sizedWindowWidth = $(window).width();
    if (sizedWindowWidth > 700)
      sizedWindowWidth = $(window).width() / 2;
    else if (sizedWindowWidth > 400)
      sizedWindowWidth = sizedWindowWidth - 100;
    else
      sizedWindowWidth = sizedWindowWidth - 50;

    $(".canvas").width(sizedWindowWidth);
    $(".canvas").height(200);
    $(".canvas").css("border", "1px solid #000");

    var canvas = $(".canvas").get(0);

    canvasContext = canvas.getContext('2d');

    if (canvasContext) {
      canvasContext.canvas.width = sizedWindowWidth;
      canvasContext.canvas.height = 200;

      canvasContext.fillStyle = "#fff";
      canvasContext.fillRect(0, 0, sizedWindowWidth, 200);

      canvasContext.moveTo(50, 150);
      canvasContext.lineTo(sizedWindowWidth - 50, 150);
      canvasContext.stroke();

      canvasContext.fillStyle = "#000";
      canvasContext.font = "20px Arial";
      canvasContext.fillText("x", 40, 155);
    }
    // Bind Mouse events
    $(canvas).on('mousedown', function (e) {
      if (e.which === 1) {
        leftMButtonDown = true;
        canvasContext.fillStyle = "#000";
        var x = e.pageX - $(e.target).offset().left;
        var y = e.pageY - $(e.target).offset().top;
        canvasContext.moveTo(x, y);
      }
      e.preventDefault();
      return false;
    });

    $(canvas).on('mouseup', function (e) {
      if (leftMButtonDown && e.which === 1) {
        leftMButtonDown = false;
        isSign = true;
      }
      e.preventDefault();
      return false;
    });

    // draw a line from the last point to this one
    $(canvas).on('mousemove', function (e) {
      if (leftMButtonDown == true) {
        canvasContext.fillStyle = "#000";
        var x = e.pageX - $(e.target).offset().left;
        var y = e.pageY - $(e.target).offset().top;
        canvasContext.lineTo(x, y);
        canvasContext.stroke();
      }
      e.preventDefault();
      return false;
    });

    //bind touch events
    $(canvas).on('touchstart', function (e) {
      leftMButtonDown = true;
      canvasContext.fillStyle = "#000";
      var t = e.originalEvent.touches[0];
      var x = t.pageX - $(e.target).offset().left;
      var y = t.pageY - $(e.target).offset().top;
      canvasContext.moveTo(x, y);

      e.preventDefault();
      return false;
    });

    $(canvas).on('touchmove', function (e) {
      canvasContext.fillStyle = "#000";
      var t = e.originalEvent.touches[0];
      var x = t.pageX - $(e.target).offset().left;
      var y = t.pageY - $(e.target).offset().top;
      canvasContext.lineTo(x, y);
      canvasContext.stroke();

      e.preventDefault();
      return false;
    });

    $(canvas).on('touchend', function (e) {
      if (leftMButtonDown) {
        leftMButtonDown = false;
        isSign = true;
      }

    });
  }

  $('.signdoc').click(function () {
    console.log($(this))
  })




</script>