{% extends "header/cheader.html" %}
{% block scripts %}
{% include "dashboard/client_boarding_head.html" %}
{% endblock %}
{% block content %}
<!-- docusign -->
{% load static %}
<!-- /docusign -->
<!-- Main content -->
{% load range %}
<!--<div class="sticky pull-right rotate" id="on_boarding"><span class="btn btn-primary" onclick="openModal()">On Boarding</span></div>-->
<div class="content-wrapper">
  <!-- Content area -->
  <div class="content">
    <!-- tech connector data-->
    <div class="row">
      <div class="col-md-12">
        <div>
          <div class="row">
            <div class="panel panel-height panel-flat">
              <div class="panel-body">
                <div id="welcome">
                  <h1 id="welcome">
                    Welcome to the TechConnectr Marketplace for B2B Marketers
                  </h1>
                  <p id="welcome">
                    TechConnectr is a one-stop marketplace of and for best-of-breed B2B marketers, agencies, publishers,
                    and b2b lead generation
                    solution providers
                  </p>
                </div>
                {% if onBording != 3 %}
                <div id="centertext">
                  <a href="http://34.236.149.218/techconnectr_docs/index.html" target="__blank">
                    <button id="bt" type="button" class="btn btn-primary btn-raised"> documentation </button>
                  </a>
                </div>

                {%endif%}
              </div>
              <div class="panel-body">
                <!-- pie charts-->
                <div class="row" style="margin:10px">
                  <form class="steps-validation" id="onboradingform" action="www.techconnectr" method="post">
                    {% csrf_token %}
                    <h6>Company Info</h6>
                    <fieldset>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label><span style="color:red;">* </span>Company:</label>
                            <input type="text" value="{{userdetails.user_name}}" id="company_name" name="user_name"
                              placeholder="Company Name" class="form-control">
                          </div>
                          <div class="form-group">
                            <label><span style="color:red;">* </span>Website:</label>
                            <input type="text" value="{{client_vendor.website}}" id="website" name="website"
                              placeholder="https://example.com" class="form-control">
                          </div>
                          <div class="form-group">
                            <label><span style="color:red;">* </span>Address Line 1:</label>
                            <input type="text" value="{{userdetails.address_line1}}" id="address_line1"
                              name="address_line1" placeholder="Address Line 1" class="form-control">
                          </div>
                          <div class="form-group" id="country_error">
                            <label><span style="color:red;">* </span>Country:</label>
                            <select name="country" id="country" data-placeholder="Choose a Country..." class="select">
                              <option value="0">Select Country</option>

                              {% for country1 in countries.all %}
                              {% if country.id == country1.id %}
                              <option value="{{ country.id }}" selected>{{ country.name }}</option>
                              {% else %}
                              <option value="{{ country1.id }}">{{ country1.name }}</option>
                              {% endif %}
                              {% endfor %}
                            </select>
                          </div>
                          <div class="form-group" id="state_error">
                            <label><span style="color:red;">* </span>State:</label>
                            <select id="state" name="state" data-placeholder="Choose a State..." class="select"
                              required>
                              <option value="0" selected>Select State</option>
                              <option value="{{ state.id }}" selected>{{ state.name }}</option>
                            </select>
                          </div>

                          <!-- <div class="form-group addbottem" id="industry_error">
                            <span style="color:red;">* </span><label>Industry type you would like to work with ?</label>
                            <div class="">
                              <select name="industry_type_id" id="industry_type_id"
                                data-placeholder="Choose a Industry Type..."
                                class="form-control select select2-hidden-accessible " multiple>
                                <option value="" disabled>Select Industry Type</option>
                                {% for inds in industry.all %}
                                {% if inds in industry1 %}
                                <option value="{{ inds.id }}" selected>{{ inds.type }}</option>
                                {% else %}
                                <option value="{{ inds.id }}">{{ inds.type }}</option>
                                {% endif %}
                                {% endfor %}
                              </select>
                            </div>
                          </div>
                          <label><i>Note: Hold Ctrl/Command for selecting multiple values at once</i></label> -->


                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label><span style="color:red;">* </span>Phone:</label>
                            <input type="number" value="{{userdetails.contact}}" id="phone" name="contact"
                              placeholder="Personal Number" class="form-control" required
                              onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                              min="0">
                          </div>
                          <div class="form-group">
                            <label>Alternate Number:</label>
                            <input type="number" value="{{userdetails.alternative_contact}}" id="alternate_number"
                              name="alternate_number" placeholder="Alternate Number" class="form-control"
                              onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                              min="0">
                          </div>
                          <div class="form-group" style="margin-bottom: 13px">
                            <label>Address Line 2:</label>
                            <input type="text" name="address_line2" id="address_line2"
                              value="{{userdetails.address_line2}}" placeholder="Address Line 2">
                          </div>




                          <div class="form-group" id="city_error" style="margin-bottom: 10px">
                            <label><span style="color:red;">* </span>City:</label>
                            <select name="cities" id="cities" data-placeholder="Choose a City..." class="select">
                              <option value="0">Select City</option>
                              <option value="{{ cities.id }}" selected>{{ cities.name }}</option>
                            </select>
                          </div>
                          <div class="form-group" id="zip_error">
                            <label><span style="color:red;">* </span>Zip Code:</label>
                            <input type="text" name="zip_code" id="zip_code"
                              value="{% if userdetails.zip_code != None %}{{userdetails.zip_code}}{% endif %}"
                              placeholder="Zip Code">
                          </div>
                          <div class="form-group" id="">
                            <label>Anonymous:</label>
                            <div class="switch pull-right">
                              <label>
                                <input type="checkbox" name="anonymous_status" id="anonymous_status"
                                  {% if userdetails.anonymous_status %} checked {% endif %}>
                                <span class="lever"></span>
                              </label>
                            </div>
                            <i style="bottom: -25px;left: -75px;position: relative;">To hide your identity for vendors
                              while they are working on campaign.</i>
                            <!-- <select name="industry_speciality_id" id="industry_speciality_id"
                                data-placeholder="Choose a Speciality..." class="select" required>
                                <option value="0">Select Speciality </option>
                                {% for exp in expert.all %}
                                {% if speciality.id == exp.id %}
                                <option value="{{ speciality.id }}" selected>{{ speciality.name }}</option>
                                {% else %}
                                <option value="{{ exp.id }}">{{ exp.name }}</option>
                                {% endif %}
                                {% endfor %}
                              </select> -->
                          </div>
                        </div>
                      </div>
                    </fieldset>
                    <h6>Business Card Info</h6>
                    <fieldset>
                      <!-- primary contact-->
                      <div class="row">
                        <div class="col-md-12">
                          <h6 class="panel-title primary-contact">Primary Contact :</h6>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label><span style="color:red;">* </span>Full Name:</label>
                            {% if client_vendor.primary_name is not None %}
                            <input type="text" name="primary_name" id="primary_name"
                              value="{{client_vendor.primary_name}}" placeholder="Full Name" class="form-control">
                            {% else %}
                            <input type="text" name="primary_name" id="primary_name" value="" placeholder="Full Name"
                              class="form-control">
                            {% endif %}
                          </div>
                          <div class="form-group">
                            <label><span style="color:red;">* </span>Job Title:</label>
                            {% if client_vendor.primary_designation is not None %}
                            <input type="text" name="primary_designation" id="primary_designation"
                              value="{{client_vendor.primary_designation}}" placeholder="Designation"
                              class="form-control">
                            {% else %}
                            <input type="text" name="primary_designation" id="primary_designation" value=""
                              placeholder="Designation" class="form-control">
                            {% endif %}
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label><span style="color:red;">* </span>Direct Dial:</label>
                            {% if client_vendor.primary_directdial is not None %}
                            <input type="number" name="primary_directdial" id="primary_directdial"
                              value="{{client_vendor.primary_directdial}}" placeholder="Direct Dial"
                              class="form-control" min="0"
                              onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                            {% else %}
                            <input type="number" name="primary_directdial" id="primary_directdial" value=""
                              placeholder="Direct Dial" class="form-control" min="0"
                              onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                            {% endif %}
                          </div>
                          <div class="form-group">
                            <label><span style="color:red;">* </span>Email:</label>
                            {% if client_vendor.primary_email %}
                            <input type="email" value="{{client_vendor.primary_email}}" id="primary_email"
                              name="primary_email" placeholder="Email" class="form-control">
                            {% else %}
                            <input type="email" value="" id="primary_email" name="primary_email" placeholder="Email"
                              class="form-control">
                            {% endif %}
                            <span>Note: Only business email address is allowed.</span>
                          </div>
                        </div>
                      </div>
                      <!-- /primary contact-->
                      <br>
                      <!-- Secondary Contact-->
                      <div class="row">
                        <div class="col-md-12">
                          <h6 class="panel-title secondary-contact">Secondary Contact :</h6>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label><span style="color:red;">* </span>Full Name:</label>
                            {% if client_vendor.secondary_name is not None %}
                            <input type="text" name="secondary_name" id="secondary_name"
                              value="{{client_vendor.secondary_name}}" placeholder="Full Name" class="form-control">
                            {% else %}
                            <input type="text" name="secondary_name" id="secondary_name" value=""
                              placeholder="Full Name" class="form-control">
                            {% endif %}
                          </div>
                          <div class="form-group">
                            <label><span style="color:red;">* </span>Job Title:</label>
                            {% if client_vendor.secondary_designation is not None %}
                            <input type="text" name="secondary_designation" id="secondary_designation"
                              value="{{client_vendor.secondary_designation}}" placeholder="Designation"
                              class="form-control">
                            {% else %}
                            <input type="text" name="secondary_designation" id="secondary_designation" value=""
                              placeholder="Designation" class="form-control">
                            {% endif %}
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label><span style="color:red;">* </span>Direct Dial:</label>
                            {% if client_vendor.secondary_directdial is not None %}
                            <input type="number" value="{{client_vendor.secondary_directdial}}"
                              name="secondary_directdial" id="secondary_directdial" placeholder="Direct Dial"
                              class="form-control" min="0"
                              onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                            {% else %}
                            <input type="number" value="" name="secondary_directdial" id="secondary_directdial"
                              placeholder="Direct Dial" class="form-control" min="0"
                              onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                            {% endif %}
                          </div>
                          <div class="form-group">
                            <label><span style="color:red;">* </span>Email:</label>
                            {% if client_vendor.secondary_email is not None %}
                            <input type="email" value="{{client_vendor.secondary_email}}" name="secondary_email"
                              id="secondary_email" placeholder="Email" class="form-control">
                            {% else %}
                            <input type="email" value="" name="secondary_email" id="secondary_email" placeholder="Email"
                              class="form-control">
                            {% endif %}
                            <span>Note: Only business email address is allowed.</span>
                          </div>
                        </div>

                      </div>
                      <!-- /secondary contact-->
                    </fieldset>
                    <h6>Agreement</h6>
                    <fieldset>
                      <div class="panel-group content-group-lg" id="accordion1">
                        <div class="panel panel-white">
                          <div class="panel-heading">
                            <h6 class="panel-title">
                              <label>
                                {% if data_assesment.nda_aggrement %}
                                <input type="checkbox" class="filled-in docs_check" name="nda_aggrement" value="1"
                                  onclick="return false;" onkeydown="return false;" checked />
                                {%else%}
                                <input type="checkbox" class="filled-in docs_check" name="nda_aggrement" value="1"
                                  onclick="return false;" onkeydown="return false;" />
                                {%endif%}
                                <span style="font-size:.8rem;height:16px"></span>
                              </label>
                              <a data-toggle="collapse" data-parent="#accordion1" href="#accordion-group1">NDA/MNDA</a>
                              {% if data_assesment.nda_aggrement %}
                              {%else%}
                              <!--  <div class="btn_docsign" data-role="content"
                                style="background: #2196F3;color: #fff;display: block;padding: 8px 16px; border-radius: 3px;/*text-transform: uppercase;*/font-weight: 500;border: 1px solid transparent;margin-left: 89%; margin-right: 19px; margin-top: -30px;">
                                <a href="#divPopUpSignContract" style="color: #fff;" data-rel="popup"
                                  data-position-to="window" data-role="button" data-inline="true">DocuSign</a>
                              </div> -->
                              <button style="background: #2196F3;" type="button" class="btn btn-info btn-lg pull-right"
                                data-toggle="modal" data-target="#myModal">DocuSign</button>
                              {%endif%}
                            </h6>
                          </div>
                          <div id="accordion-group1" class="panel-collapse collapse in">
                            <div class="panel-body">
                              <!-- <div class="container"> -->
                              <!-- <h2>Modal Example</h2> -->
                              {% if docpdf.doc1 != '/media/' %}
                              <iframe id="ajaxprogres" src="{{docpdf.doc1}}" width="100%" height="200px"
                                class="pdf1" /></iframe>
                              {% else %}
                              <span class="fileError">No data available</span>
                              {% endif %}
                              <!-- Trigger the modal with a button -->
                              <!-- Modal -->
                              <div class="modal" id="myModal" role="dialog">
                                <div data-role="page" class="doc">
                                  <div data-role="popup" id="divPopUpSignContract">
                                    <div data-role="header" data-theme="b">
                                      <div class="modal-footer">
                                        <button style="background: #2196F3;" type="button" class="btn btn-default"
                                          data-dismiss="modal">Close</button>
                                      </div>
                                      <!--
                                        <a data-role="button" data-rel="back" data-transition="slide"
                                          class="ui-btn-right" onclick="closePop()"> Close </a> -->
                                      <p class="popupHeader">Sign Pad</p>
                                      <iframe class="pdf_file pdf1" name="nda_mnda_document" id="" src="{{docpdf.doc1}}"
                                        width="100%" height="400px" /></iframe>
                                    </div>
                                    <div class="ui-content popUpHeight">
                                      <canvas class="canvas">Canvas is not supported</canvas>
                                      <div>
                                        <input id="btnSubmitSign" class="btn_submit" id="frame" type="button"
                                          data-inline="true" data-mini="true" data-theme="b" value="Submit Sign"
                                          onclick="fun_submit()" />
                                        <input id="btnClearSign" type="button" data-inline="true" data-mini="true"
                                          data-theme="b" value="Clear" onclick="init_Sign_Canvas()" />
                                      </div>
                                    </div>

                                  </div>
                                </div>
                              </div>
                              <!-- docusign -->
                              <!-- <div class="row content">
                                <div class="input-group" style="width: 200px;">
                                  <div data-role="page" class="doc">
                                    <div data-role="popup" id="divPopUpSignContract">
                                      <div data-role="header" data-theme="b">
                                        <a data-role="button" data-rel="back" data-transition="slide"
                                          class="ui-btn-right" onclick="closePop()"> Close </a>
                                        <p class="popupHeader">Sign Pad</p>
                                        <iframe class="pdf_file" name="nda_mnda_document" id="" src="{{docpdf.doc1}}"
                                          width="100%" height="400px" /></iframe>
                                      </div>
                                      <div class="ui-content popUpHeight">
                                        <canvas class="canvas">Canvas is not supported</canvas>
                                        <div>
                                          <input id="btnSubmitSign" class="btn_submit" id="frame" type="button"
                                            data-inline="true" data-mini="true" data-theme="b" value="Submit Sign"
                                            onclick="fun_submit()" />
                                          <input id="btnClearSign" type="button" data-inline="true" data-mini="true"
                                            data-theme="b" value="Clear" onclick="init_Sign_Canvas()" />
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div> -->
                              <!-- end Docusign -->
                              <!-- <embed src="http://www.africau.edu/images/default/sample.pdf#toolbar=0&navpanes=0&scrollbar=0" type="application/pdf" width="100%" height="200px" /> -->
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-white">
                          <div class="panel-heading">
                            <h6 class="panel-title">
                              <label>
                                {% if data_assesment.msa_aggrement %}
                                <input type="checkbox" class="filled-in docs_check" name="msa_aggrement" value="1"
                                  onclick="return false;" onkeydown="return false;" checked />
                                {%else%}
                                <input type="checkbox" class="filled-in docs_check" name="msa_aggrement" value="1"
                                  onclick="return false;" onkeydown="return false;" />
                                {%endif%}
                                <span style="font-size:.8rem;height:16px"></span>
                              </label>
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion1"
                                href="#accordion-group2">MSA</a>
                              {% if data_assesment.msa_aggrement %}
                              {% else %}
                              <!-- <div class="btn_docsign" data-role="content"
                                style="background: #2196F3;
                                  color: #fff;display: block;padding: 8px 16px; border-radius: 3px;/*text-transform: uppercase;*/font-weight: 500;border: 1px solid transparent;margin-left: 89%; margin-right: 19px; margin-top: -30px;">
                                <a href="#divPopUpSignContract" style="color: #fff;" data-rel="popup"
                                  data-position-to="window" data-role="button" data-inline="true">DocuSign</a>
                              </div> -->
                              {% endif %}
                            </h6>
                          </div>
                          <div id="accordion-group2" class="panel-collapse collapse">
                            <div class="panel-body">
                              <!--
                                <embed src="http://www.africau.edu/images/default/sample.pdf#toolbar=0&navpanes=0&scrollbar=0" type="application/pdf" width="100%" height="200px" /> -->
                              <!-- <div class="container"> -->
                              <!-- <h2>Modal Example</h2> -->
                              {% if docpdf.doc2 != '/media/' %}
                              <iframe id="ajaxprogres" src="{{docpdf.doc2}}" width="100%" height="200px"
                                class="pdf2" /></iframe>
                              <!-- Trigger the modal with a button -->
                              {% else %}
                              <span class="fileError">No data available</span>
                              {% endif %}
                              <!-- Modal -->
                              <div class="modal" id="myModal" role="dialog">
                                <div data-role="page" class="doc">
                                  <div data-role="popup" id="divPopUpSignContract">
                                    <div data-role="header" data-theme="b">
                                      <div class="modal-footer">
                                        <button style="background: #2196F3;" type="button" class="btn btn-default"
                                          data-dismiss="modal">Close</button>
                                      </div>
                                      <!--
                                        <a data-role="button" data-rel="back" data-transition="slide"
                                          class="ui-btn-right" onclick="closePop()"> Close </a> -->
                                      <p class="popupHeader">Sign Pad</p>
                                      <iframe class="pdfdata pdf2" name="nda_mnda_document" id="" src="{{docpdf.doc2}}"
                                        width="100%" height="400px" /></iframe>
                                    </div>
                                    <div class="ui-content popUpHeight">
                                      <canvas class="canvas">Canvas is not supported</canvas>
                                      <div>
                                        <input id="btnSubmitSign" class="btn_submit" id="frame" type="button"
                                          data-inline="true" data-mini="true" data-theme="b" value="Submit Sign"
                                          onclick="fun_submit()" />
                                        <input id="btnClearSign" type="button" data-inline="true" data-mini="true"
                                          data-theme="b" value="Clear" onclick="init_Sign_Canvas()" />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- docusign -->
                              <!-- <div class="row content">
                                <iframe class="pdf pdf2" src="{{docpdf.doc2}}" width="100%" height="200px" /></iframe>
                                <div class="input-group" style="width: 200px;">
                                  <div data-role="page" class="doc">
                                    <div data-role="popup" id="divPopUpSignContract">
                                      <div data-role="header" data-theme="b">
                                        <a data-role="button" data-rel="back" data-transition="slide"
                                          class="ui-btn-right" onclick="closePop()"> Close </a>
                                        <p class="popupHeader">Sign Pad</p>
                                        <iframe class="pdfdata" name="msa_document" id="" src="{{docpdf.doc2}}"
                                          width="100%" height="400px" /></iframe>
                                      </div>
                                      <div class="ui-content popUpHeight">
                                        <canvas class="canvas">Canvas is not supported</canvas>
                                        <div>
                                          <input id="btnSubmitSign" class="btn_submit" type="button" data-inline="true"
                                            data-mini="true" data-theme="b" value="Submit Sign"
                                            onclick="fun_submit()" />
                                          <input id="btnClearSign" type="button" data-inline="true" data-mini="true"
                                            data-theme="b" value="Clear" onclick="init_Sign_Canvas()" />
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div> -->
                              <!-- end Docusign -->
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-white">
                          <div class="panel-heading">
                            <h6 class="panel-title">
                              <label>
                                {% if data_assesment.gdpr_aggrement %}
                                <input type="checkbox" class="filled-in docs_check" name="gdpr_aggrement" value="1"
                                  onclick="return false;" onkeydown="return false;" checked />
                                {%else%}
                                <input type="checkbox" class="filled-in docs_check" name="gdpr_aggrement" value="1"
                                  onclick="return false;" onkeydown="return false;" />
                                {%endif%}
                                <span style="font-size:.8rem;height:16px"></span>
                              </label>
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion1"
                                href="#accordion-group3">GDPR</a>
                              {% if data_assesment.gdpr_aggrement %}
                              {%else%}
                              <!-- <div class="btn_docsign" id="page" data-role="content"
                                style="background: #2196F3;color: #fff;display: block;padding: 8px 16px; border-radius: 3px;/*text-transform: uppercase;*/font-weight: 500;border: 1px solid transparent;margin-left: 89%; margin-right: 19px; margin-top: -30px;">
                                <a href="#divPopUpSignContract" style="color: #fff;" id="sign_btn" data-rel="popup"
                                  data-position-to="window" data-role="button" data-inline="true">DocuSign</a>
                              </div> -->
                              {%endif%}
                            </h6>
                          </div>
                          <div id="accordion-group3" class="panel-collapse collapse">
                            <div class="panel-body">
                              <!-- <div class="container"> -->
                              <!-- <h2>Modal Example</h2> -->
                              {% if docpdf.doc3 != '/media/' %}
                              <iframe id="ajaxprogres" src="{{docpdf.doc3}}" width="100%" height="200px"
                                class="pdf3" /></iframe>
                              <!-- Trigger the modal with a button -->
                              {% else %}
                              <span class="fileError">No data available</span>
                              {% endif %}
                              <!-- Modal -->
                              <div class="modal" id="myModal" role="dialog">
                                <div data-role="page" class="doc">
                                  <div data-role="popup" id="divPopUpSignContract">
                                    <div data-role="header" data-theme="b">
                                      <div class="modal-footer">
                                        <button style="background: #2196F3;" type="button" class="btn btn-default"
                                          data-dismiss="modal">Close</button>
                                      </div>
                                      <!--
                                        <a data-role="button" data-rel="back" data-transition="slide"
                                          class="ui-btn-right" onclick="closePop()"> Close </a> -->
                                      <p class="popupHeader">Sign Pad</p>
                                      <iframe class="pdfdata3 pdf3" name="nda_mnda_document" id="" src="{{docpdf.doc3}}"
                                        width="100%" height="400px" /></iframe>
                                    </div>
                                    <div class="ui-content popUpHeight">
                                      <canvas class="canvas">Canvas is not supported</canvas>
                                      <div>
                                        <input id="btnSubmitSign" class="btn_submit" id="frame" type="button"
                                          data-inline="true" data-mini="true" data-theme="b" value="Submit Sign"
                                          onclick="fun_submit()" />
                                        <input id="btnClearSign" type="button" data-inline="true" data-mini="true"
                                          data-theme="b" value="Clear" onclick="init_Sign_Canvas()" />
                                      </div>
                                    </div>

                                  </div>
                                </div>
                              </div>
                              <!-- <embed src="http://www.africau.edu/images/default/sample.pdf#toolbar=0&navpanes=0&scrollbar=0" type="application/pdf" width="100%" height="200px" /> -->
                              <!-- docusign -->
                              <!-- <div class="row content">
                                <iframe class="pdf pdf3" src="{{docpdf.doc3}}" width="100%" height="200px" /></iframe>
                                <div class="input-group" style="width: 200px;">
                                  <div data-role="page" class="doc">
                                    <div data-role="popup" id="divPopUpSignContract">
                                      <div data-role="header" data-theme="b">
                                        <a data-role="button" data-rel="back" data-transition="slide"
                                          class="ui-btn-right" onclick="closePop()"> Close </a>
                                        <p class="popupHeader">Sign Pad</p>

                                        <iframe class="pdfdata3" name="gdpr_document" id="" src="{{docpdf.doc3}}"
                                          width="100%" height="400px" /></iframe>
                                      </div>
                                      <div class="ui-content popUpHeight">
                                        <canvas id="canvas">Canvas is not supported</canvas>
                                        <div>
                                          <input id="btnSubmitSign" class="btn_submit" type="button" data-inline="true"
                                            data-mini="true" data-theme="b" value="Submit Sign"
                                            onclick="fun_submit()" />
                                          <input id="btnClearSign" type="button" data-inline="true" data-mini="true"
                                            data-theme="b" value="Clear" onclick="init_Sign_Canvas()" />
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div> -->
                              <!-- end Docusign -->
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-white">
                          <div class="panel-heading">
                            <h6 class="panel-title">
                              <label>
                                {% if data_assesment.dpa_aggrement %}
                                <input type="checkbox" class="filled-in docs_check" name="dpa_aggrement" value="1"
                                  onclick="return false;" onkeydown="return false;" checked />
                                {%else%}
                                <input type="checkbox" class="filled-in docs_check" name="dpa_aggrement" value="1"
                                  onclick="return false;" onkeydown="return false;" />
                                {%endif%}
                                <span style="font-size:.8rem;height:16px"></span>
                              </label>
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion1"
                                href="#accordion-group4">DPA</a>
                              {% if data_assesment.dpa_aggrement %}
                              {%else%}
                              <!-- <div class="btn_docsign" id="page" data-role="content"
                                style="background: #2196F3;color: #fff;display: block;padding: 8px 16px; border-radius: 3px;/*text-transform: uppercase;*/font-weight: 500;border: 1px solid transparent;margin-left: 89%; margin-right: 19px; margin-top: -30px;">
                                <a href="#divPopUpSignContract" style="color: #fff;" id="sign_btn" data-rel="popup"
                                  data-position-to="window" data-role="button" data-inline="true">DocuSign</a>
                              </div> -->
                              {%endif%}
                            </h6>
                          </div>
                          <div id="accordion-group4" class="panel-collapse collapse">
                            <div class="panel-body">
                              {% if docpdf.doc4 != '/media/' %}
                              <iframe id="ajaxprogres" src="{{docpdf.doc4}}" width="100%" height="200px"
                                class="pdf4" /></iframe>
                              <!-- Trigger the modal with a button -->
                              {% else %}
                              <span class="fileError">No data available</span>
                              {% endif %}
                              <!-- Modal -->
                              <div class="modal" id="myModal" role="dialog">
                                <div data-role="page" class="doc">
                                  <div data-role="popup" id="divPopUpSignContract">
                                    <div data-role="header" data-theme="b">
                                      <div class="modal-footer">
                                        <button style="background: #2196F3;" type="button" class="btn btn-default"
                                          data-dismiss="modal">Close</button>
                                      </div>
                                      <!--
                                        <a data-role="button" data-rel="back" data-transition="slide"
                                          class="ui-btn-right" onclick="closePop()"> Close </a> -->
                                      <p class="popupHeader">Sign Pad</p>
                                      <iframe class="pdfdata4 pdf4" name="nda_mnda_document" id="" src="{{docpdf.doc4}}"
                                        width="100%" height="400px" /></iframe>
                                    </div>
                                    <div class="ui-content popUpHeight">
                                      <canvas class="canvas">Canvas is not supported</canvas>
                                      <div>
                                        <input id="btnSubmitSign" class="btn_submit" id="frame" type="button"
                                          data-inline="true" data-mini="true" data-theme="b" value="Submit Sign"
                                          onclick="fun_submit()" />
                                        <input id="btnClearSign" type="button" data-inline="true" data-mini="true"
                                          data-theme="b" value="Clear" onclick="init_Sign_Canvas()" />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- <embed src="http://www.africau.edu/images/default/sample.pdf#toolbar=0&navpanes=0&scrollbar=0" type="application/pdf" width="100%" height="200px" /> -->
                              <!-- docusign -->
                              <!-- <div class="row content">
                                <iframe class="pdf pdf4" src="{{docpdf.doc4}}" width="100%" height="200px" /></iframe>
                                <div class="input-group" style="width: 200px;">
                                  <div data-role="page" class="doc">
                                    <div data-role="popup" id="divPopUpSignContract">
                                      <div data-role="header" data-theme="b">
                                        <a data-role="button" data-rel="back" data-transition="slide"
                                          class="ui-btn-right" onclick="closePop()"> Close </a>
                                        <p class="popupHeader">Sign Pad</p>
                                        <iframe class="pdfdata4" name="dpa_document" id="" src="{{docpdf.doc4}}"
                                          width="100%" height="400px" /></iframe>
                                      </div>
                                      <div class="ui-content popUpHeight">
                                        <canvas id="canvas">Canvas is not supported</canvas>
                                        <div>
                                          <input id="btnSubmitSign" class="btn_submit" type="button" data-inline="true"
                                            data-mini="true" data-theme="b" value="Submit Sign"
                                            onclick="fun_submit()" />
                                          <input id="btnClearSign" type="button" data-inline="true" data-mini="true"
                                            data-theme="b" value="Clear" onclick="init_Sign_Canvas()" />
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div> -->
                              <!-- end docusign -->
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-white">
                          <div class="panel-heading">
                            <h6 class="panel-title">
                              <label>
                                {% if data_assesment.io_aggrement %}
                                <input type="checkbox" class="filled-in docs_check" name="io_aggrement" value="1"
                                  onclick="return false;" onkeydown="return false;" checked />
                                {%else%}
                                <input type="checkbox" class="filled-in docs_check" name="io_aggrement" value="1"
                                  onclick="return false;" onkeydown="return false;" />
                                {%endif%}
                                <span style="font-size:.8rem;height:16px"></span>
                              </label>
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion1"
                                href="#accordion-group5">IO</a>
                              {% if data_assesment.io_aggrement %}
                              {%else%}
                              <!-- <div class="btn_docsign" id="page" data-role="content"
                                style="background: #2196F3;color: #fff;display: block;padding: 8px 16px; border-radius: 3px;/*text-transform: uppercase;*/font-weight: 500;border: 1px solid transparent;margin-left: 89%; margin-right: 19px; margin-top: -30px;">
                                <a href="#divPopUpSignContract" style="color: #fff;" id="sign_btn" data-rel="popup"
                                  data-position-to="window" data-role="button" data-inline="true">DocuSign</a>
                              </div> -->
                              {%endif%}
                            </h6>
                          </div>
                          <div id="accordion-group5" class="panel-collapse collapse">
                            <div class="panel-body">
                              {% if docpdf.doc5 != '/media/' %}
                              <!-- <embed src="http://www.africau.edu/images/default/sample.pdf#toolbar=0&navpanes=0&scrollbar=0" type="application/pdf" width="100%" height="200px" /> -->
                              <iframe id="ajaxprogres" src="{{docpdf.doc5}}" width="100%" height="200px"
                                class="pdf5" /></iframe>
                              <!-- Trigger the modal with a button -->
                              {% else %}
                              <span class="fileError">No data available</span>
                              {% endif %}
                              <!-- Modal -->
                              <div class="modal" id="myModal" role="dialog">
                                <div data-role="page" class="doc">
                                  <div data-role="popup" id="divPopUpSignContract">
                                    <div data-role="header" data-theme="b">
                                      <div class="modal-footer">
                                        <button style="background: #2196F3;" type="button" class="btn btn-default"
                                          data-dismiss="modal">Close</button>
                                      </div>
                                      <!--
                                        <a data-role="button" data-rel="back" data-transition="slide"
                                          class="ui-btn-right" onclick="closePop()"> Close </a> -->
                                      <p class="popupHeader">Sign Pad</p>
                                      <iframe class="pdfdata5 pdf5" name="nda_mnda_document" id="" src="{{docpdf.doc5}}"
                                        width="100%" height="400px" /></iframe>
                                    </div>
                                    <div class="ui-content popUpHeight">
                                      <canvas class="canvas">Canvas is not supported</canvas>
                                      <div>
                                        <input id="btnSubmitSign" class="btn_submit" id="frame" type="button"
                                          data-inline="true" data-mini="true" data-theme="b" value="Submit Sign"
                                          onclick="fun_submit()" />
                                        <input id="btnClearSign" type="button" data-inline="true" data-mini="true"
                                          data-theme="b" value="Clear" onclick="init_Sign_Canvas()" />
                                      </div>
                                    </div>

                                  </div>
                                </div>
                              </div>
                              <!-- docusign -->
                              <!--    <div class="row content">
                                <iframe class="pdf pdf5" src="{{docpdf.doc5}}" width="100%" height="200px" /></iframe>
                                <div class="input-group" style="width: 200px;">
                                  <div data-role="page" class="doc">
                                    <div data-role="popup" id="divPopUpSignContract">
                                      <div data-role="header" data-theme="b">
                                        <a data-role="button" data-rel="back" data-transition="slide"
                                          class="ui-btn-right" onclick="closePop()"> Close </a>
                                        <p class="popupHeader">Sign Pad</p>
                                        <iframe class="pdfdata5" name="io_document" src="{{docpdf.doc5}}" width="100%"
                                          height="400px" /></iframe>
                                      </div>
                                      <div class="ui-content popUpHeight">
                                        <canvas id="canvas">Canvas is not supported</canvas>
                                        <div>
                                          <input id="btnSubmitSign" class="btn_submit" type="button" data-inline="true"
                                            data-mini="true" data-theme="b" value="Submit Sign"
                                            onclick="fun_submit()" />
                                          <input id="btnClearSign" type="button" data-inline="true" data-mini="true"
                                            data-theme="b" value="Clear" onclick="init_Sign_Canvas()" />
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div> -->
                              <!-- end Docusign -->
                              <!-- end docusign -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                    <h6>Corporate Profile</h6>
                    <fieldset>
                      <div class="row">
                        <!-- <div class="col-md-6">
                          <div class="form-group">
                            <label>Card Details:</label>
                            <textarea name="experience-description" rows="4" cols="4"
                              placeholder="Tasks and responsibilities" class="form-control"></textarea>
                          </div>
                          <div class="form-group">
                            <label>Address:</label>
                            <textarea class="form-control">
                              {{userdetails.address_line1 }} , {{ userdetails.address_line2 }}
                            </textarea>
                          </div>
                        </div> -->
                        <div class="panel col-md-6 image_div">
                          <!-- <div class="form-group">
                            <label>Card Details:</label>
                            <textarea name="experience-description" rows="4" cols="4"
                              placeholder="Tasks and responsibilities" class="form-control"></textarea>
                          </div> -->
                          <div class="col-md-8">
                            <div class="form-group file-field1">
                              <label class="display-block">Media Kit:</label>
                              <label for="media_kit_id" class="btn btn-primary name ellipsis">Browse</label>
                              <input name="recommendations" type="file" id="media_kit_id" accept="application/pdf" class="hidden">
                              <span class="help-block">Max file size: 10Mb</span>
                            </div>
                          </div>
                          <div class="col-md-4 logo-alignment">
                            {% if client_vendor.media_kit %}
                            {{client_vendor.media_kit.url |slice:"7:"}}
                            {% endif %}
                          </div>
                        </div>
                        <div class="panel col-md-6 image_div">
                          <div class="col-md-8">
                            <div class="form-group file-field2">
                              <label class="display-block">Company Logo:</label>
                              <label for="company_logo" class="btn btn-primary name ellipsis">Browse</label>
                              <input name="company_logo" id="company_logo" type="file" class="hidden"
                                onchange="readURL(this);" accept="image/x-png,image/gif,image/jpeg,image/jpg">
                              <span class="help-block">Accepted formats: .jpg, .jpeg, .png. Max file size: 2Mb</span>
                            </div>
                          </div>
                          <div class="col-md-4 logo-alignment">
                            {% if client_vendor.company_logo %}
                            {{client_vendor.company_logo.url |slice:"7:"}}
                            <input class="logo" value={{client_vendor.company_logo.url}} hidden>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                      <!-- <label class="display-block">Lead Approve Flow:</label>
                      {% if leadflow %}
                      <a class="pull-right reset_lead_steps" style="margin-top: -2%;"><i class="fas fa-sync"></i></a>
                      {% for step in leadflow %}
                      <div class="panel col-md-4 lead_app">
                        <label class="display-block">Step {{forloop.counter}}:</label>
                        <input type="text" name="lead_approve_flow_step_{{forloop.counter}} "
                          id="lead_approve_flow_step_{{forloop.counter}}" hidden>
                        <label
                          class="label_step_{{forloop.counter}} step_labels sel_label">{{step|display_step}}</label>
                        <div class="form-group step_{{forloop.counter}} row hidden"
                          data-next="{{forloop.counter|add:1}}"
                          data-value_place="lead_approve_flow_step_{{forloop.counter}}">
                          <select data-placeholder="Choose a step {{forloop.counter}}..." class="select step_selector ">
                            <option value="0">Select Step </option>
                            <option class="opt_internal" value="internal">Internal QA Approve</option>
                            <option class="opt_external" value="external">External QA Approve</option>
                            <option class="opt_client" value="client">Client Approve</option>
                          </select>
                        </div>
                      </div>
                      {% endfor %}
                      {% else %}
                      <a class="pull-right reset_lead_steps" style="margin-top: -2%;"><i class="fas fa-sync"></i></a>
                      <div class="panel col-md-4 lead_app">
                        <label class="display-block">Step 1:</label>
                        <input type="text" name="lead_approve_flow_step_1 " id="lead_approve_flow_step_1" hidden>
                        <label class="label_step_1 step_labels sel_label"></label>
                        <div class="form-group step_1 row" data-next="2" data-value_place="lead_approve_flow_step_1">
                          <select data-placeholder="Choose a step 1..." class="select step_selector ">
                            <option value="0">Select Step </option>
                            <option class="opt_internal" value="internal">Internal QA Approve</option>
                            <option class="opt_external" value="external">External QA Approve</option>
                            <option class="opt_client" value="client">Client Approve</option>
                          </select>
                        </div>
                      </div>
                      <div class="panel col-md-4 lead_app">
                        <label class="display-block">Step 2:</label>
                        <input type="text" name="lead_approve_flow_step_2 " id="lead_approve_flow_step_2" hidden>
                        <label class="label_step_2 step_labels sel_label"></label>
                        <div class="form-group step_2 row hidden" data-next="3"
                          data-value_place="lead_approve_flow_step_2">
                          <select data-placeholder="Choose a step ..." class="select hidden step_selector ">
                            <option value="0">Select Step 2</option>
                            <option class="opt_internal" value="internal">Internal QA Approve</option>
                            <option class="opt_external" value="external">External QA Approve</option>
                            <option class="opt_client" value="client">Client Approve</option>
                          </select>
                        </div>
                      </div>
                      <div class="panel col-md-4 lead_app">
                        <label class="display-block">Step 3:</label>
                        <input type="text" name="lead_approve_flow_step_3 " id="lead_approve_flow_step_3" hidden>
                        <label class="label_step_3 step_labels sel_label"></label>
                        <div class="form-group step_3 row hidden" data-next="1"
                          data-value_place="lead_approve_flow_step_3">
                          <select data-placeholder="Choose a step ..." class="select hidden step_selector ">
                            <option value="0">Select Step 3</option>
                            <option class="opt_internal" value="internal">Internal QA Approve</option>
                            <option class="opt_external" value="external">External QA Approve</option>
                            <option class="opt_client" value="client">Client Approve</option>
                          </select>
                        </div>
                      </div>
                      {% endif %} -->
                    </fieldset>
                  </form>
                </div>
                <!-- /pie charts-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /tech connector data-->

  <script>

    $(document).on('change', '.step_selector', function () {
      value = $(this).val()
      palce_input = $(this).parent('div').data('value_place')
      // set value in current step
      $(`#${palce_input}`).val(value)
      $(`#${palce_input}`).next('label').text($(this).find('option:selected').text())

      // hide select in current step and display in next step
      $(this).parent('div').addClass('hidden')
      next_div = $(this).parent('div').data('next')
      if (next_div != 1) {
        $(`.step_${next_div}`).removeClass('hidden')
      }

      $(`.opt_${value}`).prop('disabled', true)

    })

    $(document).on('click', '.reset_lead_steps', function () {
      $('.step_labels').text('')
      $('.step_1').removeClass('hidden')
      $(document).find('.step_selector').each(function () {
        $(this).find('option').prop('disabled', false)
        $(this).find('option').first().prop('selected', true)
        // $(this).reload()
        $(this).select2();
      })

    })

    //   $('.step_selector').on('change', function() {
    //   HandleDropdowns($(this));
    // });

    // make email validation error label color red..Akshay G.
    $(document).on('keydown focus', "input[type = email]", function () {
      $('#primary_email-error').css('color', ' #F44336');
      $('#secondary_email-error').css('color', ' #F44336');
    })
    $(document).ready(function () {
      // $("#country").val({{country.id}}).trigger('change');
      //uppers steps icon enanbled
      $(function () {
        $('.clearfix').find('ul li').each(function () {
          if ($(this).hasClass('disabled')) {
            $(this).removeClass('disabled')
            $(this).children('a').css('color', 'black')
          }
        })
      })
      function statelist(id, sid, name) {
        var countryid = id;
        token = $("#onboradingform").find('input[name=csrfmiddlewaretoken]').val()
        $.ajax({
          type: 'post',
          url: '/client/ajax/loadstates/',
          data: { 'id': countryid, csrfmiddlewaretoken: token },
          success: function (data) {
            var options = '<option value="0">Select State</option>';

            for (var i = 0; i < data.length; i++) {
              if (sid == data[i]['id']) {
                options += '<option value="' + sid + '" selected>' + name + '</option>';
              }
              else {
                options += '<option value="' + data[i]['id'] + '">' + data[i]['name'] + '</option>';
              }
            }
            $("select#state").html(options);
          },
          failure: function (error) {
            alert("fail");
          }
        });
      }
      name = $("#state option:selected").text()
      console.log(parseInt('{{ country.id }}'), parseInt('{{ state.id }}'), name)
      statelist(parseInt('{{ country.id }}'), parseInt('{{ state.id }}'), name);

      //cities list
      function citiesist(id, sid, name) {
        var countryid = id;
        token = $("#onboradingform").find('input[name=csrfmiddlewaretoken]').val()
        $.ajax({
          type: 'post',
          url: '/client/ajax/loadcity/',
          data: { 'id': countryid, csrfmiddlewaretoken: token },
          success: function (data) {
            var options = '<option value="0">Select City</option>';

            for (var i = 0; i < data.length; i++) {
              if (sid == data[i]['id']) {
                options += '<option value="' + sid + '" selected>' + name + '</option>';
              }
              else {
                options += '<option value="' + data[i]['id'] + '">' + data[i]['name'] + '</option>';
              }
            }
            $("select#cities").html(options);
          },
          failure: function (error) {
            alert("fail");
          }
        });
      }
      name = $("#cities option:selected").text()
      console.log(parseInt('{{ state.id }}'), parseInt('{{ cities.id }}'), name)
      citiesist(parseInt('{{ state.id }}'), parseInt('{{ cities.id }}'), name);
    });

    // if ($('.logo').val() == undefined) {
    //   $('#company_logo').prop('required', true);
    // }
    // if ($('.logo').val()) {
    //   $("#company_logo").prop('required', false);
    // }
    // $(document).on('change', '#company_logo', function () {
    //   var ext = $('#company_logo').val().split('.').pop().toLowerCase();
    //   if ($.inArray(ext, ['png', 'jpg', 'jpeg']) == -1) {
    //     $('#company_logo').val('')
    //   }
    // });
    $(document).ready(function () {
      $(document).find('.filename').hide();
    });
    $(document).on('change', '.file-field1 input:file', function () {
      var file_name = $(this).val().split('\\').pop();
      if ($(this)[0].files[0].size > 10485760) {
        swal({
          title: "File is too big..!",
          text: "Please upload a valid file.",
          button: "Close"
        });
        $(this).val('');
        $(this).closest('div').find('[for = "media_kit_id"]').text('choose file');
      } else {
        // display file name on button label..Akshay G...Date - 19th Oct, 2019
        $(this).closest('div').find('[for = "media_kit_id"]').text(file_name);
      };
    })
    $(document).on('change', '#company_logo', function () {
      var file_name = $(this).val().split('\\').pop();
      if ($(this)[0].files[0].size > 2097152) {
        swal({
          title: "File is too big..!",
          text: "Please upload a valid file.",
          button: "Close"
        })
        $(this).val('');
        $(this).closest('div').find('[for = "company_logo"]').text('choose file');
      } else {
        var ext = $(this).val().split('.').pop().toLowerCase();
        if ($.inArray(ext, ['png', 'jpg', 'jpeg']) == -1) {
          $(this).val('');
          $(this).closest('div').find('[for = "company_logo"]').text('choose file');
        } else {
          // display file name on button label..Akshay G...Date - 19th Oct, 2019
          $(this).closest('div').find('[for = "company_logo"]').text(file_name);
        }
      };
    })
  </script>

  <div id="modal_iconified" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>
  <style type="text/css">
    .dropdown-content-body {
      padding: 20px;
      padding-left: 20px !important;
    }

    .sel_label {
      font-weight: bold;
      color: #797070;
      font-size: 17px;
    }
    .name {
      width: 100px;
      /* margin: 10px 40px; */
      /* padding: 5px 10px; */
      font-weight: normal;
      text-transform: uppercase;
      text-align: center;
    }
    .ellipsis {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  </style>
  {% include "dashboard/clientdashbordjs.html" %}

  {% endblock %}