{% extends "header/cheader.html" %}
{% block content %}
<!-- Main sidebar -->
{% include "side/clientside.html" %}
<!-- /main sidebar -->
<!-- Main content -->
{% load range %}
{% load humanize %}
{% load custom_filters %}

{% load static %}
<!-- page level -->
<link rel="stylesheet" type="text/css" href="{% static 'assets/drag_dashboard/css/style.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/drag_dashboard/css/fullcalendar.min.css' %}">
<script type="text/javascript" id="vendor-js" src="{% static 'assets/drag_dashboard/js/vendor-admin.js' %}"></script>
<script type="text/javascript" id="datatables-js"
   src="{% static 'assets/drag_dashboard/js/datatables.min.js' %}"></script>
<script type="text/javascript" id="moment-js" src="{% static 'assets/drag_dashboard/js/moment.min.js' %}"></script>
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<!-- end page leve -->
<style>
.dash_log{
          display: block;
        }
.icon-switch2{
         margin-right: 10px;
        }
.dropdown-user{
         margin-top: -15%;
        }
.bg-indigo{
   height: 50px!important;
}
#wrapper {
    margin: 50px 0 0 0!important;
 }
 /*css added to adjust the notification dropdown menu that was affected by the cheader page only on dashboard page*/
 .notification-dashboard{
   margin-top: -14px!important;
   margin-right: -65px!important;
   min-width: 100px!important;
   padding: 8px 0!important;
   color: #333333!important;
   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)!important;
 }
 .notification-dashboard-1{
   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)!important;
   padding: 8px 0!important;
 }
 /*end*/
 /* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.default_logo {
    max-height: 3vh;
    padding: 0px 10px;
    margin-left: -15%;
    background: #ff9800;
    border-radius: 37px;
    margin-top: 20%;
}
.profile_name {
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    margin-top: -170%;
}
.default_logo_top {
    max-height: 3vh;
    padding: 45px 45px;
    margin-left: -15%;
    background: #ff9800;
    border-radius: 37px;
    /* margin-top: -30%; */
}
.profile_name_top {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin-top: -170%;
    margin-left: 20%;
}
@media only screen and (max-width: 1399px){
   .default_logo {
       max-height: 4vh;
       padding: 0px 9px;
       margin-left: -15%;
       background: #ff9800;
       border-radius: 37px;
       margin-top: 20%;
   }
   .default_logo_top {
       max-height: 3vh;
       padding: 35px 35px;
       margin-left: -15%;
       background: #ff9800;
       border-radius: 37px;
       margin-top: -20%;
   }
   .profile_name_top {
       font-size: 15px;
       font-weight: bold;
       color: #fff;
       margin-top: -170%;
       margin-left: 20%;
   }
}
@media only screen and (max-width: 1599px) and (min-width: 1400px){
   .default_logo_top {
      max-height: 3vh;
      padding: 34px 34px;
      margin-left: -15%;
      background: #ff9800;
      border-radius: 37px;
      margin-top: -3%;
   }
   .profile_name_top {
      font-size: 15px;
      font-weight: bold;
      color: #fff;
      margin-top: -170%;
      margin-left: 20%;
   }
}
.vendor_name_bottom {
       font-size: 30px;
    background: #ddd;
    padding: 28% 29%;
    margin-top: 0%;
    border-radius: 89px;
    margin: 0%;
    height: 10.5vh;
}
.icon_div{
    margin: 0% 10% 0% 10%;
}
</style>
<!--On Boarding button-->
<a href="/client/client-Bording/" style="color:#fff;">
   <div id="on_bord_hint" class="sticky pull-right rotate">
      <span class="btn btn-primary legitRipple">On Boarding
         <span class="legitRipple-ripple"
            style="left: 4.79167%; top: 241.283%; transform: translate3d(-50%, -50%, 0px); transition-duration: 0.2s, 0.5s; width: 209.788%;">
         </span>
      </span>
   </div>
</a>
<!--On Boarding button-->
<div class="content-wrapper">
   <div id="wrapper" style="min-height: 2500px;">
      <!--Welcome Text Div-->
      <div class="panel-body" style="display: none;">
         <div id="welcome" class="wel">
            <h1 id="welcome">
               Welcome to the TechConnectr Marketplace for B2B Marketers
            </h1>
            <p id="welcome">
               TechConnectr is a one-stop marketplace of and for best-of-breed B2B marketers, agencies, publishers, and
               b2b
               lead generation
               solution providers
            </p>
         </div>
         <div id="centertext">
            <p id="quickview">Quick View</p>
         </div>
      </div>
      <!--/Welcome Text Div-->
      <!--Div Contain checklist-->
      <div class="screen-options-area">
         <div id="dashboard-options">
            <div class="checkbox checkbox-inline">
               <input type="checkbox" class="widget-visibility" value="Counter_container" checked=""
                  id="widget_Counter_container" name="dashboard_widgets[top_stats]">
               <label for="widget_Counter_container">Counter Container</label>
            </div>
            <div class="checkbox checkbox-inline">
               <input type="checkbox" class="widget-visibility" value="Latest_campaigns" checked=""
                  id="widget_Latest_campaigns" name="dashboard_widgets[finance_overview]">
               <label for="widget_Latest_campaigns">Latest Campaigns</label>
            </div>
            <div class="checkbox checkbox-inline">
               <input type="checkbox" class="widget-visibility" value="Live_campaigns" checked=""
                  id="widget_Live_campaigns" name="dashboard_widgets[user_data]">
               <label for="widget_Live_campaigns">Live Campaigns</label>
            </div>
            <div class="checkbox checkbox-inline">
               <input type="checkbox" class="widget-visibility" value="Client_top_vendors" checked=""
                  id="widget_Client_top_vendors" name="dashboard_widgets[calendar]">
               <label for="widget_Client_top_vendors">Client Top Vendors</label>
            </div>
            <!-- <div class="checkbox checkbox-inline">
               <input type="checkbox" class="widget-visibility" value="Statistics_project" checked=""
                  id="widget_Statistics_project" name="dashboard_widgets[weekly_payments_chart]">
               <label for="widget_Statistics_project">Statistics Project</label>
            </div>
            <div class="checkbox checkbox-inline">
               <input type="checkbox" class="widget-visibility" value="To_do_list" checked="" id="widget_To_do_list"
                  name="dashboard_widgets[todos]">
               <label for="widget_To_do_list">My To Do Items</label>
            </div>
            <div class="checkbox checkbox-inline">
               <input type="checkbox" class="widget-visibility" value="Campaign_progress" checked=""
                  id="widget_Campaign_progress" name="dashboard_widgets[leads_chart]">
               <label for="widget_Campaign_progress">Campaign Progress</label>
            </div> -->
            <div class="checkbox checkbox-inline">
               <input type="checkbox" class="widget-visibility" value="User_activity" checked=""
                  id="widget_User_activity" name="dashboard_widgets[projects_activity]">
               <label for="widget_User_activity">User Activity</label>
            </div>
            <div class="checkbox checkbox-inline">
               <input type="checkbox" class="widget-visibility" value="TC_Top_vendors" checked=""
                  id="widget_TC_Top_vendors" name="dashboard_widgets[projects_chart]">
               <label for="widget_TC_Top_vendors">TC Top Vendors</label>
            </div>
         </div>
      </div>
      <!--Div Contain checklist-->

      <div class="screen-options-btn" data-step="1"
         data-intro="Dashboard help you visually understand changing business conditions so you 
         can make decisions based on the real-time data you have gathered with reports.<BR>
         Use adjustable Drag & Droppable dashboard to help users to go through various Widgets like Latest Campaign, Live Campaign, Client's Top Vendors ,various Statistical Reports, To-Do Items , Campaign Progress and measure the impact of their activities">
         <!--  <div id="tour_1"><img src="/static/assets/images/logo/tc-logo1.gif" class="tour_img" ></div>  -->
         Dashboard Options
      </div>
      <div class="element_container hidden">
         <!-- Start Counter_container -->
         <div class="widget  relative" id="Counter_container">
            <div class="widget-dragger ui-sortable-handle" data-step="2" data-intro="DRAAG_DROP"></div>
            <!--   <div id="tour_2"><img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/198/grinning-face_1f600.png" class="tour_img" ></div> -->
            <div class="row">
               <!--  <div id="tour_3"><img src="/static/assets/images/logo/tc-logo1.gif" class="tour_img" ></div> -->
               <div class="quick-stats-invoices col-xs-12 col-md-6 col-sm-6 col-lg-3">
                  <div class="top_stats_wrapper" data-step="3"
                     data-intro="Client will mark as Favourite to the Vendor who had given proven committment on time.">
                     <p class="text-uppercase mtop5 head_text"><i class="fa fa-heart" aria-hidden="true"></i>
                        <strong class="title_name">Favourite Vendor's</strong>
                        <span class="pull-right count">{{favourite}}</span>
                     </p>
                     <div class="clearfix"></div>
                     <div class="progress no-margin progress-bar-mini">
                        <div class="progress-bar progress-bar-danger no-percent-text not-dynamic" role="progressbar"
                           aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                           style="width: 100%;background-color: #002bff59;" data-percent="0">
                        </div>
                     </div>
                  </div>
               </div>
               <div class="quick-stats-leads col-xs-12 col-md-6 col-sm-6 col-lg-3">
                  <div class="top_stats_wrapper" data-step="4" data-intro="">
                     <p class="text-uppercase mtop5 head_text"><i class="fa fa-truck" aria-hidden="true"></i>
                        <strong class="title_name">Today Delivery</strong>
                        <span class="pull-right count">0</span>
                     </p>
                     <div class="clearfix"></div>
                     <div class="progress no-margin progress-bar-mini">
                        <div class="progress-bar progress-bar-success no-percent-text not-dynamic" role="progressbar"
                           aria-valuenow="100.00" aria-valuemin="0" aria-valuemax="100"
                           style="width: 100%;background-color: #84c52996;" data-percent="100.00">
                        </div>
                     </div>
                  </div>
               </div>
               <div class="quick-stats-projects col-xs-12 col-md-6 col-sm-6 col-lg-3">
                  <div class="top_stats_wrapper" data-step="5"
                     data-intro="Shows the List of Campaign which are in Live Mode">
                     <p class="text-uppercase mtop5 head_text"><i class="fa fa-columns" aria-hidden="true"></i>
                        <strong class="title_name">Current Campaign</strong>
                        <span class="pull-right count">{{current_campaigns}}</span>

                        <div class="clearfix"></div>
                        <div class="progress no-margin progress-bar-mini">
                           <div class="progress-bar no-percent-text not-dynamic"
                              style="background: #dc5bc669; width: 100%;" role="progressbar" aria-valuenow="100.00"
                              aria-valuemin="0" aria-valuemax="100" data-percent="100.00">
                           </div>
                        </div>
                  </div>
               </div>
               <div class="quick-stats-tasks col-xs-12 col-md-6 col-sm-6 col-lg-3">
                  <div class="top_stats_wrapper" data-step="6" data-intro="">
                     <p class="text-uppercase mtop5 head_text"><i class="fa fa-file-text-o bill" aria-hidden="true"></i>
                        <strong class="title_name">Invoice</strong>
                        <span class="pull-right count">0</span>
                     </p>
                     <div class="clearfix"></div>
                     <div class="progress no-margin progress-bar-mini">
                        <div class="progress-bar progress-bar-default no-percent-text not-dynamic" role="progressbar"
                           aria-valuenow="9.20" aria-valuemin="0" aria-valuemax="100"
                           style="width: 100%;background-color: #d23e2fa1;" data-percent="9.20">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- End Counter_container -->

         <!-- Start Latest_campaigns -->
         <div class="widget " id="Latest_campaigns">
            <div class="finance-summary">

               <div class="panel_s">

                  <div class="panel-body">

                     <div class="widget-dragger ui-sortable-handle"></div>

                     <div class="panel panel-flat" data-step="7"
                        data-intro="Displays the list of 5 recently created Campaign">
                        <!--  <div id="tour_4"><img src="/static/assets/images/logo/tc-logo1.gif" class="tour_img" ></div> -->
                        <div class="panel-heading" id="padding220">
                           <h6>Latest Campaigns</h6>
                        </div>

                        <table class="table table-bordered table-hover datatable-highlight">
                           <thead>
                              <tr>
                                 <th>Campaign Name</th>
                                 <!-- <th>Cpl</th> -->
                                 <th>Total Leads</th>
                                 <th>Assigned Leads</th>

                                 <th>Status</th>
                                 <th>Start Date</th>
                                 <th>End Date</th>
                              </tr>
                           </thead>
                           <tbody>
                              {% for topc in topcampaigns %}
                              {% if topc.status != 1 and topc.status != 2 %}
                              <tr>

                                 <td>
                                    {% if topc.status == 3 %}
                                    <a href="/client/pending-campaign/">{{topc.name|truncatechars:20}}</a>
                                    {% elif topc.status == 4 %}
                                    <a href="/client/completed-campaign/">{{topc.name|truncatechars:20}}</a>
                                    {% elif topc.status == 5 %}
                                    <a href="/client/assigned-campaign/">{{topc.name|truncatechars:20}}</a>
                                    {% elif topc.status == 0 %}
                                    <a href="/client/draft-campaign/">{{topc.name|truncatechars:20}}</a>
                                    {% endif %}
                                 </td>
                                 <!-- <td>  ${{ topc.cpl|floatformat:2 }}</td> -->
                                 <td>{{topc.total}}</td>
                                 <td>{{topc.assigned}}</td>
                                 <td>
                                    {% if topc.status == 3 %}
                                    <span class="label label-info">Pending</span>
                                    {% elif topc.status == 4 %}
                                    <span class="label label-purple bg-primary">Completed</span>
                                    {% elif topc.status == 5 %}
                                    <span class="label label-purple bg-primary">Assigned</span>
                                    {% elif topc.status == 0 %}
                                    <span class="label label-purple bg-primary">Incomplete</span>
                                    {% endif %}

                                 </td>
                                 <td>{{topc.start}}</td>
                                 <td>{{topc.end}}</td>

                              </tr>
                              {% endif %}
                              {% empty %}
                              <tr>
                                 <td colspan="7">
                                    <p id="centertext">No Campaign Available</p>
                                 </td>
                              </tr>
                              {% endfor %}


                              <tr>
                                 <td colspan="7" id="centertext" class="viewcamp">
                                    <p><a class="view_all" href="/client/campaign_status" title="View All"><i
                                             class="fas fa-eye view-more-icon"></i> View All</a></p>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- End Latest_campaigns -->

         <!-- Start Live_campaigns -->
         <div class="widget " id="Live_campaigns">
            <div class="panel_s user-data" data-step="8" data-intro="Represented in graphical form. Bar Graphs are resoundingly popular for a range of business use cases because they demonstrate an overall trend swiftly and concisely.
                 This graph visualizes Campaign Name by Percentages of Submitted leads as compared to Target Quantity">
               <!-- <div id="tour_5"><img src="/static/assets/images/logo/tc-logo1.gif" class="tour_img" ></div> -->
               <div class="panel-body home-activity">
                  <div class="widget-dragger ui-sortable-handle"></div>
                  <div class="horizontal-scrollable-tabs">
                     <!-- <div class="scroller scroller-left arrow-left" ><i class="fa fa-angle-left"></i>
                    </div>
                    <div class="scroller scroller-right arrow-right" ><i class="fa fa-angle-right"></i>
                    </div> -->
                     <div class="panel-heading" id="padding220">
                        <h6>Live Campaigns</h6>
                     </div>
                     <input type="hidden" value="{{chart_data}}" id="chart_data">
                     <div id="chartdiv"></div>

                  </div>
               </div>
            </div>
         </div>
         <!-- End Live_campaigns -->

         <!-- Start Client_top_vendors -->
         <div class="widget " id="Client_top_vendors">
            <div class="clearfix"></div>
            <div class="panel_s">
               <div class="panel-body">
                  <div class="widget-dragger ui-sortable-handle"></div>
                  <div class="panel panel-flat" data-step="9"
                     data-intro="List of Vendors who had given outstanding performance within a given period of time">
                     <!-- <div id="tour_6"><img src="/static/assets/images/logo/tc-logo1.gif" class="tour_img" ></div> -->
                     <div class="panel-heading" id="padding220">
                        <h6>Top Vendors</h6>
                     </div>

                     <table class="table table-bordered table-hover datatable-highlight">
                        <thead>
                           <tr>
                              <th>Name</th>
                              <th>No. of Campaigns</th>
                              <th>Total Leads Delivered</th>
                              <th>Amount Spent</th>
                              <th>Speciality</th>
                              <th>Rating</th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for vendor in vendordetail %}

                           <tr>
                              <td>{{vendor.vendorname|truncatechars:20}}</td>
                              <!-- <td>{{vendor.website|truncatechars:20}}</td> -->
                              <td>{{vendor.number_of_camp}}</td>
                              <td>{{vendor.leads}}</td>
                              <td>$ {{vendor.revenue|floatformat:2|intcomma}}</td>
                              <td>{{vendor.speciality.all|join:', '}}</td>
                              <td><span class="label label-success">{% cycle '4.0' '3.5' '2.0'%} <i class="fa fa-star"
                                       aria-hidden="true"></i></span></td>
                           </tr>
                           {% empty %}
                           <tr>
                              <td colspan="7">
                                 <p id="centertext">No Vendors Available</p>
                              </td>
                           </tr>
                           {% endfor %}



                        </tbody>
                     </table>
                  </div>

               </div>
            </div>
            <div class="clearfix"></div>
         </div>
         <!-- End Client_top_vendors -->

         <!-- Start Statistics_project -->
         <div class="widget " id="Statistics_project">
            <div class="row">
               <div class="col-md-12">
                  <div class="panel_s">
                     <div class="panel-body padding-10" data-step="10" data-intro="">
                        <!-- <div id="tour_7"><img src="/static/assets/images/logo/tc-logo1.gif" class="tour_img" ></div> -->
                        <div class="widget-dragger ui-sortable-handle"></div>
                        <p class="padding-5"><strong class="title_name"> Statistics by Project Status</strong></p>
                        <hr class="hr-panel-heading-dashboard">
                        <div class="relative" style="height:250px">
                           <iframe class="chartjs-hidden-iframe" tabindex="-1"
                              style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                           <canvas class="chart" height="250" id="leads_status_stats" width="576"
                              style="display: block; width: 576px; height: 250px;"></canvas>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- End Statistics_project -->

         <!-- Start To_do_list -->
         <div class="widget " id="To_do_list">
            <div class="panel_s todo-panel">
               <div class="panel-body padding-10" data-step="11" data-intro="">
                  <!-- <div id="tour_8"><img src="/static/assets/images/logo/tc-logo1.gif" class="tour_img" ></div> -->
                  <div class="widget-dragger ui-sortable-handle"></div>
                  <p class="pull-left padding-5" style="width: 50%;">
                     <strong class="title_name">My To Do Items</strong>
                  </p>
                  <a href="http://localhost/perfexcrm/perfex_crm/index.php/admin/todo"
                     class="pull-right padding-5">&nbsp;|&nbsp;View All</a>
                  <a href="#__todo" data-toggle="modal" class="pull-right padding-5" style="padding-right:0px;">
                     New To Do </a>
                  <div class="clearfix"></div>
                  <hr class="hr-panel-heading-dashboard">
                  <h4 class="todo-title text-warning"><i class="fa fa-warning"></i> Latest to do's</h4>
                  <ul class="list-unstyled todo unfinished-todos todos-sortable sortable ui-sortable">
                     <li class="padding no-todos ui-state-disabled ">No todos found</li>
                  </ul>
                  <h4 class="todo-title text-success"><i class="fa fa-check"></i> Latest finished to do's</h4>
                  <ul class="list-unstyled todo finished-todos todos-sortable sortable ui-sortable">
                     <li class="padding no-todos ui-state-disabled ">No finished todos found</li>
                  </ul>
               </div>
            </div>
            <div class="modal fade" id="__todo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                              aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalLabel">
                           <span class="edit-title hide">Edit todo item</span>
                           <span class="add-title hide">Add New Todo</span>
                        </h4>
                     </div>
                     <form action="http://localhost/perfexcrm/perfex_crm/index.php/admin/todo/todo"
                        id="add_new_todo_item" method="post" accept-charset="utf-8">
                        <input type="hidden" name="csrf_token_name" value="c92ecb056a72bf502732f1b52224a453">
                        <div class="modal-body">
                           <div class="row">
                              <input type="hidden" name="todoid" value="">
                              <div class="col-md-12">
                                 <div class="form-group" app-field-wrapper="description"><label for="description"
                                       class="control-label">Description</label><textarea id="description"
                                       name="description" class="form-control" rows="4"></textarea></div>
                              </div>
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                           <button type="submit" class="btn btn-info">Save</button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <!-- End To_do_list -->

         <!-- Start Campaign_progress -->
         <div class="widget " id="Campaign_progress">
            <div class="row">
               <div class="col-md-12">
                  <div class="panel_s">
                     <div class="panel-body padding-10" data-step="12"
                        data-intro=" It dynamically display progress of the Campaign through circular progress bar in various color symbolism">
                        <div id="tour_9"><img src="/static/assets/images/logo/tc-logo1.gif" class="tour_img"></div>
                        <div class="widget-dragger ui-sortable-handle"></div>
                        <p class="padding-5"><strong class="title_name">Live Campaign Progress</strong></p>
                        <hr class="hr-panel-heading-dashboard">
                        <div class="relative" style="height:250px">
                           <iframe class="chartjs-hidden-iframe" tabindex="-1"
                              style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                           <canvas class="chart" height="250" id="projects_status_stats" width="576"
                              style="display: block; width: 576px; height: 250px;"></canvas>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- End Campaign_progress -->

         <!-- Start User_activity -->
         <div class="widget " id="User_activity">
            <div class="panel_s projects-activity">
               <div class="panel-body padding-10" data-step="13"
                  data-intro="Use this section to track engagement and activity levels, based on Client & his External User's activities">
                  <!-- <div id="tour_10"><img src="/static/assets/images/logo/tc-logo1.gif" class="tour_img" ></div> -->
                  <div class="widget-dragger ui-sortable-handle"></div>
                  <p class="padding-5"><strong class="title_name">Activity</strong></p>
                  <hr class="hr-panel-heading-dashboard">
                  <div class="activity-feed">
                     {% if activity_list %}
                     {% for i in activity_list %}
                     <!-- Blog post -->
                     <div class="feed-item">
                        <div class="date">
                           <span class="text-has-action" data-toggle="tooltip" data-title="2019-06-03 11:24:45">
                              <i class="icon-history position-left text-success"></i>{{i.time | timesince}} ago </span>
                        </div>
                        <div class="text">
                           <p class="bold no-mbot">
                              <a>{{i.user}} </a> performed action {{i.url}}
                           </p>

                        </div>
                        <!-- <p class="text-muted mtop5">Solve all assign bugs</p> -->
                     </div>
                     {% endfor %}
                     {% endif %}
                  </div>
               </div>
            </div>
         </div>
         <!-- End User_activity -->

         <!-- Start TC_Top_vendors-->
         <div class="widget  relative panel_s panel-body" id="TC_Top_vendors" style="background:#fff;" data-step="14"
            data-intro="">
            <!-- <div id="tour_11"><img src="/static/assets/images/logo/tc-logo1.gif" class="tour_img" ></div> -->
            <div class="widget-dragger ui-sortable-handle"></div>
            <div class="panel-body" id="centertext">
               <h1 id="headng">We provide best-of-breed lead generation vendors</h1>
               <p id="heading">Our Top Vendors </p>
            </div>
            <div class="padding-10">
               <div class="row">

                  <!-- first box-->
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 evendor">
                     <div class="panel border-grey">
                        <div class="panel-heading bg-blue-400 firstbox">
                           <h6 class="panel-title text-center">Email Vendors</h6>
                        </div>
                        <div class="panel-body padding-0">
                           {% for vendor in topvendors|vendorlistsplit:'Email'|slice:":3" %}
                           <!-- 3 box-->
                           {% if 'Email' in vendor.vendor_type %}
                           <div
                              class="col-lg-4 col-md-4 col-sm-4 col-xs-4 shadow-hover-effect right-side-border vendor_card">
                              <div class="caption text-center top-margin">
                                 <h6 class="text-semibold no-margin">Rank {{forloop.counter}}
                                    <small class="display-block"></small>
                                 </h6>
                              </div>
                              <div class="thumbnail">
                                 <div class="thumb thumb-padding">
                                    {% comment %} <div class="circular-container">
                                       <img class="card_image" src="{{vendor.logo.url}}" alt="">
                                    </div> {% endcomment %}
                                    <div class="image-outer">
                                       <figure class="image"><img class="bg-hide" src="/media/bg.png" alt="">
                                       </figure>
                                       <div class="bg-image" style="background-image:url('{{vendor.logo.url}}')">
                                       </div>
                                       <div class="bg-layer"></div>
                                    </div>
                                 </div>
                                 <div class="capt text-center">
                                    <h6 class="text-semibold no-margin">
                                       <small style="word-break: break-word;"
                                          class="display-block">{{vendor.user_name}}</small>
                                    </h6>
                                 </div>
                              </div>
                           </div>
                           {% endif %}
                           {% endfor %}
                        </div>
                     </div>
                  </div>
                  <!-- /first box-->

                  <!-- second box-->
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 tvendor">
                     <div class="panel">
                        <div class="panel-heading bg-blue-400 firstbox">
                           <h6 class="panel-title text-center">Tele Vendors</h6>
                        </div>

                        <div class="panel-body padding-0">
                           {% for vendor in topvendors|vendorlistsplit:'Tele'|slice:":3" %}
                           <!-- 3 box-->
                           {% if 'Tele' in vendor.vendor_type %}
                           <div
                              class="col-lg-4 col-md-4 col-sm-4 col-xs-4 shadow-hover-effect right-side-border vendor_card">
                              <div class="caption text-center top-margin">
                                 <h6 class="text-semibold no-margin">Rank {{forloop.counter}}
                                    <small class="display-block"></small>
                                 </h6>
                              </div>
                              <div class="thumbnail">
                                 <div class="thumb thumb-padding">
                                    {% comment %} <div class="circular-container">
                                       <img class="card_image" src="{{vendor.logo.url}}" alt="">
                                    </div> {% endcomment %}
                                    <div class="image-outer">
                                       <figure class="image"><img class="bg-hide" src="/media/bg.png" alt="">
                                       </figure>
                                       <div class="bg-image" style="background-image:url('{{vendor.logo.url}}')">
                                       </div>
                                       <div class="bg-layer"></div>
                                    </div>

                                 </div>
                                 <div class="capt text-center">
                                    <h6 class="text-semibold no-margin">
                                       <small class="display-block">{{vendor.user_name}}</small>
                                    </h6>
                                 </div>
                              </div>
                           </div>
                           {% endif %}
                           {% endfor %}
                        </div>
                     </div>
                  </div>
                  <!-- /second box-->

                  <!-- Third box-->
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dvendor">
                     <div class="panel">
                        <div class="panel-heading bg-blue-400 firstbox">
                           <h6 class="panel-title text-center">Data Vendors</h6>
                        </div>

                        <div class="panel-body padding-0">
                           <!-- 3 box-->
                           {% for vendor in topvendors|vendorlistsplit:'Data'|slice:":3" %}
                           <!-- 3 box-->
                           {% if 'Data' in vendor.vendor_type %}
                           <div
                              class="col-lg-4 col-md-4 col-sm-4 col-xs-4 shadow-hover-effect right-side-border vendor_card">
                              <div class="caption text-center top-margin">
                                 <h6 class="text-semibold no-margin">Rank {{forloop.counter}}
                                    <small class="display-block"></small>
                                 </h6>
                              </div>
                              <div class="thumbnail">
                                 <div class="thumb thumb-padding">
                                    {% comment %} <div class="circular-container">
                                       <img class="card_image" src="{{vendor.logo.url}}" alt="">
                                    </div> {% endcomment %}
                                    <div class="image-outer">
                                       <figure class="image"><img class="bg-hide" src="/media/bg.png" alt="">
                                       </figure>
                                       <div class="bg-image" style="background-image:url('{{vendor.logo.url}}')">
                                       </div>
                                       <div class="bg-layer"></div>
                                    </div>
                                 </div>
                                 <div class="capt text-center">
                                    <h6 class="text-semibold no-margin">
                                       <small class="display-block">{{vendor.user_name}}</small>
                                    </h6>
                                 </div>
                              </div>
                           </div>
                           {% endif %}
                           {% endfor %}
                           <!-- /3 box-->
                        </div>
                     </div>
                  </div>
                  <!-- /Third box-->
               </div>
            </div>
         </div>
         <!-- End TC_Top_vendors-->
      </div>

      <div class="content">
         <div class="row">
            <div class="clearfix"></div>

            <div class="col-md-12 first mtop30 ui-sortable" data-container="top-12">

            </div>

            <div class="col-md-8 ui-sortable" data-container="left-8">

            </div>

            <div class="col-md-4 ui-sortable" data-container="right-4">

            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 second mtop30 ui-sortable" data-container="top-12">

            </div>
            <!-- <div class="col-md-6 ui-sortable" data-container="middle-left-6">
         </div>
         <div class="col-md-6 ui-sortable" data-container="middle-right-6">
         </div> -->
            <!-- <div class="col-md-4 ui-sortable" data-container="bottom-left-4">
         </div>
         <div class="col-md-4 ui-sortable" data-container="bottom-middle-4">
         </div>
         <div class="col-md-4 ui-sortable" data-container="bottom-right-4">
         </div> -->
         </div>
      </div>

      <div id="mybutton">
         <a href="javascript:void(0);"><button class="feedback" onclick="startTour();">Need Some Help ?</button></a>
      </div>
   </div>
</div>

<script>
   var weekly_payments_statistics;
   var user_dashboard_visibility = [{ "id": "top_stats", "visible": "1" }, { "id": "finance_overview", "visible": "1" }, { "id": "user_data", "visible": "1" }, { "id": "calendar", "visible": "1" }, { "id": "weekly_payments_chart", "visible": "1" }, { "id": "todos", "visible": "1" }, { "id": "leads_chart", "visible": "1" }, { "id": "projects_chart", "visible": "1" }, { "id": "projects_activity", "visible": "1" }];
   $(function () {
      $("[data-container]").sortable({
         connectWith: "[data-container]",
         helper: 'clone',
         handle: '.widget-dragger',
         tolerance: 'pointer',
         forcePlaceholderSize: true,
         placeholder: 'placeholder-dashboard-widgets',
         start: function (event, ui) {
            $("body,#wrapper").addClass('noscroll');
            $('body').find('[data-container]').css('min-height', '20px');
         },
         stop: function (event, ui) {
            $("body,#wrapper").removeClass('noscroll');
            $('body').find('[data-container]').removeAttr('style');
         },
         update: function (event, ui) {
            if (this === ui.item.parent()[0]) {
               console.log(this)
               var data = {};
               $.each($("[data-container]"), function () {
                  var cId = $(this).attr('data-container');
                  data[cId] = $(this).sortable('toArray');
                  if (data[cId].length == 0) {
                     data[cId] = 'empty';
                  }
               });
               update_dashboard_sequence(this, ui.item[0])
               // $.post(admin_url + 'staff/save_dashboard_widgets_order', data, "json");
            }
         }
      });

      // Read more for dashboard todo items
      $('.read-more').readmore({
         collapsedHeight: 150,
         moreLink: "<a href=\"#\">Read More</a>",
         lessLink: "<a href=\"#\">Show Less</a>",
      });

      $('body').on('click', '#viewWidgetableArea', function (e) {
         e.preventDefault();

         if (!$(this).hasClass('preview')) {
            $(this).html("Hide Widgetable Area");
            $('[data-container]').append('<div class="placeholder-dashboard-widgets pl-preview"></div>');
         } else {
            $(this).html("View Widgetable Area");
            $('[data-container]').find('.pl-preview').remove();
         }

         $('[data-container]').toggleClass('preview-widgets');
         $(this).toggleClass('preview');
      });

      var $widgets = $('.widget');
      var widgetsOptionsHTML = '';
      // widgetsOptionsHTML += '<div id="dashboard-options">';
      // widgetsOptionsHTML += "<h4><i class='fa fa-question-circle' data-toggle='tooltip' data-placement=\"bottom\" data-title=\"Widgets that are shown only if they have enough data do not have options to be hidden or shown.\"></i> Widgets</h4><a href=\"http://localhost/perfexcrm/perfex_crm/index.php/admin/staff/reset_dashboard\">Reset Dashboard</a>";

      // widgetsOptionsHTML += ' | <a href=\"#\" id="viewWidgetableArea">View Widgetable Area</a>';
      // widgetsOptionsHTML += '<hr class=\"hr-10\">';

      $.each($widgets, function () {
         var widget = $(this);
         var widgetOptionsHTML = '';
         if (widget.data('name') && widget.html().trim().length > 0) {
            widgetOptionsHTML += '<div class="checkbox checkbox-inline">';
            var wID = widget.attr('id');
            wID = wID.split('widget-');
            wID = wID[wID.length - 1];
            var checked = ' ';
            var db_result = $.grep(user_dashboard_visibility, function (e) { return e.id == wID; });
            if (db_result.length >= 0) {
               // no options saved or really visible
               if (typeof (db_result[0]) == 'undefined' || db_result[0]['visible'] == 1) {
                  checked = ' checked ';
               }
            }
            widgetOptionsHTML += '<input type="checkbox" class="widget-visibility" value="' + wID + '"' + checked + 'id="widget_option_' + wID + '" name="dashboard_widgets[' + wID + ']">';
            widgetOptionsHTML += '<label for="widget_option_' + wID + '">' + widget.data('name') + '</label>';
            widgetOptionsHTML += '</div>';
         }
         widgetsOptionsHTML += widgetOptionsHTML;
      });

      $('.screen-options-area').append(widgetsOptionsHTML);
      $('body').find('#dashboard-options input.widget-visibility').on('change', function () {
         if ($(this).prop('checked') == false) {
            $('#' + $(this).val()).addClass('hidden');
         } else {
            $('#' + $(this).val()).removeClass('hidden');
         }

         var data = {};
         var options = $('#dashboard-options input[type="checkbox"]').map(function () {

            return { id: this.value, visible: this.checked ? 1 : 0 };
         }).get();

         data.widgets = options;
         // console.log(data.widgets)
         set_checkbox_value(data.widgets)
         /*
             if (typeof(csrfData) !== 'undefined') {
                 data[csrfData['token_name']] = csrfData['hash'];
             }
         */
         // $.post(admin_url + 'staff/save_dashboard_widgets_visibility', data).fail(function (data) {
         //    // Demo usage, prevent multiple alerts
         //    if ($('body').find('.float-alert').length == 0) {
         //       alert_float('danger', data.responseText);
         //    }
         // });
      });

      var tickets_chart_departments = $('#tickets-awaiting-reply-by-department');
      var tickets_chart_status = $('#tickets-awaiting-reply-by-status');
      var leads_chart = $('#leads_status_stats');
      var projects_chart = $('#projects_status_stats');

      if (tickets_chart_departments.length > 0) {
         // Tickets awaiting reply by department chart
         var tickets_dep_chart = new Chart(tickets_chart_departments, {
            type: 'doughnut',
            data: { "labels": [], "datasets": [{ "data": [], "backgroundColor": [], "hoverBackgroundColor": [] }] },
         });
      }
      if (tickets_chart_status.length > 0) {
         // Tickets awaiting reply by department chart
         new Chart(tickets_chart_status, {
            type: 'doughnut',
            data: { "labels": [], "datasets": [{ "data": [], "backgroundColor": [], "hoverBackgroundColor": [], "statusLink": [] }] },
            options: {
               onClick: function (evt) {
                  onChartClickRedirect(evt, this);
               }
            },
         });
      }
      if (leads_chart.length > 0) {
         // Leads overview status
         new Chart(leads_chart, {
            type: 'doughnut',
            data: { "labels": ["Customer"], "datasets": [{ "data": ["1"], "backgroundColor": ["#7cb342"], "hoverBackgroundColor": ["#689f2e"], "statusLink": ["http:\/\/localhost\/perfexcrm\/perfex_crm\/index.php\/admin\/leads?status=1"] }] },
            options: {
               maintainAspectRatio: false,
               onClick: function (evt) {
                  onChartClickRedirect(evt, this);
               }
            }
         });
      }
      if (projects_chart.length > 0) {
         // Projects statuses
         new Chart(projects_chart, {
            type: 'doughnut',
            data: { "labels": ["Not Started", "In Progress", "On Hold", "Cancelled", "Finished"], "datasets": [{ "data": ["0", "2", "0", "0", "0"], "backgroundColor": ["#989898", "#03a9f4", "#ff6f00", "#989898", "#84c529"], "hoverBackgroundColor": ["#848484", "#0095e0", "#eb5b00", "#848484", "#70b115"], "statusLink": ["http:\/\/localhost\/perfexcrm\/perfex_crm\/index.php\/admin\/projects?status=1", "http:\/\/localhost\/perfexcrm\/perfex_crm\/index.php\/admin\/projects?status=2", "http:\/\/localhost\/perfexcrm\/perfex_crm\/index.php\/admin\/projects?status=3", "http:\/\/localhost\/perfexcrm\/perfex_crm\/index.php\/admin\/projects?status=5", "http:\/\/localhost\/perfexcrm\/perfex_crm\/index.php\/admin\/projects?status=4"], "label": "Statistics by Project Status" }] },
            options: {
               maintainAspectRatio: false,
               onClick: function (evt) {
                  onChartClickRedirect(evt, this);
               }
            }
         });
      }

      if ($(window).width() < 500) {
         // Fix for small devices weekly payment statistics
         $('#weekly-payment-statistics').attr('height', '250');
      }

      fix_user_data_widget_tabs();
      $(window).on('resize', function () {
         $('.horizontal-scrollable-tabs ul.nav-tabs-horizontal').removeAttr('style');
         fix_user_data_widget_tabs();
      });
      // Payments statistics
      init_weekly_payment_statistics({ "labels": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"], "datasets": [{ "label": "This Week Payments", "backgroundColor": "rgba(37,155,35,0.2)", "borderColor": "#84c529", "borderWidth": 1, "tension": false, "data": [0, 0, 0, 0, 0, 0, 0] }, { "label": "Last Week Payments", "backgroundColor": "rgba(197, 61, 169, 0.5)", "borderColor": "#c53da9", "borderWidth": 1, "tension": false, "data": [0, 0, 0, 0, 0, 0, 0] }] });
      $('select[name="currency"]').on('change', function () {
         init_weekly_payment_statistics();
      });
   });
   function fix_user_data_widget_tabs() {
      if ((app.browser != 'firefox'
         && isRTL == 'false' && is_mobile()) || (app.browser == 'firefox'
            && isRTL == 'false' && is_mobile())) {
         $('.horizontal-scrollable-tabs ul.nav-tabs-horizontal').css('margin-bottom', '26px');
      }
   }
   function init_weekly_payment_statistics(data) {
      if ($('#weekly-payment-statistics').length > 0) {

         if (typeof (weekly_payments_statistics) !== 'undefined') {
            weekly_payments_statistics.destroy();
         }
         if (typeof (data) == 'undefined') {
            var currency = $('select[name="currency"]').val();
            $.get(admin_url + 'home/weekly_payments_statistics/' + currency, function (response) {
               weekly_payments_statistics = new Chart($('#weekly-payment-statistics'), {
                  type: 'bar',
                  data: response,
                  options: {
                     responsive: true,
                     scales: {
                        yAxes: [{
                           ticks: {
                              beginAtZero: true,
                           }
                        }]
                     },
                  },
               });
            }, 'json');
         } else {
            weekly_payments_statistics = new Chart($('#weekly-payment-statistics'), {
               type: 'bar',
               data: data,
               options: {
                  responsive: true,
                  scales: {
                     yAxes: [{
                        ticks: {
                           beginAtZero: true,
                        }
                     }]
                  },
               },
            });
         }

      }
   }


   function set_checkbox_value(data) {
      view_list = []
      $.each(data, function (i, ele) {
         editing_index = sequence.findIndex(p => p.element == ele.id)
         sequence[editing_index].status = ele.visible
      })
      console.log(sequence)
      view_list = sequence
      Store_list(view_list)
   }

   sequence = []
   function update_dashboard_sequence(parent, element) {
      let order = ""
      if (sequence.length == 0) {
         if (parent.classList[0] == "col-md-12") {
            order = parent.classList[1]
            sequence.push({ 'element': element.id, 'class': parent.classList[0], 'order': order })
         } else {
            sequence.push({ 'element': element.id, 'class': parent.classList[0], 'order': order })
         }
      } else {
         parents = get_value(sequence)
         if (parents.includes(element.id)) {
            editing_index = sequence.findIndex(p => p.element == element.id)
            if (parent.classList[0] == "col-md-12") {
               // editing_index = sequence.findIndex(p => p.order == parent.classList[1])
               order = parent.classList[1]
               sequence[editing_index].class = parent.classList[0]
               sequence[editing_index].order = order
            } else {
               sequence[editing_index].class = parent.classList[0]
               sequence[editing_index].order = ''
            }
         } else {
            // sequence.push({'element':element.id,'class':parent.classList[0],'order':order})
            if (parent.classList[0] == "col-md-12") {
               order = parent.classList[1]
               sequence.push({ 'element': element.id, 'class': parent.classList[0], 'order': order })
            } else {
               sequence.push({ 'element': element.id, 'class': parent.classList[0], 'order': order })
            }
         }
      }
      console.log(sequence)
      update_dashboard_view()
      data = JSON.parse($('#chart_data').val())

      loadchartdata(data)
   }

   function get_value(sequence) {
      values = []
      for (i = 0; i < sequence.length; i++) {
         values.push(sequence[i].element)
      }
      return values
   }

   // update the dashboard view list
   function update_dashboard_view() {
      token = getCookie('csrftoken');
      view_list = []
      $('.dashboard_moveable_item').each(function (index, element) {
         parents = get_value(sequence)
         div_ = this
         if (parents.includes(div_.id)) {
            $.each(sequence, function (i, ele) {
               if (div_.id == ele.element) {
                  if (!view_list.some(el => el.element === ele.element)) {
                     this['index'] = index
                     view_list.push(this)
                  }
               }
            })
         } else {
            if (this.parentElement.classList[0] == "col-md-12") {
               order = this.parentElement.classList[1]
               view_list.push({ 'element': this.id, 'class': this.parentElement.classList[0], 'order': order, 'index': index })
            } else {
               view_list.push({ 'element': this.id, 'class': this.parentElement.classList[0], 'order': '', 'index': index })
            }
         }
      })
      console.log(view_list)
      Store_list(view_list)
   }

   // store value into database
   function Store_list(view_list) {
      $.ajax({
         type: 'post',
         url: '/client/ajax/update_dashboard_view/',
         dataType: 'json',
         data: { 'view_list': JSON.stringify(view_list), csrfmiddlewaretoken: token },
         success: function (data) {

         }
      })
   }

   // onready set dashboard view from database
   $(document).ready(function () {

      token = getCookie('csrftoken');
      $.ajax({
         type: 'post',
         url: '/client/ajax/set_dashboard/',
         data: { csrfmiddlewaretoken: token },
         success: function (data) {
            var dataTab = $.parseJSON(data.view);
            console.log(dataTab)
            sequence = dataTab
            $.each(dataTab, function (index, item) {
               div = $(document).find(`#${item.element}`)
               div.addClass('dashboard_moveable_item')
               if (item.class == "col-md-12") {
                  $(document).find(`.${item.order}.ui-sortable`).append(div)
               } else {
                  $(document).find(`.${item.class}.ui-sortable`).append(div)
               }
               if (item.status == 0) {
                  $(`#widget_${item.element}`).prop('checked', false)
                  $(`#${item.element}`).addClass('hidden')
               }

            })
         }
      })
      data = JSON.parse($('#chart_data').val())
      loadchartdata(data)
   });
</script>
<script type="text/javascript">
   //    data = [{
   //          "country": "USA",
   //          "visits": 3025
   //       }, {
   //          "country": "China",
   //          "visits": 1882
   //       }, {
   //          "country": "Japan",
   //          "visits": 1809
   //       }, {
   //          "country": "Germany",
   //          "visits": 1322
   //       }, {
   //          "country": "UK",
   //          "visits": 1122
   //       }, {
   //          "country": "France",
   //          "visits": 1114
   //       }, {
   //          "country": "India",
   //          "visits": 984
   //       }, {
   //          "country": "Spain",
   //          "visits": 711
   //       }, {
   //          "country": "Netherlands",
   //          "visits": 665
   //       }, {
   //          "country": "Russia",
   //          "visits": 580
   //       }, {
   //          "country": "South Korea",
   //          "visits": 443
   //       }, {
   //          "country": "Canada",
   //          "visits": 441
   //       }];
   // Themes begin
   am4core.useTheme(am4themes_animated);
   // Themes end

   function loadchartdata(data) {
      // Create chart instance
      var chart = am4core.create("chartdiv", am4charts.XYChart);
      chart.scrollbarX = new am4core.Scrollbar();

      // Add data
      console.log({{ chart_data| safe}})
   lc = {{ chart_data | safe }}
   data = $.parseJSON(JSON.stringify(lc))
   chart.data = data
   // Create axes
   var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
   categoryAxis.dataFields.category = "campaign";
   categoryAxis.renderer.grid.template.location = 0;
   categoryAxis.renderer.minGridDistance = 30;
   categoryAxis.renderer.labels.template.truncate = true;
   categoryAxis.renderer.labels.template.maxWidth = 150;
   categoryAxis.renderer.labels.template.tooltipText = '{category}'   
   categoryAxis.renderer.minHeight = 110;

   var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
   valueAxis.renderer.minWidth = 50;

   // Create series
   var series = chart.series.push(new am4charts.ColumnSeries());
   series.sequencedInterpolation = true;
   series.dataFields.valueY = "approve";
   series.dataFields.categoryX = "campaign";
   series.tooltipText = "[{categoryX}: bold]{valueY}[/]";
   series.columns.template.strokeWidth = 0;

   series.tooltip.pointerOrientation = "vertical";

   series.columns.template.column.cornerRadiusTopLeft = 10;
   series.columns.template.column.cornerRadiusTopRight = 10;
   series.columns.template.column.fillOpacity = 0.8;

   // on hover, make corner radiuses bigger
   var hoverState = series.columns.template.column.states.create("hover");
   hoverState.properties.cornerRadiusTopLeft = 0;
   hoverState.properties.cornerRadiusTopRight = 0;
   hoverState.properties.fillOpacity = 1;

   series.columns.template.adapter.add("fill", function (fill, target) {
      return chart.colors.getIndex(target.dataItem.index);
   });

   // Cursor
   chart.cursor = new am4charts.XYCursor();
   }
</script>
<script type="text/javascript">

   function startTour() {
      var tour = introJs()
      tour.setOption('tooltipPosition', 'auto');
      tour.setOption('positionPrecedence', ['left', 'right', 'top', 'bottom']);
      tour.start();
   }

</script>
<script>
   $(document).ready(function () {
      $(".screen-options-btn").click(function () {
         $(".screen-options-area").slideToggle();
      });
   });
</script>
<style>
   .tour_img {
      display: none;
   }

   .sidebar-content {
      margin-top: 1%;
   }
</style>
{% include "dashboard/tour.html" %}
<!-- {% include "dashboard/clientdashbordjs.html" %} -->

{% endblock %}