<!-- Akshay G. -->
<head>
    <style type="text/css">
        @page {
                size: a4;
                margin: 2cm;
            }
         #company{
            font-size: 13px;  line-height: 200%;
        }
        h6 {
            font-size: 17px; text-align: center;
        }
        p {
            font-size: 15px
        }
        h1 {
            font-size: 24px; text-align: center;
        }
        .business {
            font-size: 13px;  line-height: 200%;
        }
        #data_assessment {
            font-size: 13px;  line-height: 200%;
        }
        .contacts {
            font-size: 14px
        }
        .strong{
            font-weight: bold;
        }
        td{
            border:1px solid #000;
            border-top: 0px;
            padding-top: 5px;
            padding-left: 10px;

        }
    </style>
</head>

<div>
    <center><img src="{{techconnectr_logo}}" id="company_logo" height="80px" width="200px"></center>
    <center><p>TechConnectr is a one-stop marketplace of and for best-of-breed B2B marketers, agencies,
                    publishers, and b2b lead generation
                    solution providers</p></center>
    <h1>Onboarding Report</h1>
</div>


<h6>Company Info</h6>
<table>
    <tr id="company">
        <td class="strong" style="border-top:1px solid #000;">Company:</td>
        <td style="border-top:1px solid #000;">{{userdetails.user_name}}</td>
    </tr>
    <tr id="company">
        <td class="strong">Website:</td>
        <td>{{client_vendor.website}}</td>
    </tr>
    <tr id="company">
        <td class="strong">Country:</td>
        <td>{{ country }}</td>
    </tr>
    <tr id="company">
        <td class="strong">Industry Type:</td>
        <td>{% if industry1 %}
                {% for industry in industry1 %}             
                    {% if forloop.counter != industry1|length %}
                        <span> {{ industry.type }},</span>
                    {% else %}
                        <span> {{ industry.type }}</span>
                    {% endif %}
                {% endfor %}
            {% else %}
            <span> - </span>
            {% endif %}
        </td>
    </tr>
    <tr id="company">
        <td class="strong">Phone:</td>
        <td>{{userdetails.contact}}
        </td>
    </tr>
    <tr id="company">
        <td class="strong">Alternate Number:</td>
        <td>{% if userdetails.alternative_contact %}
            <span>{{userdetails.alternative_contact}}</span>
            {% else %}
                <span> - </span>
            {% endif %}
        </td>
    </tr>
    <tr id="company">
        <td class="strong">Address Line 1:</td>
        <td>{{userdetails.address_line1}}
        </td>
    </tr>
    <tr id="company">
        <td class="strong">Address Line 2:</td>
        <td>{{userdetails.address_line2}}
        </td>
    </tr>
    <tr id="company">
        <td class="strong">State:</td>
        <td>{{ state.name }}
        </td>
    </tr>
    <tr id="company">
        <td class="strong">City:</td>
        <td>
            {% if city %}
                {{ city }}
            {% else %}
                <span> - </span>
            {% endif %}
        </td>
    </tr>
    <tr id="company">
        <td class="strong">Zip Code:</td>
        <td>
            {% if zip_code %}
                {{ zip_code }}
            {% else %}
                <span> - </span>
            {% endif %}
        </td>
    </tr>
</table>
<!-- write on pdf's next pag -->
<div><pdf:nextpage /></div>    
<h6>Business Card Info</h6>   
<table>
    <strong style="font-size: 14px;">Primary Contact :</strong> 
    <tr id="company">
        <td class="strong" style="border-top:1px solid #000;">Full Name:</td>
        <td style="border-top:1px solid #000;">{{client_vendor.primary_name}}</td>
    </tr>
    
    <tr id="company">
        <td class="strong">Job Title:</td>
        <td>{{client_vendor.primary_designation}}
        </td>
    </tr>    
    <tr id="company">
        <td class="strong">Direct Dial:</td>
        <td>{{client_vendor.primary_directdial}}
        </td>
    </tr>
    <tr id="company">
        <td class="strong">Email:</td>
        <td>{{client_vendor.primary_email}}
        </td>
    </tr>
    
</table>  
<br>
<table>
    <strong style="font-size: 14px;">Secondary Contact :</strong> 
    <tr id="company">
        <td class="strong" style="border-top:1px solid #000;">Full Name:</td>
        <td style="border-top:1px solid #000;">{{client_vendor.secondary_name}}</td>
    </tr>
    
    <tr id="company">
        <td class="strong">Job Title:</td>
        <td>{{client_vendor.secondary_designation}}
        </td>
    </tr>    
    <tr id="company">
        <td class="strong">Direct Dial:</td>
        <td>{{client_vendor.secondary_directdial}}
        </td>
    </tr>
    <tr id="company">
        <td class="strong">Email:</td>
        <td>{{client_vendor.secondary_email}}
        </td>
    </tr>    
</table>
<!-- write on pdf's next page -->
<div><pdf:nextpage /></div>