{% load static %}

<!DOCTYPE html>
<html class=''>

<head>
    <meta charset='UTF-8'>
    <meta name="robots" content="noindex">
    {% block scripts %}
    {% include "chats/js/headjs.html" %}
    {% include "chats/css/style.html" %}
    {% endblock %}
    {% block content %}
</head>

<body>
    <div id="frame">
        <div id="sidepanel">
            <div id="profile">
                <div class="wrap">
                    <img id="profile-img" src="http://emilcarlsson.se/assets/mikeross.png" class="online" alt="" />
                    <p>Mike Ross</p>
                    <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
                    <div id="status-options">
                        <ul>
                            <li id="status-online" class="active"><span class="status-circle"></span>
                                <p>Online</p>
                            </li>
                            <li id="status-away"><span class="status-circle"></span>
                                <p>Away</p>
                            </li>
                            <li id="status-busy"><span class="status-circle"></span>
                                <p>Busy</p>
                            </li>
                            <li id="status-offline"><span class="status-circle"></span>
                                <p>Offline</p>
                            </li>
                        </ul>
                    </div>
                    <div id="expanded">
                        <label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
                        <input name="twitter" type="text" value="mikeross" />
                        <label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
                        <input name="twitter" type="text" value="ross81" />
                        <label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
                        <input name="twitter" type="text" value="mike.ross" />
                    </div>
                </div>
            </div>
            <div id="search">
                <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
                <input type="text" placeholder="Search contacts..." />
            </div>
            <div id="contacts">
                <ul>
                    {% if usertype == 4 %}
                    {% for user in userlist%}
                    {{user.client_vendor}}
                    <li class="contact contact_persone" receiver_id="{{user.user.id}}"
                        receiver_name="{{user.user.user_name}}">
                        <div class="wrap">
                            <span class="contact-status online"></span>
                            <img src="http://emilcarlsson.se/assets/louislitt.png" alt="" />
                            <div class="meta">
                                <p class="name" receiver_id="{{user.id}}">{{user.user.user_name}}</p>
                                <p class="preview"></p>
                            </div>
                        </div>
                    </li>
                    {%endfor%}
                    {%else%}
                    {% for user in superadmin_list%}
                    <li class="contact contact_persone" receiver_id="{{user.id}}" receiver_name="{{user.user_name}}">
                        <div class="wrap">
                            <span class="contact-status online"></span>
                            <img src="http://emilcarlsson.se/assets/louislitt.png" alt="" />
                            <div class="meta">
                                <p class="name">{{user.user_name}}</p>
                                <p class="preview"></p>
                            </div>
                        </div>
                    </li>
                    {%endfor%}
                    {%endif%}

                </ul>
            </div>
            <div id="bottom-bar">
                <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add
                        contact</span></button>
                <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
            </div>
        </div>
        <div class="content">
            <div class="contact-profile">
                <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                <p id="receiver_active_name">{{username}}</p>
                <!-- <div class="social-media">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </div> -->
            </div>
            <div class="messages">
                <ul>

                </ul>
            </div>
            <div class="message-input">
                <div class="wrap">
                    <input type="text" id="chat-message-input" placeholder="Write your message..." />
                    <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                    <button type="submit" id="chat-message-submit"><i class="fa fa-paper-plane"
                            aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
{% include "chats/js/websocketjs.html" %}
{% endblock %}