{% extends "header/header.html" %}

{% block content %}
<!-- Main sidebar -->
{% include "side/side.html" %}

<!-- Main content -->
<div class="content-wrapper">

  <!-- Page header -->

  <div class="page-header">
    <div class="page-header-content" style="display:none">
      <div class="page-title">
        <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Dashboard</span> - Client List
        </h4>
      </div>

      <div class="heading-elements">
        <div class="heading-btn-group">
          <a href="#" class="btn btn-link btn-float text-size-small has-text"><i
              class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
          <a href="#" class="btn btn-link btn-float text-size-small has-text"><i
              class="icon-calculator text-primary"></i> <span>Invoices</span></a>
          <a href="#" class="btn btn-link btn-float text-size-small has-text"><i
              class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
        </div>
      </div>
    </div>

    <div class="breadcrumb-line">
      <ul class="breadcrumb">
        <li><a href="/superadmin/dashboard/"><i class="icon-home2 position-left"></i> Home</a></li>
        <li><a href="/superadmin/client-list/">Client List</a></li>
        <li class="active">Campaign List</a></li>
      </ul>

      <ul class="breadcrumb-elements">

      </ul>
    </div>
  </div>
  <div class="content">
    <div class="panel panel-flat">
      <div class="panel-heading">
        <h5 class="panel-title">Client Campaign List
          <!-- <button type="button" id="databtn" class="btn btn-filter-tb btn-labeled pull-right" >
									<b><span id ="filter_icon" class="glyphicon glyphicon-filter"></span></b>
									 Filter
								</button> -->
        </h5>


      </div>
      <div class="table-responsive-sm">
        <table class="table datatable-column-search-inputs ">
          <thead>
            <tr>
              <th>Campaign Name</th>
              <th>Description</th>
              <th>Status</th>
              <th>Campaign Type</th>
              <th>C-CPL</th>
              <th>Target Quantity</th>
              <!--<th class="text-center">Actions</th>-->
            </tr>
          </thead>
          <!-- <tfoot id="datatfootfilter">
                                    <tr>
                                        <td rowspan="1" colspan="1">
                                            <input type="text" class="form-control input-sm" placeholder="Search Company">
                                        </td>

                                        <td rowspan="1" colspan="1">
                                            <input type="text" class="form-control input-sm" placeholder="Search Person">
                                        </td>

                                        <td rowspan="1" colspan="1">
                                            <input type="text" class="form-control input-sm" placeholder="Search Category">
                                        </td>

                                        <td rowspan="1" colspan="1">
                                            <input type="text" class="form-control input-sm" placeholder="Search Type">
                                        </td>

                                        <td rowspan="1" colspan="1">
                                            <input type="text" class="form-control input-sm" placeholder="Search Billing">
                                        </td>

                                     <td rowspan="1" colspan="1">
                                      <input type="text" class="form-control input-sm" placeholder="Status">
                                        </td>
                                        <td rowspan="1" colspan="1"></td>
                                    </tr>
                                </tfoot> -->
          <tbody>
            {% for row in camps %}
            <tr>
              <td title="{{ row.name}}">
                {% if row.status == 1 or row.status == 4 %}
                <a href="/superadmin/campaign_vendor/{{row.id}}">{{ row.name }}</a>
                {% else %}
                {{ row.name|truncatechars:20 }}
                {%endif%}
              </td>
              <td style="width: 20%;" title="{{ row.description}}">{{ row.description |truncatechars:150 }}</td>
              <td>
                {% if row.status == 0 %}
                <span class="label label-warning">DRAFT </span>
                {% elif row.status == 1 %}
                <span class="label label-success">LIVE </span>
                {% elif row.status == 2 %}
                <span class="label label-warning pause-color">PAUSE </span>
                {% elif row.status == 3%}
                <span class="label label-primary pending-color">PENDING </span>
                {% elif row.status == 4%}
                <span class="label label-info complete-color">Completed </span>
                {% elif row.status == 5%}
                <span class="label label-primary">Assigned </span>
                {%endif%}
              </td>
              <td>{% if row.adhoc  %}
                adhoc
                {% else %}
                Normal
                {% endif %}</td>
              <td> {% if row.cpl == 0 %}
                RFQ
                {% elif row.cpl is null %}
                RFQ
                {% else %}
                ${{row.cpl|floatformat:2}}
                {% endif %}</td>
              <td>{{ row.target_quantity}}</td>
              <!--<td class="text-center">
										<ul class="icons-list">
											<li class="dropdown">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown">
													<i class="icon-menu9"></i>
												</a>
												<ul class="dropdown-menu dropdown-menu-right drops_right">
													<li><a href="/superadmin/client_onBording/{{client.user_id}}">onBording</a></li>
													<li><a href="/superadmin/client_campaign_list/{{client.user_id}}">campaign-list</a></li>
												</ul>
											</li>
										</ul>
									</td>-->
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<style type="text/css">
  .sorting_1 {
    width: 20% !important;
  }

  /* Client dropdown menu */
  .drops_right {
    margin-right: 0px;
    margin-bottom: -68px !important;
  }

  /* Client show entries menu */
  .select2-container {
    text-align: center !important;
  }

  .dataTables_length>label>span:first-child {
    margin: 9px 9px !important;
  }
  .pending-color{
    border-color: #e4890e!important;
    background-color: #e4890e!important;
  }
  .complete-color{
    border-color: #00BCD4!important;
    background-color: #00BCD4!important;
  }
  .pause-color{
    border-color: #fb9575!important;
    background-color: #fb9575!important;
  }
</style>
{% include "client/clientjs.html" %}

{% endblock %}