{% extends "header/header.html" %}
{% block scripts %}
{% include "client/campdesc.html" %}
{% endblock %}
{% block content %}
<!-- Main sidebar -->
{% include "side/side.html" %}
{% load range %}
<!-- Main content -->
<div class="content-wrapper">

  <!-- Page header -->

  <div class="page-header">
    <div class="page-header-content" style="display:none">
      <div class="page-title">
        <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Dashboard</span> - Client List
        </h4>
      </div>

      <div class="heading-elements">
        <div class="heading-btn-group">
          <a href="#" class="btn btn-link btn-float text-size-small has-text"><i
              class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
          <a href="#" class="btn btn-link btn-float text-size-small has-text"><i
              class="icon-calculator text-primary"></i> <span>Invoices</span></a>
          <a href="#" class="btn btn-link btn-float text-size-small has-text"><i
              class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
        </div>
      </div>
    </div>

    <div class="breadcrumb-line">
      <ul class="breadcrumb">
        <li><a href="/superadmin/dashboard/"><i class="icon-home2 position-left"></i> Home</a></li>
        <li><a href="{{site_url}}">Campaign List</a></li>
        <li class="active">Assigned Vendors List</a></li>
      </ul>

      <ul class="breadcrumb-elements">

      </ul>
    </div>
  </div>
  <div class="content">
    <div class="panel panel-flat">
      <div class="panel-heading">

        <div class="row">

          <div class="col-md-3  status">
            <div class="form-group ">
              <label id="campstat">Campaign Status</label><br>
              {% if camp.status == 1 %}
              <label class="desc_camp_status form-control">Live</label>
              {% endif %}
              {% if camp.status == 2 %}
              <label class="desc_camp_status form-control">Draft</label>
              {% endif %}
              {% if camp.status == 3 %}
              <label class="desc_camp_status form-control">Pending</label>
              {% endif %}
              {% if camp.status == 4 %}
              <label class="desc_camp_status form-control">Complete</label>
              {% endif %}
              {% if camp.status == 5 %}
              <label class="desc_camp_status form-control">Assigned</label>
              {% endif %}
            </div>
          </div>
          <div class="col-md-9   ">
            <div class="form-group ">
              <label id="campstat1">CID : #{{camp.id}}</label><br>
              <label id="campstat1">Client Name: {{camp.user.user_name}}</label><br>
              <label id="campstat1">Campaign Name: {{camp.name}}</label><br>
              <label id="campstat1">Client Target Quantity: {{camp.target_quantity}}</label><br>
              <span class="label label-info1 lbl">C-CPL :
              </span> <span class="label label-info lbl">${{camp.cpl|floatformat:2}}</span>

              &nbsp;&nbsp;<span class="label label-info1 lbl">TC TARGET QUANTITY :</span> <span
                class="label label-info lbl">:{{camp.tc_target_quantity}}</span>
              &nbsp;&nbsp;<span class="label label-info1 lbl">TC REMAINING QUANTITY :</span> <span
                class="label label-info lbl">:{{camp.tc_raimainingleads}}</span>
            </div>
          </div>
        </div>

        <h5 class="panel-title" style="display:none">Client Campaign List
          <button type="button" id="databtn" class="btn btn-filter-tb btn-labeled pull-right">
            <b><span id="filter_icon" class="glyphicon glyphicon-filter"></span></b>
            Filter
          </button>
        </h5>


      </div>
      <div class="table-responsive-sm">

        <table class="table datatable-column-search-inputs DataTables">
          <thead>
            <tr>
              <th>Vendor Name</th>
              <th>Assigned Leads</th>
              <th>V-CPL</th>
              <!-- <th>C-CPL</th> -->
              <th>Submit Leads</th>
              <th>Returned</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tfoot id="datatfootfilter" style="display:none">
            <tr>
              <td rowspan="1" colspan="1">
                <input type="text" class="form-control input-sm" placeholder="Search Company">
              </td>
              <td rowspan="1" colspan="1">
                <input type="text" class="form-control input-sm" placeholder="Search Company">
              </td>
              <td rowspan="1" colspan="1">
                <input type="text" class="form-control input-sm" placeholder="Search Company">
              </td>
              <td rowspan="1" colspan="1">
                <input type="text" class="form-control input-sm" placeholder="Search Category">
              </td>
              <td rowspan="1" colspan="1">
                <input type="text" class="form-control input-sm" placeholder="Search Type">
              </td>

              <td rowspan="1" colspan="1">
                <input type="text" class="form-control input-sm" placeholder="Search Billing">
              </td>

              <td rowspan="1" colspan="1"></td>
            </tr>
          </tfoot>
          <tbody>
            {% for vendorallc in vendoralloc %}
            {% if vendorallc.status == 1 or vendorallc.status == 2%}
            <tr>
              <td>
                
                  {% if delivery_status %}
                  <a
                  href="/superadmin/leadlist/{{vendorallc.id}}/{{vendorallc.status}}">({{vendorallc.client_vendor.usertype.type}})
                  {{ vendorallc.client_vendor.user_name }}</a></td>
										{%else%}
										({{ vendorallc.client_vendor.usertype.type }})
										{{ vendorallc.client_vendor.user_name }}
										{%endif%}
              <td>{{vendorallc.volume}}</td>
              <td>
                {{vendorallc.cpl|floatformat:2}}
              </td>

              <td>{{vendorallc.submited_lead}}</td>
              <td>{{vendorallc.return_lead}}</td>
              {% if vendorallc.status == 1 %}
									<td><span class="label label-success">Live</span></td>
									{% else %}
									<td><span class="label label-primary"
											title="{{vendorallc.reasons|get_reason}}">Pause</span></td>
									{%endif%}
              <td>
                <ul class="icons-list">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <i class="icon-menu9"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">

                    </ul>
                  </li>
                </ul>
              </td>
            </tr>
            {% elif vendorallc.status == 4 %}
            <tr>
              <td><a
                  href="/superadmin/leadlist/{{vendorallc.id}}/{{vendorallc.client_vendor_id}}/{{vendorallc.status}}">({{vendorallc.client_vendor.usertype.type}})
                  {{ vendorallc.client_vendor.user_name }}</a></td>
              <td>{{vendorallc.old_volume}}</td>
              <td>
                {{vendorallc.cpl|floatformat:2}}
              </td>

              <td>{{vendorallc.submited_lead}}</td>
              <td>{{vendorallc.return_lead}}</td>
              <td><span class="label label-primary">Complete</span></td>
              <td>
                <ul class="icons-list">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <i class="icon-menu9"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">

                    </ul>
                  </li>
                </ul>
              </td>
            </tr>
            {% elif vendorallc.status == 3 and vendorallc.cpl > 0 and vendorallc.volume > 0 %}
            <tr>
              <td>({{vendorallc.client_vendor.usertype.type}}) {{ vendorallc.client_vendor.user_name }}</td>
              <td>{{vendorallc.volume}}</td>
              <td>
                {{vendorallc.cpl|floatformat:2}}
              </td>

              <td>{{vendorallc.submited_lead}}</td>
              <td>{{vendorallc.return_lead}}</td>
              <td><span class="label label-primary">Pending</span></td>
              <td>
                <ul class="icons-list">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <i class="icon-menu9"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right drops_right">
                      <!-- <li><a href="#" campaign_id='{{camp.id}}'cpl="{{vendorallc.old_cpl}}" status='{{vendorallc.status}}' vendor_id='{{vendorallc.client_vendor_id}}' class="assign_more_leads">Assign More Leads</a></li> -->
                      <!-- {% if vendorallc.counter_status == 1 %}
                      <li><a href="#" campaign_id='{{camp.id}}' camp_alloc_id='{{vendorallc.id}}'
                          vendor_id='{{vendorallc.client_vendor_id}}' class="counter_for_cpl">Counter</a></li>

                      {%endif%} -->
                      <!-- assign more button only for tc vendor changes - amey 20 June 2019 -->
                      <!-- {% if vendorallc.client_vendor.usertype.id == 2 %}
                      {% if camp.tc_raimainingleads > 0 %}
                      <li><a href="#" campaign_id='{{camp.id}}' cpl="{{vendorallc.cpl}}" status='{{vendorallc.status}}'
                          vendor_id='{{vendorallc.client_vendor_id}}' class="assign_more_leads">Assign More Leads</a>
                      </li>
                      {% endif %}
                      <li><a href="#" campaign_id='{{camp.id}}' cpl="{{vendorallc.cpl}}" more="0"
                          volume="{{vendorallc.volume}}" status='{{vendorallc.status}}' data-alloc="{{vendorallc.id}}"
                          vendor_id='{{vendorallc.client_vendor_id}}' class="cancel_assigned_leads">Cancel Assigned
                          Leads</a></li>
                      {% endif %} -->

                    </ul>
                  </li>
                </ul>
              </td>
            </tr>
            {% elif vendorallc.status == 5 %}
            <tr>
              <td>{{ vendorallc.client_vendor.user_name }}</td>

              <td>{{vendorallc.volume}}</td>
              <td>
                {{vendorallc.cpl|floatformat:2}}
              </td>

              <td>{{vendorallc.submited_lead}}</td>
              <td>{{vendorallc.return_lead}}</td>
              <td><span class="label label-info">Assigned</span></td>
              <td>
                <ul class="icons-list">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <i class="icon-menu9"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <!-- {% if camp.tc_raimainingleads > 0 %}
                      {% if vendorallc.client_vendor.usertype.id == 2 %}
                      <li><a href="#" campaign_id='{{camp.id}}' cpl="{{vendorallc.cpl}}" status='{{vendorallc.status}}'
                          vendor_id='{{vendorallc.client_vendor_id}}' class="assign_more_leads">Assign More Leads</a>
                      </li>
                      {% endif %}
                      {% endif %} -->
                    </ul>
                  </li>
                </ul>
              </td>
            </tr>
            {% endif %}
            {% endfor %}

            <!-- Assigned more part -->
            {% for more in more_alloc%}
            <tr>
              <!-- <td><a href="/superadmin/leadlist/{{vendorallc.id}}/{{vendorallc.status}}">{{ vendorallc.client_vendor.user_name }}</a></td> -->
              <td title="Assigned More Vendor">{{ more.client_vendor.user_name }}<span style="color:red;"> *</span></td>
              <td>{{more.volume}}</td>
              <td>
                {{more.cpl|floatformat:2}}
              </td>
              <td>0</td>
              <td>0</td>
              <td><span class="label label-primary">Pending</span></td>
              <td>
                <ul class="icons-list">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <i class="icon-menu9"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <!-- <li><a href="#" campaign_id='{{more.campaign.id}}' more="1" cpl="{{more.cpl}}"
                          volume='{{more.volume}}' vendor_id='{{more.client_vendor.id}}'
                          data-alloc="{{more.campaign_allocation.id}}" class="cancel_assigned_leads">Cancel Assigned
                          Leads</a></li> -->
                    </ul>
                  </li>
                </ul>
              </td>
            </tr>
            {% endfor%}
            <!-- Assigned more end -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div id="modal_mini" class="modal fade">
  <div class="modal-dialog modal-xs">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h5 class="modal-title">Assign More Leads</h5>
      </div>
      <form method="post" action="#">
        <div class="modal-body">
          <h6 class="text-semibold">Enter Number of Leads</h6>
          <div class="col-sm-12">

            <input type="number" min="1" max="{{camp.tc_raimainingleads}}" id="lead" placeholder="Leads"
              class="form-control">
            <input type="hidden" id="campaign_id" class="form-control">
            <input type="hidden" id="vendor_id" class="form-control">
            <input type="hidden" id="status" class="form-control">
            <input type="hidden" id="cpl" class="form-control">
            <input type="hidden" id='remaining' name="" value="{{camp.tc_raimainingleads}}">
          </div>

        </div>
        <br />

        <div class="modal-footer">
          <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
          <button type="button" id="lead_assign" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="cpl_counter" class="modal fade">
  <div class="modal-dialog modal-xs">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h5 class="modal-title">Counter CPL</h5>
      </div>
      <form method="post" action="#">
        <div class="modal-body">
          <h6 class="text-semibold">Enter V-CPL</h6>
          <div class="col-sm-12">

            <input type="number" id="vendor_cpl" placeholder="cpl" value="" class="form-control">
            <input type="hidden" id="campaign_alloc_id" class="form-control">
            <input type="hidden" id="counter_vendor_id" class="form-control">
          </div>

        </div>
        <br />

        <div class="modal-footer">
          <button type="button" class="btn btn-success counter_action" id="1">Accept</button>
          <button type="button" class="btn btn-danger counter_action" id="2">Reject</button>
        </div>
      </form>
    </div>
  </div>
</div>
<style>
  /* Client dropdown menu */
  .drops_right {
    margin-right: 0px;
    margin-bottom: -68px !important;
  }
</style>
{% include "client/campaign_vendorjs.html" %}
{% endblock %}