{% extends "header/header.html" %}

{% block content %}
<!-- Main sidebar -->
{% include "side/side.html" %}
<style>
	/* Client dropdown menu */
	.drops_right {
		margin-right: 0px;
		margin-bottom: -146px !important;
		margin-top: 2px!important;
	}
	/*bottom lines for list tag*/
	.li-bottom{
		border-bottom: 1px solid #ddd;
	}
	/* Client show entries menu */
	.select2-container {
		text-align: center !important;
	}

	.dataTables_length>label>span:first-child {
		margin: 9px 9px !important;
	}
</style>
<!-- Main content -->
<div class="content-wrapper">

	<!-- Page header -->

	<div class="page-header">
		<div class="page-header-content" style="display:none">
			<div class="page-title">
				<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Dashboard</span> -
					Client List</h4>
			</div>

			<div class="heading-elements">
				<div class="heading-btn-group">
					<a href="#" class="btn btn-link btn-float text-size-small has-text"><i
							class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
					<a href="#" class="btn btn-link btn-float text-size-small has-text"><i
							class="icon-calculator text-primary"></i> <span>Invoices</span></a>
					<a href="#" class="btn btn-link btn-float text-size-small has-text"><i
							class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
				</div>
			</div>
		</div>

		<div class="breadcrumb-line">
			<ul class="breadcrumb">
				<li><a href="/superadmin/dashboard/"><i class="icon-home2 position-left"></i> Home</a></li>
				<li class="active">Client List</a></li>
			</ul>

			<ul class="breadcrumb-elements">

			</ul>
		</div>
	</div>
	<!-- /page header -->


	<!-- Content area -->
	<div class="content">

		<!-- Top Clients List -->
		<div class="panel panel-flat">
			<div class="panel-heading">
				<h5 class="panel-title">Client List
					<!-- <button type="button" id="databtn" class="btn btn-filter-tb btn-labeled pull-right" >
									<b><span id ="filter_icon" class="glyphicon glyphicon-filter"></span></b>
									 Filter
								</button> -->
				</h5>


			</div>
			<div class="table-responsive-sm">
				<table style="width:100%" class="table datatable-column-search-inputs DataTables">
					<thead>
						<tr>
							<th>Company Name</th>
							<th>Email</th>
							<th>Contact</th>
							<th>Address</th>
							<th>Website</th>
							<th style="width:1%" class="text-center">Actions</th>

						</tr>
					</thead>
					<tfoot id="datatfootfilter" style="display:none">
						<tr>

							<td rowspan="1" colspan="1">
								<input type="text" class="form-control input-sm" placeholder="Search Company">
							</td>

							<td rowspan="1" colspan="1">
								<input type="text" class="form-control input-sm" placeholder="Search Person">
							</td>

							<td rowspan="1" colspan="1">
								<input type="text" class="form-control input-sm" placeholder="Search Category">
							</td>

							<td rowspan="1" colspan="1">
								<input type="text" class="form-control input-sm" placeholder="Search Type">
							</td>

							<td rowspan="1" colspan="1">
								<input type="text" class="form-control input-sm" placeholder="Search Billing">
							</td>

							<td rowspan="1" colspan="1">
								<input type="text" class="form-control input-sm" placeholder="Status">
							</td>
							<td rowspan="1" colspan="1"></td>
						</tr>
					</tfoot>
					<tbody>
						{% for client in clients %}
						<tr>
							<td ><a href="#">{{ client.user.user_name }}</a></td>
							<td >{{ client.user.email }}</td>
							<td >{{ client.user.contact }}</td>
							<td 
								title="{{ client.user.address_line1 }}{{ client.user.address_line2 }}">
								{{ client.user.address_line1|truncatechars_html:15 }}</td>
							<td > {{ client.website}}</td>
							<td  class="text-center">
								<ul class="icons-list">
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">
											<i class="icon-menu9"></i>
										</a>
										<ul class="dropdown-menu dropdown-menu-right drops_right drops_right">

											<li class="li-bottom"><a href="#" camp_id="{{client.user_id}}" id="ex_users">External Users</a></li>
											<li class="li-bottom"><a href="#" camp_id="{{client.user_id}}" id="ex_vendors">External Vendors</a></li>
											<li><a href="/superadmin/client_campaign_list/{{client.user_id}}">Campaign List</a></li>

										</ul>
									</li>
								</ul>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</div>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      	<!-- Modal content-->
    	<div class="modal-content" style="padding: 5%;">
        <div class="border">
        	<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">External User</h4>
        	</div>
        	<div class="modal-body">
        		<!-- <label class="pull-right group"><i class="fa fa-users" style=" color: #fff!important;" aria-hidden="true"></i></label>
        		<label class="pull-right user"><i class="fa fa-user" style=" color: #fff!important;" aria-hidden="true"></i></label> -->
        	<table id="ex_usr_table" class="table" >
	        	<thead>
	            <tr>
	                <th>Name</th>
	                <th>Group</th>

	            </tr>
	        	</thead>
	        	<tbody >
	        	</tbody>
		    </table>
		    <!-- <table id="Group" class="table table-striped table-bordered" style="width:100%">
	        	<thead>
	            <tr>
	                <th>Name</th>
	                <th>Group Associated</th>

	            </tr>
	        	</thead>
	        	<tbody id="ex_usr_table">
	        	</tbody>
		    </table> -->
        	</div>
        	<div class="modal-footer">
          	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        	</div>
      	</div>
    	</div>
    </div>
</div>
  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
    <div class="modal-content" style="padding: 5%;">
        <div class="border">
        	<div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		          <h4 class="modal-title">External Vendor</h4>
		        </div>
		        <div class="modal-body">
		          <div class="modal-body">
		        	<table id="ex_ven_table" class="table" >
			        	<thead>
			            <tr>
			                <th>Name</th>
			                <th>Email</th>

			            </tr>
			        	</thead>
			        	<tbody >
			            </tbody>
				    </table>
		        </div>
		        </div>
		       <!--  <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div> -->
        </div>
    </div>

    </div>
  </div>
  <script type="text/javascript">
  	$(document).ready(function() {
	$('#ex_usr_table').DataTable();
	$('#ex_ven_table').DataTable();

	function getCookie(name) {
	    var cookieValue = null;
	    if (document.cookie && document.cookie !== '') {
	        var cookies = document.cookie.split(';');
	        for (var i = 0; i < cookies.length; i++) {
	            var cookie = jQuery.trim(cookies[i]);
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) === (name + '=')) {
	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
	    }
	    return cookieValue;
	}

	$(document).on('click', '#ex_users', function(){
		user_id = $(this).attr('camp_id');
		$.ajax({
			type: 'POST',
			url :'/superadmin/external-users-list/',
			data : {'user_id':user_id, 'csrfmiddlewaretoken': getCookie('csrftoken')},
			success: function(data){
				user = ''
				outterArray = []

				$.each(data['users'], function(index, value){
					// user += "<tr><td>"+  + "</td><td>" + value['group'] + "</td></tr>";
					let innerArray = [value['name'], value['group']];
					outterArray.push(innerArray);
				});
				$('#ex_usr_table').DataTable({
					"destroy": true,
					"aaData": outterArray,
					"aoColumns": [
						{ "sTitle": "Name" },
						{ "sTitle": "Group" },
					],
					"lengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
				})

				// $('#ex_usr_table').html(user);
				$('#myModal').modal('show');
			},
		});
	});

	$(document).on('click', '#ex_vendors', function(){
		user_id = $(this).attr('camp_id');
		$.ajax({
			type: 'post',
			url :'/superadmin/external-vendors-list/',
			data : {'user_id':user_id, 'csrfmiddlewaretoken': getCookie('csrftoken')},
			success: function(data){
				user = ''
				outterArray = []
				$.each(data['name'], function(index, value){
					// user += "<tr><td>"+ value[0] + "</td><td>" + value[1] + "</td></tr>";
					let innerArray = [value[0], value[1]];
					outterArray.push(innerArray);
				});
				$('#ex_ven_table').DataTable({
					"destroy": true,
					"aaData": outterArray,
					"aoColumns": [
						{ "sTitle": "Name" },
						{ "sTitle": "Email" },
					],
					"lengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
				})
				// $('#ex_ven_table').html(user);
				$('#myModal1').modal('show');
			},
		});
	});
	});


  </script>
  <script>
	$(document).ready(function(){
	  $(".group").click(function(){
	    $("#example").hide();
	    $("#Group").show();
	    $(".group").hide();
	    $(".user").show();
	    $(".datatable-header").hide();
	    $(".datatable-footer").hide();
	  });
	  $(".user").click(function(){
	    $("#example").show();
	    $("#Group").hide();
	    $(".group").show();
	    $(".user").hide();
	    $(".datatable-header").show();
	    $(".datatable-footer").show();
	  });
	});
	// Add active class to superadmin's side bar- 'Users' dropdown on page refresh..Akshay G.
	$(function(){
		$('#superadmin_users').addClass('active');
		$('#superadmin_users').find('ul').show().focus().click();
		$('#superadmin_users').find('ul li:first').addClass('active');
	})
</script>
  <style type="text/css">
  	#ex_usr_table,.ex_ven_table{
  		max-height: 30vh;
    	overflow: auto;
  	}
  	.border{
  		border: 1px solid #ddd;	
  	}
  	#Group{
  		display: none;
  	}
  	.group {
		    background: #598dfa;
		    padding: 2%;
		   
		    border-radius: 100%;
		}
	.user {
	    background: #598dfa;
	    padding: 2%;	   
	    border-radius: 100%;
	    display: none;
	}
  </style>
{% endblock %}
