<script>
		$(function() {
            $('.list-group-sortable-connected').sortable({
                placeholderClass: 'list-group-item',
                connectWith: '.connected',
            });
		});

		$('.DataTables').dataTable( {
      "lengthChange": false,
			"scrollX": true
    });
	</script>
<script>
	$(document).ready(function() {
        $("#datatfootfilter").hide();

        /**
		 * On click of filter icon in datatable
		 * remove filter icon
		 * -- and---
		 * add remove icon
		 * -- and--
		 * toggle them
		 **/
        flag_filter_icon = true;

        $("#databtn").click(function() {

            $("#datatfootfilter").toggle();



            if(flag_filter_icon==true)
			{
				$('#filter_icon').removeClass('glyphicon-filter');
				$('#filter_icon').addClass('glyphicon-remove');
				flag_filter_icon = false;
			}
			else
			{
				$('#filter_icon').removeClass('glyphicon-remove');
				$('#filter_icon').addClass('glyphicon-filter');

				flag_filter_icon = true;
			}
        });
        /** /datatable filter toggle close*/
    });

		$('#submit123').click(function(){
				var someObj={};
				someObj.lead_header=[];
				$("#selected li").each(function(){
					var $this = $(this);
					someObj.lead_header.push($this.text());
				});
				lead_header=someObj.lead_header;
				token=getCookie('csrftoken');
				if(lead_header.length !==0)
				{
						camp_id=$('#camp_id_lead').val();
						$.ajax({
								type: 'post',
								url: '/vendor/ajax/create_custom_header/',
								data: {'id':lead_header,'camp_id':camp_id,csrfmiddlewaretoken: token},
								success: function(data) {
									if(data.success==1)
									{
										alert(data.msg);
										location.reload(true);
									}
								},
								failure: function(error) {
										alert("fail");
								}
						});

				}else{
					alert('Please Select  lead header !...');
				}
		});

		$('.assign_more_leads').click(function(){
			camp_id=$(this).attr('campaign_id');
			vendor_id=$(this).attr('vendor_id');
			status=$(this).attr('status');
			cpl=$(this).attr('cpl');
			$('#campaign_id').val(camp_id);
			$('#vendor_id').val(vendor_id);
			$('#status').val(status);
			$('#cpl').val(cpl);
			$('#modal_mini').modal('show');
		});
		$('.counter_action').click(function(){
			id=$(this).attr('id');
			camp_alloc_id=$('#campaign_alloc_id').val();
			vendor_id=$('#counter_vendor_id').val();
			vendor_cpl=$('#vendor_cpl').val();
			$.ajax({
		          url: '/superadmin/counter_action_on_cpl/',
							type: 'POST',
		          data: {csrfmiddlewaretoken:token,'cpl':vendor_cpl,'id':id,'vendor_id':vendor_id,'camp_alloc_id':camp_alloc_id},
		          success: function(data)
		          {
		              if(data.success==1)
		              {
										swal({
													title: "Good job!",
													text: data.msg,
													icon: "success",
													button: "ok",
													showConfirmButton: false,
													timer: 1500
												});
										location.reload(true);
		              }
		          }
		        });
		});
		$('#counter_for_cpl').click(function(){
			vendor_id=$(this).attr('vendor_id');
			camp_alloc_id=$(this).attr('camp_alloc_id');
			token=getCookie('csrftoken');
			$.ajax({
		          url: '/superadmin/get_counter_cpl/',
							type: 'POST',
		          data: {csrfmiddlewaretoken:token,'vendor_id':vendor_id,'camp_alloc_id':camp_alloc_id},
		          success: function(data)
		          {
		              if(data.success==1)
		              {
		                $('#campaign_alloc_id').val(camp_alloc_id);
										$('#vendor_cpl').val(data.cpl);
										$('#counter_vendor_id').val(vendor_id)
										$('#cpl_counter').modal('show');
		              }
		          }
		        });
		});
		function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = jQuery.trim(cookies[i]);
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		$("#lead_assign").click(function() {
		 	camp_id=$('#campaign_id').val();
			vendor_id=$('#vendor_id').val();
			status=$('#status').val();
			lead=$('#lead').val();
			cpl=$('#cpl').val();
			token=getCookie('csrftoken');
			$('#lead_assign').prop('disabled', true)
			$('#lead_assign').html('<i class="fa fa-spinner fa-spin"></i> Processing');
			$.ajax({
		          url: '/superadmin/lead_assign/',
							type: 'POST',
		          data: {csrfmiddlewaretoken:token,'cpl':cpl,'lead':lead,'campaign_id':camp_id,'vendor_id':vendor_id,'status':status},
		          success: function(data)
		          {
		              if(data.success==1)
		              {
										$('#lead_assign').prop('disabled', false)
										$('#lead_assign').html('Assign');
		                alert(data.msg);
		                location.reload();
		              }
		              else
		              {
		                alert(data.msg);
		              }
		          }
		        });
		});
		$(function () {
	    $('[data-toggle="tooltip"]').tooltip()
	  })
</script>
