{% extends "header/vendorportalheader.html" %}
{% load static %}
{% block scripts %}
{% include "campaign/manage_vendor_campaign.html" %}
{% endblock %}
{% block scripts1 %}
{% include "campaign/manage_campaign.css" %}
{% endblock %}

{% block content %}

<!-- Main sidebar -->
{% include "side/clientvendorside.html" %}
{% load range %}
<!-- /main sidebar -->
<style type="text/css">
    .set-margin{
        margin-top: 1%;
    }
    .ul_aligns{
        margin-left: 5%;
    }
</style>
<!-- Main content -->
<div class="content-wrapper">
    <!-- Content area -->
    <div class="content">
        <div class="row">
            <!-- Top Clients List -->
            <div class="panel panel-height panel-flat">
                <div class="panel-heading">
                    <h1 class="panel-title"> Account Details
                    </h1><br>
                    <p id="font14">The Techconnectr Portal is a self-service tool that provides you with full control
                        of the account.</p> <br>
                </div>

                <div class="panel-body">
                    <ul class="nav nav-pills nav-tabs">
                        <!-- <li class="active"><a data-toggle="tab" href="#home">Company Info</a></li>
                        <li><a data-toggle="tab" href="#menu1">User Info</a></li> -->
                        <li class="active"><a data-toggle="tab" href="#menu4">Email Preference</a></li>
                        <li><a data-toggle="tab" href="#menu2">Payment Info</a></li>
                        <li><a data-toggle="tab" href="#menu3">Change Password</a></li>
                        <li><a data-toggle="tab" href="#menu5">Delete Account</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="home" class="tab-pane fade ">
                            <div class="row">
                                <div class="col-lg-8 col-sm-12">
                                    <form method="" action="#">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <div class="col-lg-3">
                                                        <label>Company Name</label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control col-lg-6" placeholder=""
                                                            value={{client.user.user_name}}>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row" id="paddingtop5">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <div class="col-lg-3">
                                                        <label>Company Website URL</label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control col-lg-6" placeholder=""
                                                            value="{{client.website}}" disabled="">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row" id="paddingtop5">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <div class="col-lg-3">
                                                        <label>Company Logo</label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <input type="file" class="file-input">

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row" id="paddingtop5">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <div class="col-lg-3">
                                                        <label>Street Address</label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control col-lg-6" placeholder=""
                                                            value="{{client.user.address_line1}}">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <!--   <div class="row" id="paddingtop5">
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <div class="col-lg-3">
                                                        <label>Department/Division</label>
                                                    </div>
                                                        <div class="col-lg-6">
                                                            <input type="text"  class="form-control col-lg-6" placeholder="" >
                                                            </div>
                                                            </div>
                                                </div>
                                    
                                            </div> -->
                                        <div class="row" id="paddingtop5">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <div class="col-lg-3">
                                                        <label>City</label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control col-lg-6" placeholder=""
                                                            value="{{city}}">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row" id="paddingtop5">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <div class="col-lg-3">
                                                        <label>State/Province</label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <select class="form-control">
                                                            <option value="" selected>{{state}}</option>
                                                            <option value=""> Select State/Province
                                                            </option>
                                                            <option value="AL"> Alabama
                                                            </option>
                                                            <option value="AK"> Alaska
                                                            </option>
                                                            <option value="AZ"> Arizona
                                                            </option>
                                                            <option value="AR"> Arkansas
                                                            </option>
                                                            <option value="CA"> California
                                                            </option>
                                                            <option value="CO"> Colorado
                                                            </option>
                                                            <option value="CT"> Connecticut
                                                            </option>
                                                            <option value="DE"> Delaware
                                                            </option>
                                                            <option value="DC"> District of Columbia
                                                            </option>
                                                            <option value="FL"> Florida
                                                            </option>
                                                            <option value="GA"> Georgia
                                                            </option>
                                                            <option value="HI"> Hawaii
                                                            </option>
                                                            <option value="ID"> Idaho
                                                            </option>
                                                            <option value="IL"> Illinois
                                                            </option>
                                                            <option value="IN"> Indiana
                                                            </option>
                                                            <option value="IA"> Iowa
                                                            </option>
                                                            <option value="KS"> Kansas
                                                            </option>
                                                            <option value="KY"> Kentucky
                                                            </option>
                                                            <option value="LA"> Louisiana
                                                            </option>
                                                            <option value="ME"> Maine
                                                            </option>
                                                            <option value="MD"> Maryland
                                                            </option>
                                                            <option value="MA"> Massachusetts
                                                            </option>
                                                            <option value="MI"> Michigan
                                                            </option>
                                                            <option value="MN"> Minnesota
                                                            </option>
                                                            <option value="MS"> Mississippi
                                                            </option>
                                                            <option value="MO"> Missouri
                                                            </option>
                                                            <option value="MT"> Montana
                                                            </option>
                                                            <option value="NE"> Nebraska
                                                            </option>
                                                            <option value="NV"> Nevada
                                                            </option>
                                                            <option value="NH"> New Hampshire
                                                            </option>
                                                            <option value="NJ"> New Jersey
                                                            </option>
                                                            <option value="NM"> New Mexico
                                                            </option>
                                                            <option value="NY"> New York
                                                            </option>
                                                            <option value="NC"> North Carolina
                                                            </option>
                                                            <option value="ND"> North Dakota
                                                            </option>
                                                            <option value="OH"> Ohio
                                                            </option>
                                                            <option value="OK"> Oklahoma
                                                            </option>
                                                            <option value="OR"> Oregon
                                                            </option>
                                                            <option value="PA"> Pennsylvania
                                                            </option>
                                                            <option value="RI"> Rhode Island
                                                            </option>
                                                            <option value="SC"> South Carolina
                                                            </option>
                                                            <option value="SD"> South Dakota
                                                            </option>
                                                            <option value="TN"> Tennessee
                                                            </option>
                                                            <option value="TX"> Texas
                                                            </option>
                                                            <option value="UT"> Utah
                                                            </option>
                                                            <option value="VT"> Vermont
                                                            </option>
                                                            <option value="VA"> Virginia
                                                            </option>
                                                            <option value="WA"> Washington
                                                            </option>
                                                            <option value="WV"> West Virginia
                                                            </option>
                                                            <option value="WI"> Wisconsin
                                                            </option>
                                                            <option value="WY"> Wyoming
                                                            </option>
                                                            <option value="AS"> American Samoa
                                                            </option>
                                                            <option value="GU"> Guam
                                                            </option>
                                                            <option value="PR"> Puerto Rico
                                                            </option>
                                                            <option value="UM"> United States Minor Outlying Islands
                                                            </option>
                                                            <option value="VI"> Virgin Islands, U.S.
                                                            </option>
                                                            <option value="MP"> Northern Mariana Islands
                                                            </option>
                                                            <option value=""> &nbsp;
                                                            </option>
                                                            <option value="AB"> Alberta
                                                            </option>
                                                            <option value="BC"> British Columbia
                                                            </option>
                                                            <option value="MB"> Manitoba
                                                            </option>
                                                            <option value="NB"> New Brunswick
                                                            </option>
                                                            <option value="NL"> Newfoundland and Labrador
                                                            </option>
                                                            <option value="NT"> Northwest Territories
                                                            </option>
                                                            <option value="NS"> Nova Scotia
                                                            </option>
                                                            <option value="NU"> Nunavut
                                                            </option>
                                                            <option value="ON"> Ontario
                                                            </option>
                                                            <option value="PE"> Prince Edward Island
                                                            </option>
                                                            <option value="QC"> Quebec
                                                            </option>
                                                            <option value="SK"> Saskatchewan
                                                            </option>
                                                            <option value="YT"> Yukon Territory
                                                            </option>
                                                            <option value=""> Other
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row" id="paddingtop5">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <div class="col-lg-3">
                                                        <label>Zip</label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control col-lg-6" placeholder="">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row" id="paddingtop5">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <div class="col-lg-3">
                                                        <label>Country</label>
                                                    </div>
                                                    <div class="col-lg-6">

                                                        <select class="form-control">
                                                            <option value="" selected>{{country}}</option>
                                                            <option value=""> Select Country
                                                            </option>
                                                            <option value="US"> United States
                                                            </option>
                                                            <option value="CA"> Canada
                                                            </option>
                                                            <option value="">
                                                            </option>
                                                            <option value="AF"> Afghanistan
                                                            </option>
                                                            <option value="AX"> Aland Islands
                                                            </option>
                                                            <option value="AL"> Albania
                                                            </option>
                                                            <option value="DZ"> Algeria
                                                            </option>
                                                            <option value="AS"> American Samoa
                                                            </option>
                                                            <option value="AD"> Andorra
                                                            </option>
                                                            <option value="AO"> Angola
                                                            </option>
                                                            <option value="AI"> Anguilla
                                                            </option>
                                                            <option value="AQ"> Antarctica
                                                            </option>
                                                            <option value="AG"> Antigua and Barbuda
                                                            </option>
                                                            <option value="AR"> Argentina
                                                            </option>
                                                            <option value="AM"> Armenia
                                                            </option>
                                                            <option value="AW"> Aruba
                                                            </option>
                                                            <option value="AU"> Australia
                                                            </option>
                                                            <option value="AT"> Austria
                                                            </option>
                                                            <option value="AZ"> Azerbaijan
                                                            </option>
                                                            <option value="BS"> Bahamas
                                                            </option>
                                                            <option value="BH"> Bahrain
                                                            </option>
                                                            <option value="BD"> Bangladesh
                                                            </option>
                                                            <option value="BB"> Barbados
                                                            </option>
                                                            <option value="BY"> Belarus
                                                            </option>
                                                            <option value="BE"> Belgium
                                                            </option>
                                                            <option value="BZ"> Belize
                                                            </option>
                                                            <option value="BJ"> Benin
                                                            </option>
                                                            <option value="BM"> Bermuda
                                                            </option>
                                                            <option value="BT"> Bhutan
                                                            </option>
                                                            <option value="BO"> Bolivia
                                                            </option>
                                                            <option value="BA"> Bosnia and Herzegovina
                                                            </option>
                                                            <option value="BW"> Botswana
                                                            </option>
                                                            <option value="BV"> Bouvet Island
                                                            </option>
                                                            <option value="BR"> Brazil
                                                            </option>
                                                            <option value="IO"> British Indian Ocean Territory
                                                            </option>
                                                            <option value="BN"> Brunei Darussalam
                                                            </option>
                                                            <option value="BG"> Bulgaria
                                                            </option>
                                                            <option value="BF"> Burkina Faso
                                                            </option>
                                                            <option value="BI"> Burundi
                                                            </option>
                                                            <option value="KH"> Cambodia
                                                            </option>
                                                            <option value="CM"> Cameroon
                                                            </option>
                                                            <option value="CV"> Cape Verde
                                                            </option>
                                                            <option value="KY"> Cayman Islands
                                                            </option>
                                                            <option value="CF"> Central African Republic
                                                            </option>
                                                            <option value="TD"> Chad
                                                            </option>
                                                            <option value="CL"> Chile
                                                            </option>
                                                            <option value="CN"> China
                                                            </option>
                                                            <option value="CX"> Christmas Island
                                                            </option>
                                                            <option value="CC"> Cocos (Keeling) Islands
                                                            </option>
                                                            <option value="CO"> Colombia
                                                            </option>
                                                            <option value="KM"> Comoros
                                                            </option>
                                                            <option value="CG"> Congo
                                                            </option>
                                                            <option value="CD"> Congo, The Democratic Republic
                                                            </option>
                                                            <option value="CK"> Cook Islands
                                                            </option>
                                                            <option value="CR"> Costa Rica
                                                            </option>
                                                            <option value="CI"> Cote D'Ivoire
                                                            </option>
                                                            <option value="HR"> Croatia
                                                            </option>
                                                            <option value="CU"> Cuba
                                                            </option>
                                                            <option value="CY"> Cyprus
                                                            </option>
                                                            <option value="CZ"> Czech Republic
                                                            </option>
                                                            <option value="DK"> Denmark
                                                            </option>
                                                            <option value="DJ"> Djibouti
                                                            </option>
                                                            <option value="DM"> Dominica
                                                            </option>
                                                            <option value="DO"> Dominican Republic
                                                            </option>
                                                            <option value="EC"> Ecuador
                                                            </option>
                                                            <option value="EG"> Egypt
                                                            </option>
                                                            <option value="SV"> El Salvador
                                                            </option>
                                                            <option value="GQ"> Equatorial Guinea
                                                            </option>
                                                            <option value="ER"> Eritrea
                                                            </option>
                                                            <option value="EE"> Estonia
                                                            </option>
                                                            <option value="ET"> Ethiopia
                                                            </option>
                                                            <option value="FK"> Falkland Islands (Malvinas)
                                                            </option>
                                                            <option value="FO"> Faroe Islands
                                                            </option>
                                                            <option value="FJ"> Fiji
                                                            </option>
                                                            <option value="FI"> Finland
                                                            </option>
                                                            <option value="FR"> France
                                                            </option>
                                                            <option value="GF"> French Guiana
                                                            </option>
                                                            <option value="PF"> French Polynesia
                                                            </option>
                                                            <option value="TF"> French Southern Territories
                                                            </option>
                                                            <option value="GA"> Gabon
                                                            </option>
                                                            <option value="GM"> Gambia
                                                            </option>
                                                            <option value="GE"> Georgia
                                                            </option>
                                                            <option value="DE"> Germany
                                                            </option>
                                                            <option value="GH"> Ghana
                                                            </option>
                                                            <option value="GI"> Gibraltar
                                                            </option>
                                                            <option value="GR"> Greece
                                                            </option>
                                                            <option value="GL"> Greenland
                                                            </option>
                                                            <option value="GD"> Grenada
                                                            </option>
                                                            <option value="GP"> Guadeloupe
                                                            </option>
                                                            <option value="GU"> Guam
                                                            </option>
                                                            <option value="GT"> Guatemala
                                                            </option>
                                                            <option value="GG"> Guernsey
                                                            </option>
                                                            <option value="GN"> Guinea
                                                            </option>
                                                            <option value="GW"> Guinea-Bissau
                                                            </option>
                                                            <option value="GY"> Guyana
                                                            </option>
                                                            <option value="HT"> Haiti
                                                            </option>
                                                            <option value="HM"> Heard Island &amp; McDonald Islands
                                                            </option>
                                                            <option value="VA"> Holy See (Vatican City State)
                                                            </option>
                                                            <option value="HN"> Honduras
                                                            </option>
                                                            <option value="HK"> Hong Kong
                                                            </option>
                                                            <option value="HU"> Hungary
                                                            </option>
                                                            <option value="IS"> Iceland
                                                            </option>
                                                            <option value="IN"> India
                                                            </option>
                                                            <option value="ID"> Indonesia
                                                            </option>
                                                            <option value="IR"> Iran, Islamic Republic of
                                                            </option>
                                                            <option value="IQ"> Iraq
                                                            </option>
                                                            <option value="IE"> Ireland
                                                            </option>
                                                            <option value="IM"> Isle of Man
                                                            </option>
                                                            <option value="IL"> Israel
                                                            </option>
                                                            <option value="IT"> Italy
                                                            </option>
                                                            <option value="JM"> Jamaica
                                                            </option>
                                                            <option value="JP"> Japan
                                                            </option>
                                                            <option value="JE"> Jersey
                                                            </option>
                                                            <option value="JO"> Jordan
                                                            </option>
                                                            <option value="KZ"> Kazakhstan
                                                            </option>
                                                            <option value="KE"> Kenya
                                                            </option>
                                                            <option value="KI"> Kiribati
                                                            </option>
                                                            <option value="KP"> Korea, North
                                                            </option>
                                                            <option value="KR"> Korea, South
                                                            </option>
                                                            <option value="KW"> Kuwait
                                                            </option>
                                                            <option value="KG"> Kyrgyzstan
                                                            </option>
                                                            <option value="LA"> Lao Peoples Demo Republic
                                                            </option>
                                                            <option value="LV"> Latvia
                                                            </option>
                                                            <option value="LB"> Lebanon
                                                            </option>
                                                            <option value="LS"> Lesotho
                                                            </option>
                                                            <option value="LR"> Liberia
                                                            </option>
                                                            <option value="LY"> Libyan Arab Jamahiriya
                                                            </option>
                                                            <option value="LI"> Liechtenstein
                                                            </option>
                                                            <option value="LT"> Lithuania
                                                            </option>
                                                            <option value="LU"> Luxembourg
                                                            </option>
                                                            <option value="MO"> Macao
                                                            </option>
                                                            <option value="MK"> Macedonia
                                                            </option>
                                                            <option value="MG"> Madagascar
                                                            </option>
                                                            <option value="MW"> Malawi
                                                            </option>
                                                            <option value="MY"> Malaysia
                                                            </option>
                                                            <option value="MV"> Maldives
                                                            </option>
                                                            <option value="ML"> Mali
                                                            </option>
                                                            <option value="MT"> Malta
                                                            </option>
                                                            <option value="MH"> Marshall Islands
                                                            </option>
                                                            <option value="MQ"> Martinique
                                                            </option>
                                                            <option value="MR"> Mauritania
                                                            </option>
                                                            <option value="MU"> Mauritius
                                                            </option>
                                                            <option value="YT"> Mayotte
                                                            </option>
                                                            <option value="MX"> Mexico
                                                            </option>
                                                            <option value="FM"> Micronesia
                                                            </option>
                                                            <option value="MD"> Moldova, Republic of
                                                            </option>
                                                            <option value="MC"> Monaco
                                                            </option>
                                                            <option value="MN"> Mongolia
                                                            </option>
                                                            <option value="ME"> Montenegro
                                                            </option>
                                                            <option value="MS"> Montserrat
                                                            </option>
                                                            <option value="MA"> Morocco
                                                            </option>
                                                            <option value="MZ"> Mozambique
                                                            </option>
                                                            <option value="MM"> Myanmar
                                                            </option>
                                                            <option value="NA"> Namibia
                                                            </option>
                                                            <option value="NR"> Nauru
                                                            </option>
                                                            <option value="NP"> Nepal
                                                            </option>
                                                            <option value="AN"> Netherlands Antilles
                                                            </option>
                                                            <option value="NL"> Netherlands
                                                            </option>
                                                            <option value="NC"> New Caledonia
                                                            </option>
                                                            <option value="NZ"> New Zealand
                                                            </option>
                                                            <option value="NI"> Nicaragua
                                                            </option>
                                                            <option value="NE"> Niger
                                                            </option>
                                                            <option value="NG"> Nigeria
                                                            </option>
                                                            <option value="NU"> Niue
                                                            </option>
                                                            <option value="NF"> Norfolk Island
                                                            </option>
                                                            <option value="MP"> Northern Mariana Islands
                                                            </option>
                                                            <option value="NO"> Norway
                                                            </option>
                                                            <option value="OM"> Oman
                                                            </option>
                                                            <option value="PK"> Pakistan
                                                            </option>
                                                            <option value="PW"> Palau
                                                            </option>
                                                            <option value="PS"> Palestinian Territory, Occupy
                                                            </option>
                                                            <option value="PA"> Panama
                                                            </option>
                                                            <option value="PG"> Papua New Guinea
                                                            </option>
                                                            <option value="PY"> Paraguay
                                                            </option>
                                                            <option value="PE"> Peru
                                                            </option>
                                                            <option value="PH"> Philippines
                                                            </option>
                                                            <option value="PN"> Pitcairn
                                                            </option>
                                                            <option value="PL"> Poland
                                                            </option>
                                                            <option value="PT"> Portugal
                                                            </option>
                                                            <option value="PR"> Puerto Rico
                                                            </option>
                                                            <option value="QA"> Qatar
                                                            </option>
                                                            <option value="RE"> Reunion
                                                            </option>
                                                            <option value="RO"> Romania
                                                            </option>
                                                            <option value="RU"> Russian Federation
                                                            </option>
                                                            <option value="RW"> Rwanda
                                                            </option>
                                                            <option value="SH"> Saint Helena
                                                            </option>
                                                            <option value="KN"> Saint Kitts &amp; Nevis
                                                            </option>
                                                            <option value="LC"> Saint Lucia
                                                            </option>
                                                            <option value="MF"> Saint Martin
                                                            </option>
                                                            <option value="PM"> Saint Pierre and Miquelon
                                                            </option>
                                                            <option value="VC"> St Vincent and the Grenadines
                                                            </option>
                                                            <option value="WS"> Samoa
                                                            </option>
                                                            <option value="SM"> San Marino
                                                            </option>
                                                            <option value="ST"> Sao Tome and Principe
                                                            </option>
                                                            <option value="SA"> Saudi Arabia
                                                            </option>
                                                            <option value="SN"> Senegal
                                                            </option>
                                                            <option value="CS"> Serbia and Montenegro
                                                            </option>
                                                            <option value="RS"> Serbia
                                                            </option>
                                                            <option value="SC"> Seychelles
                                                            </option>
                                                            <option value="SL"> Sierra Leone
                                                            </option>
                                                            <option value="SG"> Singapore
                                                            </option>
                                                            <option value="SK"> Slovakia
                                                            </option>
                                                            <option value="SI"> Slovenia
                                                            </option>
                                                            <option value="SB"> Solomon Islands
                                                            </option>
                                                            <option value="SO"> Somalia
                                                            </option>
                                                            <option value="ZA"> South Africa
                                                            </option>
                                                            <option value="GS"> S Georgia &amp; S Sandwich Island
                                                            </option>
                                                            <option value="ES"> Spain
                                                            </option>
                                                            <option value="LK"> Sri Lanka
                                                            </option>
                                                            <option value="SD"> Sudan
                                                            </option>
                                                            <option value="SR"> Suriname
                                                            </option>
                                                            <option value="SJ"> Svalbard and Jan Mayen
                                                            </option>
                                                            <option value="SZ"> Swaziland
                                                            </option>
                                                            <option value="SE"> Sweden
                                                            </option>
                                                            <option value="CH"> Switzerland
                                                            </option>
                                                            <option value="SY"> Syrian Arab Republic
                                                            </option>
                                                            <option value="TW"> Taiwan
                                                            </option>
                                                            <option value="TJ"> Tajikistan
                                                            </option>
                                                            <option value="TZ"> Tanzania, United Republic of
                                                            </option>
                                                            <option value="TH"> Thailand
                                                            </option>
                                                            <option value="TL"> Timor-Leste
                                                            </option>
                                                            <option value="TG"> Togo
                                                            </option>
                                                            <option value="TK"> Tokelau
                                                            </option>
                                                            <option value="TO"> Tonga
                                                            </option>
                                                            <option value="TT"> Trinidad and Tobago
                                                            </option>
                                                            <option value="TN"> Tunisia
                                                            </option>
                                                            <option value="TR"> Turkey
                                                            </option>
                                                            <option value="TM"> Turkmenistan
                                                            </option>
                                                            <option value="TC"> Turks and Caicos Islands
                                                            </option>
                                                            <option value="TV"> Tuvalu
                                                            </option>
                                                            <option value="UG"> Uganda
                                                            </option>
                                                            <option value="UA"> Ukraine
                                                            </option>
                                                            <option value="AE"> United Arab Emirates
                                                            </option>
                                                            <option value="UK"> United Kingdom
                                                            </option>
                                                            <option value="UM"> US Minor Outlying Islands
                                                            </option>
                                                            <option value="UY"> Uruguay
                                                            </option>
                                                            <option value="UZ"> Uzbekistan
                                                            </option>
                                                            <option value="VU"> Vanuatu
                                                            </option>
                                                            <option value="VE"> Venezuela
                                                            </option>
                                                            <option value="VN"> Viet Nam
                                                            </option>
                                                            <option value="VG"> Virgin Islands, British
                                                            </option>
                                                            <option value="VI"> Virgin Islands, U.S.
                                                            </option>
                                                            <option value="WF"> Wallis and Futuna
                                                            </option>
                                                            <option value="EH"> Western Sahara
                                                            </option>
                                                            <option value="YE"> Yemen
                                                            </option>
                                                            <option value="ZM"> Zambia
                                                            </option>
                                                            <option value="ZW"> Zimbabwe

                                                        </select>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="text-center form-group" id="paddingtop20">
                                            <button type="submit" class="btn btn-primary">Submit form <i></i></button>
                                        </div>
                                    </form>

                                </div>

                                <div class="col-lg-4">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h6 class="panel-title">Info</h6>
        
                                            </div>
        
                                            <div class="panel-body">
                                                Company Information
                                            </div>
                                        </div>
        
                                    </div>
                            </div>
                            
                            
                        </div>


                        <div id="menu1" class="tab-pane fade">

                            <div class="row">

                                <div class="col-lg-8 col-sm-12">
                                    <form method="" action="#">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <div class="col-lg-3">
                                                        <label>First Name</label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control col-lg-6" placeholder=""
                                                            value="{{client.primary_name}}">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row" id="paddingtop5">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <div class="col-lg-3">
                                                        <label>Last Name</label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control col-lg-6" placeholder="">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row" id="paddingtop5">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <div class="col-lg-3">
                                                        <label>Job Title</label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control col-lg-6" placeholder=""
                                                            value="">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row" id="paddingtop5">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <div class="col-lg-3">
                                                        <label>Phone Number</label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control col-lg-6" placeholder=""
                                                            value="{{client.user.contact}}">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>



                                        <div class="text-center form-group" id="paddingtop20">
                                            <button type="submit" id="centertext" class="btn btn-primary">Save<i class=""></i></button>
                                        </div>
                                    </form>

                                </div>
                                <div class="col-lg-4">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h6 class="panel-title">Info</h6>

                                        </div>
                                        
                                        <div class="panel-body">
                                            User Information
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                                
                        </div>


                        <div id="menu2" class="tab-pane fade">
                            <div class="row">

                                <div class="col-lg-8 col-sm-12">


                                    <p>

                                    </p>
                                    <p id="payment">
                                        Payment information is only required for LeadFlow campaigns.
                                    </p>
                                    <p id="payment">
                                        If you are only running ContentFlow campaigns you do not need to enter a credit
                                        card.
                                    </p>
                                    <p id="payment">
                                        Visa, MasterCard and AMEX credit cards accepted for campaign payment.
                                    </p>
                                    <p id="payment">
                                        Please enter your credit card information below.
                                    </p>

                                    <br>
                                    <br>

                                </div>
                                
                                <div class="col-lg-4">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h6 class="panel-title">Info</h6>
                                            
                                    </div>
                                    
                                    <div class="panel-body">
                                        Payment Method
                                    </div>
                                </div>
                                
                                </div>
                            </div>
                        </div>

                        <div id="menu3" class="tab-pane fade">

                            <div class="row">

                                <div class="col-lg-8 col-sm-12">
                                    <form method="post" id='passchangeform' action="/client/ChangePwd/">

                                        {% csrf_token %}
                                        <div class="row" id="paddingtop5">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <div class="col-lg-3">
                                                        <label>Old Password:</label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <input type="password" id="opwd" name="opwd" required class="form-control col-lg-6"
                                                            placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" id="paddingtop5">
                                            <div class="col-lg-12 set-margin">
                                                <div class="form-group">
                                                    <div class="col-lg-3">
                                                        <label>Password:</label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <input type="password" id="npwd" name="npwd" required class="form-control col-lg-6"
                                                            placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" id="paddingtop5">
                                            <div class="col-lg-12 set-margin">
                                                <div class="form-group">
                                                    <div class="col-lg-3">
                                                        <label>Confirm Password:</label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <input type="password" id="cpwd" name="cpwd" required class="form-control col-lg-6"
                                                            placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center form-group" id="paddingtop20">
                                            <button type="submit" id="pasubmit" class="btn btn-primary set-margin">Update</button>
                                        </div>
                                    </form>

                                </div>
                                <div class="col-lg-4">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h6 class="panel-title">Info</h6>
    
                                        </div>
    
                                        <div class="panel-body">
                                            Change Password
                                        </div>
                                    </div>
                                    <div id='passerror' class="alert alert-danger">
                                        This alert box could indicate a dangerous or potentially negative action.
                                    </div>
                                    <div id='passerror1' class="alert alert-success">
                                        This alert box could indicate a dangerous or potentially negative action.
                                    </div>
    
                                </div>
                            </div>
                        </div>

                        <div id="menu4" class="tab-pane fade in active">

                            <div class="row">

                                <div class="col-lg-8 col-sm-12">
                                    <form method="" action="#">
                                        <div class="row">

                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <div class="col-lg-3">
                                                        <label>Username: </label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <span>{{client.user.email}}</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row" id="paddingtop5">
                                            <div class="col-lg-12 set-margin">
                                                <div class="form-group">
                                                    <div class="col-lg-3">
                                                        <label>Password:</label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control col-lg-6" placeholder="">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row" id="paddingtop5">
                                            <div class="col-lg-12 set-margin">
                                                <div class="form-group">
                                                    <div class="col-lg-3">
                                                        <label>New Email address:</label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control col-lg-6" placeholder="">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="text-center form-group" id="paddingtop20">
                                            <button type="submit" id="centertext" class="btn btn-primary set-margin">Submit</button>
                                        </div>
                                    </form>

                                    <div class="row">

                                        <div class="col-lg-10 col-sm-12">
                                            <form method="" action="#">


                                                <h3>Receive Update</h3>
                                                <p id="font16">
                                                    In addition to receiving campaign and account updates, you can
                                                    choose to receive important product information, helpful tips, and
                                                    Techconnectr news updates.
                                                    <br>
                                                    Select your email preferences below:
                                                </p>
                                                <table class="FormTable">
                                                    <tr>
                                                        <td>
                                                            <div class="editor-field">
                                                                <fieldset id="font14">
                                                                    <input type="checkbox" name="OptinProdUpd" id="OptinProdUpd"
                                                                        value="Y" />
                                                                    Yes, please send me product updates and helpful
                                                                    tips.
                                                                </fieldset>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="editor-field">
                                                                <fieldset id="font14">
                                                                    <input type="checkbox" name="EmailPreference" id="EmailPreference"
                                                                        value="Y" />
                                                                    Yes, please send me Techconnectr news.
                                                                </fieldset>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                                If you wish to no longer receive campaign and account status updates,
                                                please <a href="#" style="color:#434342;text-decoration:underline;font-weight:300;">delete
                                                    your portal account</a>.
                                                <br><br>


                                                <div class=" form-group" id="paddingtop5">
                                                    <button type="submit" class="btn btn-primary">Update<i></i></button>
                                                </div>
                                            </form>

                                        </div>



                                    </div>

                                </div>

                                
                                <div class="col-lg-4">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h6 class="panel-title">Info</h6>
    
                                        </div>
    
                                        <div class="panel-body">
                                            Email Preferences
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="menu5" class="tab-pane fade">

                            <div class="row">

                                <div class="col-lg-8 col-sm-12">
                                    <form method="" action="#">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <h5>Deleting your account will permanently erase all associated data,
                                                    reports, and leads from our system – this step cannot be undone.</h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <h6>Tell us why you are leaving by explaining below:</h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <textarea class="form-control" id="comment"></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <h5> Are you sure you want to delete your account? &nbsp;&nbsp;&nbsp;<input
                                                        type="radio" name="ch">Yes <input type="radio" name="ch">No
                                                </h5>
                                            </div>
                                        </div>

                                        <div class="text-center form-group" id="paddingtop20">
                                            <button type="submit" id="centertext" class="btn btn-primary">Delete
                                                Account<i class=""></i></button>
                                        </div>
                                    </form>

                                </div>
                                <div class="col-lg-4">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h6 class="panel-title">Info</h6>


                                        </div>

                                        <div class="panel-body">
                                            Delete Account
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>

                    </div>

                </div>


            </div>
            <!-- /highlighting rows and columns -->





            <!-- Footer -->
            <div class="footer text-muted" style="display: none;">
                &copy; 2018. <a href="#">Trigensoft</a> by <a href="Trigensoft.com" target="_blank">Eugene Kopyov</a>
            </div>
            <!-- /footer -->

        </div>
        <!-- /content area -->
    </div>
</div>
<!-- /main content -->

</div>
<!-- /page content -->

</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" onclick="closeModel()" class="close">&times;</button>
                <h4 class="modal-title">On Boarding</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">Client</a></li>
                    <li><a data-toggle="tab" href="#menu1">Vendor</a></li>
                </ul>

                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">

                        <div class="panel panel-flat">
                            <table id="data" class="table datatable-show-all">
                                <thead>
                                    <tr>
                                        <th>Company Name</th>
                                        <th>Stage</th>
                                        <th>Status</th>
                                        <th>Next Step</th>
                                        <th>Last Update</th>
                                        <th>History</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Marth</td>
                                        <td>1</td>
                                        <td><span class="label label-info">Warm</span></td>
                                        <td>3</td>
                                        <td>16-June-2018</td>
                                        <td><button type="button" class="btn btn-info btn-float btn-rounded legitRipple"
                                                data-toggle="modal" data-target="#modal_iconified"><i class="glyphicon glyphicon-search"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>Jackelyn</td>
                                        <td>--</td>
                                        <td>--</td>
                                        <td>--</td>
                                        <td>16-June-2018</td>
                                        <td><button type="button" class="btn btn-info btn-float btn-rounded legitRipple"
                                                data-toggle="modal" data-target="#modal_iconified"><i class="glyphicon glyphicon-search"></i></button></td>

                                    </tr>
                                    <tr>
                                        <td>Jackelyn</td>
                                        <td>--</td>
                                        <td>--</td>
                                        <td>--</td>
                                        <td>16-June-2018</td>
                                        <td><button type="button" class="btn btn-info btn-float btn-rounded legitRipple"
                                                data-toggle="modal" data-target="#modal_iconified"><i class="glyphicon glyphicon-search"></i></button></td>

                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <div class="panel panel-flat">
                            <table class="table datatable-show-all">
                                <thead>
                                    <tr>
                                        <th>Company Name</th>
                                        <th>Stage</th>
                                        <th>Status</th>
                                        <th>Next Step</th>
                                        <th>Last Update</th>
                                        <th>History</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Marth</td>
                                        <td>--</td>
                                        <td>--</td>
                                        <td>--</td>
                                        <td>16-June-2018</td>
                                        <td><button type="button" class="btn btn-info btn-float btn-rounded legitRipple"
                                                data-toggle="modal" data-target="#modal_iconified"><i class="glyphicon glyphicon-search"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>Jackelyn</td>
                                        <td>--</td>
                                        <td>--</td>
                                        <td>--</td>
                                        <td>16-June-2018</td>
                                        <td><button type="button" class="btn btn-info btn-float btn-rounded legitRipple"
                                                data-toggle="modal" data-target="#modal_iconified"><i class="glyphicon glyphicon-search"></i></button></td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
                <div class="modal-footer" style="display: none;">
                    <button type="button" style="background-color:#00BCD4;" class="btn btn-default" onclick="closeModel()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page container -->
<div id="modal_iconified" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">History</h5>
                <hr>
            </div>

            <div class="modal-body">

                <div class="row">
                    <table class="table datatable-show-all">
                        <thead>
                            <tr>
                                <th>Sr No.</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Activity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>16-May-2018</td>
                                <td>5:24 PM</td>
                                <td>Project Started</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>17-May-2018</td>
                                <td>5:24 PM</td>
                                <td>Project Completed</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="modal-footer">
                <button class="btn btn-link" data-dismiss="modal"><i class="icon-cross"></i> Close</button>

            </div>
        </div>
    </div>
</div>
{% include "campaign/js/accountjs.html"%}

{% endblock %}