#chartdiv {
  width: 100%;
  height: 250px;
  margin-left:0px;
}   
.export-main{
margin-top: -65px;
}
#chartdiv1 {
  width: 100%;
  height: 250px;
  margin-left:0px;
}                   
.addbtn{
    padding-left: 10px;
}
tfoot {
    display: table-row-group;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn1 {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 80px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #2196F3;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 9px 20px;
}
.panel-height
{
    min-height: 100vh;
}
#font14
{
    font-size: 14px;
}
#font16
{
    font-size:16px;
}
#paddingtop5
{
    padding-top: 5px;
}
#paddingtop20
{
    padding-top: 20px;
}
#centertext
{
    text-align: center;
}
.datatable-header
{
  display:none;
}
.content-1{
    padding: 5%;
  }
.bottom-1{
  padding-bottom: 10%;
}
.border{
  border:1px solid #ccc;
}
.btn-default-1 {
  color: #333;
  background-color: #ddd;
  border-color: #ccc;
}
.modal-body{
  max-height: 50vh;
  overflow: auto;
}
@media only screen and (max-width:1299px) and (min-height:400px){
  .bottom-1{
    padding-bottom: 3%!important;
  }
  .modal-body{
    max-height: 60vh!important;
    overflow: auto;
  }
}