/* css added to align checkbox properly*/
.checker span:after{
    top: -1px!important;
    left: -1px!important;
}
/*end*/
/* css added for ABM, suppression, bulk upload and send attachment remove icon*/
.btn-colors{
    background-color: #fff!important;
    color: #ff5722;
    font-size: 18px;
    margin-left: -165px;
    margin-top: 4%;
    cursor: pointer;
}
.div-aligns{
    margin: 2.5% 11%;
}

.div-aligns-abm{
    margin: -8.5% -35% -7% 40%;
}
.div-aligns-bulk {
    margin: -8.5% -26% -8% 31%;
}
/* End */
.abm_suppression_camp_name {
    padding-left: 15%;
}
.title_brk {
    word-break: break-all;
}
.dropdown-menu{
    margin-right: 0px !important;
    min-width: 0px !important;
    margin-top: 0px !important;
    padding: 0px !important;
}
.user_dropdown{
    margin-right: 0px!important;
    text-align: center!important;
    width: 160px!important;
  }
.col-md-7{
    padding-left:0px !important;
    
}
.shadow:hover {
    outline: none;
    -webkit-box-shadow: inset 0 0 10px #3b9bfd;
    box-shadow: inset 0px 1px 11px 2px #3b9bfd;
}
.fa-edit{
  color: #2196f3!important;
}
.media-content{
    word-break: break-word;
}

.ul-padding {
    margin: 5%;
}
.ul-padding >li{
    padding: 1%;
    border-bottom: 1px solid #ddd;
    margin: 3% 0;
}
.li-padding {
    padding: 2% 5% 5% 1%;
    margin-left: 0;
}
.fa-play-circle-o{
    color: #5324d6!important;
}
.file_icon{
    font-size: 18px;
    color: #e6b11399;
    padding-right: 4%;
}
.floats{
    margin: -6% 0 0 15%;
}
.contents{
  padding: 5%!important;
}
.bottoms{
    padding: 8% 0 3% 5%;
}
.borders{
  border:1px solid #ccc;
}
.pan{
  border-radius: 50%!important;
  border: 1px solid #ada7a7!important;
  padding: 2.5%;
}
.btn-info {
  color: #fff;
  background-color: #4294da;
  border-color: #4294da;
}
.btn-info:hover {
  color: #fff;
  background-color: #5eabec;
  border-color: #5eabec;
}
.modal-body-1{
    max-height: 15vh;
    overflow-y: auto!important;
}
.Action_down{
    padding: 5%;
    color: #4294da;
    margin-top: 7%;
}
.list-1 {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.lists {
  border: 1px solid #ddd;
  margin-top: 10px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 1%;
  margin-right: 15%;
  margin-left: 15%;
  text-decoration: none;
  font-size: 14px;
  color: #444040;
  position: relative;
}
.list:hover {
  background-color: #eee;
}
.txt{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis!important;
  padding-right: 5%;
}
.cls{
  margin: -6% -1% 0 0%;
  position: relative;
}
.example{
  text-overflow: ellipsis!important;
  white-space: nowrap;
  overflow: hidden;
}
.example button:focus{
  outline: none;
}
.example button {
    background-color: #f6f6f6;
    border: 0px;
    float: right!impo;
}
.action_list{
    padding: 4%;
    margin-top: 5%;
    font-weight: 900!important;
    color: #3488e4;
}
.example button:hover {
    background-color: #f6f6f6;
    border: 0px;
    float: right;
}
.example button:active{
    background-color: #f6f6f6;
    border: 0px;
    float: right;
}
.sweet-alert {
    font-family: 'Open Sans', sans-serif;
    width: 478px;
    padding: 17px;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    left: 51%!important;
    top: 50%;
    margin-left: -256px;
    margin-top: -200px;
    overflow: hidden;
    display: none;
    z-index: 2000;
}
.chng{
    left: -121%;
    margin-top: 5%!important;
    padding: 35%!important;
    text-align: center!important;
    background: #ffffff!important;
}
.tc-head {
    font-weight: bold;
    color: #867b7b;
}
.chat-list-page{
    max-height: 50vh;
    overflow: auto;
}
.header-img{
    width: 30%;
}
#script_form{
    margin-top: 0px;
}
.chat_win{
    background: #fff!important;
}
.chb{
    padding: 0 10px;
}

.company_logo {
    width: 40px!important;
    height: 40px!important;
    border-radius: 50%;
}
.live_campaign_chat> img{
    border-radius: 25px;
    width: 35px;
    margin-bottom: -4%;
}
.live_campaign_chat> i{
    font-size: 10px;
    padding-right: 5px;
    margin-bottom: 5%;
    color: #b9acac;
}
.chat_img{
    width: 25px;
    margin-left: -23px;
    margin-top: 5px;
    margin-bottom: 5px;
    /* padding: 0px; */
    border-radius: 30px;
    border: 1px solid #ddd;
}
.campaign_chat>img{
    width: 35px;
    border-radius: 25px;
    margin-top: 25px;
    margin-bottom: 3px;
    border:1px solid #ddd;

}
.chbox {
    width: 57% !important;
    margin-left: 10px;
    padding-right: 0px;
}
.chat,.chbox,.cols_5{
    position: relative;
    min-height: 1px;
    padding-left: 0px!important;
    padding-right: 0px!important;
}
#campaign_notebook_no_table_length{
    display:none;
}
.campaign_chat>i{
    font-size: 10px;
    color: #8c8585;
    margin-right: 5px;
}
.vendor_chat_name{
    margin-left:10px;
}
.vendor_chat_img{
        width: 40px;
}
.fa-save{
    margin-right: 5px;
}
.view-more-icon{ 
    float: right;
}
.checked{
  background: #ffff;
}
.chat-list .media-left {
    padding-right: 0px!important;
}
.chat-left, .media > .pull-left {
    padding-right: 0px!important;
}
.chat-list> label {
    margin-top: 40%;
    color: #afa7a7;
    margin-left: 35%;
}
.glyphicon-paperclip{
  font-size: 16px!important;
}
.chat-list-page> label {
        margin-top: 20%;
    color: #afa7a7;
    margin-left: 30%;
}
.media-left, .media > .pull-left {
    padding-right: 20px;
    padding-left: 10px;
}
.li-styles {
    margin-bottom: 5%;
    margin-left: 3%;
}
.elips {
    white-space: nowrap;
    overflow: hidden;
    padding: 0 3%;
}
.panel-collapse > ul{
    list-style-type:none;
}
#vendor_list{
    padding: 10px;
}
#vendor_list>li{
    border: 1px solid #ddd;
    border-radius: 10px;
}
#vendor_list>li>label{
    font-weight: bold;
    width: -webkit-fill-available;
    margin-bottom: 0px;
    margin-left: 13%;
}
#vendor_list>li>label:hover{
    background-color:#3f99dc;
}
.campaign_chat{
    margin-top: -9%;
    padding-bottom: 2%;
    float: right;
    margin-right: 1%;
}
.chatbar{
    width: 100%;
}
.fm {
    max-height: 39vh;
    overflow: auto;
    border: 1px solid #ddd !important;
    min-height: 39vh;
}
.media-badge {
    position: absolute;
    left: 0px!important;
    top: -2px;
}
.sign-2 {
    font-size: 23px;
    background: #fff;
    border-radius: 23px;
    color: #e86034eb;
    width: 30%;
    margin-top: 5px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #4c4848;
    background-color: #fff;
}
.li-styles {
    margin-bottom: 5%;
    margin-left: 3%;
}
.activetr{
    outline: none;
    -webkit-box-shadow: inset 0 0 10px #969b9e;
    box-shadow: inset 0 0 10px #969b9e;
    background-color: #fle0e09e!important;
}
.scroll{
    float: left;
    width: 100%;
    overflow-y: auto;
    height: 100vh;
    overflow-x: hidden;
}
.label1{
    width: 150px;
    font-size: 15px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #6d6f72;
}
.modal-body input[type=text],
.modal-body input[type=url] {
    height: 30px;
    /* width: 70%; */
    padding: 12px 25px;
    margin: 8px 0;
    margin-left: -4px;
    box-sizing: border-box;
    border: 1px solid #b1b5bc;
    border-radius: 4px 4px 4px 4px;
}
.calender{
    border: 1px solid #b1b5bc;
    padding: 6px 0px 6px 7px;
    border-right: 0px solid #fff;
    margin-left: 2px;
    height: 35px;
    border-radius:  15px 0px 0px 15px;
}
.search-container input{
    height: 33px;
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #b1b5bc;
    border-right: 1px border #fff;
    border-radius: 4px 0px 0px 4px ;
}
.input{
    /* padding-top: 12px; */
    font-size: 17px;
}
.hr{
    border-bottom: 1px solid #ddd;
    margin-top: 10px;
    margin-left: 5px;
}
.bt1{
    width: 15%;
    background-color: #4286f4;
    padding-bottom: 10px;
}
.bt12{
    width: 160px;
    background-color: #4286f4;
    padding-bottom: 10px;
}
.checker, .checker span, .checker input .chek {
    width: 14px!important;
    height: 14px!important;
    margin-top: -5px !important;
    /* margin-right: 5px !important; */
}
.to{
    padding-bottom: 10px;
}

.panel1{
     
    padding-left: 0;
}
.pp{
    padding-top: 15px;
    overflow: auto;
}
.circle1{
    margin-right: 10px;
    font-size: 12px;
    border: 2px solid #b1b5bc
}
/* new css for pills  */
#vendor_list_tooltip{
    overflow: visible!important;
}
.circle {
    padding-left: 5px;
    margin: 10px;
    height: 50px;
    width: 27.33%;
    border-radius: 32px;
    overflow: hidden;
}
.circle:hover{
    border: 1px solid #b1b5bc;
    border-style: solid;
}
.circle:hover .date-icon {
    border-style: solid;
}
.circle:hover .date-icon i{
    color: #000000;
    fill: #000000;
}

.circle label{
    position: absolute;
    font-size: 11px;
    margin: 4px 0 0 15px;
}
.circle span{
    font-size: 16px;
    position: absolute;
    margin: 21px 0 0 15px
}
#assigend_vendors{
    position: absolute;
    margin: -22px 0 0 54px;
    font-size: 11px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 90px;
    white-space: pre-wrap;
}
.circle .date-icon {
    margin: 10px 0 0 0;
    box-sizing: border-box;
    color: #848f99;
    fill: #848f99;
    flex: 0 0 auto;
    font-size: 13px;
    height: 30px;
    line-height: 1;
    transition: 200ms box-shadow,200ms color,200ms background,200ms fill;
    width: 30px;
    background: #fff;
    border: 1px solid #b7bfc6;
    border-radius: 50%;
    align-items: center;
    border-style: dashed;
    /* display: flex; */
    flex-shrink: 0;
    justify-content: center;
    padding: 1px;
    transition: none;
    position: absolute;
}
table.dataTable.no-footer{
    border-bottom: 0!important;
  }
.date-icon i{
    position: absolute;
    margin: 8px 0px 0 6px;
    font-size: 13px;
}
.panel1 p{
    font-size: 16px;
}

#vendor_list_tooltip:hover .Assigned_list,
#vendor_list_tooltip:hover .vendor_count{
    visibility: visible;
    opacity: 1;
}
.Assigned_list{
    border-radius: 6px;
    min-width: 180px;
    padding: 6px;
    font-size: 15px;
    color: #ffffff;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    top: 57px;
    left:-10px;
    position: absolute;
    visibility: hidden;
    background-color: #080101;
    z-index: 1050;
    opacity: 0;
    transition: opacity 0.3s;
}
.vendor_count{
    border-radius: 6px;
    min-width: 180px;
    padding: 6px;
    font-size: 15px;
    color: #ffffff;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    top: 57px;
    left:-10px;
    position: absolute;
    visibility: hidden;
    background-color: #080101;
    z-index: 1050;
    opacity: 0;
    transition: opacity 0.3s;
}
.Assigned_list ul{
    list-style: none;
    padding: 2px 0px 0px 3px;
}
.Assigned_list::before {
    content: "";
    position: absolute;
    top: -25px;
    left: 40%;
    margin-left: -5px;
    border-width: 13px;
    border-style: solid;
    border-color: #080101 transparent transparent transparent;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.vendor_count::before {
    content: "";
    position: absolute;
    top: -25px;
    left: 40%;
    margin-left: -5px;
    border-width: 13px;
    border-style: solid;
    border-color: #080101 transparent transparent transparent;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.right_btn {
    float: right;
   /* margin-right: 25px;*/
    margin-top: 1%;
    right: 0;
}
.right_btn-draft {
    float: right;
    margin-right: 25px;
    margin-top: 1%;
    right: 0;
}
.action_drop {
    left: -121%;
    margin-top: 5%!important;
    padding: 20%!important;
    text-align: justify;
    background: #ffffff;
    width: 220px;
}
.filter_drop{
    left: -500%;
    display:none;
    width: 630% !important;
    padding: 30% !important;
    margin-top: 10%!important;
}
.inp{
    border: 1px solid #ccc;
    width: 100%;
    padding: 3%;
}
#rangeDate{
    width: 86%;
}
#clear_date{
    background: #eae7e7;
    padding: 4.8%;
}
.sel {
    width: 100%;
    padding: 3% 3% 3% 2%;
    background: #fff;
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 3% 3% 3% 2%;
}
li>input {
    margin-left: 0;
    left: 15px;
}
.cancel_btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 16px;
    font-size: 13px;
    line-height: 1.5384616;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    font-weight: 500;
    text-transform: uppercase;
    border-width: 0;
    padding: 9px 17px;
}
/* class sdded by manjusha*/
.btn-sec-color{
    background-color: #2196f3ba;
    color: #fff;
}
.btn-sec-color:hover{
    background-color: #2196f3;
    color: #fff;
}
.btn-info-color{
    background-color: #1b6cea;
    color: #fff;
}
/*end*/
.multiselect-container {
    max-height: 15vh;
}
.vendor_info{
    list-style: none;
}
.ven_nam{
    background: #0ba4b7ad;
    padding: 1% 1% 1% 5%;
    border: 1px solid #f3e8e8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #f3e9e9;
    border-radius: 5px 0 0 5px;
    font-weight: bold;
}
.ven_icon{
    background: #0ba4b7ad;
    padding: 1%;
    border: 1px solid #ddd;
    border-radius: 0 5px 5px 0;
}
.iframe{
    width: 100%;
    height: 70vh;
}
.view_eye,.fa-eye-slash{
    color: #fff;
}
.not_download{
    color: #fff;
}
.modal {
    opacity: 1;
    background: #00000082!important;
}
.date input[type=text]{
    width: auto;
    border: 0px;
    height: 30px;
    font-size: 13px;
    resize: vertical;
    /* margin-left: 29px; */
    margin: -12px 0 0 23px;
    position: absolute;
    background-color: #fff
}
.cal{
    margin-left: 30px;
    margin-top:17px;
}
.text{
    width: 90%;
    margin-left: 37px;
    border: 0px solid #b1b5bc;
    resize: none;
}
.text:hover{
    border:1px solid #b1b5bc;
}
.all_uploaded{
    font-size: 20px;
    background: #fff;
    border-radius: 20px;
    color: #078e0c;
    margin-right: 6%; 
}
.sign {
    font-size: 20px;
    background: #fff;
    border-radius: 20px;
    color: #078e0c;
    /*margin-top: 3%;*/
    margin-right: 5%;
}
.cross_img{
    font-size: 17px;
    background: #fff;
    border-radius: 20px;
    color: #e86034eb;
    margin-right: 5% !important;
    margin-top: 3%;
    width: 28% !important;
    padding: 2%;
    margin-left: 50%;

}
.status-sign{
    font-size: 20px;
    background: #fff;
    border-radius: 20px;
    color: #078e0c;
}
.iclose{
    font-size: 20px;
    background: #fff;
    border-radius: 20px;
    color: #e86034eb;
    margin-right: 5%;
}
.fixbox{
 background-color: #f6f8f9;
  position: absolute;
  height: auto;
  width: 100%;
  margin-left: 14px;
  margin-top: 10px;

}
.txtarea{
    padding: 10px;
    width: 100%;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #b1b5bc;
    margin-left: 10px;
    width: 85%;
    background: #ffffff;
    border-right: 0px;
}

form.example button {


    padding: 10px;
    background: #ffffff;
    color: #333333;
    font-size: 12px;
    border: 1px solid #b1b5bc;
    border-left: 0px;
    margin-right: 10px;
    cursor: pointer;
}
.modal-body input :focus {
    outline: none !important;
    border:1px solid #2196F3;
    box-shadow: 0 0 10px #2196F3;
}

.spa {
    font-size: 15px;
    font-family: Roboto;
    white-space: normal;
    width: 217px;
    text-align: justify;
    max-height: 200px;
    overflow: auto;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.note_icon{
    font-size: 13px;
    padding: 2px;
}
.assets_list{
    left: -80px;
    width: 130px;
}
.Tc{
    left: -80px;
    width: 160px;
}

.dropdown-menu1 {
    min-width: 180px;
    padding: 8px 0;
    color: #333333;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    bottom: 100%;
    position: absolute;
    /* top: 100%; */
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 13px;
    text-align: left;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}
.name {
    /*display: block;*/
    width: 100px;
    /* margin: 10px 40px; */
    /* padding: 5px 10px; */
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dropdown-menu1 > li {
    position: relative;
    margin-bottom: 7px;
    list-style: none;
    font-size: 13px;
}
.dropdown-menu1 > li > a {
    padding: 8px 16px;
    outline: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding: 3px 27px;
    clear: both;
    font-weight: normal;
    line-height: 1.5384616;
    color: #333333;
    white-space: nowrap;
}
 

.panel-heading{
    padding: 10px;
}
.panel-body.chat_panel{
    padding: 0px;
}
.panel-footer{
    padding-left: 6px;
}
.camp_dates{
    margin-top: -36px;
    color: #848f99;
    font-size: 12px;
}
.panel{
    border-radius: 3px;
}
.panel-footer .form-control{
    border-bottom-color:#dddddd!important;
}
.view_more{
    padding-top: 6px;
    padding-bottom: 6px;
}

/* action icons css */

.campagin_icons{
    overflow: hidden;
    width: 15%;
}
.shadow:hover .campagin_icons{
    visibility: visible;
    z-index: 1;
}
.fa-pause-circle {
    color: #0b41e6!important;
}
.fa-undo{
    color: #0a9c2c!important;
}
.campagin_icons i{
    font-size: 18px;
    padding: 6px;
    z-index: 1;
    opacity: .5;
    visibility: hidden;
    display: block;
    margin: 0 2px 0 3px;
    list-style: none;
        color: black;
}
.campagin_icons a i:hover{
    opacity: 5;
    background: #d4d4d4;
    background-size: 50px;
    border: 0px solid;
    border-radius: 14px;
}
.campagin_icons i{
    visibility: visible;
}

.bqX {
    height: 30px;
    /* opacity: .54; */
    width: 30px;
    /* opacity: .7; */
    align-items: center;
    border: none;
    display: inline-flex;
    justify-content: center;
    outline: none;
    position: relative;
    z-index: 0;
    cursor: pointer;
    list-style: none;
    margin: 0 10px;
}
.brq {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
}

.campaign_table{
    font-size: 16px;
}
.campaign_table li{
    list-style: none;
    display: inline-block;
}
.filed_select_div li{
    display: block;
}
.icons-list{
    float: right;
}
/* campign detal icons */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: relative;
    display: inline-block;
    background-color: #ffffff;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    margin-right: 5px;
    text-decoration: none;
    display: block;
}
.modal-header .close {
    top: 25%;
}
.close{
    margin-left: 34px;
}
.file-field input[type="file"],
.attach-file-field input[type="file"] {
    display: block;
    /* width: 100%; */
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    text-overflow: ellipsis!important;
}
.file-field input.file-path,
.attach-file-field input.file-path{
    width: 100%;
    height: 36px;
    border: none;
    border-bottom: 1px solid #ced4da;

}
#chat_file_name{
    white-space: nowrap;
    overflow: hidden;
}
.more_details, .status_list {
    z-index: 1!important;
}
.status_list li {
    display: block;
}
.panel-default > .panel-heading{
    background-color: #f8f8f8;
}
.campaign_details > .panel-default{
    min-height: 91vh;

}
body{
    overflow: hidden;
    background-color: #ddd;
}
.file_btn{
    background: white;
    color: #2196F3;
    padding: 2px;
    margin:7px!important;
    width: 85%;
    border: 1px solid #2196F3;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*  */
/* asset model */
#asset_modal{
    overflow: none!important;
}
#asset_modal form{
    padding: 5px;
}
#asset_modal .modal-body {
    overflow-y: auto;
    position: relative;
    height: 60vh;
    padding: 20px;
}
#assets_holder{
    padding: 1px;
}
#asset_modal input[type="text"]{
    border:none;
    border-bottom: 1px solid  #6d6f72;
    border-radius: 0%!important;
}
.link_field{
    width: 85%;
    margin-left: 0em!important;
    margin:7px!important;
    border: 1px solid #2196F3!important;
    padding: 13px 6px!important;
    border-radius: 2px!important;

}
.campaign_details{
    position: relative;
}
.campaign_panel,.campaign_panel1
{
    min-height: 93vh;
}
.col-md-7 .scroll{
    height: 92vh!important;
}
.camp_detail_container{
        margin-top: 10%;
}
.btn-collapsible {
  overflow: hidden;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  max-width: 40px;
}
.btn-collapsible.btn-xs {
  max-width: 25px;
}
.btn-collapsible.btn-sm {
  max-width: 34px;
}
.btn-collapsible.btn-lg {
  max-width: 50px;
}
.btn-collapsible span {
  opacity: 0;
  text-indent: -6px;
  display: inline-block;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.btn-exp:hover{
    max-width: 192px!important;
}
.filter_drop{
    max-height: 50vh!important
}
.chat-list-page .reversed .media-body .{
    text-align: left;
    word-break: break-word!important;
}
.btn-collapsible:hover {
  max-width: 161px;
  color: #fff!important;
  background-color: #4286f4!important;
  border: 1px solid #FFF!important;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn-collapsible:hover span {
  opacity: 1;
  margin-left: 10px;
  font-size: 10px;
  text-indent: 0px;
  width: 80%;
  color: #fff!important;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
#camp_desc{
    width: 95%;
    margin-left: 10px;
}
.input_date{
   display: none;
}
.btn-collapsible:hover .input_date{
    background-color: #3f7fe8;
    border: 0px;
    padding-left: 12px;
    width: 85%;
    display: block;
    margin-left: 10px;
    margin-top: -20px;
}

#specs_data:hover{
    background-color: #4286f4!important;
    color: #000!important;
    border: 1px solid #FFF!important;
}
.icon-calendar{
    margin-left: -3px!important;
}
.btn-collapsible:hover .icon-calendar{
    margin-left: -125px!important;
}
.chat-list .reversed .media-content > a,
.chat-list-page .reversed .media-content > a {
    color: #4f5050;
}
.chat-list .reversed .media-content:not([class*=bg-]),
.chat-list-page .reversed .media-content:not([class*=bg-]) {
    background: #8fb2e059;
    border-color: #42A5F5;
    padding: 6px!important;
    color: #585555;
    font-size: 12px;
}
.chat-list-page .media.reversed {
    margin-right: 0;
    margin-left: 20%;
}
.chat-list-page .reversed .media-body {
    text-align: right;
}

.agree{
    padding: 6px 10px 6px 10px ;
    margin-left:15px;
    border-radius: 75px !important;
    color: #fff!important;
    background-color: #4286f4!important;
    display: none;

}
.chat-list .media-content,
.chat-list-page .media-content {
    position: relative;
    padding: 6px!important;
    width: auto;
    border-radius: 3px;
    display: inline-block;

}
textarea{
    resize: none;
}
p .btn {
    position: relative;
    font-weight: 500;
    text-transform: uppercase;
    border-width: 0;
    padding: 9px 13px !important;
    border-radius: 75px !important;
        background-color: #fff!important;
        color: #000;
      border: 2px dotted #ddd;
}
.bg-teal {
    background-color: #009688;
    border-color: #009688;
    color: #fff;
    margin-top: -45px!important;
    margin-right: 2px;
}
.li-bottom{
    border-bottom: 1px solid #ddd;
}
.floats {
    margin: -7% 0 0 11%;
}
.tb {
    overflow-x: initial !important;
}
.more{
    position: relative;
}
.status_list {
    color: #333333;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: absolute;
    left: 0;
    z-index: 2!important;
    float: left;
    width: 20%;
    padding: 5px 0;
    margin: 12px 0 12px 0;
    list-style: none;
    font-size: 13px;
    text-align: left;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: 0 6px 18px rgba(0, 0, 0, 1);
    box-shadow: 0 0 18px rgba(0, 0, 0, 1);
    background-clip: padding-box;
}
.more_details {
    /* min-width: 180px;
    padding: 8px 0; */
    color: #333333;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    /* bottom: 0%; */
    position: absolute;
    /* top: 100%; */
    left: 0;
    z-index: 2!important;
    /* display: none; */
    float: left;
    width: 100%;
    /* height: 75%; */
    padding: 5px 0;
    margin: 12px 0 12px 0;
    list-style: none;
    font-size: 13px;
    text-align: left;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: 0 6px 18px rgba(0, 0, 0, 1);
    box-shadow: 0 0 18px rgba(0, 0, 0, 1);
    background-clip: padding-box;
}
.more_details:before {
    content: " ";
    position: absolute;
    top: -10px;
    left: 51px;
    margin-left: 0px;
    border-width: 10px;
    border-style: solid;
    transform: rotate(135deg);
    border-color: transparent transparent white white;
    box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.4);
  }
.status_list:before {
    content: " ";
    position: absolute;
    top: -10px;
    left: 38px;
    margin-left: 0px;
    border-width: 10px;
    border-style: solid;
    transform: rotate(135deg);
    border-color: transparent transparent white white;
    box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.4);
}
.vendor_info{
    max-height: 25vh;
    overflow: auto;
}
.camp_det_table{
    border-collapse: collapse;
    white-space: normal;
}
.camp_det_table td{
    border-top: none!important;
    padding: .5em!important;
}
.camp_detail_container .camp_text{
    white-space: normal;
    /*width: 217px;*/
    text-align: left;
    max-height: 200px;
    overflow: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 3%!important;
}
.supericon{
    font-size: 16px;
    margin-right: 3px;
}
.supericon_close{
    font-size: 23px;
    position: relative;
    bottom: 5px;
    /* right: -12px; */
}
.i-color {
    color: #4972dc;
}
.div-padding {
    padding: 0 4% 0 4%;
    /* display: none; */
    max-height: 40vh;
    overflow: auto;
}
.checker,.checker span,.checker input .chek {
    width: 18px;
    height: 18px;
    /*margin-top: -2px !important;*/
    /*margin-right: 5px !important;*/
}
.checker,.checker span,.checker input {
    margin-right: 5px !important;
}
.btn-xs{
    padding: 5px 8px!important;
}
.styled-checkbox {
    position: absolute;
    opacity: 0;
    background-color: black;
}
.styled-checkbox  + label {
    position: relative;
    cursor: pointer;
    width: 22px;
    height: 22px;
    border-radius: 40px;
    margin: 0px;
    outline: none;
    transition: background-color .5s;
    background-color: #f44336
}
.styled-checkbox:checked  + label {
    position: relative;
    cursor: pointer;
    width: 22px;
    height: 22px;
    border-radius: 40px;
    margin: 0px;
    outline: none;
    transition: background-color .5s;
    background-color: #4caf50
}
.styled-checkbox + label:before {
    content: '';
    margin-right: 10px;
    position: absolute;
    display: inline-block;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) rotate(45deg);
    background-color:#ffffff;
    width:16px;
    height:3px;
    border-radius:40px;
    transition:all .5s;
}
.styled-checkbox + label:after {
    content: '';
    margin-right: 10px;
    position: absolute;
    display: inline-block;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) rotate(-45deg)  ;
    background-color:#ffffff;
    width:16px;
    height:3px;
    border-radius:40px;
    transition:all .5s;
}
/* // Box hover */
.styled-checkbox:hover + label:before {
    /* background: #f35429; */
}
/* // Box focus */
.styled-checkbox:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
/* // Box checked */
.styled-checkbox:checked + label:before {
    background: #f35429;
}
/* // Disabled state label. */
.styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto;
}
/* // Disabled box. */
.styled-checkbox:disabled + label:before {
    box-shadow: none;
    background: #ffffff;
}
/* // Checkmark. Could be replaced with an image */
.styled-checkbox:checked + label:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 40%;
    background: white;
    width: 7px;
    height: 3px;
    transform: translate(-50%,-50%) translate(-4px,3px) rotate(45deg);
}
.styled-checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 48%;
    top: 39%;
    background: white;
    width: 14px;
    height: 3px;
    transform: translate(-50%,-50%) translate(3px,2px) rotate(-45deg);
}
.edit_box{
    margin: 0 0 0 5px;
    padding: 8px;
    box-shadow: 0 0 6px;
}
.side_tabel_campaign_notebook_no_length{
    display: none;
}
.modal-backdrop {
  z-index: -1;
}
.div_list li{
    display: block;
}
.logos_div img {
    padding: 1px;
    margin-left: 1px;
    height: 16px;
    border-radius: 8px;
}
.view_more_ul > li >img {
    padding: 1px;
    margin-left: -15px;
    height: 16px;
    border-radius: 8px;
    margin-right: 10px;
    /*border: 1px solid #08343e;*/
}
.view_more_ul > li > label {
    font-weight: bold;
}
.name_icon{
    border: 1px solid;
    margin-left: -12%;
    border-radius: 39px;
    padding: 2px 6px 1px 6px;
    font-size: 9px;
    background: #e0b068;
    font-weight: bold;
    color: #fff;
}
.name_icon1 {
    border: 1px solid;
    border-radius: 39px;
    padding: 3px 5px 2px 5px;
    font-size: 9px;
    background: #e0b068;
    font-weight: bold;
    color: #fff;
}
.ven_name{
    margin-left: 6%;
    font-weight: bold;
}
.receiver{
    position: sticky;
    /*left: 17px;*/
    /*top: 35px;*/
    border-radius: 6px;
    min-width: 180px;
    padding: 6px;
    font-size: 15px;
    background-color: #ffffff;
    color: #827878;
    font-size: 12px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 1050;
    left: 15px;
    /* opacity: 0; */
    transition: opacity 0.3s;
    transition: all .3s ease
    width: 0%;
    float: left;
    margin-top: 0%;
}
.sender {
        position: sticky;
    /* left: 17px; */
    /* top: 32px; */
    border-radius: 6px;
    min-width: 168px;
    padding: 6px;
    font-size: 15px;
    background-color: #FFFFFF;
    color: #827878;
    font-size: 12px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 1050;
    /* right: 22px; */
    /* opacity: 0; */
    transition: opacity 0.3s;
    transition: all .3s ease;
    width: 0%;
    float: right;
    margin-top: 0%;
}
.boot_icon{
    font-size: 45px;
    margin-left: 6%;
    color: #a2a2a2;
}
.view_more_logo li{
  list-style: none;
  text-align: left;
}
.div_list{
    z-index: 1000;
    position: absolute;
    border-radius: 6px;
    top: 37%;
    left: 8%;;
    visibility: hidden;
    min-height: 50px;
    background-color: #080101;
    padding: 8px;
    min-width: 180px;
    color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.tc_team_list:hover .div_list{
    /* background-color: red; */
    visibility: visible!important;
    z-index: 1;
}
.top-arrow{
    content: "";
    position: absolute;
    top: 26%;
    left: 17%;
    margin-left: -5px;
    border-width: 13px;
    border-style: solid;
    border-color: #080101 transparent transparent transparent;
    transform: rotate(180deg);
    z-index: 1;
}
.img-circle {
        width: 35px!important;
        height: 35px!important;
        margin-right: 10px;
}
.download_box{
    max-width: 156px!important;
    word-break: break-word;
}
.download_box1{
    width: 66%!important;
}
.download_box>a>img{
    border-radius: 4px;
}
.fa-paper-plane{
    font-size:16px;
}
.chat-list .media-right {
    padding-left: 10px!important;
}
.media-right, .media > .pull-right {
    padding-left: 10px !important;
}
#message{
    display: block;
    width: 112.5%;
    height: 38px;
    padding: 8px 31px;
    font-size: 13px;
    line-height: 1.5384616;
    color: #333333;
    background-color: transparent;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.elips{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 65%;
}
.btn-browse{
    float: right;
    margin-top: -11%;
    font-size: 9px;
    padding: 6px;
    background: #4286f4;
}
.btn-icon{
    float: right;
    margin-top: -12%;
    font-size: 9px;
    margin-right: 2%;
    padding: 6px;
    /*background: #4286f4;*/
}


.lead{
    color: #584f4f!important;
}
.nd-1{
    color: #fff!important;
}
.ager{
    padding: 10px 14px 10px 14px!important;
    border-radius: 5px 5px 0 0!important;
    background: #24b0b3ad!important;
}
.pan-colapse{
    border: 1px solid #a79797;
    border-radius: 0 0 5px 5px;
    margin-top: -6px!important;
    margin-bottom: 5px!important;
}
hr {
    margin-top: 10px!important;
    margin-bottom: 10px!important;
    border-top: 1px solid #ddd;
}
.l1-1{
    margin-top: 5px;
}
.pulls{
    margin-top: -20px!important;
    margin-left: 80%;
}
.pulls-1{
    margin-right: 25px;
    font-size: 18px;
    background: #fff;
    border-radius: 25px;
    color: #078e0c;
    margin-left: 10%;
}
.padd{
  background-color: #f1ededa6;
  padding: 15px!important;
  text-align: center;
  border: 1px solid #afaaaa;
  border-top: 0px;
  width: 45%!important;
}
.padd1 {
    background-color: #f1ededa6;
    border: 1px solid #afaaaa;
    border-top: 0px;
    border-right: 0px;
    padding: 2px;
    text-align: center;
}
#exampleModalLongTitle{
     text-align: center;
}
.border {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 6px;
}
.submit-btn{
    background: #15bd8ff7!important;
}
.ager{
    background: #5ac3a2b5;
    padding: 14px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.lead {
    font-size: 16.5px!important;
    font-weight: 500;
}
.chat_img_icon{
    width: 40px;
    margin-left: -32px;
    margin-top: 0px;
    /* padding: 0px; */
    border-radius: 30px;
    border: 1px solid #ddd;
}
.filter-img{
    padding: 10px;
    border-radius: 20px;
    margin: 17px;
    border: 1px solid #ddd;
    width: 40%;
}
.filter-file-format{
    padding-top: 35%;
    padding-bottom: 30%;
    margin-left: 27%;
    font-size: 30px;
    color: #a9a2a2;
    text-transform: uppercase;
}
.filter-text{
    word-break: break-word;
    background: #3ed1f3;
    border-radius: 6px;
    padding: 13px;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 95%;
}

#asset_modal .modal-body {
    overflow-y: auto;
    position: relative;
    height: 50vh;
    padding: 20px;
    /* border: 1px solid #ddd; */
}
.table>tbody>tr>td{
    padding: 10px 20px;
}
.script-color{
   background-color: #09c7c7!important;
}
#asset_modal form {
    padding: 0px!important;
}
.modal-content{
    padding: 20px!important;
}
.modal-body {
    position: relative;
    padding: 20px;
}
table.dataTable {
    width: 100%!important;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
}
#media_data_div> label{
    margin-top: 40%;
    margin-left: 40%;
    color: #afa7a7;
}


/*  ----------------------------------------------@media Start------------------------------------------------------------    */
@media only screen and (max-height: 600px){
    
    .chat{
        width: 102%!important;
    }
    .chat_win{
        height: 24vh!important;
    }
}
@media only screen and (max-height: 630px) {
    .chat-list, .chat-stacked {
        max-height: 70vh!important;
        min-height: 70vh!important;
        margin-top: 0px!important;
        overflow: auto!important;
        margin-bottom: 0px!important;
    }
    .chat-list-page, .chat-stacked {
        max-height: 30vh!important;
        margin-top: 5px!important;
        overflow: auto!important;
        margin-bottom: 0px!important;
        overflow-x: hidden!important;
    }
    .chat_win {
        height: 28vh!important;
    }
    .chat_win1 {
        height: 70vh!important;
        margin-left: 0%;
        margin-right: -2%;
    }
    .notebook_no{
        margin-top: -10px;
    }
    .chat_detail{
        margin-top: -5px!important;
    }
}
@media only screen and (max-height: 700px) and (min-height:630px){
    .chat-list, .chat-stacked {
        max-height: 70vh!important;
        min-height: 70vh;
        margin-top: 0px!important;
        overflow: auto!important;
        margin-bottom: 0px!important;
    }
    .chat-list-page, .chat-stacked {
        max-height: 28vh!important;
        margin-top: 5px!important;
        overflow: auto!important;
        margin-bottom: 0px!important;
        overflow-x: hidden!important;
    }
    .chat_win {
        height: 30vh!important;
    }
    .chat_win1 {
        height: 70vh!important;
        margin-left: 0%;
        margin-right: -2%;
    }
    .notebook_no{
        margin-top: -10px;
    }
    .mac{
        margin-top: -10px;
    }
}
@media only screen and (min-width: 768px) {
    .bgst> h5,h4,h1{

        width: 97%;
    }
    .modal-xs {
        width: 500px!important;
    }
    .multiselect-container{
        max-height: 15vh
    }
    .chat-list .media.reversed {
        margin-right: 0;
        margin-left: 20%;
        margin-top: 10px!important;
    }
    .main_chat_head{
        padding: 20px;
        padding-top: 0px!important;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
    }
    .chat-list .media {
        margin-right: 20%;
        margin-top: 10px;
    }
}
@media only screen and (max-width: 1299px){
    .content:first-child {
        padding-top: 54px!important;
        padding-left: 14px;
    }
}
@media only screen and (max-width: 1366px) and (min-height: 500px) {
    .sp {
        padding: 9px 8px !important;
    }
    .campaign_chat{
        margin-top: -13%;
        padding-bottom: 2%;
        float: right;
        margin-right: 1%;
    }
    .th-align {
        padding-left: 8px !important;
    }
    .ch{
        padding-left: 0.7%!important
    }
    .chat-list .reversed .bg-slate {
        text-align: left;
        color: #fff;
        width: 163px!important;
        margin-right: 0px!important;
    }
    table.dataTable tbody th,
    table.dataTable tbody td .td-align {
        padding-left: 18px !important;
    }
    .small-footer{
        position: fixed;
        width: 34.50%;
        bottom: 5%;
        border-right: 1px solid #ddd;
    }
    .big-footer{
        position: fixed;
        width: 49.30%;
        bottom: 2%;
        border-right: 1px solid #ddd;
    }
    .status_list:before{
        left:40px!important;
    }
    .status_list{
        width: 25%;
    }
    .sign-1 {
        margin-right: 5%!important;
        margin-top: 3%;
    }

    .sign {
        font-size: 21px!important;
        margin-top: 3%;
    }

    .iclose {
        font-size: 21px;
        margin-top: 3%;
    }

    .btn-browse {
        margin-top: -10%!important;
    }

    .modal-body {
        margin-top: -13px;
    }

    .li-padding {
        margin-top: -4%!important;
    }

    .chat_show-1 {
        margin-top: 1%;
        margin-left: 1%;

    }

    .chat_shows {
        margin: 10% !important;
        margin-left: -37% !important;
        margin-top: 24% !important;
    }

    #asdmessage {
        width: 108% !important;
    }
    
    .txt_bold {
        font-weight: bold !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .checker,.checker span,.checker input {
        margin-right: 15px !important;
    }
    .div-aligns {
        margin:  3.5% -25%!important;
    }
}
@media only screen and (max-width: 1366px){
    .dow_img{
        padding-right: 15px!important;
    }
    .mac{
        margin-top: 10px!important;
    }
    .nav-pills {
        margin-bottom: 29px;
    }
    .header-img{
        width: 150px;
    }
    .nav-pills>li.active>a,
    .nav-pills>li.active>a:hover,
    .nav-pills>li.active>a:focus {
        color: #af9d9d;
        background-color: #ffffff;
        border: 0px;
        border-bottom: 4px solid #8ba9ef;
    }
    .media-content{
        word-break: break-word;
    }       
}
@media only screen and (max-width: 1399px ){
    #vendor_list {
        padding: 10px;
        max-height: 30vh;
        overflow: auto;
        width: 40%
    }
    .small-footer{
        position: fixed;
        width: 31.47%;
        bottom: 4%;
        border-right: 1px solid #ddd;
    }
    .big-footer{
        position: fixed;
        width: 46.45%;
        bottom: 5%;
        border-right: 0px solid #ddd;
        background: #fff0;
    }
    .filter_drop{
        max-height: 100vh!important;
    }
    .multiselect-container {
        max-height: 23vh!important;
    }
    
    #asdmessage{
        width: 110%!important;
        border-right: 0px!important;
    }
    .filter-img-height{
        max-height: 60vh;
        overflow: auto;
        margin-top: 5%;
    }
    .chat-list-page {
        max-height: 40vh;
        overflow: auto;
    }
    .chat_bar {
        width: 105%;
        left: 64px;
        bottom: 7%;      
    }
    .chat-list, .chat-stacked {
        max-height: 70vh;
        min-height:68vh!important;
        margin-top: 0px;
        overflow: auto;
        margin-bottom: 0px;
        margin-right: 10px;
        bottom: 85px;
        margin-left: 5px;
    }
    .camp_name{
        color: #6d6d70;
        white-space: nowrap;
        width: 56%;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 35%;
        margin-top: -33.5px;
    }
    .media-content{
         word-break: break-word!important;
    }
    .circle{
        width:31.33%;
        margin-left: -5px;
    }
    .border-chat{
        padding: 10px;
    }
    .circle label {
        font-size: 11px;
        margin: 4px 0 0 11px;
    }
    #assigend_vendors {
        font-size: 11px;
        margin: -22px 0 0 42px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width:45%;
    }
    .modal-content {
        padding: 20px!important;
        width: 103%;
    }
    .campaign_panel
    {
        min-height: 91vh!important;
        /* overflow: hidden; */
    }
    .circle{
        width:31.33%;
        margin-left: -5px;
    }
    .circle label {
        font-size: 11px;
        margin: 4px 0 0 11px;
    }
    #assigend_vendors {
        font-size: 11px;
        margin: -22px 0 0 42px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width:45%;
    }
    .panel-body {
        padding: 20px;
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 0px!important;
        padding-left: 20px;
        }
    .chat-list .media-content,
    .chat-list-page .media-content {
        position: relative;
        padding: 4px 12px!important;
        width: auto;
        border-radius: 3px;
        display: inline-block;
        border-radius: 10px 10px 0 10px;
      }
    .mt-10 {
        margin-top: 3px!important;
    }
    .Assigned_list li{
        font-size: 12px!important;
    }
    .checkbox{
        margin-left: 10px!important;
    }
    .campaign_details > .panel-default{
        min-height: 86vh;
    }
    .col-md-10{
        width: 77%!important;
    }
    .campaign_panel
    {
        max-height: 89vh!important;
        overflow: hidden;
        overflow-y: scroll;
    }
    .campaign_panel1
    {
        max-height: 89vh!important;
        overflow: hidden;
        /* overflow-y: scroll; */
    }
    table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px!important;
        padding-left: 8px!important;
    }
    /*table.dataTable tbody th, table.dataTable tbody td .td-align{
        padding-left: 18px!important;
    }*/
    .campaign_table {
        font-size: 14px!important;
    }
    .val{
        float: right!important;
    }
    .campaign_panel, .campaign_panel1{
        min-height: 90vh!important;
    }
    .chat_win{
        height: 28vh!important;
    }
    .chat_win1{
        height: 71vh!important;
        margin-left: 0%;
        margin-right: -2%;
    }
}
@media only screen and (min-width: 1400px) {
    .filter-img{
        padding: 10px;
        border-radius: 20px;
        margin: 17px;
        border: 1px solid #ddd;
        width: 39%;
        /* height: 1%; */
    }
    .filter-file-format{
        padding-top: 23%;
        padding-bottom: 15%;
        margin-left: 38%;
    }
    .filter-img-height{
        max-height: 67vh;
        overflow: auto;
        margin-top: 5%;
    }
    #vendor_list {
        padding: 10px;
        max-height: 65vh;
        overflow: auto;
        width: 40%;
    }
}
@media only screen and (max-width: 1599px) and (min-width: 1400px){
    .chat_shows {
        margin: 12% !important;
        margin-left: -25% !important;
        margin-top: 7% !important;
        top: 7px;
    }
    .chat_show-1 {
        margin-top: -65%;
        margin-left: 10%;
    }
    .txt-aligns {
        text-align: left !important;
    }
    .status_list {
        width: 25% !important;
    }
    .chatbar {
        width: 98%!important;
    }
    .chat-list, .chat-stacked {
        max-height: 72vh!important;
        min-height: 70vh;
        overflow: auto;
        width: 98%;
    }
    .chat-list-page {
        max-height: 41vh;
        overflow: auto;
    }
    .chat-list-page> label {
            margin-top: 46%;
            color: #AFA7A9;
            margin-left: 30%;
            margin-bottom: 27%;
        }
    .chat-list> label {
            margin-top: 55%;
            color: #afa7a7;
            margin-left: 35%;
            margin-bottom: 37%;
        }
    .campaign_chat{
        margin-top: -13%;
        padding-bottom: 2%;
        float: right;
        margin-right: 1%;
    }
    .mac{
        max-height: 91vh!important;
        margin-top: -20px!important;
    }
    .reversed > .media-body > .download_box > a > .dow_img {
        padding-right: 15px;
    }
    .reversed > .media-body > .download_box > a > label {
        margin-right: 15px;
    }

    .filter-img-height{
        max-height: 70vh;
        overflow: auto;
    }
    .camp_name{
        color: #6d6d70;
        white-space: nowrap;
        width: 66%;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 33%;
        margin-top: -33.5px;
    }
    .chat_win{
        height:33vh;
    }
    .chat_win1{
        height: 73vh;
        margin-left: 0%;
        margin-right: -2%;
    }
    .chat-list-page .reversed .media-content:not([class*=bg-]), .chat-list-page .reversed .media-content:not([class*=bg-]) {
        background: #8fb2e0a6;
        border-color: #42A5F5;
        padding: 6px!important;
        color: #585555;
        font-size: 12px;
    }
    .chat-list-page .reversed .media-content > a {
        color: #4f5050;
        float: left;
    }
    .chat_detail{
        margin-top: 13px!important;
    }
    .chat-list-page .reversed .media-content:not([class*=bg-]) {
        border-color: #fff!important;
        padding: 13px!important;
        border-radius: 10px 10px 0 10px;
    }
    .border-chat{
        padding: 10px 10px 0 10px;
    }  
    .download_box{
        width: 56%!important;
    }
    #asdmessage{
        width: 108%!important;
        border-right: 0px;
    }
    .small-footer {
        position: fixed;
        width: 32%;
        bottom: 7%;
        border-right: 0px solid #ddd;
    }
    .big-footer {
        position: fixed;
        width: 46.9%;
        bottom: 7%;
        border-right: 1px solid #ddd;
    }
    #message{
        display: block;
        width: 112%!important;
        height: 38px;
        padding: 8px 26px;
        font-size: 13px;
        line-height: 1.5384616;
        color: #333333;
        background-color: transparent;
        background-image: none;
        border: 1px solid #ddd;
        border-radius: 3px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    } 
    .campaign_panel, .campaign_panel1{
        min-height: 91vh!important;
        background-color: #fff;
    }
    .campaign_details > .panel-default{
        min-height: 86vh!important;
    }
}
@media only screen and (min-width: 1600px){
    .content{
        margin-top: 17px;
    }
}
@media only screen and (min-width: 1600px) and (max-width: 1899px){
    #submit_script{
        bottom: 15px!important;
    }
    .chat_detail{
        margin-top: 13px!important;
    }
    .chat-list-page >.media > .media-body > .media-content {
        margin-right: 140px;
    }
    .chat-list-page >.reversed > .media-body > .media-content {
        margin-right: 0px;
    }
    .chat-list-page > .media > .media-body > .download_box > a > img {
    padding-right: 10%;
    }
    .chat-list-page > .media > .media-body > .download_box > a > label {
    margin-right: 10%;
    }
    .chat-list,.cht-stacked{
        max-height: 80vh;
        margin-top: 0px;
    }
    .small-footer{
        position: fixed;
        width: 34.1%;
        bottom: 2%;
        /*border-right: 1px solid #ddd;*/
    }
    .big-footer{
        position: fixed;
        width: 49%;
        bottom: 2%;
        border-right: 1px solid #ddd;
    }
    .chat{
         padding-right:0px!important;
    }
    #asdmessage{
        width: 108%!important;
    }
    /*.chat-list-page{
        max-height: 28.2em;
    }*/
    .download_box{
        width: 36%!important;
    }
    .border-chat{
        padding: 10px 10px 0 14px;
    }
    .chat-list{
        margin-top: 0px!important;
        min-height: 78vh;
    }
    .chat-list-page, .chat-stacked{
        max-height: 46vh!important;
        margin-top: 18px!important;
        overflow: auto!important;
        margin-bottom: 0px!important;
    }
    .chat-list-page .reversed .media-content:not([class*=bg-]), .chat-list-page .reversed .media-content:not([class*=bg-]) {
    background: #8fb2e0a6;
    border-color: #42A5F5;
    padding: 6px!important;
    color: #585555;
    font-size: 12px;
    }
    .chat-list-page .reversed .media-content > a {
    color: #4f5050;
    float: left;
    }
    .chat-list-page .reversed .media-content:not([class*=bg-]) {
    border-color: #fff!important;
    padding: 13px!important;
    border-radius: 10px 10px 0 10px;
    }
    #message{
        width: 114.5%!important;
    }
    .chba{
        position: fixed!important;
        left: 51%!important;
        bottom: 5%!important;
        width: 46%!important;
    }
    .camp_name{
        color: #6d6d70;
        white-space: nowrap;
        width: 66%;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 22%!important;
        margin-top: -33.5px;
    }
    .mac{
        margin-top: 13px!important;
    }
    .content:first-child {
        padding-top: 40px!important;
    }
}
@media only screen and (max-width: 1919px) and (min-width: 1900px){
    .border-chat{
        padding: 10px 10px 0 14px;
    }
    .chat-list,.chat-list-page{
        margin-top: 0px!important;

    }
    .camp_name{
        color: #6d6d70;
        white-space: nowrap;
        width: 66%;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 24%;
        margin-top: -33.5px;
    }
    #asdmessage{
        width: 111%!important;
        margin-left: 0%;
    }
    .content:first-child {
        padding-top: 40px!important;
    }
    .chat-list-page .reversed .media-content:not([class*=bg-]), .chat-list-page .reversed .media-content:not([class*=bg-]) {
        background: #8fb2e0a6;
        border-color: #42A5F5;
        padding: 6px!important;
        color: #585555;
        font-size: 12px;
    }
    .chat-list-page .reversed .media-content > a {
        color: #4f5050;
        float: left;
    }
    .chat-list-page .reversed .media-content:not([class*=bg-]) {
        border-color: #fff!important;
        padding: 13px!important;
        border-radius: 10px 10px 0 10px;
    }
    .chba{
        position: fixed!important;
        left: 51%;
        bottom: 5%;
        width: 46%;
    }
    .chat{
        margin-top: 38px!important;
    }
      .chat_detail{
        margin-top: 13px!important;
    }
    #message{
        width: 114%!important;
    }
}
@media only screen and (max-width: 1920px){
    .circle label {
        font-size: 14px;
    }
    #assigend_vendors {
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width:51%;
    }
}
@media only screen and (min-width: 1920px)and (max-width: 2499px){
    .chat-list-page {
        max-height: 50vh;
        overflow: auto;
    }
    .favorite-heart {
        margin-left: 35%!important;
    }
    .assets_list {
        left: -130px!important;
        width: 150px!important;
    }
    .dropdown-content a {
        color: #1E88E5 !important;
        padding: 0px 16px !important;
        margin-right: 5px;
        text-decoration: none;
        display: block;
    }
    .content:first-child {
        padding-top: 40px!important;
    }
    .txt-aligns{
        float: right;
    }
    .header-img{
        width: 30%;
    }
    #script_form{
        margin-top: 0px;
    }
    .chat-list, .chat-stacked {
        max-height: 78vh!important;
        overflow: auto;
    }
    .download_box{
        width: 36%!important;
    }
    .border-chat{
        padding: 10px 10px 0 14px;
    }
    .mac{
        overflow: auto;
        max-height: 95vh;
        margin-top: 0px!important;
    }
    .small-footer{
        position: fixed;
        width: 34.50%;
        bottom: 3%;
        border-right: 1px solid #ddd;
    }
    .big-footer{
        position: fixed;
        width: 49.30%;
        bottom: 3%;
        border-right: 1px solid #ddd;
    }
    .filter-img-height {
        max-height: 72vh!important;
        overflow: auto;
        margin-top: 5%;
    }
    .reversed > .media-body > .download_box > a > img{
        padding-right: 5px;
    }
    .reversed > .media-body > .download_box > a > label{
        padding-right: 15px;
        color: #5a88e7;
    }
    .camp_name{
        color: #6d6d70;
        white-space: nowrap;
        width: 66%;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 22%;
        margin-top: -33.5px;
    }
    .chat-list,.chat-list-page{
        margin-top: 0px!important;
    }
    .chat-list{
        min-height: 78vh;
    }
    .Tc > li{
        margin: 10%;
    }
    .assets_list > li{
        margin: 10%;
    }
    .filter-img-height{
        max-height: 75vh;
        overflow: auto;
    }
    .notebook_no{
         margin-top: -12px;
       }
    #Client_live_campaign_table_length{
        display: none;
    }
    .right_btn {
        float: right!important;
        margin-right: 25px!important;
        margin-top: 1%!important;
        right: 0!important;
    }
    #asdmessage{
        width: 107%!important;
        margin-left: 0%;
        border-right: 0px !important;
    }
    .chatbar {
        width: 99%;
        margin-left: 2%;
    }
    .chat-list-page .reversed .media-content:not([class*=bg-]), .chat-list-page .reversed .media-content:not([class*=bg-]) {
        background: #8fb2e0a6;
        border-color: #42A5F5;
        padding: 6px!important;
        color: #585555;
        font-size: 12px;
    }
    .chat-list-page .reversed .media-content > a {
        color: #4f5050;
        float: left;
    }
    .chat-list-page .reversed .media-content:not([class*=bg-]) {
        border-color: #fff!important;
        padding: 13px!important;
        border-radius: 10px 10px 0 10px;
    }
    .chba{
       position: fixed!important;
        left: 51%;
        bottom: 5%;
        width: 46%;
    }
    .chat {
        padding-right: 0px!important;
    }
    .chat_detail{
        margin-top: 30px!important;
    }
    #message{
        width: 114%!important;
    }
    .bg-slate {
        background-color: #c3e3f38a;
        border-color: #fff;
        color: #585555;
        border-radius: 6px 6px 6px 0px!important;
        font-size: 12px;
        margin-right: 55px;
    }
    .reversed >.media-body >.bg-slate {
        background-color: #c3e3f38a;
        border-color: #fff;
        color: #585555;
        border-radius: 6px 6px 6px 0px!important;
        font-size: 12px;
        margin-right: 0px;
    }
    .chat-left > a >.img-circle {
        width: 35px!important;
        height: 35px!important;
        margin-right: 10px;
        margin-left: 15px;
    }
    .form-control {
        display: block;
        width: 100%;
        height: 38px;
        margin-left: 0px;
        padding: 8px 30px 8px 35px!important;
        font-size: 13px;
        line-height: 1.5384616;
        color: #333333;
        background-color: transparent;
        background-image: none;
        border: 1px solid #ddd;
        border-radius: 3px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
}    
@media only screen and (min-width: 2500px){
    
    .chat-list, .chat-stacked {
        max-height: 81vh!important;
        overflow: auto;
    }
    .content {
        margin-top: 0px;
    }
    .chat-list-page {
        max-height: 57vh;
        overflow: auto;
    }
    #send_msg >.text-right{
        padding-left:  5%;
    }
    #asdmessage {
        width: 114% !important;
        border-right: 0px;
    }
    .chat-list-page> label {
        margin-top: 20%;
        color: #afa7a7;
        margin-left: 42%;
        padding: 34% 0;
    }
    .mac{
        margin-top: 35px!important;
        overflow: auto;
    }

    .chat-list> label {
        margin-top: 20%;
        color: #afa7a7;
        margin-left: 10%;
        padding: 34%;
    }
    .small-footer{
        position: fixed;
        width: 36.30%;
        bottom: 2%;
        border-right: 1px solid #ddd;
    }
    .big-footer{
        position: fixed;
        width: 49.30%;
        bottom: 4%;
        border-right: 1px solid #ddd;
    }
    #message {
        display: block;
        width: 115.5%;
        height: 38px;
        padding: 8px 31px;
        font-size: 13px;
        line-height: 1.5384616;
        color: #333333;
        background-color: transparent;
        background-image: none;
        border: 1px solid #ddd;
        border-radius: 3px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    .chat_win{
        height: 62vh;
    }
    .chat_win1{
        height: 80vh;
    }
    .camp_name {
        color: #6d6d70;
        white-space: nowrap;
        width: 66%;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 22%;
        margin-top: -33.5px;
    }
    /* new function css*/
    .file_icon{
        font-size: 18px;
        color: #e6b11399;
        padding-right: 4%;
    }
    .floats{
        margin: -6% 0 0 15%;
    }
    .contents{
      padding: 10%!important;
    }
    .bottoms{
        padding: 8% 0 7% 5%;
    }
    .borders{
      border:1px solid #ccc;
    }
    .pan{
      border-radius: 50%!important;
      border: 1px solid #5f5757!important;
      padding: 3.5%;
    }
    .btn-info {
      color: #fff;
      background-color: #4294da;
      border-color: #4294da;
    }
    .btn-info:hover {
      color: #fff;
      background-color: #5eabec;
      border-color: #5eabec;
    }
    .modal-body-1{
        height: 15vh;
        overflow-y: auto!important;
    }

    .list-1 {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    .lists {
      border: 1px solid #ddd;
      margin-top: 10px; /* Prevent double borders */
      background-color: #f6f6f6;
      padding: 1%;
      margin-right: 15%;
      margin-left: 15%;
      text-decoration: none;
      font-size: 14px;
      color: #444040;
      position: relative;
    }
    .list:hover {
      background-color: #eee;
    }
    .txt{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis!important;
      padding-right: 5%;
    }
    .cls{
      margin: -6% -1% 0 0%;
      position: relative;
    }
    .example{
      text-overflow: ellipsis!important;
      white-space: nowrap;
      overflow: hidden;
    }
    .example button:focus{
      outline: none;
    }
    .example button {
        background-color: #f6f6f6;
        border: 0px;
        float: right!impo;
    }
    .example button:hover {
        background-color: #f6f6f6;
        border: 0px;
        float: right;
    }
    .example button:active{
        background-color: #f6f6f6;
        border: 0px;
        float: right;
    }
    .sweet-alert {
        font-family: 'Open Sans', sans-serif;
        width: 478px;
        padding: 17px;
        border-radius: 5px;
        text-align: center;
        position: fixed;
        left: 51%!important;
        top: 50%;
        margin-left: -256px;
        margin-top: -200px;
        overflow: hidden;
        display: none;
        z-index: 2000;
    }
    .chng{
        left: -121%;
        margin-top: 5%!important;
        padding: 35%!important;
        text-align: center!important;
        background: #ffffff!important;
    }
    .col-md-12{
        position: relative;
        min-height: 1px;
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
}
/*  ----------------------------------------------------@media End------------------------------------------------------    */
