.counter_action {
  margin: 3% 2% 0 0;
}
.counter_text {
  height: 50px!important;
}
.modal-content {
  padding: 20px;
}
.dataTables_filter {
display: none;
}
.datatable-header
{
	display: none;
}
.panel-heading {
    padding-bottom: 0px;

}
.checkbtn{
	margin-top:2px;
	margin-right:2px
}

#sideclose{
    font-size: 30px;
}
#campstat{
  font-size: 20px;
  background-color: #f3f1f1;
}
input[type="text"]{
  background-color : #3f70ba;
  color:#ffff;
  font-size: 20px;
}
#campstat1{
  font-size: 16px;
}
.status{
  background: #f3f1f1;
}
.status1{
  background: #d2cdcd4d;
}
#chartdiv {
  width: 100%;
  height: 250px;
  margin-left:0px;
}
.export-main{
  margin-top: -65px;
}
#chartdiv1 {
  width: 100%;
  height: 250px;
  margin-left:0px;
}
.addbtn{
    padding-left: 10px;
}
 tfoot {
    display: table-row-group;
}
.row{ 
  margin-left: 10px;
  margin-right: 10px;
}
.stat{
  margin-bottom:10px;
}
.lbl{
  font-size: 14px;
}
.label-info1{
  background: #3f70ba;
}
.top{
  margin-top: 30px;
}
.desc_camp_status{
  background-color: #3f70ba;
  color: white;
  font-size: 20px;
  padding:5px;
}
/*css refers to bottom border for list tag used in campaign description- by manjusha*/
.li-bottom {
  border-bottom: 1px solid #ddd!important;
}
/*end*/
/*css refers to leadlist page for Actions dropdown to align properly- by manjusha*/
.action-drop{
  margin-top:0px;
  padding: 8px 10px;
  min-width: 140px;
  left: -75px!important;
}
.inp-style{
  background-color:#fff!important;
  color:#0a0a0a!important;
  font-size: 14px!important;
  display: none;
  width: 81%;
  border-right: 0;
}
/*end*/
.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,
.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,
.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,
.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,
.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,
.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12 {
    padding-left: 0px !important;
  }

  input[type="text"] {
    background-color: #ffffff;
    color: #000;
    font-size: 13px;

  }
  .add{
      float: right;
      margin-top: -9%;
      background: #ddd;
      padding: 3%;
  }
  .check,.cancel{
      float: right;
      /*margin-top: -9%;*/
      background: #ddd;
      padding: 3%;
      display: none;
  }
  #leads_rejected_reason{
    width: 92%;
  }
  .datatable-header {
    display: block;
  }

  .dataTables_filter {
    display: block;
  }

  .dataTables_length {
    display: none;
  }

  .panel-default {
    margin-bottom: 12px;
    width: 97.7%;
    margin-left: 20px;
  }
  .label-info {
      background: #3090eac9;
  }
  body {
    overflow-x: hidden;
  }
  .content:first-child {
    padding-top: 57px;
    padding-left: 25px;
  }
  .tableView{
    font-size: 25px;
    padding: 0px 6px!important;
    margin-top: 2px!important;
  }
  .one,.two{
      white-space: nowrap;
      width: 7%;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 0%;
      margin-top: -4%;
  }
  .three{
      white-space: nowrap;
      width: 17%;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 0%;
      margin-top: -4%;
  }
  .four,.six{
      white-space: nowrap;
      width: 20%;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 0%;
      margin-top: -4%;
  }
  .five{
      white-space: nowrap;
      width:15%;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 0%;
      margin-top: -4%;
  }
  @media only screen and  (min-width: 1400px){
    .one,.two{
      white-space: nowrap;
      width: 6%;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 0%;
      margin-top: -4%;
  }
  .three,.five{
      white-space: nowrap;
      width: 16%;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 0%;
      margin-top: -4%;
  }
  }
  @media only screen and  (min-width: 1920px){
    .one,.two{
      white-space: nowrap;
      width: 4%;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 0%;
      margin-top: -4%;
    }
    .three,.five{
      white-space: nowrap;
      width: 12%;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 0%;
      margin-top: -4%;
    }
  }