/* css added to align checkbox properly*/
.checker span:after{
    top: -1px!important;
    left: -1px!important;
}
/*end*/
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name {
    width: 100px;
    /* margin: 10px 40px; */
    /* padding: 5px 10px; */
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}

.ven_info_1 {
    color: #333333;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: absolute;
    /*left: 72%;*/
    z-index: 2!important;
    /*float: left;*/
    width: 180px;
    padding: 9px 0;
    /*margin: 12px 0 12px 0;*/
    list-style: none;
    font-size: 13px;
    /*text-align: left;*/
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: 0 6px 18px rgba(0, 0, 0, 1);
    box-shadow: 0 0 18px rgba(0, 0, 0, 1);
    background-clip: padding-box;

}
.ven_info_1:before {
    content: " ";
    position: absolute;
    top: -10px;
    left: 75px;
    margin-left: 0px;
    border-width: 10px;
    border-style: solid;
    transform: rotate(135deg);
    border-color: transparent transparent white white;
    box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.4);
}
/*.ven_info_1 {
    height: 30vh;
    width: 40%;
    border:1px solid #ddd;
}*/
.fa-comment-o {
    font-size: 22px;
    margin-left: 15%;
}
.fa-paper-plane {
    font-size: 12px;
}
.edt-color{
    margin-right: 2%;
    color: #2196f3;
}
.campagin_icons i{
    font-size: 18px;
    padding: 6px;
    z-index: 1;
    opacity: .5;
    visibility: hidden;
    display: block;
    margin: 0 2px 0 3px;
    list-style: none;
   
}
.campagin_icons a i:hover{
    opacity: 5;
    background: #d4d4d4;
    background-size: 50px;
    border: 0px solid;
    border-radius: 14px;
}
.campagin_icons i{
    visibility: visible;
}
#view:hover .vendor_info {
    visibility: visible;
    opacity: 1;
}

.info_comment {
    padding: 3%;
    border: 0px;
    width: 100%;
    height: 11vh;
}
.chbox {
    width: 57% !important;
    margin-left: 10px;
}
.hida {
    border: 1px solid #32e8d7;
    padding: 9px 337px 9px 10px;
    border-radius: 6px;
}
.dd {
    width: 100%;
}
.mutliSelect {
    background-color: #e4dcdc4a!important;
}
ul {
    list-style-type: none;
}
li>input {
    margin-left: 0;
    left: 15px;
}
.multisel {
    padding: 10px;
    margin-left: -25px;
}
.multisel>input[type="checkbox"] {
    margin: 4px 15px 0;
    margin-top: 1px \9;
    line-height: normal;
}
.multisel:hover {
    background: #afbdd0;
}
/* for campaign notifs sender's company logo...Akshay G. */
.company_logo {
    width: 25px;
    border-radius: 50%;
}
.status_list {
    color: #333333;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: absolute;
    left: 0;
    z-index: 2!important;
    float: left;
    width: 20%;
    padding: 9px 0;
    margin: 12px 0 12px 0;
    list-style: none;
    font-size: 13px;
    text-align: left;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: 0 6px 18px rgba(0, 0, 0, 1);
    box-shadow: 0 0 18px rgba(0, 0, 0, 1);
    background-clip: padding-box;
}

.status_list:before {
    content: " ";
    position: absolute;
    top: -10px;
    left: 37px;
    margin-left: 0px;
    border-width: 10px;
    border-style: solid;
    transform: rotate(135deg);
    border-color: transparent transparent white white;
    box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.4);
}

.more_details {
    color: #333333;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: absolute;
    left: 0;
    z-index: 2!important;
    float: left;
    width: 100%;
    padding: 5px 0;
    margin: 12px 0 12px 0;
    list-style: none;
    font-size: 13px;
    text-align: left;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: 0 6px 18px rgba(0, 0, 0, 1);
    box-shadow: 0 0 18px rgba(0, 0, 0, 1);
    background-clip: padding-box;
}
.more_details:before {
    content: " ";
    position: absolute;
    top: -10px;
    left: 59px;
    margin-left: 0px;
    border-width: 10px;
    border-style: solid;
    transform: rotate(135deg);
    border-color: transparent transparent white white;
    box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.4);
  }
.more{
    position: relative;
}
.iclose {
    font-size: 18px !important;
    margin-right: 3% !important;
    color: #e65326 !important;
}
.cross_icon{

    color: #e86034eb!important;
}
.ul-padding {
    margin: 5%;
}

.ul-padding >li {
    padding: 1%;
    border-bottom: 1px solid #ddd;
    margin: 3% 0;
}

.li-padding {
    padding: 2% 5% 5% 1%;
    margin-left: 0;
}
.spa {
    font-size: 15px;
    font-family: Roboto;
    white-space: normal;
    width: 217px;
    text-align: justify;
    max-height: 200px;
    overflow: auto;
}
.close-1 {
    margin: 0 26px 30px;   
}
.checker, .checker span, .checker input .chek {
    width: 14px!important;
    height: 14px!important;
    margin-top: -5px !important;
     margin-right: 5px !important; 
}
.form-group {
    border: 1px solid #ddd !important;
    border-radius: 3px !important;
    margin-top: -23px;
    margin-bottom: -4px;
}
.fm {
    max-height: 39vh;
    overflow: auto;
    min-height: 39vh;
}
.right_btn {
    float: right!important;
   /* margin-right: 25px!important;*/
    margin-top: 1%!important;
    right: 0!important;
}
table.dataTable.no-footer {
    border-bottom: 0!important;
}

.campaign_table li {
    list-style: none;
    display: block !important;
}

.multiselect-container {
    max-height: 28vh !important;
}
.text {
    border: 1px solid #b1b5bc;
}

.camp_detail_container {
    margin-top: 10%;
}

.camp_detail_container .camp_text {
    white-space: normal;
    /*width: 300px;*/
    text-align: left;
    max-height: 200px;
    overflow: auto;
    font-family: Roboto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 3% !important;
}

.txt_bold {
    font-weight: 500;
}
.sign {
    color: #078e0c;
}
.sign-2 {
    background: #fff;
    border-radius: 25px;
    color: #e86034eb;
    width: 30%;
}
.sign{
    color: #078e0c;
}
.scrl {
    overflow-y: auto;
    max-height: 38vh;
}

hr {
    margin-top: -2px !important;
    margin-bottom: 0 !important;
}

.li-bot {
    margin-bottom: 18%;
}
.status-sign {
    font-size: 18px;
    background: #fff;
    border-radius: 25px;
    color: #078e0c;
}

.column12 {
    margin-top: 2% !important;
    margin-bottom: 2% !important;
}
 

.supericon {
    font-size: 16px;
    margin-right: 3px;
}

.td-align {
    width: 1%;
    padding: 12px 0px 7px 17px !important;
}

.i-color {
    color: #4972dc;
}

table.dataTable tbody td {
    /*padding: 14px!important;*/
    padding-left: 0px!important;
}

table.dataTable tbody .td-align,.show_camp,.campaign_icons {
    padding: 14px !important;
    padding-left: 18px !important;
}

.chat-change {
    margin-top: 40px !important;
}

.chat_win {
    height: 40vh !important;
}

.note {
    display: none;
    margin-top: 0px !important;
    margin-left: 1px;
}

.chats {
    margin-top: 75px;
}

.tb {
    overflow-x: initial!important;
}
table.dataTable {
    width: 100%!important;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
}
.campaign_panel{
    min-height: 91vh!important;
    max-height: 89vh!important;
    overflow: hidden;
    overflow-y: scroll;
}
.pan {
    border-radius: 50%!important;
    border: 1px solid #ada7a7!important;
    padding: 2.5%;
}
.bottoms {
    padding: 8% 0 3% 5%;
}
.modal-content {
    padding: 20px!important;
}
.modal {
    opacity: 1;
    background: #00000082!important;
}
.borders {
    border: 1px solid #ccc;
}
.div-padding {
    padding: 0 4% 0 4%;
    /* display: none; */
    max-height: 40vh;
    overflow: auto;
}
.Action_down {
    padding: 5%;
    color: #4294da;
    margin-top: 7%;
}
/* css added for send attachment remove icon*/
.btn-colors{
    background-color: #fff!important;
    color: #ff5722;
    font-size: 18px;
    margin-left: -165px;
    margin-top: 4%;
    cursor: pointer;
}
.div-aligns-bulk {
    margin: -8.5% -26% -6% 31%;
}
/*end*/
.floats {
    margin: -7% 0 0 11%;
}
/* classes added by manjusha*/
.btn-secondary{
    background-color: #2196f3ba;
    color: #fff;
}
.btn-secondary:hover{
    background-color: #2196f3;
    color: #fff;
}
.description-aligns{
    margin-left: 2.5%;
}
/*End*/
/*==============================start media query==========================================================*/
@media only screen and (min-width: 1440px) and (max-height: 743px) {
    .fm {
        max-height: 52vh !important;
        overflow: auto;
        min-height: 52vh !important;
    }

    .txt_bold {
        font-weight: bold !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .status_list {
        width: 24% !important;
    }
}

@media only screen and (min-width: 1600px) and (max-width: 1899px) {
    .chat-change {
        margin-top: 40px !important;
    }

    .chat {
        margin-top: 75px !important;
    }

    .chat_win {
        height: 74vh;
    }

    .camp_name {
        color: #6d6d70;
        white-space: nowrap;
        width: 66%;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 26%;
        margin-top: -33.5px;
    }
}

@media only screen and (min-width: 1920px)and (max-width: 2499px) {
    #asdmessage {
        width: 112% !important;
    }

    .dropdown-content a {
        color: #1E88E5 !important;
        padding: 0px 16px !important;
        margin-right: 5px;
        text-decoration: none;
        display: block;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.current,
    .dataTables_wrapper .dataTables_paginate .paginate_button.current {
        border: 1px solid #e4dddd !important;
        background: linear-gradient(to bottom, #fff 0%, #FFF 100%) !important;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.current,
    .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
        border: 1px solid #e4dddd !important;
        background: linear-gradient(to bottom, #fff 0%, #FFF 100%) !important;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        color: #3a3a3a !important;
        border: 1px solid #fff !important;
        background-color: #ffffff !important;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
        background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
        background: -moz-linear-gradient(top, #585858 0%, #111 100%);
        background: -ms-linear-gradient(top, #585858 0%, #111 100%);
        background: -o-linear-gradient(top, #585858 0%, #111 100%);
        background: linear-gradient(to bottom, #ffffff 0%, #fff 100%) !important;
    }

    .bg-success-400 {
        background-color: #66BB6A !important;
        border-color: #66BB6A !important;
        color: #fff;
    }
    .fa-comment-o {
        font-size: 22px;
        margin-left: 15%;
    }
    .ven_info_1:before {
        left: 72px!important;
    }
}
@media only screen and (max-width: 1399px ){
    .campaign_panel
    {
        min-height: 91vh!important;
        max-height: 89vh!important;
        overflow: hidden;
        overflow-y: scroll;
    }
    .method, .abm_status, .job_title_function, .suppression_status, .geo, .industry_type, .special_instructions, .company_size, .revenue_size {
        width: 340px!important;
    }
    .ven_info_1:before {
        left: 50px;
    }
}
@media only screen and (max-width: 1366px) and (min-height: 500px) {
    .status_list {
        width: 28%!important;
    }
    .sp{
        padding: 9px 8px!important;
    }
    .tb {
        overflow-x: initial!important;
    }
    .more_details {
        /*left: 52px !important;*/
        width: 100% !important;
    }
    .status_list:before{
         left: 35px!important;
    }
    .more_details:before{
         left: 57px!important;
    }
    .checker span {
        margin-left: 10px !important;
    }

    .chat-change {
        margin-top: 8px !important;
    }

    .chat_win {
        height: 11vh !important;
    }

    .checker,
    .checker span,
    .checker input .chek {
        margin-right: 15px !important;
    }

    .text {
        width: 85%;
    }

    .fm {
        max-height: 57vh !important;
        overflow: auto;
        min-height: 57vh !important;
    }

    .txt_bold {
        font-weight: bold !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .camp_detail_container {
        margin-top: 15% !important;
    }

    .right_btn {
        float: right;
        /* margin-right: 25px;*/
        margin-top: 1%;
        right: 0;
    }
    table.dataTable tbody .td-align, .show_camp, .campaign_icons {
        padding: 14px !important;
        padding-left: 8px !important;
    }
    table.dataTable tbody td {
        /*padding: 14px!important;*/
        padding-left: 10px!important;
    }
    .ven_info_1:before {
        left: 60px!important;
    }
}

@media only screen and (max-width: 1024px) {
    .status_list {
        width: 35% !important;
        padding: 9px 0 !important;
    }
    .status_list:before {
        left: 38px!important;
    }
    .more_details:before {
        left: 60px!important;
    }
    .ul-padding {
        margin: 0 !important;
    }
    .method, .abm_status, .job_title_function, .suppression_status, .geo, .industry_type, .special_instructions, .company_size, .revenue_size {
        width: 100%!important;
    }
    .close-1 {
        margin: 0px 10px 48px;
    }
    .camp_detail_container {
        margin-top: 2%!important;
    }
}

@media only screen and (max-width: 2499px) and (min-width: 1920px) {
    .mac {
        overflow: auto;
        max-height: 95vh;
        margin-top: 10px !important;
    }
}
@media only screen and (min-width: 1600px) and (max-width: 1899px) {
    .mac {
        margin-top: -13px !important;
    }

    .chat_win {
        height: 40vh;
    }
}
