 ul {
    list-style: none;
    padding-left: 4%;
    margin-top: 1%;
}
.dataTable thead .sorting_asc:after {
    content: '';
    font-family: 'icomoon';
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 12px;
    margin-top: -6px;
    display: none!important;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.table-responsive-sm.main_tb{
    margin-top: 3%;
}
.dataTables_filter > label:after {
    content: "\e98e";
    font-family: 'icomoon';
    font-size: 12px;
    display: none!important;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -6px;
    color: #999999;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.more_details{
    z-index: 2;
}
.ga_footer{
    padding: 0px;
    margin-right: 45px;
}
.ga_footer .btn{
    margin-top: 16px;
}
.btn-success {
    color: #fff;
    background-color: #47c8c8 !important;
    border-color: #47c8c8 !important;
}
 .fa-upload{
    color: #fff!important;
    font-size: 13px!important
  }
.dataTables_length {
    float: right;
    display: inline-block;
    margin: 0px 20px 20px 20px !important;
}

.group_access_div {
    height: 56vh;
    overflow: auto;
    overflow-x: hidden;
}
.edit {
    color:#4caf50;
    padding: 5px;
}

.trash-users{
    color:#ff0000b5;
    padding: 5px;
    font-size: 18px!important;
}
.user-cheks{
    padding: 5px;
    color: #2196f3;
}
.user-users {
    padding: 3px;
    color: #d84315bf;
}
.user-tasks{
    font-size: 16px!important;
    color: #146db7!important;
    margin-top: 5px;
    margin-left: 3px;
}
.camp_access_div{
    font-weight: 500;
    max-height: 60vh;
    overflow: auto;
}
.txt-elips{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 60%;   
}