{% extends "header/header.html" %}

{% block scripts %}
{% include "campaign/campaignhead.html" %}
{% endblock %}

{% block content %}
<!-- Main sidebar -->
{% include "side/side.html" %}

{% load static %}
{% load filter1 %}
<!-- Main content -->
<div class="content-wrapper">

    <!-- Page header -->

    <div class="page-header">
        <div class="page-header-content" style="display:none">
            <div class="page-title">
                <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Dashboard</span> -
                    Campaign List</h4>
            </div>

            <div class="heading-elements">
                <div class="heading-btn-group">
                    <a href="#" class="btn btn-link btn-float text-size-small has-text"><i
                            class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
                    <a href="#" class="btn btn-link btn-float text-size-small has-text"><i
                            class="icon-calculator text-primary"></i>
                        <span>Invoices</span></a>
                    <a href="#" class="btn btn-link btn-float text-size-small has-text"><i
                            class="icon-calendar5 text-primary"></i>
                        <span>Schedule</span></a>
                </div>
            </div>
        </div>

        <div class="breadcrumb-line">
            <ul class="breadcrumb">
                <li><a href="/superadmin/dashboard/"><i class="icon-home2 position-left"></i> Home</a></li>
                <li class="active">Campaign List</li>
            </ul>

            <ul class="breadcrumb-elements">

            </ul>
        </div>
    </div>
    <!-- /page header -->

    <!-- Content area -->
    <div class="content">
        <!-- Top Clients List -->
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title">Assigned Campaign List
                    <!-- <button type="button" id="databtn" class="btn btn-filter-tb btn-labeled pull-right">
                        <b><span id="filter_icon" class="glyphicon glyphicon-filter"></span></b>
                        Filter
                    </button> -->
                </h5>
            </div>

            <div class="table-responsive-sm">
                <table class="table datatable-column-search-inputs DataTables">
                    <thead>
                        <tr>
                            <th>Campaign Name</th>
                            <th>Vendor Name</th>
                            <th>Status</th>
                            <th>Type</th>
                            <th>Client CPL</th>
                            <!-- <th>Prority</th> -->
                            <th class="sorting" aria-controls="DataTables_Table_0">Target Quantity</th>
                            <th>Remaining Quantity</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <!-- <tfoot id='datatfootfilter'>
                        <tr>

                            <td rowspan="1" colspan="1">
                                <input type="text" class="form-control input-sm" placeholder="Search Campaign">
                            </td>

                            <td rowspan="1" colspan="1">
                                <input type="text" class="form-control input-sm" placeholder="Search Position">
                            </td>

                            <td rowspan="1" colspan="1">
                                <input type="text" class="form-control input-sm" placeholder="Search Position">
                            </td>

                            <td rowspan="1" colspan="1">
                                <input type="text" class="form-control input-sm" placeholder="Search Type">
                            </td>

                            <td rowspan="1" colspan="1">
                                <input type="text" class="form-control input-sm" placeholder="Search Overall">
                            </td>

                            <td rowspan="1" colspan="1">
                                <input type="text" class="form-control input-sm" placeholder="Search Vendors">
                            </td>
                            <td rowspan="1" colspan="1">
                                <input type="text" class="form-control input-sm" placeholder="Search Vendors">
                            </td>
                            <td rowspan="1" colspan="1">
                                <input type="text" class="form-control input-sm" placeholder="Search Start Date">
                            </td>

                            <td rowspan="1" colspan="1"></td>

                        </tr>
                    </tfoot> -->
                    <tbody>
                        {% for camp in campaigns %}
                        {% if camp.status == 5 %}
                        <tr>
                            <!--<td><a href="{% url 'superadmin:campaigndescription' camp.id %}">{{ camp.name }}</a></td>-->
                            <td>
                                {% if camp.status == 1 or camp.status == 4 or camp.status == 3 %}
                                <a href="/superadmin/campaign_vendor/{{camp.id}}"> {{ camp.name }}</a>
                                {% else %}
                                {{ camp.name }}
                                {%endif%}

                            </td>
                            <td>
                                <a data-popup="popover" title="Vendors" data-trigger="hover" data-html="true"
                                    data-content="{% with camp.id|vendor_names:camp.status as name %}
                                            {% for row in name %}
                                              {{row.name}}<br/>
                                            {%endfor%}
                                            {%endwith%}">
                                    {% with camp.id|get_vendor_names:camp.status as name %}
                                    {{name}}
                                    {%endwith%}
                                </a></td>
                            <td>
                                {% if camp.status == 1 %}
                                <span class="label label-success">LIVE </span>
                                {% elif camp.status == 3%}
                                <span class="label label-primary">PENDING </span>
                                {% elif camp.status == 4%}
                                <span class="label label-info">Completed </span>
                                {% elif camp.status == 5 %}
                                <span class="label label-purple bg-primary">Assigned</span>
                                {% endif %}
                            </td>
                            <!--  <td>{{ camp.io_number }}</td>-->
                            {% if camp.adhoc %}
                            <td class="priority">ADHOC</td>
                            {% else %}
                            <td>Normal</td>
                            {% endif %}

                            <td>
                                {% if camp.cpl == 0 %}
                                RFQ
                                {% elif camp.cpl is null %}
                                RFQ
                                {% else %}
                                ${{camp.cpl|floatformat:2}}
                                {% endif %}

                            </td>
                            <!-- <td>{{ camp.priority|title}}</td> -->
                            <td rowspan="1" colspan="1">{{camp.target_quantity}}</td>
                            <td>{{camp.raimainingleads}}</td>
                            <td class="text-center">
                                <ul class="icons-list">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="icon-menu9"></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-right">

                                            {% if camp.tc_vendor == 1 %}
                                            {% if camp.rfq_status == 0 %}

                                            {% if camp.rfq == 1 %}
                                            <li><a href="/superadmin/RFQ-Campaign/{{camp.id}}"
                                                    class="allocation_vendor"> RFQ Campaign</a></li>
                                            {% else %}
                                            <li><a href="/superadmin/vendor-allocation/{{camp.id}}"
                                                    class="pricing_allocation"></i> Allocations</a></li>
                                            {% endif %}
                                            {% elif camp.rfq_status == 1 %}
                                            <!--client accept rfq cpl-->
                                            <li><a href="/superadmin/vendor-allocation/{{camp.id}}"
                                                    class="pricing_allocation"></i> Allocations</a></li>
                                            {% elif camp.rfq_status == 2 %}
                                            <!--client counter rfq cpl-->
                                            <li><a href="#" campaign_id="{{camp.id}}"
                                                    class="counter_rfq_cpl"></i>Counter RFQ</a></li>
                                            {% endif %}
                                            {%endif%}


                                        </ul>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}



                    </tbody>

                </table>
            </div>

        </div>

    </div>
    <!-- /content area -->

</div>
<!-- /main content -->

</div>
<!-- /page content -->

</div>

<!-- /page container -->
<!-- Small modal -->
<div id="modal_small" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">Client RFQ CPL</h5>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label for="usr">
                                <h6 class="text-semibold">C-CPL</h6>
                            </label>
                        </div>
                        <div class="col-md-9">
                            <input type="number" min="0" value="" class="form-control" id="cpl" disabled>
                            <input type="hidden" value="" id="camp_id">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success action_of_client_rfq" id="1">Accept</button>
                <button type="button" class="btn btn-danger action_of_client_rfq" id="2">Reject</button>
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
<!-- /small modal -->

{% include "campaign/campaignlistjs.html" %}
<script>
    $(function () {
        $("#superadmin_campaign").addClass("active");
        $("#superadmin_campaign").find("ul").first().css({ 'display': 'block' })
        $("#assigned-campaign").addClass("active");
    });
</script>

{% endblock %}