{% extends "header/header.html" %}

{% block script1 %}
    {% include "campaign/campaign.html"}
    {% include "campaign/campdesc.css" %}

 {% endblock %}

{% block content %}
<!-- Main sidebar -->
  {% include "side/side.html" %}

  {% load static %}
<!-- /main sidebar -->

            <div class="content-wrapper">

                <!-- Page header -->
                <div class=" page-header-default">


                    <div class="breadcrumb-line">
                        <ul class="breadcrumb">
                            <li><a href="/superadmin/dashboard/"><i class="icon-home2 position-left"></i> Home</a></li>
                            <li class="active">Campaign Details</li>
                        </ul>

                  </div>
                </div>
                <!-- /page header -->

                <!-- Content area -->
         <div class="content">

           <!-- client registration model -->


                        <div class="panel panel-white ">

                          <div class="row ">
                          <div class="row top">

                            <div class="col-md-3  status" >
                                <div class="form-group ">
                                    <label id="campstat">Campaign Status</label>
                                    <select class="bg-blue form-control" >
                                      <option value="live">Live</option>
                                      <option value="paused">Paused</option>
                                      <option value="pending">Pending</option>
                                      <option value="inactive">Inactive</option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-md-9   ">
                                <div class="form-group ">

                                    <label id="campstat1">CID : 121</label><br>
                                    <label id="campstat1">Social Network</label><br>
                                    <span  class="label label-info1 lbl" >Default Payout :
                                    </span> <span  class="label label-info lbl" >$3.50</span>
                                      &nbsp;&nbsp;<span  class="label label-info1 lbl" >Conversions :</span> <span  class="label label-info lbl  " >Daily :100</span>
                                     <span  class="label label-info lbl" >Monthly :3000</span>

                            </div>

                        </div>
                      </div>
                    </div>
                      <div class="row">

            <div class="panel-heading">
                         <h5 class="panel-title">
                                <button type="button" id="databtn" class="btn btn-filter-tb btn-labeled pull-right" >
                  <b><span id ="filter_icon" class="glyphicon glyphicon-filter"></span></b>
                   Filter
                </button>
              </h5>


            </div>
               <div class="table-responsive-sm">
                            <table class="table datatable-column-search-inputs DataTables">
                                <thead>
                                    <tr>
                                        <th>VID</th>
                                        <th>Payout</th>
                                        <th>Daily Conv.</th>
                                        <th>Monthly Conv</th>
                                        <th>Status</th>
                                        <th>Returns</th>
                                        <th>Start Date</th>


                                    </tr>
                                </thead>
                                <tfoot id="datatfootfilter">
                                    <tr>

                                        <td rowspan="1" colspan="1">
                                            <input type="text" class="form-control input-sm" placeholder="Search Company">
                                        </td>


                                        <td rowspan="1" colspan="1">
                                            <input type="text" class="form-control input-sm" placeholder="Search Person">
                                        </td>

                                        <td rowspan="1" colspan="1">
                                            <input type="text" class="form-control input-sm" placeholder="Search Category">
                                        </td>

                                        <td rowspan="1" colspan="1">
                                            <input type="text" class="form-control input-sm" placeholder="Search Type">
                                        </td>
                                                 <td rowspan="1" colspan="1">
                                            <input type="text" class="form-control input-sm" placeholder="Search Company">
                                        </td>
                                        <td rowspan="1" colspan="1">
                                            <input type="text" class="form-control input-sm" placeholder="Search Billing">
                                        </td>

                                     <td rowspan="1" colspan="1">
                                      <input type="text" class="form-control input-sm" placeholder="Status">
                                        </td>

                                    </tr>
                                </tfoot>
                                <tbody>



                                <tr>
                                    <td><a href="#">#123</a></td>
                                    <td>$2.00</td>
                                    <td>100</td>
                                    <td>3000</td>
                                    <td>Live</td>
                                    <td>0</td>
                                    <td>7/23/2018</td>
                       <!--              <td class="text-center">
                    <ul class="icons-list">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="icon-menu9"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                          <li><a href="#"><i class="icon-file-pdf"></i> Export to .pdf</a></li>
                          <li><a href="#"><i class="icon-file-excel"></i> Export to .csv</a></li>
                          <li><a href="#"><i class="icon-file-word"></i> Export to .doc</a></li>
                        </ul>
                      </li>
                    </ul>
                  </td> -->

                </tr>



                                </tbody>

                            </table>
                        </div>


          </div>

                      </div>


{% include "dashboard/js.html" %}
{% endblock %}
