{% extends "header/header.html" %}

{% block scripts %}
{% include "client/campdesc.html" %}
{% endblock %}

{% block content %}
<!-- Main sidebar -->
{% include "side/side.html" %}
{% load range %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load filter1 %}
<!-- Main content -->
<div class="content-wrapper">

    <!-- Page header -->

    <div class="page-header">
        <div class="page-header-content" style="display:none">
            <div class="page-title">
                <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Dashboard</span> -
                    Campaign List</h4>
            </div>

            <div class="heading-elements">
                <div class="heading-btn-group">
                    <a href="#" class="btn btn-link btn-float text-size-small has-text"><i
                            class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
                    <a href="#" class="btn btn-link btn-float text-size-small has-text"><i
                            class="icon-calculator text-primary"></i>
                        <span>Invoices</span></a>
                    <a href="#" class="btn btn-link btn-float text-size-small has-text"><i
                            class="icon-calendar5 text-primary"></i>
                        <span>Schedule</span></a>
                </div>
            </div>
        </div>

        <div class="breadcrumb-line">
            <ul class="breadcrumb">
                <li><a href="/superadmin/dashboard/"><i class="icon-home2 position-left"></i> Home</a></li>
                <li class="active"><a href="/superadmin/pending-campaign/">Campaign List</a></li>
                <li class="active">Campaign Revenue</li>

            </ul>

            <ul class="breadcrumb-elements">

            </ul>
        </div>
    </div>
    <!-- /page header -->

    <!-- Content area -->
    <div class="content">
        <!-- Top Clients List -->
        <div class="panel panel-flat">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-3  status">
                        <div class="form-group ">
                            <label id="campstat">Campaign Status</label><br>
                            {% if camp1.status == 1 %}
                            <label class="desc_camp_status form-control">Live</label>
                            {% endif %}
                            {% if camp1.status == 2 %}
                            <label class="desc_camp_status form-control">Draft</label>
                            {% endif %}
                            {% if camp1.status == 3 %}
                            <label class="desc_camp_status form-control">Pending</label>
                            {% endif %}
                            {% if camp1.status == 4 %}
                            <label class="desc_camp_status form-control">Complete</label>
                            {% endif %}
                            {% if camp1.status == 5 %}
                            <label class="desc_camp_status form-control">Assigned</label>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-9   ">
                        <div class="form-group ">
                            <label id="campstat1">CID : #{{camp1.id}}</label><br>
                            <label id="campstat1">Client Name: {{camp1.user.user_name}}</label><br>
                            <label id="campstat1">Campaign Name: {{camp1.name}}</label><br>
                            <span class="label label-info1 lbl">C-CPL :
                            </span> <span class="label label-info lbl">${{camp1.cpl|floatformat:2}}</span>
                            &nbsp;&nbsp;<span class="label label-info1 lbl">TARGET QUANTITY :</span> <span
                                class="label label-info lbl">:{{camp1.target_quantity}}</span>
                            &nbsp;&nbsp;<span class="label label-info1 lbl">REMAINING QUANTITY :</span> <span
                                class="label label-info lbl">:{{camp1.raimainingleads}}</span>
                        </div>
                    </div>
                </div>

                <div class="table-responsive-sm">
                    <!-- {{campaign}} -->
                    <div class="table-responsive-sm">

                        <table id="campaign_revenue_table" class="table datatable-column-search-inputs DataTables">
                            <thead>
                                <tr>
                                    <th>Vendor Name</th>
                                    <th>V-CPL</th>
                                    <th>Leads</th>
                                    <th>TC Diff</th>
                                    <th>Revenue Diff (%)</th>
                                    <th>TC(%)</th>
                                    <th>TC Amt (Diff + REvShare)</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for camp in campaign %}
                                <tr>
                                    <td>{{camp.client_vendor.user_name}}</td>
                                    <td>{{camp.vcpl}}</td>
                                    <td>{{camp.lead}}</td>
                                    <td>{{camp1.cpl|sub:camp.vcpl}}</td>
                                    <td>{{camp.rev_share_percentage}}</td>
                                    
                                    <td>{{camp|tc_per|floatformat:2}}</td>
                                    <td>$ {{camp|tc_amt}}</td>
                                </tr>
                                {% endfor %}
                                
                                

                            </tbody>

                            <tfoot >
                                <tr>
                                    <td ><strong>Total TC Profit</strong></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td ><strong id="Revenue_total"></strong></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>

        </div>
        <!-- /content area -->

    </div>
    <!-- /main content -->


    <!-- /page container -->


    {% include "campaign/campaignlistjs.html" %}

    <!-- timer function for timeout -->
    {% include "campaign/js/rfqtimer.html" %}
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.19/api/sum().js"></script>
    <script>
    // $(function () {
    //     $("#superadmin_campaign").addClass("active");
    //     $("#superadmin_campaign").find("ul").first().css({ 'display': 'block' })
    //     $("#pending-campaign").addClass("active");
    // });
    
    var table = $('#campaign_revenue_table').DataTable();
    profit = table.column( 6 ).data().sum()
    $('#Revenue_total').append(`$ ${formatMoney(profit)}`)

    function formatMoney(amount, decimalCount = 2, decimal = ".", thousands = ",") {
            try {
                decimalCount = Math.abs(decimalCount);
                decimalCount = isNaN(decimalCount) ? 2 : decimalCount;

                const negativeSign = amount < 0 ? "-" : "";

                let i = parseInt(amount = Math.abs(Number(amount) || 0).toFixed(decimalCount)).toString();
                let j = (i.length > 3) ? i.length % 3 : 0;

                return negativeSign + (j ? i.substr(0, j) + thousands : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousands) + (decimalCount ? decimal + Math.abs(amount - i).toFixed(decimalCount).slice(2) : "");
            } catch (e) {
                console.log(e)
            }
        };
    </script>

    {% endblock %}