{% load static %}
<!-- <script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/core/libraries/jasny_bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/validation/validate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/extensions/cookie.js' %}"></script>

<script type="text/javascript" src="{% static 'assets/js/pages/client_wizard_steps.js' %}"></script> -->
<style>
.media-heading
{
  margin-top: 5px;
}
.spanleft{
  margin-left: 15px;
}
/*.active{
  font-weight: bold;
}*/
.AcceptanceRate{
  padding: 3px 7px 3px 8px !important;
  font-size: 14px !important;
}
.AcceptanceRate1{
  padding: 3px 7px 3px 8px !important;
  font-size: 14px !important;
  margin-top: 2px;
}
.showPricing {
    padding: 6px 7px 3px 8px !important;
    font-size: 12px !important;
    margin-top: 2px;
}
.pending_datatable td {
  border-top: 1px solid #a5a3a3!important;
}
.more{
  position: relative;
}
.more_details {
    /* max-height: 65%; */
    color: #333333;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: absolute;
    left: 0;
    z-index: 2!important;
    float: left;
    width: 100%;
    padding: 5px 0;
    margin: 12px 0 0;
    list-style: none;
    font-size: 13px;
    text-align: left;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: 0 6px 18px rgba(0, 0, 0, 1);
    box-shadow: 0 0 18px rgba(0, 0, 0, 1);
    background-clip: padding-box;
}
.sorting_1{
  width: 20%!important;
}
.more_details:before {
  content: " ";
    position: absolute;
    top: -10px;
    left: 16px;
    margin-left: 0px;
    border-width: 10px;
    border-style: solid;
    transform: rotate(135deg);
    border-color: transparent transparent white white;
    box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.4);
}
.camp_det_table{
  border-collapse: collapse;
}
.camp_det_table td{
  border-top: none!important;
  padding: 6px 12px!important;
}
.vendor_table td{
  padding: 6px 12px!important;
}
.vendor_table_wrap .datatable-header{
  display: none!important;
}
.supericon{
    font-size: 15px;
    margin-right: 3px;
}
.supericon_close{
    font-size: 23px;
    position: relative;
    bottom: 5px;
    /* right: -12px; */
}
.bqX {
    height: 30px;
    /* opacity: .54; */
    width: 30px;
    /* opacity: .7; */
    align-items: center;
    border: none;
    display: inline-flex;
    justify-content: center;
    outline: none;
    position: relative;
    z-index: 0;
    cursor: pointer;
    list-style: none;
    margin: 0 10px;
}
.brq {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
  background-color: black;
}
.styled-checkbox  + label {
  position: relative;
  cursor: pointer;
  width: 22px;
  height: 22px;
  border-radius: 40px;
  margin: 0px;
  outline: none;
  transition: background-color .5s;
  background-color: #f44336

}
.styled-checkbox:checked  + label {
    position: relative;
    cursor: pointer;
    width: 22px;
    height: 22px;
    border-radius: 40px;
    margin: 0px;
    outline: none;
    transition: background-color .5s;
    background-color: #4caf50

}

.styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  position: absolute;
  display: inline-block;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) rotate(45deg);
  background-color:#ffffff;
  width:16px;
  height:3px;
  border-radius:40px;
  transition:all .5s;
}

.styled-checkbox + label:after {
  content: '';
  margin-right: 10px;
  position: absolute;
  display: inline-block;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) rotate(-45deg)  ;
  background-color:#ffffff;
  width:16px;
  height:3px;
  border-radius:40px;
  transition:all .5s;
}

/* // Box hover */
.styled-checkbox:hover + label:before {
  /* background: #f35429; */
}

/* // Box focus */
.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

/* // Box checked */
.styled-checkbox:checked + label:before {
  background: #f35429;
}

/* // Disabled state label. */
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}

/* // Disabled box. */
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ffffff;
}

/* // Checkmark. Could be replaced with an image */
.styled-checkbox:checked + label:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 40%;
  background: white;
  width: 7px;
  height: 3px;
  transform: translate(-50%,-50%) translate(-4px,3px) rotate(45deg);
}
.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 48%;
  top: 39%;
  background: white;
  width: 14px;
  height: 3px;
  transform: translate(-50%,-50%) translate(3px,2px) rotate(-45deg);
}

.btn-xs{
padding: 5px 6px!important;
}

.edit_box{
  margin: 0 0 0 5px;
  padding: 8px;
  box-shadow: 0 0 6px;
}

.div_loader{
  position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 20000;
    background: url('{% static "/icons/div_loader.gif" %}') 50% 50% no-repeat rgb(249, 249, 249);
    opacity: .8;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
</style>
