<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> {{userdetails.user_name}}</title>
    {% load static %}
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
  </head>
  <body>
     <center><h1>Company Info</h1> </center>
    <div class="row" style="font-size: large;">
      <div class="col-md-6">
        <div class="form-group">
          <label style="font-weight: bold;">Company:</label>
            {{userdetails.user_name}}
        </div>
        <div class="form-group">
          <label style="font-weight: bold;">Website:</label>
          {{client_vendor.website}}
        </div>
        <div class="form-group">
          <label style="font-weight: bold;">Address Line 1:</label>
          {{userdetails.address_line1}}
        </div>

        <div class="form-group">
          <label style="font-weight: bold;">Country:</label>
            {{ country.name }}

        </div>
        <div class="form-group">
          <label style="font-weight: bold;">Industry Type:</label>
            {{ industry.type }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label style="font-weight: bold;">Phone:</label>
          {{userdetails.contact}}
        </div>
        <div class="form-group">
          <label style="font-weight: bold;">Alternate Number:</label>
          {{userdetails.contact}}
        </div>
        <div class="form-group">
          <label style="font-weight: bold;">Address Line 2:</label>
          {{userdetails.address_line2}}
        </div>

        <div class="form-group">
          <label style="font-weight: bold;">State:</label>
          {{ state.name }}
        </div>
        <div class="form-group">
          <label style="font-weight: bold;">Speciality:</label>
        {{ speciality.name }}
        </div>
      </div>
    </div>

    <center><h1>Business Card Info</h1> </center>
    <div class="row" style="font-size: large;float:left">
      <div class="col-md-12">
        <h6 class="panel-title primary-contact" style="font-weight: bold;">Primary Contact :</h6>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label style="font-weight: bold;">Full Name:</label>
          {{client_vendor.primary_name}}
        </div>

        <div class="form-group">
          <label style="font-weight: bold;">Designation:</label>
          {{client_vendor.primary_designation}}
        </div>

      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label style="font-weight: bold;">Direct dial:</label>
          {{client_vendor.primary_directdial}}
        </div>

        <div class="form-group">
          <label style="font-weight: bold;">Email:</label>
          {{client_vendor.primary_email}}
        </div>
      </div>

    </div>
    <!-- /primary contact-->

    <!-- Secondary Contact-->
    <div class="row" style="font-size: large; float-right">
      <div class="col-md-12">
        <h6 class="panel-title secondary-contact " style="font-weight: bold;">Secondary Contact :</h6>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label style="font-weight: bold;">Full Name:</label>
          {{client_vendor.secondary_name}}
        </div>

        <div class="form-group">
          <label style="font-weight: bold;">Designation:</label>
          {{client_vendor.secondary_designation}}
        </div>

      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label style="font-weight: bold;">Direct dial:</label>
          {{client_vendor.secondary_directdial}}
        </div>

        <div class="form-group">
          <label style="font-weight: bold;">Email:</label>
          {{client_vendor.secondary_email}}
        </div>
        <div class="form-group">
          <label style="font-weight: bold;">Company Address:</label>
            {{userdetails.address_line1 }} , {{ userdetails.address_line2 }}
        </div>
      </div>
    </div>
  </body>
</html>
