{% extends "header/header.html" %}

{% block scripts %}
{% include "campaign/campaignhead.html" %}
{% endblock %}

{% block content %}
<!-- Main sidebar -->
{% include "side/side.html" %}
{% load range %}
{% load static %}
{% load filter1 %}

<!-- Main content -->
<div class="content-wrapper">
    <!-- Page header -->

    <div class="page-header">
        <div class="page-header-content" style="display:none">
            <div class="page-title">
                <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Dashboard</span> -
                    Campaign List</h4>
            </div>

            <div class="heading-elements">
                <div class="heading-btn-group">
                    <a href="#" class="btn btn-link btn-float text-size-small has-text"><i
                            class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
                    <a href="#" class="btn btn-link btn-float text-size-small has-text"><i
                            class="icon-calculator text-primary"></i>
                        <span>Invoices</span></a>
                    <a href="#" class="btn btn-link btn-float text-size-small has-text"><i
                            class="icon-calendar5 text-primary"></i>
                        <span>Schedule</span></a>
                </div>
            </div>
        </div>

        <div class="breadcrumb-line">
            <ul class="breadcrumb">
                <li><a href="/superadmin/dashboard/"><i class="icon-home2 position-left"></i> Home</a></li>
                <li class="active">Campaign List</li>
            </ul>

            <ul class="breadcrumb-elements">

            </ul>
        </div>
    </div>
    <!-- /page header -->

    <!-- Content area -->
    <div class="content">
        <!-- Top Clients List -->
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title">Pending Campaign List
                    <!-- <button type="button" id="databtn" class="btn btn-filter-tb btn-labeled pull-right">
                        <b><span id="filter_icon" class="glyphicon glyphicon-filter"></span></b>
                        Filter
                    </button> -->
                </h5>
            </div>

            <div class="table-responsive-sm">
                <table id="pending_data_datatable" class="table pending_datatable datatable-column-search-inputs DataTables tb-border">
                    <thead>
                        <tr>
                            <th hidden class="sorting" aria-controls="DataTables_Table_0">Priority</th>
                            <th>Campaign Name</th>
                            <th>Start Date - End Date</th>
                            <th>Type</th>
                            <th>Client CPL</th>
                            <th>Target Quantity</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <!-- <tfoot id='datatfootfilter'>
                                <tr>

                                    <td rowspan="1" colspan="1">
                                        <input type="text" class="form-control input-sm" placeholder="Search Campaign">
                                    </td>

                                    <td rowspan="1" colspan="1">
                                        <input type="text" class="form-control input-sm" placeholder="Search Position">
                                    </td>

                                    <td rowspan="1" colspan="1">
                                        <input type="text" class="form-control input-sm" placeholder="Search Position">
                                    </td>

                                    <td rowspan="1" colspan="1">
                                        <input type="text" class="form-control input-sm" placeholder="Search Type">
                                    </td>

                                    <td rowspan="1" colspan="1">
                                        <input type="text" class="form-control input-sm" placeholder="Search Overall">
                                    </td>

                                    <td rowspan="1" colspan="1">
                                        <input type="text" class="form-control input-sm" placeholder="Search Vendors">
                                    </td>
                                    <td rowspan="1" colspan="1">
                                        <input type="text" class="form-control input-sm" placeholder="Search Vendors">
                                    </td>
                                    <td rowspan="1" colspan="1">
                                        <input type="text" class="form-control input-sm" placeholder="Search Start Date">
                                    </td>

                                    <td rowspan="1" colspan="1"></td>

                                </tr>
                            </tfoot> -->
                    <tbody>
                        {% for camp in campaigns %}
                        {% if camp.status == 3 %}
                        <tr>
                            <!--<td><a href="{% url 'superadmin:campaigndescription' camp.id %}">{{ camp.name }}</a></td>-->
                            <td hidden>{{ camp.priority|title}}</td>

                            <td>
                                {% if camp.status == 1 or camp.status == 4 or camp.status == 3 %}
                                {% if camp.rfq == 1 and camp.cpl == 0%}<i class="supericon fas fa-plus-circle more"
                                    data-id="{{camp.id}}" data-rftimer="{{camp.rfq_timer}}"></i>{% endif %}
                                <a href="/superadmin/campaign_vendor/{{camp.id}}"> {{ camp.name|truncatechars:20 }}</a>
                                {% else %}
                                {{ camp.name }}
                                {%endif%}
                                {% if camp.rfq == 1  %}
                                <div class="hidden more_details" data-camp_id="{{camp.id}}">
                                    <div class="div_loader"></div>
                                    <labe id="campaign_cpl_{{camp.id}}" hidden>
                                        {% if camp.cpl == 0 %}
                                        RFQ
                                        {% elif camp.cpl is null %}
                                        RFQ
                                        {% else %}
                                        {{camp.cpl|floatformat:2}}
                                        {% endif %}
                                    </labe>
                                    <labe id="campaign_target_{{camp.id}}" hidden>{{camp.target_quantity}}</labe>
                                    <!-- <labe id="campaign_remaining_leads_{{camp.id}}" > Remaining Leads : {{camp.raimainingleads}}</labe> -->
                                    <labe id="campaign_approve_leads_{{camp.id}}" hidden>{{camp.tc_approveleads}}</labe>

                                    <i class="fas fa-times-circle close_div pull-right" style="padding-right: 1%;"></i>
                                    <div class="campaign_info">
                                        <div class="col-md-4 form-group">
                                            <!--  <table class="table camp_det_table">
                                                        <tr ><td>Client Name:</td><td colspan="3"> {{camp.user.user_name}}</td></tr>
                                                        <tr ><td>Description:</td><td colspan="3"> {{camp.description}}</td></tr>
                                                        <tr ><td>Sp. Instructions:</td><td colspan="3" id="instruction_{{camp.id}}" style="word-break: break-word;"></td></tr>
                                                        <tr>
                                                            <td>Job Title/function</td>
                                                            <td colspan="3" id="jod_title_{{camp.id}}" style="word-break: break-word;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Industry</td>
                                                            <td colspan="3" id="industry_{{camp.id}}" style="word-break: break-word;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>ABM List</td>
                                                            <td id="abm_status_{{camp.id}}"></td>
                                                            <td>Suppression List</td>
                                                            <td id="suppression_{{camp.id}}"></td>
                                                        </tr>
                                                        <tr>
                                                            <td >Remaining Leads :</td>
                                                            <td id="campaign_remaining_leads_{{camp.id}}">{{camp.raimainingleads}}</td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </table> -->
                                            <table class="table camp_det_table">
                                                <tr>
                                                    <td>Client Name:</td>
                                                    <td colspan="3"> {{camp.user.user_name}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Description:</td>
                                                    <td colspan="3" class="camp_text"> {{camp.description}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Sp. Instructions:</td>
                                                    <td colspan="3" class="camp_text" id="instruction_{{camp.id}}"></td>
                                                </tr>
                                                <tr>
                                                    <td>Job Ttile/function</td>
                                                    <td colspan="3" class="camp_text" id="jod_title_{{camp.id}}"></td>
                                                </tr>
                                                <tr>
                                                    <td>Industry</td>
                                                    <td colspan="3" class="camp_text" id="industry_{{camp.id}}"></td>
                                                </tr>
                                                <tr>
                                                    <td>ABM List</td>
                                                    <td id="abm_status_{{camp.id}}"></td>
                                                    <td>Suppression List</td>
                                                    <td id="suppression_{{camp.id}}"></td>
                                                </tr>
                                                <tr>
                                                    <td>Remaining Leads :</td>
                                                    <td id="campaign_remaining_leads_{{camp.id}}">
                                                        {{camp.raimainingleads}}</td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-md-8 vendor_table_wrap">
                                            <div class="">
                                                <!-- RFQ timer -->
                                                <span>Time Remaining -</span><span
                                                    id="campaign_timer_{{camp.id}}"></span>
                                            </div>
                                            <table id="vendor_table_{{camp.id}}"
                                                class="table vendor_table datatable-show-all">
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Vendor Name</th>
                                                        <th>V-CPL</th>
                                                        <th>C-CPL</th>
                                                        <!-- <th>Rev. Share</th>
                                                                <th>Total Profit</th> -->
                                                        <th>Volume</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- <div class="col-md-12 sent_req_div hidden">
                                                    RFQ Request sent to client With CPL <span class='req_cpl'></span> And Volume
                                                    <span class="req_volume"></span>
                                                </div> -->
                                    </div>

                                </div>
                                {% endif %}
                            </td>
                            <td>{{camp.start_date|dateFormate}} - {{camp.end_date|dateFormate}}</td>
                            <!--  <td>{{ camp.io_number }}</td>-->
                            {% if camp.adhoc %}
                            <td class="priority">ADHOC</td>
                            {% else %}
                            <td>Normal</td>
                            {% endif %}

                            <td>
                                {% if camp.cpl == 0 and camp.rfq == 1 %}
                                RFQ
                                {% elif camp.cpl is null %}
                                RFQ
                                {% else %}
                                ${{camp.cpl}}
                                {% endif %}

                            </td>
                            <td rowspan="1" colspan="1">{{camp.target_quantity}}</td>
                            <td class="text-center">
                                <ul class="icons-list">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="icon-menu9"></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-right drops_right">

                                            {% if camp.tc_vendor == 1 %}
                                            {% if camp.rfq_status == 0 %}

                                            {% if camp.rfq != 1 %}

                                            <!-- <li><a href="/superadmin/vendor-allocation/{{camp.id}}"
                                                    class="pricing_allocation"></i>
                                                    Allocations</a></li> -->
                                            {% endif %}

                                            {% elif camp.rfq_status == 2 %}
                                            <!--client counter rfq cpl-->
                                            <li><a href="#" campaign_id="{{camp.id}}"
                                                    class="counter_rfq_cpl"></i>Counter
                                                    RFQ</a></li>
                                            {% endif %}
                                            {%endif%}
                                            {% if camp.rfq == 1 and camp.cpl != 0 %}

                                            <!-- <li><a href="/superadmin/vendor-allocation/{{camp.id}}"
                                                    class="pricing_allocation"></i>
                                                    Allocations</a></li> -->
                                            {% endif %}
                                            <!-- check if cpl & tc target Q > 0 ..Akshay G. -->
                                            {% if camp.cpl != None and camp.cpl > 0 and camp.tc_target_quantity > 0 and camp.tc_target_quantity != None %}
                                            <!-- <li><a href="/superadmin/campaign-revenue/{{camp.id}}">Campaign Revenue</a>
                                            </li> -->
                                            {% endif %}
                                            <li><a href="/superadmin/chat-app/{{camp.id}}">Chat App</a></li>

                                        </ul>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <!-- /content area -->

</div>
<!-- /main content -->
<!-- /page container -->
<!-- Small modal -->
<div id="modal_small" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">Client RFQ CPL</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label for="usr">
                                <h6 class="text-semibold">C-CPL</h6>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <input type="number" min="0" value="" class="form-control" id="cpl" disabled>
                            <input type="hidden" value="" id="camp_id">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label for="usr">
                                <h6 class="text-semibold">C-volume</h6>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <input type="number" min="0" value="" class="form-control" id="volume" disabled>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label for="usr">
                                <h6 class="text-semibold">Remark</h6>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <label>
                                <h6 class="text-semibold" id="remark"></h6>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success action_of_client_rfq" id="1">Accept</button>
                <button type="button" class="btn btn-danger action_of_client_rfq" id="2">Reject</button>
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- /small modal -->
<style type="text/css">
    .table>thead>tr>th,
    .table>tbody>tr>th,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>tbody>tr>td,
    .table>tfoot>tr>td {
        padding: 12px 20px;
        line-height: 1.5384616;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }

    tr {
        border-bottom: 1px solid #8e7b7b;
    }

    .tb-border {
        border-bottom: 1px solid #a0a6a9e0;
        margin-bottom: 1%;
    }

    .camp_det_table {
        margin-top: 20px;
    }

    .camp_text {
        /*width: 15%;*/
        word-break: break-all;
    }

    /* Client dropdown menu */
    .drops_right {
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: -68px !important;
    }

    /* Client show entries menu */
    .select2-container {
        text-align: center !important;
    }

    .dataTables_length>label>span:first-child {
        margin: 9px 9px !important;
    }

    .dataTables_length>label {
        margin-right: 20px;
    }

    .dataTables_length .select2-selection {
        margin-right: 5px;
        margin-left: 5px;
    }

    .odd {
        background: #fff!important;
    }
</style>
{% include "campaign/campaignlistjs.html" %}

<!-- timer function for timeout -->
{% include "campaign/js/rfqtimer.html" %}
<script>
    $(function () {
        $("#superadmin_campaign").addClass("active");
        $("#superadmin_campaign").find("ul").first().css({ 'display': 'block' })
        $("#pending-campaign").addClass("active");
    });
</script>

{% endblock %}