{% extends "header/header.html" %}
{% block scripts %}
    {% include "campaign/campaignhead.html" %}
{% endblock %}
{% block content %}
<!-- Main sidebar -->
  {% include "side/side.html" %}

			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Page header -->

				<div class="page-header">
					<div class="page-header-content" style="display:none">
						<div class="page-title">
							<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Dashboard</span> - Client List</h4>
						</div>

						<div class="heading-elements">
							<div class="heading-btn-group">
								<a href="#" class="btn btn-link btn-float text-size-small has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
								<a href="#" class="btn btn-link btn-float text-size-small has-text"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
								<a href="#" class="btn btn-link btn-float text-size-small has-text"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
							</div>
						</div>
					</div>

					<div class="breadcrumb-line">
						<ul class="breadcrumb">
							<li><a href="/superadmin/dashboard/"><i class="icon-home2 position-left"></i> Home</a></li>
							<li class="active">vendor-allocation</a></li>
						</ul>

						<ul class="breadcrumb-elements">

						</ul>
					</div>
				</div>
				<!-- /page header -->


				<!-- Content area -->
				<div class="content">

					<!-- Top Clients List -->
					<div class="panel panel-flat">
						<div class="panel-heading">
              <h1 class="panel-title"> CID :#<span id="camp_id">{{data.camp_id}}</span>Client-Name:{{data.client_name}}</h1>
   <p id="font14">
     <span><button class="btn btn-primary" id="btnSubmit" value="">submit</button></span>
     {% if cpl_counter > 0 %}
      <span><button class="btn btn-primary"  data-toggle="modal" data-target="#rfqcpllist" value="">CPL LIST</button></span>
    {% endif %}
   </p>
</h5>
</div>
							 <div class="table-responsive-sm">
                            <table class="table datatable-show-all ">
                                <thead>
                                    <tr>
                                        <th>Sr.no</th>
                                        <th>Vendor Name</th>
                                        <th>Website</th>
                                        <th>Company size</th>
                                        <th>Speciality</th>
                                        <th>Marketing Method</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  {% load filter1 %}
                                	{% for rows in vendor_data %}
                                  <tr class="checktr">
                                    <td>

                                      <input type="checkbox" {{ data.camp_id|rfqcpl_exist:rows.user_id }} name="vendor_id_chk" value="{{rows.user_id}}"  {{rows.checked}} /></td>
                                    <td>{{ rows.vendor_name }}</td>
                                    <td>{{ rows.website }}</td>
                                    <td>{{ rows.company_size.range }}</td>
                                    <td>{{ rows.industry_speciality.name }}</td>
                                    <td>
                                        {% for row in marketing_method.all %}
                                        {% if row.id|stringformat:"i" in data_assesment|get_data_frm_object:rows.user_id %}
                                           <span>{{row.type}}</span>
                                        {% endif %}
                                        {% endfor %}
                                    </td>
                                  </tr>
								                {% endfor %}
                                </tbody>
                            </table>
                        </div>
					</div>
				</div>
				<!-- /content area -->
			</div>
			<!-- /main content -->
		</div>
		<!-- /page content -->
	</div>
	<!-- /page container -->
  <div class="modal fade" id="rfqcpllist">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">RFQ CPL LIST</h4>

          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="">
              <div class="">
                <div class="col-md-4">
                  <div class="col-md-4">
                    <label for="usr">   <h4 class="modal-title">CPL</h4></label>
                  </div>
                  <div class="col-md-8">
                    <input type="number" min="0" value="{{data.cpl}}" class="form-control" id="cpl" >
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="col-md-4">
                    <label for="usr">   <h4 class="modal-title">Volume</h4></label>
                  </div>
                  <div class="col-md-8">
                    <input type="number" min="0" value="{{data.targat_quantity}}" class="form-control" id="volume" >
                  </div>
                </div>
                <div class="col-md-3">
                  <input type="button" class="btn btn-primary" id="update_cpl" value="Send Request"/>
                </div>
              </div>
              </div>
              <div class="row">
                <div class="col-md-12">

                  <table class="table datatable-show-all ">
                      <thead>
                          <tr>
                              <th>Sr.no</th>
                              <th>Vendor Name</th>
                              <th>CPL</th>
                              <th>Volume</th>

                          </tr>
                      </thead>
                      <tbody>

                        {% for rows in cpl_list %}
                          <tr>
                              <td>{{forloop.counter}}</td>
                              <td>{{rows.client_vendor.user_name}}</td>
                              <td>{{rows.rfqcpl}}</td>
                              <td>{{rows.rfqvolume}}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>

        </div>
    </div>

        <!-- Modal footer -->
        <div class="modal-footer" style="display:none">
           <button type="button" class="btn btn-primary submitrfq">Submit</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
	{% include "campaign/vendor_allocationjs.html" %}
					{% endblock %}
