{% extends "header/header.html" %}

{% block scripts %}
{% include "campaign/campaignhead.html" %}
{% endblock %}

{% block content %}
{% include "campaign/js/rfqtimer.html" %}
<!-- Main sidebar -->
{% include "side/side.html" %}
{% load custom_filters %}
{% load static %}
{% include 'campaign/rfq_campaign_css_js.html' %}
<script type="text/javascript" src="{% static 'assets/js/pages/client_wizard_steps.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/forms/wizards/steps.min.js' %}"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<div class="content-wrapper">
    <div style="margin-top:1%;">
        <div class="row">
            <!--Main Campaign Name Page-->
            <div class="col-md-12 cols-12" style="max-height: 93vh;">
                <div class="panel campaign_panel panel-flat" style="min-height: 93vh!important;">
                    <div class="panel-heading">
                        <h5 class="panel-title">RFQ Campaign List
                            
                        </h5>
                    </div>
        
                    <div class="table-responsive-sm">
                        <div class="table-responsive tb">
                            <table id="RFQ_campaign_table" class="table text-nowrap campaign_table rfq_table">
                                <thead>
                                    <!--Heading for Pending campaign-->
                                    <tr class="active ">
                                        <th class="sp"></th>
                                        <!-- <th></th> -->
                                        <th colspan="1">RFQ Campaign</th>
                                        <th>Description</th>
                                        <th class=""></th>
                                    </tr>
                                </thead>
                                <tbody> {% for camp in rfq_camps %}
                                    <!--List of Pending campaign-->
                                    <tr class="shadow">
                                        <!--  <td style="width:1%;"></td> -->
                                        <td class="td-align">
                                            <i class="supericon fas fa-info-circle check_status i-color info_1"></i>
                                            <div class="hidden status_list">
                                                <ul class="ul-padding">
                                                    
                                                    {% with stat=status_list|chat_notif:camp.id %}
                                                    <li class="li-padding">
                                                        {% if stat.wait_for_req == 0 %}
                                                        <span class="iclose">
                                                            <i class="far fa-times-circle"></i>
                                                        </span>
                                                        <span class="spa"> RFQ not sent ({{stat.WFR_count}})</span>
                                                        {% else %}
                                                        <span class="iclose">
                                                            <i class="far fa-check-circle status-sign"></i>
                                                        </span>
                                                        <span class="spa"> RFQ sent ({{stat.WFR_count}})</span>
                                                        {% endif %}
                                                    </li>
                                                    <li class="li-padding">
                                                        {% if stat.wait_for_quote == 0 %}
                                                        <span class="iclose"><i class="far fa-times-circle"></i></span>
                                                        <span class="spa"> Waiting for Quotes
                                                            ({{stat.WFQ_count}})</span>
                                                        {% else %}
                                                        <span class="iclose">
                                                            <i class="far fa-check-circle status-sign"></i>
                                                        </span>
                                                        <span class="spa"> Quotations Received
                                                            ({{stat.WFQ_count}})</span>
                                                        {% endif %}
                                                    </li>
                                                    {% endwith %}
                                                    
                                                </ul>
                                            </div>
                                            <i class="supericon fas fa-plus-circle more plus_1" data-id="{{camp.id}}"
                                                data-rftime="{{camp.rfq_timer}}"></i>
                                            <div class="hidden more_details" data-camp_id="{{camp.id}}">
                                                <div class="div_loader"></div>
                                                <label id="campaign_cpl_{{camp.id}}" hidden> {% if camp.cpl == 0 %} RFQ
                                                    {% elif camp.cpl is null %} RFQ {% else %}
                                                    {{camp.cpl|floatformat:2}} {% endif %} </label>
                                                <label id="campaign_target_{{camp.id}}"
                                                    hidden>{{camp.target_quantity}}</label>
                                                <label id="campaign_approve_leads_{{camp.id}}"
                                                    hidden>{{camp.approveleads}}</label>
                                                <div class="close-1">
                                                    <button type="button" class="close close_div"
                                                        data-dismiss="modal">×</button>
                                                    <!-- <i class="fas fa-times-circle  pull-right"></i> -->
                                                </div>
                                                <div class="campaign_info">
                                                    <div class="col-md-4 form-group fm">
                                                        <!-- padding: 8px 18px 7px 31px; -->
                                                        <div class="filed_select_div"></div>
                                                        <div class="camp_detail_container"></div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="col-md-6">
                                                            <span>Time Remaining - </span>
                                                            <strong>
                                                                <span id="campaign_timer_{{camp.id}}"></span>
                                                            </strong>
                                                        </div>
                                                        <div class="col-md-6">
                                                        </div>
                                                        <table id="vendor_table_{{camp.id}}"
                                                            class="table vendor_table datatable-show-all">
                                                            <thead>
                                                                <tr>
                                                                    <th>Vendor Name</th>
                                                                    <th>CPL</th>
                                                                    <th>Volume</th>
                                                                    <th>Comments</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="show_camp" camp_id="{{camp.id}}">
                                            <div class="media-left">
                                                <div class="">
                                                    <a href="#" class="text-default text-semibold show_camp">
                                                        {{camp.name|truncatechars:20 }}</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="show_camp" camp_id="{{camp.id}}">
                                            <div class="description-aligns">{{camp.description|truncatechars:100}}</div>
                                        </td>
                                        <td class="campagin_icons ">
                                            <ul class="icons-list">
                                            </ul>
                                            <div></div>
                                        </td>
                                    </tr> {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/Main Campaign Name Page-->
    </div>
</div>
<script>
    $(function () {
        $("#rfq-campaign").addClass("active");
    });
    $(document).click(function (event) {
        if ($(event.target).closest('.plus_1').length == 0 && $(event.target).parents('.more_details').length == 0) {
            $(`.more_details`).addClass('hidden')
        }
   
        if ($(event.target).closest('.info_1').length == 0 && $(event.target).parents('.status_list').length == 0) {
            $(`.status_list`).addClass('hidden')
        }
    })
</script>

{% endblock %}