{% extends "header/header.html" %}
{%load static%}
{% block scripts %}
{% include "campaign/campaignhead.html" %}
{% endblock %}
{% block content %}
<script type="text/javascript" src="{% static 'assets/js/pages/client_wizard_steps.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/forms/wizards/steps.min.js' %}"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!-- Main sidebar -->
{% include "side/side.html" %}

<!-- /main sidebar -->
  <div class="content" style='padding:10px;'>
    <div style="background-color:#fff;">
      <div class="content panel-height" style="margin-top: 4px;">
          <!-- Main charts -->
          <div class="row">
            <div class="col-md-12">
              <h2>Notification Settings</h2>
              <!-- <div class="col-md-4"> -->
                  <label class="lead">List of Notifications</label>
              <!-- </div><br> -->
              <br>
              </div>
              <div class="col-md-12">
              <div class="col-md-7">
              <form id='noti_ajax' method="post">
                {% csrf_token %}
              <input type="hidden" name="userid" value="{{request.session.userid}}">

              <div class="accordion acc">Campaign <span class="glyphicon glyphicon-plus pull-right"></span> <span class="glyphicon glyphicon-minus  pull-right"></span></div>
              <div class="panel1" style="none">
                  <div class="col-md-6 not-box-head">
                    <strong>Header</strong>
                  </div>
                  <div class="col-md-2 not-box-head">
                    <strong>Notification</strong>
                  </div>
                  <div class="col-md-2 not-box-head">
                    <strong>Email</strong>
                  </div><br>
                  {% for i in mail %}
                    {% if i.parent == 'Campaign'%}
                    <div class="col-md-6 not-box" onclick="changeInfo('{{i.id}}')">
                      {{i.access}}
                    </div>
                    <div class="col-md-2 not-bo">
                      <i class="far fa-check-square"></i>
                    </div>
                    <div class="col-md-2 not-box1">

                      <div class="checkbox">
                          <label>
														<input onclick="changeInfo('{{i.id}}')" class="form-check-input ajcall styled" type="checkbox" name='checked' value="{{i.id}}" id='{{i.id}}' data-id='{{i.id}}' {% if i.value == 1 %}checked{%endif%} >
													</label>
                      </div>
                    </div>
                    {% endif %}
                  {% endfor%}
              </div>
              <div class="accordion acc">Registrations <span class="glyphicon glyphicon-plus pull-right"></span><span class="glyphicon glyphicon-minus  pull-right"></span></div>
              <div class="panel1" style="none">
                    <div class="col-md-6 not-box-head">
                      <strong>Header</strong>
                    </div>
                    <div class="col-md-2 not-box-head">
                      <strong>Notification</strong>
                    </div>
                    <div class="col-md-2 not-box-head">
                      <strong>Email</strong>
                    </div><br>
                {% for i in mail %}
                  {% if i.parent == 'Registrations'%}
                  <div class="col-md-6 not-box" onclick="changeInfo('{{i.id}}')">
                    {{i.access}}
                  </div>
                  <div class="col-md-2 not-bo">
                    <i class="far fa-check-square"></i>
                  </div>
                  <div class="col-md-2 not-box1">

                    <div class="checkbox">
                        <label>
													<input onclick="changeInfo('{{i.id}}')" class="form-check-input ajcall styled" type="checkbox" name='checked' value="{{i.id}}" id='{{i.id}}' data-id='{{i.id}}' {% if i.value == 1 %}checked{%endif%} >
								    		</label>
                    </div>
                  </div>
                  {% endif %}
                {% endfor%}
              </div>
              <div class="accordion acc">Leads <span class="glyphicon glyphicon-plus pull-right"></span><span class="glyphicon glyphicon-minus  pull-right"></span></div>
              <div class="panel1" style="none">
                <div class="col-md-6 not-box-head">
                  <strong>Header</strong>
                </div>
                <div class="col-md-2 not-box-head">
                  <strong>Notification</strong>
                </div>
                <div class="col-md-2 not-box-head">
                  <strong>Email</strong>
                </div><br>
                {% for i in mail %}
                  {% if i.parent == 'Leads'%}
                  <div class="col-md-6 not-box" onclick="changeInfo('{{i.id}}')">
                    {{i.access}}
                  </div>
                  <div class="col-md-2 not-bo">
                    <i class="far fa-check-square"></i>
                  </div>
                  <div class="col-md-2 not-box1">

                    <div class="checkbox">
                        <label>
													<input onclick="changeInfo('{{i.id}}')" class="form-check-input ajcall styled" type="checkbox" name='checked' value="{{i.id}}" id='{{i.id}}' data-id='{{i.id}}' {% if i.value == 1 %}checked{%endif%} >
								    		</label>
                    </div>
                  </div>
                  {% endif %}
                {% endfor%}
              </div>
              <div class="accordion acc">User OnBoarding <span class="glyphicon glyphicon-plus pull-right"></span><span class="glyphicon glyphicon-minus  pull-right"></span></div>
              <div class="panel1" style="none">
                <div class="col-md-6 not-box-head">
                  <strong>Header</strong>
                </div>
                <div class="col-md-2 not-box-head">
                  <strong>Notification</strong>
                </div>
                <div class="col-md-2 not-box-head">
                  <strong>Email</strong>
                </div><br>
                {% for i in mail %}
                  {% if i.parent == 'User OnBoarding'%}
                  <div class="col-md-6 not-box" onclick="changeInfo('{{i.id}}')">
                    {{i.access}}
                  </div>
                  <div class="col-md-2 not-bo">
                    <i class="far fa-check-square"></i>
                  </div>
                  <div class="col-md-2 not-box1">

                    <div class="checkbox">
                        <label>
                          <input onclick="changeInfo('{{i.id}}')" class="form-check-input ajcall styled" type="checkbox" name='checked' value="{{i.id}}" id='{{i.id}}' data-id='{{i.id}}' {% if i.value == 1 %}checked{%endif%} >
                      </label>
                    </div>
                  </div>
                  {% endif %}
                {% endfor%}
              </div>
              <!-- <div class="accordion">User OnBoarding</div>
              <div class="panel">
                {% for i in mail %}
                  {% if i.parent == 'User OnBoarding'%}
                  <div class="col-md-6 not-box" onclick="changeInfo('{{i.id}}')">
                    {{i.access}}
                  </div>
                  <div class="col-md-6 not-box" style="padding-bottom:13px;">
                    <input onclick="changeInfo('{{i.id}}')" class="form-check-input ajcall" type="checkbox" name='checked' value="{{i.id}}" id='{{i.id}}' data-id='{{i.id}}' {% if i.value == 1 %}checked{%endif%} >
                  </div>
                  {% endif %}
                {% endfor%}

              </div> -->
              <div class="accordion acc">Client Actions <span class="glyphicon glyphicon-plus pull-right"></span><span class="glyphicon glyphicon-minus  pull-right"></span></div>
              <div class="panel1" style="none">
                <div class="col-md-6 not-box-head">
                  <strong>Header</strong>
                </div>
                <div class="col-md-2 not-box-head">
                  <strong>Notification</strong>
                </div>
                <div class="col-md-2 not-box-head">
                  <strong>Email</strong>
                </div><br>
                {% for i in mail %}
                  {% if i.parent == 'Client Actions'%}
                  <div class="col-md-6 not-box" onclick="changeInfo('{{i.id}}')">
                    {{i.access}}
                  </div>
                  <div class="col-md-2 not-bo">
                    <i class="far fa-check-square"></i>
                  </div>
                  <div class="col-md-2 not-box1">

                    <div class="checkbox">
                        <label>
                          <input onclick="changeInfo('{{i.id}}')" class="form-check-input ajcall styled" type="checkbox" name='checked' value="{{i.id}}" id='{{i.id}}' data-id='{{i.id}}' {% if i.value == 1 %}checked{%endif%} >
                      </label>
                    </div>
                  </div>
                  {% endif %}
                {% endfor%}
              </div>
                <div class="col-md-6">
                  <button class='btn btn-primary pull-left'style="margin-top:10px;" type="submit" name="Save">Save</button>

                </div>
                <div class="col-md-6 ">
                </div>
              </form>
            </div>
            <div class="col-md-5 noti_fix">
              <div class="panel panel-primary">
                  <div class="panel-heading">
                      <h6 class="panel-title" id="field_info">Info</h6>
                  </div>
                  <div class="panel-body">
                      <ul id="field_desc" style="font-size: 14px;font-weight: 500;">

                      </ul>
                  </div>
              </div>
            </div>
            </div>
          <!--
              {% csrf_token %}
              <div class="form-group">
              <br>
                {% for i in mail %}
                <div class="form-check">
                  <input type="hidden" name="userid" value="{{request.session.userid}}">
                  <input class="form-check-input ajcall" type="checkbox" name='checked' value="{{i.id}}" id='{{i.id}}'>
                  <label class="form-check-label" for="{{i.id}}">
                    {{i.noti_field}}
                  </label>
                </div>
                {% endfor %}

          </form> -->
          </div>
          <!-- /main content -->
      </div>
    </div>
  </div>
<script>
	function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

$(document).ready(function () {

$("#noti_ajax").submit(function(e) {
	e.preventDefault();
			var user_id = '{{request.session.userid}}';
			token = getCookie('csrftoken');
			var match = [];

			$('input[type="checkbox"]').each(function(){
					id = $(this).data('id')
					if ($(this).prop("checked")){
						check = 1;
					}
					else {
							check = 0;
					}
					dict = {
						'user':user_id,
						'id': id,
						'check': check,
					}
					console.log(dict)
			    match.push(dict);
			});
			console.log(match)
			$.ajax({
				type: 'post',
        url: '/client/ajax/save_mail_choice/',
        data: {'data':JSON.stringify(match), 'csrfmiddlewaretoken':token},
				// dataType:'json',
        success: function (result) {
          swal({
                title: "Email Notifications",
                text: "Great, Your preferences has been updated successfully!",
                icon: "success",
                button: "ok",
          });
				},
				failure: function (error) {
                alert("fail");
            }
			});
	});
});

// $(document).ready(function () {
//
// $("#noti_ajax").submit(function(e) {
// e.preventDefault();
// 		var user_id = '{{request.session.userid}}';
//
// 		var form = $(this)[0];
// 		var formdata = new FormData($('#noti_ajax')[0])
// 		token = getCookie('csrftoken');
// 		formdata.append('csrfmiddlewaretoken', token)
// 		$.ajax({
// 			type: 'post',
// 			url: '{% url "mail_choice" %}',
// 			data: formdata,
// 			contentType: false,
// 			processData: false,
// 			success: function (data) {
// 						alert('Data Updated Successfully.')
// 			},
// 			failure: function (error) {
// 							alert("fail");
// 					}
// 		});
// });
// });
</script>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel1 = this.nextElementSibling;
    if (panel1.style.display === "block") {
      panel1.style.display = "none";
    } else {
      panel1.style.display = "block";
    }
  });
}
</script>
<script>
$(document).ready(function(){
  $("div .accordion").click(function () {
      if ($(this).hasClass("active")){
      $(this).find(".glyphicon-plus").hide();
      $(this).find(".glyphicon-minus").show();
      }
      else{
      $(this).find(".glyphicon-plus").show();
      $(this).find(".glyphicon-minus").hide();
      }
  });
  // add active class to superadmin's side bar dropdown- 'notifications'..Akshay G.
    $("#superadmin_reports").next().next().addClass('active');
    $(document).on('click','.navigation-main li',function(){
        if ($('#superadmin_reports').next().next() != $(this)){
          $('#superadmin_reports').next().next().removeClass('active');
        }
    })
  });
//   $(".glyphicon-minus").hide();
//
//   $(".glyphicon-plus").click(function(){
//     $(".glyphicon-plus").hide();
//     $(".glyphicon-minus").show();
//   });
//   $(".glyphicon-minus").click(function(){
//     $(".glyphicon-plus").show();
//     $(".glyphicon-minus").hide();
//   });
// });
</script>

<style media="screen">
.acc{
		padding: 15px;
    background: #61c7f740;
    border: 0.5px solid #ddd;
    border-left: 6px solid red !important;
    margin-bottom: 15px;
    width: 82%;
}
.panel1 {
padding: 0 18px;
display: none;
background-color: white;
overflow: hidden;
margin-bottom:15px;
}
.fill{
  font-size: 20px;
}
.empty{
  font-size: 20px;
}
.noti_fix{
  position: fixed;
  right:1%;
}
.not-box1 {
    background-color: #fff;
    text-align: center;
    border: 1px solid #dcd5d5;
    padding-bottom:10px;
}
.not-box-head{
    background: #f7ebeb;
    padding: 15px;
    text-align: center;
    border: 1px solid #dcd5d5;
}
.not-bo{
    font-size: 20px;
    padding: 10.5px;
    color: #00bcd4;
    background-color: #FFF;
    text-align: center;
    border: 1px solid #dcd5d5;
}
.checkbox {
   margin-top: 16px;
   margin-bottom: 0px;
   margin-left:45%;
}
.glyphicon-minus{
  display:none;
}
.not-box{
  background-color: #fff;
  padding: 15.5px;
  text-align: center;
  border: 1px solid #dcd5d5;
}
</style>

{% include 'notification_js/email_noti_js.js'%}
{% endblock %}
</html>
