<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> {{userdetails.user_name}}</title>
    {% load static %}
    {% load range %}
    {% load custom_filters %}
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
  </head>
  <body>
     <center><h1>Company Info</h1> </center>
    <div class="row" style="font-size: large;">
      <div class="col-md-6">
        <div class="form-group">
          <label style="font-weight: bold;">Company:</label>
            {{userdetails.user_name}}
        </div>
        <div class="form-group">
          <label style="font-weight: bold;">Website:</label>
          {{client_vendor.website}}
        </div>
        <div class="form-group">
          <label style="font-weight: bold;">Address Line 1:</label>
          {{userdetails.address_line1}}
        </div>


        <div class="form-group">
          <label style="font-weight: bold;">Industry Type:</label>
            {{ industry.type }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label style="font-weight: bold;">Phone:</label>
          {{userdetails.contact}}
        </div>
        <div class="form-group">
          <label style="font-weight: bold;">Alternate Number:</label>
          {{userdetails.contact}}
        </div>
        <div class="form-group">
          <label style="font-weight: bold;">Address Line 2:</label>
          {{userdetails.address_line2}}
        </div>
        <div class="form-group">
          <label style="font-weight: bold;">Country:</label>
            {{ country.name }}
        </div>
        <div class="form-group">
          <label style="font-weight: bold;">State:</label>
          {{ state.name }}
        </div>
        <div class="form-group">
          <label style="font-weight: bold;">Speciality:</label>
        {{ speciality.name }}
        </div>
        <div class="form-group">
          <label style="font-weight: bold;">Vendor Type:</label>
          {% for row in vendor_type.all %}
            {% if row.id|stringformat:"i" in data_assesment.vendor_type %}
              {{row.type}},
            {%endif%}
          {%endfor%}
        </div>
        <div class="form-group">
          <label style="font-weight: bold;">Industry Type:</label>
          {{ industry.type }}
        </div>
      </div>
    </div>
    <center><h1>Data Assesment</h1></center>
    <div class="row" style="font-size: large;">
      <div class="col-md-12">
        <h6 class="panel-title primary-contact"> </h6>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label style="font-weight: bold;">Overview:</label>
          {{data_assesment.company_overview}}
        </div>
        <div class="form-group">
          <label style="font-weight: bold;">Unique Value Prop:</label>
          {{data_assesment.unique_value_prop}}
        </div>


        <div class="form-group">
          <label style="font-weight: bold;">Database Size : Size-US</label>
          {{data_assesment.database_size_us}}
        </div>
        <div class="form-group">
          <label style="font-weight: bold;">Language Supported </label>
          {% with language_data=data_assesment.language_supported|eval_expression %}
          {% for row in language_supported.all %}
          {% if row.id|stringformat:"i" in language_data.keys %}
                {{row.type}}
          {% endif %}
          {% endfor %}
          {% endwith %}
        </div>

        <div class="form-group">
          <label style="font-weight: bold;">Registration Process</label>
            {% for row in registrtions_process.all %}
              {% if row.id|stringformat:"i" in data_assesment.registration_process %}
                {{row.type}}
              {% endif %}
            {% endfor %}
        </div>
        <div class="form-group">
          <label style="font-weight: bold;">Networks and Publishers Currently Working With :</label>
            {% for row in networks_and_publishers.all %}
            {% if row.id|stringformat:"i" in data_assesment.networks_and_publishers %}
                {{row.type}}
            {% endif %}
            {% endfor %}
          </div>
        </div>



      <div class="col-md-6">
        <div class="form-group">
          <label style="font-weight: bold;">HQ Location :</label>
          {{ data_assesment.hq_location.name }}
        </div>
        <div class="form-group">
          <label style="font-weight: bold;">Call Center Location:</label>
              {{ data_assesment.call_center_location.name }}
        </div>
        <div class="form-group">
          <label style="font-weight: bold;">Data Processing  Location:</label>
            {{ data_assesment.data_processing_location.name }}
        </div>
        <div class="form-group">
         <label style="font-weight: bold;">Year Incorporated:</label>
           {{data_assesment.year_incorporated}}
        </div>
        <div class="form-group">
          <label style="font-weight: bold;">Sweet-Spot:</label>
            {{data_assesment.sweet_spot_text|trim}}
        </div>

        <div class="form-group">
          <label style="font-weight: bold;">Database Size : Overall Size: </label>
            {{data_assesment.database_overall_size}}
        </div>
        <div class="form-group">
          <label style="font-weight: bold;">Database Size : Opt-In :</label>
            {{data_assesment.database_opt_in}}
        </div>
        <div class="form-group">
          <label style="font-weight: bold;">Database Attribute :</label>
          {% for row in database_attribute.all %}
          {% if row.id|stringformat:"i" in data_assesment.database_attribute %}
            {{row.id}}
          {% endif %}
          {% endfor %}
        </div>
        <div class="form-group">
          <label style="font-weight: bold;">Lead Gen Method :</label>
          {% for row in marketing_method.all %}
          {% if row.id|stringformat:"i" in data_assesment.lead_gen_capacity|get_key_from_dict %}
          {% with data_assesment.lead_gen_capacity as  lead_gen_capacity_dict %}
              {{row.type}} = {{ lead_gen_capacity_dict|change_type:row.id }} ,

          {% endwith %}
          {% endif %}
          {% endfor %}
        </div>
        <div class="form-group">
          <label style="font-weight: bold;">Complex Program :</label>
          {% for row in complex_program.all %}
          {% if row.id|stringformat:"i" in data_assesment.complex_program_capacity|get_key_from_dict %}
          {% with data_assesment.complex_program_capacity as complex_program_capacity_dict %}
            {{row.type}}={{complex_program_capacity_dict|change_type:row.id}},

          {% endwith %}
          {% endif %}
          {% endfor %}
        </div>
    </div>
    <center><h1>Aggrement</h1> </center>
    <div class="row" style="font-size: large;float:left">
      <div class="col-md-12">
        <div class="form-group">
          <label style="font-weight: bold;">NDA :</label>
          {% if data_assesment.nda_aggrement %}
            Yes
          {%else%}
            No
          {%endif%}
        </div>
        <div class="form-group">
          <label style="font-weight: bold;">MSA :</label>
          {% if data_assesment.msa_aggrement %}
            Yes
          {%else%}
            No
          {%endif%}
        </div>
        <div class="form-group">
          <label style="font-weight: bold;">GDPR :</label>
          {% if data_assesment.gdpr_aggrement %}
            Yes
          {%else%}
            No
          {%endif%}
        </div>
        <div class="form-group">
          <label style="font-weight: bold;">DPA :</label>
          {% if data_assesment.dpa_aggrement %}
            Yes
          {%else%}
            No
          {%endif%}
        </div>
        <div class="form-group">
          <label style="font-weight: bold;">IO :</label>
          {% if data_assesment.io_aggrement %}
            Yes
          {%else%}
            No
          {%endif%}
        </div>
      </div>
    </div>
    <center><h1>Business Card Info</h1> </center>
    <div class="row" style="font-size: large;float:left">
      <div class="col-md-12">
        <h6 class="panel-title primary-contact" style="font-weight: bold;">Primary Contact :</h6>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label style="font-weight: bold;">Full Name:</label>
          {{client_vendor.primary_name}}
        </div>

        <div class="form-group">
          <label style="font-weight: bold;">Designation:</label>
          {{client_vendor.primary_designation}}
        </div>

      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label style="font-weight: bold;">Direct dial:</label>
          {{client_vendor.primary_directdial}}
        </div>

        <div class="form-group">
          <label style="font-weight: bold;">Email:</label>
          {{client_vendor.primary_email}}
        </div>
      </div>

    </div>
    <!-- /primary contact-->
    <!-- Secondary Contact-->
    <div class="row" style="font-size: large; float-right">
      <div class="col-md-12">
        <h6 class="panel-title secondary-contact " style="font-weight: bold;">Secondary Contact :</h6>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label style="font-weight: bold;">Full Name:</label>
          {{client_vendor.secondary_name}}
        </div>
        <div class="form-group">
          <label style="font-weight: bold;">Designation:</label>
          {{client_vendor.secondary_designation}}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label style="font-weight: bold;">Direct dial:</label>
          {{client_vendor.secondary_directdial}}
        </div>

        <div class="form-group">
          <label style="font-weight: bold;">Email:</label>
          {{client_vendor.secondary_email}}
        </div>
        <div class="form-group">
          <label style="font-weight: bold;">Company Address:</label>
            {{userdetails.address_line1 }} , {{ userdetails.address_line2 }}
        </div>
      </div>
    </div>
  </body>
</html>
