{% extends "header/header.html" %}
{% block scripts %}
{% include "campaign/campaignhead.html" %}
{% endblock %}
{% block content %}
<!-- Main sidebar -->
{% include "side/side.html" %}

<style type="text/css">
  a{
    font-weight: normal!important;
  }
</style>
<!-- Main content -->
<div class="content-wrapper">

  <!-- Page header -->

  <div class="page-header">
    <div class="page-header-content" style="display:none">
      <div class="page-title">
        <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Dashboard</span> - Client List
        </h4>
      </div>

      <div class="heading-elements">
        <div class="heading-btn-group">
          <a href="#" class="btn btn-link btn-float text-size-small has-text"><i
              class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
          <a href="#" class="btn btn-link btn-float text-size-small has-text"><i
              class="icon-calculator text-primary"></i> <span>Invoices</span></a>
          <a href="#" class="btn btn-link btn-float text-size-small has-text"><i
              class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
        </div>
      </div>
    </div>

    <div class="breadcrumb-line">
      <ul class="breadcrumb">
        <li><a href="/superadmin/dashboard/"><i class="icon-home2 position-left"></i> Home</a></li>
        <li class="active">vendor-allocation</a></li>
      </ul>

      <ul class="breadcrumb-elements">

      </ul>
    </div>
  </div>
  <!-- /page header -->


  <!-- Content area -->
  <div class="content">

    <!-- Top Clients List -->
    <div class="panel panel-flat">
      <div class="panel-heading">
        <h1 class="panel-title"> CID :#{{data.userid}} Client-Name: {{data.username}}</h1>
        <p id="font14">
          <span class="label label-primary AcceptanceRate">C-CPL </span>&nbsp&nbsp <span
            class="label label-info AcceptanceRate" id="clientcpl">${{ data.cpl|floatformat:2 }}</span>
          <span class="label label-primary AcceptanceRate spanleft">Target Quantity </span>&nbsp&nbsp<span
            class="label label-info AcceptanceRate" id="clienttarget">{{data.targat_quantity}}</span>
          <span class="label label-primary AcceptanceRate1">Remaining Quantity </span>&nbsp&nbsp<span
            class="label label-info AcceptanceRate1" id="target_quantitylead">{{data.ramaining_quantity}}</span>
          <span class="label label-primary AcceptanceRate1 spanleft">Approved Leads </span>&nbsp&nbsp<span
            class="label label-info AcceptanceRate1">{{data.approveleads}}</span>
          <!-- <button type="button" id="send_all" cid="send11" class="label label-primary AcceptanceRate1 spanleft combine_allocate" style="margin-left:13px">Add All</button> -->
          {% if cpl_counter > 0 %}
              <span class="pull-right"><button class="btn btn-primary" data-toggle="modal" data-target="#rfqcpllist" value="">RFQ CPL
              LIST</button></span>
          {% endif %}
        </p>

      </div>
      <div class="table-responsive-sm">
        <table class="table" id="vendor_alloc_table">
          <thead>
            <tr>
              <th>Suggested</th>
              <th>Vendor Name</th>
              <!-- <th>Select Commision Mode</th> -->
              <!-- <th>Percentage (%)</th> -->
              <th>V-CPL</th>
              <th>Rev. Share (%) </th>
              <th>Total Profit (per lead)</th>
              <th>Lead</th>
              <th class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for row in vendor_data %}
            <tr class="checktr">
              <td>
                <input type="checkbox" id="" {{row.checked}} {% if row.checked == 'checked' %}data-toggle="tooltip"
                  data-placement="right" title="This Vendor is Suggested By Client!" {%endif%} />
              </td>
              <td>{{ row.vendor_name }}</td>
              <!-- <td>
                                            <input type="radio" name="mode{{row.vendor_id}}" class="radiobutton" data="{{row.vendor_id}}" id="radiobutton{{row.vendor_id}}" value="1" checked/>Percentage
                                            <input type="radio" name="mode{{row.vendor_id}}" class="radiobutton" data="{{row.vendor_id}}" id="radiobutton{{row.vendor_id}}"  value="2" />Amount
                                   </td> -->
              <!-- <td>
                                        <input type="number" min="0" name="cpl" onkeyup="checkPricing(this.value,{{row.vendor_id}})"  placeholder="Vendor CPL"   value="25" class="form-control" >
                                    </td>
                                    <td>
                                      <span class="label label-primary AcceptanceRate1 showPricing" id="showPricing{{row.vendor_id}}" >$ {{value}} </span>
                                    </td> -->
              <td>
                <input type="number" min="1" name="cpl" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                  onkeyup="checkRevDiff($(`#rev_ref_{{row.vendor_id}}`).val(),{{row.vendor_id}})"
                  placeholder="Vendor CPL" id="cpl{{row.vendor_id}}" class="vcpl form-control">
              </td>
              <td>
                <input type="number" min="0" name="rev_ref" onkeyup="checkRevDiff(this.value,{{row.vendor_id}})"
                  placeholder="Revenue Ref." id="rev_ref_{{row.vendor_id}}" value="10" class="form-control" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
              </td>
              <td>
                <input type="text" class="form-control AcceptanceRate1 rev_share" id="rev_share{{row.vendor_id}}"
                  disabled>
              </td>
              <td><input type="number" min="1" name="cpl" placeholder="Leads" id="lead{{row.vendor_id}}"
                  value="{{row.lead}}" class="form-control leads_allocate" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"></td>
              <td>
                {% if data.ramaining_quantity == 0 %}
                <button type="button" id="{{row.vendor_id}}" cid="{{row.camp_id}}"
                  class="btn btn-info data_allocate" disabled>Allocate</button>
                {% else %}
                <button type="button" id="{{row.vendor_id}}" cid="{{row.camp_id}}"
                class="btn btn-info data_allocate" cflag='1' lflag='1' disabled>Allocate</button>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- /content area -->
</div>
<!-- /main content -->
</div>
<!-- /page content -->
</div>
<!-- /page container -->
<div class="modal fade" id="rfqcpllist">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">RFQ CPL LIST</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">

            <table class="table datatable-show-all ">
              <thead>
                <tr>
                  <th>Sr.no</th>
                  <th>Vendor Name</th>
                  <th>CPL</th>
                  <th>Volume</th>
                </tr>
              </thead>
              <tbody>
                {% for rows in cpl_list %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{rows.client_vendor.user_name}}</td>
                  <td>{{rows.rfqcpl}}</td>
                  <td>{{rows.rfqvolume}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer" style="display:none">
        <button type="button" class="btn btn-primary submitrfq">Submit</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
{% include "campaign/vendor_allocationjs.html" %}
<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip({ animation: true });
  });
</script>
{% endblock %}
