{% extends "header/header.html" %}

{% load static %}

{% load cuatom_filters %}

{% block title %} Create Campaign {% endblock %}
{% load widget_tweaks %}
<!--
    page code must be start in block content
    inside block content
-->
{% block content %}
   {% include "side/side.html" %}
     {% include "common/global_css.html" %}

  <!-- load global js-->

<!-- Main content -->


 <!-- Content area -->
 <div class="content">

   <!-- main row -->
   <div class="row">


      <!-- create campaign panel -->
      <div class="panel panel-height panel-flat">
        <div class="panel-heading text-center">
          <h1 class="panel-title">View Campaign Details</h1>
        </div>

        <!-- tab head options -->
        <ul style="margin-left: 10px;" class="nav nav-tabs nav-pills  vnav">
          <li class="active"><a data-toggle="tab" href="#tab_1_campaign" class="tab1">Details</a></li>
          <li><a data-toggle="tab" href="#tab_2_spec" class="tab2">Specs</a></li>
          <li><a data-toggle="tab" href="#tab_3_mapping" class="tab3">Mapping</a></li>
          <li><a data-toggle="tab" href="#tab_4_terms" class="tab4">Terms</a></li>
          <li><a data-toggle="tab" href="#tab_5_delivery" class="tab5">Delivery</a></li>
        </ul>
        <!-- /tab head options -->

        <div class="tab-content pl-20 pr-20">
          <!-- tab 1 -->
          <div id="tab_1_campaign" class="tab-pane fade in active">
            <form method="POST" class="form-horizontal">
            {% csrf_token %}
            <input type="hidden" name="user" id="id_user" value="{{ request.session.userid }}"/><!-- client id-->
            <div class='row'>
              <div class='col-sm-8 col-md-8'>
                <div class='row createcampaign'>

                  <div class='col-md-12 col-sm-12'>
                      <div class="form-group">
                          <label class="control-label col-lg-3">Campaign Name:
                          </label>
                          <div class="col-lg-6">
                              {% render_field campaignform.name value=campaign.name class="form-control" disabled="disabled" %}
                          </div>
                      </div>
                  </div>

                  <div class='col-md-12 col-sm-12'>
                      <div class="form-group">
                          <label class="control-label col-lg-3">Campaign Description
                          </label>
                          <div class="col-lg-6">
                              <textarea name="description" id="id_description" rows="2" cols="20" class="form-control" disabled="disabled">{{ campaign.description }}</textarea>
                          </div>
                      </div>
                  </div>
                  <div class='col-md-12 col-sm-12'>
                      <div class="form-group">
                          <label class="control-label col-lg-3">Techconnectr IO Number:
                          </label>
                          <div class="col-lg-6">
                              {% render_field campaignform.io_number value=campaign.io_number class="form-control" placeholder='Techconnectr IO Number' disabled="disabled" %}
                          </div>
                      </div>
                  </div>
                  <div class='col-md-12 col-sm-12'>
                      <div class="form-group">
                          <label class="control-label col-lg-3">Client PO Number:
                          </label>
                          <div class="col-lg-6">
                              {% render_field campaignform.po_number value=campaign.po_number class="form-control" placeholder='Techconnectr PO Number' disabled="disabled" %}
                          </div>
                      </div>
                  </div>

                  <div class='col-md-12 col-sm-12'>
                      <div class="form-group">
                          <label class="control-label col-lg-3">CPL
                          </label>
                          <div class="col-lg-6">
                              <div class="input-group">
                                  <span class="input-group-addon">$
                                  </span> {% render_field campaignform.cpl value=campaign.cpl class="form-control" placeholder='Enter amount' disabled="disabled" %}
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class='col-md-12 col-sm-12'>
                    <div class="form-group">
                      <div class="radio">
                        <label>
                          <input type="hidden" name="rfq" id="id_rfq" value="{{campaign.rfq}}">
                          <input type="checkbox" class="chk_put_vals" {% if campaign.rfq %} checked {% endif %} disabled="disabled"> Request For Quote
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class='col-md-12 col-sm-12'>
                      <div class="form-group">
                          <label class="control-label col-lg-3">Start Date:
                          </label>
                          <div class="col-lg-6">
                            {% render_field campaignform.start_date value=campaign.start_date class="form-control pickadate-format" type="text" disabled="disabled" %}
                          </div>
                      </div>
                  </div>

                  <div class='col-md-12 col-sm-12'>
                      <div class="form-group">
                          <label class="control-label col-lg-3">End Date:
                          </label>
                          <div class="col-lg-6">
                              {% render_field campaignform.end_date value=campaign.end_date class="form-control pickadate-format" type="text" disabled="disabled" %}
                          </div>
                      </div>
                  </div>

                  <div class='col-md-12 col-sm-12'>
                      <div class="form-group">
                        <div class="radio">
                            <label>
                                <input type="hidden" name="adhoc" id="id_adhoc" value="{{campaign.adhoc}}">
                                <input type="checkbox" class="chk_put_vals" {% if campaign.adhoc %} checked {% endif %} disabled="disabled"> Ad-Hoc Campaign
                            </label>
                        </div>
                      </div>
                  </div>

                  <div class='col-md-12 col-sm-12'>
                      <div class="form-group">
                          <div class="col-lg-9">
                              <button type="button" class="btn_save_form btn btn-primary pull-right btn-ladda btn-ladda-progress" data-style="slide-right">
                                  <span class="ladda-label">Next</span>
                              </button>
                              <button style="display:none;" class="btn btn-secondary pull-right form-control-inline"><a>Previous</a></button>

                          </div>

                      </div>
                  </div>
              </div>

              </div>
              <div class='col-sm-12 col-md-4' style="padding-right:20px;">
                <div class="panel panel-primary">
                  <div class="panel-heading headfont">Getting Started Tips</div>
                  <div class="panel-body">
                    <strong>All The Fields Are Mandatory</strong></div>
                </div>

              </div>
            </div>
            </form>
          </div>
          <!-- /tab 1 -->


          <!-- tab 2 -->
          <div id="tab_2_spec" class="tab-pane fade in">
            <div class='row'>
              <div class='col-sm-8 col-md-8'>
                  <form data-action="{% url 'save_specifications' %}" data-go_to_tab="tab3" method="post"  class="form-horizontal">
                      {% csrf_token %}
                      <input type="hidden" name="campaign" id="id_camapaign" value="{{ campaign.id }}" />
                      <div class='row'>
                          <div class='col-md-9 col-sm-12'>
                              <div class="panel-group panel-group-control content-group-lg" id="accordion-control">
                                  <div class="panel">
                                      <div class="panel-heading">
                                          <h6 class="panel-title">
                                        <a data-toggle="collapse" id="accordion" data-parent="#accordion-control" href="#accordion-control-group1" aria-expanded="true">Product/ category
                                        </a>
                                      </h6>
                                      </div>
                                      <div id="accordion-control-group1" class="panel-collapse collapse ">
                                          <div class="panel-body">

                                              <div class="form-group checkbox_container">
                                                  <!-- Leads,Survey,Appointment,Data -->
                                                  <!--{ specificationform }} -->
                                                  {% with field_name='campaign_category' default_checked_value=specification.campaign_category|split %}
                                                  <input type="hidden" name="campaign_category" id="id_campaign_category" value="{{default_checked_value}}" disabled="disabled" />
                                                  {% for name in campaign_category %}
                                                    {% if name != "---------" %}
                                                      {% if name|lower in default_checked_value|lower %}
                                                      <div class="radio">
                                                          <label>
                                                              <input type="checkbox" name="{{ field_name }}[]" value="{{ name }}"
                                                              checked disabled="true">
                                                              {{ name }}
                                                          </label>
                                                          <input type='text' class='tb3 form-control-inline hidden pull-right tb10'
                                                          value='{{ name}}'>
                                                      </div>
                                                      {% endif %}

                                                    {% endif %}
                                                  {% endfor %}
                                                  {% endwith %}
                                                  {{ form.campaign_category.errors }}
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class='col-md-9 col-sm-12'>
                              <div class="panel-group panel-group-control content-group-lg" id="accordion-control1">
                                  <div class="panel">
                                      <div class="panel-heading">
                                          <h6 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion-control1" href="#accordion-control-group2">Your Target Quantity
                                        </a>
                                      </h6>
                                      </div>
                                      <div id="accordion-control-group2" class="panel-collapse collapse ">
                                          <div class="panel-body">
                                              <div class="form-group">
                                                  <div class="col-lg-6">
                                                      {% render_field specificationform.campaign_quantity value=specification.campaign_quantity type="number" class="form-control" %}
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class='col-md-9 col-sm-12'>
                              <div class="panel-group panel-group-control content-group-lg" id="accordion-control2">
                                  <div class="panel">
                                      <div class="panel-heading">
                                          <h6 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion-control2" href="#accordion-control-group3">Pacing
                                        </a>
                                      </h6>
                                      </div>
                                      <div id="accordion-control-group3" class="panel-collapse collapse">
                                          <div class="panel-body">

                                              <div class="form-group checkbox_container">
                                                  <!-- Leads,Survey,Appointment,Data -->
                                                  <!--{ specificationform }} -->
                                                  {% with field_name='campaign_pacing' default_checked_value=specification.campaign_pacing %}
                                                  <input type="hidden" name="campaign_pacing" id="id_campaign_pacing" value="{{default_checked_value}}" />
                                                  {% for name in campaign_pacing %}

                                                    {% if name != "---------" %}
                                                      {% if name|lower in default_checked_value|lower %}
                                                        <div class="radio">
                                                            <label>
                                                                <input type="checkbox" name="{{ field_name }}[]" value="{{ name }}"  checked="true" disabled="true" %}> {{name}}
                                                            </label>
                                                            <input type='text' class='tb3 form-control-inline hidden pull-right tb10' value='{{ name }}'>
                                                        </div>
                                                      {% endif %}

                                                    {% endif %}
                                                  {% endfor %}
                                                  {% endwith %}
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class='col-md-9 col-sm-12'>
                              <div class="panel-group panel-group-control content-group-lg" id="accordion-control4">
                                  <div class="panel">
                                      <div class="panel-heading">
                                          <h6 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion-control4" href="#accordion-control-group4">Touchbase Meeting
                                        </a>
                                      </h6>
                                      </div>
                                      <div id="accordion-control-group4" class="panel-collapse collapse ">
                                          <div class="panel-body">

                                              <div class="form-group checkbox_container">
                                                  {% with field_name='touchbase_meeting' default_checked_value=specification.touchbase_meeting %}
                                                  <input type="hidden" name="touchbase_meeting" id="id_touchbase_meetingg" value="{{default_checked_value}}" />
                                                  {% for name in days %}
                                                  {% if name != "---------" %}
                                                  {% if name|lower in default_checked_value|lower %}
                                                  <div class="radio">
                                                    <label>
                                                      <input type="checkbox" name="{{ field_name }}[]" value="{{ name }}"
                                                      checked="true" disabled="true">
                                                      {{ name }}
                                                    </label>
                                                    <input type='text' class='tb3 form-control-inline hidden pull-right tb10'
                                                    value='{{ name}}'>
                                                  </div>
                                                  {% endif %}
                                                  {% endif %} {% endfor %} {% endwith %}
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!-- account based marketing-->
                          <div class='col-md-9 col-sm-12'>
                              <div class="panel-group panel-group-control content-group-lg" id="accordion-control5">
                                  <div class="panel">
                                      <div class="panel-heading">
                                          <h6 class="panel-title">
                                        <a data-toggle="collapse"
                                           data-parent="#accordion-control5" href="#accordion-control-group5">
                                          Account Based Marketing
                                        </a>
                                      </h6>
                                      </div>
                                      <div id="accordion-control-group5" class="panel-collapse collapse ">
                                          <div class="panel-body">
                                              <p>Note: The target account list must contain 5x the number of leads you want to generate. By uploading a target account list, you will not be able to a company size or industry filter.
                                              </p>
                                              <label>Upload Your ABM List:
                                              </label>
                                              <label class="radio-inline">
                                                  <input type="checkbox" id="radio_abm_yes" name="radio-abm-list"> Yes
                                              </label>
                                              <label class="radio-inline">
                                                  <input type="checkbox" id="radio_abm_no" name="radio-abm-list"> No
                                              </label>

                                              <input type="file" name="account_based_marketing_file" id="button_abm_upload" class="form-control">
                                            </input>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!-- /account based marketing-->
                          <!-- account supression-->
                          <div class='col-md-9 col-sm-12'>
                              <div class="panel-group panel-group-control content-group-lg" id="accordion-control6">
                                  <div class="panel">
                                      <div class="panel-heading">
                                          <h6 class="panel-title">
                                        <a data-toggle="collapse"
                                           data-parent="#accordion-control6" href="#accordion-control-group6">
                                          Account Supression
                                        </a>
                                      </h6>
                                      </div>
                                      <div id="accordion-control-group6" class="panel-collapse collapse ">
                                          <div class="panel-body">
                                              <p>Note: The account suppression list may contain a maximum of 100 companies.
                                              </p>
                                              <label>Upload Your Account Suppression List:
                                              </label>
                                              <label class="radio-inline">
                                                  <input type="checkbox" id="radio_acc_suppression_yes" name="radio-supression_list"> Yes
                                              </label>
                                              <label class="radio-inline">
                                                  <input type="checkbox" id="radio_acc_suppression_no" name="radio-supression_list"> No
                                              </label>

                                              <input type="file" name="account_based_suppression_file" id="button_acc_supression" class="form-control">
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!-- /account supression-->
                          <div class='col-md-12 col-sm-12'>
                              <div class="form-group">
                                  <div class="col-lg-9">
                                      <button type="button" class="btn_save_form btn btn-primary pull-right form-control-inline">Next
                                      </button>
                                      <!--<a id='next2' class="btn btn-primary pull-right form-control-inline" href="#home1">Next</a>-->
                                      <a id="prev2" class="btn btn-secondary pull-right form-control-inline" href="#home">Previous
                                    </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
              <div class='col-sm-12 col-md-4' style="padding-right:20px;">
                  <div class="panel panel-primary">
                      <div class="panel-heading headfont">Getting Started Tips
                      </div>
                      <div class="panel-body">
                          <strong>All The Fields Are Mandatory
                              </strong>
                      </div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-4">
              </div>
          </div>
          </div>
          <!-- tab 2 -->

          <!-- /tab 3 -->
          <div id="tab_3_mapping" class="tab-pane fade in ">
            <div class="row">
              <div class="col-sm-8 col-md-8">
                <div class="row">
                  <form data-action="{% url 'save_mapping' %}"  data-go_to_tab="tab4"  method="post" class="form-horizontal">
                    {% csrf_token %}
                    <input type="hidden" name="campaign" id="id_camapaign" value="{{ campaign.id }}" />
                    <div class="col-md-9 col-sm-12">
                      <div class="panel-group panel-group-control content-group-lg" id="accordion-control7">
                        <div class="panel">
                          <div class="panel-heading">
                            <h6 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion-control7" href="#accordion-control-group77" class="collapsed" aria-expanded="false">Industry Type
                              </a>
                            </h6>
                          </div>
                          <div id="accordion-control-group77" class="panel-collapse collapse " aria-expanded="false">
                            <div class="panel-body">
                              {% with field_name='industry_type' default_checked_value=mapping.industry_type %}
                              <input type="hidden" name="{{field_name}}" id="id_{{field_name}}" value="{{default_checked_value}}" /> {% for name in industry_types %} {% if name != "---------" %}
                              {% if name|lower in default_checked_value|lower %}
                              <div class="pull-right">
                                <label>
                                  <input type="checkbox" id="selecttxt">
                                </label>
                              </div>
                              <ul class="scroll " id="treeview">
                                <li>
                                  <ul class="treelist">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                      <label>
                                        <input type="checkbox">
                                      </label>
                                      <ul class='chkboxlist checkbox_container'>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                          <div class="radio">
                                            <label>
                                              <input type="hummingbirdNoParent checkbox" name="{{ field_name }}[]" value="{{ name }}"
                                              checked="true" disabled="true">
                                              {{ name }}
                                            </label>
                                            <input type='text' class='tb3 form-control-inline hidden pull-right tb10'
                                            value='{{ name}}'>
                                          </div>
                                          <input type='text' value='{{name}}' class='form-control-inline hidden pull-right textbox tb10'>
                                        </li>
                                      </ul>

                                    </li>
                                  </ul>
                                </li>
                              </ul>
                              {% endif %}
                              {% endif %} {% endfor %} {% endwith %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-9 col-sm-12">
                      <div class="panel-group panel-group-control content-group-lg" id="accordion-control111">
                        <div class="panel">
                          <div class="panel-heading">
                            <h6 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion-control111" href="#accordion-control-group222">Job Title
                              </a>
                            </h6>
                          </div>
                          <div id="accordion-control-group222" class="panel-collapse collapse ">
                            <div class="panel-body">
                              <div class="form-group">
                                <div class="col-lg-6">
                                  {% render_field mappingform.job_title value=mapping.job_title  class="form-control" %}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-9 col-sm-12">
                      <div class="panel-group panel-group-control content-group-lg" id="accordion-control00">
                        <div class="panel">
                          <div class="panel-heading">
                            <h6 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion-control00" href="#accordion-control-group00" aria-expanded="false"class="collapsed" >Job Level
                              </a>
                            </h6>
                          </div>
                          <div id="accordion-control-group00" class="panel-collapse collapse in" aria-expanded="false" style="">
                            <div class="panel-body ">

                              <ul id="treeview8" class="scroll treeview">
                                <li>
                                  <ul class="treelist">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                      <label>
                                        <input type="checkbox"> All
                                      </label>
                                      <ul class="checkbox_container">
                                        {% with field_name='job_level' default_checked_value=mapping.job_level %}
                                        <input type="hidden" name="{{field_name}}" id="id_{{field_name}}" value="{{default_checked_value}}" /> {% for name in job_levels %} {% if name != "---------" %}
                                        {% if name|lower in default_checked_value|lower %}
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                          <label>
                                            <input class="hummingbirdNoParent check1" name="{{ field_name }}[]" value="{{ name }}" type="checkbox" {% if name|lower in default_checked_value|lower %} checked {% endif %}/> {{name}}
                                          </label>
                                          <input type='text' value='{{name}}' class='form-control-inline hidden pull-right textbox tb10'>
                                        </li>
                                        {% endif %}
                                        {% endif %} {% endfor %} {% endwith %}
                                      </ul>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-9 col-sm-12">
                      <div class="panel-group panel-group-control content-group-lg" id="accordion-control7">
                        <div class="panel">
                          <div class="panel-heading">
                            <h6 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion-control7" href="#accordion-control-group7" aria-expanded="false" class="collapsed">Country
                              </a>
                            </h6>
                          </div>
                          <div id="accordion-control-group7" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                              <div class="pull-right">
                                <label>
                                  <input type="checkbox" class="chk" name="chk">Use As Text
                                </label>
                              </div>
                              <ul id="treeview1" class="scroll treelist">
                                <li>
                                  <label>
                                    <input type="checkbox"> All
                                  </label>
                                  <ul class="checkbox_container">
                                    {% with field_name='country' default_checked_value=mapping.country %}
                                    <input type="hidden" name="{{field_name}}" id="id_{{field_name}}" value="{{default_checked_value}}" />
                                    {% for country in countries %} {% if country != "---------" %}
                                    {% if country.name|lower in default_checked_value|lower %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                      <label>
                                        <input class="hummingbirdNoParent check1" name="{{ field_name }}[]" value="{{ country.name }}" type="checkbox" checked="true" disabled="disabled"/> {{name}}
                                      </label>
                                      <input type='text' value='{{name}}' class='form-control-inline hidden pull-right textbox tb10'>
                                    </li>
                                    {% endif %}
                                    {% endif %} {% endfor %} {% endwith %}
                                  </ul>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-9 col-sm-12">
                      <div class="panel-group panel-group-control content-group-lg" id="accordion-control10">
                        <div class="panel">
                          <div class="panel-heading">
                            <h6 class="panel-title">
                              <a data-toggle="collapse" id="accordion" data-parent="#accordion-control10" href="#accordion-control-group10" class="collapsed" aria-expanded="false">Company Size
                              </a>
                            </h6>
                          </div>
                          <div id="accordion-control-group10" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body ">
                              <div class="pull-right">
                                <label>
                                  <input class="checkbx_toggle_use_as_txt" type="checkbox">Use As Text
                                </label>
                              </div>
                              <ul id="treeview4" class="treelist scroll">
                                <li>
                                  <label>
                                    <input type="checkbox"> All
                                  </label>
                                  <ul class="checkbox_container">
                                    {% with field_name='company_size' default_checked_value=mapping.company_size %}
                                    <input type="hidden" name="{{field_name}}" id="id_{{field_name}}" value="{{default_checked_value}}" />
                                    {% for name in company_sizes %} {% if name != "---------" %}
                                    {% if name|lower in default_checked_value|lower %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                      <label>
                                        <input class="hummingbirdNoParent check1" name="{{ field_name }}[]" value="{{ name }}" type="checkbox" checked="true" disabled="disabled"/> {{name}}
                                      </label>
                                      <input type='text' value='{{name}}' class='form-control-inline hidden pull-right textbox tb10'>
                                    </li>
                                    {% endif %}
                                    {% endif %} {% endfor %} {% endwith %}
                                  </ul>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-9 col-sm-12">
                      <div class="panel-group panel-group-control content-group-lg" id="accordion-control000">
                        <div class="panel">
                          <div class="panel-heading">
                            <h6 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion-control000" href="#accordion-control-group000" class="collapsed" aria-expanded="false">Job Function
                              </a>
                            </h6>
                          </div>
                          <div id="accordion-control-group000" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">

                              <ul class="scroll treeview" id="treeview9">
                                <li>
                                  <ul class="treelist">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">

                                      <ul class="checkbox_container">
                                        {% with field_name='job_function' default_checked_value=mapping.job_function %}
                                        <input type="hidden" name="{{field_name}}" id="id_{{field_name}}" value="{{default_checked_value}}" />
                                        {% for name in job_functions %} {% if name != "---------" %}
                                    
                                        {% if name|lower in default_checked_value|lower %}
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                          <label>
                                            <input class="hummingbirdNoParent check1" name="{{ field_name }}[]" value="{{ name }}" type="checkbox" checked="true" disabled="disabled"/> {{name}}
                                          </label>
                                          <input type='text' value='{{name}}' class='form-control-inline hidden pull-right textbox tb10'>
                                        </li>
                                        {% endif %}

                                        {% endif %} {% endfor %} {% endwith %}
                                      </ul>

                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                      <div class="form-group">
                        <div class="col-lg-9">
                          <button type="button" class="btn_save_form btn btn-primary pull-right form-control-inline legitRipple">Next
                          </button>
                          <!--<a id='next2' class="btn btn-primary pull-right form-control-inline" href="#home1">Next</a>-->
                          <a id="prev2" class="btn btn-secondary pull-right form-control-inline legitRipple" href="#home">Previous
                          </a>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-sm-12 col-md-4" style="padding-right:20px;">
                <div class="panel panel-primary">
                  <div class="panel-heading headfont">Getting Started Tips
                  </div>
                  <div class="panel-body">
                    <strong>All The Fields Are Mandatory
                    </strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /tab 3 -->

          <!-- tab 4 -->
          <div id="tab_4_terms" class="tab-pane fade in">
            <form data-action="{% url 'save_terms' %}" data-go_to_tab="tab5" method="post" class="form-horizontal">
              {% csrf_token %}
              <input type="hidden" name="campaign" id="id_camapaign" value="{{ campaign.id }}" />
              <div class='row'>
                <div class='col-sm-8 col-md-8'>
                  <div class='row'>
                    <div class='col-md-9 col-sm-12'>
                      <div class="panel-group panel-group-control content-group-lg" id="accordion-control12">
                        <div class="panel">
                          <div class="panel-heading">
                            <h6 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion-control12" href="#accordion-control-group12">
                                Source In Touches
                              </a>
                            </h6>
                          </div>
                          <div id="accordion-control-group12" class="panel-collapse collapse ">
                            <div class="panel-body">
                              <div class='pull-right'>
                                <label>
                                  <input type='checkbox' id='check3'>Use As Text
                                </label>
                              </div>
                              <ul class='scroll' id="treeview3">
                                <li>
                                  <ul class='treelist'>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                      <label>
                                        <input type="checkbox" /> All
                                      </label>
                                      <ul class='chkboxlist checkbox_container'>
                                        {% with field_name='source_touches' default_checked_value=terms.source_touches %}
                                        <input type="hidden" name="{{field_name}}" id="id_{{field_name}}" value="{{default_checked_value}}" />
                                        {% for name in source_touches %} {% if name != "---------" %}
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                          <label>
                                            <input class="hummingbirdNoParent check1" name="{{ field_name }}[]" value="{{ name }}" type="checkbox" {% if name|lower in default_checked_value|lower %} checked {% endif %}/> {{name}}
                                          </label>
                                          <input type='text' value='{{name}}' class='form-control-inline hidden pull-right textbox tb10'>
                                        </li>
                                        {% endif %} {% endfor %} {% endwith %}
                                      </ul>

                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class='col-md-9 col-sm-12'>
                      <div class="panel-group panel-group-control content-group-lg" id="accordion-control13">
                        <div class="panel">
                          <div class="panel-heading">
                            <h6 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion-control13" href="#accordion-control-group13"> Level Of Intent
                              </a>
                            </h6>
                          </div>
                          <div id="accordion-control-group13" class="panel-collapse collapse ">
                            <div class="panel-body">
                              <div class='pull-right'>
                                <label>
                                  <input id='check4' type='checkbox'>Use As Text
                                </label>
                              </div>
                              <ul class='scroll' id="treeview5">
                                <li>
                                  <ul class='treelist'>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                      <label>
                                        <input type="checkbox" /> All
                                      </label>
                                      <ul class='chkboxlist checkbox_container'>
                                        {% with field_name='level_intent' default_checked_value=terms.level_intent %}
                                        <input type="hidden" name="{{field_name}}" id="id_{{field_name}}" value="{{default_checked_value}}" />
                                        {% for name in level_intent %} {% if name != "---------" %}
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                          <label>
                                            <input class="hummingbirdNoParent check1" name="{{ field_name }}[]" value="{{ name }}" type="checkbox" {% if name|lower in default_checked_value|lower %} checked {% endif %}/> {{name}}
                                          </label>
                                          <input type='text' value='{{name}}' class='form-control-inline hidden pull-right textbox tb10'>
                                        </li>
                                        {% endif %} {% endfor %} {% endwith %}
                                      </ul>

                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class='col-md-9 col-sm-12'>
                      <div class="panel-group panel-group-control content-group-lg" id="accordion-control14">
                        <div class="panel">
                          <div class="panel-heading">
                            <h6 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion-control14" href="#accordion-control-group14">
                                Waterfall
                              </a>
                              <div class="pull-right">
                                <input type='checkbox' id='watercheck' class='form-control-inline'>
                              </div>
                            </h6>
                          </div>
                          <div id="accordion-control-group14" class="panel-collapse collapse ">
                            <div class="panel-body">
                              <div class="form-group">
                              </div>
                              <table class='table' id="waterfalltable">
                                <thead>
                                  <tr>
                                    <th>Level
                                    </th>
                                    <th>Volume
                                    </th>
                                    <th>CPL
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>Verified Data
                                    </td>
                                    <td>
                                      <input type='number' value="" id="w1" class='form-control' placeholder='Volume'>
                                    </td>
                                    <td>
                                      <input type='number' value="" id="w2" class='form-control' placeholder='CPL'>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class='col-md-9 col-sm-12'>
                      <div class="panel-group panel-group-control content-group-lg" id="accordion-control15">
                        <div class="panel">
                          <div class="panel-heading">
                            <h6 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion-control15" href="#accordion-control-group15">
                                Assets
                              </a>
                            </h6>
                          </div>
                          <div id="accordion-control-group15" class="panel-collapse collapse ">
                            <div class="panel-body">

                              <ul class='scroll' id="treeview8">
                                <li>
                                  <ul class='treelist'>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                      <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <label>
                                          <input type="checkbox" /> All
                                        </label>
                                        <ul class='chkboxlist checkbox_container'>
                                          {% with field_name='assets' default_checked_value=terms.assets %}
                                          <input type="hidden" name="{{field_name}}" id="id_{{field_name}}" value="{{default_checked_value}}" />
                                          {% for name in assets %}
                                          {% if name != "---------" %}
                                          <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <label>
                                              <input class="hummingbirdNoParent check1" name="{{ field_name }}[]" value="{{ name }}" type="checkbox"
                                              {% if name|cut:" "|lower in default_checked_value|cut:" "|lower %} checked {% endif %}/>
                                              {{name}}
                                            </label>
                                            <input type='text' value='{{name}}' class='form-control-inline hidden pull-right textbox tb10'>
                                          </li>
                                          {% endif %} {% endfor %} {% endwith %}
                                        </ul>

                                      </li>
                                    </ul>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    <div class='col-md-12 col-sm-12'>
                      <div class="form-group">
                        <div class="col-lg-9">
                          <button type="button" class="btn_save_form btn btn-primary pull-right form-control-inline" >Next
                          </button>
                          <a id="prev4" class="btn btn-secondary pull-right form-control-inline" href="#home">Previous
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class='col-sm-12 col-md-4' style="padding-right:20px;">
                  <div class="panel panel-primary">
                    <div class="panel-heading headfont">Getting Started Tips
                    </div>
                    <div class="panel-body">
                      <strong>All The Fields Are Mandatory
                      </strong>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!-- /tab 4 -->

          <!-- tab 5 -->
          <div id="tab_5_delivery" class="tab-pane fade in">
            <form data-action="{% url 'save_delivery' %}"  method="post" class="form-horizontal">
              {% csrf_token %}
              <input type="hidden" name="campaign" id="id_camapaign" value="{{ campaign.id }}" />
              <div class='row'>
                <div class='col-sm-8 col-md-8'>
                  <div class='row'>
                    <!-- Data Header -->
                    <div class="col-md-9 col-sm-12">
                      <div class="panel-group panel-group-control content-group-lg" id="accordion-control18">
                        <div class="panel">
                          <div class="panel-heading">
                            <h6 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion-control18" href="#accordion-control-group18" class="collapsed" aria-expanded="false">
                                Data Header
                              </a>
                            </h6>
                          </div>
                          <div id="accordion-control-group18" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                              <div class="pull-right">
                                <label>
                                  <input type="checkbox" id="check2">Use As Text
                                </label>
                              </div>
                              <ul class="scroll treeview" id="treeview18">
                                <li>
                                  <ul class="treelist">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                      <label>
                                        <input type="checkbox"> All
                                      </label>
                                      <ul class="checkbox_container">
                                        {% with field_name='data_header' default_checked_value=delivery.data_header %}
                                        <input type="hidden" name="{{field_name}}" id="id_{{field_name}}" value="{{default_checked_value}}" />
                                          {% for name in data_headers %}
                                          {% if name != "---------" %}
                                          <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <label>
                                              <input class="hummingbirdNoParent check1" name="{{ field_name }}[]" value="{{ name }}" type="checkbox"
                                              {% if name|lower in default_checked_value|lower %} checked {% endif %}/>
                                              {{name}}
                                            </label>
                                            <input type='text' value='{{name}}' class='form-control-inline hidden pull-right textbox tb10'>
                                          {% endif %}
                                          {% endfor %}
                                          {% endwith %}
                                          </li>
                                      </ul>

                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /Data Header -->
                    <!-- Custom Field -->
                    <div class='col-md-9 col-sm-12'>
                      <div class="panel-group panel-group-control content-group-lg" id="accordion-control19">
                        <div class="panel">
                          <div class="panel-heading">
                            <h6 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion-control19" href="#accordion-control-group19">Custom Field
                              </a>
                            </h6>
                          </div>
                          <div id="accordion-control-group19" class="panel-collapse collapse">
                            <div class="panel-body">
                              <div class="form-group">
                                <div class="col-lg-10">
                                  <textarea id="dropdiv" class="form-control" type="text" placeholder="the Question or Type your own" />
                                  </textarea>
                                <div id="dragdiv">
                                  <ul id="allItems" class="list-group">
                                    <li class="list-group-item" id="node" runat="server">
                                      <label class='label label-primary pull-left'>What is your country?
                                      </label>
                                    </li>
                                    <li class="list-group-item" id="node" runat="server">
                                      <label class='label label-primary pull-left'>What area best describes your job in your company?
                                      </label>
                                    </li>
                                    <li class="list-group-item" id="node" runat="server">
                                      <label class='label label-primary pull-left'>What is your job level in your company?
                                      </label>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>-
                  <!-- /Custom Field -->

                  <!-- Delivery Method -->
                  <div class="col-md-9 col-sm-12">
                      <div class="panel-group panel-group-control content-group-lg" id="accordion-control20">
                        <div class="panel">
                          <div class="panel-heading">
                            <h6 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion-control20" href="#accordion-control-group20" class="collapsed" aria-expanded="false">
                                Delivery Method
                              </a>
                            </h6>
                          </div>
                          <div id="accordion-control-group20" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                              <div class="pull-right">
                                <label>
                                  <input type="checkbox" id="check2">Use As Text
                                </label>
                              </div>
                              <ul class="scroll treeview" id="treeview20">
                                <li>
                                  <ul class="treelist">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                      <label>
                                        <input type="checkbox"> All
                                      </label>
                                      <ul class="checkbox_container">
                                        {% with field_name='delivery_method' default_checked_value=delivery.delivery_method %}
                                        <input type="hidden" name="{{field_name}}" id="id_{{field_name}}" value="{{default_checked_value}}" />
                                          {% for name in delivery_methods %}
                                          {% if name != "---------" %}
                                          <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <label>
                                              <input class="hummingbirdNoParent check1" name="{{ field_name }}[]" value="{{ name }}" type="checkbox"
                                              {% if name|cut:" "|lower in default_checked_value|cut:" "|lower %} checked {% endif %}/>
                                              {{name}}
                                            </label>
                                            <input type='text' value='{{name}}' class='form-control-inline hidden pull-right textbox tb10'>
                                          {% endif %}
                                          {% endfor %}
                                          {% endwith %}
                                          </li>
                                      </ul>

                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <!-- /Delivery Method -->

                  <!-- Delivery Timing -->
                  <div class='col-md-9 col-sm-12'>
                    <div class="panel-group panel-group-control content-group-lg" id="accordion-control21">
                      <div class="panel">
                        <div class="panel-heading">
                          <h6 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-control21" href="#accordion-control-group21">
                              Delivery Timing
                            </a>
                          </h6>
                        </div>
                        <div id="accordion-control-group21" class="panel-collapse collapse ">
                          <div class="panel-body">
                            <div class=''>
                              <label>
                                <input id='chk3' type='checkbox'>Use As Text
                              </label>
                            </div>
                            <div class="form-group">
                              <div class="radio">
                                <label>
                                  <input class='delivery_timing check10' value='Real Time' type="checkbox" name="delivery_timing"> Real Time
                                </label>
                                <input type='text' class='pull-right tb2 tb10' value='Real Time'>
                              </div>
                              <div class="radio">
                                <label>
                                  <input class='delivery_timing check10' value='Batch' type="checkbox" name="delivery_timing"> Batch
                                </label>
                                <input type='text' class='pull-right tb2 tb10' value='Batch'>
                              </div>
                            </div>
                            <table class='table table-light table-striped tbl'>
                              <thead>
                                <th>Day
                                </th>
                                <th>Time
                                </th>
                                <th>TimeZone
                                </th>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>
                                    <select class='form-control'>
                                      <option>Monday
                                      </option>
                                      <option>Tuesday
                                      </option>
                                      <option>Wednesday
                                      </option>
                                      <option>Friday
                                      </option>
                                      <option>Saturday
                                      </option>
                                      <option>Sunday
                                      </option>
                                    </select>
                                  </td>
                                  <td>
                                    <input type='time' value="" id="time" class='form-control'>
                                  </td>
                                  <td>
                                    <select class='from-control'>
                                      <option>EST
                                      </option>
                                      <option>CST
                                      </option>
                                      <option>MST
                                      </option>
                                      <option>PST
                                      </option>
                                    </select>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /Delivery Timing -->

                  <div class='col-md-12 col-sm-12'>
                    <div class="form-group">
                      <div class="col-lg-9">
                        <button class='btn_save_form btn btn-primary pull-right'>
                          Submit
                        </button>

                        <a id="prev5" class="btn btn-secondary pull-right form-control-inline" href="#home">Previous
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class='col-sm-12 col-md-4' style="padding-right:20px;">
                <div class="panel panel-primary">
                  <div class="panel-heading headfont">Getting Started Tips
                  </div>
                  <div class="panel-body">
                    <strong>All The Fields Are Mandatory
                    </strong>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!-- /tab 5 -->

        </div>
        <!-- /row -->

      </div>
      <!-- /create campaign panel -->

   </div>
   <!-- main row -->

 </div>
 <!-- /content area -->

</div>
<!-- /main content -->

{% endblock %}


<!-- ============================ -->
<!--        page level scripts    -->
<!-- =========================== -->
{% block page_level_scripts %}
<script>
    $(function () {
        /*change li active*/
        /*add active class to li*/
        $("#campaign").addClass("active");
        $("#manage-campaign").addClass("active");
    });
</script>

<!-- panel-tab color-->
<link href="{% static 'client/css/createcampaign.css' %}" rel="stylesheet" type="text/css">

<!--treeview / from checkbox-->
<link href="{% static 'assets/css/hummingbird-treeview-1.3.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'assets/js/hummingbird-treeview-1.3.js' %}"></script>

<!-- checkbox and radios -->
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/switchery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/switch.min.js' %}"></script>
<script type="text/javascript" src="{% static 'client/js/create_campaign/form_checkboxes_radios.js' %}"></script>
<!-- /checkbox and radios -->

<!--
 fieldChooser builds off the jQuery UI Sortable interaction,
 which allows for dragging and dropping of an HTML element between two containers
 Dependencies - jquery and  jQuery UI for drag and drop support.
-->
<link href="{% static 'assets/css/jquery-ui.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'assets/js/jquery-ui.js' %}"></script>
<script src="{% static 'assets/js/fieldChooser.js' %}"></script>

<!-- notifications -->
<script type="text/javascript" src="{% static 'assets/js/plugins/notifications/pnotify.min.js' %}"></script>
<!-- /notifications -->

<!-- button with animations -->
<script type="text/javascript" src="{% static 'assets/js/plugins/velocity/velocity.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/velocity/velocity.ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/buttons/spin.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/buttons/ladda.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/pages/components_buttons.js' %}"></script>
<!-- /button with animations -->

<!-- custom js - initialization of plugins--->
<script type="text/javascript" src="{% static 'client/js/create_campaign/tree-initialize.js' %}"></script>
<script type="text/javascript" src="{% static 'client/js/create_campaign/treeview-init.js' %}"></script>

{% endblock %}
<!--       page level scripts    -->
<!-- /=========================== -->
