<div class="panel panel-default">
    <div class="panel-heading">
        <h6 class="panel-title vendor-name">Vendor Name<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
        <div class="heading-elements">
            <ul class="icons-list">
                <li>
                    <a data-action="collapse"></a>
                </li>
                <li>
                    <a data-action="reload"></a>
                </li>
                <li>
                    <a data-action="close"></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="panel-body">
        Vendor Campaign Information
    </div>
</div>