{% if data %}
{% for i in data %}
<!-- Blog post -->
<div class="timeline-row">
    <div class="timeline-icon">
        <img src="{{i.logo}}" alt="">
    </div>

    <div class="timeline-row">

        <div class="panel panel-flat timeline-content">
            <div class="panel-heading">

                <div class="heading-elements">

                    <span class="heading-text"><i class="icon-history position-left text-success"></i>{{i.time | timesince}} ago</span>
                    <ul class="icons-list">
                        <li><a data-action="reload"></a></li>
                    </ul>
                </div>
            </div>

            <div class="panel-body">
                {{i.user}} performed action {{i.url}}
            </div>
        </div>
    </div>
</div>
<!-- /blog post -->
{% endfor %}
{% endif %}
