{% extends "header/header.html" %}
{% block scripts %}
{% include "dashboard/super_dashboard_head.html" %}
{% endblock %}
{% block content %}
<!-- Main sidebar -->
{% include "side/side.html" %}

{% load static %}


<!-- Main Tabs-->

<div class="content-wrapper">
  <!-- Page header -->
  <div class="page-header">
    <div class="page-header-content" style="display:none">
      <div class="page-title">
        <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Dashboard</span> - Client List
        </h4>
      </div>
      <div class="heading-elements">
        <div class="heading-btn-group">
          <a href="#" class="btn btn-link btn-float text-size-small has-text"><i
              class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
          <a href="#" class="btn btn-link btn-float text-size-small has-text"><i
              class="icon-calculator text-primary"></i> <span>Invoices</span></a>
          <a href="#" class="btn btn-link btn-float text-size-small has-text"><i
              class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
        </div>
      </div>
    </div>
    <div class="breadcrumb-line">
      <ul class="breadcrumb">
        <li><a href="/superadmin/dashboard/"><i class="icon-home2 position-left"></i> Home</a></li>
        <li><a href="/superadmin/User_On_Bording/">OnBoarding</a></li>
        <li class="active">Client-OnBoarding</li>
      </ul>
      <ul class="breadcrumb-elements">
      </ul>
    </div>
  </div>
  <!-- /page header -->
  <!-- Content area -->
  <div class="content">
    <!-- Top Clients List -->
    <div class="panel panel-flat">
      <div class="tab-content">
        <form class="steps-starting-step" id="revenue_data" action="www.techconnectr" method="post">
          <h6>Company Info</h6>
          <fieldset>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Company:</label>
                  <input type="text" value="{{userdetails.user_name}}" id="company_name" name="user_name"
                    placeholder="Company Name" class="form-control" disabled="">
                </div>
                <div class="form-group">
                  <label>Website:</label>
                  <input type="text" value="{{client_vendor.website}}" id="website" name="website"
                    placeholder="https://www.example.com" class="form-control" disabled="">
                </div>
                <div class="form-group">
                  <label>Address Line 1:</label>
                  <input type="text" value="{{userdetails.address_line1}}" id="address_line1" name="address_line1"
                    placeholder="Address Line 1" class="form-control" disabled="">
                </div>

                <div class="form-group">
                  <label>Country:</label>
                  <select name="country" id="country" data-placeholder="Choose a Country..." class="select" disabled="">
                    <option value="0">Select Country</option>
                    <option value="{{ country.id }}" selected>{{ country.name }}</option>
                    {% for country in countries.all %}
                    <option value="{{ country.id }}">{{ country.name }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group" >
                  <label>City:</label>
                  <select name="cities" id="cities" data-placeholder="Choose a City..." class="select" disabled>
                    <option value="0">Select City</option>
                    <option value="{{ cities.id }}" selected>{{ cities.name }}</option>
                  </select>
                </div>
                <!-- <div class="form-group">
                  <label>Industry Type:</label>
                  <div class="multi-select-full">
                  <select name="industry_type_id" id="industry_type_id" data-placeholder="Choose a Industry Type..."
                    class="select" disabled="" multiple>
                    <option value="">Select Industry Type</option>
                    {% for inds in industry.all %}
                    {% if inds in industry %}
                    <option value="{{ inds.id }}" selected>{{ inds.type }}</option>
                    {% else %}
                    <option value="{{ inds.id }}">{{ inds.type }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                  </div>
                </div> -->

              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Phone:</label>
                  <input type="text" value="{{userdetails.contact}}" id="phone" name="contact"
                    placeholder="Personal Number" class="form-control" disabled="">
                </div>
                <div class="form-group">
                  <label>Alternate Number:</label>
                  <input type="text" value="{{userdetails.contact}}" id="alternate_number"
                    placeholder="Alternate Number" class="form-control" disabled="">
                </div>
                <div class="form-group">
                  <label>Address Line 2:</label>
                  <input type="text" name="address_line2" id="address_line2" value="{{userdetails.address_line2}}"
                    placeholder="Address Line 2" class="form-control" disabled="">
                </div>

                <div class="form-group">
                  <label>State:</label>
                  <select id="state" name="state" data-placeholder="Choose a State..." class="select" disabled="">
                    <option value="{{ state.id }}" selected>{{ state.name }}</option>
                  </select>
                </div>
                
                <div class="form-group"  >
                  <label>Zip Code:</label>
                  <input type="text" name="zip_code" id="zip_code" class="form-control"
                    value="{% if userdetails.zip_code != None %}{{userdetails.zip_code}}{% endif %}"
                    placeholder="Zip Code" disabled>
                </div>
                <div class="form-group" id="">
                  <div class="row">
                    <div class="col-md-1">
                      <label style="margin-left: -15px;">Anonymous:</label>
                    </div>
                    <div class="col-md-1">
                      <div class="switch">
                        <label>
                          <input type="checkbox" name="anonymous_status" id="anonymous_status"
                            {% if userdetails.anonymous_status %} checked {% endif %} disabled class="anonyms_aligns">
                          <span class="lever"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <h6>Business Card Info</h6>
          <fieldset>
            <!-- primary contact-->
            <div class="row">
              <div class="col-md-12">
                <h6 class="panel-title primary-contact">Primary Contact :</h6>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Full Name:</label>
                  <input type="text" name="primary_name" id="primary_name" value="{{client_vendor.primary_name}}"
                    placeholder="Full Name" class="form-control" disabled="">
                </div>

                <div class="form-group">
                  <label>Job Title:</label>
                  <input type="text" name="primary_designation" id="primary_designation"
                    value="{{client_vendor.primary_designation}}" placeholder="Designation" class="form-control"
                    disabled="">
                </div>

              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Direct Dial:</label>
                  <input type="text" name="primary_directdial" id="primary_directdial"
                    value="{{client_vendor.primary_directdial}}" placeholder="Direct Dial" class="form-control"
                    disabled="">
                </div>

                <div class="form-group">
                  <label>Email:</label>
                  <input type="text" value="{{client_vendor.primary_email}}" id="primary_email" name="primary_email"
                    placeholder="Email" class="form-control" disabled="">
                </div>
              </div>

            </div>
            <!-- /primary contact-->

            <!-- Secondary Contact-->
            <div class="row">
              <div class="col-md-12">
                <h6 class="panel-title secondary-contact">Secondary Contact :</h6>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Full Name:</label>
                  <input type="text" name="secondary_name" id="secondary_name" value="{{client_vendor.secondary_name}}"
                    placeholder="Full Name" class="form-control" disabled="">
                </div>

                <div class="form-group">
                  <label>Job Title:</label>
                  <input type="text" name="secondary_designation" id="secondary_designation"
                    value="{{client_vendor.secondary_designation}}" placeholder="Designation" class="form-control"
                    disabled="">
                </div>

              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Direct Dial:</label>
                  <input type="text" value="{{client_vendor.secondary_directdial}}" name="secondary_directdial"
                    id="secondary_directdial" placeholder="Direct Dial" class="form-control" disabled="">
                </div>

                <div class="form-group">
                  <label>Email:</label>
                  <input type="text" value="{{client_vendor.secondary_email}}" name="secondary_email"
                    id="secondary_email" placeholder="Email" class="form-control" disabled="">
                </div>
              </div>

            </div>
            <!-- /secondary contact-->

          </fieldset>
          <h6>Corporate Profile</h6>
          <fieldset>
            <div class="row">


              <div class="col-md-6">
                <!-- <div class="form-group">
                      <label>Card Details:</label>
                      <textarea name="experience-description" rows="4" cols="4" placeholder="Tasks and responsibilities" class="form-control" disabled=""></textarea>
                    </div> -->

                <div class="form-group">
                  <label class="display-block">Media Kit:</label>
                  <!-- <input name="recommendations" type="file" class="file-styled" disabled=""> -->
                  <span class="help-block">Accepted formats: pdf. Max file size 10Mb</span>
                  {% if client_vendor.media_kit %}
                  {{client_vendor.media_kit}}
                  {% endif %}
                </div>

                <div class="form-group">
                  <label class="display-block">Company Logo:</label>
                  <!-- <input name="company_logo" id="company_logo" type="file" class="file-styled" onchange="readURL(this);" accept="image/x-png,image/gif,image/jpeg" disabled=""> -->
                  <span class="help-block">Accepted formats: .jpg, .jpeg, .png, .cdn Max file size 2Mb</span>
                  {% if company_logo %}
                  <img src="{{company_logo.url}}" alt="" width="200" height="150"><br>
                  {{company_logo}}
                  {% endif %}
                </div>
              </div>
            </div>
          </fieldset>
          <h6>Superadmin Settings</h6>
          <form method="post" enctype="multipart/form-data">
          <fieldset>
            <div class="row">
              <div class="col-md-12">
                <h6 class="panel-title ">Campaign Shares :</h6>
                <div class="col-md-6">
                    <div class="form-group">
                      <label><span style="color:red;">* </span>RFQ Campaign Share:</label>
                      <input type="number" min="1" max="100" id="website" data-id="{{client_vendor.user.id}}" name="rfq_share" value="{{share_obj.rfq_rev_share}}" placeholder="RFQ Campaign Share" class="form-control share_1">
                    </div>
                    <div class="form-group">
                      <label><span style="color:red;">* </span>Normal Campaign Share:</label>
                      <input type="number" min="1" max="100" id="company_name" name="normal_share" placeholder="Normal Campaign Share"  value="{{share_obj.normal_rev_share}}" data-id="{{client_vendor.user.id}}" class="form-control share_2">
                    </div>
                    <input type="hidden" id='userid' value="{{client_vendor.user.id}}">
                    
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h6 class="panel-title ">Tier Level:</h6>
                <div class="col-md-6">
                  <div class="form-group">
                    <!-- <label><span style="color:red;">* </span>Tier Level:</label> -->
                    <select id="tier_level" name="tier_level" class="select" value="{{share_obj.tier_level}}">
                      <option value="" selected disabled>Select Tier Level</option>
                      <option value="1" {% if share_obj.tier_level == '1' %}selected {% endif %}>Tier 1</option>
                      <option value="2" {% if share_obj.tier_level == '2' %}selected {% endif %}>Tier 2</option>
                      <option value="3" {% if share_obj.tier_level == '3' %}selected {% endif %}>Tier 3</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          </form>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<script>
// developer - Kishor - ajax call for saving Campaign Shares For Normal Camp And RFQ Campaign
$(document).ready(function () {
  
});
</script>
<style type="text/css">
  @media only screen and (max-width: 1366px) and (min-height:  500px) {
  .anonyms_aligns{
  margin-left: 22px!important;
  }
}
</style>

{% endblock %}
