<script type="text/javascript">
    // Create the chart
    // add active class to 'dashboard' on page refresh...Akshay G.
    $('#superadmin_campaign').closest('ul').find('.navigation-header').next().addClass('active');
    // remove 'active' class of 'dashboard' on clicking campaign...Akshay G.
    $(document).on('click','.navigation-main li',function(){
        $('#superadmin_campaign').closest('ul').find('.navigation-header').next().removeClass('active');
        $(this).closest('ul li').each(function(){
            if ($(this).hasClass('active')){
                $(this).removeClass('active');
            }
        })
        $(this).addClass('active');
    })
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Total Revenue'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Revenue In $'
            }

        },
        legend: {
            enabled: false
        },
        credits: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '${point.y:.2f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>${point.y:.2f} </b> of total<br/>'
        },

        series: [{
            name: 'Clients',
            colorByPoint: true,
            data: [
            {% for row in clientcharts %}
            {
                name:'{{row.name}}',
                y: {{row.y}},
                drilldown: '{{row.user_id}}',
                color: '{{row.color}}',
            },

            {% endfor %}
          ],


        }],
        drilldown: {
            series: [
              {% for row in campaignListCharts %}
              {
                id: '{{row.id}}',
                name: '{{row.name}}',
                data: [
                  {% for camp in row.data %}
                    {
                        name:'{{camp.name}}',
                        y:{{camp.y}},
                        drilldown: '{{camp.drilldown}}',
                        color: '{{camp.color}}',
                    },
                  {% endfor %}
                ]
            },{% endfor %}
            {% for row in campaignVendorChart%}
            {
                id: '{{row.id}}',
                data:[
                  {% for vendorName in row.data %}
                  {
                    name:'{{vendorName.name}}',
                    y:{{vendorName.y}},
                    color: '#21c44c',
                  },
                  {% endfor %}
                ]
            },
            {% endfor %}
          ]
        }
    });

</script>

<script>
    var iScrollPos = 0;
    $(window).scroll(function() {
        var iCurScrollPos = $(this).scrollTop();
        var h = window.innerHeight;
        var scrolltop = $(window).scrollTop();
        var scrollBottom = $(window).scrollTop() + $(window).height();
        var current = $("body").scrollTop();
        if (scrolltop > 1) {
            //Scrolling Down
            $("div.sticky").fadeOut('slow');
        } else {
            //Scrolling Up
            $("div.sticky").fadeIn('slow');
        }
        iScrollPos = iCurScrollPos;
    });

    function openModal() {
        $("#on_boarding").hide();
        $('#myModal').modal();
    }

    function closeModel() {
        $("#on_boarding").show();
        $('#modal').modal('hide');
        $('#myModal').modal('hide');
    }

function close_client_SignUpModal()
{
        $('#clientSignUpModal').modal('hide');
}
function close_vendor_SignUpModal()
{
        $('#vendorSignUpModal').modal('hide');
}

//dynamically load client and vendor data on Boarding
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}


$(".clientBoard").click(function() {
    id=$(this).attr('id');
    var token  = getCookie('csrftoken');
    $.ajax({
      type:'POST',
      url:'/superadmin/onBording/',
      data: {'id':id,csrfmiddlewaretoken: token},
      success:function(data)
      {
            $('#clientSignUpModal').modal('show');
            $('#user_name').val(data.comp_name);
            $('#contact').val(data.phone);
            $('#phone').val(data.phone);
            $('#website').val(data.website);
            $('#address_line1').val(data.add1);
            $('#address_line20').val(data.add2);
            options = '<option value="' + data.state_id + '">' + data.state_name + '</option>';
            $("select#state").html(options);
            options = '<option value="' + data.country_id + '" selected="selected">' + data.country_name + '</option>';
            $("#country").prepend(options);
            options = '<option value="' + data.industry_id + '" selected="selected">' + data.industry_name + '</option>';
            $("#industry_type_id").prepend(options);
            options = '<option value="' + data.speciality_id + '" selected="selected">' + data.speciality_name + '</option>';
            $("#industry_speciality_id").prepend(options);
            $('#primary_name').val(data.primary_name);
            $('#primary_email').val(data.primary_email);
            $('#primary_directdial').val(data.primary_contact);
            $('#primary_designation').val(data.primary_designation);
            $('#secondary_name').val(data.secondary_name);
            $('#secondary_email').val(data.secondary_email);
            $('#secondary_directdial').val(data.secondary_contact);
            $('#secondary_designation').val(data.secondary_designation);
      }
      });
    //$('#clientSignUpModal').modal('show');
  });
  $(".vendorBoard").click(function() {
      id=$(this).attr('id');
      var token  = getCookie('csrftoken');
      $.ajax({
        type:'POST',
        url:'/vendor/show_onbording_data/',
        data: {'id':id,csrfmiddlewaretoken: token},
        success:function(data)
        {
              $('#vendorSignUpModal').modal('show');
              $('#vendor_user_name').val(data.comp_name);
              $('#vendor_contact').val(data.phone);
              $('#vendor_phone').val(data.phone);
              $('#vendor_website').val(data.website);
              $('#vendor_address_line1').val(data.add1);
              $('#vendor_address_line2').val(data.add2);
              $("#vendor_state").val(data.state_name);
              $("#vendor_country").val(data.country_name);
              $('#vendor_primary_name').val(data.primary_name);
              $('#vendor_primary_email').val(data.primary_email);
              $('#vendor_primary_directdial').val(data.primary_contact);
              $('#vendor_primary_designation').val(data.primary_designation);
              $('#vendor_secondary_name').val(data.secondary_name);
              $('#vendor_secondary_email').val(data.secondary_email);
              $('#vendor_secondary_directdial').val(data.secondary_contact);
              $('#vendor_secondary_designation').val(data.secondary_designation);
              $('#vendor_industry_type_id').val(data.industry_name);
              $('#vendor_industry_speciality_id').val(data.speciality_name);
              $('#lead_per_month').val(data.lead_per_month);
              $('#unique_reach_per_month').val(data.unique_reach_per_month);
              $('#vendor_geo_loc').val(data.geo_loc);
              $('#vendor_marketing_method').val(data.marketing_method);
        }
        });
      //$('#clientSignUpModal').modal('show');
    });
jQuery(function() { // on DOM load

        menu2 = new sidetogglemenu({ // initialize second menu example
            id: 'togglemenu2',
            position: 'right',
            revealamt: -5
        })
});
</script>
<script >
  $(document).ready(function() {
        $("#datatfootfilter").hide();
        flag_filter_icon = true;
        $("#databtn").click(function() {
            $("#datatfootfilter").toggle();
            if(flag_filter_icon==true)
            {
              $('#filter_icon').removeClass('glyphicon-filter');
              $('#filter_icon').addClass('glyphicon-remove');
              flag_filter_icon = false;
            }
            else
            {
              $('#filter_icon').removeClass('glyphicon-remove');
              $('#filter_icon').addClass('glyphicon-filter');
              flag_filter_icon = true;
            }
        });
        /** /datatable filter toggle close*/
    });

</script>
