{% extends "header/header.html" %}
{% block content %}
<!-- Main sidebar -->
{% include "side/side.html" %}
{% load static %}
{% load range %}
<!-- Main Tabs-->
<div class="content-wrapper">
    <!-- Page header -->
    <div class="page-header">
        <div class="page-header-content" style="display:none">
            <div class="page-title">
                <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Dashboard</span> -
                    Client List</h4>
            </div>

            <div class="heading-elements">
                <div class="heading-btn-group">
                    <a href="#" class="btn btn-link btn-float text-size-small has-text"><i
                            class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
                    <a href="#" class="btn btn-link btn-float text-size-small has-text"><i
                            class="icon-calculator text-primary"></i> <span>Invoices</span></a>
                    <a href="#" class="btn btn-link btn-float text-size-small has-text"><i
                            class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
                </div>
            </div>
        </div>

        <div class="breadcrumb-line">
            <ul class="breadcrumb">
                <li><a href="/superadmin/dashboard/"><i class="icon-home2 position-left"></i> Home</a></li>
                <li class="active">OnBoarding</li>
            </ul>

            <ul class="breadcrumb-elements">

            </ul>
        </div>
    </div>
    <!-- /page header -->


    <!-- Content area -->
    <div class="content">

        <!-- Top Clients List -->
        <div class="panel panel-flat">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Client</a></li>
                <li><a data-toggle="tab" href="#menu1">Vendor</a></li>
            </ul>
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <table id="data" class="table datatable-column-search-inputs DataTables">
                        <thead>
                            <tr>
                                <th>Company Name</th>
                                <th>Status</th>
                                <!--  <th>Status</th>-->
                                <th>Last Update</th>
                                <th>Actions</th>
                            </tr>

                        </thead>
                        <tbody>
                            {% for row in client.all %}
                            <tr>
                                <td>
                                    {% if row.status == 2 or row.approve == 1 %}
                                    <a href="/superadmin/client_onBording/{{row.id}}">{{row.user_name}}</a>
                                    {% else %}
                                    {{row.user_name}}
                                    {% endif %}
                                </td>
                                <td>

                                    {% if row.status == 1 %}
                                    <span data-popup="tooltip" title="" class="label label-info">Registered</span>
                                    {% elif row.status == 2 and row.approve == 1 %}
                                    <span class="label label-success">Approved</span>
                                    {% elif row.status == 2 %}
                                    <span class="label label-info">Onboarding</span>
                                    {% elif row.status == 3 or row.approve == 1 %}
                                    <span class="label  label-success">Approved</span>
                                    {% elif row.status == 4 %}
                                    <span class="label label-warning">Hold</span>
                                    {% elif row.status == 5 %}
                                    <span class="label label-danger">Rejected</span>

                                    {% endif %}

                                </td>
                                <td>{{row.updated_date|dateFormate}}</td>
                                <td>
                                    <ul class="icons-list">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                aria-expanded="false">
                                                <i class="icon-menu9"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                {% if row.status > 1 %}
                                                {% if row.status == 1 %}
                                                <li><a
                                                        href="{% url 'superadmin:onboarding_approve' row.id %} ">Approve</a>
                                                </li>
                                                <li><a
                                                        href="{% url 'superadmin:onboarding_status_hold' row.id %} ">Hold</a>
                                                </li>
                                                <li><a
                                                        href="{% url 'superadmin:onboarding_status_rejecte' row.id %} ">Reject</a>
                                                </li>
                                                <li><a href="#" class="deleteOnBoarding" id="{{row.id}}">Delete</a></li>

                                                {% elif row.status == 2 %}
                                                <li><a
                                                        href="{% url 'superadmin:onboarding_approve' row.id %} ">Approve</a>
                                                </li>
                                                <li><a
                                                        href="{% url 'superadmin:onboarding_status_hold' row.id %} ">Hold</a>
                                                </li>
                                                <li><a
                                                        href="{% url 'superadmin:onboarding_status_rejecte' row.id %} ">Reject</a>
                                                </li>
                                                <li><a href="#" class="deleteOnBoarding" id="{{row.id}}">Delete</a></li>

                                                {% elif row.status == 4 %}
                                                <li><a
                                                        href="{% url 'superadmin:onboarding_approve' row.id %} ">Approve</a>
                                                </li>
                                                <li><a
                                                        href="{% url 'superadmin:onboarding_status_rejecte' row.id %} ">Reject</a>
                                                </li>
                                                <li><a href="#" class="deleteOnBoarding" id="{{row.id}}">Delete</a></li>

                                                {% elif row.status == 5 %}
                                                <li><a
                                                        href="{% url 'superadmin:onboarding_approve' row.id %} ">Approve</a>
                                                </li>
                                                <li><a
                                                        href="{% url 'superadmin:onboarding_status_hold' row.id %} ">Hold</a>
                                                </li>
                                                <li><a href="#" class="deleteOnBoarding" id="{{row.id}}">Delete</a></li>

                                                {% endif %}
                                                {% if row.status == 2 or row.status == 3 %}
                                                {% if row.approve == 1 %}
                                                <li><a href="/client/download_onboarding_pdf/{{row.id}}/{{row.user_name}}"
                                                        target="_blank">view pdf</a>
                                                {% endif %}
                                                {% endif %}
                                                    <!-- <li><a href="{% url 'superadmin:onboarding_approve' row.id %} ">Approve</a></li>
                                                      <li><a href="{% url 'superadmin:onboarding_status_hold' row.id %} ">Hold</a></li>
                                                      <li><a href="{% url 'superadmin:onboarding_status_rejecte' row.id %} ">Reject</a></li>
                                                      <li><a href="#" class="deleteOnBoarding" id="{{row.id}}">Delete</a></li> -->
                                                    {%endif%}
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>


                </div>
                <div id="menu1" class="tab-pane fade">

                    <table class="table datatable-column-search-inputs DataTables">
                        <thead>
                            <tr>
                                <th>Company Name</th>
                                <th>Status</th>
                                <th>Last Update</th>
                                <th>Actions</th>
                            </tr>

                        </thead>
                        <tbody>
                            {% for row in vendor.all %}
                            <tr>

                                <td>
                                    {% if row.status == 2 or row.approve == 1 %}
                                    <a href="/superadmin/vendor_onBoarding/{{row.id}}">{{row.user_name}}</a>
                                    {% else %}
                                    {{row.user_name}}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if row.status == 1 %}
                                    <span data-popup="tooltip" title="" class="label label-info">Registered</span>
                                    {% elif row.status == 2 and row.approve == 1 %}
                                    <span class="label label-success">Approved</span>
                                    {% elif row.status == 2 %}
                                    <span class="label label-info">Onboarding</span>
                                    {% elif row.status == 3 or row.approve == 1 %}
                                    <span class="label label-success">Approved</span>
                                    {% elif row.status == 4 %}
                                    <span class="label label-warning">Hold</span>
                                    {% elif row.status == 5 %}
                                    <span class="label label-danger">Reject</span>

                                    {% endif %}
                                </td>
                                <td>{{row.updated_date|dateFormate}}</td>
                                <td>
                                    <ul class="icons-list">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                aria-expanded="false">
                                                <i class="icon-menu9"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                {% if row.status > 1 %}
                                                {% if row.status == 1 %}
                                                <li><a
                                                        href="{% url 'superadmin:onboarding_approve' row.id %} ">Approve</a>
                                                </li>
                                                <li><a
                                                        href="{% url 'superadmin:onboarding_status_hold' row.id %} ">Hold</a>
                                                </li>
                                                <li><a
                                                        href="{% url 'superadmin:onboarding_status_rejecte' row.id %} ">Reject</a>
                                                </li>
                                                <li><a href="#" class="deleteOnBoarding" id="{{row.id}}">Delete</a></li>

                                                {% elif row.status == 2 %}
                                                <li><a
                                                        href="{% url 'superadmin:onboarding_approve' row.id %} ">Approve</a>
                                                </li>
                                                <li><a
                                                        href="{% url 'superadmin:onboarding_status_hold' row.id %} ">Hold</a>
                                                </li>
                                                <li><a
                                                        href="{% url 'superadmin:onboarding_status_rejecte' row.id %} ">Reject</a>
                                                </li>
                                                <li><a href="#" class="deleteOnBoarding" id="{{row.id}}">Delete</a></li>

                                                {% elif row.status == 4 %}
                                                <li><a
                                                        href="{% url 'superadmin:onboarding_approve' row.id %} ">Approve</a>
                                                </li>
                                                <li><a
                                                        href="{% url 'superadmin:onboarding_status_rejecte' row.id %} ">Reject</a>
                                                </li>
                                                <li><a href="#" class="deleteOnBoarding" id="{{row.id}}">Delete</a></li>

                                                {% elif row.status == 5 %}
                                                <li><a
                                                        href="{% url 'superadmin:onboarding_approve' row.id %} ">Approve</a>
                                                </li>
                                                <li><a
                                                        href="{% url 'superadmin:onboarding_status_hold' row.id %} ">Hold</a>
                                                </li>
                                                <li><a href="#" class="deleteOnBoarding" id="{{row.id}}">Delete</a></li>

                                                {% endif %}
                                                {% if row.status == 2 or row.status == 3 %}
                                                {% if row.approve == 1 %}
                                                <li><a href="/vendor/download_onboarding_pdf/{{row.id}}/{{row.user_name}}"
                                                        target="_blank">view pdf</a>
                                                {% endif %}
                                                {% endif %}
                                                    <!-- <li><a href="{% url 'superadmin:onboarding_approve' row.id %} ">Approve</a></li>
                                                      <li><a href="{% url 'superadmin:onboarding_status_hold' row.id %} ">Hold</a></li>
                                                      <li><a href="{% url 'superadmin:onboarding_status_rejecte' row.id %} ">Reject</a></li>
                                                      <li><a href="#" class="deleteOnBoarding" id="{{row.id}}">Delete</a></li> -->
                                                    {%endif%}
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="modal_mini" class="modal fade">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">Delete Records</h5>
            </div>

            <div class="modal-body">
                <h6 class="text-semibold">Enter Password</h6>
                <div class="col-sm-12">
                    <input type="password" id="pwd" placeholder="password" class="form-control">
                    <input type="hidden" id="id" placeholder="password" class="form-control">
                </div>
            </div>
            <br />

            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary deleteRecords">Save changes</button>
            </div>
        </div>
    </div>
</div>

{% include "dashboard/onBordingjs.html" %}
{% endblock %}
