{% load static %}
<!-- <script type="text/javascript" src="{% static 'assets/js/core/app.js' %}"></script> -->
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/wizards/steps.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/pages/superadmin_wizard_steps.js' %}"></script>
