{% extends "header/header.html" %}
{% block scripts %}
{% include "dashboard/super_dashboard_head.html" %}
{% endblock %}
{% block content %}
<!-- Main sidebar -->
{% include "side/side.html" %}

{% load static %}
{% load range %}
{% load custom_filters %}

<!-- Main Tabs-->

<div class="content-wrapper">

  <!-- Page header -->

  <div class="page-header">
    <div class="page-header-content" style="display:none">
      <div class="page-title">
        <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Dashboard</span> - Client List
        </h4>
      </div>

      <div class="heading-elements">
        <div class="heading-btn-group">
          <a href="#" class="btn btn-link btn-float text-size-small has-text"><i
              class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
          <a href="#" class="btn btn-link btn-float text-size-small has-text"><i
              class="icon-calculator text-primary"></i> <span>Invoices</span></a>
          <a href="#" class="btn btn-link btn-float text-size-small has-text"><i
              class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
        </div>
      </div>
    </div>

    <div class="breadcrumb-line">
      <ul class="breadcrumb">
        <li><a href="/superadmin/dashboard/"><i class="icon-home2 position-left"></i> </a></li>
        <li><a href="/superadmin/User_On_Bording/">OnBoarding</a></li>
        <li class="active">Vendor-OnBoarding</li>
      </ul>

      <ul class="breadcrumb-elements">

      </ul>
    </div>
  </div>
  <!-- /page header -->


  <!-- Content area -->
  <div class="content">

    <!-- Top Clients List -->
    <div class="panel panel-flat">

      <div class="tab-content">
        <form class="steps-starting-step" action="#">
          <h6>Company Info</h6>
          <fieldset>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Company:</label>
                  <input type="text" value="{{userdetails.user_name}}" name="user_name" id="company_name"
                    placeholder="Company Name" class="form-control" disabled="">
                </div>
                <div class="form-group">
                  <label>Website:</label>
                  <input type="text" value="{{client_vendor.website}}" name="website" id="website"
                    placeholder="example:https://www.example.com" class="form-control">
                </div>
                <div class="form-group">
                  <label>Address Line 1:</label>
                  <input type="text" value="{{userdetails.address_line1}}" name="address_line1" id="address_line1"
                    placeholder="Address Line 1" class="form-control" disabled="">
                </div>

                <div class="form-group">
                  <label>Country:</label>
                  <select name="country" id="country" data-placeholder="Choose a Country..." class="select" disabled="">
                    <option>Select Country</option>
                    <option value="{{ country.id }}" selected>{{ country.name }}</option>
                    {% for country in countries.all %}
                    <option value="{{ country.id }}">{{ country.name }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group" >
                  <label>City:</label>
                  <select name="cities" id="cities" data-placeholder="Choose a City..." disabled class="select">
                      <option value="0">Select City</option>
                      <option value="{{ cities.id }}" selected>{{ cities.name }}</option>
                  </select>
                </div>
                <!-- Default multiselect -->
                <div class="form-group">
                  <label>Vendor Type:</label>
                  <div class="multi-select-full">
                    <select disabled="" class="select" name="vendor_type" id="vendor_type" multiple>
                      <option value="0">Choose your option</option>
                      {% for row in vendor_type.all %}
                      {% if row.is_active == 1 %}
                        {% if row.id|stringformat:"i" in data_assesment.vendor_type %}
                        <option value="{{row.id}}" selected>{{row.type}}</option>
                        {%else%}
                        <option value="{{row.id}}">{{row.type}}</option>
                        {%endif%}
                      {%endif%}
                      {%endfor%}
                    </select>
                  </div>
                </div>

                <!-- /default multiselect -->
                <div class="form-group">
                  <label>Industry Speciality:</label>
                  <div class="multi-select-full">
                  <select name="industry_type_id" id="industry_type_id" data-placeholder="Choose a Industry Type..."
                    class="select" disabled="" multiple>
                    <option value="">Select Industry Type</option>
                    {% for inds in industry.all %}
                    {% if inds in industry %}
                    <option value="{{ inds.id }}" selected>{{ inds.type }}</option>
                    {% else %}
                    <option value="{{ inds.id }}">{{ inds.type }}</option>
                    {% endif%}
                    {% endfor %}
                  </select>
                  </div>
                </div>

              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Phone:</label>
                  <input type="text" value="{{userdetails.contact}}" id="phone" name="contact"
                    placeholder="Personal Number" class="form-control" disabled="">
                </div>
                <div class="form-group">
                  <label>Alternate Number:</label>
                  <input type="text" value="{{userdetails.contact}}" id="alternate_number"
                    placeholder="Alternate Number" class="form-control" disabled="">
                </div>
                <div class="form-group">
                  <label>Address Line 2:</label>
                  <input type="text" name="address_line2" id="address_line2" value="{{userdetails.address_line2}}"
                    placeholder="Address Line 2" class="form-control" disabled="">
                </div>

                <div class="form-group">
                  <label>State:</label>
                  <select id="state" name="state" data-placeholder="Choose a State..." class="select" disabled="">
                    <option value="{{ state.id }}" selected>{{ state.name }}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Zip Code:</label>
                  <input type="text" name="zip_code" id="zip_code" disabled
                    value="{% if userdetails.zip_code != None %}{{userdetails.zip_code}}{% endif %}"
                    placeholder="Zip Code" class="form-control">
                </div>
                <div class="form-group">
                  <label>Speciality:</label>
                  <div class="multi-select-full">
                  <select name="industry_speciality_id" id="industry_speciality_id"
                    data-placeholder="Choose a Speciality..." class="select" disabled="" multiple>
                    <option>Select Speciality </option>
                    {% for exp in expert.all %}
                    {% if exp in speciality %}
                    <option value="{{ exp.id }}" selected>{{ exp.name }}</option>
                    {% else %}
                    <option value="{{ exp.id }}">{{ exp.name }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
                </div>
              </div>
            </div>
          </fieldset>

          <h6>Business Card Info</h6>
          <fieldset>
            <!-- primary contact-->
            <div class="row">
              <div class="col-md-12">
                <h6 class="panel-title primary-contact">Primary Contact :</h6>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Full Name:</label>
                  <input type="text" name="primary_name" id="primary_name" value="{{client_vendor.primary_name}}"
                    placeholder="Full Name" class="form-control" disabled="">
                </div>

                <div class="form-group">
                  <label>Job Title:</label>
                  <input type="text" name="primary_designation" id="primary_designation"
                    value="{{client_vendor.primary_designation}}" placeholder="Designation" class="form-control"
                    disabled="">
                </div>

              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Direct Dial:</label>
                  <input type="text" name="primary_directdial" id="primary_directdial"
                    value="{{client_vendor.primary_directdial}}" placeholder="Direct Dial" class="form-control"
                    disabled="">
                </div>

                <div class="form-group">
                  <label>Email:</label>
                  <input type="text" value="{{client_vendor.primary_email}}" id="primary_email" name="primary_email"
                    placeholder="Email" class="form-control" disabled="">
                </div>
              </div>

            </div>
            <!-- /primary contact-->

            <!-- Secondary Contact-->
            <div class="row">
              <div class="col-md-12">
                <h6 class="panel-title secondary-contact">Secondary Contact :</h6>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Full Name:</label>
                  <input type="text" name="secondary_name" id="secondary_name" value="{{client_vendor.secondary_name}}"
                    placeholder="First Name" class="form-control" disabled="">
                </div>

                <div class="form-group">
                  <label>Job Title:</label>
                  <input type="text" name="secondary_designation" id="secondary_designation"
                    value="{{client_vendor.secondary_designation}}" placeholder="Designation" class="form-control"
                    disabled="">
                </div>

              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Direct Dial:</label>
                  <input type="text" value="{{client_vendor.secondary_directdial}}" name="secondary_directdial"
                    id="secondary_directdial" placeholder="Direct Dial" class="form-control" disabled="">
                </div>

                <div class="form-group">
                  <label>Email:</label>
                  <input type="text" value="{{client_vendor.secondary_email}}" name="secondary_email"
                    id="secondary_email" placeholder="Email" class="form-control" disabled="">
                </div>
              </div>

            </div>
            <!-- /secondary contact-->

          </fieldset>
          <h6>Data Assesment</h6>
          <fieldset>
            <div class="row">
              <div class="col-md-12">
                <h6 class="panel-title primary-contact"> </h6>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Overview:</label>
                  <textarea name="comp_overview" disabled
                    class="form-control col-lg-6">{{data_assesment.company_overview}}</textarea>
                </div>
                <div class="form-group">
                  <label>Unique Value Prop:</label>
                  <textarea name="unique_value_prop" disabled
                    class="form-control col-lg-6">{{data_assesment.unique_value_prop}}</textarea>
                </div>
                
                <div class="form-group">
                  <label>Database Size : Size-US</label>
                  <div class="input-group col-lg-12">
                    <div class="col-lg-4">
                      <input type="number" disabled value="{% if us_size_value %}{{us_size_value}}{% endif %}" name="size_us" id='size_us'
                        placeholder="" class="form-control">
                    </div>
                    <div class="col-lg-4 cols_8">
                      <select disabled class="form-control " name="us_size_multiplier">
                          <option {% if not us_size_value %} selected {% endif %} value="0"></option>
                          <option value="1000" {% if us_size_multiplier == 'thousand' %}selected{% endif %}>thous</option>
                          <option value="1000000" {% if us_size_multiplier == 'million' %}selected{% endif %}>mill</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Database Size : Overall Size</label>
                  <div class="input-group col-lg-12">
                      <div class="col-lg-4">
                          <input disabled type="number" value="{% if overall_size_value %}{{overall_size_value}}{% endif %}" name="overall_size"id='overall_size'
                          placeholder="" class="form-control">
                      </div>
                      <div class="col-lg-4 cols_8">
                        <select disabled class="form-control " name="overall_size_multiplier">
                            <option {% if not overall_size_value %} selected {% endif %} value="0"></option>
                            <option value="1000" {% if overall_size_multiplier == 'thousand' %}selected{% endif %}>thous</option>
                            <option value="1000000" {% if overall_size_multiplier == 'million' %}selected{% endif %}>mill</option>
                        </select>
                      </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Database Size : Opt-In</label>
                  <div class="input-group col-lg-12">
                      <div class="col-lg-4">
                        <input disabled type="number" value="{% if opt_in_size_value %}{{opt_in_size_value}}{% endif %}" name="optin"id='optin'
                          placeholder="" class="form-control">
                      </div>
                      <div class="col-lg-4 cols_8">
                        <select disabled class="form-control " name="opt_in_size_multiplier">
                            <option {% if not opt_in_size_value %} selected {% endif %} value="0"></option>
                            <option value="1000" {% if opt_in_size_multiplier == 'thousand' %}selected{% endif %}>thous</option>
                            <option value="1000000" {% if opt_in_size_multiplier == 'million' %}selected{% endif %}>mill</option>
                        </select>
                      </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Language Supported </label>
                      {% with language_data=data_assesment.language_supported|eval_expression %}
                      {% for row in language_supported.all %}
                      {% if row.id|stringformat:"i" in language_data.keys %}
                      <div class="input-group col-lg-12">
                        <div class=" col-lg-4">
                          <label>
                            <input type="checkbox" disabled class="filled-in" name="language_supported" value="{{row.id}}"
                              checked="checked" />
                            <span>{{row.type}}</span>
                          </label>
                        </div>
                        <div id="language_supported_values__{{row.id}}">
                          <div class="col-lg-4">
                            <input type="number" disabled name="language_supported_values_{}{{row.id}}"
                              id="" min="0" placeholder="Enter team size."
                              value="{{row.id|stringformat:'i'|return_logo:language_data}}" class="forms-control inp-wdth"
                              onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                          </div>
                        </div>
                      </div>
                      {% else %}
                      <div class="input-group col-lg-12">
                        <div class="col-lg-4">
                          <label>
                            <input type="checkbox" disabled class="filled-in" name="language_supported" value="{{row.id}}" />
                            <span>{{row.type}}</span>
                          </label>
                        </div>
                      </div>
                      {% endif %}
                      {% endfor %}
                      {% endwith %}
                </div>
                <!--  <div class="form-group" style="display:none;">
                    <label>Delivery Time</label>
                    {% for row in delivery_time.all %}
                    {% if row.id|stringformat:"i" in data_assesment.delivery_time %}
                    <div class="input-group col-lg-6">
                              <span class="input-group-addon col-lg-6 " >
                                  <input type="checkbox"  disabled name="delivery_time" value="{{row.id}}" id="delivery_time{{row.id}}" checked>{{row.type}}
                              </span>
                    </div>
                    {% else %}
                    <div class="input-group col-lg-6">
                              <span class="input-group-addon col-lg-6 ">
                                  <input type="checkbox" disabled name="delivery_time" value="{{row.id}}" id="delivery_time{{row.id}}">{{row.type}}
                              </span>
                    </div>

                    {% endif %}
                    {% endfor %}
                  </div> -->

                <div class="form-group" style="display:none;">
                  <label>Employee Size {{client_vendor.company_size_id}}</label>
                  {% for row in company_size.all %}
                  {% if row.id == client_vendor.company_size_id %}
                  <div class="input-group col-lg-6">
                    <span class="input-group-addon col-lg-6 ">
                      <input type="radio" name="company_size" disabled value="{{row.id}}" id="company_size{{row.id}}"
                        checked>{{row.range}}
                    </span>
                  </div>
                  {% else %}
                  <div class="input-group col-lg-6">
                    <span class="input-group-addon col-lg-6 ">
                      <input type="radio" name="company_size" disabled value="{{row.id}}"
                        id="company_size{{row.id}}">{{row.range}}
                    </span>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="form-group">
                  <label>Registration Process</label>
                  {% for row in registrtions_process.all %}
                  {% if row.id|stringformat:"i" in data_assesment.registration_process %}
                  <div class="input-group col-lg-6">
                    <span class="input-group-addon col-lg-6 ">
                      <input type="checkbox" disabled name="registrtions_process" value="{{row.id}}"
                        id="lead_gen_method" checked>{{row.type}}
                    </span>
                  </div>
                  {% else %}
                  <div class="input-group col-lg-6">
                    <span class="input-group-addon col-lg-6 ">
                      <input type="checkbox" disabled name="registrtions_process" value="{{row.id}}"
                        id="lead_gen_method">{{row.type}}
                    </span>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="form-group">
                  <label>Networks and Publishers Currently Working With</label>
                  {% for row in networks_and_publishers.all %}
                  {% if row.id|stringformat:"i" in data_assesment.networks_and_publishers %}
                  <div class="input-group col-lg-6">
                    <span class="input-group-addon col-lg-6 ">
                      <input type="checkbox" disabled name="networks_and_publishers" value="{{row.id}}"
                        id="lead_gen_method" checked>{{row.type}}
                    </span>
                  </div>
                  {% else %}
                  <div class="input-group col-lg-6">
                    <span class="input-group-addon col-lg-6 ">
                      <input type="checkbox" disabled name="networks_and_publishers" value="{{row.id}}"
                        id="lead_gen_method">{{row.type}}
                    </span>
                  </div>
                  {% endif %}

                  {% endfor %}
                  <div class="input-group col-lg-6">
                    <span class="input-group-addon col-lg-6 ">
                      {% if data_assesment.networks_and_publishers_other %}
                      <input type="text" disabled name="networks_and_publishers_other"
                        value="{{data_assesment.networks_and_publishers_other}}">
                      {%else%}
                      <input type="checkbox" disabled value="" id="networks_and_publishers_other">other
                      <input type="text" disabled name="networks_and_publishers_other" value="" style="display:none"
                        id="networks_and_publishers_other_text">
                      {%endif%}
                    </span>
                  </div>
                </div>
              </div>


              <div class="col-md-6">
                <!-- <div class="form-group">
                    <label>Operation Location:</label>
                    <select class="form-control" name="operation_location" disabled>
                      <option>Select Country</option>
                      <option value="{{ country.id }}" selected>{{ data_assesment.operation_location.name }}</option>
                      {% for country in countries.all %}
                          <option value="{{ country.id }}">{{ country.name }}</option>
                      {% endfor %}
                    </select>
                  </div> -->

                <div class="form-group">
                  <label>HQ Location :</label>
                  <select class="form-control select" disabled multiple name="hq_location" id="hq_location">
                      {% for hq in data_assesment.hq_location.all%}
                        <option value="{{ hq.id }}" selected>{{ hq.name }}</option>
                      {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <label>Call Center Location:</label>
                  <select class="form-control select" multiple disabled name="call_center_location" id="call_center_location">
                      {% for hq in data_assesment.call_center_location.all%}
                        <option value="{{ hq.id }}" selected>{{ hq.name }}</option>
                      {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                  <label>Data Processing Location:</label>
                  <select class="form-control select" multiple disabled name="data_processing_location" id="data_processing_location">
                      {% for hq in data_assesment.data_processing_location.all%}
                        <option value="{{ hq.id }}" selected>{{ hq.name }}</option>
                      {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                  <label>Year Incorporated:</label>

                  <select disabled="" class="form-control select" name="year_incorporated">
                    <option value="{{data_assesment.year_incorporated}}" selected>{{data_assesment.year_incorporated}}
                    </option>
                    {% for value in 1|range:50 %}
                    <option value="{{ forloop.counter0|minus_current_year:4 }}">
                      {{ forloop.counter0|minus_current_year:4 }}</option>
                    {% endfor %}
                  </select>
                </div>



                <div class="form-group">
                  <label>Sweet-Spot:</label>
                  <textarea name="sweet_spot" disabled
                    class="form-control col-lg-6">{{data_assesment.sweet_spot_text|trim}}</textarea>
                </div>

                <div class="form-group">
                  <label>Database Attribute</label>
                  {% for row in database_attribute.all %}
                  {% if row.id|stringformat:"i" in data_assesment.database_attribute %}
                  <div class="input-group col-lg-6">
                    <span class="input-group-addon col-lg-6 ">
                      <input type="checkbox" disabled name="database_attribute" value="{{row.id}}" id=""
                        checked>{{row.type}}
                    </span>
                  </div>
                  {% else %}
                  <div class="input-group col-lg-6">
                    <span class="input-group-addon col-lg-6 ">
                      <input type="checkbox" disabled name="database_attribute" value="{{row.id}}" id="">{{row.type}}
                    </span>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>

                <!-- <div class="form-group">
                    <label>Delivery Method</label>
                    {% for row in delivery_method.all %}
                    {% if row.id|stringformat:"i" in data_assesment.delivery_method %}
                    <div class="input-group col-lg-6">
                              <span class="input-group-addon col-lg-6 ">
                                  <input type="checkbox" disabled name="delivery_method" value="{{row.id}}" id="delivery_method{{row.id}}" checked>{{row.type}}
                              </span>
                    </div>
                    {% else %}
                    <div class="input-group col-lg-6">
                              <span class="input-group-addon col-lg-6 ">
                                  <input type="checkbox" disabled name="delivery_method" value="{{row.id}}" id="delivery_method{{row.id}}" >{{row.type}}
                              </span>
                    </div>
                    {% endif %}
                    {% endfor %}
                  </div> -->

                <div class="form-group">
                  <label>Lead Gen Method</label>
                  {% for row in marketing_method.all %}
                  {% if row.id|stringformat:"i" in data_assesment.lead_gen_capacity|get_key_from_dict %}
                  {% with data_assesment.lead_gen_capacity as  lead_gen_capacity_dict %}
                  <div class="input-group col-lg-6">
                    <span class="input-group-addon col-lg-6 ">
                      <input disabled type="checkbox" disabled name="lead_gen_method" class="lead_gen_method" value="{{row.id}}"
                        id="lead_gen_method{{row.id}}" checked>{{row.type}}
                    </span>
                    <div id="lead_gen_method_values{{row.id}}" style="">
                      <span class="input-group-addon col-lg-4 pull-right ">
                        <input type="text" disabled name="complex_program_values" id="lead_gen_method_text_values"
                          min="0" value="{{ lead_gen_capacity_dict|change_type:row.id }}" class="forms-control">

                      </span>
                    </div>
                  </div>
                  {% endwith %}
                  {% else %}
                  <div class="input-group col-lg-6">
                    <span class="input-group-addon col-lg-6 ">
                      <input disabled type="checkbox" name="lead_gen_method" class="lead_gen_method" value="{{row.id}}"
                        id="lead_gen_method{{row.id}}">{{row.type}}
                    </span>
                    <div id="lead_gen_method_values{{row.id}}" style="display:none">
                      <span class="input-group-addon col-lg-4 pull-right ">
                        <input type="number" disabled name="complex_program_values"
                          id="lead_gen_method_text_values{{row.id}}" min="0" value="" class="forms-control">

                      </span>
                    </div>
                  </div>
                  {% endif %}

                  {% endfor %}
                </div>
                <div class="form-group">
                  <label>Complex Program</label>
                  {% for row in complex_program.all %}
                  {% if row.id|stringformat:"i" in data_assesment.complex_program_capacity|get_key_from_dict %}
                  {% with data_assesment.complex_program_capacity as complex_program_capacity_dict %}
                  <div class="input-group col-lg-6">
                    <span class="input-group-addon col-lg-4 ">
                      <input type="checkbox" disabled name="complex_program" class="complex_program" value="{{row.id}}"
                        id="complex_program{{row.id}}" checked>{{row.type}}
                    </span>
                    <div id="complex_program_values{{row.id}}" style="">
                      <span class="input-group-addon col-lg-4 pull-right ">
                        <input type="number" disabled name="complex_program_values"
                          id="complex_program_text_values{{row.id}}" min="0"
                          value="{{complex_program_capacity_dict|change_type:row.id}}" class="forms-control">

                      </span>
                    </div>
                  </div>
                  {% endwith %}
                  {% else %}
                  <div class="input-group col-lg-6">
                    <span class="input-group-addon col-lg-4 ">
                      <input type="checkbox" disabled name="complex_program" class="complex_program" value="{{row.id}}"
                        id="complex_program{{row.id}}">{{row.type}}
                    </span>
                    <div id="complex_program_values{{row.id}}" style="display:none">
                      <span class="input-group-addon col-lg-4 pull-right ">
                        <input type="number" disabled name="complex_program_values"
                          id="complex_program_text_values{{row.id}}" min="0" value="" class="forms-control">

                      </span>
                    </div>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>

            </div>

          </fieldset>
          <h6>Corporate Profile</h6>
          <fieldset>
            <div class="row">

              <div class="col-md-6">

                <div class="form-group">
                  <label class="display-block">Upload Company Media Kit:</label>
                  <!-- <input name="recommendations" type="file" class="file-styled"> -->
                  <span class="help-block">Accepted formats: pdf. Max file size 10Mb</span>
                  {% if client_vendor.media_kit %}
                  <!-- <iframe src="{{client_vendor.media_kit.url}}" width="100px" height="150px"></iframe> -->
                  {{client_vendor.media_kit}}
                  {% endif %}
                </div>
                <div class="form-group">
                  <label class="display-block">Upload Company Logo:</label>
                  <!-- <input name="company_logo" id="company_logo" type="file" class="file-styled" onchange="readURL(this);" accept="image/x-png,image/gif,image/jpeg"> -->
                  <span class="help-block">Accepted formats: .jpg, .png, .jpeg, .cdn</span>
                  {% if client_vendor.company_logo %}
                  <img id="blah" style="box-shadow: 0 0 10px gray;" src="{{client_vendor.company_logo.url}}"
                    height="100px" width="150px" />
                  {% endif %}
                </div>
              </div>
          </fieldset>
          <h6>Superadmin Settings</h6>
          <form method="post" enctype="multipart/form-data">
          <fieldset>
            <div class="row">
              <div class="col-md-12">
                <h6 class="panel-title ">Tier Level:</h6>
                <div class="col-md-6">
                  <div class="form-group">
                    <!-- <label><span style="color:red;">* </span>Tier Level:</label> -->
                    <select id="tier_level" name="tier_level" class="select">
                      <option value="" selected disabled>Select Tier Level</option>
                      <option value="1" {% if share_obj.tier_level == '1' %}selected {% endif %}>Tier 1</option>
                      <option value="2" {% if share_obj.tier_level == '2' %}selected {% endif %}>Tier 2</option>
                      <option value="3" {% if share_obj.tier_level == '3' %}selected {% endif %}>Tier 3</option>
                    </select>
                    <input type="hidden" id='userid' value="{{client_vendor.user.id}}">
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          </form>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
