<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <center><img src="https://gallery.mailchimp.com/97953400bcfa1f1e69174fb71/images/ca9bd521-49ae-4754-80d4-d17bb44963b3.gif" width="300px"></center>
        {% autoescape off %}
        Hi <b>{{ user.email }}<b>,<br>

        &nbsp&nbsp&nbsp&nbsp&nbsp Please click on the link below to confirm your registration:

        <a href='http://{{ domain }}{% url 'activate' uidb64=uid token=token %}'>http://{{ domain }}{% url 'activate' uidb64=uid token=token %} </a>
        {% endautoescape %}

    </body>
</html>
