<html>
	<body>
		<p><b>Subject</b></p>
		<p>Thank you for connecting with Techconnectr</p><br>
		<p>Use below credentials to Login</p>
		<p>Username: {{username}}</p>
		<p>Password: {{password}}</p>
		<p>Token: {{token}}</p>
		<p>Login Url: {{site_url}}</p>


	</body>
</html>
