<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Techconnectr - B2B Lead Generation Marketplace </title>
  {% load static %}
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/logo/favicon.png' %}"/>
  <!-- loader css-->
  <style>
    .loader {
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 9999;
      background: url('{% static "/icons/Ellipsis.gif" %}') 50% 50% no-repeat rgb(249, 249, 249);
      opacity: .8;
    }

  </style>
  <!-- Global stylesheets -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
  <link href="{% static 'assets/css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'assets/css/icons/fontawesome5/web-fonts-with-css/css/fontawesome-all.css' %}" rel="stylesheet"
    type="text/css">
  <link href="{% static 'assets/css/icons/fontawesome-free-5.5.0-web/css/all.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

  <link href="{% static 'assets/css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">

  <link href="{% static 'assets/css/icons/icomoon/new-styles.css' %}" rel="stylesheet" type="text/css">

  <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css">

  <link href="{% static 'assets/css/core.css' %}" rel="stylesheet" type="text/css">

  <link href="{% static 'assets/css/components.css' %}" rel="stylesheet" type="text/css">

  <link href="{% static 'assets/css/colors.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'assets/css/extras/animate.min.css' %}" rel="stylesheet" type="text/css">

  <link href="{% static 'assets/css/sticky.css' %}" rel="stylesheet" type="text/css">
  <!-- /global stylesheets -->

  <!-- Core JS files -->
  <script type="text/javascript" src="{% static 'assets/js/plugins/loaders/pace.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/core/libraries/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/loaders/blockui.min.js' %}"></script>
  <!-- /core JS files -->
  <script>
    //loader js
    $(window).load(function () {
      $(".loader").fadeOut("slow");
    });
  </script>
  <!-- Theme JS files -->
  <script type="text/javascript" src="{% static 'assets/js/plugins/velocity/velocity.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/velocity/velocity.ui.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'assets/js/plugins/buttons/spin.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'assets/js/plugins/buttons/ladda.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'assets/js/plugins/forms/wizards/steps.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/select2.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/core/libraries/jasny_bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/forms/validation/validate.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/extensions/cookie.js' %}"></script>

  <script type="text/javascript" src="{% static 'assets/js/core/app.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/pages/client_wizard_steps.js' %}"></script>


  <script type="text/javascript" src="{% static 'assets/js/plugins/ui/ripple.min.js' %}"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/tables/datatables/datatables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/pages/datatables_api.js' %}"></script>


  <!--<script type="text/javascript" src="{% static 'assets/js/pages/client/dashboard.js' %}"></script>-->

  <!-- graph-->

  <!-- /graph-->

  <!-- /theme JS files -->

  <!-- client dashboard css-->
  <link href="{% static 'assets/css/client/dashboard.css' %}" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="{% static 'assets/js/pages/extension_blockui.js' %}"></script>

  <!-- /client dashboard css-->


  <!-- enjoyhint -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/kineticjs/5.2.0/kinetic.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/kineticjs/5.2.0/kinetic.min.js" charset="utf-8"></script>
  <link href="{% static 'enjoyhint/enjoyhint.css' %}" rel="stylesheet">
  <script src="{% static 'enjoyhint/enjoyhint.min.js' %}"></script>
  <!-- end enjoyhint -->
  {% block scripts %}{% endblock %}

  <style>
    {% block scripts1 %}{% endblock %}
        .panel-height
        {
            min-height: 100vh;
        }
        #centertext
        {
            text-align: center;
        }
        #padding220
        {
            padding:2px;
            padding-left: 20px;
        }
    </style>

  <script>
    //loader js

    var onBording = "{{request.session.onBording}}";

    // using jQuery
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = jQuery.trim(cookies[i]);
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }


    // $(function(){
    //   var time=;
    //
    //   function redirect(){
    //     var id = setTimeout(redirect, 1000);
    //     $('#timer').html(time);
    //     if(time == 0){
    //       clearTimeout(id);
    //       $.ajax({
    //         url: '{% url "timeout" %}',
    //         success: function (data) {
    //           if (data.msg) {
    //             alert(data.msg);
    //           }
    //         }
    //       });
    //     }
    //     time --;
    //   }
    //   redirect();
    // });


  </script>
  <script>
  // Set the date we're counting down to
  var countDownDate = new Date("Feb 14, 2019 15:37:25").getTime();

  // Update the count down every 1 second
  var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();

    // Find the distance between now and the count down date
    var distance = countDownDate - now;

    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))+(days*24);
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Display the result in the element with id="demo"
    document.getElementById("timer").innerHTML = hours + "h "
    + minutes + "m " + seconds + "s ";

    // If the count down is finished, write some text
    if (distance < 0) {
      clearInterval(x);
      document.getElementById("demo").innerHTML = "EXPIRED";
    }
  }, 1000);
  </script>
  <!-- notifications -->
  <script type="text/javascript" src="{% static 'assets/js/plugins/notifications/pnotify.min.js' %}?ver=1.1"></script>
  <!-- /notifications -->
  {% if messages %}
  <script>
    $(document).ready(function () {
      {% for message in messages %}
      new PNotify({
        title: '{{ message.tags|upper }}',//'success',
        text: '{{ message }}.',
        //addclass: 'alert alert-success alert-styled-left alert-arrow-left',
        addclass: 'alert alert-{{ message.tags }} alert-styled-left alert-arrow-left',
        type: '{{ message.tags }}', //'success',
        delay: 6500  // 3.5 seconds
      });
      {% endfor %}
    });
  </script>
  {% endif %}


  <script type="text/javascript">
    // If theres no activity for 5 seconds do something
    var activityTimeout = setTimeout(inActive, 900000);

    function resetActive() {
      $(document.body).attr('class', 'active');
      clearTimeout(activityTimeout);
      activityTimeout = setTimeout(inActive, 900000);
    }

    function inActive() {
      //$(document.body).attr('class', 'inactive');
      window.location.href = "/logout/";
    }
    // Check for mousemove, could add other events here such as checking for key presses ect.
    $(document).bind('mousemove keydown', function () { resetActive() });
  </script>

</head>

<body>
  <div class="loader"></div>
  <!-- Main navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top bg-indigo">
    <div class="navbar-header">
      <a class="navbar-brand" href="/client/dashboard/">
        <img src="{% static 'assets/images/logo/tc-logo1.gif' %}" alt="">
      </a>

      <ul class="nav navbar-nav visible-xs-block">
        <li>
          <a data-toggle="collapse" data-target="#navbar-mobile">
            <i class="icon-tree5"></i>
          </a>
        </li>
        <li>
          <a class="sidebar-mobile-main-toggle">
            <i class="icon-paragraph-justify3"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="navbar-collapse collapse" id="navbar-mobile">
      <div class="navbar-right">
        <span class="navbar-text greet" id='timer'>0</span>
        <span class="navbar-text ">Welcome, &nbsp;&nbsp;{{request.session.email}}</span>
        <span class="navbar-text greet">|</span>
        <span class="navbar-text ">
          <a href="{% url 'apilogout' %}">Log Off</a>


      </div>
    </div>
  </div>
  <!-- /main navbar -->

  <!-- Page container -->
  <div class="page-container">

    <!-- Page content -->
    <div class="page-content">

      {% block content %}

      {% endblock %}
</body>
<script>
      $(".read").click(function () {
      var id = $(this).attr('id');
      $(this).parentsUntil("ul").hide();
      var csrftoken = getCookie('csrftoken');
      $.ajax({
        type: "POST",
        url: "/superadmin/ReadNotification/", //Relative or absolute path to response.php file
        data: { 'id': id, 'csrfmiddlewaretoken': csrftoken },
        success: function (data) {
          var notificount = data.notifycount;
          $(".noticount").text(notificount);

        },
        error: function (data) {

          var notificount = data.notifycount;
          $(".noticount").text(notificount);
        },
      });
    });

  $(".chat_read").click(function (e) {
    e.preventDefault();
    var id = $(this).attr('id');
    $(this).parentsUntil("ul").hide();
    var csrftoken = getCookie('csrftoken');
    $.ajax({
      type: "POST",
      url: "/client/chat-read-notification/", //Relative or absolute path to response.php file
      data: { 'id': id, 'csrfmiddlewaretoken': csrftoken },
      success: function (data) {
        var notificount = data.notifycount;
        $(".noticount").text(notificount);

      },
      error: function (data) {
        var notificount = data.notifycount;
        $(".noticount").text(notificount);
      },
    });
  });



</script>

</html>
