<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Techconnectr - B2B Lead Generation Marketplace </title>
  {% load static %}
  {% load custom_filters %}
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/logo/favicon.png' %}"/>
  <!-- loader css-->
  <style>
    .loader {
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 20000;
      background: url('{% static "/icons/Ellipsis.gif" %}') 50% 50% no-repeat rgb(249, 249, 249);
      opacity: .8;
    }
    .company_logo{
      width:  40px;
      height: 40px;
      border-radius: 50%;
    }
    a{
      font-weight: normal!important;
    }
  </style>
  <!-- Global stylesheets -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
  <link href="{% static 'assets/css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'assets/css/icons/fontawesome5/web-fonts-with-css/css/fontawesome-all.css' %}" rel="stylesheet"
    type="text/css">
  <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'assets/css/core.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'assets/css/components.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'assets/css/colors.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'assets/css/sticky.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'assets/css/icons/icomoon/new-styles.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Toggle Sidebar Design-->
  <link rel="stylesheet" href="{% static 'assets/css/sidetogglemenu.css' %}" type="text/css">
  <link href="{% static 'assets/css/page/campaign.css' %}" rel="stylesheet" type="text/css">
  <!-- dashboard page-level css-->
  <link href="{% static 'assets/css/page/dashboard.css' %}" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="{% static 'assets/js/pages/components_popups.js' %}"></script>
  <!-- /global stylesheets -->
  <!-- Core JS files -->

  <script type="text/javascript" src="{% static 'assets/js/plugins/loaders/pace.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/core/libraries/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/loaders/blockui.min.js' %}"></script>
  <!-- /core JS files -->

  <script>
    //loader js
    $(window).load(function () {
      $(".loader").fadeOut("slow");
    });
  </script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/tables/datatables/datatables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/select2.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/core/app.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/pages/datatables_api.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/ui/ripple.min.js' %}"></script>
  <!-- Theme JS files -->
  <script type="text/javascript" src="{% static 'assets/js/plugins/visualization/d3/d3.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/visualization/d3/d3_tooltip.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/switchery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/ui/moment/moment.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/pickers/daterangepicker.js' %}"></script>

  <!-- buttons -->
  <script type="text/javascript" src="{% static 'assets/js/plugins/velocity/velocity.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/velocity/velocity.ui.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/buttons/spin.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/buttons/ladda.min.js' %}"></script>
  <!-- /buttons -->
  <!-- form wizard-->

  <script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/select2.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/core/libraries/jasny_bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/forms/validation/validate.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/extensions/cookie.js' %}"></script>

  <!-- /form wizard-->
  <script src="{% static 'assets/js/plugins/Highcharts/code/highcharts.js' %}"></script>
  <script src="{% static 'assets/js/plugins/Highcharts/code/modules/data.js' %}"></script>
  <script src="{% static 'assets/js/plugins/Highcharts/code/modules/drilldown.js' %}"></script>
  <!-- Toggle Sidebar JS -->
  <script src="https://www.jqueryscript.net/demo/jQuery-Sidebar-Toggle-Menu-Plugin-sidetogglemenu/sidetogglemenu.js"></script>
  <!-- sweet alert -->
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet"/>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script> -->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <!-- enjoyhint -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/kineticjs/5.2.0/kinetic.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/kineticjs/5.2.0/kinetic.min.js" charset="utf-8"></script>
  <link href="{% static 'enjoyhint/enjoyhint.css' %}" rel="stylesheet">
  <script src="{% static 'enjoyhint/enjoyhint.min.js' %}"></script>
  <!-- end enjoyhint -->
  {% block scripts %}

  {% endblock %}
  <style>
    {% block script1 %}{% endblock %}

        #sideclose
            {
                font-size: 30px;
            }
              #campstat
            {
                font-size: 20px;

            }
               #campstat1
            {
                font-size: 16px;
            }
            .status
            {
              background: #f3f1f1;
            }
            .status1
            {
              background: #d2cdcd4d;
            }
           #chartdiv {
      width: 100%;
      height: 250px;
      margin-left:0px;
    }
    .export-main{
    margin-top: -65px;
    }
    #chartdiv1 {
      width: 100%;
      height: 250px;
      margin-left:0px;
    }
        .addbtn{
            padding-left: 10px;
        }
         tfoot {
            display: table-row-group;
        }
        .row
        {

          margin-left: 10px;
          margin-right: 10px;

        }
        .stat
        {

          margin-bottom:10px;
        }
        .lbl
        {
          font-size: 14px;
        }
        .label-info1
        {
          background: #3f70ba;
        }
        .top{
          margin-top: 30px;
        }
        body{
          padding-right: 0px!important;
        }
        </style>

  <script>

    // using jQuery
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = jQuery.trim(cookies[i]);
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }




  </script>
  <script type="text/javascript">
    // If theres no activity for 5 seconds do something
    var activityTimeout = setTimeout(inActive, 900000);

    function resetActive() {
      $(document.body).attr('class', 'active');
      clearTimeout(activityTimeout);
      activityTimeout = setTimeout(inActive, 900000);
    }

    function inActive() {
      //$(document.body).attr('class', 'inactive');
      window.location.href = "/logout/";
    }
    // Check for mousemove, could add other events here such as checking for key presses ect.
    $(document).bind('mousemove keydown', function () { resetActive() });
  </script>

</head>

<body>
  <div class="loader"></div>
  <!-- Main navbar -->
  <div class="navbar navbar-inverse bg-indigo">
    <div class="navbar-header">
      {% if 'WelcomeOnBoard' in request.path %}
      <a class="navbar-brand" href=""><img src="{% static 'assets/images/logo/tc-logo1.gif' %}"
          alt=""></a>
          {% else %}
          <a class="navbar-brand" href="/superadmin/dashboard/"><img src="{% static 'assets/images/logo/tc-logo1.gif' %}"
          alt=""></a>
      {% endif %}

      <ul class="nav navbar-nav visible-xs-block">
        <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
        <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
      </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">
      <div class="navbar-right">
        <span class="navbar-text ">{% if 'WelcomeOnBoard' not in request.path %}Welcome,{% endif %} &nbsp;&nbsp;{{request.session.username}}</span>
        {% if 'WelcomeOnBoard' not in request.path %}
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="icon-bell2"></i>
              <span class="noticount">{{notifycount}}</span>
              <span class="visible-xs-inline-block position-right">Activity</span>
              <span class="status-mark border-orange-400"></span>

            </a>

            <div class="dropdown-menu dropdown-content">
              <div class="dropdown-content-heading">
                Activity
                <!-- <ul class="icons-list">
                  <li><a id='readall'><i class="icon-menu7"></i></a></li>
                </ul> -->
              </div>

              <ul class="media-list dropdown-content-body width-350">
                {% for row in notify %}

                {% if row.campaign_id.status == 3 %}
                {% if row.campaign_id.rfq == 1 and row.campaign_id.rfq_status == 0 %}
                <li class="media" id="{{row.id}}">

                    <div class="media-left">
                      <!-- notif sender's company logo...Akshay G. -->
                      {% if row.id in logo_dict %}
                      <img class="company_logo" src="{{row.id|return_logo:logo_dict}}" alt="">
                      {% else %}
                      <img class="company_logo" src="{{logo_dict.default}}" alt="">
                      {% endif %}
                      <!-- <span href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs read_notify" id="{{row.id}}"><i class="icon-mention"></i></span> -->
                    </div>
                    <div class="media-body">
                      <span class='read' id="{{row.id}}"><i class="fa fa-times pull-right" value='1' aria-hidden="true"></i></span>
                      <a href="/superadmin/pending-campaign/" class="read_notify" id="{{row.id}}"><span class="headfont">{{ row.title }}</span>
                      <br>
                      {{ row.description }}</a>
                      <div class="media-annotation">{{row.created}}</div>
                    </div>

                </li>


                {% elif row.campaign_id.rfq == 1 and row.campaign_id.rfq_status == 1 %}
                {% if row.camp_alloc.counter_status == 1 %}
                <li class="media" id="{{row.id}}">

                    <div class="media-left">
                      {% if row.id in logo_dict %}
                      <img class="company_logo" src="{{row.id|return_logo:logo_dict}}" alt="">
                      {% else %}
                      <img class="company_logo" src="{{logo_dict.default}}" alt="">
                      {% endif %}
                      <!-- <span href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs read_notify" id="{{row.id}}"><i class="icon-mention"></i></span> -->
                    </div>
                    <div class="media-body">
                      <span class='read' id="{{row.id}}"><i class="fa fa-times pull-right" value='1' aria-hidden="true"></i></span>
                      <a href="/superadmin/campaign_vendor/{{row.campaign_id.id}}" class="read_notify" id="{{row.id}}"><span class="headfont">{{ row.title }}</span>
                      <br>
                      {{ row.description }} </a>
                      <div class="media-annotation">{{row.created}}</div>
                    </div>

                </li>

                {% else %}
                <li class="media" id="{{row.id}}">

                    <div class="media-left">
                      {% if row.id in logo_dict %}
                      <img class="company_logo" src="{{row.id|return_logo:logo_dict}}" alt="">
                      {% else %}
                      <img class="company_logo" src="{{logo_dict.default}}" alt="">
                      {% endif %}
                      <!-- <span href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs read_notify" id="{{row.id}}"><i class="icon-mention"></i></span> -->
                    </div>
                    <div class="media-body">
                      <span class='read' id="{{row.id}}"><i class="fa fa-times pull-right" value='1' aria-hidden="true"></i></span>
                      <a href="/superadmin/pending-campaign/" class="read_notify" id="{{row.id}}"><span class="headfont">{{ row.title }}</span>
                      <br>
                      {{ row.description }}</a>
                      <div class="media-annotation">{{row.created}}</div>
                    </div>

                </li>

                {% endif %}
                {% else %}
                <li class="media" id="{{row.id}}">

                    <div class="media-left">
                      {% if row.id in logo_dict %}
                      <img class="company_logo" src="{{row.id|return_logo:logo_dict}}" alt="">
                      {% else %}
                      <img class="company_logo" src="{{logo_dict.default}}" alt="">
                      {% endif %}
                      <!-- <span href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs read_notify"><i class="icon-mention"></i></span> -->
                    </div>
                    <div class="media-body">
                      <span class='read' id="{{row.id}}"><i class="fa fa-times pull-right" value='1' aria-hidden="true"></i></span>
                    <a href="/superadmin/pending-campaign/" class="read_notify" id="{{row.id}}">  <span class="headfont">{{ row.title }}</span>
                      <br>
                      {{ row.description }}</a>
                      <div class="media-annotation">{{row.created}}</div>
                    </div>

                </li>

                {% endif %}
                {% elif row.campaign_id.status == 1 %}
                <li class="media" id="{{row.id}}">

                    <div class="media-left">
                      {% if row.id in logo_dict %}
                      <img class="company_logo" src="{{row.id|return_logo:logo_dict}}" alt="">
                      {% else %}
                      <img class="company_logo" src="{{logo_dict.default}}" alt="">
                      {% endif %}
                      <!-- <span href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs read_notify" id="{{row.id}}"><i class="icon-mention"></i></span> -->
                    </div>
                    <div class="media-body">
                      <span class='read' id="{{row.id}}"><i class="fa fa-times pull-right" value='1' aria-hidden="true"></i></span>
                    <a href="/superadmin/live-campaign/" class="read_notify" id="{{row.id}}">  <span class="headfont">{{ row.title }}</span>
                      <br>
                      {{ row.description }}</a>
                      <div class="media-annotation">{{row.created}}</div>
                    </div>

                </li>

                {% elif row.campaign_id.status == 4 %}
                <li class="media" id="{{row.id}}">

                    <div class="media-left">
                      {% if row.id in logo_dict %}
                      <img class="company_logo" src="{{row.id|return_logo:logo_dict}}" alt="">
                      {% else %}
                      <img class="company_logo" src="{{logo_dict.default}}" alt="">
                      {% endif %}
                      <!-- <span href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs read_notify" id="{{row.id}}"><i class="icon-mention"></i></span> -->
                    </div>
                    <div class="media-body">
                      <span class='read' id="{{row.id}}"><i class="fa fa-times pull-right" value='1' aria-hidden="true"></i></span>
                      <a href="/superadmin/completed-campaign/" class="read_notify" id="{{row.id}}"><span class="headfont">{{ row.title }}</span>
                      <br>
                      {{ row.description }}</a>
                      <div class="media-annotation">{{row.created}}</div>
                    </div>

                </li>

                {% elif row.campaign_id.status == 5 %}
                <li class="media" id="{{row.id}}">

                    <div class="media-left">
                      {% if row.id in logo_dict %}
                      <img class="company_logo" src="{{row.id|return_logo:logo_dict}}" alt="">
                      {% else %}
                      <img class="company_logo" src="{{logo_dict.default}}" alt="">
                      {% endif %}
                      <!-- <span href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs read_notify" id="{{row.id}}"><i class="icon-mention"></i></span> -->
                    </div>
                    <div class="media-body">
                      <span class='read' id="{{row.id}}"><i class="fa fa-times pull-right" value='1' aria-hidden="true"></i></span>
                      <a href="/superadmin/assigned-campaign/" class="read_notify" id="{{row.id}}"><span class="headfont">{{ row.title }}</span>
                      <br>
                      {{ row.description }}</a>
                      <div class="media-annotation">{{row.created}}</div>
                    </div>

                </li>

                {% else %}
                <li class="media" id="{{row.id}}">
                  <!-- <a href="/superadmin/assigned-campaign/"> -->
                  <div class="media-left">
                    {% if row.id in logo_dict %}
                    <img class="company_logo" src="{{row.id|return_logo:logo_dict}}" alt="">
                    {% else %}
                    <img class="company_logo" src="{{logo_dict.default}}" alt="">
                    {% endif %}
                    <!-- <span href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs read_notify" id="{{row.id}}"><i class="icon-mention"></i></span> -->
                  </div>
                  <div class="media-body">
                    <span class='read' id="{{row.id}}"><i class="fa fa-times pull-right" value='1' aria-hidden="true"></i></span>
                    <span class="headfont read_notify" id="{{row.id}}">{{ row.title }}</span>
                    <br>
                    <span class="read_notify" id="{{row.id}}">
                    {{ row.description }} </span>
                    <div class="media-annotation">{{row.created}}</div>
                  </div>
                  <!-- </a> -->
                </li>
                {% endif %}

                {% endfor %}

              </ul>
            </div>
          </li>
        </ul>
        <!--chat notification-->
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-comments"></i>
              <span class="noticount1">{{count_chat}}</span>
              <span class="visible-xs-inline-block position-right">Chat Notification</span>
              <span class="status-mark border-orange-400"></span>

            </a>

            <div class="dropdown-menu dropdown-content">
              <div class="dropdown-content-heading">
                Chat-Notification
                <!-- <ul class="icons-list">
                  <li><a id='readall'><i class="icon-menu7"></i></a></li>
                </ul> -->
              </div>

              <ul class="media-list dropdown-content-body width-350">
                {% for row in chat_notify %}
                  {% for sender,dict in row.items %}
                    {% if dict|chat_notif:'count' > 0 %}
                      <li class="media">
                        <div class="media-left">
                          <img class="company_logo" src="{{dict|chat_notif:'logo'}}" alt="">
                          <span class="badge bg-danger-400 media-badge">{{dict|chat_notif:'count'}}</span>
                          <!-- <a href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></a> -->
                        </div>
                        <div class="media-body">
                          <a class='chat_read' id="{{dict|chat_notif:'chat_obj_id'}}" data-sender_id="{{dict|chat_notif:'sender_id'}}"><i class="fa fa-circle-o pull-right" title="Mark as read"></i></a>
                          <a href="/superadmin/chat-app/{{dict|chat_notif:'campaign_id'}}/"> <span class="headfont" title="{{sender}}">{{ sender|truncatechars:19 }}</span></a>
                            <br> 
                          Campaign name : {{dict|chat_notif:'campaign_name'|truncatechars:19}}
                          <div class="media-annotation">{{dict|chat_notif:'date'}}</div>
                        </div>
                      </li>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              </ul>
            </div>
          </li>
        </ul>
        {% endif %}
        <span class="navbar-text greet">|</span>
        <span class="navbar-text ">
          {% if 'WelcomeOnBoard' in request.path %}
          {%else%}
          <a href="/logout/">Log Off</a>
          {%endif%}

      </div>
    </div>
    <!--
        <div class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav">
                <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>


            </ul>


        </div> -->
  </div>
  <!-- /main navbar -->

  <!-- Page container -->
  <div class="page-container">

    <!-- Page content -->
    <div class="page-content">

      {% block content %}

      {% endblock %}
</body>
<script>
  // notifs is being read..Akshay
  $(".read_notify").click(function () {
    var id = $(this).attr('id');
    // $(this).parentsUntil("ul").hide();
    var csrftoken = getCookie('csrftoken');
    $.ajax({
      type: "POST",
      url: "/superadmin/ReadNotification/", //Relative or absolute path to response.php file
      data: { 'id': id, 'csrfmiddlewaretoken': csrftoken ,'flag':1},
      success: function (data) {
        var notificount = data.notifycount;
        $(".noticount").text(notificount);

      },
      error: function (data) {

        var notificount = data.notifycount;
        $(".noticount").text(notificount);
      },
    });
  });
  // notifs is being removed
  $(".read").click(function () {
    var id = $(this).attr('id');
    $(this).parentsUntil("ul").hide();
    var csrftoken = getCookie('csrftoken');
    $.ajax({
      type: "POST",
      url: "/superadmin/ReadNotification/", //Relative or absolute path to response.php file
      data: { 'id': id, 'csrfmiddlewaretoken': csrftoken ,'flag':2},
      success: function (data) {
        var notificount = data.notifycount;
        $(".noticount").text(notificount);

      },
      error: function (data) {

        var notificount = data.notifycount;
        $(".noticount").text(notificount);
      },
    });
  });
  $(".chat_read").click(function (e) {
    e.preventDefault();
    var chat_obj_id = $(this).attr('id');
    var sender_id = $(this).attr('data-sender_id');
    $(this).parentsUntil("ul").hide();
    var csrftoken = getCookie('csrftoken');
    $.ajax({
      type: "POST",
      url: "/client/save_chat_status/", //Relative or absolute path to response.php file
      data: { 'chat_obj_id': chat_obj_id,'sender_id':sender_id, 'csrfmiddlewaretoken': csrftoken },
      success: function (data) {
        $(".noticount1").text($(".noticount1").text()-1);

      },
      error: function (data) {
        
      },
    });
  });
</script>
<script type="text/javascript">
  (function(w,d,n,u,o,t,m){w['SrecObject']=o;w[o]=w[o]||function(){
  (w[o].q=w[o].q||[]).push(arguments)},w[o].l=1*new Date();t=d.createElement(n),
  m=d.getElementsByTagName(n)[0];t.async=1;t.src=u;m.parentNode.insertBefore(t,m)
  })(window,document,'script','https://console.uxlens.com/collect/initialize.js','srec');
  srec('init', '36c64090-891d-11e9-bd1a-2dce6e9b6dd4');
</script>

</html>
