<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Techconnectr - B2B Lead Generation Marketplace </title>
	{% load static %}
	{% load custom_filters %}
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/logo/favicon.png' %}" />
	<!-- for loader-->
	<style>
		.loader {
			position: fixed;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			z-index: 20000;
			background: url('{% static "/icons/Ellipsis.gif" %}') 50% 50% no-repeat rgb(249, 249, 249);
			opacity: .8;
		}

		#all_notifs {
			background-color: #31B0D5;
			color: white;
			padding-left: 20%;
			padding-top: 2%;
			padding-bottom: 3%;
			padding-right: 20%;
			border-radius: 15px;
		}
		.badge-custom {
		    padding: 2px 6px 1px 6px!important;
		    font-size: 10px!important;
		    letter-spacing: 0.1px!important;
		    vertical-align: baseline!important;
		    margin-left: 0!important;
		    min-width: 0!important;
		    color: #fff!important;
		    line-height: unset!important;
		    border-radius: 12px!important;
		}
		
	    .navbar-fixed-top{
	      max-height: 12px!important;
	    }
	</style>
	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
		type="text/css">
	<link href="{% static 'assets/css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/icons/fontawesome5/web-fonts-with-css/css/fontawesome-all.css' %}"
		rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
		type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="{% static 'assets/css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/icons/icomoon/new-styles.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/core.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/components.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/colors.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/extras/animate.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/sticky.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'assets/css/client/dashboard.css' %}" type="text/css">

	<!-- <link href="//www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css"> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- /global stylesheets -->

	<script type="text/javascript" src="{% static 'assets/js/plugins/loaders/pace.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/core/libraries/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/loaders/blockui.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'assets/js/plugins/notifications/pnotify.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/core/app.js' %}"></script>

	<script type="text/javascript" src="{% static 'assets/js/plugins/ui/ripple.min.js' %}"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/wizards/steps.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/select2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/core/libraries/jasny_bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/validation/validate.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/extensions/cookie.js' %}"></script>

	<!-- enjoyhint -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/kineticjs/5.2.0/kinetic.js" charset="utf-8"></script>
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/kineticjs/5.2.0/kinetic.min.js" charset="utf-8"></script>
	<link href="{% static 'enjoyhint/enjoyhint.css' %}" rel="stylesheet">
	<script src="{% static 'enjoyhint/enjoyhint.min.js' %}"></script>
	<!-- end enjoyhint -->
	<!-- /core JS files -->

	<!-- Theme JS files -->
	{% block scripts %}
	{% endblock %}
	<style>
		{% block scripts1 %}
		{% endblock %}

		.dropdown-menu.user_dropdown {
			margin-right: 0px !important;
			text-align: center !important;
			width: 160px !important;
		}

		.company_logo {
			width: 40px;
			height: 40px;
			border-radius: 50%;
		}
	</style>

	<script>
		$(window).load(function () {
			$(".loader").fadeOut("slow");
		});

		var onBording = "{{request.session.onBording}}";

		// using jQuery
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}


	</script>
	<script type="text/javascript">
		// If theres no activity for 5 seconds do something
		var activityTimeout = setTimeout(inActive, 900000);

		function resetActive() {
			$(document.body).attr('class', 'active');
			clearTimeout(activityTimeout);
			activityTimeout = setTimeout(inActive, 900000);
		}

		function inActive() {
			//$(document.body).attr('class', 'inactive');
			window.location.href = "/logout/";
		}
		// Check for mousemove, could add other events here such as checking for key presses ect.
		$(document).bind('mousemove keydown', function () { resetActive() });
	</script>

</head>

<body>
	<div class="loader"></div>
	<!-- Main navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top bg-indigo">
		<div class="navbar-header">

			{% if request.session.usertype == 2 %}
			<a class="navbar-brand" href="/vendor/dashboard/">
				<img src="{% static 'assets/images/logo/tc-logo1.gif' %}" alt="">
			</a>
			{% elif request.session.usertype == 1 %}
			<a class="navbar-brand" href="/client/dashboard/">
				<img src="{% static 'assets/images/logo/tc-logo1.gif' %}" alt="">
			</a>
			{% elif request.session.usertype == 5 %}
			<a class="navbar-brand" href="/vendor-portal/dashboard/">
				<img src="{% static 'assets/images/logo/tc-logo1.gif' %}" alt="">
			</a>
			{% elif request.session.usertype == 6 %}
			<a class="navbar-brand" href="/users-portal/">
				<img src="{% static 'assets/images/logo/tc-logo1.gif' %}" alt="">
			</a>
			{% else %}
			<a class="navbar-brand" href="#">
				<img src="{% static 'assets/images/logo/tc-logo1.gif' %}" alt="">
			</a>
			{% endif %}
			<ul class="nav navbar-nav visible-xs-block">
				<li>
					<a data-toggle="collapse" data-target="#navbar-mobile">
						<i class="icon-tree5"></i>
					</a>
				</li>
				<li>
					<a class="sidebar-mobile-main-toggle">
						<i class="icon-paragraph-justify3"></i>
					</a>
				</li>
			</ul>
		</div>
		<div class="navbar-collapse collapse" id="navbar-mobile">
			<div class="navbar-right">
				<!-- <span class="navbar-text ">Welcome, &nbsp;&nbsp;{{request.session.username}}</span> -->
				{% if request.session.usertype == 2 %}
				{% if request.session.onBording == 3 %}
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-bell2"></i>
							<span class="noticount">{{notifycount}}</span>
							<span class="visible-xs-inline-block position-right">Activity</span>
							<span class="status-mark border-orange-400"></span>

						</a>

						<div class="dropdown-menu dropdown-content1">
							<div class="dropdown-content-heading">
								Activity
								<!-- <ul class="icons-list">
                              <li><a id='readall'><i class="icon-menu7"></i></a></li>
                            </ul> -->
							</div>
							<ul class="media-list dropdown-content-body width-350">
								{% for row in notify %}
								{% if row.camp_alloc %}
								{% if row.camp_alloc.status == 1 %}

								<li class="media">


									<div class="media-left">
										<!-- notif sender's company logo...Akshay G. -->
										{% if row.id in logo_dict %}
										<img class="company_logo" src="{{row.id|return_logo:logo_dict}}" alt="">
										{% else %}
										<img class="company_logo" src="{{logo_dict.default}}" alt="">
										{% endif %}
										<!-- <span href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></span> -->
									</div>
									<div class="media-body">
										<span class='read' id="{{row.id}}"><i class="fa fa-times pull-right" value='1'
												aria-hidden="true"></i></span>
										<a href="/vendor/live-campaign/" class="read_notify" id="{{row.id}}"><span
												class="headfont">{{ row.title }}</span>
											<br>
											{{ row.description }}</a>
										<div class="media-annotation">{{row.created}}</div>
									</div>

								</li>

								{% elif row.camp_alloc.status == 3 %}
								<li class="media">


									<div class="media-left">
										{% if row.id in logo_dict %}
										<img class="company_logo" src="{{row.id|return_logo:logo_dict}}" alt="">
										{% else %}
										<img class="company_logo" src="{{logo_dict.default}}" alt="">
										{% endif %}
										<!-- <span href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></span> -->
									</div>
									<div class="media-body">
										<span class='read' id="{{row.id}}"><i class="fa fa-times pull-right" value='1'
												aria-hidden="true"></i></span>
										<a href="/vendor/pending-campaign/" class="read_notify" id="{{row.id}}"><span
												class="headfont">{{ row.title }} </span>
												<br>
											{{ row.description }}
											<br>
											Campaign {{row.camp_alloc.campaign.name}}</a>

										<div class="media-annotation">{{row.created}}</div>
									</div>

								</li>
								{% endif %}
								{% else %}
								{% if row.title == "New RFQ Campaign Arrived" %}
								<li class="media">
									<div class="media-left">
										{% if row.id in logo_dict %}
										<img class="company_logo" src="{{row.id|return_logo:logo_dict}}" alt="">
										{% else %}
										<img class="company_logo" src="{{logo_dict.default}}" alt="">
										{% endif %}
										<!-- <span href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></span> -->
									</div>
									<div class="media-body">
										<span class='read' id="{{row.id}}"><i class="fa fa-times pull-right" value='1'
												aria-hidden="true"></i></span>
										<a href="/vendor/vendor-rfq-campaign/" class="read_notify" id="{{row.id}}"><span
												class="headfont">{{ row.title }} </span><br>
											{{ row.description }}</a>
										<div class="media-annotation">{{row.created}}</div>
									</div>
								</li>
								{% else %}
								<li class="media">
									<div class="media-left">
										{% if row.id in logo_dict %}
										<img class="company_logo" src="{{row.id|return_logo:logo_dict}}" alt="">
										{% else %}
										<img class="company_logo" src="{{logo_dict.default}}" alt="">
										{% endif %}
										<!-- <span href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></span> -->
									</div>
									<div class="media-body">
										<span class='read' id="{{row.id}}"><i class="fa fa-times pull-right" value='1'
												aria-hidden="true"></i></span>
										<span class="headfont read_notify" id="{{row.id}}">{{ row.title }} </span>
										<br>
										<span class="read_notify" id="{{row.id}}">{{ row.description }}</span>
										<div class="media-annotation">{{row.created}}</div>
									</div>
								</li>
								{% endif %}

								{% endif %}
								{% endfor %}
							</ul>
						</div>
					</li>
				</ul>
				<!--Chat Notification-->
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-comments"></i>
							<span class="noticount1">{{count_chat}}</span>
							<span class="visible-xs-inline-block position-right">Chat Notification</span>
							<span class="status-mark border-orange-400"></span>

						</a>

						<div class="dropdown-menu dropdown-content1">
							<div class="dropdown-content-heading">
								Chat-Notification
								<!--  <ul class="icons-list">
                          <li><a id='readall'><i class="icon-menu7"></i></a></li>
                        </ul> -->
							</div>

							<ul class="media-list dropdown-content-body width-350">
								{% for row in chat_notify %}
								{% for sender,dict in row.items %}
								{% if dict|chat_notif:'count' > 0 %}
								{% if dict|chat_notif:'camp_status' == 1 %}

								<li class="media">
									<div class="media-left">
										<img class="company_logo" src="{{dict|chat_notif:'logo'}}" alt="">
										<span class="badge-custom bg-danger-400 media-badge">{{dict|chat_notif:'count'}}</span>
										<!-- <a href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></a> -->
									</div>
									<div class="media-body">
										<a class='chat_read' id="{{dict|chat_notif:'chat_obj_id'}}"
											data-sender_id="{{dict|chat_notif:'sender_id'}}"><i
												class="fa fa-circle-o pull-right" title="Mark as read"></i></a>
										<a href="/vendor/live-campaign/"> <span class="headfont"
												title="{{sender}}">{{ sender|truncatechars:19 }}
											</span></a>
										<br>
										Campaign name : {{dict|chat_notif:'campaign_name'|truncatechars:19}}
										<div class="media-annotation">{{dict|chat_notif:'date'}}</div>
									</div>
								</li>

								{% elif dict|chat_notif:'camp_status' == 3 %}

								<li class="media">
									<div class="media-left">
										<img class="company_logo" src="{{dict|chat_notif:'logo'}}" alt="">
										<span class="badge-custom bg-danger-400 media-badge">{{dict|chat_notif:'count'}}</span>
										<!-- <a href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></a> -->
									</div>
									<div class="media-body">
										<a class='chat_read' id="{{dict|chat_notif:'chat_obj_id'}}"
											data-sender_id="{{dict|chat_notif:'sender_id'}}"><i
												class="fa fa-circle-o pull-right" title="Mark as read"></i></a>
										<a href="/vendor/pending-campaign/"> <span class="headfont"
												title="{{sender}}">{{ sender|truncatechars:19 }}
											</span></a>
										<br>
										Campaign name : {{dict|chat_notif:'campaign_name'|truncatechars:19}}
										<div class="media-annotation">{{dict|chat_notif:'date'}}</div>
									</div>
								</li>

								{% elif dict|chat_notif:'camp_status' == 4 %}

								<li class="media">
									<div class="media-left">
										<img class="company_logo" src="{{dict|chat_notif:'logo'}}" alt="">
										<span class="badge-custom bg-danger-400 media-badge">{{dict|chat_notif:'count'}}</span>
										<!-- <a href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></a> -->
									</div>
									<div class="media-body">
										<a class='chat_read' id="{{dict|chat_notif:'chat_obj_id'}}"
											data-sender_id="{{dict|chat_notif:'sender_id'}}"><i
												class="fa fa-circle-o pull-right" title="Mark as read"></i></a>
										<a href="/vendor/completed-campaign/"> <span class="headfont"
												title="{{sender}}">{{ sender|truncatechars:19 }}
											</span></a>
										<br>
										Campaign name : {{dict|chat_notif:'campaign_name'|truncatechars:19}}
										<div class="media-annotation">{{dict|chat_notif:'date'}}</div>
									</div>
								</li>

								{% elif dict|chat_notif:'camp_status' == 5 %}

								<li class="media">
									<div class="media-left">
										<img class="company_logo" src="{{dict|chat_notif:'logo'}}" alt="">
										<span class="badge-custom bg-danger-400 media-badge">{{dict|chat_notif:'count'}}</span>
										<!-- <a href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></a> -->
									</div>
									<div class="media-body">
										<a class='chat_read' id="{{dict|chat_notif:'chat_obj_id'}}"
											data-sender_id="{{dict|chat_notif:'sender_id'}}"><i
												class="fa fa-circle-o pull-right" title="Mark as read"></i></a>
										<a href="/vendor/assigned-campaign/"> <span class="headfont"
												title="{{sender}}">{{ sender|truncatechars:19 }}
											</span></a>
										<br>
										Campaign name : {{dict|chat_notif:'campaign_name'|truncatechars:19}}
										<div class="media-annotation">{{dict|chat_notif:'date'}}</div>
									</div>
								</li>

								{% else %}

								<li class="media">
									<div class="media-left">
										<img class="company_logo" src="{{dict|chat_notif:'logo'}}" alt="">
										<span class="badge-custom bg-danger-400 media-badge">{{dict|chat_notif:'count'}}</span>
										<!-- <a href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></a> -->
									</div>
									<div class="media-body">
										<a class='chat_read' id="{{dict|chat_notif:'chat_obj_id'}}"
											data-sender_id="{{dict|chat_notif:'sender_id'}}"><i
												class="fa fa-circle-o pull-right" title="Mark as read"></i></a>
										<span class="headfont" title="{{sender}}">{{ sender|truncatechars:19 }}
										</span>
										<br>
										Campaign name : {{dict|chat_notif:'campaign_name'|truncatechars:19}}
										<div class="media-annotation">{{dict|chat_notif:'date'}}</div>
									</div>
								</li>

								{% endif %}
								{% endif %}
								{% endfor %}
								{% endfor %}
							</ul>
						</div>
					</li>
				</ul>
				{% endif %}
				{% elif request.session.usertype == 1 or request.session.usertype == 6 %}
				<ul class="nav navbar-nav">
					<li class="dropdown1">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-bell2"></i>
							<span class="noticount">{{notifycount}}</span>
							<span class="visible-xs-inline-block position-right">Activity</span>
							<span class="status-mark border-orange-400"></span>
						</a>
						<div class="dropdown-menu dropdown-content1">
							<div class="dropdown-content-heading">
								Activity
								<!-- ul class="icons-list">
                          <li><a id='readall'><i class="icon-menu7"></i></a></li>
                        </ul> -->
							</div>


							<ul class="media-list dropdown-content-body width-350">
								{% for row in notify %}
								{% if row.campaign_id.status == 3 %}
								<li class="media">

									<div class="media-left">
										<!-- notif sender's company logo...Akshay G. -->
										{% if row.id in logo_dict %}
										<img class="company_logo" src="{{row.id|return_logo:logo_dict}}" alt="">
										{% else %}
										<img class="company_logo" src="{{logo_dict.default}}" alt="">
										{% endif %}
										<!-- <span href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></span> -->
									</div>
									<div class="media-body">
										<span class='read' id="{{row.id}}"><i class="fa fa-times pull-right" value='1'
												aria-hidden="true"></i></span>
										<a href="/client/pending-campaign/" class="read_notify" id="{{row.id}}"><span
												class="headfont">{{ row.title }}</span>
											<br>
											{{ row.description }}</a>
										<div class="media-annotation">{{row.created}}</div>
									</div>

								</li>
								{% elif row.campaign_id.status == 1 %}
								<li class="media">

									<div class="media-left">
										{% if row.id in logo_dict %}
										<img class="company_logo" src="{{row.id|return_logo:logo_dict}}" alt="">
										{% else %}
										<img class="company_logo" src="{{logo_dict.default}}" alt="">
										{% endif %}
										<!-- <span href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></span> -->
									</div>
									<div class="media-body">
										<span class='read' id="{{row.id}}"><i class="fa fa-times pull-right" value='1'
												aria-hidden="true"></i></span>
										<a href="/client/live-campaign/" class="read_notify" id="{{row.id}}"><span
												class="headfont">{{ row.title }}</span><br>
											{{ row.description }}</a>
										<div class="media-annotation">{{row.created}}</div>
									</div>

								</li>
								{% elif row.campaign_id.status == 4 %}
								<li class="media">

									<div class="media-left">
										{% if row.id in logo_dict %}
										<img class="company_logo" src="{{row.id|return_logo:logo_dict}}" alt="">
										{% else %}
										<img class="company_logo" src="{{logo_dict.default}}" alt="">
										{% endif %}
										<!-- <span href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></span> -->
									</div>
									<div class="media-body">
										<span class='read' id="{{row.id}}"><i class="fa fa-times pull-right" value='1'
												aria-hidden="true"></i></span>
										<a href="/client/completed-campaign/" class="read_notify" id="{{row.id}}"> <span
												class="headfont">{{ row.title }}</span><br>
											{{ row.description }} </a>
										<div class="media-annotation">{{row.created}}</div>
									</div>
								</li>
								{% elif row.campaign_id.status == 5 %}
								<li class="media">

									<div class="media-left">
										{% if row.id in logo_dict %}
										<img class="company_logo" src="{{row.id|return_logo:logo_dict}}" alt="">
										{% else %}
										<img class="company_logo" src="{{logo_dict.default}}" alt="">
										{% endif %}
										<!-- <span href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></span> -->
									</div>
									<div class="media-body">
										<span class='read' id="{{row.id}}"><i class="fa fa-times pull-right" value='1'
												aria-hidden="true"></i></span>
										<a href="/client/assigned-campaign/" class="read_notify" id="{{row.id}}"> <span
												class="headfont">{{ row.title }}</span>
											<br>
											{{ row.description }} </a>
										<div class="media-annotation">{{row.created}}</div>
									</div>

								</li>
								{% endif %}
								{% if row.camp_alloc %}
								{% if row.camp_alloc.status == 1 %}
								<li class="media">

									<div class="media-left">
										{% if row.id in logo_dict %}
										<img class="company_logo" src="{{row.id|return_logo:logo_dict}}" alt="">
										{% else %}
										<img class="company_logo" src="{{logo_dict.default}}" alt="">
										{% endif %}
										<!-- <span href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></span> -->
									</div>
									<div class="media-body">
										<span class='read' id="{{row.id}}"><i class="fa fa-times pull-right" value='1'
												aria-hidden="true"></i></span>
										<a href="/client/leadlist/{{row.camp_alloc.id}}/{{row.camp_alloc.status}}"
											class="read_notify" id="{{row.id}}"><span
												class="headfont">{{ row.title }}</span>
											<br>
											{{ row.description }}
										</a>
										<div class="media-annotation">{{row.created}}</div>
									</div>

								</li>
								{% endif %}
								{% endif %}
								{% if row.camp_alloc is None and row.campaign_id is None%}
								<li class="media read" id="{{row.id}}">
									<!-- <a href="/superadmin/assigned-campaign/"> -->
									<div class="media-left">
										{% if row.id in logo_dict %}
										<img class="company_logo" src="{{row.id|return_logo:logo_dict}}" alt="">
										{% else %}
										<img class="company_logo" src="{{logo_dict.default}}" alt="">
										{% endif %}
										<!-- <span href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></span> -->
									</div>
									<div class="media-body">
										<span class='read' id="{{row.id}}"><i class="fa fa-times pull-right" value='1'
												aria-hidden="true"></i></span>
										<span class="headfont read_notify" id="{{row.id}}">{{ row.title }}</span>
										<br>
										<span class="read_notify" id="{{row.id}}">{{ row.description }}</span>
										<div class="media-annotation">{{row.created}}</div>
									</div>
									<!-- </a> -->
								</li>
								{%endif%}
								{% endfor %}
								{% if request.session.usertype == 1 %}
								<li class="media" style="text-align: center">
									<a href="/client/all_notifications" id="all_notifs">View all notifications</a>
								</li>
								{% endif %}
							</ul>
						</div>
					</li>
				</ul>
				<ul class="nav navbar-nav">
					<li class="dropdown1">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-comments"></i>
							<span class="noticount1">{{count_chat}}</span>
							<span class="visible-xs-inline-block position-right">Chat Notification</span>
							<span class="status-mark border-orange-400"></span>

						</a>

						<div class="dropdown-menu dropdown-content1">
							<div class="dropdown-content-heading">
								Chat-Notification
								<!-- <ul class="icons-list">
                        <li><a id='readall'><i class="icon-menu7"></i></a></li>
                      </ul> -->
							</div>

							<ul class="media-list dropdown-content-body width-350">
								{% for row in chat_notify %}
								{% for sender,dict in row.items %}
								{% if dict|chat_notif:'count' > 0 %}
								{% if dict|chat_notif:'camp_status' == 1 %}

								<li class="media">
									<div class="media-left">
										<img class="company_logo" src="{{dict|chat_notif:'logo'}}" alt="">
										<span class="badge-custom bg-danger-400 media-badge">{{dict|chat_notif:'count'}}</span>
										<!-- <a href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></a> -->
									</div>
									<div class="media-body">
										<a class='chat_read' id="{{dict|chat_notif:'chat_obj_id'}}"
											data-sender_id="{{dict|chat_notif:'sender_id'}}"><i
												class="fa fa-circle-o pull-right" title="Mark as read"></i></a>
										<a href="/client/live-campaign/"> <span class="headfont"
												title="{{sender}}">{{ sender|truncatechars:19 }}
											</span></a>
										<br>
										Campaign name : {{dict|chat_notif:'campaign_name'|truncatechars:19}}
										<div class="media-annotation">{{dict|chat_notif:'date'}}</div>
									</div>
								</li>

								{% elif dict|chat_notif:'camp_status' == 3 %}

								<li class="media">
									<div class="media-left">
										<img class="company_logo" src="{{dict|chat_notif:'logo'}}" alt="">
										<span class="badge-custom bg-danger-400 media-badge">{{dict|chat_notif:'count'}}</span>
										<!-- <a href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></a> -->
									</div>
									<div class="media-body">
										<a class='chat_read' id="{{dict|chat_notif:'chat_obj_id'}}"
											data-sender_id="{{dict|chat_notif:'sender_id'}}"><i
												class="fa fa-circle-o pull-right" title="Mark as read"></i></a>
										<a href="/client/pending-campaign/"> <span class="headfont"
												title="{{sender}}">{{ sender|truncatechars:19 }}
											</span></a>
										<br>
										Campaign name : {{dict|chat_notif:'campaign_name'|truncatechars:19}}
										<div class="media-annotation">{{dict|chat_notif:'date'}}</div>
									</div>
								</li>

								{% elif dict|chat_notif:'camp_status' == 5 %}

								<li class="media">
									<div class="media-left">
										<img class="company_logo" src="{{dict|chat_notif:'logo'}}" alt="">
										<span class="badge-custom bg-danger-400 media-badge">{{dict|chat_notif:'count'}}</span>
										<!-- <a href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></a> -->
									</div>
									<div class="media-body">
										<a class='chat_read' id="{{dict|chat_notif:'chat_obj_id'}}"
											data-sender_id="{{dict|chat_notif:'sender_id'}}"><i
												class="fa fa-circle-o pull-right" title="Mark as read"></i></a>
										<a href="/client/assigned-campaign/"> <span class="headfont"
												title="{{sender}}">{{ sender|truncatechars:19 }}
											</span></a>
										<br>
										Campaign name : {{dict|chat_notif:'campaign_name'|truncatechars:19}}
										<div class="media-annotation">{{dict|chat_notif:'date'}}</div>
									</div>
								</li>

								{% elif dict|chat_notif:'camp_status' == 4 %}

								<li class="media">
									<div class="media-left">
										<img class="company_logo" src="{{dict|chat_notif:'logo'}}" alt="">
										<span class="badge-custom bg-danger-400 media-badge">{{dict|chat_notif:'count'}}</span>
										<!-- <a href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></a> -->
									</div>
									<div class="media-body">
										<a class='chat_read' id="{{dict|chat_notif:'chat_obj_id'}}"
											data-sender_id="{{dict|chat_notif:'sender_id'}}"><i
												class="fa fa-circle-o pull-right" title="Mark as read"></i></a>
										<a href="/client/completed-campaign/"> <span class="headfont"
												title="{{sender}}">{{ sender|truncatechars:19 }}
											</span></a>
										<br>
										Campaign name : {{dict|chat_notif:'campaign_name'|truncatechars:19}}
										<div class="media-annotation">{{dict|chat_notif:'date'}}</div>
									</div>
								</li>

								{% endif %}
								{% endif %}
								{% endfor %}
								{% endfor %}
							</ul>
						</div>
					</li>
				</ul>
				{% elif request.session.usertype == 5 %}
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-bell2"></i>
							<span class="noticount">{{notifycount}}</span>
							<span class="visible-xs-inline-block position-right">Activity</span>
							<span class="status-mark border-orange-400"></span>

						</a>

						<div class="dropdown-menu dropdown-content">
							<div class="dropdown-content-heading">
								Activity
								<!-- <ul class="icons-list">
                                    <li><a id='readall'><i class="icon-menu7"></i></a></li>
                                </ul> -->
							</div>

							<ul class="media-list dropdown-content-body width-350">
								{% for row in notify %}
								{% if row.camp_alloc %}
								{% if row.camp_alloc.status == 1 %}

								<li class="media " id="{{row.id}}">


									<div class="media-left">
										<!-- notif sender's company logo...Akshay G. -->
										{% if row.id in logo_dict %}
										<img class="company_logo" src="{{row.id|return_logo:logo_dict}}" alt="">
										{% else %}
										<img class="company_logo" src="{{logo_dict.default}}" alt="">
										{% endif %}
										<!-- <span href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs read_notify" id="{{row.id}}"><i
                                                class="icon-mention"></i></span> -->
									</div>
									<div class="media-body">
										<span class='read' id="{{row.id}}"><i class="fa fa-times pull-right" value='1'
												aria-hidden="true"></i></span>
										<a href="/vendor-portal/live-campaign/" id="{{row.id}}"
											class="read_notify"><span class="headfont">{{ row.title }}</span>

											{{ row.description }} </a>
										<div class="media-annotation">{{row.created}}</div>
									</div>

								</li>

								{% elif row.camp_alloc.status == 3 %}
								<li class="media" id="{{row.id}}">

									<div class="media-left">
										{% if row.id in logo_dict %}
										<img class="company_logo" src="{{row.id|return_logo:logo_dict}}" alt="">
										{% else %}
										<img class="company_logo" src="{{logo_dict.default}}" alt="">
										{% endif %}
										<!-- <span href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs read_notify" id="{{row.id}}"><i
                                                class="icon-mention"></i></span> -->
									</div>
									<div class="media-body">
										<span class='read' id="{{row.id}}"><i class="fa fa-times pull-right" value='1'
												aria-hidden="true"></i></span>
										<a href="/vendor-portal/pending-campaign/" class="read_notify"
											id="{{row.id}}"><span class="headfont">{{ row.title }}</span>

											{{ row.description }}</a>
										<div class="media-annotation">{{row.created}}</div>
									</div>

								</li>
								{% endif %}
								{% else %}
									<li class="media " id="{{row.id}}">
										<div class="media-left">
											{% if row.id in logo_dict %}
											<img class="company_logo" src="{{row.id|return_logo:logo_dict}}" alt="">
											{% else %}
											<img class="company_logo" src="{{logo_dict.default}}" alt="">
											{% endif %}
											<!-- <span href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs read_notify" id="{{row.id}}"><i
													class="icon-mention"></i></span> -->
										</div>
										<div class="media-body">
											<span class='read' id="{{row.id}}"><i class="fa fa-times pull-right" value='1'
													aria-hidden="true"></i></span>
											<span class="headfont read_notify" id="{{row.id}}">{{ row.title }}</span>
											<br>
											<span class="read_notify" id="{{row.id}}">
												{{ row.description }} </span>
											<div class="media-annotation">{{row.created}}</div>
										</div>
									</li>

								{% endif %}
								{% endfor %}
							</ul>
						</div>
					</li>
				</ul>
				<!--chat notificount -->
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-comments"></i>
							<span class="noticount1">{{count_chat}}</span>
							<span class="visible-xs-inline-block position-right">Chat Notification</span>
							<span class="status-mark border-orange-400"></span>

						</a>

						<div class="dropdown-menu dropdown-content">
							<div class="dropdown-content-heading">
								Chat-Notification
								<!-- <ul class="icons-list">
                                <li><a id='readall'><i class="icon-menu7"></i></a></li>
                            </ul> -->
							</div>

							<ul class="media-list dropdown-content-body width-350">
								{% for row in chat_notify %}
								{% for sender,dict in row.items %}
								{% if dict|chat_notif:'count' > 0 %}

								<li class="media">
									<div class="media-left">
										<img class="company_logo" src="{{dict|chat_notif:'logo'}}" alt="">
										<span class="badge-custom bg-danger-400 media-badge">{{dict|chat_notif:'count'}}</span>
										<!-- <a href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i
                                                  class="icon-mention"></i></a> -->
									</div>
									<div class="media-body">
										<a class='chat_read' id="{{dict|chat_notif:'chat_obj_id'}}"
											data-sender_id="{{dict|chat_notif:'sender_id'}}"><i
												class="fa fa-circle-o pull-right" title="Mark as read"></i></a>
										<a href="/client/chat-app/{{dict|chat_notif:'campaign_id'}}/"> <span
												class="headfont" title="{{sender}}">{{ sender|truncatechars:19 }}
											</span></a>
										<br>
										Campaign name : {{dict|chat_notif:'campaign_name'|truncatechars:19}}
										<div class="media-annotation">{{dict|chat_notif:'date'}}</div>
									</div>
								</li>

								{% endif %}
								{% endfor %}
								{% endfor %}
							</ul>
						</div>
					</li>
				</ul>
				{% endif %}
				<span class="navbar-text greet">|</span>
				<!-- <span class="navbar-text ">
          <a href="/logout/">Log Off</a>
        </span> -->
				<ul class="nav navbar-nav">
					<li class="nav-item dropdown dropdown-user">
						<a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle"
							data-toggle="dropdown">
							<img src="{{request.session.profilepic}}" class="rounded-circle mr-2" alt="">
							<span>{% if request.session.company %}{{request.session.company}}
								{% else %}{{request.session.username}}{% endif %}</span>
						</a>
						<ul class="dropdown-menu user_dropdown ">
							{% if request.session.onBording == 3 %}
							{% if request.session.usertype == 2 %}
							<li><a href="/vendor/vendor-account/" class=""><i class="icon-user-plus"></i> My Account</a>
							</li>
							{% elif request.session.usertype == 1 %}
							<li><a href="/client/account/" class=""><i class="icon-user-plus"></i> My Account</a></li>
							{% endif %}
							<div class="divider"></div>
							{% endif %}
							<li><a href="/logout/"><i class="icon-switch2"></i> Logout</a></li>
						</ul>
					</li>
				</ul>

			</div>
		</div>
	</div>
	<!-- /main navbar -->

	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			{% block content %}

			{% endblock %}
		</div>
</body>
<script>

	var colors = ['#52FF7A','#4AE89C','#5FFFDE','#4ADCE8','#52C4FF','#FE9DBE','#E68ED7','#EDA9FD','#BE8EE6','#B89DFE'];
	var random_color = colors[Math.floor(Math.random() * colors.length)]
	$('.default_logo').css('background',random_color)
	// notifs is being read..Akshay
	$(".read_notify").click(function () {
		var id = $(this).attr('id');
		// $(this).parentsUntil("ul").hide();
		var csrftoken = getCookie('csrftoken');
		$.ajax({
			type: "POST",
			url: "/superadmin/ReadNotification/", //Relative or absolute path to response.php file
			data: { 'id': id, 'csrfmiddlewaretoken': csrftoken, 'flag': 1 },
			success: function (data) {
				var notificount = data.notifycount;
				$(".noticount").text(notificount);

			},
			error: function (data) {

				var notificount = data.notifycount;
				$(".noticount").text(notificount);
			},
		});
	});
	// notifs is being removed
	$(".read").click(function () {
		var id = $(this).attr('id');
		$(this).parentsUntil("ul").hide();
		var csrftoken = getCookie('csrftoken');
		$.ajax({
			type: "POST",
			url: "/superadmin/ReadNotification/", //Relative or absolute path to response.php file
			data: { 'id': id, 'csrfmiddlewaretoken': csrftoken, 'flag': 2 },
			success: function (data) {
				var notificount = data.notifycount;
				$(".noticount").text(notificount);

			},
			error: function (data) {

				var notificount = data.notifycount;
				$(".noticount").text(notificount);
			},
		});
	});
	$(".chat_read").click(function (e) {
		e.preventDefault();
		var chat_obj_id = $(this).attr('id');
		var sender_id = $(this).attr('data-sender_id');
		$(this).parentsUntil("ul").hide();
		var csrftoken = getCookie('csrftoken');
		$.ajax({
			type: "POST",
			url: "/client/save_chat_status/", //Relative or absolute path to response.php file
			data: { 'chat_obj_id': chat_obj_id, 'sender_id': sender_id, 'csrfmiddlewaretoken': csrftoken },
			success: function (data) {
				$(".noticount1").text($(".noticount1").text() - 1);
			},
			error: function (data) {

			},
		});
	});
</script>

</html>