<!-- <!DOCTYPE html>
<html>
{% load custom_filters %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            overflow: auto;
        }

        /* width */
        ::-webkit-scrollbar {
            width: 5px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: rgb(0, 0, 0);
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: rgba(8, 12, 233, 0.747);
        }

        .collapsible {

            background-color: rgb(16, 179, 219);
            color: white;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
        }

        .active,
        .collapsible:hover {
            background - color: #555;
        }

        .collapsible:after {
            content: '\002B';
            color: rgb(158, 73, 73);
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

        .active:after {
            content: "\2212";
        }

        .content {
            padding: 0 18px;
            max-height: 0;
            overflow: auto;
            transition: max-height 0.2s ease-out;
            background-color: #f1f1f1;
        }
    </style>
</head>

<body>
    <h2>Site Map For User</h2>
    {% for i in global_list %}
    <button class="collapsible">Files</button>
    <div class="content">
        {% for j in i.files %}
        <h3>Name:{{ j.name }}</h3>
        <h3>Path:<a id="mylink" href="{{ j.path }}">{{ j.path }}</a></h3>
        {% endfor %}
    </div>
    <button class=" collapsible">Folders</button>
    <div class="content con_1">
        {% for j in i.folders %}
        {% for k in j %}
        <button class="collapsible">{{ k }}</button>
        {% with v=j|sitemap %}
        {% for key,value in j.items %}
        {% if key == v  %}
        <div class="content">
            <button class="collapsible">Files</button>
            <div class="content">
                {% for i in value|folder1 %}
                {% if value|folder1 %}
                <h3>Name:{{ i.name }}</h3>
                <h3>Path:<a href="{{i.path}}">{{ i.path }}</a></h3>
                {% endif %}
                {% endfor %}
            </div>

            <button class="collapsible">Folders</button>
            <div class="content">
                {% for k in value|folder2 %}
                {% if k in value %}
                <button class="collapsible">{{ k }}</button>
                {% for val in k|folder3:j %}
                <div class="content">
                    {% for i in val.files %}
                    <h3>Name:{{ i.name }}</h3>
                    <h3>Path:<a href="{{ i.path }}">{{ i.path }}</a></h3>
                    {% endfor %}
                </div>
                {% endfor %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endwith %}
        {% endfor %}
        {% endfor %}
    </div>
    {% endfor %}
    <script>
        var coll = document.getElementsByClassName(" collapsible"); var i; for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active"); var
                    content = this.nextElementSibling; if (content.style.maxHeight) {
                        content.style.maxHeight = null;
                    } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        } </script>
</body>

</html> -->



<!DOCTYPE html>
<html>

<head>
    {% load custom_filters %}
    <title>jquery-simplefolders</title>
    <!-- <link href="http://www.jqueryscript.net/css/top.css" rel="stylesheet" type="text/css"> -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
        .tree {
            margin: 0 0 0 4px;
        }

        .tree,
        .tree ul {
            list-style-type: none;
            position: relative;
            padding: 0;
            cursor: default;
            border-left: 1px dotted #ccc;
        }

        .tree ul {
            margin: 0;
            display: none;
        }

        .tree li {
            position: relative;
            margin: 0 0 0 10px;
            padding: 2px 0 2px 0;
        }

        /* extend a line to the list item */
        .tree li:before {
            position: absolute;
            top: 10px;
            left: -9px;
            height: 1px;
            width: 5px;
            border-top: 1px dotted #ccc;
            content: ' ';
        }

        /* erase all lines for last item */
        .tree li:last-child:after {
            position: absolute;
            top: 17px;
            left: -13px;
            bottom: 0;
            width: 7px;
            background-color: white;
            content: ' ';
        }

        /* add expander widget */
        .tree .expander {
            background: #fff url() no-repeat scroll;
            background-position: -64px -4px;
            position: absolute;
            top: 8px;
            left: -15px;
            height: 9px;
            width: 9px;
            cursor: pointer;
        }

        .tree .expander:hover {
            background-color: #eee;
        }

        .tree .expander.expanded {
            background-position: -78px -4px;
        }

        .tree ul.expanded {
            display: block;
        }
    </style>
</head>

<body style="margin: auto; max-width: 600px;">
    <div id="menu"></div>
    <h1 style="margin-top:100px;">SiteMap</h1>
    <p>
        {% for i in global_list %}
        <ul class=tree>
            {% for j in i.files %}
            <li><i class="fa fa-file-text" aria-hidden="true">&nbsp;</i>{{ j.name }}|<a id="mylink"
                    href="{{ j.path }}">{{ j.path }}</a></li>
            {% endfor %}

            <li>Folder
                <div class=expander><i class="fa fa-folder" aria-hidden="true"></i></div>

                <ul>
                    {% for j in i.folders %}
                    {% for k in j %}
                    <li>{{ k }}
                        <div class=expander></div>
                        <ul>
                            {% with v=j|sitemap %}
                            {% for key,value in j.items %}
                            {% if key == v  %}
                            {% for k in value|folder2 %}
                            {% if k in value %}
                            <li>{{ k }}
                                <div class="expander"></div>
                                {% for val in k|folder3:j %}
                                {% for i in val.files %}
                                <ul>
                                    <div class=expander></div>
                                    <li>{{ i.name }}|<a href="{{ i.path }}">{{ i.path }}</a></li>
                                    {% endfor %}
                                    {% endfor %}

                                    <li>branch3
                                        <div class=expander></div>
                                        <ul>
                                            <li>another branch</li>
                                            <li>another branch
                                                <div class=expander></div>
                                                <ul>
                                                    <li>another branch</li>
                                                    <li>another branch</li>
                                                    <li>another branch</li>
                                                </ul>
                                            </li>
                                            <li>another branch</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            {% endif %}
                            {% endfor %}

                            {% for i in value|folder1 %}
                            {% if value|folder1 %}
                            <li>{{ i.name }}|<a href="{{i.path}}">{{ i.path }}</a></li>
                            {% endif %}
                            {% endfor %}

                            {% endif %}
                            {% endfor %}
                            {% endwith %}

                        </ul>
                    </li>
                    {% endfor %}
                    {% endfor %}

                </ul>
            </li>
        </ul>
        {% endfor %}

        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-36251023-1']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
        <script type="text/javascript">
            $(document).delegate('.expander', 'click', function () {
                $(this).toggleClass('expanded')
                    .nextAll('ul:first').toggleClass('expanded');
                return true;
            });

        </script>


</body>

</html>