{% extends "header/cheader.html" %}
{% load static %}
{% block scripts %}
{% include "custom_datafields/create_custom_datafields_head.html" %}
{% endblock %}
{% block scripts1 %}
{% include "custom_datafields/custom_datafields_css.html" %}
{% endblock %}
{% block content %}

<!-- Main content -->
{% load range %}
{% load humanize %}

<div class="content-wrapper">
    <div class="content">
        <div class="row" style="margin-left: -20px;margin-right: -27px;">
            <div class="col-md-12">
                <div class="border-top-lg border-top-primary">
                    <div class="page-header page-header-default"
                        style="margin-bottom: 3px !important;margin-top: -24px !important;">
                    </div>
                </div>
                <div class="panel panel-height panel-flat">
                    <div class="div_loader"></div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <label class="note"><i>Note: Header name as Q1, Q2, Q3, Q4... are reserved keywords for
                                    custom questions
                                    and cannot be used as custom header</i></label>
                            <div id="handle" class="row">
                                <!-- <div id="progress-wrp" style="display:none">
                                        <div class="progress-bar"></div>
                                        <div class="status">0%</div>
                                    </div> -->
                                <!-- <ul class="list-group list-group-sortable-connected" id="custom_heder_csv">
                                    </ul> -->
                                <div class="col-md-4" style="margin-top: 10px;padding-left: 0;">
                                    <input type="text" class="form-control" id="header"
                                        placeholder="Enter Header Name" />
                                </div>
                                <div class="col-md-4" style="margin-top:16px">
                                    <a class="add_custom_header"><i class="icon-plus-circle2"></i> Add Header</a>
                                </div>
                                <ul class="list-group list-group-sortable-connected" style="margin-top: 65px;"
                                    id="custom_heder_csv">
                                </ul>
                            </div>
                        </div>
                        <div class="dropdown-content">
                            <div class="dropdown-menu dropdown-toggle-filter-header-open"
                                style="position: relative;display:none;margin-left: 10px;">
                                <div class="col-md-12">
                                    <div class="position-fixed" style="margin-bottom: 5px;">
                                        <input id="deafault_header_search" onkeyup="return myFunction()"
                                            class="form-control" type="text" placeholder="Search" aria-label="Search">
                                    </div>
                                    <div class="col-md-12"
                                        style="float:left;overflow-y:auto;height: 250px;margin-left: -8px;">
                                        <ul class="list-group" id="default_header">
                                            {% for head in header %}
                                            <li style="border-bottom: 1px solid #e6e3e3;">
                                                <a class="list-group-item list-group-item-action "
                                                    style="padding:10px 15px !important;">
                                                    <!-- <input type="checkbox" style="display: none" /> -->
                                                    <input type="radio" class="radiobtn" name="radio" />
                                                    <i class="fa fa-check" style="display: none;height: 0px;"></i>
                                                    <span style="padding-left:20px" class="default_header_name">{{head}}
                                                    </span>
                                                </a>
                                            </li>
                                            {%endfor%}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-12" style="padding-top: 10px;">
                                    <button type="button" style="margin-left:5px;"
                                        class="btn btn-primary dropdown-toggle-filter-header-close pull-right"
                                        name="button"> Close</button>
                                    <button type="button" class="btn btn-primary pull-right custom_header_submit"
                                        name="button"> Save</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" style="position: fixed;right: 0;">
                            <div class="" style="padding: 10%;">
                                <div class="breadcrumb-line" style="padding: 5%;">
                                    <div class="col-md-12">
                                        <label class="fileContainer btn import lab map_btn icons"
                                            style="margin-top: 5%;">
                                            <i class="fas fa-file-import"></i> import
                                            <input type="file" id="file_upload_btn" camp_id="{{camp_id}}"
                                                accept=".csv, .xlsx" />
                                        </label>
                                    </div>
                                    
                                    <div class="col-md-12 saved_temp_drop {% if not defaults %} hidden {% endif %}" style="margin-top: 5%;">
                                        <div class="btn-group  map_btn">
                                            <button type="button" class="btn btn-primary map_btn dropdown-toggle icons"
                                                data-toggle="dropdown">SAVED template <span
                                                    class="caret"></span></button>
                                            <ul class="dropdown-menu dropdown-menu-right use_as_default_drop">
                                                {% for d in array %}
                                                <li><a href="#" class="get_default" data-list="{{d}}"
                                                        camp_id="{{camp_id}}"><i class="icon-menu7"></i> {{d}}</a></li>
                                                <li class="divider"></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-12" style="margin-top: 5%;">
                                        <button type="button" id="set_defaults" class="btn map_btn icons"
                                            camp_id="{{camp_id}}"> <i class="fa fa-ticket" aria-hidden="true"></i>
                                            Save as template
                                        </button>
                                        <input type="hidden" id="temp_map_data" value="">
                                    </div>
                                    <!-- <div class="col-md-12" style="margin-top: 5%;">
                                        <a href="/media/delivery_file.csv">
                                            <button type="button" class="btn map_btn download icons"
                                                style="color: #fff;"><i class="fa fa-arrow-circle-down"
                                                    aria-hidden="true"></i> deliverables</button>
                                        </a>
                                    </div> -->
                                    <div class="col-md-12" style="margin-top: 5%;">
                                        <button type="button" class="btn map_btn preview icons" camp_id="{{camp_id}}"><i
                                                class="fa fa-eye icons" aria-hidden="true"></i> Preview</button>
                                    </div>

                                    <div class="col-md-12" style="margin-top: 5%;">
                                        <button type="button" camp_id="{{camp_id}}" id="clear_action"
                                            class="btn clear map_btn icons">
                                            <i class="fa fa-trash icons" aria-hidden="true"></i> clear
                                        </button>
                                    </div>
                                    <!-- <div class="col-md-12" style="margin-top: 5%;">
                                        <a href="{{back_url}}">
                                            <button type="button" class="btn back map_btn icons">
                                                <i class="fa fa-arrow-circle-left icons" aria-hidden="true"></i>
                                                Back
                                            </button>
                                        </a>
                                    </div> -->
                                    <div class="col-md-12" style="margin-top: 5%;">
                                        <button type="button" id="saveHeaders" camp_id="{{camp_id}}"
                                            class="btn btn-primary map_btn icons"> Submit</button>
                                    </div>
                                </div>
                                <ul class="breadcrumb" style="content: '';">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Remote source -->
                <div id="modal_remote" class="modal">
                </div>
                <!-- /remote source -->
            </div>
        </div>
    </div>
</div>
</div>
<!-- /main content -->
{% include "custom_datafields/create_custom_datafields_js.html"%}
<Style>
.mapped_with{
    background-color:#2d9221;
    border: 1px solid;
}
</Style>

<script>
    function myFunction() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById("deafault_header_search");
        filter = input.value.toUpperCase();
        ul = document.getElementById("default_header");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>

{% endblock %}