<!--SelectBox JS-->
{% load static %}
<script src="{% static 'js/jquery.sortable.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/bootstrap_select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/notifications/pnotify.min.js' %}"></script>

<!-- Theme JS files -->
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/tags/tagsinput.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/tags/tokenfield.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/ui/prism.min.js' %}"></script>
<script type="text/javascript"
    src="{% static 'assets/js/plugins/forms/inputs/typeahead/typeahead.bundle.min.js' %}"></script>

<script type="text/javascript" src="{% static 'assets/js/core/app.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'assets/js/pages/form_tags_input.js' %}"></script> -->

<script type="text/javascript" src="{% static 'assets/js/plugins/ui/ripple.min.js' %}"></script>