{% for head in header %}
<li class="list-group-item list-group-item-info" style="border: 2px solid #fff">
    <div class="row">
        <div class="col-md-12 list-group-item list-group-item-info">

            <span class="custom_header_name">{{head}}</span>
            <i class="icon-filter3 pull-right  dropdown-toggle-filter-header"></i>
            <i class="glyphicon glyphicon-remove pull-right custom_header_close"></i>
        </div>
    </div>
</li>
{%endfor%}
<input type="hidden" class="mapped_data" value="{{mapped}}">