{% extends "header/cheader.html" %}
{% load static %}
{% block scripts %}
{% include "campaign/accounthead.html" %}
{% endblock %}

{% block scripts1 %}

{% include "campaign/css/account.css" %}

{% endblock %}

{% block content %}

<!-- Main sidebar -->
{% include "side/clientside.html" %}
<!-- /main sidebar -->
<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: center;
  padding: 16px;
  border: 1px solid #ddd;
}
th{
    background:#8ccef5;
    font-weight:bold;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
</style>
<style>
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.td_div{
    max-height:25vh;
    overflow:auto;
}
.head_first{
    width:20%;
}
.panel-heading{
    font-weight:bold;
    color:#a29494;
}
.field_label{
    background: #b3d6f1;
    padding: 1% 10px 1% 10px;
    border-left: 3px solid #000;
}
</style>

<!-- Main content -->
<div class="content-wrapper">


    <!-- Content area -->
    <div style="margin-top: 47px;padding: 10px;">
        <div class="row">
          <div class="col-md-12 ">
            <!-- Top Clients List -->

            <div class="panel panel-height panel-flat" style="padding: 4%;">
                <div>
                    <label class="panel-heading">Delivery Header Preview</label>
                    <button type="button" class="" name="button">Save</button>
                </div>

                <table>
                  <tr>
                    <th  class="head_first">Header</th>
                    <th>Display</th>
                    <th>Accepted Display</th>
                  </tr>
                  <tr>
                    <td>Jill</td>
                    <td>Smith,Resize this responsive page to see the effect!,Resize this responsive page to see the effect!</td>
                    <td>50</td>
                  </tr>
                  <tr>
                    <td>Jackson</td>
                    <td>
                        <div class="td_div">
                            <label class="field_label" for="">Pune</label>
                            <label class="field_label" for="">Mumbai</label>
                            <label class="field_label" for="">Latur</label>
                            <label class="field_label" for="">Kolhapur</label>
                            <label class="field_label" for="">Nagpur</label>
                        </div>
                    </td>
                    <td>
                        <div class="td_div">
                            <label class="field_label" for="">Pune</label>
                            <label class="field_label" for="">Mumbai</label>
                            <label class="field_label" for="">Latur</label>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Adam</td>
                    <td>Johnson</td>
                    <td>Smith,Resize this responsive page to see the effect!,Resize this responsive page to see the effect!</td>
                  </tr>
                </table>
            </div>
            <!-- /highlighting rows and columns -->





            <!-- Footer -->
            <div class="footer text-muted" style="display: none;">
                &copy; 2018. <a href="#">Trigensoft</a> by <a href="Trigensoft.com" target="_blank">Eugene Kopyov</a>
            </div>
            <!-- /footer -->

        </div>
        <!-- /content area -->
    </div>
</div>
<!-- /main content -->
</div>
</div>
<!-- /page content -->

</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" onclick="closeModel()" class="close">&times;</button>
                <h4 class="modal-title">On Boarding</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">Client</a></li>
                    <li><a data-toggle="tab" href="#menu1">Vendor</a></li>
                </ul>

                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">

                        <div class="panel panel-flat">
                            <table id="data" class="table datatable-show-all">
                                <thead>
                                    <tr>
                                        <th>Company Name</th>
                                        <th>Stage</th>
                                        <th>Status</th>
                                        <th>Next Step</th>
                                        <th>Last Update</th>
                                        <th>History</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Marth</td>
                                        <td>1</td>
                                        <td><span class="label label-info">Warm</span></td>
                                        <td>3</td>
                                        <td>16-June-2018</td>
                                        <td><button type="button" class="btn btn-info btn-float btn-rounded legitRipple"
                                                data-toggle="modal" data-target="#modal_iconified"><i class="glyphicon glyphicon-search"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>Jackelyn</td>
                                        <td>--</td>
                                        <td>--</td>
                                        <td>--</td>
                                        <td>16-June-2018</td>
                                        <td><button type="button" class="btn btn-info btn-float btn-rounded legitRipple"
                                                data-toggle="modal" data-target="#modal_iconified"><i class="glyphicon glyphicon-search"></i></button></td>

                                    </tr>
                                    <tr>
                                        <td>Jackelyn</td>
                                        <td>--</td>
                                        <td>--</td>
                                        <td>--</td>
                                        <td>16-June-2018</td>
                                        <td><button type="button" class="btn btn-info btn-float btn-rounded legitRipple"
                                                data-toggle="modal" data-target="#modal_iconified"><i class="glyphicon glyphicon-search"></i></button></td>

                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <div class="panel panel-flat">
                            <table class="table datatable-show-all">
                                <thead>
                                    <tr>
                                        <th>Company Name</th>
                                        <th>Stage</th>
                                        <th>Status</th>
                                        <th>Next Step</th>
                                        <th>Last Update</th>
                                        <th>History</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Marth</td>
                                        <td>--</td>
                                        <td>--</td>
                                        <td>--</td>
                                        <td>16-June-2018</td>
                                        <td><button type="button" class="btn btn-info btn-float btn-rounded legitRipple"
                                                data-toggle="modal" data-target="#modal_iconified"><i class="glyphicon glyphicon-search"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>Jackelyn</td>
                                        <td>--</td>
                                        <td>--</td>
                                        <td>--</td>
                                        <td>16-June-2018</td>
                                        <td><button type="button" class="btn btn-info btn-float btn-rounded legitRipple"
                                                data-toggle="modal" data-target="#modal_iconified"><i class="glyphicon glyphicon-search"></i></button></td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
                <div class="modal-footer" style="display: none;">
                    <button type="button" style="background-color:#00BCD4;" class="btn btn-default" onclick="closeModel()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page container -->
<div id="modal_iconified" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">History</h5>
                <hr>
            </div>

            <div class="modal-body">

                <div class="row">
                    <table class="table datatable-show-all">
                        <thead>
                            <tr>
                                <th>Sr No.</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Activity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>16-May-2018</td>
                                <td>5:24 PM</td>
                                <td>Project Started</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>17-May-2018</td>
                                <td>5:24 PM</td>
                                <td>Project Completed</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="modal-footer">
                <button class="btn btn-link" data-dismiss="modal"><i class="icon-cross"></i> Close</button>

            </div>
        </div>
    </div>
</div>
{% include "campaign/js/accountjs.html"%}
<script>
    $(function () {
        $("#Account").addClass("active");
    });
    // Check if user has entered spaces as password...Akshay G.
    $(".pwd_field").on({
        keydown: function(e) {
            if (e.which === 32)
            return false;
        },
        change: function() {
            this.value = this.value.replace(/\s/g, "");
        },
        paste: function(e){
            var pasteData = e.originalEvent.clipboardData.getData('text');
            if(pasteData.trim().length == 0){
                return false;
            }
        }
    });
</script>
<style type="text/css">
    .fa-upload{
        color: #fff!important;
        font-size: 13px!important
      }
</style>
{% endblock %}
