{% load range %}
{% load custom_filters %}
<div class="modal-dialog modal-full">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h5 class="modal-title"><center> Delivery Header Preview </center></h5>
        </div>

        <div class="modal-body">
                <button id="preview_data_save" class="btn submit-btn legitRipple save_head">SAVE</button>
                <div class="scrollit" style="padding: 1%;">
                <table>
                    <tr>
                        <th class="head_first">Header</th>
                        <th class="td_width">Display</th>
                        <th class="td_width">Accepted Display</th>
                    </tr>
                    {% for i in data %}
                    <tr>
                        <td>{{i.Headers}}</td>
                        <td class="td_width">
                            <div class="td_div">

                                <input type="text" header="{{i.Headers}}" header_type="Display_values"
                                    value="{{i.Display_values|listTostring}}" class="tags-input">
                                <!-- {% for j in i.Display_values %}
                                {% if j %}
                                <label class="field_label" for="">{{j}}</label>
                                {% endif %}
                                {% endfor %} -->
                            </div>
                        </td>
                        <td class="td_width">
                            <div class="td_div">
                                <input type="text" header="{{i.Headers}}" header_type="Accepted_values"
                                    value="{{ i.Accepted_values|listTostring}}" class="tags-input">
                                <!-- {% for k in i.Accepted_values%}
                                {% if k %}
                                <label class="field_label" for="">{{k}}</label>
                                {% endif %}
                                {% endfor %} -->
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>


    </div>
</div>
<script>

    //abhi 15-aug-2019
    //GLOBAL VAR
    var delivery_list = {{ data| safe}};
    var camp_id = {{ camp_id| safe}};
    var delivery_header = {{ header | safe}};

    //abhi 15-aug-2019
    //inputTags initialize

    $('.tags-input').on('tokenfield:initialize', function (e) {
        $(this).parent().find('.token').addClass('bg-success')
    });
    $('.tags-input').tokenfield();
    $('.tags-input').on('tokenfield:createdtoken', function (e) {
        $(e.relatedTarget).addClass('bg-success')
    });

    //abhi 15-aug-2019
    //change global delivery_list when changes done in preview
    $('.tags-input').on('change', function (event) {
        Headers = $(this).attr('header');
        header_type = $(this).attr('header_type');
        values = $(this).val();
        delivery_list.forEach(element => {
            if (element.Headers == Headers)
                if (header_type == 'Display_values') {
                    element.Display_values = values.split(/[\s,]+/);
                } else {
                    element.Accepted_values = values.split(/[\s,]+/);
                }
        });

    });

    //abhi - 15 - aug - 2019
    //saving data into database when chanegs done in preview  delivery template.
    $('#preview_data_save').on('click', function (event) {
        $.ajax({
            type: "POST",
            url: '/client/ajax/save_delivery_preview_data/',
            dataType: 'json',
            data: { 'header': JSON.stringify(delivery_header), 'temp_map_data': JSON.stringify(delivery_list), 'camp_id': camp_id, csrfmiddlewaretoken: getCookie('csrftoken') },
            success: function (data) {
                $("#temp_map_data").val(JSON.stringify(delivery_list));
                swal({
                    title: 'Delivery Template Preview',
                    text: 'Data Saved Successfully!',
                    icon: 'success',
                    buttons: 'ok',
                })
            }
        });
    });
</script>