{% extends "header/cheader.html"%}

{% load static %}
{% block scripts%}

{% include 'reports/campaign_report/reporthead.html'%}
{% endblock %}
{% block content %}

<!-- Page container -->
<div class="page-container">
	<!-- Page content -->
	<div class="page-content">
		<!-- Main content -->
		<div class="content-wrapper">
			<!-- Content area -->
			<div class="content">
				<div class="col-md-3">
					<div class="panel-group" id="accordion">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h5 class="panel-title" data-toggle="collapse" data-parent="#accordion"
									href="#collapse1">
									Campaign Report
								</h5>
								<span class="panel-title switch_div hidden pull-right"
									style="top: -25px;font-size: 20px;">
									<i class="fa fa-table switch top-table" aria-hidden="true"></i>
									<!-- <i class="fa fa-pie-chart top-pie" aria-hidden="true"></i> -->
									<i class="fa fa-bar-chart switch top-bar" aria-hidden="true"></i>
								</span>
							</div>
							<div id="collapse1" class="panel-collapse collapse in">
								<div class="panel-body ">
									<!-- <div class="col-md-12 form-group">
										<label> Campaign Name </label>
										<select class="select-menu-color lead_filter" id="campaign_name_filter">
											<option value="0">Select Campaign</option>
											{% for camp in all_camp%}
											{% if camp.status == 1 or camp.status == 4 %}
											<option value="{{camp.id}}">{{camp.name}}</option>
											{% endif%}
											{%endfor%}
										</select>
									</div> -->
									<div class="col-md-12 form-group" style="padding: 0px;">
										<div class="col-md-5">
											<label><input type="radio" name="date_flag" data-flag="start_date" class="date_flag">Start Date </label>
										</div>
										<div class="col-md-5">
											<label class="label_name"><input type="radio" name="date_flag" data-flag="end_date" class="date_flag">End Date </label>
										</div>
							
									</div>
									<div class="col-md-12 form-group" style="padding: 0px;">
										<div class="col-md-5">
											<label for="datepicker_from"> From :</label>
											<input type="text" class="camp_date_picker" id="datepicker_from" value="" disabled>
										</div>
										<div class="col-md-5">
											<label for="datepicker_to"> To :</label>
											<input type="text" class="camp_date_picker" id="datepicker_to" value="" disabled>
										</div>
										<div class="col-md-2">
											<label for="" style="padding: 0px!important;color: white;">asd</label>
											<button class="btn cross_btn reset_date" style="right: 2vh;">X</button></div>
										</div>
									<!-- <div class="col-md-12 form-group" style="padding: 0px;">
										<div>
											<label><input type="radio" name="date_flag" data-flag="start_date" class="date_flag">Start Date </label>
											<label><input type="radio" name="date_flag" data-flag="end_date" class="date_flag">End Date </label>
										</div>
										<div class="col-md-5">
											<input type="text" class="camp_date_picker" id="datepicker_from" value="" disabled>
										</div>
										<div class="col-md-5">
											<input type="text" class="camp_date_picker" id="datepicker_to" value="" disabled>
										</div>
										<div class="col-md-2"><button class="btn btn-danger reset_date" style="top: 5vh;right: 2vh;">X</button></div>
									</div> -->
									{% for filter in filter_data %}
									<div class="col-md-12 form-group">
										<label> CPL <span id="cpl_range"></span></label>
										<div class="range-slider">
											<input type="hidden" name="min_max_cpl" id="min_max_cpl" min="{{filter.min_cpl}}" max="{{filter.max_cpl}}">
											<input type="text" class="js-range-slider-cpl slider_control" value="" />
										</div>
										<div class="extra-controls form-inline">
											<div class="form-group">
												<input type="text" class="js-input-from-cpl hidden form-control" value="0" />
												<input type="text" class="js-input-to-cpl hidden form-control" value="0" />
											</div>
										</div>
									</div>
									<div class="col-md-12 form-group">
										<label> Target <span id="target_range"></span></label>
										<div class="range-slider">
											<input type="hidden" name="min_max_vol" id="min_max_vol" min="{{filter.min_target}}"
												max="{{filter.max_target}}">
											<input type="text" class="js-range-slider-vol slider_control" value="" />
										</div>
										<div class="extra-controls form-inline">
											<div class="form-group">
												<input type="text" class="js-input-from-vol hidden form-control" value="0" />
												<input type="text" class="js-input-to-vol hidden form-control" value="0" />
											</div>
										</div>
									</div>
									<div class="col-md-12 form-group">
										<label> Custom Questions <span id="custom_ques"></span></label>
										<div class="range-slider">
											<input type="hidden" name="custom_count" id="custom_count" min="{{filter.min_custom}}"
												max="{{filter.max_custom}}">
											<input type="text" class="js-range-slider-custom slider_control" value="" />
										</div>
										<div class="extra-controls form-inline">
											<div class="form-group">
												<input type="text" class="js-input-from-custom hidden form-control" value="0" />
												<input type="text" class="js-input-to-custom hidden form-control" value="0" />
											</div>
										</div>
									</div>
									{% endfor %}
									<div class="col-md-12 form-group">
										<label> Geo </label>
										<select class="form-control campaign_filter select" data-type="geo" multiple="multiple">
										<!-- {{filter_data}} -->
										{% for filter in filter_data %}
											{% if filter.geo %}
												{% for cnt in filter.geo %}
												<option value="{{cnt}}">{{cnt}}</option>
												{% endfor %}
											{% endif %}
										{% endfor %}
										</select>

									</div>
									<div class="col-md-12 form-group">
										<label>Campaign Type </label>
										<select class="form-control campaign_filter select" data-type="type" multiple="multiple">
											{% for filter in filter_data %}
												{% if filter.campaign_types %}
													{% for type in filter.campaign_types %}
													<option value="{{type}}">{{type}}</option>
													{% endfor %}
												{% endif %}
											{% endfor %}
										</select>
									</div>
									<div class="col-md-12 form-group">
										<label> Status</label>
										<select class="form-control campaign_filter select" data-type="status" multiple="multiple">
											<!-- <option value="3">Pending</option> -->
											<!-- <option value="0">Draft</option> -->
											<option value="5">Assigned</option>
											<option value="1">Live</option>
											<option value="5">Completed</option>
										</select>	
									</div>
								</div>
							</div>
						</div>
						<!-- <div class="panel panel-default ">
							<div class="panel-heading" data-toggle="collapse" data-parent="#accordion"
								href="#collapse2">
								<h5 class="panel-title">
									Custom Filter
								</h5>
							</div>
							<div id="collapse2" class="panel-collapse collapse">
								<div class="panel-body ">

								</div>
							</div>
						</div> -->
					</div>
				</div>
				<div class="col-md-9">
					<div class="panel panel-flat col-md-12 box-table"
						style="height:93vh!important;overflow: hidden;overflow-y: scroll;">
						<div class="div_loader hidden"></div>
						<!-- <div class="no_data">Please Select Campaign</div> -->
						<div class="table-responsive-sm lead_table">
							<table class="table datatable" id="campaign_report_table">
								<thead>
									<tr>
										<th>Campaign Name</th>
										<th>Client Name</th>
										<th>Start Date</th>
										<th>End Date</th>
										<th>CPL</th>
										<th>Target</th>
										<th>Custom Questions</th>
										<th>Geo</th>
										<th>Outreach Method</th>
										<th>Type</th>
										<th>Status</th>
									</tr>
								</thead>
								<tbody>
									{% for camp in campaign_list %}
									<tr>
										<td>{{camp.campaign_name}}</td>
										<td>{{camp.client_name}}</td>
										<td>{{camp.start_date}}</td>
										<td>{{camp.end_date}}</td>
										<td>{{camp.cpl}}</td>
										<td>{{camp.quatity}}</td>
										<td>{{camp.custom_qutions}}</td>
										<td>{{camp.geo}}</td>
										<td>{{camp.method}}</td>
										<td>{{camp.type}}</td>

										<td>{% if camp.status == 1 %}
											<span class="label label-success">Live</span>
											{% elif camp.status == 2 %}
											<span class="label label-primary">Paused</span>
											{% elif camp.status == 3 %}
											<span class="label label-info">Pending</span>
											{% elif camp.status == 4 %}
											<span class="label label-purple bg-primary">Completed</span>
											{% elif camp.status == 5 %}
											<span class="label label-purple bg-primary">Assigned</span>
											{% elif camp.status == 0 %}
											<span class="label label-purple bg-primary">Incomplete</span>
											{% endif %}
										</td>
							
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="panel panel-flat col-md-4 hidden">
					<div class="panel-heading">
						<h5 class="panel-title">Campaign Details reports </h5>
					</div>

					<div class="panel panel-white">
						<div class="panel-heading">
							<h6 class="panel-title top">
								<span class="pull-left">
									<i class="fa fa-table top-table" aria-hidden="true"></i>
									<i class="fa fa-pie-chart top-pie" aria-hidden="true"></i>
									<!-- <i class="fa fa-bar-chart top-bar" aria-hidden="true"></i> -->
								</span>
								<a class="collapsed pull-right" data-toggle="collapse" data-parent="#accordion1"
									href="#accordion-group2"><i class="fa fa-filter" style="font-size:20px"></i><span
										style="padding: 10px;">Filter</span><i class="fa fa-times"
										aria-hidden="true"></i></a>

							</h6>
						</div>
						<div id="accordion-group2" class="panel-collapse collapse">
							<div class="panel-body">
								

								<div class="col-md-12">
									<div class="col-md-2">
										<label> Campaign Name </label>
										<select class="select-menu-color">
											<option value="AZ">Test for Dan </option>
											<option value="CO">demoLeadValidation</option>
											<option value="ID">StreamSet ABM CS ...</option>
											<option value="WY">demo 26 RFQ</option>
											<option value="WY">21 DEMO RFQ</option>
										</select>
									</div>

									<div class="col-md-2">
										<label> Start Date </label>
										<input type="text" class="form-control daterange-single" value="03/18/2013">
									</div>
									<div class="col-md-2">
										<label> End Date </label>
										<input type="text" class="form-control daterange-single" value="03/18/2013">
									</div>
									<div class="col-md-2">
										<label> Custom Qutions </label>
										<select class="select-menu-color">
											<option value="AZ">1</option>
											<option value="CO">2</option>
											<option value="ID">3</option>
											<option value="WY">4</option>
										</select>
									</div>
									<div class="col-md-2">
										<label> CPL Range</label>
										<div class="slidecontainer">

										</div>

									</div>
									<div class="col-md-2">
										<label> Target Range</label>
										<div class="slidecontainer1">

										</div>
									</div>
								</div>
								<div class="col-md-12">

									<div class="col-md-2">
										<label> Geo</label>
										<select class="select-menu-color">
											<option value="AZ">India</option>
											<option value="CO">USA </option>
											<option value="ID">UK</option>
											<option value="WY">Canada</option>
										</select>
									</div>
									<div class="col-md-2">
										<label> Out Reach Method</label>
										<select class="select-menu-color">
											<option value="AZ">Email</option>
											<option value="CO">Tele</option>
											<option value="ID">Social</option>
											<option value="WY">Hybrid</option>
										</select>
									</div>
									<div class="col-md-2">
										<label> Type </label>
										<select class="select-menu-color">
											<option value="AZ">RFQ</option>
											<option value="CO">Normal</option>
										</select>
									</div>
									<div class="col-md-2">
										<label> Priority</label>
										<select class="select-menu-color">
											<option value="AZ">High</option>
											<option value="CO">Low</option>
											<option value="ID">Medium</option>

										</select>
									</div>
									<div class="col-md-2">
										<label> Status</label>
										<select class="select-menu-color">
											<option value="AZ">Pending</option>
											<option value="CO">Assing</option>
											<option value="ID">Live</option>
											<option value="WY">Completed</option>
										</select>
									</div>
									<div class="col-md-2" style="top: 45px;">
										<button type="button" class="btn btn-primary pull-right"> Filter</button>
									</div>

								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="panel panel-flat col-md-8 hidden">

					<table class="table datatable-basic" style="display: ;">
						<thead>
							<tr>
								<th>Campaign Name</th>
								<th>Client Name</th>
								<th>Start Date</th>
								<th>End Date</th>
								<th>Custom Qutions</th>
								<th>CPL Range</th>
								<th>Target Range</th>
								<th>Geo</th>
								<th>Out Reach Method</th>
								<th>Type</th>
								<th>Priority </th>
								<th>Status</th>
								<!-- <th class="text-center">Actions</th> -->
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
					<span class="col-md-6 chartbox">
						<div id="chartdiv"></div>
					</span>
					<span class="col-md-6 chartbox1">
						<div id="chartdiv2"></div>
					</span>
					<span class="col-md-12 chartbox3">
						<div id="chartdiv1"></div>
					</span>
				</div>
			</div>
		</div>

		<!-- /content area -->

	</div>
	<!-- /main content -->

</div>
<!-- /page content -->

</div>
<!-- /page container -->

</body>
{% include 'reports/campaign_report/campaign_chart_js.html'%}
{% include 'reports/campaign_report/campaign_filter_js.html'%}
{% endblock %}