<script>

        var campaign_id = vendor_id = tc_status = start_date = end_date = geo = 0
        var table
        var theIndex
        var custom
        // lead filter report js    
        $(document).ready(function () {
            $("#datepicker_from").flatpickr(
                {
                    altInput: true,
                    altFormat: "F j, Y",
                    dateFormat: "Y-m-d",
    
                });
            $("#datepicker_to").flatpickr(
                {
                    altInput: true,
                    altFormat: "F j, Y",
                    dateFormat: "Y-m-d",
    
                });
    
            $('.switch').click(e => {
                $('.table_div').toggleClass('hidden')
                $('.chart_div').toggleClass('hidden')
            })

            $('#campaign_report_table').DataTable()
            // $('.lead_filter').on('change', function () {
            //     $('.campaign_table').addClass('hidden')
            //     filter_id = $(this).attr('id'); //get id of filters
            //     selected_id = $(this).val();   // get values from filters
            //     assing_ids(filter_id, selected_id); // assing values in global variables
            //     selected_text = $(this).find("option:selected").text(); //get selected text of filters
            //     span_filter_id = '#' + filter_id + '_span';
            //     close_filter_id = filter_id + '_close';
            //     if (selected_text != '' && selected_text != "Select Campaign") {
            //         selected_text = `${selected_text} <span class="close_filter" filter_id="${filter_id}" id="${span_filter_id}"><i class="fa fa-times" aria-hidden="true"></i></span>`;
            //         $(span_filter_id).show();
            //         $(span_filter_id).html(selected_text);
            //     } else {
            //         if (selected_text == "Select Campaign") {
            //             $('#leadReport_table').DataTable().clear()
            //             $('#leadReport_table thead tr').empty();
            //             $('#leadReport_table').DataTable().destroy()
            //             $('#campaign_vendor_filter').empty()
            //         }
            //     }
            //     load_data_table()
            // });
    
            //close Filter function
            // $('#filter_ul').on('click', '.close_filter', function (event) {
            //     close_filter_id = $(this).attr('id');
            //     if (filter_id == 'campaign_name_filter')
            //         $(close_filter_id).hide();
            //     else if (filter_id == 'campaign_status_filter')
            //         $(close_filter_id).hide();
            //     else if (filter_id == 'campaign_vendor_filter')
            //         $(close_filter_id).hide();
            //     else if (filter_id == 'campaign_tc_status_filter')
            //         $(close_filter_id).hide();
            //     else if (filter_id == 'campaign_geo_filter')
            //         $(close_filter_id).hide();
            // });
    
            //set data in global variables.
            // function assing_ids(filter_id, id) {
            //     if (filter_id == 'campaign_name_filter') {
            //         campaign_id = id
            //         load_vendor_list(campaign_id);
            //         load_campaign_geo(campaign_id);
            //     }
            //     else if (filter_id == 'datepicker_from')
            //         start_date = id
            //     else if (filter_id == 'datepicker_to')
            //         end_date = id
            //     else if (filter_id == 'campaign_status_filter')
            //         status = id
            //     else if (filter_id == 'campaign_vendor_filter')
            //         vendor_id = id
            //     else if (filter_id == 'campaign_tc_status_filter')
            //         tc_status = id
            //     else if (filter_id == 'campaign_geo_filter')
            //         geo = id
            // }
    
            // //load vendor list according to campaign 
            // function load_vendor_list(campaign_id) {
            //     if (campaign_id > 0) {
            //         token = getCookie('csrftoken');
            //         $.ajax({
            //             type: 'post',
            //             url: '/client/ajax/get_vendor_list_campaign/',
            //             data: { 'camp_id': campaign_id, csrfmiddlewaretoken: token },
            //             success: function (data) {
            //                 // $('#campaign_vendor_filter').html(data);
            //                 // console.log(data)
            //                 // vendor = JSON.parse(data.vendors)
            //                 data.vendors.forEach(element => {
            //                     $option = $('<option />')
            //                     $($option).val(`${element.id}`)
            //                     $option.append(`<label><input type="checkbox" value="${element.id}" >${element.name}</label>`)
            //                     $('#campaign_vendor_filter').append($option)
            //                 })
            //             },
            //             failure: function (error) {
            //                 alert("fail");
            //             }
            //         });
            //     }
            // }
            // //load geo list according to campaign 
            // function load_campaign_geo(campaign_id) {
            //     if (campaign_id > 0) {
            //         token = getCookie('csrftoken');
            //         $.ajax({
            //             type: 'post',
            //             // url: '/client/ajax/get_geo_list_campaign/',
            //             data: { 'camp_id': campaign_id, csrfmiddlewaretoken: token },
            //             success: function (data) {
            //                 $('#campaign_geo_filter').html(data);
            //             },
            //             failure: function (error) {
            //                 alert("fail");
            //             }
            //         });
            //     }
            // }
            // //create CREF token
            // function getCookie(name) {
            //     var cookieValue = null;
            //     if (document.cookie && document.cookie !== '') {
            //         var cookies = document.cookie.split(';');
            //         for (var i = 0; i < cookies.length; i++) {
            //             var cookie = jQuery.trim(cookies[i]);
            //             // Does this cookie string begin with the name we want?
            //             if (cookie.substring(0, name.length + 1) === (name + '=')) {
            //                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            //                 break;
            //             }
            //         }
            //     }
            //     return cookieValue;
            // }
            date_flag=''
            $('.date_flag').change(function(){
                date_flag = $(this).data('flag')
                $('.camp_date_picker').removeAttr('disabled')
            })
            $('#datepicker_from, #datepicker_to').change(function () {
                // $('#leadReport_table').DataTable().draw();
                start_date = $('#datepicker_from').val()
                end_date = $('#datepicker_to').val()
                
                console.log(start_date + end_date)
                if (start_date != '' && end_date != '') {
                    $('#campaign_start_date_filter_span').show();
                    selected_text = `${$('#datepicker_from').next('input').val()} - ${$('#datepicker_to').next('input').val()}<span class="close_filter" filter_id="date_filter" id="#campaign_start_date_filter_span"><i class="fa fa-times" aria-hidden="true"></i></span>`;
                    $('#campaign_start_date_filter_span').html(selected_text);
                }
                update_campaign_table()
            });
    
            custom = []
            // $(document).on('change','.lead_custom_filter',function(){
            //     var name = $(this).attr('id')
            //     $('.lead_custom_filter').each(function(element) {
            //         if (name == $(this).attr('id')){
            //             if (custom.length > 0){
            //                 inserted_ele = custom.map(function (el) { return Object.keys(el)[0];})
            //                 if (inserted_ele.includes(name)){
            //                     index = inserted_ele.indexOf(name)
            //                    if ($(this).val() != null){
            //                        custom[index][name] = $(this).val()
            //                    } else {
            //                         // custom.pop(index)
            //                         if (index > -1) {
            //                             custom.splice(index, 1);
            //                         }
            //                    }
            //                 } else{ 
            //                     custom.push({[name]:$(this).val()})    
            //                 }
            //             } else{
            //                 custom.push({[name]:$(this).val()})
            //             }
            //         }
            //     })
            //     load_data_table()
            // })
    
            // function load_data_table() {
            //     if (campaign_id > 0) {
            //         token = getCookie('csrftoken');
            //         $(".no_data").addClass('hidden')
            //         $(".div_loader").removeClass('hidden')
            //         $.ajax({
            //             type: 'post',
            //             url: '/client/ajax/lead_report_table_data/',
            //             data: { 'camp_id': campaign_id, 'vendor_id': vendor_id, 'status': status, 'start_date': start_date, 'end_date': end_date, 'custom':JSON.stringify(custom),'csrfmiddlewaretoken': token },
            //             success: function (data) {
            //                 console.log(data)
            //                 $('.lead_table').removeClass('hidden')
            //                 columnArray = data.all_headers
            //                 hide_headers = ['batch', 'reason', 'lead_desc', 'time', 'campany_count']
            //                 $('#leadReport_table thead tr').empty();
            //                 columnArray = data.all_headers.filter(function (el) {
            //                     return !hide_headers.includes(el);
            //                 });
            //                 for (var j = 0; j < columnArray.length; j++) {
            //                     var parsedJson = $.parseJSON(JSON.stringify(columnArray[j]))
            //                     var mTitles = parsedJson["name"];
            //                     if (parsedJson == 'id') {
            //                         $('#leadReport_table thead tr').prepend("<th>" + parsedJson + "</th>");
            //                     } else if (parsedJson != 'status' && parsedJson != 'TC_lead_status' && parsedJson != 'id' && parsedJson != 'batch') {
            //                         $('#leadReport_table thead tr').append("<th>" + parsedJson + "</th>");
            //                     } else if (parsedJson == 'status' || parsedJson == 'TC_lead_status') {
            //                         $('#leadReport_table thead tr:last-child').append("<th>" + parsedJson + "</th>");
            //                     }
            //                 };
            //                 insert_leads(data)
            //                 $(".div_loader").fadeOut("slow");
            //                 $(".div_loader").css('display','block')
            //                 $(".div_loader").addClass('hidden')
            //                 if (data.custom_filter.length != 0) {
            //                     custom_filter(data)
            //                 }
            //                 if (data.submitted_leads.length != 0) {
            //                     $('.switch_div').removeClass('hidden')
            //                     set_pie_chart(data.PieChartData)
            //                     set_stack_chart(data.StackChartData)
            //                     set_line_chart(data.LineChartData)
            //                 }
            //                 table = $('#leadReport_table').DataTable()
            //                 theIndex = $('#leadReport_table tr').first().children().filter(function () {
            //                     return ($(this).text() == 'date');
            //                 }).index();
    
            //             },
            //             failure: function (error) {
            //                 alert("fail");
            //             }
            //         });
            //     }
            // }
        });
        // function insert_leads(data, headers) {
        //     leads = $.parseJSON(JSON.stringify(data.submitted_leads))
        //     headers = []
        //     var columns = $('#leadReport_table').dataTable().dataTableSettings[0].aoColumns;
        //     $.each(columns, function (i, v) { headers.push(v.sTitle); });
        //     innerArray = []
        //     outerArray = []
        //     if (leads != []) {
    
        //         leads.forEach(element => {
        //             innerArray = []
        //             headers.forEach(header => {
        //                 if (header == 'status') {
        //                     if (element[header] == 0) {
        //                         innerArray.push(`<span class="label label-info"> Approval Pending</span>`)
        //                     }
        //                     else if (element[header] == 1) {
        //                         innerArray.push(`<span class="label label-success"> Approved</span>`)
        //                     }
        //                     else if (element[header] == 2) {
        //                         innerArray.push(`<span class="label label-danger"> Rejected</span>`)
        //                     }
        //                     else if (element[header] == 3) {
        //                         innerArray.push(`<span class="label label-info" style="background-color:#c14a25;border-color:#c14a25;">
        //                     Rectify</span>`)
        //                     }
        //                     else if (element[header] == 4) {
        //                         innerArray.push(`<span class="label label-info"> Rectified</span>`)
        //                     }
        //                 } else if (header == 'TC_lead_status') {
        //                     if (element[header] == 'valid lead') {
        //                         innerArray.push(`<span class="label remove label-success" 
        //                         data-placement="bottom" title="Approve Lead From TC">
        //                         Approved</span>`)
        //                     } else {
        //                         innerArray.push(`<span class="label remove label-danger" 
        //                         data-placement="bottom" title="${element[header]}">
        //                         Rejected</span>`)
        //                     }
        //                 } else {
        //                     if (element[header] == "") {
        //                         innerArray.push('--')
        //                     } else {
        //                         innerArray.push(element[header])
        //                     }
        //                 }
        //             })
        //             outerArray.push(innerArray)
        //         });
        //         $('#leadReport_table').DataTable({
        //             "destroy": true,
        //             "bProcessing": true,
        //             "data": outerArray,
        //             "bInfo": true,
        //             "bPaginate": true,
        //             "scrollX": true,
        //             "scrollY": true,
        //             // dom: 'Blfrtip',
        //             // buttons: [
        //             //     'csv'
        //             // ]
        //         })
    
        //     } else {
        //         $('#leadReport_table').dataTable({
        //             "destroy": true,
        //             "bProcessing": true,
        //             "data": outerArray,
        //         })
        //     }
    
    
        // }
    
        // pasting custom filter in page
        // function custom_filter(data) {
        //     columnArray = data.all_headers
        //     filter_data = $.parseJSON(JSON.stringify(data.custom_filter))
        //     $('.custom_filter_div').removeClass('hidden')
        //     filter_data.forEach(element => {
        //         // filter = $(`<select class="form-control lead_filter lead_custom_filter" id="${Object.keys(element)[0]}" >
        //         //     <option value=""> --- </option>
        //         //     </select>`)
        //         filter = $(`#${Object.keys(element)[0]}`)
        //         filter.empty()
        //         filter_data = element[Object.keys(element)[0]]
        //         console.log(custom)
    
        //         selecte_ele = custom.map(function (el) { return Object.keys(el)[0];})
        //         if (selecte_ele.includes(Object.keys(element)[0])){
        //             index = selecte_ele.indexOf(Object.keys(element)[0])
        //             selecte_values = custom[index][Object.keys(element)[0]]
        //             if (filter_data.length > 0) {
        //                 filter_data.forEach(filter_option => {
        //                     if (selecte_values != null){
        //                         if (selecte_values.includes(filter_option)){
        //                             filter.append(`<option value="${filter_option}" selected>${filter_option}</option>`)
        //                         } else{
        //                             filter.append(`<option value="${filter_option}">${filter_option}</option>`)
        //                         }
        //                     } else {
        //                         filter.append(`<option value="${filter_option}">${filter_option}</option>`)
        //                     }
        //                 })
        //             } else {
        //                 filter.hide()
        //             }
        //         } else{
        //             if (filter_data.length > 0) {
        //                 filter_data.forEach(filter_option => {
        //                     filter.append(`<option value="${filter_option}">${filter_option}</option>`)
        //                 })
        //             } else {
        //                 filter.hide()
        //             }
        //         }
        //         $('.lead_custom_filter').each(function() {
        //             if ($(this).children().length == 0){
        //                 $(this).parent('div .form-group').hide()
        //             }
        //             // if (columnArray.includes($(this).attr('id').charAt(0).toUpperCase() + $(this).attr('id').slice(1))){
        //             //     $(this).parent('div .form-group').hide()
        //             // }
        //         })
        //         // select_div = $(`<div class="col-md-12 form-group">
        //         //         <label> ${Object.keys(element)[0]} </label>
        //         //         </div>`)
        //         // select_div.append(filter)
        //         // if ($('.custom_filter').is(':empty')) {
        //         //     $('.custom_filter').html(select_div)
        //         // } else {
        //         //     $('.custom_filter').append(select_div)
        //         // }
        //     })
    
        // }
    
        $(document).on('click', '.reset_date', function () {
            $('#datepicker_from').val('');
            $('#datepicker_from').next('input').val('');
            $('#datepicker_to').val('');
            $('#datepicker_to').next('input').val('');
            $('#campaign_start_date_filter_span').hide()
            start_date = end_date = 0
            $('.date_flag').prop('checked',false) 
            $(`#datepicker_to`).trigger('change')
        })  

        var geo 
        var type
        var status
        $('.campaign_filter').change(function(){
            if($(this).data('type') == 'geo'){
                geo =  $(this).val() != null ? $(this).val() : ''
            }
            if($(this).data('type') == 'type'){
                type =  $(this).val() != null ? $(this).val() : ''
            }
            if($(this).data('type') == 'status'){
                status =  $(this).val() != null ? $(this).val() : ''
            }
            console.log(geo)
            console.log(type)
            console.log(status)
            update_campaign_table()
        })
        function update_campaign_table(){
            token = getCookie('csrftoken');
            min_cpl = $(".js-input-from-cpl").val()
            max_cpl = $(".js-input-to-cpl").val()
            min_vol = $(".js-input-from-vol").val()
            max_vol = $(".js-input-to-vol").val()
            min_custom = $(".js-input-from-custom").val()
            max_custom = $(".js-input-to-custom").val()

            $(".div_loader").removeClass('hidden')
            $.ajax({
                type: 'post',
                url: '/client/campaign_filters/',
                data: { 'csrfmiddlewaretoken': token,
                "min_cpl":min_cpl,
                "max_cpl":max_cpl,
                "min_vol":min_vol,
                "max_vol":max_vol,
                "min_custom":min_custom,
                "max_custom":max_custom,
                "geo":geo,
                "type":type,
                "status":status,
                "start_date":start_date,
                "end_date":end_date,
                "date_flag":date_flag},
                success: function (data) {
                    console.log(data)
                    if (data.status ==1 ){
                        insert_campaigns(data.campaigns_data)
                    }
                    $(".div_loader").fadeOut('slow')
                }
            })
        }

        function insert_campaigns(data, headers) {
            leads = $.parseJSON(JSON.stringify(data))
            headers = []
            // var columns = $('#campaign_report_table').dataTable().dataTableSettings[0].aoColumns;
            // $.each(columns, function (i, v) { headers.push(v.sTitle); });
            innerArray = []
            outerArray = []
            if (leads != []) {

                leads.forEach(element => {
                    innerArray = []
                    console.log(element)
                    campaign_name = element.campaign_name
                    camp_client_name = element.client_name
                    camp_start_date = element.start_date
                    camp_end_date = element.end_date
                    camp_custom_qutions = element.custom_qutions
                    camp_cpl = element.cpl
                    camp_quatity = element.quatity
                    camp_geo = element.geo != '' ? element.geo : ''
                    camp_method = element.method
                    camp_type = element.type
                    if (element.status == 1 ){
                        camp_status = `<span class="label label-success">Live</span>`
                    } else if (element.status ==  2 ){
                        camp_status = `<span class="label label-primary">Paused</span>`
                    } else if (element.status == 3 ){
                        camp_status = `<span class="label label-info">Pending</span>`
                    } else if (element.status == 4 ){
                        camp_status = `<span class="label label-purple bg-primary">Completed</span>`
                    } else if (element.status == 5 ){
                        camp_status = `<span class="label label-purple bg-primary">Assigned</span>`
                    } else if (element.status == 0 ){
                        camp_status = `<span class="label label-purple bg-primary">Incomplete</span>`
                    }
                    innerArray = [campaign_name,camp_client_name,camp_start_date,camp_end_date,camp_cpl,camp_quatity,camp_custom_qutions,camp_geo,camp_method,camp_type,camp_status]
                    outerArray.push(innerArray)
                });
                $('#campaign_report_table').DataTable({
                    "aoColumns": [
                        { "sTitle": "Campaign Name" },
                        { "sTitle": "Client Name" },
                        { "sTitle": "Start Date" },
                        { "sTitle": "End Date" },
                        { "sTitle": "CPL" },
                        { "sTitle": "Target" },
                        { "sTitle": "Custom Questions" },
                        { "sTitle": "Geo" },
                        { "sTitle": "Out Reach Method" },
                        { "sTitle": "Type" },
                        { "sTitle": "Status" },
                    ],
                    "destroy": true,
                    "bProcessing": true,
                    "data": outerArray,
                    "bInfo": true,
                    "bPaginate": true,
                    "scrollX": true,
                    "scrollY": true,
                })

            } else {
                $('#campaign_report_table').dataTable({
                    "destroy": true,
                    "bProcessing": true,
                    "data": outerArray,
                })
            }
        }
    </script>