
<script>
    //Email body editor
    CKEDITOR.replace('mail_body', {
        toolbar: [
            // { name: 'document', groups: [ 'mode', 'document', 'doctools' ], items: [ 'Source', '-', 'Save', 'NewPage', 'Preview', 'Print', '-', 'Templates' ] },
            { name: 'clipboard', groups: ['clipboard', 'undo'], items: ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo'] },
            { name: 'editing', groups: ['find', 'selection', 'spellchecker'], items: ['Find', 'Replace', '-', 'SelectAll', '-', 'Scayt'] },
            // { name: 'forms', items: [ 'Form', 'Checkbox', 'Radio', 'TextField', 'Textarea', 'Select', 'Button', 'ImageButton', 'HiddenField' ] },
            { name: 'basicstyles', groups: ['basicstyles', 'cleanup'], items: ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat'] },
            { name: 'paragraph', groups: ['list', 'indent', 'blocks', 'align', 'bidi'], items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl', 'Language'] },
            // { name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] },
            { name: 'insert', items: ['Image', 'Flash', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'PageBreak', 'Iframe'] },
            { name: 'styles', items: ['Styles', 'Format', 'Font', 'FontSize'] },
            { name: 'colors', items: ['TextColor', 'BGColor'] },
            { name: 'tools', items: ['Maximize', 'ShowBlocks'] },
            // { name: 'others', items: [ '-' ] },
            // { name: 'about', items: [ 'About' ] }
        ],
        height: 100
    });


    $('.quick_reply').click(function(){
        $('#ticket_id').val($(this).data('id'))
        $('#ticket_owner').val($(this).data('owner-id'))
    })

    $("#quick_reply_form").submit(function (event) {
        event.preventDefault();
        $('.send_reply').prop('disabled', true)
		$('.send_reply').html('<i class="fa fa-spinner fa-spin"></i> Processing');
        token = getCookie('csrftoken');
        var formData = new FormData($('#quick_reply_form')[0])
        formData.append('mail_body',CKEDITOR.instances.mail_body.getData())
        $.ajax({
            type: "post",
            url: "/support/send_reply/",
            // data: {'category':category,'subject':subject,'desc':desc},
            data: formData,
            contentType: false,
            processData: false,
            success: function(data) {
                $('.send_reply').prop('disabled', false)
                $('.send_reply').html('Send');

                if (data.status == 1) {
                    swal({
                        title: "Quick Reply", 
                        text: data.msg,
                        icon:"success"
                    }).then(function () {
                        location.reload();
                    });
                }
            }
        })
    })
</script>
