{% extends "header/header.html" %}
{% block content %}
<!-- Main sidebar -->
{% include "side/side.html" %}

{% load static %}
{% block Script %}

{% include "tech/ticket_css.html" %}
{% endblock %}

	<!-- Main content -->
			<div class="content-wrapper">

				<!-- Page header -->
				<div class="page-header page-header-default">


					<div class="breadcrumb-line">
						<ul class="breadcrumb">
							<li><a href="/superadmin/dashboard/"><i class="icon-home2 position-left"></i> Home</a></li>
							<li class="active">Ticket Raise List</li>
						</ul>
						<ul class="breadcrumb-elements">
							
						</ul>
					</div>
				</div>
				<!-- /page header -->


				<!-- Content area -->
				<div class="content">

					<!-- Main charts -->
					<div class="row" style="display:none">
						<div class="col-lg-7">

							<!-- Traffic sources -->
							<div class="panel panel-flat">
								<div class="panel-heading">
									<h6 class="panel-title">Traffic sources</h6>
									<div class="heading-elements">
										<form class="heading-form" action="#">
											<div class="form-group">
												<label class="checkbox-inline checkbox-switchery checkbox-right switchery-xs">
													<input type="checkbox" class="switch" checked="checked">
													Live update:
												</label>
											</div>
										</form>
									</div>
								</div>

								<div class="container-fluid">
									<div class="row">
										<div class="col-lg-4">
											<ul class="list-inline text-center">
												<li>
													<a href="#" class="btn border-teal text-teal btn-flat btn-rounded btn-icon btn-xs valign-text-bottom"><i class="icon-plus3"></i></a>
												</li>
												<li class="text-left">
													<div class="text-semibold">New visitors</div>
													<div class="text-muted">2,349 avg</div>
												</li>
											</ul>

											<div class="col-lg-10 col-lg-offset-1">
												<div class="content-group" id="new-visitors"></div>
											</div>
										</div>

										<div class="col-lg-4">
											<ul class="list-inline text-center">
												<li>
													<a href="#" class="btn border-warning-400 text-warning-400 btn-flat btn-rounded btn-icon btn-xs valign-text-bottom"><i class="icon-watch2"></i></a>
												</li>
												<li class="text-left">
													<div class="text-semibold">New sessions</div>
													<div class="text-muted">08:20 avg</div>
												</li>
											</ul>

											<div class="col-lg-10 col-lg-offset-1">
												<div class="content-group" id="new-sessions"></div>
											</div>
										</div>

										<div class="col-lg-4">
											<ul class="list-inline text-center">
												<li>
													<a href="#" class="btn border-indigo-400 text-indigo-400 btn-flat btn-rounded btn-icon btn-xs valign-text-bottom"><i class="icon-people"></i></a>
												</li>
												<li class="text-left">
													<div class="text-semibold">Total online</div>
													<div class="text-muted"><span class="status-mark border-success position-left"></span> 5,378 avg</div>
												</li>
											</ul>

											<div class="col-lg-10 col-lg-offset-1">
												<div class="content-group" id="total-online"></div>
											</div>
										</div>
									</div>
								</div>

								<div class="position-relative" id="traffic-sources"></div>
							</div>
							<!-- /traffic sources -->

						</div>

						<div class="col-lg-5">

							<!-- Sales stats -->
							<div class="panel panel-flat">
								<div class="panel-heading">
									<h6 class="panel-title">Sales statistics</h6>
									<div class="heading-elements">
										<form class="heading-form" action="#">
											<div class="form-group">
												<select class="change-date select-sm" id="select_date">
													<optgroup label="<i class='icon-watch pull-right'></i> Time period">
														<option value="val1">June, 29 - July, 5</option>
														<option value="val2">June, 22 - June 28</option>
														<option value="val3" selected="selected">June, 15 - June, 21</option>
														<option value="val4">June, 8 - June, 14</option>
													</optgroup>
												</select>
											</div>
										</form>
				                	</div>
								</div>

								<div class="container-fluid">
									<div class="row text-center">
										<div class="col-md-4">
											<div class="content-group">
												<h5 class="text-semibold no-margin"><i class="icon-calendar5 position-left text-slate"></i> 5,689</h5>
												<span class="text-muted text-size-small">orders weekly</span>
											</div>
										</div>

										<div class="col-md-4">
											<div class="content-group">
												<h5 class="text-semibold no-margin"><i class="icon-calendar52 position-left text-slate"></i> 32,568</h5>
												<span class="text-muted text-size-small">orders monthly</span>
											</div>
										</div>

										<div class="col-md-4">
											<div class="content-group">
												<h5 class="text-semibold no-margin"><i class="icon-cash3 position-left text-slate"></i> $23,464</h5>
												<span class="text-muted text-size-small">average revenue</span>
											</div>
										</div>
									</div>
								</div>

								<div class="content-group-sm" id="app_sales"></div>
								<div id="monthly-sales-stats"></div>
							</div>
							<!-- /sales stats -->

						</div>
					</div>
					<!-- /main charts -->


					<!-- Dashboard content -->
					<div class="row">
						<div class="" >

							<!-- Marketing campaigns -->
							<div class="panel panel-flat" style="display:none">
								<div class="panel-heading">
									<h6 class="panel-title">Marketing campaigns</h6>
									<div class="heading-elements">
										<span class="label bg-success heading-text">28 active</span>
										<ul class="icons-list">
					                		<li class="dropdown">
					                			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i> <span class="caret"></span></a>
												<ul class="dropdown-menu dropdown-menu-right">
													<li><a href="#"><i class="icon-sync"></i> Update data</a></li>
													<li><a href="#"><i class="icon-list-unordered"></i> Detailed log</a></li>
													<li><a href="#"><i class="icon-pie5"></i> Statistics</a></li>
													<li class="divider"></li>
													<li><a href="#"><i class="icon-cross3"></i> Clear list</a></li>
												</ul>
					                		</li>
					                	</ul>
				                	</div>
								</div>

								<div class="table-responsive">
									<table class="table table-lg text-nowrap">
										<tbody>
											<tr>
												<td class="col-md-5">
													<div class="media-left">
														<div id="campaigns-donut"></div>
													</div>

													<div class="media-left">
														<h5 class="text-semibold no-margin">38,289 <small class="text-success text-size-base"><i class="icon-arrow-up12"></i> (+16.2%)</small></h5>
														<ul class="list-inline list-inline-condensed no-margin">
															<li>
																<span class="status-mark border-success"></span>
															</li>
															<li>
																<span class="text-muted">May 12, 12:30 am</span>
															</li>
														</ul>
													</div>
												</td>

												<td class="col-md-5">
													<div class="media-left">
														<div id="campaign-status-pie"></div>
													</div>

													<div class="media-left">
														<h5 class="text-semibold no-margin">2,458 <small class="text-danger text-size-base"><i class="icon-arrow-down12"></i> (- 4.9%)</small></h5>
														<ul class="list-inline list-inline-condensed no-margin">
															<li>
																<span class="status-mark border-danger"></span>
															</li>
															<li>
																<span class="text-muted">Jun 4, 4:00 am</span>
															</li>
														</ul>
													</div>
												</td>

												<td class="text-right col-md-2">
													<a href="#" class="btn bg-indigo-300"><i class="icon-statistics position-left"></i> View report</a>
												</td>
											</tr>
										</tbody>
									</table>	
								</div>

								<div class="table-responsive">
									<table class="table text-nowrap">
										<thead>
											<tr>
												<th>Campaign</th>
												<th class="col-md-2">Client</th>
												<th class="col-md-2">Changes</th>
												<th class="col-md-2">Budget</th>
												<th class="col-md-2">Status</th>
												<th class="text-center" style="width: 20px;"><i class="icon-arrow-down12"></i></th>
											</tr>
										</thead>
										<tbody>
											<tr class="active border-double">
												<td colspan="5">Today</td>
												<td class="text-right">
													<span class="progress-meter" id="today-progress" data-progress="30"></span>
												</td>
											</tr>
											<tr>
												<td>
													<div class="media-left media-middle">
														<a href="#"><img src="{% static 'assets/images/brands/facebook.png' %}" class="img-circle img-xs" alt=""></a>
													</div>
													<div class="media-left">
														<div class=""><a href="#" class="text-default text-semibold">Facebook</a></div>
														<div class="text-muted text-size-small">
															<span class="status-mark border-blue position-left"></span>
															02:00 - 03:00
														</div>
													</div>
												</td>
												<td><span class="text-muted">Mintlime</span></td>
												<td><span class="text-success-600"><i class="icon-stats-growth2 position-left"></i> 2.43%</span></td>
												<td><h6 class="text-semibold">$5,489</h6></td>
												<td><span class="label bg-blue">Active</span></td>
												<td class="text-center">
													<ul class="icons-list">
														<li class="dropdown">
															<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
															<ul class="dropdown-menu dropdown-menu-right">
																<li><a href="#"><i class="icon-file-stats"></i> View statement</a></li>
																<li><a href="#"><i class="icon-file-text2"></i> Edit campaign</a></li>
																<li><a href="#"><i class="icon-file-locked"></i> Disable campaign</a></li>
																<li class="divider"></li>
																<li><a href="#"><i class="icon-gear"></i> Settings</a></li>
															</ul>
														</li>
													</ul>
												</td>
											</tr>
											<tr>
												<td>
													<div class="media-left media-middle">
														<a href="#"><img src="{% static 'assets/images/brands/youtube.png' %}" class="img-circle img-xs" alt=""></a>
													</div>
													<div class="media-left">
														<div class=""><a href="#" class="text-default text-semibold">Youtube videos</a></div>
														<div class="text-muted text-size-small">
															<span class="status-mark border-danger position-left"></span>
															13:00 - 14:00
														</div>
													</div>
												</td>
												<td><span class="text-muted">CDsoft</span></td>
												<td><span class="text-success-600"><i class="icon-stats-growth2 position-left"></i> 3.12%</span></td>
												<td><h6 class="text-semibold">$2,592</h6></td>
												<td><span class="label bg-danger">Closed</span></td>
												<td class="text-center">
													<ul class="icons-list">
														<li class="dropdown">
															<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
															<ul class="dropdown-menu dropdown-menu-right">
																<li><a href="#"><i class="icon-file-stats"></i> View statement</a></li>
																<li><a href="#"><i class="icon-file-text2"></i> Edit campaign</a></li>
																<li><a href="#"><i class="icon-file-locked"></i> Disable campaign</a></li>
																<li class="divider"></li>
																<li><a href="#"><i class="icon-gear"></i> Settings</a></li>
															</ul>
														</li>
													</ul>
												</td>
											</tr>
											<tr>
												<td>
													<div class="media-left media-middle">
														<a href="#"><img src="{% static 'assets/images/brands/spotify.png' %}" class="img-circle img-xs" alt=""></a>
													</div>
													<div class="media-left">
														<div class=""><a href="#" class="text-default text-semibold">Spotify ads</a></div>
														<div class="text-muted text-size-small">
															<span class="status-mark border-grey-400 position-left"></span>
															10:00 - 11:00
														</div>
													</div>
												</td>
												<td><span class="text-muted">Diligence</span></td>
												<td><span class="text-danger"><i class="icon-stats-decline2 position-left"></i> - 8.02%</span></td>
												<td><h6 class="text-semibold">$1,268</h6></td>
												<td><span class="label bg-grey-400">Hold</span></td>
												<td class="text-center">
													<ul class="icons-list">
														<li class="dropdown">
															<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
															<ul class="dropdown-menu dropdown-menu-right">
																<li><a href="#"><i class="icon-file-stats"></i> View statement</a></li>
																<li><a href="#"><i class="icon-file-text2"></i> Edit campaign</a></li>
																<li><a href="#"><i class="icon-file-locked"></i> Disable campaign</a></li>
																<li class="divider"></li>
																<li><a href="#"><i class="icon-gear"></i> Settings</a></li>
															</ul>
														</li>
													</ul>
												</td>
											</tr>
											<tr>
												<td>
													<div class="media-left media-middle">
														<a href="#"><img src="{% static 'assets/images/brands/twitter.png' %}" class="img-circle img-xs" alt=""></a>
													</div>
													<div class="media-left">
														<div class=""><a href="#" class="text-default text-semibold">Twitter ads</a></div>
														<div class="text-muted text-size-small">
															<span class="status-mark border-grey-400 position-left"></span>
															04:00 - 05:00
														</div>
													</div>
												</td>
												<td><span class="text-muted">Deluxe</span></td>
												<td><span class="text-success-600"><i class="icon-stats-growth2 position-left"></i> 2.78%</span></td>
												<td><h6 class="text-semibold">$7,467</h6></td>
												<td><span class="label bg-grey-400">Hold</span></td>
												<td class="text-center">
													<ul class="icons-list">
														<li class="dropdown">
															<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
															<ul class="dropdown-menu dropdown-menu-right">
																<li><a href="#"><i class="icon-file-stats"></i> View statement</a></li>
																<li><a href="#"><i class="icon-file-text2"></i> Edit campaign</a></li>
																<li><a href="#"><i class="icon-file-locked"></i> Disable campaign</a></li>
																<li class="divider"></li>
																<li><a href="#"><i class="icon-gear"></i> Settings</a></li>
															</ul>
														</li>
													</ul>
												</td>
											</tr>

											<tr class="active border-double">
												<td colspan="5">Yesterday</td>
												<td class="text-right">
													<span class="progress-meter" id="yesterday-progress" data-progress="65"></span>
												</td>
											</tr>
											<tr>
												<td>
													<div class="media-left media-middle">
														<a href="#"><img src="{% static 'assets/images/brands/bing.png' %}" class="img-circle img-xs" alt=""></a>
													</div>
													<div class="media-left">
														<div class=""><a href="#" class="text-default text-semibold">Bing campaign</a></div>
														<div class="text-muted text-size-small">
															<span class="status-mark border-success position-left"></span>
															15:00 - 16:00
														</div>
													</div>
												</td>
												<td><span class="text-muted">Metrics</span></td>
												<td><span class="text-danger"><i class="icon-stats-decline2 position-left"></i> - 5.78%</span></td>
												<td><h6 class="text-semibold">$970</h6></td>
												<td><span class="label bg-success-400">Pending</span></td>
												<td class="text-center">
													<ul class="icons-list">
														<li class="dropup">
															<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
															<ul class="dropdown-menu dropdown-menu-right">
																<li><a href="#"><i class="icon-file-stats"></i> View statement</a></li>
																<li><a href="#"><i class="icon-file-text2"></i> Edit campaign</a></li>
																<li><a href="#"><i class="icon-file-locked"></i> Disable campaign</a></li>
																<li class="divider"></li>
																<li><a href="#"><i class="icon-gear"></i> Settings</a></li>
															</ul>
														</li>
													</ul>
												</td>
											</tr>
											<tr>
												<td>
													<div class="media-left media-middle">
														<a href="#"><img src="{% static 'assets/images/brands/amazon.png' %}" class="img-circle img-xs" alt=""></a>
													</div>
													<div class="media-left">
														<div class=""><a href="#" class="text-default text-semibold">Amazon ads</a></div>
														<div class="text-muted text-size-small">
															<span class="status-mark border-danger position-left"></span>
															18:00 - 19:00
														</div>
													</div>
												</td>
												<td><span class="text-muted">Blueish</span></td>
												<td><span class="text-success-600"><i class="icon-stats-growth2 position-left"></i> 6.79%</span></td>
												<td><h6 class="text-semibold">$1,540</h6></td>
												<td><span class="label bg-blue">Active</span></td>
												<td class="text-center">
													<ul class="icons-list">
														<li class="dropup">
															<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
															<ul class="dropdown-menu dropdown-menu-right">
																<li><a href="#"><i class="icon-file-stats"></i> View statement</a></li>
																<li><a href="#"><i class="icon-file-text2"></i> Edit campaign</a></li>
																<li><a href="#"><i class="icon-file-locked"></i> Disable campaign</a></li>
																<li class="divider"></li>
																<li><a href="#"><i class="icon-gear"></i> Settings</a></li>
															</ul>
														</li>
													</ul>
												</td>
											</tr>
											<tr>
												<td>
													<div class="media-left media-middle">
														<a href="#"><img src="{% static 'assets/images/brands/dribbble.png' %}" class="img-circle img-xs" alt=""></a>
													</div>
													<div class="media-left">
														<div class=""><a href="#" class="text-default text-semibold">Dribbble ads</a></div>
														<div class="text-muted text-size-small">
															<span class="status-mark border-blue position-left"></span>
															20:00 - 21:00
														</div>
													</div>
												</td>
												<td><span class="text-muted">Teamable</span></td>
												<td><span class="text-danger"><i class="icon-stats-decline2 position-left"></i> 9.83%</span></td>
												<td><h6 class="text-semibold">$8,350</h6></td>
												<td><span class="label bg-danger">Closed</span></td>
												<td class="text-center">
													<ul class="icons-list">
														<li class="dropup">
															<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
															<ul class="dropdown-menu dropdown-menu-right">
																<li><a href="#"><i class="icon-file-stats"></i> View statement</a></li>
																<li><a href="#"><i class="icon-file-text2"></i> Edit campaign</a></li>
																<li><a href="#"><i class="icon-file-locked"></i> Disable campaign</a></li>
																<li class="divider"></li>
																<li><a href="#"><i class="icon-gear"></i> Settings</a></li>
															</ul>
														</li>
													</ul>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- /marketing campaigns -->


							<!-- Quick stats boxes -->
							<div class="row" style="display:none">
								<div class="col-lg-4">

									<!-- Members online -->
									<div class="panel bg-teal-400">
										<div class="panel-body">
											<div class="heading-elements">
												<span class="heading-text badge bg-teal-800">+53,6%</span>
											</div>

											<h3 class="no-margin">3,450</h3>
											Members online
											<div class="text-muted text-size-small">489 avg</div>
										</div>

										<div class="container-fluid">
											<div id="members-online"></div>
										</div>
									</div>
									<!-- /members online -->

								</div>

								<div class="col-lg-4">

									<!-- Current server load -->
									<div class="panel bg-pink-400">
										<div class="panel-body">
											<div class="heading-elements">
												<ul class="icons-list">
							                		<li class="dropdown">
							                			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog3"></i> <span class="caret"></span></a>
														<ul class="dropdown-menu dropdown-menu-right">
															<li><a href="#"><i class="icon-sync"></i> Update data</a></li>
															<li><a href="#"><i class="icon-list-unordered"></i> Detailed log</a></li>
															<li><a href="#"><i class="icon-pie5"></i> Statistics</a></li>
															<li><a href="#"><i class="icon-cross3"></i> Clear list</a></li>
														</ul>
							                		</li>
							                	</ul>
											</div>

											<h3 class="no-margin">49.4%</h3>
											Current server load
											<div class="text-muted text-size-small">34.6% avg</div>
										</div>

										<div id="server-load"></div>
									</div>
									<!-- /current server load -->

								</div>

								<div class="col-lg-4">

									<!-- Today's revenue -->
									<div class="panel bg-blue-400">
										<div class="panel-body">
											<div class="heading-elements">
												<ul class="icons-list">
							                		<li><a data-action="reload"></a></li>
							                	</ul>
						                	</div>

											<h3 class="no-margin">$18,390</h3>
											Today's revenue
											<div class="text-muted text-size-small">$37,578 avg</div>
										</div>

										<div id="today-revenue"></div>
									</div>
									<!-- /today's revenue -->

								</div>
							</div>
							<!-- /quick stats boxes -->


							<!-- Support tickets -->
							<div class="panel panel-flat">
								<div class="panel-heading">
									<h6 class="panel-title">Support tickets</h6>
									<div class="heading-elements" style="display:none">
										<button type="button" class="btn btn-link daterange-ranges heading-btn text-semibold">
											<i class="icon-calendar3 position-left"></i> <span></span> <b class="caret"></b>
										</button>
				                	</div>
								</div>

								<div class="table-responsive">
									<table class="table table-xlg text-nowrap">
										<tbody>
											<tr>
												<!-- <td class="col-md-4">
													<div class="media-left media-middle">
														<div id="tickets-status"></div>
													</div>

													<div class="media-left">
														<h5 class="text-semibold no-margin">14,327 <small class="text-success text-size-base"><i class="icon-arrow-up12"></i> (+2.9%)</small></h5>
														<span class="text-muted"><span class="status-mark border-success position-left"></span> Jun 16, 10:00 am</span>
													</div>
												</td> -->

												<!-- <td class="col-md-3">
													<div class="media-left media-middle">
														<a href="#" class="btn border-indigo-400 text-indigo-400 btn-flat btn-rounded btn-xs btn-icon"><i class="icon-alarm-add"></i></a>
													</div>

													<div class="media-left">
														<h5 class="text-semibold no-margin">
															{{count}}<small class="display-block no-margin">total tickets</small>
														</h5>
													</div>
												</td> -->

												<!-- <td class="col-md-3">
													<div class="media-left media-middle">
														<a href="#" class="btn border-indigo-400 text-indigo-400 btn-flat btn-rounded btn-xs btn-icon"><i class="icon-spinner11"></i></a>
													</div>

													<div class="media-left">
														<h5 class="text-semibold no-margin">
															06:25:00 <small class="display-block no-margin">response time</small>
														</h5>
													</div>
												</td> -->

												<!-- <td class="text-right col-md-2">
													<a href="#" class="btn bg-teal-400"><i class="icon-statistics position-left"></i> Report</a>
												</td> -->
											</tr>
										</tbody>
									</table>	
								</div>

								<div class="table-responsive">
									<table class="table text-nowrap">
										<thead>
											<tr>
												<th style="width: 50px">Due</th>
												<th style="width: 300px;">User</th>
												<th>Description</th>
												<th class="text-center" style="width: 20px;"><i class="icon-arrow-down12 hidden"></i></th>
											</tr>
										</thead>
										<tbody>
											<tr class="active border-double">
												<td colspan="3">Active tickets</td>
												<td class="text-right">
														<!-- {% for tic in tickets %}
														{% if tic.ticket_status == '1' %}
														<span class="badge bg-blue">{{forloop.counter}}</span>
														{% endif %}
														{% endfor %} -->
												</td>
											</tr>
											{% for tic in tickets %}
											{% if tic.ticket_status == '1' %}
											<tr>
												<td class="text-center">
													<h6 class="no-margin">{{tic.ticket_date}}|{{tic.ticket_time}} <small class="display-block text-size-small no-margin"></small></h6>
												</td>
												<td>
													<!-- <div class="media-left media-middle">
														<a href="#" class="btn bg-teal-400 btn-rounded btn-icon btn-xs">
															<span class="letter-icon"></span>
														</a>
													</div> -->

													<div class="media-body">
														<a href="#" class="display-inline-block text-default text-semibold letter-icon-title">{{tic.ticket_owner.user_name}}</a>
														<div class="text-muted text-size-small"><span class="status-mark border-blue position-left"></span> Active</div>
													</div>
												</td>
												<td>
													<a href="#" class="text-default display-inline-block">
														<span class="text-semibold">[#{{tic.id}}] {{tic.ticket_sub}}</span>
														<span class="display-block text-muted">{{tic.ticket_description}}</span>
													</a>
												</td>
												<td class="text-center">
													<ul class="icons-list ">
														<li class="dropdown">
															<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
															<ul class="dropdown-menu ticket_action dropdown-menu-right">
																<li><a class="quick_reply" data-id="{{tic.id}}" data-owner-id={{tic.ticket_owner.id}} data-toggle="modal" data-direction='right' data-target="#quick_reply_modal"><i class="icon-undo"></i> Quick reply</a></li>
																<li><a href="/support/to_in_process/{{tic.id}}/" class="to_in_process"><i class="icon-history text-success"></i> In Process</a></li>
																<li class="divider"></li>
																<li><a href="/support/reolve_ticket/{{tic.id}}/"><i class="icon-checkmark3 text-blue"></i> Resolve issue</a></li>
																<li><a href="/support/close_issue/{{tic.id}}/"><i class="icon-cross2 text-danger"></i> Close issue</a></li>
															</ul>
														</li>
													</ul>
												</td>
											</tr>
											{% endif %}
											{% endfor %}

											<tr class="active border-double">
												<td colspan="3">In Process tickets</td>
												<td class="text-right">
													<!-- <span class="badge bg-success">42</span> -->
												</td>
											</tr>
											{% for tic in tickets %}
											{% if tic.ticket_status == '2' %}
											<tr>
												<td class="text-center">
													<i class="icon-loop3 text-success"></i>
												</td>
												<td>
													<!-- <div class="media-left media-middle">
														<a href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs">
															<span class="letter-icon"></span>
														</a>
													</div> -->

													<div class="media-body">
														<a href="#" class="display-inline-block text-default letter-icon-title">{{tic.ticket_owner.user_name}}</a>
														<div class="text-muted text-size-small"><span class="status-mark border-success position-left"></span> In Process</div>
													</div>
												</td>
												<td>
													<a href="#" class="text-default display-inline-block">
															<span class="text-semibold">[#{{tic.id}}] {{tic.ticket_sub}}</span>
															<span class="display-block text-muted">{{tic.ticket_description}}</span>
													</a>
												</td>
												<td class="text-center">
													<ul class="icons-list ">
														<li class="dropdown">
															<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
															<ul class="dropdown-menu ticket_action dropdown-menu-right">
																<!-- <li><a href="#"><i class="icon-undo"></i> Quick reply</a></li> -->
																<!-- <li><a href="#"><i class="icon-history"></i> Full history</a></li> -->
																<!-- <li class="divider"></li> -->
																<li><a href="/support/reolve_ticket/{{tic.id}}/"><i class="icon-checkmark3 text-blue"></i> Resolve issue</a></li>
																<li><a href="/support/close_issue/{{tic.id}}/"><i class="icon-cross2 text-danger"></i> Close issue</a></li>
															</ul>
														</li>
													</ul>
												</td>
											</tr>
											{% endif %}
											{% endfor %}

											<tr class="active border-double">
													<td colspan="3">Resolved tickets</td>
													<td class="text-right">
														<!-- <span class="badge bg-success">42</span> -->
													</td>
												</tr>
												{% for tic in tickets %}
												{% if tic.ticket_status == '3' %}
												<tr>
													<td class="text-center">
														<i class="icon-checkmark3 text-success"></i>
													</td>
													<td>
														<!-- <div class="media-left media-middle">
															<a href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs">
																<span class="letter-icon"></span>
															</a>
														</div> -->
	
														<div class="media-body">
															<a href="#" class="display-inline-block text-default letter-icon-title">{{tic.ticket_owner.user_name}}</a>
															<div class="text-muted text-size-small"><span class="status-mark border-success position-left"></span> Resolve</div>
														</div>
													</td>
													<td>
														<a href="#" class="text-default display-inline-block">
																<span class="text-semibold">[#{{tic.id}}] {{tic.ticket_sub}}</span>
																<span class="display-block text-muted">{{tic.ticket_description}}</span>
														</a>
													</td>
													<td class="text-center">
														<ul class="icons-list ">
															<li class="dropdown">
																<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
																<ul class="dropdown-menu ticket_action dropdown-menu-right">
																	<!-- <li><a href="#"><i class="icon-undo"></i> Quick reply</a></li> -->
																	<!-- <li><a href="#"><i class="icon-history"></i> Full history</a></li> -->
																	<!-- <li class="divider"></li> -->
																	<li><a href="/support/to_in_process/{{tic.id}}/"><i class="icon-plus3 text-blue"></i> Unresolve issue</a></li>
																	<li><a href="/support/close_issue/{{tic.id}}/"><i class="icon-cross2 text-danger"></i> Close issue</a></li> 
																</ul>
															</li>
														</ul>
													</td>
												</tr>
												{% endif %}
												{% endfor %}
	

											<tr class="active border-double">
												<td colspan="3">Closed tickets</td>
												<td class="text-right">
													<!-- <span class="badge bg-danger">37</span> -->
												</td>
											</tr>
											{% for tic in tickets %}
											{% if tic.ticket_status == '0' %}
											<tr>
												<td class="text-center">
													<i class="icon-cross2 text-danger-400"></i>
												</td>
												<td>
													<div class="media-left media-middle">
														<a href="#"><img src="{% static 'assets/images/placeholder.jpg' %}" class="img-circle img-xs" alt=""></a>
													</div>

													<div class="media-body">
														<a href="#" class="display-inline-block text-default">{{tic.ticket_owner.user_name}}</a>
														<div class="text-muted text-size-small"><span class="status-mark border-danger position-left"></span> Closed</div>
													</div>
												</td>
												<td>
													<a href="#" class="text-default display-inline-block">
															<span class="text-semibold">[#{{tic.id}}] {{tic.ticket_sub}}</span>
															<span class="display-block text-muted">{{tic.ticket_description}}</span>
													</a>
												</td>
												<td class="text-center ">
													<ul class="icons-list">
														<li class="dropup">
															<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
															<ul class="dropdown-menu ticket_action dropdown-menu-right">
																<!-- <li><a href="#"><i class="icon-undo"></i> Quick reply</a></li> -->
																<!-- <li><a href="#"><i class="icon-history"></i> Full history</a></li> -->
																<!-- <li class="divider"></li> -->
																<li><a href="/support/to_in_process/{{tic.id}}/"><i class="icon-reload-alt text-blue"></i> Reopen issue</a></li>
																<!-- <li><a href="#"><i class="icon-cross2 text-danger"></i> Close issue</a></li> -->
															</ul>
														</li>
													</ul>
												</td>
											</tr>
											{% endif %}
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
							<!-- /support tickets -->


							<!-- Latest posts -->
							
							<!-- /latest posts -->

						</div>

						<div class="col-lg-4" style="display:none">

							
							
							
							<!-- My messages -->
							<div class="panel panel-flat" style="display:none">
								

								<!-- Numbers -->
								
								<div id="messages-stats"></div>
								
							</div>
							
						</div>
					</div>
					<!-- /dashboard content -->

<!-- <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog1 modal-lg">
      <div class="modal-content1">
        <div class="modal-header1">
          <button type="button" onclick="closeModel()" class="close" >&times;</button>
          <h4 class="modal-title1">On Boarding</h4>
        </div>
        <div class="modal-body1">
          <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Client</a></li>
    <li><a data-toggle="tab" href="#menu1">Vendor</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>Client</h3>
      
						<div class="panel panel-flat">
						<div class="panel-heading">
							<h5 class="panel-title">On Boarding Status</h5>
							<div class="heading-elements">
								<ul class="icons-list">
			                		<li><a data-action="collapse"></a></li>
			                		<li><a data-action="reload"></a></li>
			                		<li><a data-action="close"></a></li>
			                	</ul>
		                	</div>
						</div>
						<table id="data" class="table datatable-dom-position">
							<thead>
								<tr>
									<th>Company Name</th>
									<th>Stage</th>
									<th>Status</th>
									<th>Next Step</th>
									<th>Last Update</th>
								</tr>
								
							</thead>
							<tbody>
								<tr>
									<td>Marth</td>
									<td>1</td>
									<td>2</td>
									<td>3</td>
									<td>22 Jun 1972</td>
								</tr>
								<tr>
									<td>Jackelyn</td>
									<td>--</td>
									<td>--</td>
									<td>--</td>
									<td>3 Oct 1981</td>
									
								</tr>
                                	<tr>
									<td>Jackelyn</td>
									<td>--</td>
									<td>--</td>
									<td>--</td>
									<td>3 Oct 1981</td>
									
								</tr>
								
								</tbody>
						</table>
                            
					</div>
					</div>
	<div id="menu1" class="tab-pane fade">
      <h3>Vendor</h3>
					<div class="panel panel-flat">
						<div class="panel-heading">
							<h5 class="panel-title">Highlighting Vendors On Boarding</h5>
							<div class="heading-elements">
								<ul class="icons-list">
			                		<li><a data-action="collapse"></a></li>
			                		<li><a data-action="reload"></a></li>
			                		<li><a data-action="close"></a></li>
			                	</ul>
		                	</div>
						</div>
						<table class="table datatable-show-all">
							<thead>
								<tr>
									<th>Company Name</th>
									<th>Stage</th>
									<th>Status</th>
									<th>Next Step</th>
									<th>Last Update</th>
								</tr>
								
							</thead>
							<tbody>
								<tr>
									<td>Marth</td>
									<td>--</td>
									<td>--</td>
									<td>--</td>
									<td>22 Jun 1972</td>
								</tr>
								<tr>
									<td>Jackelyn</td>
									<td>--</td>
									<td>--</td>
									<td>--</td>
									<td><button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal_iconified">Launch <i class="icon-play3 position-right"></i></button></td>
									
								</tr>
								
								</tbody>
						</table>
					</div>
						
							
					</div>
				</div>
				<div class="modal-footer1" style="display: none;">
        <button type="button" style="background-color:#00BCD4;" class="btn btn-default" onclick="closeModel()">Close</button>
      </div>
</div>
</div>
</div>
</div>
<div id="modal_iconified" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h5 class="modal-title"><i class="icon-menu7"></i> &nbsp;Modal with icons</h5>
								</div>

								<div class="modal-body">
									<div class="alert alert-info alert-styled-left text-blue-800 content-group">
						                <span class="text-semibold">Here we go!</span> Example of an alert inside modal.
						                <button type="button" class="close" data-dismiss="alert">×</button>
						            </div>

									<h6 class="text-semibold"><i class="icon-law position-left"></i> Sample heading with icon</h6>
									<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>

									<hr>

									<p><i class="icon-mention position-left"></i> Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
								</div>

								<div class="modal-footer">
									<button class="btn btn-link" data-dismiss="modal"><i class="icon-cross"></i> Close</button>
									<button class="btn btn-primary"><i class="icon-check"></i> Save</button>
								</div>
							</div>
						</div>
					</div> -->
					<!-- Footer -->
					<div class="footer text-muted" style="display:none">
						&copy; 2015. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
					</div>
					<!-- /footer -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->
	<script>
        $(function () {
            // $("#superadmin_reports").addClass("active");
            // $("#superadmin_reports").find("ul").first().css({'display':'block'})
            $("#tech").addClass("active");
        });
		</script>
		
		<script src=""></script>

		<script type="text/javascript" src="{% static 'ckeditor/ckeditor.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/pages/editor_ckeditor.js' %}"></script>
		

		<div class="modal fade" id="quick_reply_modal" role="dialog">
				<div class="modal-dialog modal-lg">
				
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close"  data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Quick Reply</h4>
						</div>
						<form id="quick_reply_form" action="" method="">
							<div class="modal-body">
									{% csrf_token %}
								<input type="hidden" name="ticket_id" id="ticket_id" value="">
								<input type="hidden" name="ticket_owner" id="ticket_owner" value="">
								<div class="form-group">
									<input type="text" name="mail_subject" id="mail_subject" class="form-control" placeholder="Subject">
								</div>
								<div class="form-group">
									<textarea class="form-control" name="mail_body" id="mail_body" rows="3" cols="60"></textarea>
								</div>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-primary send_reply" >Send</button>
							</div>
						</form>
					</div>
						
				</div>
			</div>
			
		</div>
		<script>
			// add active class to superadmin's side bar- 'Tech' on page refresh..Akshay G.
			$('#superadmin_reports').prev().addClass('active');
			$(document).on('click','.navigation-main li',function(){
					if ($('#superadmin_reports').prev() != $(this)){
						$('#superadmin_reports').prev().removeClass('active');
					}
			})
		</script>
{% include "tech/tech_ticket_js.html" %}

{% endblock %}