{% extends "header/header.html" %}

{% block content %}
<!-- Main sidebar -->
{% include "side/side.html" %}
{% load static %}
<!-- <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>  -->
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<!-- <link href="css/file-explore.css" rel="stylesheet" type="text/css"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.modules_div li{
    list-style-type: none;
}

.panel {
    margin:10px!important;
    padding: 1px!important;
}
.content {
    margin:10px!important;
    padding: 1px!important;
}
.panel-group{
    margin:0px!important;
    padding: 1px!important;
}
.panel-group div{
    padding: 5px!important;
}
.usertype_panel{
    background-color: #dddddd4d !important;

}
.panel-heading{
    background-color: #dddddd4d !important;
}
.file-list, .file-list ul{
    list-style-type: none;
    font-size:1em;
    line-height:1.8em;
    margin-left:20px;
    padding-left:18px;
    border-left:1px dotted #aaa;
}
.file-list li{
    position: relative;
    padding-left:25px;
}
.file-list li a{
    text-decoration: none;
    color:#444;  
}
.file-list li a:before{
    display:block;
    content: " ";
    width:10px;
    height:1px;
    position:absolute;
    border-bottom:1px dotted #aaa;
    top:.6em;
    left:-14px;
}
.file-list li:before{
    list-style-type: none;
    font-family: FontAwesome;
    display:block;
    content:'\f0f6';
    position:absolute;
    top:0px;
    left:0px;
    width:20px;
    height:20px;
    font-size:1.3em;
    color:#555;
}
.file-list .folder-root{
    list-style-type: none;
}
.file-list .folder-root a{
    text-decoration:none;
}
.file-list .folder-root:before{
    color:#FFD04E;
    content: "\f07b";
}
.file-list .folder-root.open:before{
    content: "\f07c";
}
li.folder-root ul{
    transition: all .3s ease-in-out;
    overflow:hidden;
}
li.folder-root.closed>ul{
   opacity:0;
   max-height:0px;
}
li.folder-root.open>ul{
   opacity:1;
   display:block;
   max-height:1000px;
}
</style>


<!-- Main content -->
<div class="content-wrapper">

    <!-- Page header -->
    <div class="page-header page-header-default">


        <div class="breadcrumb-line">
            <ul class="breadcrumb">
                <li><a href="/superadmin/dashboard/"><i class="icon-home2 position-left"></i> Home</a></li>
                <li class="active">User Access</li>
            </ul>

            <ul class="breadcrumb-elements">

            </ul>
        </div>
    </div>
    <!-- /page header -->
    <div class="col-md-12">
        

        {% for usertype in type %}
            {% if usertype.type != 'client_vendor' and usertype.type != 'superadmin' %}
            <div class="panel panel-default usertype_panel" >
                <div class="panel-heading " id="{{usertype.type}}_access" data-toggle="collapse" data-target="#{{usertype.type}}"
                    aria-expanded="true" aria-controls="{{usertype.type}}">
                    <h6 class="panel-title">

                        {{usertype.type|title}}
                    </h6>
                </div>
                <div id="{{usertype.type}}" class="collapse " aria-labelledby="{{usertype.type}}_access" data-parent="#accordion">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="col-md-6"> {{usertype.type|title}} Modules</div>
                            <div class="col-md--6 pull-right">
                                <select class="browser-default user_selector custom-select" id="{{usertype.type}}_selector">
                                    <option value="select_user" selected>Select User</option>
                                    {% for user in users %}
                                    {% if user.usertype.type == usertype.type %}
                                    <option value="{{user.id}}" data-usertype-id="{{user.usertype.id}}" data-usertype="{{user.usertype.type}}">{{user.user_name}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                <!-- <div class="btn-group bootstrap-select" style="width: 100%;">
                                <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" title="Alaska" aria-expanded="false">
                                    <span class="filter-option pull-left">Select User</span>&nbsp;
                                    <span class="bs-caret"><span class="caret"></span></span>
                                </button>
                                <div class="dropdown-menu open" role="combobox" style="max-height: 564px; overflow: hidden; min-height: 126px;">
                                    <ul class="dropdown-menu inner" role="listbox" aria-expanded="false" style="max-height: 548px; overflow-y: auto; min-height: 110px;">
                                        <li data-original-index="0" class="selected">
                                            <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true">
                                                <span class="text">fsfsdf</span>
                                                <span class=" icon-checkmark3 check-mark"></span>
                                            </a>
                                        </li>
                                        <li data-original-index="1">
                                            <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
                                                <span class="text">Hawaii</span>
                                                <span class=" icon-checkmark3 check-mark"></span>
                                            </a>
                                        </li>
                                        <li data-original-index="2">
                                            <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
                                                <span class="text">California</span>
                                                <span class=" icon-checkmark3 check-mark"></span>
                                            </a>
                                        </li>
                                        <li data-original-index="3">
                                            <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
                                                <span class="text">Nevada</span>
                                                <span class=" icon-checkmark3 check-mark"></span>
                                            </a>
                                        </li>
                                        <li data-original-index="4">
                                            <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
                                                <span class="text">Oregon</span>
                                                <span class=" icon-checkmark3 check-mark"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                </div> -->
                            </div>
                            
                        </div>
                        <div class="col-md-12 modules_div {{usertype.type}}_div"><!---->
                            <!-- <ul>
                                    {% for module in roles %}

                                            {% if module.parent == None  and module.user_type.type == usertype%}
                                            <li>{{module.name}}</li>
                                            <ul>
                                            {% for sub in roles %}
                                                    {% if module.id == sub.parent.id %}
                                                    <li>{{sub.name}}</li>
                                                    {% endif %}
                                            {% endfor %}
                                            </ul>
                                            {% endif %}
                                    {% endfor %}
                                    </ul> -->

                                <!-- <ul class="file-tree">

                                    <li><a href="#">Dashboard</a></li>
                                    <li><a href="#">Explore Vendors</a>
                                        <ul>
                                            <li><a href="#link1">TC Vendors</a> </li>
                                            <li><a href="#link2">Existing Vendors</a> </li>
                                            <li><a href="#link3">External Vendors</a> </li>
                                            <li><a href="#link4">Comparison</a> </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Campaign</a>
                                        <ul>
                                            <li><a href="#link1">Create Campaign</a> </li>
                                            <li><a href="#link2">Draft Campaign</a> </li>
                                            <li><a href="#link3">Pending Campaign</a> </li>
                                            <li><a href="#link4">Assigned Campaign</a> </li>
                                            <li><a href="#link5">Live Campaign</a> </li>
                                            <li><a href="#link6">Pause Campaign</a> </li>
                                            <li><a href="#link7">Complete Campaign</a> </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">RFQ Campaigns</a>
                                        <ul>
                                            <li><a href="#link2">Campaign List</a> </li>
                                           
                                        </ul>
                                    </li>
                                    <li><a href="#">Reason List</a>
                                        <ul>
                                            <li><a href="#link2">Rejected Reason List</a> </li>
                                            <li><a href="#link2">Rectify Reason List</a> </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Account</a></li>
                                    <li><a href="#"> Access Control</a>
                                        <ul>
                                            <li><a href="#link2">User Access</a> </li>
                                            <li><a href="#link2">Manage Users</a> </li>
                                        </ul>
                                    </li>    
                                    <li><a href="#"> Support</a>
                                        <ul>
                                            <li><a href="#link2">Raise a Ticket</a> </li>
                                            <li><a href="#link2">Contact Us</a> </li>
                                            <li><a href="#link2">FAQ</a> </li>
                                            <li><a href="#link2">T&C</a> </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Billing and Invoice</a>
                                        <ul>
                                            <li><a href="#link2">Invoices</a> </li>
                                           
                                        </ul>
                                    </li>
                                    <li><a href="#">Notifications & Alerts</a></li>
                                </ul> -->
                        </div>
                        <div class="col-md-12" data-id="{{usertype.type}}">
                          <button type="button" name="button" class='btn btn-primary save_pref'>Save</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
    </div>

    <!-- Content area -->
    <div class="panel content" >
        <div class="panel-group"  id="accordion">
            
        </div>


    </div>
    <!-- /content area -->

</div>
<!-- /main content -->

</div>
<!-- /page content -->

</div>
<!-- /page container -->
<script>
    $(function(){
        $("#superadmin_reports").next().addClass('active');
        $(document).on('click','.navigation-main li',function(){
            if ($('#superadmin_reports').next() != $(this)){
                $('#superadmin_reports').next().removeClass('active');
            }
        })
    })
  $('.save_pref').click(function(){
    var usertype = $(this).parent().data('id');
    token = getCookie('csrftoken');
    select = '#'+usertype+'_selector'
    userid = $(select).children("option:selected").val();
    var match = [];
    grp = '#'+usertype
    if (userid == "select_user"){
      swal({
        title: "User Access",
        text: "Please select a user!",
        icon: "warning",
        button: "ok",
      });
    }
    else
    {
      $(grp).find('.'+usertype+'_div .onsave').each(function () {

        id = $(this).attr('id')
        if ($(this).prop("checked")) {
          check = 1;
        }
        else {
          check = 0;
        }
        dict = {
          'id': id,
          'check': check,
        }
        match.push(dict);
      });

      $.ajax({
          type: 'post',
          url: '/superadmin/submit_user_access/',
          data: { 'array': JSON.stringify(match),'user_id':userid, 'usertype':usertype, 'csrfmiddlewaretoken': token },
          // dataType:'json',
          success: function (result) {
            swal({
              title: "User Access",
              text: "Great, Your preferences has been updated successfully!",
              icon: "success",
              button: "ok",
            }).then(function () {
                // location.reload();
              });

          },
          failure: function (error) {
            alert("fail");
          }
        });}
  });


    $('.user_selector').change(function(){
        // console.log($(this).val())
        userid = $(this).val()
        type = $(this).find(':selected').data('usertype')
        token=getCookie('csrftoken');
        $.ajax({
            type: "POST",
            url: "/superadmin/get_user_access/",
            data: {'userid':userid,'usertype_id':$(this).find(':selected').data('usertype-id'),csrfmiddlewaretoken: token},
            success: function (result) {
                console.log(result.user_roles)
                dataTab = result.user_roles
                $main_menu = $('<ul class="file-tree" />')
                $(`.${type}_div`).empty()
                dataTab.forEach(main => {
                    // console.log(main)
                    if(main.parent == null && main.usertype == type){
                        $main_menu.append(`<li class="parent_${main.id}" id="${main.id}"> ${set_checkbox(main)}</li>`)
                        $sub_menu = $('<ul class="col-md-12" />')
                        dataTab.forEach(sub => {
                            if (main.id == sub.parent){
                                $sub_menu.append(`<li class="col-md-4 child_${main.id}" id="${sub.id}"> ${set_checkbox(sub)}</li>`)
                            }
                        });
                        $main_menu.append($sub_menu)
                    }
                });
                $(`.${type}_div`).html($main_menu)
                $(`.${type}_div`).append(`<label id> `)
            }
        });

    })

    function set_checkbox(data){
        if(data.checked == '1'){
            if (data.parent == null){
                checkbox = `<div class="custom-control  main_menu custom-checkbox">
                    <input type="checkbox" class="parent custom-control-input onsave" name="grant_access" id="${data.id}" checked>
                    <label class="custom-control-label" for="${data.id}">${data.name}</label>
                </div>`
            } else {
                checkbox = `<div class="custom-control  main_menu custom-checkbox">
                    <input type="checkbox" class="custom-control-input onsave" name="child_grant_access" id="${data.id}" checked>
                    <label class="custom-control-label" for="${data.id}">${data.name}</label>
                </div>`
            }
        } else {
            if (data.parent == null){
                checkbox = `<div class="custom-control  main_menu custom-checkbox">
                    <input type="checkbox" class="parent custom-control-input onsave" name="grant_access" id="${data.id}">
                    <label class="custom-control-label" for="${data.id}">${data.name}</label>
                </div>`
            } else {
                checkbox = `<div class="custom-control  main_menu custom-checkbox">
                    <input type="checkbox" class="custom-control-input onsave" name="child_grant_access" id="${data.id}">
                    <label class="custom-control-label" for="${data.id}">${data.name}</label>
                </div>`
            }
        }
        return checkbox
    }

    //entire module access
    $(document).on('change',"input[name='grant_access']",function(){
        console.log($(this))
        userid = $(this).parents('.panel-body').find('select :selected').val()
        access_id = []
        if ($(this).hasClass('parent')){
            access_id.push($(this).attr('id'))
            parent_value = $(this).is(':checked')
            $(`.child_${$(this).attr('id')}`).each(function(){
                $(this).find('input').prop('checked', parent_value);
                access_id.push($(this).attr('id'))
            })

            // Access_call(userid,access_id,parent_value)
        }
        // else{
        //     access_id.push($(this).attr('id'))
        //     if($(this).closest('ul').find('input:checked').length == 0 ){
        //         $(`.parent_${$(this).parents('li').attr('class').split('_')[1]}`).find('input').prop('checked',false)
        //     } else{
        //         $(`.parent_${$(this).parents('li').attr('class').split('_')[1]}`).find('input').prop('checked',true)
        //     }
        //     access_id.push($(`.parent_${$(this).parents('li').attr('class').split('_')[1]}`).find('input').attr('id'))
        //     Access_call(userid,access_id)
        // }
    });

    //single access
    $(document).on('change',"input[name='child_grant_access']",function(){
        console.log($(this))
        userid = $(this).parents('.panel-body').find('select :selected').val()
        access_id = []
        access_id.push($(this).attr('id'))
        if($(this).closest('ul').find('input:checked').length == 0 ){
            $(`.parent_${$(this).parents('li').attr('class').split('_')[1]}`).find('input').prop('checked',false)
        } else{
            $(`.parent_${$(this).parents('li').attr('class').split('_')[1]}`).find('input').prop('checked',true)
        }
        access_id.push($(`.parent_${$(this).parents('li').attr('class').split('_')[1]}`).find('input').attr('id'))
        // child_access_call(userid,access_id)
    });

    //Entire module access ajax call
    function Access_call(userid,access_id,parent_value){
        token=getCookie('csrftoken');

        $.ajax({
                type: "POST",
                url: "/superadmin/grant_access/",
                data: {'userid':userid,'access_id':access_id,'parent_value':parent_value,csrfmiddlewaretoken: token},
                success: function (data) {
                    if(data.success==1)
                    {
                        swal({title: "Access Permission", text:data.msg, icon:
                            "success",});
                    }
                }
            });
    }

    //single access ajax call
    function child_access_call(userid,access_id){
        token=getCookie('csrftoken');

        $.ajax({
                type: "POST",
                url: "/superadmin/child_grant_access/",
                data: {'userid':userid,'access_id':access_id,csrfmiddlewaretoken: token},
                success: function (data) {
                    if(data.success==1)
                    {
                        swal({title: "Access Permission", text:data.msg, icon:
                            "success",});
                    }
                }
            });
    }

    </script>

    <script>
$(document).ready(function() {
            $(".file-tree").filetree();
            });


(function($){
    $.fn.filetree = function(method){
       
        var settings = { // settings to expose
            animationSpeed      : 'fast',            
            collapsed           : true,
            console             : false
        }
        var methods = {
            init : function(options){
                // Get standard settings and merge with passed in values
                var options = $.extend(settings, options); 
                // Do this for every file tree found in the document
                return this.each(function(){
                    
                    var $fileList = $(this);
                   
                    $fileList
                        .addClass('file-list')
                        .find('li')
                        .has('ul') // Any li that has a list inside is a folder root
                            .addClass('folder-root closed')
                            .on('click', 'a[href="#"]', function(e){ // Add a click override for the folder root links
                                e.preventDefault();
                                $(this).parent().toggleClass('closed').toggleClass('open');
                                
                                
                                return false;
                            });
                    
                    //alert(options.animationSpeed); Are the settings coming in

                });
                
                
            }
        }
        
        

        
        if (typeof method === 'object' || !method){
            return methods.init.apply(this, arguments);
        } else {
            $.on( "error", function(){
                console.log(method + " does not exist in the file exploerer plugin");
            } );
        }  
    }
    
}(jQuery));
</script>

{% endblock %}
