{% load static %}

<script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/notifications/pnotify.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/pages/form_multiselect.js' %}"></script>

<style>
.chat-list, .chat-stacked {
    max-height:28em;
    overflow: auto;
}
.download_box1 {
    max-width: 156px !important;
    word-break: break-all;
  }
.checker{
  background:transparent;
}
.file-field input[type="file"]{
    display: block;
    /* width: 100%; */
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    text-overflow: ellipsis!important;
}
.file-field input.file-path{
    width: 100%;
    height: 36px;
    border: none;
    border-bottom: 1px solid #ced4da;    
    
}
.dropdown-menu1 {
    min-width: 180px;
    padding: 8px 0;
    color: #333333;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    bottom: 100%;
    position: absolute;
    /* top: 100%; */
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 13px;
    text-align: left;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}
.dropdown-menu1 > li {
  position: relative;
  margin-bottom: 7px;
  list-style: none;
  font-size: 13px;
}
.dropdown-menu1 > li > a {
    padding: 8px 16px;
    outline: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.5384616;
    color: #333333;
    white-space: nowrap;
}

</style>
