{% extends "header/header.html" %}
{% block scripts %}
{% include "campaign_chat/chat_screen_head.html" %}
{% endblock %}
{% block content %}
<!-- Main sidebar -->


{% include "side/side.html" %}

{% load static %}
<!-- Main content -->
<div class="content-wrapper">

  <!-- Page header -->

  <div class="page-header">
    <div class="page-header-content" style="display:none">
      <div class="page-title">
        <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Dashboard</span> - Partner List
        </h4>
      </div>

      <div class="heading-elements">
        <div class="heading-btn-group">
          <a href="#" class="btn btn-link btn-float text-size-small has-text"><i
              class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
          <a href="#" class="btn btn-link btn-float text-size-small has-text"><i
              class="icon-calculator text-primary"></i> <span>Invoices</span></a>
          <a href="#" class="btn btn-link btn-float text-size-small has-text"><i
              class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
        </div>
      </div>
    </div>

    <div class="breadcrumb-line">
      <ul class="breadcrumb">
        <li><a href="/superadmin/dashboard/"><i class="icon-home2 position-left"></i> Home</a></li>
        <li class="active">Partner List</li>
      </ul>

    </div>
  </div>

  <div class="content">

    <div class="panel panel-flat">
      <div class="panel-heading">
        <h6 class="content-group text-semibold">
          Campaign : {{campaign.name}}
          <small>
            <h5>Client:{{campaign.user}}</h5>
          </small>
        </h6>
      </div>
      <div class="row">
        <div class="col-md-3">
          <!-- <div class=" panel panel-flat">
            <div class="sidebar-category">
              <div class="category-title">
                <span>Client-List</span>
                <ul class="icons-list">
                  <li><a href="#" data-action="collapse"></a></li>
                </ul>
              </div>

              <div class="category-content">
                <ul class="media-list" style="display:none">
                  {% for campaign in campaign_list%}

                  <li class="media">
                    <div class="media-left">
                      <img src="{% static 'assets/images/placeholder.jpg' %}" class="img-circle img-sm" alt="">
                    </div>

                    <div class="media-body">
                      <a href="/superadmin/chat-app/{{campaign.id}}/" class="media-heading">
                        <span class="text-semibold">{{campaign.name}}</span>
                      </a>
                      <span class="text-muted">Who knows, maybe that...</span>
                    </div>
                  </li>
                  {%endfor%}
                </ul>
              </div>
            </div>
          </div> -->
          <div class=" panel panel-flat">
            <div class="sidebar-category">
              <div class="category-title">
                <span>Campaign-List</span>
                <ul class="icons-list">
                  <li><a href="#" data-action="collapse"></a></li>
                </ul>
              </div>

              <div class="category-content">

                <ul class="media-list" id="myUL">
                  <input class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search for Campaigns..."
                    title="Type in a name" aria-label="Search" value="">
                  {% for campaign in campaign_list%}

                  <li class="media">
                    <div class="media-left">
                      <img src="{% static 'assets/images/placeholder.jpg' %}" class="img-circle img-sm" alt="">
                    </div>

                    <div class="media-body">
                      <a href="/superadmin/chat-app/{{campaign.id}}/" class="media-heading">
                        <span class="text-semibold txt-breaks">{{campaign.name}}</span>
                      </a>
                      <!-- <span class="text-muted">Who knows, maybe that...</span> -->
                    </div>
                  </li>
                  {%endfor%}
                </ul>
              </div>
            </div>
          </div>
          <div class=" panel panel-flat">
            <div class="sidebar-category">
              <div class="category-title">
                <span>Vendor-List</span>
                <ul class="icons-list">
                  <li><a href="#" data-action="collapse"></a></li>
                </ul>
              </div>

              <div class="category-content">
                <ul class="media-list" id="myUL_1">
                  <input class="form-control" id="myInput_1" onkeyup="myFunction_1()"
                    placeholder="Search for Campaigns..." title="Type in a name" aria-label="Search" value="">
                  {% for vendor in vendor_list%}

                  <li class="media">
                    <div class="media-left">
                      <img src="{% static 'assets/images/placeholder.jpg' %}" class="img-circle img-sm" alt="">
                    </div>

                    <div class="media-body">
                      <a href="#" class="media-heading">
                        <span class="text-semibold">{{vendor.vendor_name.user_name}}</span>
                      </a>
                      <!-- <span class="text-muted">Who knows, maybe that...</span> -->
                    </div>
                  </li>
                  {%endfor%}
                </ul>
              </div>
            </div>

          </div>

        </div>
        <div class="col-md-9">
          <div class="tabbable tab-content-bordered content-group-lg">
            <div class="panel panel-flat">
              <div class="panel-heading">
                <h6 class="panel-title">{{campaign.name}}:</h6>
                <div class="heading-elements">
                  <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="reload"></a></li>
                    <li><a data-action="close"></a></li>
                  </ul>
                </div>
              </div>

              <div class="panel-body">
                <ul id="chat_box" class="media-list chat-list content-group">

                </ul>
                <div class="row">
                  <div class="row campaign_chat"></div>
                  <form method="post" id="send_msg">
                    {% csrf_token %}
                    <div class="col-md-10 text-right">
                      <ul class="dropdown-menu1" id="vendor_list">
                        <li class="list"><a href="#"><label><input type="checkbox" id="allcheck" value="0" />
                          <img class="chat_img" src='{% static "/icons/all.jpg" %}'>
                          <span class="vendor_chat_name">All</span>
                        </label></a></li>
                        <!-- <li><a href="#"><label><input type="checkbox" name="vendor_names" class="vendor_names"
                                value="{{campaign.user_id}}" data-client-name="{{campaign.user}}" />
                              Client-{{campaign.user}}</label></a></li> -->
                        {% for vendor in vendor_list %}
                        
                        <li class="list"><a href="#">
                              <label><input type="checkbox" name="vendor_names" class="vendor_names {{vendor.id}}"
                                value="{{vendor.id}}" data-vendor-name="{{vendor.vendor_name.user_name}}" />
                                <img class="chat_img" src='{{vendor.logo}}'>
                                <span class="vendor_chat_name">{{vendor.vendor_name.user_name}}</span>
                              </label></a></li>
                        {%endfor%}
                      </ul>
                      <input type="text" name="message" id="message" class="form-control" required autocomplete="off"
                        placeholder="Enter your message..." />

                      <input type="hidden" name="camp_id" id="camp_id" value="{{campaign.id}}" />
                      <input type="hidden" name="sender_id" id="sender_id" value="{{sender_id}}" />
                    </div>
                    <div class="col-md-2 txt-align">
                      <span data-toggle="modal" data-target="#chat_attach_modal" style="margin-left:-54px;"><i
                          class="glyphicon glyphicon-paperclip"></i></span>
                      <button type="submit" class="btn btn-primary"><b><i class="fa fa-paper-plane" style="font-size: 16px;"></i></b>
                        </button>
                    </div>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--attachment to chat -->
<div class="modal fade" id="chat_attach_modal" role="dialog">
  <div class="modal-dialog " style="width:45%;">
    <div class="modal-content">
      <div class="border">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h1 class="modal-title">Send Attachment</h1>
      </div>
      <form method="post" id="chat_attach_form" enctype="multipart/form-data">
        <div class="modal-body">{% csrf_token %}
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Enter Title</label>
                <input type="text" id="file_title" name="title" class="form-control" placeholder="Enter Title"
                  required />
              </div>
            </div>
            <div class="col-md-6">
              <div class="file-field">
                <label>Select File</label><br />
                <div class="btn btn-primary btn-sm float-left">
                  <div id="chat_file_name" class="name ellipsis"> Browse</div>
                  <input type="file" name="filename" required  />
                  <input type="hidden" name="camp_id" id="chat_camp_id" value="{{campaign.id}}" />
                </div>
                <div class="pull-right div-aligns">
                  <i class="far fa-times-circle btn-colors" id="remove_attach_file" style="display: none" title="remove file"></i>
                </div>
                <!-- <button type="button" title="remove file" class="btn btn-default" id="remove_attach_file" style="display:none">
                    <i class="icon-cross3"></i> 
                    <span class="hidden-xs">Remove</span>
                </button> -->
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Select Users</label>
                <div class="multi-select-full">
                  <select class="multiselect-select-all" name="ids[]" id="chat_vendor_list" multiple="multiple">
                    {% for vendor in vendor_list %}
                    <option value="{{vendor.id}}">{{vendor.vendor_name.user_name}}</option>
                    {%endfor%}
                  </select>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" id='load' class="btn btn-primary legitRipple pull-right">Send
                <span class="legitRipple-ripple"></span></button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
<style type="text/css">
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fff;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  #vendor_list {
    max-height: 39vh;
    overflow: auto;
  }

  .multiselect-container {
    max-height: 20vh;
  }
  .modal-content {
    padding: 30px!important;
    width: 108%;
  }
  .modal-body {
    position: relative;
    padding: 35px;
  }
  .border{
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 6px;
  }
  .vendor_chat_name{
    font-weight: bold;
    width: -webkit-fill-available;
    margin-bottom: 0px;
    margin-left: 13%;
  }
  .download_box1 {
    max-width: 21% !important;
    word-break: break-all;
  }
  .list{
    margin: 5%;
    border: 1px solid #ddd;
  }
  .chat_img{
    width: 25px;
    margin-left: -23px;
    margin-top: 5px;
    margin-bottom: 5px;
    /* padding: 0px; */
    border-radius: 30px;
    border: 1px solid #ddd;
  }
  .img{
    width: 35px;
    border-radius: 25px;
    margin-top: 25px;
    margin-bottom: 3px;
    border: 1px solid #ddd;
  }
  .bg-slate {
    background-color: #c3e3f38a;
    border-color: #fff;
    color: #585555;
    border-radius: 6px 6px 6px 0px !important;
    font-size: 12px;
    margin-right: 15px;
    word-break: break-word;
  }

  .chat-list .reversed .media-content:not([class*=bg-]) {
    background-color: #42A5F5;
    border-color: #42A5F5;
    word-break: break-word;
  }
  .form-control {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 35px;
    font-size: 13px;
    line-height: 1.5384616;
    color: #333333;
    background-color: transparent;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
  .reversed > .media-body >.bg-slate {
    background-color: #c3e3f38a!important;
    border-color: #fff;
    color: #585555;
    border-radius: 6px 6px 0px 6px!important;
    font-size: 12px;
    margin-right: 0px;
    width: 172px!important;
}
.txt-breaks {
  word-break: break-word;
}
/*#chat_file_name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}*/
.name {
    /*display: block;*/
    width: 100px; 
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-colors{
    background-color: #fff!important;
    color: #ff5722;
    font-size: 18px;
    margin-left: -165px;
    margin-top: 4%;
    cursor: pointer;
}
.div-aligns{
    margin: 2.5% 11%;
}
.list > a{

    outline: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding: 3px 0px 3px 15px!important;
    clear: both;
    font-weight: normal;
    line-height: 1.5384616;
    color: #333333;
    white-space: nowrap;
}
.list > a > label {
    margin-bottom: 0px!important;
    font-weight: 400;
    width: 100%!important;
}
.logos_div img {
    padding: 0px;
    margin-left: 2px;
    height: 16px;
    border-radius: 8px;
}
.name_icon{
    border: 1px solid;
    margin-left: -12%;
    border-radius: 39px;
    padding: 2px 6px 2px 6px;
    font-size: 9px;
    background: #e0b068;
    font-weight: bold;
    color: #fff;
}
.name_icon1 {
    border: 1px solid;
    /*margin-left: -12%;*/
    border-radius: 39px;
    padding: 3px 6px 3px 6px;
    font-size: 9px;
    background: #e0b068;
    font-weight: bold;
    color: #fff;
}
.ven_name{
    margin-left: 9%;
    font-weight: bold;
}
.receiver{
    position: sticky;
    /*left: 17px;*/
    /*top: 35px;*/
    border-radius: 6px;
    min-width: 180px;
    padding: 6px;
    font-size: 15px;
    background-color: #ffffff;
    color: #827878;
    font-size: 12px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 1050;
    left: 15px;
    /* opacity: 0; */
    transition: opacity 0.3s;
    transition: all .3s ease
    width: 0%;
    float: left;
    margin-top: 0%;
}
.sender {
        position: sticky;
    /* left: 17px; */
    /* top: 32px; */
    border-radius: 6px;
    min-width: 168px;
    padding: 6px;
    font-size: 15px;
    background-color: #FFFFFF;
    color: #827878;
    font-size: 12px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 1050;
    /* right: 22px; */
    /* opacity: 0; */
    transition: opacity 0.3s;
    transition: all .3s ease;
    width: 0%;
    float: right;
    margin-top: 0%;
}
.view_more_logo li{
  list-style: none;
  text-align: left;
}
.ven_logo{
  margin-left: -15px!important;
} 
@media only screen and (max-width:1366px) and (min-height: 500px){
  .download_box1 {
      max-width: 33%!important;
      word-break: break-all;
    }
}
@media only screen and (min-width:1399px){
  .download_box1 {
      max-width: 33%!important;
      word-break: break-all;
    }
}
@media only screen and (max-width:1024px) and (min-height: 768px){
  .txt-align {
    text-align: right;
    margin-top: -38px;
  }
    .form-control {
      width: 87%!important;
    }
}
@media only screen and (min-width:1920px){
  .name_icon{
      border: 1px solid;
      margin-left: -12%;
      border-radius: 39px;
      padding: 1px 5px 1px 5px;
      font-size: 9px;
      background: #e0b068;
      font-weight: bold;
      color: #fff;
  }
}
</style>
<script>

  //Done by Kishor Date: 10-7-2019, Campaign List Searching on superadmin site on chat  
  function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
      a = li[i].getElementsByTagName("a")[0];
      txtValue = a.textContent || a.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }
    }
  }
  // vendor List Searching -> Kishor
  function myFunction_1() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput_1");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL_1");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
      a = li[i].getElementsByTagName("a")[0];
      txtValue = a.textContent || a.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }
    }
  }
</script>
<!-- /page container -->
{% include "campaign_chat/superadmin_chatjs.html"%}
{% endblock %}