<script>
    $(document).ready(function () {
        var camp_id = $('#camp_id').val();
        var sender_id = $('#sender_id').val();
        var msg_count = 0;
        token = getCookie('csrftoken');
        $.ajax({
            url: "/client/get-campaign-chat/",
            type: "POST",
            data: { 'camp_id': camp_id, 'csrfmiddlewaretoken': token },
            success: function (data) {
                var chat_data = "";
                msg_count = data.length;
                if (data.success == 1) {
                    $('.chat-list').html(`<label class="empty"> No Chat Records Found..!!</label>`)
                    msg_count = 0
                }
                for (var i = 0; i < data.length; i++) {
                    let time = convertTimeDefault(data[i]);
                    if (sender_id != data[i].sender_id) {
                        chat_data += set_receiver_message(data[i],'receiver', time)
                        send_received_msg_count(data[i].chat_obj_id, data[i].sender_id);
                    }
                    else {
                        chat_data += set_sender_message(data[i],'sender', time)
                    }
                    $('#chat_box').animate({ scrollTop: $('#chat_box').prop("scrollHeight") }, 0);
                    $('#chat_box').html(chat_data);
                }
            }
        });
        function send_received_msg_count(chat_obj_id, sender_id) {
            token = getCookie('csrftoken');
            $.ajax({
                url: "/client/save_chat_status/",
                type: "POST",
                data: { 'chat_obj_id': chat_obj_id, 'sender_id': sender_id, 'csrfmiddlewaretoken': token },
                success: function (data) {

                }
            })
        }
        // flag to check ,if user has clicked multiple times...Akshay G...Date - 13th Nov, 2019 
		var submit_status = false;
        $("#send_msg").submit(function (e) {
            e.preventDefault();
            if ($("#message").val().trim(' ') != '') {
                // if user clicked multiple submits...dont' send multiple messages....Akshay G...Date - 13th Nov, 2019 
                if (submit_status){
                    return;
                }
                submit_status = true;
                $.ajax({
                    type: "POST",
                    url: "/superadmin/chat-app/send-msg/",
                    data: $("#send_msg").serialize(),
                    cache: false,
                    success: function (data) {
                        submit_status = false;
                        $('.chat-list').find('label.empty').remove()
                        $('#message').val('');
                        $("#allcheck").prop("checked", false);
                        $(".vendor_names").prop("checked", false);
                        $('.img').remove();
                        $('.cancel_chat').remove();
                        $('#vendor_list').find('label').css('background-color', 'white')
                        console.log(data)
                        // if (data.msg != '0') {
                        // 	chat_data = `<li class="media reversed">
                        //               <div class="media-body">
                        //               <div class="media-content">${data.msg.message}</div>						
                        //               <span class="media-annotation display-block mt-10">${data.time}
                        //               </span>
                        //               </div>
                        //               <div class="media-right">
                        //               <a href="${data.profilepic}" >
                        //               <img src="${data.profilepic}" class="img-circle img-md" title="${data.sender_name}" alt=""></a></div>
                        //               </li>`;
                        // 	$('.chat-list').animate({ scrollTop: $('.chat-list').prop("scrollHeight") }, 50);
                        // 	$('.chat-list').append(chat_data);

                        // }
                    }
                });
            } else {
                swal("Oops!", "Message can't be empty.", "info")
                $('#message').val("");
            }
        });
        //send attachment js
        $('#chat_attach_form').submit(function (e) {
            e.preventDefault()
            token = getCookie('csrftoken');
            var formData = new FormData($('#chat_attach_form')[0]);
            var file_title = $('#file_title').val();
            if (jQuery.trim(file_title).length == 0) {
                swal("Oops!", "Please enter file title!", "error");
            }
            else if (jQuery.trim(file_title).length <= 30) {
                if ($('#chat_vendor_list').val() != null) {
                    $('#load').empty();
                    $('#load').append("<i class='fa fa-spinner fa-spin '></i> Processing");
                    $("#load").attr("disabled", true);
                    $.ajax({
                        url: "/superadmin/ajax/send_attchment/",
                        type: "POST",
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            if (data.status == 1) {
                                swal("Attachment sent!", "", "success")
                            } else {
                                swal("Oops!", data.msg, "error")
                            }
                            $('#chat_file_name').text('Browse');
                            $('#chat_attach_form')[0].reset();
                            $('#chat_attach_modal .close').click();
                            $('.multiselect-select-all').multiselect('refresh');
                            $('#load').empty();
                            $('#load').append("SEND");
                            $("#load").attr("disabled", false);
                            $('#remove_attach_file').hide();
                        }
                    })

                } else {
                    swal("Oops!", "Please select receiver!", "error")
                }
            } else {
                swal("Oops!", "Please enter file title less than 30 characters!", "error")
            }
        });

        // to set icons of the recivers.
        function get_logos_div(ids,side) {
            $div = $('<div />')
            if (ids.length <= 3 ){
                ids.forEach(element => {
					if (element.logo.length > 1){
						$img = `<img title="${element.name}" src=${element.logo}>`
					} else{
						$img = `<span class="name_icon1" title="${element.name}">${element.logo}</span>`
					}
                    $div.append($img)
                });
            } else {
                $disp_div = $('<div />')
                display_list = ids.slice(0,3)
                display_list.forEach(element => {
					if (element.logo.length > 1){
						$img = `<img class="display_list_icon" title="${element.name}" src=${element.logo}>`
					} else{
						$img = `<span class="display_list_icon name_icon1" title="${element.name}">${element.logo}</span>`
					}
                    $disp_div.append($img)
                });
                $disp_div.append(`<i class="fas view_all_logos fa-plus-circle "></i>`)
                $div.append($disp_div)
                
                $view_more_div = $(`<div class="view_more_logo ${side} hidden"/>`)
                $ul = $("<ul class='view_more_ul' />")
                ids.forEach(element => {
					if (element.logo.length > 1){
						$img = `<img class="ven_logo" title="${element.name}" src=${element.logo}><label class="ven_name">${element.name}</label>`
					} else{
						$img = `<div><label class="name_icon" title="${element.name}">${element.logo}</label><label class="ven_name">${element.name}</label></div>`
					}
                    $ul.append(`<li>${$img}</li>`)
                });
                $view_more_div.append($ul)
                $div.append($view_more_div)
            }
            return $div.html()
        }
         
        // toggle icon list 
        $(document).on('click','.view_all_logos',function(){
            if ($(this).parent().next(".view_more_logo").hasClass('hidden')){
				$('.display_list_icon').removeClass('hidden')
				$(".view_more_logo").addClass('hidden')
				$(this).siblings('.display_list_icon').toggleClass('hidden')
				$(this).parent().next(".view_more_logo").toggleClass('hidden')
                $('#chat_box').animate({ scrollTop: $('#chat_box').prop("scrollHeight") }, 500);
			} else{
				$(this).siblings('.display_list_icon').removeClass('hidden')
				$(this).parent().next(".view_more_logo").addClass('hidden')
			}
        }) 

        var intercal = setInterval(function () {
            var camp_id = $('#camp_id').val();
            var sender_id = $('#sender_id').val();
            token = getCookie('csrftoken');
            $.ajax({
                url: "/client/get-campaign-chat/",
                type: "POST",
                data: { 'camp_id': camp_id, 'csrfmiddlewaretoken': token },
                success: function (data) {
                    var latest_count = data.length;
                    if (latest_count > msg_count) {
                        for (var i = msg_count; i < data.length; i++) {
                            let time = convertTimeDefault(data[i]);
                            if (sender_id != data[i].sender_id) {
                                $('#chat_box').append(set_receiver_message(data[i],'receiver', time))
                                $('#chat_box').animate({ scrollTop: $('#chat_box').prop("scrollHeight") }, 500);
                                send_received_msg_count(data[i].chat_obj_id, data[i].sender_id);
                            }
                            else {
                                $('#chat_box').append(set_sender_message(data[i],'sender', time));
                                $('#chat_box').animate({ scrollTop: $('#chat_box').prop("scrollHeight") }, 500);
                            }
                        }
                        msg_count = latest_count;
                    }
                }
            });
        }, 1000);
       
        // convert UTC date-time into local date-time according user location...Akshay G..Date- 20th Nov, 2019
        function convertTimeDefault(data) {
            var datestring = data['date'] + " " + data['time'] + " UTC";
            var date = new Date(datestring);
            localtime = date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
            return localtime
        }
        // to set receivers messages for chat box
        function set_receiver_message(data,side, time) {

            logos = get_logos_div(data.receiver_logos,side)
            if (data.message != '0') {
                message = `<li class="media">
                <div class="media-left">
                  <a href="${data.profilepic}">
                    <img src= "${data.profilepic}" class="img-circle img-md" title="${data.sender_name}" alt="">
                  </a>
                </div>
                <div class="media-body">
                  <div class="media-content bg-slate">${data.message}</div>
                  <span class="media-annotation display-block mt-10">${time}</span>
                  <div class="logos_div">${logos} </div>
                  </div>
              </li>`
             
            }
            else {
                message = `<li class="media">
              <div class="media-left">
                <a href="${data.profilepic}">
                  <img src="${data.profilepic}" class="img-circle img-md" title="${data.sender_name}" alt="">
                </a>
              </div>
              <div class="media-body">
                <div class="media-content download_box1 bg-slate">
                  <a href="${data.media}" download>
                    <img src="/static/assets/images/download.png" width="150" height="125" alt=""><br>
                    <label style="color:black;">${data.title}</label> 
                  </a>
                  </div>
                  <span class="media-annotation display-block mt-10">${time}</span>
                  <div class="logos_div">${logos} </div>
              </div>
              </div>
              </li>`
            }
            return message
        }

        // to set senders messages for chat box
        function set_sender_message(data,side, time) {
            logos = get_logos_div(data.receiver_logos,side)
            if (data.message != '0') {
                message  =  `<li class="media reversed">
                            <div class="media-body">
                                <div class="media-content">${data.message}</div>
                                <span class="media-annotation display-block mt-10">${time}</span>
                                <div class="logos_div">${logos}</div>
                            </div>
                            <div class="media-right">
                                <a href="${data.profilepic}">
                                    <img src="${data.profilepic}" class="img-circle img-md" title="superadmin" alt="">
                                </a>
                                </div>
                            </li>`
            }
            else {
                message = `<li class="media reversed">
                                <div class="media-body">
                                    <div class="media-content download_box1 bg-slate" >
                                        <a href="${data.media}" download>
                                            <img src="/static/assets/images/download.png" width="150" height="125" alt=""><br>
                                            <label style="color:black;">${data.title}</label> 
                                        </a>
                                    </div>
                                    <span class="media-annotation display-block mt-10">${time}</span>
                                    <div class="logos_div">${logos} </div>
                                </div>
                                <div class="media-right">
                                    <a href="${data.profilepic}">
                                        <img src="${data.profilepic}" class="img-circle img-md" title="superadmin" alt="">
                                    </a>
                                </div>
                            </li>`
            }
            return message
        }
        
        //get uniqe id for ajax to request
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        // $(document).on('change', 'input[name="vendor_names"]', function () {
        //   console.log(this)
        //   if (this.checked) {
        //     if ($('#message').val() == '@') {
        //       if ($(this).attr('data-vendor-name')) {
        //         $('#message').val(`@${$(this).attr('data-vendor-name')}:`)
        //         $('#message').focus()
        //       }
        //       else {
        //         $('#message').val(`@${$(this).attr('data-client-name')}:`)
        //         $('#message').focus()
        //       }
        //     }
        //     else {
        //       if ($(this).attr('data-vendor-name')) {
        //         vendor = `${$(this).attr('data-vendor-name')}`;
        //         $('#message').val($('#message').val() + `${vendor}:`)
        //       }
        //       else {
        //         client = `${$(this).attr('data-client-name')}`;
        //         $('#message').val($('#message').val() + `${client}:`)
        //       }
        //       // vendor = `${$(this).attr('data-vendor-name')}`
        //       // $('#message').val(function (index, val) {
        //       //   return val.replace('@', `${vendor}:`);
        //       // })
        //       $('#message').focus()

        //     }

        //   }
        // });
        //   //if click on all check then check automatecally check all vendor
        //   $('#allcheck').click(function () {
        //     if ($(this).prop("checked")) {
        //       $(".vendor_names").prop("checked", true);
        //       all = '';
        //       $('.vendor_names').each(function () {
        //         if ($(this).data('vendor-name')) {
        //           all += '@' + $(this).data('vendor-name') + ':';
        //         }
        //         else {
        //           all += '@' + $(this).data('client-name') + ':';
        //         }
        //       });
        //       $('#message').val(all);
        //       var $myInput = $('#message');
        //       $myInput.val($myInput.val().slice(0, -1));
        //     } else {
        //       $('#message').val('');
        //       $(".vendor_names").prop("checked", false);
        //     }
        //   });
        //   $('.vendor_names').click(function () {
        //     var $myInput = $('#message');
        //     // $myInput.val($myInput.val().slice(0, -1));
        //     if ($(".vendor_names").length == $(".vendor_names:checked").length) {
        //       $("#allcheck").prop("checked", true);
        //     } else {
        //       $("#allcheck").prop("checked", false);
        //     }
        //   });
        // });
        // //check all keyup charecter and if @ occure then display all vendor list
        // $("#message").keypress(function (e) {
        //   if (e.which !== 0) {
        //     // if (String.fromCharCode(e.which) == '@') {
        //     if (e.target.value == '@' || e.target.value.substr(-2) == ' @') {
        //       $('#vendor_list').show();
        //       $("#vendor_list").click(function (e) {
        //         e.stopPropagation();
        //       });
        //     }
        //     else
        //       $('#vendor_list').hide();
        //   }
        // });
        // $(window).click(function (e) {
        //   $('#vendor_list').hide();
        // })

        $('.file-field input:file').on('change', function (e) {
            // console.log(this)
            if ($(this).val() != '') {
                if ($(this)[0].files[0].size > 5242880) {
                    swal("Oops!", "File is too big ! Max Size 5MB.", "error")
                    $(this)[0].value = "";
                    $(this).siblings('span').text("Choose File")
                    $('#remove_attach_file').hide();
                } else {
                    $('#remove_attach_file').show();
                    $('.file-field div#chat_file_name').text($(this).val().replace(/C:\\fakepath\\/i, ''))
                };
            } else {
                $('.file-field div#chat_file_name').text("Choose File")
                $('#remove_attach_file').hide();
            }

        })

        $('#allcheck').click(function () {
            if ($(this).prop("checked")) {
                $(this).parent('label').css('background-color', '#ddd')
                $(".vendor_names").prop("checked", true);
                $(".vendor_names").parent('label').css('background-color', '#ddd')
                $('[name="vendor_names"]').prop("checked", true);
                $(".superadmin").prop('checked', true);
                var $myInput = $('#message');
                // all = '';
                // $('.vendor_names').each(function () {
                // 	all += '@' + $(this).data('vendor-name') + ':';
                // });
                // if (all != undefined) {
                // 	$('#message').val("@Superadmin:" + all);
                // }
                // else {
                // 	$('#message').val("@Superadmin:");
                // }
                $myInput.val($myInput.val().slice(0, -1));
                $('.img').remove();
                $('.cancel_chat').remove();
                $('[name="vendor_names"]').each(function () {
                    if ($(this).hasClass('vendor_names')) {
                        let vendor_name = $(this).prop('class').split(' ')[0];
                        $('.campaign_chat').prepend(`<img title="${vendor_name}" class="${$(this).val()}_ img" src="${$(this).next('img').attr('src')}"><i id="cancel_${$(this).val()}" title="${vendor_name}" class="cancel_chat ${$(this).val()} fa fa-times" aria-hidden="true"></i>`)
                    }
                    else if ($(this).hasClass('superadmin')) {
                        $('.campaign_chat').prepend(`<img title="Superadmin" class="superadmin_ img" src="${$(this).next('img').attr('src')}"><i id="cancel_superadmin" title="Superadmin" class="cancel_chat superadmin fa fa-times" aria-hidden="true"></i>`)
                    }
                })
            } else {
                $('.img').remove();
                $('.cancel_chat').remove();
                $('#message').val('');
                $(this).parent('label').css('background-color', 'white')
                $(".vendor_names").prop("checked", false);
                $(".vendor_names").parent('label').css('background-color', 'white')
                $('[name="vendor_names"]').prop("checked", false);
                $(".superadmin").prop('checked', false);
            }
        });
        $(document).on('click', '.cancel_chat', function () {
            $('.' + $(this).attr('class').split(' ')[1]).prop('checked', false);
            $('.' + $(this).attr('class').split(' ')[1]).parent('label').css('background-color', 'white')
            $('.' + $(this).attr('class').split(' ')[1] + '_').remove();
            $(this).remove();
            $('#allcheck').prop('checked', false)
            $("#allcheck").parent('label').css('background-color', 'white')
        })
        $(document).on('change', 'input[name="vendor_names"]', function () {
            var $myInput = $('#message');
            if (this.checked) {
                $(this).parent('label').css('background-color', '#2195f396')
                if ($(this).hasClass('vendor_names')) {
                    let vendor_name = $(this).data('vendor-name');
                    $('.campaign_chat').prepend(`<img title="${vendor_name}" class="${$(this).val()}_ img" src="${$(this).next('img').attr('src')}"><i id="cancel_${$(this).val()}" title="${vendor_name}" class="cancel_chat ${$(this).val()} fa fa-times" aria-hidden="true"></i>`)
                    // vendor = `${$(this).attr('data-vendor-name')}`;
                    // $('#message').val($('#message').val() + `${vendor}:`);
                    // $('#message').focus();
                }
                else {
                    $('.campaign_chat').prepend(`<img title="Superadmin" class="superadmin_ img" src="${$(this).next('img').attr('src')}" style="width:5%"><i id="cancel_superadmin" title="Superadmin" class="cancel_chat superadmin fa fa-times" aria-hidden="true"></i>`)
                    // superadmin = `${$(this).attr('data-vendor-name')}`;
                    // $('#message').val($('#message').val() + `${superadmin}:`);
                    // $('#message').focus();
                }
                $myInput.val($myInput.val().slice(0, -1));
                if ($(".vendor_names").length == $(".vendor_names:checked").length) {
                    $("#allcheck").prop("checked", true);
                    $("#allcheck").parent('label').css('background-color', '#2195f396')
                } else {
                    $("#allcheck").prop("checked", false);
                    $("#allcheck").parent('label').css('background-color', 'white')
                }
            }
            else {
                $(this).parent('label').css('background-color', 'white')
                if ($(this).hasClass('vendor_names')) {
                    // let vendor_name = $(this).prop('class').split(' ')[0];
                    $('.campaign_chat').find('.' + $(this).val() + '_').remove();
                    $('#' + 'cancel_' + $(this).val()).remove();
                    $('#allcheck').prop('checked', false)
                    $("#allcheck").parent('label').css('background-color', 'white')
                }
                else {
                    let superad_name = $(this).prop('class').split(' ')[0];
                    $('.campaign_chat').find('.' + superad_name + '_').remove();
                    $('#' + 'cancel_' + superad_name).remove();
                    $('#allcheck').prop('checked', false)
                    $("#allcheck").parent('label').css('background-color', 'white')
                }
            }


        });
    });
    //check all keyup charecter and if @ occure then display all vendor list
    $("#message").bind('keyup', function (e) {

        if (e.which !== 0) {
            // if (String.fromCharCode(e.which) == '@') {
            if (e.target.value == '@' || e.target.value.substr(-2) == ' @') {
                $('#vendor_list').show();
                $("#vendor_list").click(function (e) {
                    e.stopPropagation();
                });
            }
            else
                $('#vendor_list').hide();
        }
    });
    $('div').click(function (e) {
        $('#vendor_list').hide();
    });
    // remove selected chat attachment file..Akshay G.
    $(document).on('click', '#remove_attach_file', function(){
        $(this).closest('#chat_attach_form').find('.file-field input:file').val('');
        $(this).closest('#chat_attach_form').find('#chat_file_name').text('choose file');
        $(this).hide();
    })
    // close campaign chat- User List on clicking outside of the list...Akshay G...date - 21st Nov, 2019
    $(document).click(function (event) {
        let status_list_clicked = $(event.target).closest('.view_all_logos').length;
        let get_status_clicked = $(event.target).closest('.view_more_logo').length;
        if (status_list_clicked == 0 && get_status_clicked == 0) {
            $('.view_more_logo').addClass('hidden');
            $('.view_all_logos').siblings('.display_list_icon').removeClass('hidden');
        }
    })
</script>